library {{ api.name }}_{{ api.version }}_api_console;

import "{{ api.name }}_{{ api.version }}_api_client.dart";
export "{{ api.name }}_{{ api.version }}_api_client.dart";

import "dart:core" as core;
import "dart:io" as io;
import "dart:async" as async;
import "dart:uri" as uri;
import "dart:convert";
import "package:http/http.dart" as http;
import "package:google_oauth2_client/google_oauth2_console.dart" as oauth2;

part "src/console/consoleclient.dart";
part "src/console/{{ api.name }}.dart";

