/** Returns the {@link #{{ resource.className }}Context} context. */{% if resource.parentPath %}
{{ resource.parentPath|join:"." }}.{{ resource.className }}Context {{ resource.parentPath|join:"_"|lower }}_{{ resource.codeName }}();
{% else %}
{{ resource.className }}Context {{ resource.codeName }}();
{% endif %}{% for r in resource.resources %}
{% call_template _resource_ctors  resource r %}{% endfor %}
