{% language cpp %}{% copyright_block %}
//
//------------------------------------------------------------------------------
{% call_template _time_stamp %}
//
//  Changes to this file may cause incorrect behavior and will be lost if
//  the code is regenerated.
//------------------------------------------------------------------------------
#ifndef  {{ api.module.name|upper }}_{{ api.filename|upper }}_H_
#define  {{ api.module.name|upper }}_{{ api.filename|upper }}_H_

{% imports api %}
#include "{{ api.base_include_path }}/macros.h"
#include "{{ api.client_include_path }}/service/client_service.h"
#include "{{ api.client_include_path }}/util/status.h"
#include "{{ api.client_include_path }}/util/uri_template.h"
{% endimports %}


namespace {{ api.module.name }} {
{% if api.global_namespace %}using namespace {{ api.global_namespace }};{% endif %}
{% call_template _service_impl_h api=api %}
}  // namespace {{ api.module.name }}
#endif  // {{ api.module.name|upper }}_{{ api.filename|upper }}_H_
