{% if not schema.builtIn %}  static {
{% if schema.arrayOf %}
    // hack to force ProGuard to consider {{ schema.safeClassName }}Items used, since otherwise it would be stripped out
    // see http://code.google.com/p/google-api-java-client/issues/detail?id=528
    com.google.api.client.util.Data.nullOf({{ schema.safeClassName }}Items.class);
{% else %}
    // hack to force ProGuard to consider {{ schema.safeClassName }} used, since otherwise it would be stripped out
    // see http://code.google.com/p/google-api-java-client/issues/detail?id=528
    com.google.api.client.util.Data.nullOf({{ schema.safeClassName }}.class);
{% endif %}
  }{% endif %}
