@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Integreation tests - index</title>
</head>
<body>
    <h1>Integration tests - index</h1>
    <p><a asp-controller="home" asp-action="logout">Logout</a></p>
    <p><a asp-controller="home" asp-action="showtokens">Show auth tokens</a></p>
    <p><a asp-controller="home" asp-action="scopelisting">Test scope listing</a></p>
    <p><a asp-controller="home" asp-action="storagebucketlisting">Test Storage bucket listing</a> (attribute-based incremental auth)</p>
    <p><a asp-controller="home" asp-action="translate">Translate</a> (code-based incremental auth)</p>
    <p><a asp-controller="home" asp-action="forcetokenrefresh">Force token refresh</a></p>
</body>
</html>
