[Bb]in
[Oo]bj
[Pp]ackages
[Dd]ebug*/**
[Rr]elease*/**

Backup*
*.suo
*.user
.vs

msbuild.log
TestResult.xml

/NuPkgs/

# Ignore documentation XML files that are produced as part of C# builds.
# TODO: Move these to bin or obj.
/Src/Support/**/*.xml
/Src/Generated/**/*.xml