[Bb]in
[Oo]bj
[Pp]ackages
[Dd]ebug*/**
[Rr]elease*/**

Backup*
*.suo
*.user
.vs
project.lock.json
*~
.DS_Store
.cr

msbuild.log
TestResult.xml

/NuPkgs/

# Ignore documentation XML files that are produced as part of C# builds.
# TODO: Move these to bin or obj.
/Src/Support/**/*.xml
/Src/Generated/**/*.xml

# Ignore the testrunner directory.
testrunner/*

# Ignore the generated Generated.sln solution file
Generated.sln
