{
  "supports": {},
  "dependencies": {
    "Google.Apis": "{{ features.releaseVersion }}",
    "Google.Apis.Core": "{{ features.releaseVersion }}",
    "NETStandard.Library": "1.6.1",
    "Newtonsoft.Json": "9.0.1"
  },
  "frameworks": {
    "netstandard1.3": {}
  }
}