library {{ api.name }}_{{ api.version }}_api_client;

import "dart:async";
import "dart:uri";
import "dart:json" as JSON;

part "src/common/client.dart";
part "src/common/schemas.dart";
part "src/common/resources.dart";

