{
  "version": "v1",
  "baseUrl": "https://adexperiencereport.googleapis.com/",
  "servicePath": "",
  "description": "Views Ad Experience Report data, and gets a list of sites that have a significant number of annoying ads.",
  "kind": "discovery#restDescription",
  "basePath": "",
  "revision": "20190108",
  "documentationLink": "https://developers.google.com/ad-experience-report/",
  "id": "adexperiencereport:v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "ViolatingSitesResponse": {
      "id": "ViolatingSitesResponse",
      "description": "Response message for ListViolatingSites.",
      "type": "object",
      "properties": {
        "violatingSites": {
          "description": "A list of summaries of violating sites.",
          "type": "array",
          "items": {
            "$ref": "SiteSummaryResponse"
          }
        }
      }
    },
    "SiteSummaryResponse": {
      "id": "SiteSummaryResponse",
      "description": "Response message for GetSiteSummary.",
      "type": "object",
      "properties": {
        "mobileSummary": {
          "description": "Summary for the mobile review of the site.",
          "$ref": "PlatformSummary"
        },
        "reviewedSite": {
          "description": "The name of the site reviewed.",
          "type": "string"
        },
        "desktopSummary": {
          "description": "Summary for the desktop review of the site.",
          "$ref": "PlatformSummary"
        }
      }
    },
    "PlatformSummary": {
      "description": "Summary of the ad experience rating of a site for a specific platform.",
      "type": "object",
      "properties": {
        "betterAdsStatus": {
          "enum": [
            "UNKNOWN",
            "PASSING",
            "WARNING",
            "FAILING"
          ],
          "description": "The status of the site reviewed for the Better Ads Standards.",
          "type": "string",
          "enumDescriptions": [
            "Not reviewed.",
            "Passing.",
            "Warning.",
            "Failing."
          ]
        },
        "enforcementTime": {
          "description": "The date on which ad filtering begins.",
          "format": "google-datetime",
          "type": "string"
        },
        "region": {
          "type": "array",
          "items": {
            "enum": [
              "REGION_UNKNOWN",
              "REGION_A",
              "REGION_B",
              "REGION_C"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "Ad standard not yet defined for your region.",
            "Region A.",
            "Region B.",
            "Region C."
          ],
          "description": "The assigned regions for the site and platform."
        },
        "filterStatus": {
          "enum": [
            "UNKNOWN",
            "ON",
            "OFF",
            "PAUSED",
            "PENDING"
          ],
          "description": "The ad filtering status of the site.",
          "type": "string",
          "enumDescriptions": [
            "N/A.",
            "Ad filtering is on.",
            "Ad filtering is off.",
            "Ad filtering is paused.",
            "Ad filtering is pending."
          ]
        },
        "underReview": {
          "description": "Whether the site is currently under review.",
          "type": "boolean"
        },
        "reportUrl": {
          "description": "A link that leads to a full ad experience report.",
          "type": "string"
        },
        "lastChangeTime": {
          "type": "string",
          "description": "The last time that the site changed status.",
          "format": "google-datetime"
        }
      },
      "id": "PlatformSummary"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "canonicalName": "Ad Experience Report",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/xapi.zoo": {
          "description": "Test scope for access to the Zoo service"
        }
      }
    }
  },
  "rootUrl": "https://adexperiencereport.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "adexperiencereport",
  "batchPath": "batch",
  "title": "Ad Experience Report API",
  "ownerName": "Google",
  "resources": {
    "violatingSites": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ViolatingSitesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/xapi.zoo"
          ],
          "parameters": {},
          "flatPath": "v1/violatingSites",
          "path": "v1/violatingSites",
          "id": "adexperiencereport.violatingSites.list",
          "description": "Lists sites with Ad Experience Report statuses of \"Failing\" or \"Warning\"."
        }
      }
    },
    "sites": {
      "methods": {
        "get": {
          "response": {
            "$ref": "SiteSummaryResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/xapi.zoo"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "The required site name. It should be the site property whose ad experiences\nmay have been reviewed, and it should be URL-encoded. For example,\nsites/https%3A%2F%2Fwww.google.com. The server will return an error of\nBAD_REQUEST if this field is not filled in. Note that if the site property\nis not yet verified in Search Console, the reportUrl field returned by the\nAPI will lead to the verification page, prompting the user to go through\nthat process before they can gain access to the Ad Experience Report.",
              "required": true,
              "type": "string",
              "pattern": "^sites/[^/]+$"
            }
          },
          "flatPath": "v1/sites/{sitesId}",
          "path": "v1/{+name}",
          "id": "adexperiencereport.sites.get",
          "description": "Gets a summary of the ad experience rating of a site."
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  }
}
