{
  "rootUrl": "https://adexperiencereport.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "adexperiencereport",
  "batchPath": "batch",
  "title": "Google Ad Experience Report API",
  "ownerName": "Google",
  "resources": {
    "violatingSites": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ViolatingSitesResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/xapi.zoo"
          ],
          "flatPath": "v1/violatingSites",
          "path": "v1/violatingSites",
          "id": "adexperiencereport.violatingSites.list",
          "description": "Lists sites with Ad Experience Report statuses of \"Failing\" or \"Warning\"."
        }
      }
    },
    "sites": {
      "methods": {
        "get": {
          "description": "Gets a summary of the ads rating of a site.",
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteSummaryResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/xapi.zoo"
          ],
          "parameters": {
            "name": {
              "description": "The required site name. It should be a site property registered in Search\nConsole. The server will return an error of BAD_REQUEST if this field is\nnot filled in.",
              "type": "string",
              "required": true,
              "pattern": "^sites/[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "v1/sites/{sitesId}",
          "path": "v1/{+name}",
          "id": "adexperiencereport.sites.get"
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "pp": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Pretty-print response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "version": "v1",
  "baseUrl": "https://adexperiencereport.googleapis.com/",
  "servicePath": "",
  "description": "View Ad Experience Report data, and get a list of sites that have a significant number of annoying ads.",
  "kind": "discovery#restDescription",
  "basePath": "",
  "id": "adexperiencereport:v1",
  "documentationLink": "https://developers.google.com/ad-experience-report/",
  "revision": "20170628",
  "discoveryVersion": "v1",
  "version_module": "True",
  "schemas": {
    "PlatformSummary": {
      "description": "Summary of the ads rating of a site for a specific platform.",
      "type": "object",
      "properties": {
        "reportUrl": {
          "description": "A link that leads to a full ad experience report.",
          "type": "string"
        },
        "lastChangeTime": {
          "format": "google-datetime",
          "description": "The last time that the site changed status.",
          "type": "string"
        },
        "egregiousStatus": {
          "enum": [
            "UNKNOWN",
            "PASSING",
            "FAILING"
          ],
          "description": "The status of the site reviewed for egregious ads.",
          "type": "string",
          "enumDescriptions": [
            "Not reviewed.",
            "Passing.",
            "Failing."
          ]
        },
        "betterAdsStatus": {
          "description": "The status of the site reviewed for the Better Ads Standards.",
          "type": "string",
          "enumDescriptions": [
            "Not reviewed.",
            "Passing.",
            "Warning.",
            "Failing."
          ],
          "enum": [
            "UNKNOWN",
            "PASSING",
            "WARNING",
            "FAILING"
          ]
        },
        "enforcementTime": {
          "format": "google-datetime",
          "description": "The date on which ad filtering begins.",
          "type": "string"
        },
        "region": {
          "enumDescriptions": [
            "Ad standard not yet defined for your region.",
            "Region A.",
            "Region B."
          ],
          "description": "The assigned regions for the site and platform.",
          "items": {
            "type": "string",
            "enum": [
              "REGION_UNKNOWN",
              "REGION_A",
              "REGION_B"
            ]
          },
          "type": "array"
        },
        "filterStatus": {
          "description": "The ad filtering status of the site.",
          "type": "string",
          "enumDescriptions": [
            "N/A.",
            "Ad filtering is on.",
            "Ad filtering is off.",
            "Ad filtering is paused.",
            "Ad filtering is pending."
          ],
          "enum": [
            "UNKNOWN",
            "ON",
            "OFF",
            "PAUSED",
            "PENDING"
          ]
        },
        "underReview": {
          "description": "Whether the site is currently under review.",
          "type": "boolean"
        }
      },
      "id": "PlatformSummary"
    },
    "ViolatingSitesResponse": {
      "type": "object",
      "properties": {
        "violatingSites": {
          "items": {
            "$ref": "SiteSummaryResponse"
          },
          "type": "array",
          "description": "A list of summaries of violating sites."
        }
      },
      "id": "ViolatingSitesResponse",
      "description": "Response message for ListViolatingSites."
    },
    "SiteSummaryResponse": {
      "description": "Response message for GetSiteSummary.",
      "type": "object",
      "properties": {
        "reviewedSite": {
          "description": "The name of the site reviewed.",
          "type": "string"
        },
        "desktopSummary": {
          "$ref": "PlatformSummary",
          "description": "Summary for the desktop review of the site."
        },
        "mobileSummary": {
          "description": "Summary for the mobile review of the site.",
          "$ref": "PlatformSummary"
        }
      },
      "id": "SiteSummaryResponse"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "canonicalName": "Ad Experience Report",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/xapi.zoo": {
          "description": "Test scope for access to the Zoo service"
        }
      }
    }
  }
}
