{
  "name": "adexperiencereport",
  "batchPath": "batch",
  "title": "Ad Experience Report API",
  "ownerName": "Google",
  "resources": {
    "violatingSites": {
      "methods": {
        "list": {
          "path": "v1/violatingSites",
          "id": "adexperiencereport.violatingSites.list",
          "description": "Lists sites with failing Ad Experience Report statuses.",
          "response": {
            "$ref": "ViolatingSitesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/xapi.zoo"
          ],
          "parameters": {},
          "flatPath": "v1/violatingSites"
        }
      }
    },
    "sites": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^sites/[^/]+$",
              "location": "path",
              "description": "Required. The site property whose ad experiences\nmay have been reviewed, and it should be URL-encoded. For example,\nsites/https%3A%2F%2Fwww.google.com. The server will return an error of\nBAD_REQUEST if this field is not filled in. Note that if the site property\nis not yet verified in Search Console, the reportUrl field returned by the\nAPI will lead to the verification page, prompting the user to go through\nthat process before they can gain access to the Ad Experience Report."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/xapi.zoo"
          ],
          "flatPath": "v1/sites/{sitesId}",
          "path": "v1/{+name}",
          "id": "adexperiencereport.sites.get",
          "description": "Gets a summary of the ad experience rating of a site.",
          "response": {
            "$ref": "SiteSummaryResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "version": "v1",
  "baseUrl": "https://adexperiencereport.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Views Ad Experience Report data, and gets a list of sites that have a significant number of annoying ads.",
  "servicePath": "",
  "basePath": "",
  "revision": "20190830",
  "documentationLink": "https://developers.google.com/ad-experience-report/",
  "id": "adexperiencereport:v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "PlatformSummary": {
      "id": "PlatformSummary",
      "description": "Summary of the ad experience rating of a site for a specific platform.",
      "type": "object",
      "properties": {
        "betterAdsStatus": {
          "description": "The status of the site reviewed for the Better Ads Standards.",
          "type": "string",
          "enumDescriptions": [
            "Not reviewed.",
            "Passing.",
            "Warning. No longer a possible status.",
            "Failing."
          ],
          "enum": [
            "UNKNOWN",
            "PASSING",
            "WARNING",
            "FAILING"
          ]
        },
        "enforcementTime": {
          "description": "The time at which ad filtering begins.",
          "format": "google-datetime",
          "type": "string"
        },
        "region": {
          "description": "The assigned regions for the site and platform.\nNo longer populated, because there is no longer any semantic difference\nbetween sites in different regions.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "REGION_UNKNOWN",
              "REGION_A",
              "REGION_B",
              "REGION_C"
            ]
          },
          "enumDescriptions": [
            "Ad standard not yet defined for your region.",
            "Region A.",
            "Region B.",
            "Region C."
          ]
        },
        "filterStatus": {
          "description": "The ad filtering status of the site.",
          "type": "string",
          "enumDescriptions": [
            "N/A.",
            "Ad filtering is on.",
            "Ad filtering is off.",
            "Ad filtering is paused.",
            "Ad filtering is pending."
          ],
          "enum": [
            "UNKNOWN",
            "ON",
            "OFF",
            "PAUSED",
            "PENDING"
          ]
        },
        "underReview": {
          "type": "boolean",
          "description": "Whether the site is currently under review."
        },
        "reportUrl": {
          "description": "A link that leads to a full ad experience report.",
          "type": "string"
        },
        "lastChangeTime": {
          "description": "The last time that the site changed status.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ViolatingSitesResponse": {
      "description": "Response message for ListViolatingSites.",
      "type": "object",
      "properties": {
        "violatingSites": {
          "description": "A list of summaries of violating sites.",
          "type": "array",
          "items": {
            "$ref": "SiteSummaryResponse"
          }
        }
      },
      "id": "ViolatingSitesResponse"
    },
    "SiteSummaryResponse": {
      "id": "SiteSummaryResponse",
      "description": "Response message for GetSiteSummary.",
      "type": "object",
      "properties": {
        "mobileSummary": {
          "description": "Summary for the mobile review of the site.",
          "$ref": "PlatformSummary"
        },
        "reviewedSite": {
          "description": "The name of the site reviewed.",
          "type": "string"
        },
        "desktopSummary": {
          "$ref": "PlatformSummary",
          "description": "Summary for the desktop review of the site."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "canonicalName": "Ad Experience Report",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/xapi.zoo": {
          "description": "Test scope for access to the Zoo service"
        }
      }
    }
  },
  "rootUrl": "https://adexperiencereport.googleapis.com/",
  "ownerDomain": "google.com"
}
