{
  "id": "adexchangebuyer2:v2beta1",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "revision": "20200114",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "Seller": {
      "description": "Represents a seller of inventory. Each seller is identified by a unique\nAd Manager account ID.",
      "type": "object",
      "properties": {
        "subAccountId": {
          "description": "Optional sub-account ID for the seller.",
          "type": "string"
        },
        "accountId": {
          "description": "The unique ID for the seller. The seller fills in this field.\nThe seller account ID is then available to buyer in the product.",
          "type": "string"
        }
      },
      "id": "Seller"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "UrlTargeting": {
      "description": "Represents a list of targeted and excluded URLs (e.g., google.com).\nFor Private Auction and AdX Preferred Deals, URLs are either included or\nexcluded.\nFor Programmatic Guaranteed and Preferred Deals, this doesn't\napply.",
      "type": "object",
      "properties": {
        "excludedUrls": {
          "description": "A list of URLs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetedUrls": {
          "description": "A list of URLs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "UrlTargeting"
    },
    "DayPartTargeting": {
      "id": "DayPartTargeting",
      "description": "Specifies the day part targeting criteria.",
      "type": "object",
      "properties": {
        "dayParts": {
          "description": "A list of day part targeting criterion.",
          "type": "array",
          "items": {
            "$ref": "DayPart"
          }
        },
        "timeZoneType": {
          "enumDescriptions": [
            "A placeholder for an undefined time zone source.",
            "Use publisher's time zone setting.",
            "Use the user's time zone setting."
          ],
          "enum": [
            "TIME_ZONE_SOURCE_UNSPECIFIED",
            "PUBLISHER",
            "USER"
          ],
          "description": "The timezone to use for interpreting the day part targeting.",
          "type": "string"
        }
      }
    },
    "ListFilteredBidsResponse": {
      "description": "Response message for listing all reasons that bids were filtered from the\nauction.",
      "type": "object",
      "properties": {
        "creativeStatusRows": {
          "description": "List of rows, with counts of filtered bids aggregated by filtering reason\n(i.e. creative status).",
          "type": "array",
          "items": {
            "$ref": "CreativeStatusRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListFilteredBidsRequest.pageToken\nfield in the subsequent call to the filteredBids.list\nmethod to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListFilteredBidsResponse"
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "description": "Output only. A security context.",
      "type": "object",
      "properties": {
        "securities": {
          "enumDescriptions": [
            "Matches impressions that require insecure compatibility.",
            "Matches impressions that require SSL compatibility."
          ],
          "description": "The security types in this context.",
          "type": "array",
          "items": {
            "enum": [
              "INSECURE",
              "SSL"
            ],
            "type": "string"
          }
        }
      }
    },
    "HtmlContent": {
      "id": "HtmlContent",
      "description": "HTML content for a creative.",
      "type": "object",
      "properties": {
        "snippet": {
          "description": "The HTML snippet that displays the ad when inserted in the web page.",
          "type": "string"
        },
        "height": {
          "description": "The height of the HTML snippet in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "width": {
          "description": "The width of the HTML snippet in pixels.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListCreativesResponse": {
      "description": "A response for listing creatives.",
      "type": "object",
      "properties": {
        "creatives": {
          "description": "The list of creatives.",
          "type": "array",
          "items": {
            "$ref": "Creative"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListCreativesRequest.page_token\nfield in the subsequent call to `ListCreatives` method to retrieve the next\npage of results.",
          "type": "string"
        }
      },
      "id": "ListCreativesResponse"
    },
    "ListFilteredBidRequestsResponse": {
      "description": "Response message for listing all reasons that bid requests were filtered and\nnot sent to the buyer.",
      "type": "object",
      "properties": {
        "calloutStatusRows": {
          "description": "List of rows, with counts of filtered bid requests aggregated by callout\nstatus.",
          "type": "array",
          "items": {
            "$ref": "CalloutStatusRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListFilteredBidRequestsRequest.pageToken\nfield in the subsequent call to the filteredBidRequests.list\nmethod to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListFilteredBidRequestsResponse"
    },
    "VideoContent": {
      "id": "VideoContent",
      "description": "Video content for a creative.",
      "type": "object",
      "properties": {
        "videoUrl": {
          "description": "The URL to fetch a video ad.",
          "type": "string"
        },
        "videoVastXml": {
          "description": "The contents of a VAST document for a video ad.\nThis document should conform to the VAST 2.0 or 3.0 standard.",
          "type": "string"
        }
      }
    },
    "ListProposalsResponse": {
      "id": "ListProposalsResponse",
      "description": "Response message for listing proposals.",
      "type": "object",
      "properties": {
        "proposals": {
          "description": "The list of proposals.",
          "type": "array",
          "items": {
            "$ref": "Proposal"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "Deal": {
      "description": "A deal represents a segment of inventory for displaying ads on.\nA proposal can contain multiple deals. A deal contains the terms and\ntargeting information that is used for serving.",
      "type": "object",
      "properties": {
        "sellerContacts": {
          "description": "Output only. Seller contact information for the deal.",
          "type": "array",
          "items": {
            "$ref": "ContactInformation"
          }
        },
        "createProductRevision": {
          "description": "Optional revision number of the product that the deal was created from.\nIf present on create, and the server `product_revision` has advanced sinced\nthe passed-in `create_product_revision`, an `ABORTED` error will be\nreturned.\n\nNote: This field may be set only when creating the resource. Modifying\nthis field while updating the resource will result in an error.",
          "format": "int64",
          "type": "string"
        },
        "availableStartTime": {
          "description": "Optional proposed flight start time of the deal.\nThis will generally be stored in the granularity of one second since deal\nserving starts at seconds boundary. Any time specified with more\ngranularity (e.g., in milliseconds) will be truncated towards the start of\ntime in seconds.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time of the deal creation.",
          "format": "google-datetime",
          "type": "string"
        },
        "dealTerms": {
          "description": "The negotiable terms of the deal.",
          "$ref": "DealTerms"
        },
        "targeting": {
          "$ref": "MarketplaceTargeting",
          "description": "Output only. Specifies the subset of inventory targeted by the deal."
        },
        "deliveryControl": {
          "description": "The set of fields around delivery control that are interesting for a buyer\nto see but are non-negotiable. These are set by the publisher.",
          "$ref": "DeliveryControl"
        },
        "externalDealId": {
          "description": "Output only. The external deal ID assigned to this deal once the deal is\nfinalized. This is the deal ID that shows up in serving/reporting etc.",
          "type": "string"
        },
        "creativePreApprovalPolicy": {
          "description": "Output only. Specifies the creative pre-approval policy.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ]
        },
        "creativeRestrictions": {
          "$ref": "CreativeRestrictions",
          "description": "Output only. Restricitions about the creatives associated with the deal\n(i.e., size) This is available for Programmatic Guaranteed/Preferred Deals\nin Ad Manager."
        },
        "dealServingMetadata": {
          "$ref": "DealServingMetadata",
          "description": "Output only. Metadata about the serving status of this deal."
        },
        "description": {
          "description": "Description for the deal terms.",
          "type": "string"
        },
        "programmaticCreativeSource": {
          "description": "Output only. Specifies the creative source for programmatic deals.\nPUBLISHER means creative is provided by seller and ADVERTISER means\ncreative is provided by buyer.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ]
        },
        "buyerPrivateData": {
          "$ref": "PrivateData",
          "description": "Buyer private data (hidden from seller)."
        },
        "displayName": {
          "description": "The name of the deal.",
          "type": "string"
        },
        "webPropertyCode": {
          "description": "The web property code for the seller copied over from the product.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the deal was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "targetingCriterion": {
          "description": "The shared targeting visible to buyers and sellers. Each shared\ntargeting entity is AND'd together.",
          "type": "array",
          "items": {
            "$ref": "TargetingCriteria"
          }
        },
        "proposalId": {
          "description": "Output only. ID of the proposal that this deal is part of.",
          "type": "string"
        },
        "dealId": {
          "description": "Output only. A unique deal ID for the deal (server-assigned).",
          "type": "string"
        },
        "availableEndTime": {
          "description": "Proposed flight end time of the deal.\nThis will generally be stored in a granularity of a second.\nA value is not required for Private Auction deals or Preferred Deals.",
          "format": "google-datetime",
          "type": "string"
        },
        "syndicationProduct": {
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ],
          "description": "The syndication product associated with the deal.\n\nNote: This field may be set only when creating the resource. Modifying\nthis field while updating the resource will result in an error.",
          "type": "string"
        },
        "creativeSafeFrameCompatibility": {
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "type": "string"
        },
        "createProductId": {
          "description": "The product ID from which this deal was created.\n\nNote: This field may be set only when creating the resource. Modifying\nthis field while updating the resource will result in an error.",
          "type": "string"
        },
        "isSetupComplete": {
          "description": "Output only. True, if the buyside inventory setup is complete for this\ndeal.",
          "type": "boolean"
        }
      },
      "id": "Deal"
    },
    "ImpressionMetricsRow": {
      "id": "ImpressionMetricsRow",
      "description": "The set of metrics that are measured in numbers of impressions, representing\nhow many impressions with the specified dimension values were considered\neligible at each stage of the bidding funnel.",
      "type": "object",
      "properties": {
        "responsesWithBids": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which Ad Exchange received a response from\nthe buyer that contained at least one applicable bid."
        },
        "successfulResponses": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which the buyer successfully sent a response\nto Ad Exchange."
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "availableImpressions": {
          "description": "The number of impressions available to the buyer on Ad Exchange.\nIn some cases this value may be unavailable.",
          "$ref": "MetricValue"
        },
        "inventoryMatches": {
          "description": "The number of impressions that match the buyer's inventory pretargeting.",
          "$ref": "MetricValue"
        },
        "bidRequests": {
          "description": "The number of impressions for which Ad Exchange sent the buyer a bid\nrequest.",
          "$ref": "MetricValue"
        }
      }
    },
    "CreativeSpecification": {
      "id": "CreativeSpecification",
      "description": "Represents information for a creative that is associated with a Programmatic\nGuaranteed/Preferred Deal in Ad Manager.",
      "type": "object",
      "properties": {
        "creativeSize": {
          "description": "The size of the creative.",
          "$ref": "AdSize"
        },
        "creativeCompanionSizes": {
          "description": "Companion sizes may be filled in only when this is a video creative.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        }
      }
    },
    "ListBidResponseErrorsResponse": {
      "description": "Response message for listing all reasons that bid responses resulted in an\nerror.",
      "type": "object",
      "properties": {
        "calloutStatusRows": {
          "description": "List of rows, with counts of bid responses aggregated by callout status.",
          "type": "array",
          "items": {
            "$ref": "CalloutStatusRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListBidResponseErrorsRequest.pageToken\nfield in the subsequent call to the bidResponseErrors.list\nmethod to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListBidResponseErrorsResponse"
    },
    "ListPublisherProfilesResponse": {
      "description": "Response message for profiles visible to the buyer.",
      "type": "object",
      "properties": {
        "publisherProfiles": {
          "description": "The list of matching publisher profiles.",
          "type": "array",
          "items": {
            "$ref": "PublisherProfile"
          }
        },
        "nextPageToken": {
          "description": "List pagination support",
          "type": "string"
        }
      },
      "id": "ListPublisherProfilesResponse"
    },
    "RealtimeTimeRange": {
      "id": "RealtimeTimeRange",
      "description": "An open-ended realtime time range specified by the start timestamp.\nFor filter sets that specify a realtime time range RTB metrics continue to\nbe aggregated throughout the lifetime of the filter set.",
      "type": "object",
      "properties": {
        "startTimestamp": {
          "description": "The start timestamp of the real-time RTB metrics aggregation.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CreativeSize": {
      "description": "Specifies the size of the creative.",
      "type": "object",
      "properties": {
        "allowedFormats": {
          "enumDescriptions": [
            "A placeholder for an undefined allowed format.",
            "An audio-only ad (without any video)."
          ],
          "description": "What formats are allowed by the publisher.\nIf this repeated field is empty then all formats are allowed.\nFor example, if this field contains AllowedFormatType.AUDIO then the\npublisher only allows an audio ad (without any video).",
          "type": "array",
          "items": {
            "enum": [
              "UNKNOWN",
              "AUDIO"
            ],
            "type": "string"
          }
        },
        "size": {
          "$ref": "Size",
          "description": "For regular or video creative size type, specifies the size\nof the creative"
        },
        "companionSizes": {
          "description": "For video creatives specifies the sizes of companion ads (if present).\nCompanion sizes may be filled in only when creative_size_type = VIDEO",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "skippableAdType": {
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and count as\nengaged view after 30 seconds. The creative is hosted on\nYouTube only, and viewcount of the YouTube video increments\nafter the engaged view.",
            "This video ad is not skippable."
          ],
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "GENERIC",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ],
          "description": "The type of skippable ad for this creative. It will have a value only if\ncreative_size_type = CreativeSizeType.VIDEO.",
          "type": "string"
        },
        "creativeSizeType": {
          "description": "The creative size type.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative size type.",
            "The creative is a regular desktop creative.",
            "The creative is an interstitial creative.",
            "The creative is a video creative.",
            "The creative is a native (mobile) creative."
          ],
          "enum": [
            "CREATIVE_SIZE_TYPE_UNSPECIFIED",
            "REGULAR",
            "INTERSTITIAL",
            "VIDEO",
            "NATIVE"
          ]
        },
        "nativeTemplate": {
          "enumDescriptions": [
            "A placeholder for an undefined native template.",
            "The creative is linked to native content ad.",
            "The creative is linked to native app install ad.",
            "The creative is linked to native video content ad.",
            "The creative is linked to native video app install ad."
          ],
          "enum": [
            "UNKNOWN_NATIVE_TEMPLATE",
            "NATIVE_CONTENT_AD",
            "NATIVE_APP_INSTALL_AD",
            "NATIVE_VIDEO_CONTENT_AD",
            "NATIVE_VIDEO_APP_INSTALL_AD"
          ],
          "description": "Output only. The native template for this creative. It will have a value\nonly if creative_size_type = CreativeSizeType.NATIVE.",
          "type": "string"
        }
      },
      "id": "CreativeSize"
    },
    "NonGuaranteedFixedPriceTerms": {
      "description": "Terms for Preferred Deals. Note that Preferred Deals cannot be created via\nthe API at this time, but can be returned in a get or list request.",
      "type": "object",
      "properties": {
        "fixedPrices": {
          "description": "Fixed price for the specified buyer.",
          "type": "array",
          "items": {
            "$ref": "PricePerBuyer"
          }
        }
      },
      "id": "NonGuaranteedFixedPriceTerms"
    },
    "NonBillableWinningBidStatusRow": {
      "id": "NonBillableWinningBidStatusRow",
      "description": "The number of winning bids with the specified dimension values for which the\nbuyer was not billed, as described by the specified status.",
      "type": "object",
      "properties": {
        "bidCount": {
          "$ref": "MetricValue",
          "description": "The number of bids with the specified status."
        },
        "status": {
          "description": "The status specifying why the winning bids were not billed.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined status.\nThis value will never be returned in responses.",
            "The buyer was not billed because the ad was not rendered by the\npublisher.",
            "The buyer was not billed because the impression won by the bid was\ndetermined to be invalid."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "AD_NOT_RENDERED",
            "INVALID_IMPRESSION"
          ]
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        }
      }
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "description": "Response message for listing products visible to the buyer.",
      "type": "object",
      "properties": {
        "products": {
          "description": "The list of matching products at their head revision number.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        },
        "nextPageToken": {
          "description": "List pagination support.",
          "type": "string"
        }
      }
    },
    "AbsoluteDateRange": {
      "description": "An absolute date range, specified by its start date and end date.\nThe supported range of dates begins 30 days before today and ends today.\nValidity checked upon filter set creation. If a filter set with an absolute\ndate range is run at a later date more than 30 days after start_date, it will\nfail.",
      "type": "object",
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the range (inclusive).\nMust be within the 30 days leading up to current date, and must be equal to\nor after start_date."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the range (inclusive).\nMust be within the 30 days leading up to current date, and must be equal to\nor before end_date."
        }
      },
      "id": "AbsoluteDateRange"
    },
    "Price": {
      "id": "Price",
      "description": "Represents a price and a pricing type for a product / deal.",
      "type": "object",
      "properties": {
        "pricingType": {
          "description": "The pricing type for the deal/product. (default: CPM)",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is\nunpsecified, `COST_PER_MILLE` will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day"
          ],
          "enum": [
            "PRICING_TYPE_UNSPECIFIED",
            "COST_PER_MILLE",
            "COST_PER_DAY"
          ]
        },
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        }
      }
    },
    "PauseProposalRequest": {
      "description": "Request message to pause serving for an already-finalized proposal.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason why the proposal is being paused.\nThis human readable message will be displayed in the seller's UI.\n(Max length: 1000 unicode code units.)",
          "type": "string"
        }
      },
      "id": "PauseProposalRequest"
    },
    "WatchCreativeRequest": {
      "id": "WatchCreativeRequest",
      "description": "A request for watching changes to creative Status.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "The Pub/Sub topic to publish notifications to.\nThis topic must already exist and must give permission to\nad-exchange-buyside-reports@google.com to write to the topic.\nThis should be the full resource name in\n\"projects/{project_id}/topics/{topic_id}\" format.",
          "type": "string"
        }
      }
    },
    "FilteredBidCreativeRow": {
      "id": "FilteredBidCreativeRow",
      "description": "The number of filtered bids with the specified dimension values that have the\nspecified creative.",
      "type": "object",
      "properties": {
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "bidCount": {
          "description": "The number of bids with the specified creative.",
          "$ref": "MetricValue"
        },
        "creativeId": {
          "description": "The ID of the creative.",
          "type": "string"
        }
      }
    },
    "NativeContent": {
      "id": "NativeContent",
      "description": "Native content for a creative.",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "A large image."
        },
        "clickTrackingUrl": {
          "description": "The URL to use for click tracking.",
          "type": "string"
        },
        "advertiserName": {
          "description": "The name of the advertiser or sponsor, to be displayed in the ad creative.",
          "type": "string"
        },
        "storeUrl": {
          "description": "The URL to the app store to purchase/download the promoted app.",
          "type": "string"
        },
        "headline": {
          "description": "A short title for the ad.",
          "type": "string"
        },
        "appIcon": {
          "description": "The app icon, for app download ads.",
          "$ref": "Image"
        },
        "callToAction": {
          "description": "A label for the button that the user is supposed to click.",
          "type": "string"
        },
        "body": {
          "description": "A long description of the ad.",
          "type": "string"
        },
        "starRating": {
          "description": "The app rating in the app store. Must be in the range [0-5].",
          "format": "double",
          "type": "number"
        },
        "videoUrl": {
          "description": "The URL to fetch a native video ad.",
          "type": "string"
        },
        "logo": {
          "$ref": "Image",
          "description": "A smaller image, for the advertiser's logo."
        },
        "clickLinkUrl": {
          "description": "The URL that the browser/SDK will load when the user clicks the ad.",
          "type": "string"
        },
        "priceDisplayText": {
          "description": "The price of the promoted app including currency info.",
          "type": "string"
        }
      }
    },
    "ListBidResponsesWithoutBidsResponse": {
      "description": "Response message for listing all reasons that bid responses were considered\nto have no applicable bids.",
      "type": "object",
      "properties": {
        "bidResponseWithoutBidsStatusRows": {
          "description": "List of rows, with counts of bid responses without bids aggregated by\nstatus.",
          "type": "array",
          "items": {
            "$ref": "BidResponseWithoutBidsStatusRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListBidResponsesWithoutBidsRequest.pageToken\nfield in the subsequent call to the bidResponsesWithoutBids.list\nmethod to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListBidResponsesWithoutBidsResponse"
    },
    "ServingContext": {
      "description": "The serving context for this restriction.",
      "type": "object",
      "properties": {
        "securityType": {
          "description": "Matches impressions for a particular security type.",
          "$ref": "SecurityContext"
        },
        "platform": {
          "description": "Matches impressions coming from a particular platform.",
          "$ref": "PlatformContext"
        },
        "location": {
          "$ref": "LocationContext",
          "description": "Matches impressions coming from users *or* publishers in a specific\nlocation."
        },
        "auctionType": {
          "description": "Matches impressions for a particular auction type.",
          "$ref": "AuctionContext"
        },
        "all": {
          "enumDescriptions": [
            "A simple context."
          ],
          "enum": [
            "SIMPLE_CONTEXT"
          ],
          "description": "Matches all contexts.",
          "type": "string"
        },
        "appType": {
          "description": "Matches impressions for a particular app type.",
          "$ref": "AppContext"
        }
      },
      "id": "ServingContext"
    },
    "Image": {
      "description": "An image resource. You may provide a larger image than was requested,\nso long as the aspect ratio is preserved.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the image.",
          "type": "string"
        },
        "height": {
          "description": "Image height in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "width": {
          "description": "Image width in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Image"
    },
    "FirstPartyMobileApplicationTargeting": {
      "id": "FirstPartyMobileApplicationTargeting",
      "description": "Represents a list of targeted and excluded mobile application IDs that\npublishers own.\nMobile application IDs are from App Store and Google Play Store.\nAndroid App ID, for example, com.google.android.apps.maps, can be found in\nGoogle Play Store URL.\niOS App ID (which is a number) can be found at the end of iTunes store URL.\nFirst party mobile applications is either included or excluded.",
      "type": "object",
      "properties": {
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListFilterSetsResponse": {
      "description": "Response message for listing filter sets.",
      "type": "object",
      "properties": {
        "filterSets": {
          "description": "The filter sets belonging to the buyer.",
          "type": "array",
          "items": {
            "$ref": "FilterSet"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListFilterSetsRequest.pageToken\nfield in the subsequent call to the\naccounts.filterSets.list\nmethod to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListFilterSetsResponse"
    },
    "BidResponseWithoutBidsStatusRow": {
      "description": "The number of impressions with the specified dimension values that were\nconsidered to have no applicable bids, as described by the specified status.",
      "type": "object",
      "properties": {
        "impressionCount": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which there was a bid response with the\nspecified status."
        },
        "status": {
          "enumDescriptions": [
            "A placeholder for an undefined status.\nThis value will never be returned in responses.",
            "The response had no bids.",
            "The response had no bids for the specified account, though it may have\nincluded bids on behalf of other accounts.\nApplies if:\n1. Request is on behalf of a bidder and an account filter is present.\n2. Request is on behalf of a child seat.",
            "The response had no bids for the specified deal, though it may have\nincluded bids on other deals on behalf of the account to which the deal\nbelongs. If request is on behalf of a bidder and an account filter is not\npresent, this also includes responses that have bids on behalf of\naccounts other than the account to which the deal belongs."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "RESPONSES_WITHOUT_BIDS",
            "RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT",
            "RESPONSES_WITHOUT_BIDS_FOR_DEAL"
          ],
          "description": "The status specifying why the bid responses were considered to have no\napplicable bids.",
          "type": "string"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        }
      },
      "id": "BidResponseWithoutBidsStatusRow"
    },
    "ClientUserInvitation": {
      "description": "An invitation for a new client user to get access to the Authorized Buyers\nUI. All fields are required unless otherwise specified.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address to which the invitation is sent. Email\naddresses should be unique among all client users under each sponsor\nbuyer.",
          "type": "string"
        },
        "clientAccountId": {
          "description": "Numerical account ID of the client buyer\nthat the invited user is associated with.\nThe value of this field is ignored in create operations.",
          "format": "int64",
          "type": "string"
        },
        "invitationId": {
          "description": "The unique numerical ID of the invitation that is sent to the user.\nThe value of this field is ignored in create operations.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ClientUserInvitation"
    },
    "PricePerBuyer": {
      "id": "PricePerBuyer",
      "description": "Used to specify pricing rules for buyers/advertisers. Each PricePerBuyer in\na product can become 0 or 1 deals. To check if there is a PricePerBuyer for\na particular buyer or buyer/advertiser pair, we look for the most specific\nmatching rule - we first look for a rule matching the buyer and advertiser,\nnext a rule with the buyer but an empty advertiser list, and otherwise look\nfor a matching rule where no buyer is set.",
      "type": "object",
      "properties": {
        "price": {
          "description": "The specified price.",
          "$ref": "Price"
        },
        "advertiserIds": {
          "description": "The list of advertisers for this price when associated with this buyer.\nIf empty, all advertisers with this buyer pay this price.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "buyer": {
          "description": "The buyer who will pay this price. If unset, all buyers can pay this price\n(if the\nadvertisers match, and there's no more specific rule matching the buyer).",
          "$ref": "Buyer"
        }
      }
    },
    "ListCreativeStatusBreakdownByDetailResponse": {
      "description": "Response message for listing all details associated with a given filtered bid\nreason.",
      "type": "object",
      "properties": {
        "detailType": {
          "description": "The type of detail that the detail IDs represent.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined status.\nThis value will never be returned in responses.",
            "Indicates that the detail ID refers to a creative attribute; see\n[publisher-excludable-creative-attributes](https://developers.google.com/authorized-buyers/rtb/downloads/publisher-excludable-creative-attributes).",
            "Indicates that the detail ID refers to a vendor; see\n[vendors](https://developers.google.com/authorized-buyers/rtb/downloads/vendors).",
            "Indicates that the detail ID refers to a sensitive category; see\n[ad-sensitive-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-sensitive-categories).",
            "Indicates that the detail ID refers to a product category; see\n[ad-product-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-product-categories).",
            "Indicates that the detail ID refers to a disapproval reason; see\nDisapprovalReason enum in\n[snippet-status-report-proto](https://developers.google.com/authorized-buyers/rtb/downloads/snippet-status-report-proto)."
          ],
          "enum": [
            "DETAIL_TYPE_UNSPECIFIED",
            "CREATIVE_ATTRIBUTE",
            "VENDOR",
            "SENSITIVE_CATEGORY",
            "PRODUCT_CATEGORY",
            "DISAPPROVAL_REASON"
          ]
        },
        "filteredBidDetailRows": {
          "description": "List of rows, with counts of bids with a given creative status aggregated\nby detail.",
          "type": "array",
          "items": {
            "$ref": "FilteredBidDetailRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListCreativeStatusBreakdownByDetailRequest.pageToken\nfield in the subsequent call to the filteredBids.details.list\nmethod to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListCreativeStatusBreakdownByDetailResponse"
    },
    "ListClientUsersResponse": {
      "id": "ListClientUsersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListClientUsersRequest.pageToken\nfield in the subsequent call to the\nclients.invitations.list\nmethod to retrieve the next\npage of results.",
          "type": "string"
        },
        "users": {
          "description": "The returned list of client users.",
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          }
        }
      }
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "units": {
          "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "The 3-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Money"
    },
    "PublisherProfile": {
      "id": "PublisherProfile",
      "description": "Note: this resource requires whitelisting for access. Please contact your\naccount manager for access to Marketplace resources.\n\nRepresents a publisher profile in Marketplace.\n\nAll fields are read only. All string fields are free-form text entered by the\npublisher unless noted otherwise.",
      "type": "object",
      "properties": {
        "seller": {
          "description": "Seller of the publisher profile.",
          "$ref": "Seller"
        },
        "googlePlusUrl": {
          "description": "URL to publisher's Google+ page.",
          "type": "string"
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "rateCardInfoUrl": {
          "description": "URL to a publisher rate card.",
          "type": "string"
        },
        "displayName": {
          "description": "Name of the publisher profile.",
          "type": "string"
        },
        "publisherProfileId": {
          "description": "Unique ID for publisher profile.",
          "type": "string"
        },
        "buyerPitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why\nbuyers should partner with the publisher.",
          "type": "string"
        },
        "topHeadlines": {
          "description": "Up to three key metrics and rankings. Max 100 characters each.\nFor example \"#1 Mobile News Site for 20 Straight Months\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by\nthe publisher and may include information like names, phone numbers and\nemail addresses.",
          "type": "string"
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered\nby the publisher and may include information like names, phone numbers and\nemail addresses.",
          "type": "string"
        },
        "domains": {
          "description": "The list of domains represented in this publisher profile. Empty if this is\na parent profile. These are top private domains, meaning that these will\nnot contain a string like \"photos.google.co.uk/123\", but will instead\ncontain \"google.co.uk\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is\nstored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        }
      }
    },
    "CreativeDealAssociation": {
      "id": "CreativeDealAssociation",
      "description": "The association between a creative and a deal.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The account the creative belongs to.",
          "type": "string"
        },
        "creativeId": {
          "description": "The ID of the creative associated with the deal.",
          "type": "string"
        },
        "dealsId": {
          "description": "The externalDealId for the deal associated with the creative.",
          "type": "string"
        }
      }
    },
    "Creative": {
      "id": "Creative",
      "description": "A creative and its classification data.",
      "type": "object",
      "properties": {
        "attributes": {
          "description": "All attributes for the ads that may be shown from this creative.\nCan be used to filter the response of the\ncreatives.list\nmethod.",
          "type": "array",
          "items": {
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "Do not use. This is a placeholder value only.",
            "The creative is of type image/rich media. For pretargeting.",
            "The creative is of video type Adobe Flash FLV. For pretargeting.",
            "The creative is tagged.",
            "The creative is cookie targeted.",
            "The creative is user interest targeted.",
            "The creative does not expand.",
            "The creative expands up.",
            "The creative expands down.",
            "The creative expands left.",
            "The creative expands right.",
            "The creative expands up and left.",
            "The creative expands up and right.",
            "The creative expands down and left.",
            "The creative expands down and right.",
            "The creative type is HTML.",
            "The creative type is VAST video.",
            "The creative expands up or down.",
            "The creative expands left or right.",
            "The creative expands on any diagonal.",
            "The creative expands when rolled over.",
            "The instream vast video type is vpaid flash.",
            "The creative is MRAID.",
            "The creative is Flash.",
            "The creative is HTML5.",
            "The creative has an instream VAST video type of skippable instream video.\nFor pretargeting.",
            "The creative is SSL.",
            "The creative is non-SSL.",
            "The creative is an interstitial.",
            "The creative has an instream VAST video type of non-skippable instream\nvideo. For pretargeting.",
            "The creative is eligible for native.",
            "The creative has an instream VAST video type of non-VPAID. For\npretargeting.",
            "The creative is not eligible for native.",
            "The creative has an interstitial size of any interstitial. For\npretargeting.",
            "The creative has an interstitial size of non interstitial. For\npretargeting.",
            "The video type is in-banner video.",
            "The creative can dynamically resize to fill a variety of slot sizes.",
            "The open measurement SDK is supported."
          ]
        },
        "apiUpdateTime": {
          "description": "Output only. The last update timestamp of the creative via API.",
          "format": "google-datetime",
          "type": "string"
        },
        "detectedLanguages": {
          "description": "Output only. The detected languages for this creative. The order is\narbitrary. The codes are 2 or 5 characters and are documented at\nhttps://developers.google.com/adwords/api/docs/appendix/languagecodes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "creativeId": {
          "description": "The buyer-defined creative ID of this creative.\nCan be used to filter the response of the\ncreatives.list\nmethod.",
          "type": "string"
        },
        "accountId": {
          "description": "The account that this creative belongs to.\nCan be used to filter the response of the\ncreatives.list\nmethod.",
          "type": "string"
        },
        "native": {
          "description": "A native creative.",
          "$ref": "NativeContent"
        },
        "servingRestrictions": {
          "description": "Output only. The granular status of this ad in specific contexts.\nA context here relates to where something ultimately serves (for example,\na physical location, a platform, an HTTPS vs HTTP request, or the type\nof auction).",
          "type": "array",
          "items": {
            "$ref": "ServingRestriction"
          }
        },
        "video": {
          "description": "A video creative.",
          "$ref": "VideoContent"
        },
        "agencyId": {
          "description": "The agency ID for this creative.",
          "format": "int64",
          "type": "string"
        },
        "clickThroughUrls": {
          "description": "The set of destination URLs for the creative.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "adChoicesDestinationUrl": {
          "description": "The link to AdChoices destination page.",
          "type": "string"
        },
        "detectedSensitiveCategories": {
          "description": "Output only. Detected sensitive categories, if any.\nSee the ad-sensitive-categories.txt file in the technical documentation for\na list of IDs. You should use these IDs along with the\nexcluded-sensitive-category field in the bid request to filter your bids.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "restrictedCategories": {
          "enumDescriptions": [
            "The ad has no restricted categories",
            "The alcohol restricted category."
          ],
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "NO_RESTRICTED_CATEGORIES",
              "ALCOHOL"
            ]
          }
        },
        "corrections": {
          "description": "Output only. Shows any corrections that were applied to this creative.",
          "type": "array",
          "items": {
            "$ref": "Correction"
          }
        },
        "version": {
          "description": "Output only. The version of this creative.",
          "format": "int32",
          "type": "integer"
        },
        "adTechnologyProviders": {
          "$ref": "AdTechnologyProviders",
          "description": "Output only. The detected ad technology providers."
        },
        "vendorIds": {
          "description": "All vendor IDs for the ads that may be shown from this creative.\nSee https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt\nfor possible values.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "impressionTrackingUrls": {
          "description": "The set of URLs to be called to record an impression.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "html": {
          "$ref": "HtmlContent",
          "description": "An HTML creative."
        },
        "dealsStatus": {
          "description": "Output only. The top-level deals status of this creative.\nIf disapproved, an entry for 'auctionType=DIRECT_DEALS' (or 'ALL') in\nserving_restrictions will also exist. Note\nthat this may be nuanced with other contextual restrictions, in which case,\nit may be preferable to read from serving_restrictions directly.\nCan be used to filter the response of the\ncreatives.list\nmethod.",
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved.\nSee serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ]
        },
        "detectedProductCategories": {
          "description": "Output only. Detected product categories, if any.\nSee the ad-product-categories.txt file in the technical documentation\nfor a list of IDs.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "openAuctionStatus": {
          "description": "Output only. The top-level open auction status of this creative.\nIf disapproved, an entry for 'auctionType = OPEN_AUCTION' (or 'ALL') in\nserving_restrictions will also exist. Note\nthat this may be nuanced with other contextual restrictions, in which case,\nit may be preferable to read from serving_restrictions directly.\nCan be used to filter the response of the\ncreatives.list\nmethod.",
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved.\nSee serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ]
        },
        "advertiserName": {
          "description": "The name of the company being advertised in the creative.",
          "type": "string"
        },
        "declaredClickThroughUrls": {
          "description": "The set of declared destination URLs for the creative.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detectedDomains": {
          "description": "Output only. The detected domains for this creative.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detectedAdvertiserIds": {
          "description": "Output only. Detected advertiser IDs, if any.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "NonGuaranteedAuctionTerms": {
      "id": "NonGuaranteedAuctionTerms",
      "description": "Terms for Private Auctions. Note that Private Auctions can be created only\nby the seller, but they can be returned in a get or list request.",
      "type": "object",
      "properties": {
        "reservePricesPerBuyer": {
          "description": "Reserve price for the specified buyer.",
          "type": "array",
          "items": {
            "$ref": "PricePerBuyer"
          }
        },
        "autoOptimizePrivateAuction": {
          "description": "True if open auction buyers are allowed to compete with invited buyers\nin this private auction.",
          "type": "boolean"
        }
      }
    },
    "ListCreativeStatusBreakdownByCreativeResponse": {
      "description": "Response message for listing all creatives associated with a given filtered\nbid reason.",
      "type": "object",
      "properties": {
        "filteredBidCreativeRows": {
          "description": "List of rows, with counts of bids with a given creative status aggregated\nby creative.",
          "type": "array",
          "items": {
            "$ref": "FilteredBidCreativeRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListCreativeStatusBreakdownByCreativeRequest.pageToken\nfield in the subsequent call to the filteredBids.creatives.list\nmethod to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListCreativeStatusBreakdownByCreativeResponse"
    },
    "Client": {
      "id": "Client",
      "description": "A client resource represents a client buyer&mdash;an agency, a brand, or an\nadvertiser customer of the sponsor buyer. Users associated with the client\nbuyer have restricted access to the Marketplace and certain other sections of\nthe Authorized Buyers UI based on the role granted to the client buyer. All\nfields are required unless otherwise specified.",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Numerical identifier of the client entity.\nThe entity can be an advertiser, a brand, or an agency.\nThis identifier is unique among all the entities with the same type.\n\nA list of all known advertisers with their identifiers is available in the\n[advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt)\nfile.\n\nA list of all known brands with their identifiers is available in the\n[brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt)\nfile.\n\nA list of all known agencies with their identifiers is available in the\n[agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt)\nfile.",
          "format": "int64",
          "type": "string"
        },
        "clientAccountId": {
          "description": "The globally-unique numerical ID of the client.\nThe value of this field is ignored in create and update operations.",
          "format": "int64",
          "type": "string"
        },
        "entityName": {
          "description": "The name of the entity. This field is automatically fetched based on\nthe type and ID.\nThe value of this field is ignored in create and update operations.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "A placeholder for an undefined client status.",
            "A client that is currently disabled.",
            "A client that is currently active."
          ],
          "enum": [
            "CLIENT_STATUS_UNSPECIFIED",
            "DISABLED",
            "ACTIVE"
          ],
          "description": "The status of the client buyer.",
          "type": "string"
        },
        "partnerClientId": {
          "description": "Optional arbitrary unique identifier of this client buyer from the\nstandpoint of its Ad Exchange sponsor buyer.\n\nThis field can be used to associate a client buyer with the identifier\nin the namespace of its sponsor buyer, lookup client buyers by that\nidentifier and verify whether an Ad Exchange counterpart of a given client\nbuyer already exists.\n\nIf present, must be unique among all the client buyers for its\nAd Exchange sponsor buyer.",
          "type": "string"
        },
        "entityType": {
          "description": "The type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client entity type. Should not be used.",
            "An advertiser.",
            "A brand.",
            "An advertising agency.",
            "An explicit value for a client that was not yet classified\nas any particular entity."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "ADVERTISER",
            "BRAND",
            "AGENCY",
            "ENTITY_TYPE_UNCLASSIFIED"
          ]
        },
        "clientName": {
          "description": "Name used to represent this client to publishers.\nYou may have multiple clients that map to the same entity,\nbut for each client the combination of `clientName` and entity\nmust be unique.\nYou can specify this field as empty.",
          "type": "string"
        },
        "role": {
          "description": "The role which is assigned to the client buyer. Each role implies a set of\npermissions granted to the client. Must be one of `CLIENT_DEAL_VIEWER`,\n`CLIENT_DEAL_NEGOTIATOR` or `CLIENT_DEAL_APPROVER`.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client role.",
            "Users associated with this client can see publisher deal offers\nin the Marketplace.\nThey can neither negotiate proposals nor approve deals.\nIf this client is visible to publishers, they can send deal proposals\nto this client.",
            "Users associated with this client can respond to deal proposals\nsent to them by publishers. They can also initiate deal proposals\nof their own.",
            "Users associated with this client can approve eligible deals\non your behalf. Some deals may still explicitly require publisher\nfinalization. If this role is not selected, the sponsor buyer\nwill need to manually approve each of their deals."
          ],
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ]
        },
        "visibleToSeller": {
          "description": "Whether the client buyer will be visible to sellers.",
          "type": "boolean"
        }
      }
    },
    "DeliveryControl": {
      "id": "DeliveryControl",
      "description": "Message contains details about how the deals will be paced.",
      "type": "object",
      "properties": {
        "creativeBlockingLevel": {
          "enumDescriptions": [
            "A placeholder for an undefined creative blocking level.",
            "Publisher blocking rules will be applied.",
            "The Ad Exchange policy blocking rules will be applied."
          ],
          "enum": [
            "CREATIVE_BLOCKING_LEVEL_UNSPECIFIED",
            "PUBLISHER_BLOCKING_RULES",
            "ADX_POLICY_BLOCKING_ONLY"
          ],
          "description": "Output only. Specified the creative blocking levels to be applied.",
          "type": "string"
        },
        "deliveryRateType": {
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ]
        },
        "frequencyCaps": {
          "description": "Output only. Specifies any frequency caps.",
          "type": "array",
          "items": {
            "$ref": "FrequencyCap"
          }
        }
      }
    },
    "Correction": {
      "description": "Output only. Shows any corrections that were applied to this creative.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of correction that was applied to the creative.",
          "type": "string",
          "enumDescriptions": [
            "The correction type is unknown. Refer to the details for more information.",
            "The ad's declared vendors did not match the vendors that were detected.\nThe detected vendors were added.",
            "The ad had the SSL attribute declared but was not SSL-compliant.\nThe SSL attribute was removed.",
            "The ad was declared as Flash-free but contained Flash, so the Flash-free\nattribute was removed.",
            "The ad was not declared as Flash-free but it did not reference any flash\ncontent, so the Flash-free attribute was added.",
            "The ad did not declare a required creative attribute.\nThe attribute was added.",
            "The ad did not declare a required technology vendor.\nThe technology vendor was added.",
            "The ad did not declare the SSL attribute but was SSL-compliant, so the\nSSL attribute was added.",
            "Properties consistent with In-banner video were found, so an\nIn-Banner Video attribute was added.",
            "The ad makes calls to the MRAID API so the MRAID attribute was added.",
            "The ad unnecessarily declared the Flash attribute, so the Flash attribute\nwas removed.",
            "The ad contains video content."
          ],
          "enum": [
            "CORRECTION_TYPE_UNSPECIFIED",
            "VENDOR_IDS_ADDED",
            "SSL_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_ADDED",
            "REQUIRED_ATTRIBUTE_ADDED",
            "REQUIRED_VENDOR_ADDED",
            "SSL_ATTRIBUTE_ADDED",
            "IN_BANNER_VIDEO_ATTRIBUTE_ADDED",
            "MRAID_ATTRIBUTE_ADDED",
            "FLASH_ATTRIBUTE_REMOVED",
            "VIDEO_IN_SNIPPET_ATTRIBUTE_ADDED"
          ]
        },
        "contexts": {
          "description": "The contexts for the correction.",
          "type": "array",
          "items": {
            "$ref": "ServingContext"
          }
        },
        "details": {
          "description": "Additional details about what was corrected.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Correction"
    },
    "FilterSet": {
      "id": "FilterSet",
      "description": "A set of filters that is applied to a request for data.\nWithin a filter set, an AND operation is performed across the filters\nrepresented by each field. An OR operation is performed across the filters\nrepresented by the multiple values of a repeated field, e.g.,\n\"format=VIDEO AND deal_id=12 AND (seller_network_id=34 OR\nseller_network_id=56)\".",
      "type": "object",
      "properties": {
        "name": {
          "description": "A user-defined name of the filter set. Filter set names must be unique\nglobally and match one of the patterns:\n\n- `bidders/*/filterSets/*` (for accessing bidder-level troubleshooting\ndata)\n- `bidders/*/accounts/*/filterSets/*` (for accessing account-level\ntroubleshooting data)\n\nThis field is required in create operations.",
          "type": "string"
        },
        "sellerNetworkIds": {
          "description": "For Authorized Buyers only.\nThe list of IDs of the seller (publisher) networks on which to filter;\nmay be empty. The filters represented by multiple seller network IDs are\nORed together (i.e., if non-empty, results must match any one of the\npublisher networks). See\n[seller-network-ids](https://developers.google.com/authorized-buyers/rtb/downloads/seller-network-ids)\nfile for the set of existing seller network IDs.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "absoluteDateRange": {
          "description": "An absolute date range, defined by a start date and an end date.\nInterpreted relative to Pacific time zone.",
          "$ref": "AbsoluteDateRange"
        },
        "breakdownDimensions": {
          "enumDescriptions": [
            "A placeholder for an unspecified dimension; should not be used.",
            "The response should be broken down by publisher identifier.\nThis option is available only for Open Bidding buyers."
          ],
          "description": "The set of dimensions along which to break down the response; may be empty.\nIf multiple dimensions are requested, the breakdown is along the Cartesian\nproduct of the requested dimensions.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "BREAKDOWN_DIMENSION_UNSPECIFIED",
              "PUBLISHER_IDENTIFIER"
            ]
          }
        },
        "environment": {
          "enumDescriptions": [
            "A placeholder for an undefined environment; indicates that no environment\nfilter will be applied.",
            "The ad impression appears on the web.",
            "The ad impression appears in an app."
          ],
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "WEB",
            "APP"
          ],
          "description": "The environment on which to filter; optional.",
          "type": "string"
        },
        "dealId": {
          "description": "The ID of the deal on which to filter; optional. This field may be set\nonly for a filter set that accesses account-level troubleshooting data,\ni.e., one whose name matches the `bidders/*/accounts/*/filterSets/*`\npattern.",
          "format": "int64",
          "type": "string"
        },
        "publisherIdentifiers": {
          "description": "For Open Bidding partners only.\nThe list of publisher identifiers on which to filter; may be empty.\nThe filters represented by multiple publisher identifiers are ORed\ntogether.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timeSeriesGranularity": {
          "enumDescriptions": [
            "A placeholder for an unspecified interval; no time series is applied.\nAll rows in response will contain data for the entire requested time range.",
            "Indicates that data will be broken down by the hour.",
            "Indicates that data will be broken down by the day."
          ],
          "enum": [
            "TIME_SERIES_GRANULARITY_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ],
          "description": "The granularity of time intervals if a time series breakdown is desired;\noptional.",
          "type": "string"
        },
        "realtimeTimeRange": {
          "description": "An open-ended realtime time range, defined by the aggregation start\ntimestamp.",
          "$ref": "RealtimeTimeRange"
        },
        "formats": {
          "description": "The list of formats on which to filter; may be empty. The filters\nrepresented by multiple formats are ORed together (i.e., if non-empty,\nresults must match any one of the formats).",
          "type": "array",
          "items": {
            "enum": [
              "FORMAT_UNSPECIFIED",
              "NATIVE_DISPLAY",
              "NATIVE_VIDEO",
              "NON_NATIVE_DISPLAY",
              "NON_NATIVE_VIDEO"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "A placeholder for an undefined format; indicates that no format filter\nwill be applied.",
            "The ad impression is a native ad, and display (i.e., image) format.",
            "The ad impression is a native ad, and video format.",
            "The ad impression is not a native ad, and display (i.e., image) format.",
            "The ad impression is not a native ad, and video format."
          ]
        },
        "creativeId": {
          "description": "The ID of the creative on which to filter; optional. This field may be set\nonly for a filter set that accesses account-level troubleshooting data,\ni.e., one whose name matches the `bidders/*/accounts/*/filterSets/*`\npattern.",
          "type": "string"
        },
        "platforms": {
          "enumDescriptions": [
            "A placeholder for an undefined platform; indicates that no platform\nfilter will be applied.",
            "The ad impression appears on a desktop.",
            "The ad impression appears on a tablet.",
            "The ad impression appears on a mobile device."
          ],
          "description": "The list of platforms on which to filter; may be empty. The filters\nrepresented by multiple platforms are ORed together (i.e., if non-empty,\nresults must match any one of the platforms).",
          "type": "array",
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "DESKTOP",
              "TABLET",
              "MOBILE"
            ],
            "type": "string"
          }
        },
        "relativeDateRange": {
          "description": "A relative date range, defined by an offset from today and a duration.\nInterpreted relative to Pacific time zone.",
          "$ref": "RelativeDateRange"
        }
      }
    },
    "CalloutStatusRow": {
      "description": "The number of impressions with the specified dimension values where the\ncorresponding bid request or bid response was not successful, as described by\nthe specified callout status.",
      "type": "object",
      "properties": {
        "impressionCount": {
          "description": "The number of impressions for which there was a bid request or bid response\nwith the specified callout status.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "calloutStatusId": {
          "description": "The ID of the callout status.\nSee\n[callout-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/callout-status-codes).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "CalloutStatusRow"
    },
    "ListDealAssociationsResponse": {
      "description": "A response for listing creative and deal associations",
      "type": "object",
      "properties": {
        "associations": {
          "description": "The list of associations.",
          "type": "array",
          "items": {
            "$ref": "CreativeDealAssociation"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListDealAssociationsRequest.page_token\nfield in the subsequent call to 'ListDealAssociation' method to retrieve\nthe next page of results.",
          "type": "string"
        }
      },
      "id": "ListDealAssociationsResponse"
    },
    "Disapproval": {
      "description": "Output only. The reason and details for a disapproval.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Additional details about the reason for disapproval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "reason": {
          "description": "The categorized reason for disapproval.",
          "type": "string",
          "enumDescriptions": [
            "The length of the image animation is longer than allowed.",
            "The click through URL doesn't work properly.",
            "Something is wrong with the creative itself.",
            "The ad makes a fourth party call to an unapproved vendor.",
            "The ad targets consumers using remarketing lists and/or collects\ndata for subsequent use in retargeting, but does not correctly declare\nthat use.",
            "Clicking on the ad leads to an error page.",
            "The ad size when rendered does not match the declaration.",
            "Ads with a white background require a border, which was missing.",
            "The creative attempts to set cookies from a fourth party that is not\ncertified.",
            "The creative sets an LSO object.",
            "The ad serves a blank.",
            "The ad uses rotation, but not all destination URLs were declared.",
            "There is a problem with the way the click macro is used.",
            "The ad technology declaration is not accurate.",
            "The actual destination URL does not match the declared destination URL.",
            "The declared expanding direction does not match the actual direction.",
            "The ad does not expand in a supported direction.",
            "The ad uses an expandable vendor that is not supported.",
            "There was an issue with the expandable ad.",
            "The ad uses a video vendor that is not supported.",
            "The length of the video ad is not supported.",
            "The format of the video ad is not supported.",
            "There was an issue with the video ad.",
            "The landing page does not conform to Ad Exchange policy.",
            "The ad or the landing page may contain malware.",
            "The ad contains adult images or video content.",
            "The ad contains text that is unclear or inaccurate.",
            "The ad promotes counterfeit designer goods.",
            "The ad causes a popup window to appear.",
            "The creative does not follow policies set for the RTB protocol.",
            "The ad contains a URL that uses a numeric IP address for the domain.",
            "The ad or landing page contains unacceptable content because it initiated\na software or executable download.",
            "The ad set an unauthorized cookie on a Google domain.",
            "Flash content found when no flash was declared.",
            "SSL support declared but not working correctly.",
            "Rich Media - Direct Download in Ad (ex. PDF download).",
            "Maximum download size exceeded.",
            "Bad Destination URL: Site Not Crawlable.",
            "Bad URL: Legal disapproval.",
            "Pharmaceuticals, Gambling, Alcohol not allowed and at least one was\ndetected.",
            "Dynamic DNS at Destination URL.",
            "Poor Image / Video Quality.",
            "For example, Image Trick to Click.",
            "Incorrect Image Layout.",
            "Irrelevant Image / Video.",
            "Broken back button.",
            "Misleading/Inaccurate claims in ads.",
            "Restricted Products.",
            "Unacceptable content. For example, malware.",
            "The ad automatically redirects to the destination site without a click,\nor reports a click when none were made.",
            "The ad uses URL protocols that do not exist or are not allowed on AdX.",
            "Restricted content (for example, alcohol) was found in the ad but not\ndeclared.",
            "Violation of the remarketing list policy.",
            "The destination site's robot.txt file prevents it from being crawled.",
            "Click to download must link to an app.",
            "A review extension must be an accurate review.",
            "Sexually explicit content.",
            "The ad tries to gain an unfair traffic advantage.",
            "The ad tries to circumvent Google's advertising systems.",
            "The ad promotes dangerous knives.",
            "The ad promotes explosives.",
            "The ad promotes guns & parts.",
            "The ad promotes recreational drugs/services & related equipment.",
            "The ad promotes tobacco products/services & related equipment.",
            "The ad promotes weapons.",
            "The ad is unclear or irrelevant to the destination site.",
            "The ad does not meet professional standards.",
            "The promotion is unnecessarily difficult to navigate.",
            "Violation of Google's policy for interest-based ads.",
            "Misuse of personal information.",
            "Omission of relevant information.",
            "Unavailable promotions.",
            "Misleading or unrealistic promotions.",
            "Offensive or inappropriate content.",
            "Capitalizing on sensitive events.",
            "Shocking content.",
            "Products & Services that enable dishonest behavior.",
            "The ad does not meet technical requirements.",
            "Restricted political content.",
            "Unsupported content.",
            "Invalid bidding method.",
            "Video length exceeds limits.",
            "Unacceptable content: Japanese healthcare.",
            "Online pharmacy ID required.",
            "Unacceptable content: Abortion.",
            "Unacceptable content: Birth control.",
            "Restricted in China.",
            "Unacceptable content: Korean healthcare.",
            "Non-family safe or adult content.",
            "Clinical trial recruitment.",
            "Maximum number of HTTP calls exceeded.",
            "Maximum number of cookies exceeded.",
            "Financial service ad does not adhere to specifications.",
            "Flash content was found in an unsupported context.",
            "Misuse by an Open Measurement SDK script.",
            "Use of an Open Measurement SDK vendor not on approved whitelist.",
            "Unacceptable landing page.",
            "Unsupported language.",
            "Non-SSL compliant.",
            "Temporary pausing of creative.",
            "Promotes services related to bail bonds."
          ],
          "enum": [
            "LENGTH_OF_IMAGE_ANIMATION",
            "BROKEN_URL",
            "MEDIA_NOT_FUNCTIONAL",
            "INVALID_FOURTH_PARTY_CALL",
            "INCORRECT_REMARKETING_DECLARATION",
            "LANDING_PAGE_ERROR",
            "AD_SIZE_DOES_NOT_MATCH_AD_SLOT",
            "NO_BORDER",
            "FOURTH_PARTY_BROWSER_COOKIES",
            "LSO_OBJECTS",
            "BLANK_CREATIVE",
            "DESTINATION_URLS_UNDECLARED",
            "PROBLEM_WITH_CLICK_MACRO",
            "INCORRECT_AD_TECHNOLOGY_DECLARATION",
            "INCORRECT_DESTINATION_URL_DECLARATION",
            "EXPANDABLE_INCORRECT_DIRECTION",
            "EXPANDABLE_DIRECTION_NOT_SUPPORTED",
            "EXPANDABLE_INVALID_VENDOR",
            "EXPANDABLE_FUNCTIONALITY",
            "VIDEO_INVALID_VENDOR",
            "VIDEO_UNSUPPORTED_LENGTH",
            "VIDEO_UNSUPPORTED_FORMAT",
            "VIDEO_FUNCTIONALITY",
            "LANDING_PAGE_DISABLED",
            "MALWARE_SUSPECTED",
            "ADULT_IMAGE_OR_VIDEO",
            "INACCURATE_AD_TEXT",
            "COUNTERFEIT_DESIGNER_GOODS",
            "POP_UP",
            "INVALID_RTB_PROTOCOL_USAGE",
            "RAW_IP_ADDRESS_IN_SNIPPET",
            "UNACCEPTABLE_CONTENT_SOFTWARE",
            "UNAUTHORIZED_COOKIE_ON_GOOGLE_DOMAIN",
            "UNDECLARED_FLASH_OBJECTS",
            "INVALID_SSL_DECLARATION",
            "DIRECT_DOWNLOAD_IN_AD",
            "MAXIMUM_DOWNLOAD_SIZE_EXCEEDED",
            "DESTINATION_URL_SITE_NOT_CRAWLABLE",
            "BAD_URL_LEGAL_DISAPPROVAL",
            "PHARMA_GAMBLING_ALCOHOL_NOT_ALLOWED",
            "DYNAMIC_DNS_AT_DESTINATION_URL",
            "POOR_IMAGE_OR_VIDEO_QUALITY",
            "UNACCEPTABLE_IMAGE_CONTENT",
            "INCORRECT_IMAGE_LAYOUT",
            "IRRELEVANT_IMAGE_OR_VIDEO",
            "DESTINATION_SITE_DOES_NOT_ALLOW_GOING_BACK",
            "MISLEADING_CLAIMS_IN_AD",
            "RESTRICTED_PRODUCTS",
            "UNACCEPTABLE_CONTENT",
            "AUTOMATED_AD_CLICKING",
            "INVALID_URL_PROTOCOL",
            "UNDECLARED_RESTRICTED_CONTENT",
            "INVALID_REMARKETING_LIST_USAGE",
            "DESTINATION_SITE_NOT_CRAWLABLE_ROBOTS_TXT",
            "CLICK_TO_DOWNLOAD_NOT_AN_APP",
            "INACCURATE_REVIEW_EXTENSION",
            "SEXUALLY_EXPLICIT_CONTENT",
            "GAINING_AN_UNFAIR_ADVANTAGE",
            "GAMING_THE_GOOGLE_NETWORK",
            "DANGEROUS_PRODUCTS_KNIVES",
            "DANGEROUS_PRODUCTS_EXPLOSIVES",
            "DANGEROUS_PRODUCTS_GUNS",
            "DANGEROUS_PRODUCTS_DRUGS",
            "DANGEROUS_PRODUCTS_TOBACCO",
            "DANGEROUS_PRODUCTS_WEAPONS",
            "UNCLEAR_OR_IRRELEVANT_AD",
            "PROFESSIONAL_STANDARDS",
            "DYSFUNCTIONAL_PROMOTION",
            "INVALID_INTEREST_BASED_AD",
            "MISUSE_OF_PERSONAL_INFORMATION",
            "OMISSION_OF_RELEVANT_INFORMATION",
            "UNAVAILABLE_PROMOTIONS",
            "MISLEADING_PROMOTIONS",
            "INAPPROPRIATE_CONTENT",
            "SENSITIVE_EVENTS",
            "SHOCKING_CONTENT",
            "ENABLING_DISHONEST_BEHAVIOR",
            "TECHNICAL_REQUIREMENTS",
            "RESTRICTED_POLITICAL_CONTENT",
            "UNSUPPORTED_CONTENT",
            "INVALID_BIDDING_METHOD",
            "VIDEO_TOO_LONG",
            "VIOLATES_JAPANESE_PHARMACY_LAW",
            "UNACCREDITED_PET_PHARMACY",
            "ABORTION",
            "CONTRACEPTIVES",
            "NEED_CERTIFICATES_TO_ADVERTISE_IN_CHINA",
            "KCDSP_REGISTRATION",
            "NOT_FAMILY_SAFE",
            "CLINICAL_TRIAL_RECRUITMENT",
            "MAXIMUM_NUMBER_OF_HTTP_CALLS_EXCEEDED",
            "MAXIMUM_NUMBER_OF_COOKIES_EXCEEDED",
            "PERSONAL_LOANS",
            "UNSUPPORTED_FLASH_CONTENT",
            "MISUSE_BY_OMID_SCRIPT",
            "NON_WHITELISTED_OMID_VENDOR",
            "DESTINATION_EXPERIENCE",
            "UNSUPPORTED_LANGUAGE",
            "NON_SSL_COMPLIANT",
            "TEMPORARY_PAUSE",
            "BAIL_BONDS"
          ]
        }
      },
      "id": "Disapproval"
    },
    "StopWatchingCreativeRequest": {
      "id": "StopWatchingCreativeRequest",
      "description": "A request for stopping notifications for changes to creative Status.",
      "type": "object",
      "properties": {}
    },
    "ServingRestriction": {
      "description": "Output only. A representation of the status of an ad in a\nspecific context. A context here relates to where something ultimately serves\n(for example, a user or publisher geo, a platform, an HTTPS vs HTTP request,\nor the type of auction).",
      "type": "object",
      "properties": {
        "disapprovalReasons": {
          "description": "Any disapprovals bound to this restriction.\nOnly present if status=DISAPPROVED.\nCan be used to filter the response of the\ncreatives.list\nmethod.\nDeprecated; please use\ndisapproval\nfield instead.",
          "type": "array",
          "items": {
            "$ref": "Disapproval"
          }
        },
        "contexts": {
          "description": "The contexts for the restriction.",
          "type": "array",
          "items": {
            "$ref": "ServingContext"
          }
        },
        "disapproval": {
          "$ref": "Disapproval",
          "description": "Disapproval bound to this restriction.\nOnly present if status=DISAPPROVED.\nCan be used to filter the response of the\ncreatives.list\nmethod."
        },
        "status": {
          "enumDescriptions": [
            "The status is not known.",
            "The ad was disapproved in this context.",
            "The ad is pending review in this context."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "DISAPPROVAL",
            "PENDING_REVIEW"
          ],
          "description": "The status of the creative in this context (for example, it has been\nexplicitly disapproved or is pending review).",
          "type": "string"
        }
      },
      "id": "ServingRestriction"
    },
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal.",
      "type": "object",
      "properties": {
        "proposalRevision": {
          "description": "The last known client revision number of the proposal.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AcceptProposalRequest"
    },
    "Buyer": {
      "id": "Buyer",
      "description": "Represents a buyer of inventory. Each buyer is identified by a unique\nAuthorized Buyers account ID.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Authorized Buyers account ID of the buyer.",
          "type": "string"
        }
      }
    },
    "Note": {
      "id": "Note",
      "description": "A proposal may be associated to several notes.",
      "type": "object",
      "properties": {
        "proposalRevision": {
          "description": "Output only. The revision number of the proposal when the note is created.",
          "format": "int64",
          "type": "string"
        },
        "noteId": {
          "description": "Output only. The unique ID for the note.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp for when this note was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "creatorRole": {
          "description": "Output only. The role of the person (buyer/seller) creating the note.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "note": {
          "description": "The actual note to attach.\n(max-length: 1024 unicode code units)\n\nNote: This field may be set only when creating the resource. Modifying\nthis field while updating the resource will result in an error.",
          "type": "string"
        }
      }
    },
    "ContactInformation": {
      "id": "ContactInformation",
      "description": "Contains information on how a buyer or seller can be reached.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        },
        "name": {
          "description": "The name of the contact.",
          "type": "string"
        }
      }
    },
    "FrequencyCap": {
      "description": "Frequency cap.",
      "type": "object",
      "properties": {
        "numTimeUnits": {
          "description": "The amount of time, in the units specified by time_unit_type. Defines the\namount of time over which impressions per user are counted and capped.",
          "format": "int32",
          "type": "integer"
        },
        "maxImpressions": {
          "description": "The maximum number of impressions that can be served to a user within the\nspecified time period.",
          "format": "int32",
          "type": "integer"
        },
        "timeUnitType": {
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the\nvariable with this value hasn't been initialized.",
            "Minute",
            "Hour",
            "Day",
            "Week",
            "Month",
            "Lifetime"
          ],
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME"
          ],
          "description": "The time unit. Along with num_time_units defines the amount of time over\nwhich impressions per user are counted and capped.",
          "type": "string"
        }
      },
      "id": "FrequencyCap"
    },
    "DealTerms": {
      "description": "The deal terms specify the details of a Product/deal. They specify things\nlike price per buyer, the type of pricing model (e.g., fixed price, auction)\nand expected impressions from the publisher.",
      "type": "object",
      "properties": {
        "estimatedGrossSpend": {
          "description": "Non-binding estimate of the estimated gross spend for this deal.\nCan be set by buyer or seller.",
          "$ref": "Price"
        },
        "brandingType": {
          "description": "Visibility of the URL in bid requests. (default: BRANDED)",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined branding type.",
            "Full URL is included in bid requests.",
            "A TopLevelDomain or masked URL is sent in bid requests\nrather than the full one."
          ],
          "enum": [
            "BRANDING_TYPE_UNSPECIFIED",
            "BRANDED",
            "SEMI_TRANSPARENT"
          ]
        },
        "sellerTimeZone": {
          "description": "The time zone name. For deals with Cost Per Day billing, defines the\ntime zone used to mark the boundaries of a day. It should be an\nIANA TZ name, such as \"America/Los_Angeles\". For more information,\nsee https://en.wikipedia.org/wiki/List_of_tz_database_time_zones.",
          "type": "string"
        },
        "guaranteedFixedPriceTerms": {
          "$ref": "GuaranteedFixedPriceTerms",
          "description": "The terms for guaranteed fixed price deals."
        },
        "description": {
          "description": "Publisher provided description for the terms.",
          "type": "string"
        },
        "nonGuaranteedFixedPriceTerms": {
          "$ref": "NonGuaranteedFixedPriceTerms",
          "description": "The terms for non-guaranteed fixed price deals."
        },
        "estimatedImpressionsPerDay": {
          "description": "Non-binding estimate of the impressions served per day.\nCan be set by buyer or seller.",
          "format": "int64",
          "type": "string"
        },
        "nonGuaranteedAuctionTerms": {
          "description": "The terms for non-guaranteed auction deals.",
          "$ref": "NonGuaranteedAuctionTerms"
        }
      },
      "id": "DealTerms"
    },
    "AddNoteRequest": {
      "description": "Request message for adding a note to a given proposal.",
      "type": "object",
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "Details of the note to add."
        }
      },
      "id": "AddNoteRequest"
    },
    "AppContext": {
      "id": "AppContext",
      "description": "Output only. The app type the restriction applies to for mobile device.",
      "type": "object",
      "properties": {
        "appTypes": {
          "enumDescriptions": [
            "Native app context.",
            "Mobile web app context."
          ],
          "description": "The app types this restriction applies to.",
          "type": "array",
          "items": {
            "enum": [
              "NATIVE",
              "WEB"
            ],
            "type": "string"
          }
        }
      }
    },
    "ListBidMetricsResponse": {
      "id": "ListBidMetricsResponse",
      "description": "Response message for listing the metrics that are measured in number of bids.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListBidMetricsRequest.pageToken\nfield in the subsequent call to the bidMetrics.list\nmethod to retrieve the next page of results.",
          "type": "string"
        },
        "bidMetricsRows": {
          "description": "List of rows, each containing a set of bid metrics.",
          "type": "array",
          "items": {
            "$ref": "BidMetricsRow"
          }
        }
      }
    },
    "ListLosingBidsResponse": {
      "description": "Response message for listing all reasons that bids lost in the auction.",
      "type": "object",
      "properties": {
        "creativeStatusRows": {
          "description": "List of rows, with counts of losing bids aggregated by loss reason (i.e.\ncreative status).",
          "type": "array",
          "items": {
            "$ref": "CreativeStatusRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.\nPass this value in the\nListLosingBidsRequest.pageToken\nfield in the subsequent call to the losingBids.list\nmethod to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListLosingBidsResponse"
    },
    "ListNonBillableWinningBidsResponse": {
      "id": "ListNonBillableWinningBidsResponse",
      "description": "Response message for listing all reasons for which a buyer was not billed for\na winning bid.",
      "type": "object",
      "properties": {
        "nonBillableWinningBidStatusRows": {
          "description": "List of rows, with counts of bids not billed aggregated by reason.",
          "type": "array",
          "items": {
            "$ref": "NonBillableWinningBidStatusRow"
          }
        },
        "nextPageToken": {
[...]
