{
  "fullyEncodeReservedExpansion": true,
  "title": "G Suite Admin SDK Reseller API",
  "ownerName": "Google",
  "resources": {
    "resellers": {
      "resources": {
        "dars": {
          "methods": {
            "get": {
              "description": "Gets a DAR. Returns NOT_FOUND if DAR does not exist.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Dar"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "name of the DAR to retrieve",
                  "required": true,
                  "type": "string",
                  "pattern": "^resellers/[^/]+/dars/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order.dar.manage",
                "https://www.googleapis.com/auth/apps.order.dar.manage.readonly"
              ],
              "flatPath": "v1/resellers/{resellersId}/dars/{darsId}",
              "id": "adminsdkreseller.resellers.dars.get",
              "path": "v1/{+name}"
            },
            "patch": {
              "response": {
                "$ref": "Dar"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "A mask specifying which fields of 'dar' should be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "pattern": "^resellers/[^/]+/dars/[^/]+$",
                  "location": "path",
                  "description": "DAR resource eg. resellers/{reseller-customer-id}/dars/{dar-customer-id}",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order.dar.manage"
              ],
              "flatPath": "v1/resellers/{resellersId}/dars/{darsId}",
              "path": "v1/{+name}",
              "id": "adminsdkreseller.resellers.dars.patch",
              "description": "Update a DAR. Returns NOT_FOUND if the name of the DAR  is non-empty and\ndoes not equal that of an existing DAR. The only fields that are\nallowed in an update are state and support_info. Allowed state changes\nare ACTIVE to SUSPENDED, SUSPENDED to ACTIVE, INVITED to REVOKED and\nREVOKED to INVITED.",
              "request": {
                "$ref": "Dar"
              }
            },
            "create": {
              "response": {
                "$ref": "Dar"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "The name of the distributor under which DAR is created\nEg: resellers/{reseller-customer-id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^resellers/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order.dar.manage"
              ],
              "flatPath": "v1/resellers/{resellersId}/dars",
              "path": "v1/{+parent}/dars",
              "id": "adminsdkreseller.resellers.dars.create",
              "description": "Registers a DAR under a Reseller by creating the DAR record, and returns\nnewly created Dar proto. Reseller has to be a distributor to create a DAR\nrelationship under itself. DAR will be created in INVITED state.",
              "request": {
                "$ref": "Dar"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "version": "v1",
  "baseUrl": "https://adminsdkreseller.googleapis.com/",
  "servicePath": "",
  "description": "",
  "kind": "discovery#restDescription",
  "basePath": "",
  "documentationLink": "https://developers.google.com/admin-sdk/reseller/v1/get-start/getting-started",
  "id": "adminsdkreseller:v1",
  "revision": "20180927",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "ResellerSupportInfo": {
      "description": "Reseller support information which will be used by resolds to contact\nreseller",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Contact phone number of reseller for support help in E.164 format\nex: US: \"+1 415 599 2671\", UK: \"+44 20 7183 8750\"",
          "type": "string"
        },
        "businessName": {
          "description": "Name of business",
          "type": "string"
        },
        "websiteUrl": {
          "description": "Website of Reseller",
          "type": "string"
        },
        "email": {
          "description": "contact email of reseller for support help",
          "type": "string"
        }
      },
      "id": "ResellerSupportInfo"
    },
    "Dar": {
      "description": "NOTE: The acronym \"DAR\" is also sometimes used to refer to the second\nreseller in such a relationship, a \"distributor authorized reseller.\"\nHowever, the same reseller can have *different* DAR relationships with\ndifferent distributors. In such cases, the `Dar` resources exposed by this\nAPI will be different, even though the same authorized reseller is involved.",
      "type": "object",
      "properties": {
        "inviteDarUrl": {
          "description": "link for the DAR to accept distributor invite",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "STATE_UNSPECIFIED represents an invalid state. DAR should never go into\nthis state.",
            "INVITED is initial status when DAR is created",
            "DAR in INVITED state becomes ACTIVE once it accepts the invite from\ndistributor. A distributor can also change a DAR in SUSPENDED state\nback to ACTIVE. A DAR should be in ACTIVE state to manage his resolds\nthrough Admin console",
            "DAR must be in ACTIVE state to be SUSPENDED. DAR could be suspended\nby either Distributor or Google for various reasons.",
            "A DAR who is in INVITED state can be revoked by Distributor. A DAR in\nREVOKED state can be changed to INVITED again by Distributor."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "SUSPENDED",
            "REVOKED"
          ],
          "description": "state of DAR under distributor",
          "type": "string"
        },
        "name": {
          "description": "DAR resource eg. resellers/{reseller-customer-id}/dars/{dar-customer-id}",
          "type": "string"
        },
        "supportInfo": {
          "description": "support information of DAR",
          "type": "array",
          "items": {
            "$ref": "ResellerSupportInfo"
          }
        }
      },
      "id": "Dar"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "ResellerAdminApi",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.order.dar.manage.readonly": {
          "description": "View your DAR network profile"
        },
        "https://www.googleapis.com/auth/apps.order.dar.manage": {
          "description": "View and manage your DAR network profile"
        }
      }
    }
  },
  "rootUrl": "https://adminsdkreseller.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "adminsdkreseller",
  "batchPath": "batch"
}
