{
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "DeviceCompromised": {
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "description": "Required. List of security events.",
          "type": "array",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          }
        }
      },
      "id": "DeviceCompromised",
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "type": "object"
    },
    "MaliciousEntity": {
      "properties": {
        "fromHeader": {
          "description": "Sender email address.",
          "type": "string"
        }
      },
      "id": "MaliciousEntity",
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "type": "object"
    },
    "ListAlertFeedbackResponse": {
      "description": "Response message for an alert feedback listing request.",
      "type": "object",
      "properties": {
        "feedback": {
          "description": "The list of alert feedback.\nResult is ordered descending by creation time.",
          "type": "array",
          "items": {
            "$ref": "AlertFeedback"
          }
        }
      },
      "id": "ListAlertFeedbackResponse"
    },
    "GoogleOperations": {
      "description": "An incident reported by Google Operations for a G Suite application.",
      "type": "object",
      "properties": {
        "affectedUserEmails": {
          "description": "List of emails which correspond to the users directly affected by the\nincident.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attachmentData": {
          "description": "Optional application-specific data for an incident, provided when the\nG Suite application which reported the incident cannot be completely\nrestored to a valid state.",
          "$ref": "Attachment"
        },
        "title": {
          "description": "One-line incident description.",
          "type": "string"
        },
        "description": {
          "description": "Detailed, freeform incident description.",
          "type": "string"
        }
      },
      "id": "GoogleOperations"
    },
    "BadWhitelist": {
      "description": "Alert for setting the domain or ip that malicious email comes from as\nwhitelisted domain or ip in Gmail advanced settings.",
      "type": "object",
      "properties": {
        "sourceIp": {
          "description": "The source ip address of the malicious email. e.g. \"127.0.0.1\".",
          "type": "string"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "Domain id."
        },
        "maliciousEntity": {
          "description": "Entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "messages": {
          "description": "Every alert could contain multiple messages.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        }
      },
      "id": "BadWhitelist"
    },
    "Attachment": {
      "description": "Attachment with application-specific information about an alert.",
      "type": "object",
      "properties": {
        "csv": {
          "$ref": "Csv",
          "description": "CSV file attachment."
        }
      },
      "id": "Attachment"
    },
    "AlertFeedback": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Feedback type is not specified.",
            "Alert report is not useful.",
            "Alert report is somewhat useful.",
            "Alert report is very useful."
          ],
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "description": "Required. The type of the feedback.",
          "type": "string"
        },
        "feedbackId": {
          "description": "Output only. A unique identifier for the feedback. When creating a new\nfeedback the system will assign one.",
          "type": "string"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this feedback was created. Assigned by the server.",
          "format": "google-datetime",
          "type": "string"
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        }
      },
      "id": "AlertFeedback",
      "description": "A customer feedback about an alert.",
      "type": "object"
    },
    "SuspiciousActivitySecurityDetail": {
      "description": "Detailed information of a single MDM suspicious activity event.",
      "type": "object",
      "properties": {
        "deviceProperty": {
          "description": "Device property which is changed.",
          "type": "string"
        },
        "newValue": {
          "description": "New value of the device property after change.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for IOS, empty for others.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. Device Info.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource id.",
          "type": "string"
        },
        "oldValue": {
          "description": "Old value of the device property before change.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        }
      },
      "id": "SuspiciousActivitySecurityDetail"
    },
    "ListAlertsResponse": {
      "description": "Response message for an alert listing request.",
      "type": "object",
      "properties": {
        "alerts": {
          "description": "The list of alerts.",
          "type": "array",
          "items": {
            "$ref": "Alert"
          }
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more alerts that match the\nrequest; this value can be passed in a new ListAlertsRequest to get the\nnext page of values.",
          "type": "string"
        }
      },
      "id": "ListAlertsResponse"
    },
    "SuspiciousActivity": {
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "type": "object",
      "properties": {
        "events": {
          "description": "Required. List of security events.",
          "type": "array",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          }
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      },
      "id": "SuspiciousActivity"
    },
    "CsvRow": {
      "description": "Representation of a single data row in a CSV file.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Data entries in a CSV file row, as a string array rather than a single\ncomma-separated string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CsvRow"
    },
    "GmailMessageInfo": {
      "description": "Details of a message in phishing spike alert.",
      "type": "object",
      "properties": {
        "messageBodySnippet": {
          "description": "Snippet of the message body text. (Only available for reported emails)",
          "type": "string"
        },
        "attachmentsSha256Hash": {
          "description": "SHA256 Hash of email's attachment and all MIME parts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "date": {
          "description": "The date the malicious email was sent.",
          "format": "google-datetime",
          "type": "string"
        },
        "recipient": {
          "description": "Recipient of this email.",
          "type": "string"
        },
        "md5HashSubject": {
          "description": "MD5 Hash of email's subject. (Only available for reported emails).",
          "type": "string"
        },
        "md5HashMessageBody": {
          "description": "Hash of message body text.",
          "type": "string"
        },
        "subjectText": {
          "description": "Email subject text. (Only available for reported emails).",
          "type": "string"
        },
        "messageId": {
          "description": "Message id.",
          "type": "string"
        }
      },
      "id": "GmailMessageInfo"
    },
    "DomainWideTakeoutInitiated": {
      "properties": {
        "takeoutRequestId": {
          "description": "takeout request id.",
          "type": "string"
        },
        "email": {
          "description": "Email of the admin who initiated the takeout.",
          "type": "string"
        }
      },
      "id": "DomainWideTakeoutInitiated",
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived\nfrom audit logs.",
      "type": "object"
    },
    "AccountWarning": {
      "description": "Alerts for user account warning events.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. Email of the user that this event belongs to.",
          "type": "string"
        },
        "loginDetails": {
          "$ref": "LoginDetails",
          "description": "Optional. Details of the login action associated with the warning event.\nThis is only available for:\nSuspicious login\nSuspicious login (less secure app)\nUser suspended (suspicious activity)"
        }
      },
      "id": "AccountWarning"
    },
    "DomainId": {
      "description": "Domain id of Gmail phishing alerts.",
      "type": "object",
      "properties": {
        "customerPrimaryDomain": {
          "description": "The primary domain for the customer.",
          "type": "string"
        }
      },
      "id": "DomainId"
    },
    "StateSponsoredAttack": {
      "description": "A state sponsored attack alert. Derived from audit logs.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the user this incident was created for.",
          "type": "string"
        }
      },
      "id": "StateSponsoredAttack"
    },
    "MailPhishing": {
      "description": "Proto for all phishing alerts with common payload.\nSupported types are any of the following:\nUser reported phishing\nUser reported spam spike\nSuspicious message reported\nPhishing reclassification\nMalware reclassification",
      "type": "object",
      "properties": {
        "isInternal": {
          "description": "If true, the email is originated from within the organization.",
          "type": "boolean"
        },
        "messages": {
          "description": "Every alert could contain multiple messages.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "Domain id."
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "Entity whose actions triggered a Gmail phishing alert."
        }
      },
      "id": "MailPhishing"
    },
    "Alert": {
      "description": "An alert affecting a customer.\nAll fields are read-only once created.",
      "type": "object",
      "properties": {
        "alertId": {
          "description": "Output only. The unique identifier for the alert.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the alert.\n\nSupported types are any of the following:\n * \"Google Operations\"\n * \"Device compromised\"\n * \"Suspicious activity\"\n * \"User reported phishing\"\n * \"Misconfigured whitelist\"\n * \"Customer takeout initiated\"\n * \"Government attack warning\"\n * \"User reported spam spike\"\n * \"Suspicious message reported\"\n * \"Phishing reclassification\"\n * \"Malware reclassification\"\nLINT.IfChange\n * \"Suspicious login\"\n * \"Suspicious login (less secure app)\"\n * \"User suspended\"\n * \"Leaked password\"\n * \"User suspended (suspicious activity)\"\n * \"User suspended (spam)\"\n * \"User suspended (spam through relay)\"\nLINT.ThenChange(//depot/google3/apps/albert/data/albert_enums.proto)",
          "type": "string"
        },
        "securityInvestigationToolLink": {
          "description": "Output only. An optional Security Investigation Tool query for this\nalert.",
          "type": "string"
        },
        "endTime": {
          "description": "Optional. The time this alert was no longer active. If provided, the\nend time must not be earlier than the start time. If not provided, the end\ntime will default to the start time.",
          "format": "google-datetime",
          "type": "string"
        },
        "data": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Optional. Specific data associated with this alert.\ne.g. google.apps.alertcenter.type.DeviceCompromised.",
          "type": "object"
        },
        "startTime": {
          "description": "Required. The time this alert became active.",
          "format": "google-datetime",
          "type": "string"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        },
        "source": {
          "description": "Required. A unique identifier for the system that is reported the alert.\n\nSupported sources are any of the following:\n * \"Google Operations\"\n * \"Mobile device management\"\n * \"Gmail phishing\"\n * \"Domain wide takeout\"\n * \"Government attack warning\"\n * \"Google identity\"",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this alert was created. Assigned by the server.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Alert"
    },
    "LoginDetails": {
      "description": "Details of the login action",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "Required. Human readable IP address (e.g., 11.22.33.44) that is\nassociated with the warning event.",
          "type": "string"
        },
        "loginTime": {
          "description": "Required. Login time that is associated with the warning event.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "LoginDetails"
    },
    "DeviceCompromisedSecurityDetail": {
      "description": "Detailed information of a single MDM device compromised event.",
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceCompromisedState": {
          "description": "Device compromised state includes: \"Compromised\" and \"Not Compromised\".",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for IOS, empty for others.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. Device Info.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource id.",
          "type": "string"
        }
      },
      "id": "DeviceCompromisedSecurityDetail"
    },
    "Csv": {
      "description": "Representation of a CSV file attachment, as a list of column headers and\na list of data rows.",
      "type": "object",
      "properties": {
        "headers": {
          "description": "List of headers for data columns in a CSV file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataRows": {
          "description": "List of data rows in a CSV file, as string arrays rather than as a\nsingle comma-separated string.",
          "type": "array",
          "items": {
            "$ref": "CsvRow"
          }
        }
      },
      "id": "Csv"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "PhishingSpike": {
      "description": "Alert for a spike in user reported phishing.\nThis will be deprecated in favor of MailPhishing.",
      "type": "object",
      "properties": {
        "domainId": {
          "description": "Domain id.",
          "$ref": "DomainId"
        },
        "maliciousEntity": {
          "description": "Entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "isInternal": {
          "description": "If true, the email is originated from within the organization.",
          "type": "boolean"
        },
        "messages": {
          "description": "Every alert could contain multiple messages.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        }
      },
      "id": "PhishingSpike"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "canonicalName": "AlertCenter",
  "rootUrl": "https://alertcenter.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "alertcenter",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "title": "G Suite Alert Center API",
  "ownerName": "Google",
  "resources": {
    "alerts": {
      "methods": {
        "delete": {
          "description": "Marks the specified alert for deletion. An alert that has been marked for\ndeletion will be excluded from the results of a List operation by default,\nand will be removed from the Alert Center after 30 days.\nMarking an alert for deletion will have no effect on an alert which has\nalready been marked for deletion. Attempting to mark a nonexistent alert\nfor deletion will return NOT_FOUND.",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert to delete.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google account of the customer the\nalert is associated with. This is obfuscated and not the plain customer\nID as stored internally. Inferred from the caller identity if not provided.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1beta1/alerts/{alertId}",
          "path": "v1beta1/alerts/{alertId}",
          "id": "alertcenter.alerts.delete"
        },
        "list": {
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google account of the customer the\nalerts are associated with. This is obfuscated and not the plain\ncustomer ID as stored internally. Inferred from the caller identity if not\nprovided.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. Requested page size. Server may return fewer items than\nrequested. If unspecified, server will pick an appropriate default.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "Optional. Query string for filtering alert results.\nThis string must be specified as an expression or list of expressions,\nusing the following grammar:\n\n### Expressions\n\nAn expression has the general form `\u003cfield\u003e \u003coperator\u003e \u003cvalue\u003e`.\n\nA field or value which contains a space or a colon must be enclosed by\ndouble quotes.\n\n#### Operators\n\nOperators follow the BNF specification:\n\n`\u003cequalityOperator\u003e ::= \"=\" | \":\"`\n\n`\u003crelationalOperator\u003e ::= \"\u003c\" | \"\u003e\" | \"\u003c=\" | \"\u003e=\"`\n\nRelational operators are defined only for timestamp fields. Equality\noperators are defined only for string fields.\n\n#### Timestamp fields\n\nThe value supplied for a timestamp field must be an\n[RFC 3339](https://tools.ietf.org/html/rfc3339) date-time string.\n\nSupported timestamp fields are `create_time`, `start_time`, and `end_time`.\n\n#### String fields\n\nThe value supplied for a string field may be an arbitrary string.\n\n#### Examples\n\nTo query for all alerts created on or after April 5, 2018:\n\n`create_time \u003e= \"2018-04-05T00:00:00Z\"`\n\nTo query for all alerts from the source \"Gmail phishing\":\n\n`source:\"Gmail phishing\"`\n\n### Joining expressions\n\nExpressions may be joined to form a more complex query. The BNF\nspecification is:\n\n`\u003cexpressionList\u003e ::= \u003cexpression\u003e | \u003cexpressionList\u003e \u003cconjunction\u003e\n\u003cexpressionList\u003e | \u003cnegation\u003e \u003cexpressionList\u003e`\n`\u003cconjunction\u003e ::= \"AND\" | \"OR\" | \"\"`\n`\u003cnegation\u003e ::= \"NOT\"`\n\nUsing the empty string as a conjunction acts as an implicit AND.\n\nThe precedence of joining operations, from highest to lowest, is NOT, AND,\nOR.\n\n#### Examples\n\nTo query for all alerts which started in 2017:\n\n`start_time \u003e= \"2017-01-01T00:00:00Z\" AND start_time \u003c\n\"2018-01-01T00:00:00Z\"`\n\nTo query for all user reported phishing alerts from the source\n\"Gmail phishing\":\n\n`type:\"User reported phishing\" source:\"Gmail phishing\"`",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A token identifying a page of results the server should return.\nIf empty, a new iteration is started. To continue an iteration, pass in\nthe value from the previous ListAlertsResponse's next_page_token field.",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "description": "Optional. Sort the list results by a certain order.\nIf not specified results may be returned in arbitrary order.\nYou can sort the results in a descending order based on the creation\ntimestamp using order_by=\"create_time desc\".\nCurrently, only sorting by create_time desc is supported.",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/alerts",
          "path": "v1beta1/alerts",
          "id": "alertcenter.alerts.list",
          "description": "Lists all the alerts for the current user and application."
        },
        "get": {
          "description": "Gets the specified alert.",
          "response": {
            "$ref": "Alert"
          },
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google account of the customer the\nalert is associated with. This is obfuscated and not the plain customer\nID as stored internally. Inferred from the caller identity if not provided.",
              "type": "string"
            },
            "alertId": {
              "location": "path",
              "description": "Required. The identifier of the alert to retrieve.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1beta1/alerts/{alertId}",
          "path": "v1beta1/alerts/{alertId}",
          "id": "alertcenter.alerts.get"
        }
      },
      "resources": {
        "feedback": {
          "methods": {
            "list": {
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "id": "alertcenter.alerts.feedback.list",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "description": "Lists all the feedback for an alert.",
              "httpMethod": "GET",
              "parameterOrder": [
                "alertId"
              ],
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "parameters": {
                "alertId": {
                  "location": "path",
                  "description": "Required. The alert identifier.\nIf the alert does not exist returns a NOT_FOUND error.",
                  "required": true,
                  "type": "string"
                },
                "customerId": {
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google account of the customer the\nalert is associated with. This is obfuscated and not the plain customer\nID as stored internally. Inferred from the caller identity if not provided.",
                  "type": "string"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "AlertFeedback"
              },
              "parameterOrder": [
                "alertId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "alertId": {
                  "location": "path",
                  "description": "Required. The identifier of the alert this feedback belongs to.\nReturns a NOT_FOUND error if no such alert.",
                  "required": true,
                  "type": "string"
                },
                "customerId": {
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google account of the customer the\nalert's feedback is associated with. This is obfuscated and not the\nplain customer ID as stored internally. Inferred from the caller identity\nif not provided.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "id": "alertcenter.alerts.feedback.create",
              "description": "Creates a new alert feedback.",
              "request": {
                "$ref": "AlertFeedback"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "version": "v1beta1",
  "baseUrl": "https://alertcenter.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "G Suite API for alerts managment.",
  "servicePath": "",
  "basePath": "",
  "id": "alertcenter:v1beta1",
  "documentationLink": "https://gsuite.google.com/products/alerts/",
  "revision": "20181005"
}
