{
  "basePath": "",
  "id": "alertcenter:v1beta1",
  "documentationLink": "https://developers.google.com/admin-sdk/alertcenter/",
  "revision": "20191014",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "AlertFeedback": {
      "description": "A customer feedback about an alert.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "description": "Required. The type of the feedback.",
          "type": "string"
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this feedback was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "AlertFeedback"
    },
    "ListAlertsResponse": {
      "description": "Response message for an alert listing request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more\nalerts that match the listing request; this value can be used in a\nsubsequent ListAlertsRequest to get alerts continuing from last result\nof the current list call.",
          "type": "string"
        },
        "alerts": {
          "description": "The list of alerts.",
          "type": "array",
          "items": {
            "$ref": "Alert"
          }
        }
      },
      "id": "ListAlertsResponse"
    },
    "Notification": {
      "description": "Settings for callback notifications.\nFor more details see [G Suite Alert\nNotification](/admin-sdk/alertcenter/guides/notifications).",
      "type": "object",
      "properties": {
        "cloudPubsubTopic": {
          "description": "A Google Cloud Pub/sub topic destination.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "id": "Notification"
    },
    "CsvRow": {
      "description": "A representation of a single data row in a CSV file.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a\nsingle comma-separated string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CsvRow"
    },
    "AccountWarning": {
      "description": "Alerts for user account warning events.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The email of the user that this event belongs to.",
          "type": "string"
        },
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event.\nThis is only available for:\n\n* Suspicious login\n* Suspicious login (less secure app)\n* Suspicious programmatic login\n* User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        }
      },
      "id": "AccountWarning"
    },
    "BatchDeleteAlertsResponse": {
      "description": "Response to batch delete operation on alerts.",
      "type": "object",
      "properties": {
        "successAlertIds": {
          "description": "The successful list of alert ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failedAlertStatus": {
          "description": "The status details for each failed alert_id.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          }
        }
      },
      "id": "BatchDeleteAlertsResponse"
    },
    "MailPhishing": {
      "type": "object",
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        }
      },
      "id": "MailPhishing",
      "description": "Proto for all phishing alerts with common payload.\nSupported types are any of the following:\n\n* User reported phishing\n* User reported spam spike\n* Suspicious message reported\n* Phishing reclassification\n* Malware reclassification"
    },
    "StateSponsoredAttack": {
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the user this incident was created for.",
          "type": "string"
        }
      },
      "id": "StateSponsoredAttack"
    },
    "Alert": {
      "description": "An alert affecting a customer.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time this alert was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this alert was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "alertId": {
          "description": "Output only. The unique identifier for the alert.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the alert.\nThis is output only after alert is created.\nFor a list of available alert types see\n[G Suite Alert types](/admin-sdk/alertcenter/reference/alert-types).",
          "type": "string"
        },
        "securityInvestigationToolLink": {
          "description": "Output only. An optional\n[Security Investigation Tool](https://support.google.com/a/answer/7575955)\nquery for this alert.",
          "type": "string"
        },
        "source": {
          "description": "Required. A unique identifier for the system that reported the alert.\nThis is output only after alert is created.\n\nSupported sources are any of the following:\n\n* Google Operations\n* Mobile device management\n* Gmail phishing\n* Domain wide takeout\n* State sponsored attack\n* Google identity",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of an alert from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform alert updates in order to avoid race\nconditions: An `etag` is returned in the response which contains alerts,\nand systems are expected to put that etag in the request to update alert to\nensure that their change will be applied to the same version of the alert.\n\nIf no `etag` is provided in the call to update alert, then the existing\nalert is overwritten blindly."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "metadata": {
          "$ref": "AlertMetadata",
          "description": "Output only. The metadata associated with this alert."
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The time the event that caused this alert ceased being active.\nIf provided, the end time must not be earlier than the start time.\nIf not provided, it indicates an ongoing alert.",
          "format": "google-datetime"
        },
        "data": {
          "description": "Optional. The data associated with this alert, for example\ngoogle.apps.alertcenter.type.DeviceCompromised.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "startTime": {
          "description": "Required. The time the event that caused this alert was started or\ndetected.",
          "format": "google-datetime",
          "type": "string"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        }
      },
      "id": "Alert"
    },
    "LoginDetails": {
      "description": "The details of the login action.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "Optional. The human-readable IP address (for example,\n`11.22.33.44`) that is associated with the warning event.",
          "type": "string"
        },
        "loginTime": {
          "type": "string",
          "description": "Optional. The successful login time that is associated with the warning\nevent. This will not be present for blocked login attempts.",
          "format": "google-datetime"
        }
      },
      "id": "LoginDetails"
    },
    "DeviceCompromisedSecurityDetail": {
      "id": "DeviceCompromisedSecurityDetail",
      "description": "Detailed information of a single MDM device compromised event.",
      "type": "object",
      "properties": {
        "deviceCompromisedState": {
          "description": "The device compromised state. Possible values are \"`Compromised`\" or\n\"`Not Compromised`\".",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {}
    },
    "GoogleOperations": {
      "description": "An incident reported by Google Operations for a G Suite application.",
      "type": "object",
      "properties": {
        "affectedUserEmails": {
          "description": "The list of emails which correspond to the users directly affected by the\nincident.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attachmentData": {
          "$ref": "Attachment",
          "description": "Optional. Application-specific data for an incident, provided when the\nG Suite application which reported the incident cannot be completely\nrestored to a valid state."
        },
        "title": {
          "description": "A one-line incident description.",
          "type": "string"
        },
        "description": {
          "description": "A detailed, freeform incident description.",
          "type": "string"
        }
      },
      "id": "GoogleOperations"
    },
    "SuspiciousActivitySecurityDetail": {
      "description": "Detailed information of a single MDM suspicious activity event.",
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceProperty": {
          "description": "The device property which was changed.",
          "type": "string"
        },
        "newValue": {
          "description": "The new value of the device property after the change.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "oldValue": {
          "description": "The old value of the device property before the change.",
          "type": "string"
        }
      },
      "id": "SuspiciousActivitySecurityDetail"
    },
    "SuspiciousActivity": {
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          },
          "description": "Required. The list of security events."
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      },
      "id": "SuspiciousActivity"
    },
    "DomainWideTakeoutInitiated": {
      "id": "DomainWideTakeoutInitiated",
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived\nfrom audit logs.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        },
        "takeoutRequestId": {
          "description": "The takeout request ID.",
          "type": "string"
        }
      }
    },
    "GmailMessageInfo": {
      "id": "GmailMessageInfo",
      "description": "Details of a message in phishing spike alert.",
      "type": "object",
      "properties": {
        "date": {
          "description": "The date the malicious email was sent.",
          "format": "google-datetime",
          "type": "string"
        },
        "recipient": {
          "description": "The recipient of this email.",
          "type": "string"
        },
        "md5HashSubject": {
          "description": "The MD5 Hash of email's subject (only available for reported emails).",
          "type": "string"
        },
        "md5HashMessageBody": {
          "description": "The hash of the message body text.",
          "type": "string"
        },
        "subjectText": {
          "type": "string",
          "description": "The email subject text (only available for reported emails)."
        },
        "messageId": {
          "type": "string",
          "description": "The message ID."
        },
        "attachmentsSha256Hash": {
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messageBodySnippet": {
          "type": "string",
          "description": "The snippet of the message body text (only available for reported emails)."
        }
      }
    },
    "ActivityRule": {
      "description": "Alerts from G Suite Security Center rules service configured by admin.",
      "type": "object",
      "properties": {
        "triggerSource": {
          "type": "string",
          "description": "The trigger sources for this rule.\n\n* GMAIL_EVENTS\n* DEVICE_EVENTS\n* USER_EVENTS"
        },
        "displayName": {
          "description": "Alert display name.",
          "type": "string"
        },
        "query": {
          "description": "Query that is used to get the data from the associated source.",
          "type": "string"
        },
        "createTime": {
          "description": "Rule create timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "The timestamp of the last update to the rule.",
          "format": "google-datetime",
          "type": "string"
        },
        "actionNames": {
          "description": "List of action names associated with the rule threshold.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supersededAlerts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of alert ids superseded by this alert. It is used to indicate that\nthis alert is essentially extension of superseded alerts and we found the\nrelationship after creating these alerts."
        },
        "supersedingAlert": {
          "description": "Alert id superseding this alert. It is used to indicate that superseding\nalert is essentially extension of this alert and we found the relationship\nafter creating both alerts.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the rule."
        },
        "windowSize": {
          "description": "Rule window size. Possible values are 1 hour or 24 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "threshold": {
          "type": "string",
          "description": "Alert threshold is for example “COUNT \u003e 5”."
        }
      },
      "id": "ActivityRule"
    },
    "AppMakerSqlSetupNotification": {
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "type": "object",
      "properties": {
        "requestInfo": {
          "description": "List of applications with requests for default SQL set up.",
          "type": "array",
          "items": {
            "$ref": "RequestInfo"
          }
        }
      },
      "id": "AppMakerSqlSetupNotification"
    },
    "BatchUndeleteAlertsRequest": {
      "id": "BatchUndeleteAlertsRequest",
      "description": "A request to perform batch undelete on alerts.",
      "type": "object",
      "properties": {
        "alertId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. list of alert ids."
        },
        "customerId": {
          "description": "Optional. The unique identifier of the G Suite organization account of the\ncustomer the alerts are associated with.",
          "type": "string"
        }
      }
    },
    "DomainId": {
      "description": "Domain ID of Gmail phishing alerts.",
      "type": "object",
      "properties": {
        "customerPrimaryDomain": {
          "description": "The primary domain for the customer.",
          "type": "string"
        }
      },
      "id": "DomainId"
    },
    "AlertMetadata": {
      "description": "An alert metadata.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to\nhelp prevent simultaneous updates of an alert metadata from overwriting\neach other. It is strongly suggested that systems make use of the `etag` in\nthe read-modify-write cycle to perform metatdata updates in order to avoid\nrace conditions: An `etag` is returned in the response which contains alert\nmetadata, and systems are expected to put that etag in the request to\nupdate alert metadata to ensure that their change will be applied to the\nsame version of the alert metadata.\n\nIf no `etag` is provided in the call to update alert metadata, then the\nexisting alert metadata is overwritten blindly.",
          "type": "string"
        },
        "status": {
          "description": "The current status of the alert.\nThe supported values are the following:\n\n* NOT_STARTED\n* IN_PROGRESS\n* CLOSED",
          "type": "string"
        },
        "severity": {
          "description": "The severity value of the alert. Alert Center will set this field at alert\ncreation time, default's to an empty string when it could not be\ndetermined.\nThe supported values for update actions on this field are the following:\n\n* HIGH\n* MEDIUM\n* LOW",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this metadata was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "assignee": {
          "type": "string",
          "description": "The email address of the user assigned to the alert."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        }
      },
      "id": "AlertMetadata"
    },
    "BatchUndeleteAlertsResponse": {
      "description": "Response to batch undelete operation on alerts.",
      "type": "object",
      "properties": {
        "failedAlertStatus": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed alert_id."
        },
        "successAlertIds": {
          "description": "The successful list of alert ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchUndeleteAlertsResponse"
    },
    "UndeleteAlertRequest": {
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the G Suite organization account of the\ncustomer the alert is associated with.\nInferred from the caller identity if not provided.",
          "type": "string"
        }
      },
      "id": "UndeleteAlertRequest",
      "description": "A request to undelete a specific alert that was marked for deletion."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status"
    },
    "Settings": {
      "type": "object",
      "properties": {
        "notifications": {
          "description": "The list of notifications.",
          "type": "array",
          "items": {
            "$ref": "Notification"
          }
        }
      },
      "id": "Settings",
      "description": "Customer-level settings."
    },
    "Csv": {
      "description": "A representation of a CSV file attachment, as a list of column headers and\na list of data rows.",
      "type": "object",
      "properties": {
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataRows": {
          "description": "The list of data rows in a CSV file, as string arrays rather than as a\nsingle comma-separated string.",
          "type": "array",
          "items": {
            "$ref": "CsvRow"
          }
        }
      },
      "id": "Csv"
    },
    "PhishingSpike": {
      "description": "Alert for a spike in user reported phishing.\n\u003caside class=\"warning\"\u003e\u003cb\u003eWarning\u003c/b\u003e: This type has been deprecated. Use\n[MailPhishing](/admin-sdk/alertcenter/reference/rest/v1beta1/MailPhishing)\ninstead.\u003c/aside\u003e",
      "type": "object",
      "properties": {
        "messages": {
          "description": "The list of messages contained by this alert.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        }
      },
      "id": "PhishingSpike"
    },
    "BatchDeleteAlertsRequest": {
      "type": "object",
      "properties": {
        "alertId": {
          "description": "Required. list of alert ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customerId": {
          "description": "Optional. The unique identifier of the G Suite organization account of the\ncustomer the alerts are associated with.",
          "type": "string"
        }
      },
      "id": "BatchDeleteAlertsRequest",
      "description": "A request to perform batch delete on alerts."
    },
    "RequestInfo": {
      "type": "object",
      "properties": {
        "numberOfRequests": {
          "description": "Required. Number of requests sent for this application to set up default\nSQL instance.",
          "format": "int64",
          "type": "string"
        },
        "appKey": {
          "type": "string",
          "description": "Required. The application that requires the SQL setup."
        },
        "appDeveloperEmail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of app developers who triggered notifications for above\napplication."
        }
      },
      "id": "RequestInfo",
      "description": "Requests for one application that needs default SQL setup."
    },
    "DeviceCompromised": {
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "type": "object",
      "properties": {
        "events": {
          "description": "Required. The list of security events.",
          "type": "array",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          }
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      },
      "id": "DeviceCompromised"
    },
    "MaliciousEntity": {
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        },
        "fromHeader": {
          "description": "The sender email address.",
          "type": "string"
        }
      },
      "id": "MaliciousEntity"
    },
    "ListAlertFeedbackResponse": {
      "description": "Response message for an alert feedback listing request.",
      "type": "object",
      "properties": {
        "feedback": {
          "description": "The list of alert feedback.\nFeedback entries for each alert are ordered by creation time descending.",
          "type": "array",
          "items": {
            "$ref": "AlertFeedback"
          }
        }
      },
      "id": "ListAlertFeedbackResponse"
    },
    "CloudPubsubTopic": {
      "description": "A reference to a Cloud Pubsub topic.\n\nTo register for notifications, the owner of the topic must grant\n`alerts-api-push-notifications@system.gserviceaccount.com` the\n `projects.topics.publish` permission.",
      "type": "object",
      "properties": {
        "topicName": {
          "description": "The `name` field of a Cloud Pubsub [Topic]\n(https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic).",
          "type": "string"
        },
        "payloadFormat": {
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "description": "Optional. The format of the payload that would be sent.\nIf not specified the format will be JSON.",
          "type": "string"
        }
      },
      "id": "CloudPubsubTopic"
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "csv": {
          "$ref": "Csv",
          "description": "A CSV file attachment."
        }
      },
      "id": "Attachment",
      "description": "Attachment with application-specific information about an alert."
    },
    "BadWhitelist": {
      "description": "Alert for setting the domain or IP that malicious email comes from as\nwhitelisted domain or IP in Gmail advanced settings.",
      "type": "object",
      "properties": {
        "messages": {
          "description": "The list of messages contained by this alert.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "sourceIp": {
          "description": "The source IP address of the malicious email, for example,\n`127.0.0.1`.",
          "type": "string"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        }
      },
      "id": "BadWhitelist"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "canonicalName": "AlertCenter",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's G Suite alerts, and send alert feedback"
        }
      }
    }
  },
  "rootUrl": "https://alertcenter.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "alertcenter",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "title": "G Suite Alert Center API",
  "ownerName": "Google",
  "resources": {
    "v1beta1": {
      "methods": {
        "getSettings": {
          "response": {
            "$ref": "Settings"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the G Suite organization account of the\ncustomer the alert settings are associated with.\nInferred from the caller identity if not provided.",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/settings",
          "path": "v1beta1/settings",
          "id": "alertcenter.getSettings",
          "description": "Returns customer-level settings."
        },
        "updateSettings": {
          "response": {
            "$ref": "Settings"
          },
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the G Suite organization account of the\ncustomer the alert settings are associated with.\nInferred from the caller identity if not provided.",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/settings",
          "path": "v1beta1/settings",
          "id": "alertcenter.updateSettings",
          "request": {
            "$ref": "Settings"
          },
          "description": "Updates the customer-level settings."
        }
      }
    },
    "alerts": {
      "methods": {
        "getMetadata": {
          "description": "Returns the metadata of an alert. Attempting to get metadata for\na non-existent alert returns `NOT_FOUND` error.",
          "httpMethod": "GET",
          "parameterOrder": [
            "alertId"
          ],
          "response": {
            "$ref": "AlertMetadata"
          },
          "parameters": {
            "alertId": {
              "location": "path",
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "required": true,
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the G Suite organization account of the\ncustomer the alert metadata is associated with.\nInferred from the caller identity if not provided."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "id": "alertcenter.alerts.getMetadata",
          "path": "v1beta1/alerts/{alertId}/metadata"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "alertId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert to delete.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the G Suite organization account of the\ncustomer the alert is associated with.\nInferred from the caller identity if not provided.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts/{alertId}",
          "id": "alertcenter.alerts.delete",
          "path": "v1beta1/alerts/{alertId}",
          "description": "Marks the specified alert for deletion. An alert that has been marked for\ndeletion is removed from Alert Center after 30 days.\nMarking an alert for deletion has no effect on an alert which has\nalready been marked for deletion. Attempting to mark a nonexistent alert\nfor deletion results in a `NOT_FOUND` error."
        },
        "list": {
          "description": "Lists the alerts.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Optional. A query string for filtering alert results.\nFor more details, see [Query\nfilters](/admin-sdk/alertcenter/guides/query-filters) and [Supported\nquery filter\nfields](/admin-sdk/alertcenter/reference/filter-fields#alerts.list).",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A token identifying a page of results the server should return.\nIf empty, a new iteration is started. To continue an iteration, pass in\nthe value from the previous ListAlertsResponse's\nnext_page_token field.",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Optional. The sort order of the list results.\nIf not specified results may be returned in arbitrary order.\nYou can sort the results in descending order based on the creation\ntimestamp using `order_by=\"create_time desc\"`.\nCurrently, supported sorting are `create_time asc`, `create_time desc`,\n`update_time desc`"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the G Suite organization account of the\ncustomer the alerts are associated with.\nInferred from the caller identity if not provided."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. The requested page size. Server may return fewer items than\nrequested. If unspecified, server picks an appropriate default.",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts",
          "id": "alertcenter.alerts.list",
          "path": "v1beta1/alerts"
        },
        "batchDelete": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts:batchDelete",
          "id": "alertcenter.alerts.batchDelete",
          "path": "v1beta1/alerts:batchDelete",
          "description": "Performs batch delete operation on alerts.",
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          }
        },
        "batchUndelete": {
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts:batchUndelete",
          "path": "v1beta1/alerts:batchUndelete",
          "id": "alertcenter.alerts.batchUndelete",
          "description": "Performs batch undelete operation on alerts.",
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          }
        },
        "get": {
          "response": {
            "$ref": "Alert"
          },
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "alertId": {
              "location": "path",
              "description": "Required. The identifier of the alert to retrieve.",
              "required": true,
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the G Suite organization account of the\ncustomer the alert is associated with.\nInferred from the caller identity if not provided."
            }
          },
          "flatPath": "v1beta1/alerts/{alertId}",
          "path": "v1beta1/alerts/{alertId}",
          "id": "alertcenter.alerts.get",
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns\n`NOT_FOUND` error."
        },
        "undelete": {
          "id": "alertcenter.alerts.undelete",
          "path": "v1beta1/alerts/{alertId}:undelete",
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the\npast 30 days. Attempting to undelete an alert which was marked for deletion\nover 30 days ago (which has been removed from the Alert Center database) or\na nonexistent alert returns a `NOT_FOUND` error. Attempting to\nundelete an alert which has not been marked for deletion has no effect.",
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "alertId"
          ],
          "response": {
            "$ref": "Alert"
          },
          "parameters": {
            "alertId": {
              "location": "path",
              "description": "Required. The identifier of the alert to undelete.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts/{alertId}:undelete"
        }
      },
      "resources": {
        "feedback": {
          "methods": {
            "create": {
              "path": "v1beta1/alerts/{alertId}/feedback",
              "id": "alertcenter.alerts.feedback.create",
              "request": {
                "$ref": "AlertFeedback"
              },
              "description": "Creates new feedback for an alert. Attempting to create a feedback for\na non-existent alert returns `NOT_FOUND` error. Attempting to create a\nfeedback for an alert that is marked for deletion returns\n`FAILED_PRECONDITION' error.",
              "response": {
                "$ref": "AlertFeedback"
              },
              "parameterOrder": [
                "alertId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "parameters": {
                "alertId": {
                  "location": "path",
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "required": true,
                  "type": "string"
                },
                "customerId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The unique identifier of the G Suite organization account of the\ncustomer the alert is associated with.\nInferred from the caller identity if not provided."
                }
              },
              "flatPath": "v1beta1/alerts/{alertId}/feedback"
            },
            "list": {
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "parameterOrder": [
                "alertId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. A query string for filtering alert feedback results.\nFor more details, see [Query\nfilters](/admin-sdk/alertcenter/guides/query-filters) and [Supported\nquery filter\nfields](/admin-sdk/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "type": "string"
                },
                "alertId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The alert identifier.\nThe \"-\" wildcard could be used to represent all alerts."
                },
                "customerId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The unique identifier of the G Suite organization account of the\ncustomer the alert feedback are associated with.\nInferred from the caller identity if not provided."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "id": "alertcenter.alerts.feedback.list",
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for\na non-existent alert returns `NOT_FOUND` error."
            }
          }
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "version": "v1beta1",
  "baseUrl": "https://alertcenter.googleapis.com/",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "description": "Manages alerts on issues affecting your domain."
}
