{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "tables": {
      "methods": {
        "list": {
          "id": "bigquery.tables.list",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "TableList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the tables to list"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the tables to list",
              "type": "string",
              "required": true
            }
          }
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Table"
          },
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the new table"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the new table"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tables.insert",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "request": {
            "$ref": "Table"
          },
          "description": "Creates a new, empty table in the dataset."
        },
        "get": {
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the requested table",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "selectedFields": {
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string"
            },
            "tableId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Table ID of the requested table"
            },
            "projectId": {
              "description": "Project ID of the requested table",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.get"
        },
        "patch": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.patch",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to update",
              "type": "string",
              "required": true
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true
            }
          }
        },
        "update": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.update",
          "request": {
            "$ref": "Table"
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the table to update"
            },
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to delete",
              "type": "string",
              "required": true
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the table to delete",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the table to delete"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.delete"
        }
      }
    },
    "tabledata": {
      "methods": {
        "list": {
          "id": "bigquery.tabledata.list",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "TableDataList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the table to read",
              "type": "string",
              "required": true
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string",
              "location": "query"
            },
            "startIndex": {
              "location": "query",
              "description": "Zero-based index of the starting row to read",
              "format": "uint64",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, identifying the result set",
              "type": "string",
              "location": "query"
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to read",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the table to read"
            }
          }
        },
        "insertAll": {
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the destination table.",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the destination table.",
              "type": "string",
              "required": true
            },
            "tableId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Table ID of the destination table."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "id": "bigquery.tabledata.insertAll"
        }
      }
    },
    "routines": {
      "methods": {
        "delete": {
          "description": "Deletes the routine specified by routineId from the dataset.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the routine to delete",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the routine to delete"
            },
            "routineId": {
              "description": "Required. Routine ID of the routine to delete",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "id": "bigquery.routines.delete",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        },
        "insert": {
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the new routine",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the new routine"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "id": "bigquery.routines.insert",
          "request": {
            "$ref": "Routine"
          },
          "description": "Creates a new routine in the dataset."
        },
        "get": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.get",
          "description": "Gets the specified routine resource by routine ID.",
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the requested routine",
              "required": true,
              "type": "string"
            },
            "routineId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Routine ID of the requested routine"
            },
            "fieldMask": {
              "type": "string",
              "location": "query",
              "description": "If set, only the Routine fields in the field mask are returned in the\nresponse. If unset, all Routine fields are returned.",
              "format": "google-fieldmask"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the requested routine"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}"
        },
        "list": {
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the routines to list"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of\nresults",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "description": "Required. Project ID of the routines to list",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page.\nLeverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "id": "bigquery.routines.list",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset\nrole."
        },
        "update": {
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the routine to update"
            },
            "routineId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Routine ID of the routine to update"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the routine to update"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.update",
          "description": "Updates information in an existing routine. The update method replaces the\nentire Routine resource.",
          "request": {
            "$ref": "Routine"
          }
        }
      }
    },
    "datasets": {
      "methods": {
        "get": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.get",
          "description": "Returns the dataset specified by datasetID.",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the requested dataset"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the requested dataset",
              "type": "string",
              "required": true
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "required": true
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.patch",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "request": {
            "$ref": "Dataset"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.update",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "request": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource."
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the dataset being deleted",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of dataset being deleted",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "deleteContents": {
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.delete",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results to return",
              "format": "uint32"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the datasets to be listed",
              "type": "string",
              "required": true
            },
            "all": {
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones",
              "type": "boolean"
            },
            "filter": {
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "projects/{projectId}/datasets",
          "id": "bigquery.datasets.list",
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "response": {
            "$ref": "DatasetList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "id": "bigquery.datasets.insert",
          "path": "projects/{projectId}/datasets",
          "description": "Creates a new empty dataset.",
          "request": {
            "$ref": "Dataset"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the new dataset",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "models": {
      "methods": {
        "get": {
          "description": "Gets the specified model resource by model ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the requested model."
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the requested model.",
              "required": true,
              "type": "string"
            },
            "modelId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the requested model."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.get",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}"
        },
        "list": {
          "response": {
            "$ref": "ListModelsResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call to request the next page of\nresults",
              "type": "string"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the models to list.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page.\nLeverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "datasetId": {
              "location": "path",
              "description": "Required. Dataset ID of the models to list.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "id": "bigquery.models.list",
          "description": "Lists all models in the specified dataset. Requires the READER dataset\nrole."
        },
        "patch": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.patch",
          "description": "Patch specific fields in the specified model.",
          "request": {
            "$ref": "Model"
          },
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the model to patch.",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the model to patch."
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the model to patch.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}"
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the model to delete."
            },
            "modelId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the model to delete."
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the model to delete.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.delete",
          "description": "Deletes the model specified by modelId from the dataset."
        }
      }
    },
    "jobs": {
      "methods": {
        "query": {
          "path": "projects/{projectId}/queries",
          "id": "bigquery.jobs.query",
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "request": {
            "$ref": "QueryRequest"
          },
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the project billed for the query",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "response": {
            "$ref": "JobList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "allUsers": {
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "maxCreationTime": {
              "location": "query",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "format": "uint64",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            },
            "stateFilter": {
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "location": "query",
              "description": "Filter for job state"
            },
            "projection": {
              "location": "query",
              "enum": [
                "full",
                "minimal"
              ],
              "description": "Restrict information returned to a set of selected fields",
              "type": "string",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ]
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the jobs to list",
              "type": "string",
              "required": true
            },
            "minCreationTime": {
              "type": "string",
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64"
            },
            "parentJobId": {
              "type": "string",
              "location": "query",
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/jobs",
          "id": "bigquery.jobs.list"
        },
        "getQueryResults": {
          "id": "bigquery.jobs.getQueryResults",
          "path": "projects/{projectId}/queries/{jobId}",
          "description": "Retrieves the results of a query job.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "startIndex": {
              "description": "Zero-based index of the starting row",
              "format": "uint64",
              "type": "string",
              "location": "query"
            },
            "location": {
              "location": "query",
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "timeoutMs": {
              "location": "query",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "format": "uint32",
              "type": "integer"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to read",
              "format": "uint32",
              "type": "integer"
            },
            "jobId": {
              "location": "path",
              "description": "[Required] Job ID of the query job",
              "type": "string",
              "required": true
            },
            "projectId": {
              "description": "[Required] Project ID of the query job",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "jobId": {
              "location": "path",
              "description": "[Required] Job ID of the job to cancel",
              "type": "string",
              "required": true
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Project ID of the job to cancel"
            },
            "location": {
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            }
          },
          "id": "bigquery.jobs.cancel",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "response": {
            "$ref": "JobCancelResponse"
          }
        },
        "insert": {
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that will be billed for the job"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "path": "projects/{projectId}/jobs",
          "id": "bigquery.jobs.insert",
          "request": {
            "$ref": "Job"
          },
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "response": {
            "$ref": "Job"
          },
          "parameterOrder": [
            "projectId"
          ]
        },
        "get": {
          "id": "bigquery.jobs.get",
          "path": "projects/{projectId}/jobs/{jobId}",
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Job"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "jobId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Job ID of the requested job"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Project ID of the requested job"
            },
            "location": {
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ProjectList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            }
          },
          "id": "bigquery.projects.list",
          "path": "projects",
          "description": "Lists all projects to which you have been granted any project role."
        },
        "getServiceAccount": {
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "description": "Project ID for which the service account is requested.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/serviceAccount",
          "id": "bigquery.projects.getServiceAccount",
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "enum": [
        "json"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "description": "Data format for the response.",
      "default": "json"
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "schemas": {
    "ModelReference": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "[Required] The ID of the project containing this model.",
          "type": "string"
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this model.",
          "type": "string"
        },
        "modelId": {
          "type": "string",
          "description": "[Required] The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
        }
      },
      "id": "ModelReference"
    },
    "JobConfigurationExtract": {
      "type": "object",
      "properties": {
        "useAvroLogicalTypes": {
          "type": "boolean",
          "description": "[Optional] If destinationFormat is set to \"AVRO\", this flag indicates whether to enable extracting applicable column types (such as TIMESTAMP) to their corresponding AVRO logical types (timestamp-micros), instead of only using their raw types (avro-long)."
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "A reference to the table being exported."
        },
        "sourceModel": {
          "$ref": "ModelReference",
          "description": "A reference to the model being exported."
        },
        "destinationFormat": {
          "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON and AVRO. The default value is CSV. Tables with nested or repeated fields cannot be exported as CSV.",
          "type": "string"
        },
        "fieldDelimiter": {
          "type": "string",
          "description": "[Optional] Delimiter to use between fields in the exported data. Default is ','"
        },
        "destinationUri": {
          "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written.",
          "type": "string"
        },
        "printHeader": {
          "type": "boolean",
          "default": "true",
          "description": "[Optional] Whether to print out a header row in the results. Default is true."
        },
        "compression": {
          "description": "[Optional] The compression type to use for exported files. Possible values include GZIP, DEFLATE, SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported for Avro.",
          "type": "string"
        },
        "destinationUris": {
          "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "JobConfigurationExtract"
    },
    "ClusterInfo": {
      "type": "object",
      "properties": {
        "centroidId": {
          "description": "Centroid id.",
          "format": "int64",
          "type": "string"
        },
        "clusterRadius": {
          "description": "Cluster radius, the average distance from centroid\nto each point assigned to the cluster.",
          "format": "double",
          "type": "number"
        },
        "clusterSize": {
          "description": "Cluster size, the total number of points assigned to the cluster.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ClusterInfo",
      "description": "Information about a single cluster for clustering model."
    },
    "FeatureValue": {
      "type": "object",
      "properties": {
        "numericalValue": {
          "description": "The numerical feature value. This is the centroid value for this\nfeature.",
          "format": "double",
          "type": "number"
        },
        "featureColumn": {
          "description": "The feature column name.",
          "type": "string"
        },
        "categoricalValue": {
          "$ref": "CategoricalValue",
          "description": "The categorical feature value."
        }
      },
      "id": "FeatureValue",
      "description": "Representative value of a single feature within the cluster."
    },
    "TimePartitioning": {
      "type": "object",
      "properties": {
        "field": {
          "description": "[Beta] [Optional] If not set, the table is partitioned by pseudo column, referenced via either '_PARTITIONTIME' as TIMESTAMP type, or '_PARTITIONDATE' as DATE type. If field is specified, the table is instead partitioned by this field. The field must be a top-level TIMESTAMP or DATE field. Its mode must be NULLABLE or REQUIRED.",
          "type": "string"
        },
        "expirationMs": {
          "description": "[Optional] Number of milliseconds for which to keep the storage for partitions in the table. The storage in a partition will have an expiration time of its partition time plus this value.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "[Required] The only type supported is DAY, which will generate one partition per day."
        },
        "requirePartitionFilter": {
          "type": "boolean"
        }
      },
      "id": "TimePartitioning"
    },
    "ViewDefinition": {
      "id": "ViewDefinition",
      "type": "object",
      "properties": {
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL for this view. The default value is true. If set to false, the view will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ Queries and views that reference this view must use the same flag value.",
          "type": "boolean"
        },
        "query": {
          "type": "string",
          "description": "[Required] A query that BigQuery executes when the view is referenced."
        },
        "userDefinedFunctionResources": {
          "type": "array",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "description": "Describes user-defined function resources used in the query."
        }
      }
    },
    "JobStatistics": {
      "type": "object",
      "properties": {
        "reservation_id": {
          "description": "[Output-only] Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job.",
          "type": "string"
        },
        "parentJobId": {
          "type": "string",
          "description": "[Output-only] If this is a child job, the id of the parent."
        },
        "quotaDeferments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[Output-only] Quotas which delayed this job's start time."
        },
        "reservationUsage": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              },
              "slotMs": {
                "type": "string",
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "format": "int64"
              }
            }
          },
          "description": "[Output-only] Job resource usage breakdown by reservation."
        },
        "creationTime": {
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.",
          "format": "int64",
          "type": "string"
        },
        "load": {
          "description": "[Output-only] Statistics for a load job.",
          "$ref": "JobStatistics3"
        },
        "extract": {
          "description": "[Output-only] Statistics for an extract job.",
          "$ref": "JobStatistics4"
        },
        "endTime": {
          "type": "string",
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.",
          "format": "int64"
        },
        "startTime": {
          "type": "string",
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.",
          "format": "int64"
        },
        "completionRatio": {
          "description": "[TrustedTester] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs.",
          "format": "double",
          "type": "number"
        },
        "totalBytesProcessed": {
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.",
          "format": "int64",
          "type": "string"
        },
        "scriptStatistics": {
          "$ref": "ScriptStatistics",
          "description": "[Output-only] Statistics for a child job of a script."
        },
        "query": {
          "$ref": "JobStatistics2",
          "description": "[Output-only] Statistics for a query job."
        },
        "numChildJobs": {
          "description": "[Output-only] Number of child jobs executed.",
          "format": "int64",
          "type": "string"
        },
        "totalSlotMs": {
          "type": "string",
          "description": "[Output-only] Slot-milliseconds for the job.",
          "format": "int64"
        }
      },
      "id": "JobStatistics"
    },
    "Row": {
      "description": "A single row in the confusion matrix.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "Entry"
          },
          "description": "Info describing predicted label distribution."
        },
        "actualLabel": {
          "description": "The original label of this row.",
          "type": "string"
        }
      },
      "id": "Row"
    },
    "RegressionMetrics": {
      "type": "object",
      "properties": {
        "meanAbsoluteError": {
          "description": "Mean absolute error.",
          "format": "double",
          "type": "number"
        },
        "meanSquaredError": {
          "description": "Mean squared error.",
          "format": "double",
          "type": "number"
        },
        "rSquared": {
          "description": "R^2 score.",
          "format": "double",
          "type": "number"
        },
        "medianAbsoluteError": {
          "type": "number",
          "description": "Median absolute error.",
          "format": "double"
        },
        "meanSquaredLogError": {
          "description": "Mean squared log error.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "RegressionMetrics",
      "description": "Evaluation metrics for regression and explicit feedback type matrix\nfactorization models."
    },
    "JsonValue": {
      "type": "any",
      "id": "JsonValue"
    },
    "ArimaModelInfo": {
      "description": "Arima model information.",
      "type": "object",
      "properties": {
        "nonSeasonalOrder": {
          "$ref": "ArimaOrder",
          "description": "Non-seasonal order."
        },
        "arimaCoefficients": {
          "$ref": "ArimaCoefficients",
          "description": "Arima coefficients."
        },
        "arimaFittingMetrics": {
          "$ref": "ArimaFittingMetrics",
          "description": "Arima fitting metrics."
        }
      },
      "id": "ArimaModelInfo"
    },
    "GetQueryResultsResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          },
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful."
        },
        "numDmlAffectedRows": {
          "type": "string",
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64"
        },
        "jobComplete": {
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
          "type": "boolean"
        },
        "totalRows": {
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.",
          "format": "uint64",
          "type": "string"
        },
        "totalBytesProcessed": {
          "description": "The total number of bytes processed for this query.",
          "format": "int64",
          "type": "string"
        },
        "rows": {
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        },
        "pageToken": {
          "description": "A token used for paging results.",
          "type": "string"
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#getQueryResultsResponse"
        },
        "etag": {
          "type": "string",
          "description": "A hash of this response."
        },
        "cacheHit": {
          "type": "boolean",
          "description": "Whether the query result was fetched from the query cache."
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "The schema of the results. Present only when the query completes successfully."
        }
      },
      "id": "GetQueryResultsResponse"
    },
    "JobList": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        },
        "jobs": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "jobReference": {
                "description": "Job reference uniquely identifying the job.",
                "$ref": "JobReference"
              },
              "status": {
                "$ref": "JobStatus",
                "description": "[Full-projection-only] Describes the state of the job."
              },
              "state": {
                "description": "Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed.",
                "type": "string"
              },
              "statistics": {
                "$ref": "JobStatistics",
                "description": "[Output-only] Information about the job, including starting time and ending time of the job."
              },
              "id": {
                "description": "Unique opaque ID of the job.",
                "type": "string"
              },
              "configuration": {
                "$ref": "JobConfiguration",
                "description": "[Full-projection-only] Specifies the job configuration."
              },
              "user_email": {
                "description": "[Full-projection-only] Email address of the user who ran the job.",
                "type": "string"
              },
              "errorResult": {
                "$ref": "ErrorProto",
                "description": "A result object that will be present only if the job has failed."
              },
              "kind": {
                "type": "string",
                "default": "bigquery#job",
                "description": "The resource type."
              }
            }
          },
          "description": "List of jobs that were requested."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#jobList"
        }
      },
      "id": "JobList"
    },
    "JobStatistics2": {
      "type": "object",
      "properties": {
        "modelTraining": {
          "$ref": "BigQueryModelTraining",
          "description": "[Output-only, Beta] Information about create model query job progress."
        },
        "referencedRoutines": {
          "description": "[Output-only] Referenced routines (persistent user-defined functions and stored procedures) for the job.",
          "type": "array",
          "items": {
            "$ref": "RoutineReference"
          }
        },
        "timeline": {
          "description": "[Output-only] [Beta] Describes a timeline of job execution.",
          "type": "array",
          "items": {
            "$ref": "QueryTimelineSample"
          }
        },
        "cacheHit": {
          "type": "boolean",
          "description": "[Output-only] Whether the query result was fetched from the query cache."
        },
        "reservationUsage": {
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              },
              "slotMs": {
                "type": "string",
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "format": "int64"
              }
            }
          }
        },
        "undeclaredQueryParameters": {
          "description": "Standard SQL only: list of undeclared query parameters detected during a dry run validation.",
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          }
        },
        "queryPlan": {
          "description": "[Output-only] Describes execution plan for the query.",
          "type": "array",
          "items": {
            "$ref": "ExplainQueryStage"
          }
        },
        "ddlTargetRoutine": {
          "description": "The DDL target routine. Present only for CREATE/DROP FUNCTION/PROCEDURE queries.",
          "$ref": "RoutineReference"
        },
        "totalPartitionsProcessed": {
          "description": "[Output-only] Total number of partitions processed from all partitioned tables referenced in the job.",
          "format": "int64",
          "type": "string"
        },
        "ddlTargetTable": {
          "$ref": "TableReference",
          "description": "The DDL target table. Present only for CREATE/DROP TABLE/VIEW queries."
        },
        "schema": {
          "description": "[Output-only] The schema of the results. Present only for successful dry run of non-legacy SQL queries.",
          "$ref": "TableSchema"
        },
        "estimatedBytesProcessed": {
          "description": "[Output-only] The original estimate of bytes processed for the job.",
          "format": "int64",
          "type": "string"
        },
        "modelTrainingExpectedTotalIteration": {
          "description": "[Output-only, Beta] Deprecated; do not use.",
          "format": "int64",
          "type": "string"
        },
        "referencedTables": {
          "type": "array",
          "items": {
            "$ref": "TableReference"
          },
          "description": "[Output-only] Referenced tables for the job. Queries that reference more than 50 tables will not have a complete list."
        },
        "modelTrainingCurrentIteration": {
          "description": "[Output-only, Beta] Deprecated; do not use.",
          "format": "int32",
          "type": "integer"
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64",
          "type": "string"
        },
        "totalBytesProcessed": {
          "type": "string",
          "description": "[Output-only] Total bytes processed for the job.",
          "format": "int64"
        },
        "billingTier": {
          "description": "[Output-only] Billing tier for the job.",
          "format": "int32",
          "type": "integer"
        },
        "ddlOperationPerformed": {
          "type": "string",
          "description": "The DDL operation performed, possibly dependent on the pre-existence of the DDL target. Possible values (new values might be added in the future): \"CREATE\": The query created the DDL target. \"SKIP\": No-op. Example cases: the query is CREATE TABLE IF NOT EXISTS while the table already exists, or the query is DROP TABLE IF EXISTS while the table does not exist. \"REPLACE\": The query replaced the DDL target. Example case: the query is CREATE OR REPLACE TABLE, and the table already exists. \"DROP\": The query deleted the DDL target."
        },
        "statementType": {
          "type": "string",
          "description": "The type of query statement, if valid. Possible values (new values might be added in the future): \"SELECT\": SELECT query. \"INSERT\": INSERT query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"UPDATE\": UPDATE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"DELETE\": DELETE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"MERGE\": MERGE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"ALTER_TABLE\": ALTER TABLE query. \"ALTER_VIEW\": ALTER VIEW query. \"ASSERT\": ASSERT condition AS 'description'. \"CREATE_FUNCTION\": CREATE FUNCTION query. \"CREATE_MODEL\": CREATE [OR REPLACE] MODEL ... AS SELECT ... . \"CREATE_PROCEDURE\": CREATE PROCEDURE query. \"CREATE_TABLE\": CREATE [OR REPLACE] TABLE without AS SELECT. \"CREATE_TABLE_AS_SELECT\": CREATE [OR REPLACE] TABLE ... AS SELECT ... . \"CREATE_VIEW\": CREATE [OR REPLACE] VIEW ... AS SELECT ... . \"DROP_FUNCTION\" : DROP FUNCTION query. \"DROP_PROCEDURE\": DROP PROCEDURE query. \"DROP_TABLE\": DROP TABLE query. \"DROP_VIEW\": DROP VIEW query."
        },
        "totalSlotMs": {
          "description": "[Output-only] Slot-milliseconds for the job.",
          "format": "int64",
          "type": "string"
        },
        "totalBytesBilled": {
          "type": "string",
          "description": "[Output-only] Total bytes billed for the job.",
          "format": "int64"
        },
        "totalBytesProcessedAccuracy": {
          "description": "[Output-only] For dry-run jobs, totalBytesProcessed is an estimate and this field specifies the accuracy of the estimate. Possible values can be: UNKNOWN: accuracy of the estimate is unknown. PRECISE: estimate is precise. LOWER_BOUND: estimate is lower bound of what the query would cost. UPPER_BOUND: estimate is upper bound of what the query would cost.",
          "type": "string"
        }
      },
      "id": "JobStatistics2"
    },
    "TableDataList": {
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing.",
          "type": "string"
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#tableDataList"
        },
        "totalRows": {
          "description": "The total number of rows in the complete table.",
          "format": "int64",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        },
        "rows": {
          "description": "Rows of results.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        }
      },
      "id": "TableDataList"
    },
    "CategoricalValue": {
      "id": "CategoricalValue",
      "description": "Representative value of a categorical feature.",
      "type": "object",
      "properties": {
        "categoryCounts": {
          "description": "Counts of all categories for the categorical feature. If there are\nmore than ten categories, we return top ten (by count) and return\none more CategoryCount with category \"_OTHER_\" and count as\naggregate counts of remaining categories.",
          "type": "array",
          "items": {
            "$ref": "CategoryCount"
          }
        }
      }
    },
    "QueryResponse": {
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "TableSchema",
          "description": "The schema of the results. Present only when the query completes successfully."
        },
        "rows": {
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        },
        "errors": {
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          }
        },
        "pageToken": {
          "type": "string",
          "description": "A token used for paging results."
        },
        "kind": {
          "description": "The resource type.",
          "type": "string",
          "default": "bigquery#queryResponse"
        },
        "jobComplete": {
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
          "type": "boolean"
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64",
          "type": "string"
        },
        "totalBytesProcessed": {
          "description": "The total number of bytes processed for this query. If this query was a dry run, this is the number of bytes that would be processed if the query were run.",
          "format": "int64",
          "type": "string"
        },
        "totalRows": {
          "type": "string",
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results.",
          "format": "uint64"
        },
        "cacheHit": {
          "type": "boolean",
          "description": "Whether the query result was fetched from the query cache."
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        }
      },
      "id": "QueryResponse"
    },
    "ExplainQueryStage": {
      "type": "object",
      "properties": {
        "parallelInputs": {
          "description": "Number of parallel input segments to be processed.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "description": "Current status for the stage.",
          "type": "string"
        },
        "name": {
          "description": "Human-readable name for stage.",
          "type": "string"
        },
        "computeRatioMax": {
          "description": "Relative amount of time the slowest shard spent on CPU-bound tasks.",
          "format": "double",
          "type": "number"
        },
        "steps": {
          "description": "List of operations within the stage in dependency order (approximately chronological).",
          "type": "array",
          "items": {
            "$ref": "ExplainQueryStep"
          }
        },
        "startMs": {
          "description": "Stage start time represented as milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "writeMsMax": {
          "description": "Milliseconds the slowest shard spent on writing output.",
          "format": "int64",
          "type": "string"
        },
        "shuffleOutputBytesSpilled": {
          "description": "Total number of bytes written to shuffle and spilled to disk.",
          "format": "int64",
          "type": "string"
        },
        "readMsAvg": {
          "description": "Milliseconds the average shard spent reading input.",
          "format": "int64",
          "type": "string"
        },
        "waitMsAvg": {
          "description": "Milliseconds the average shard spent waiting to be scheduled.",
          "format": "int64",
          "type": "string"
        },
        "recordsRead": {
          "type": "string",
          "description": "Number of records read into the stage.",
          "format": "int64"
        },
        "waitMsMax": {
          "description": "Milliseconds the slowest shard spent waiting to be scheduled.",
          "format": "int64",
          "type": "string"
        },
        "waitRatioMax": {
          "description": "Relative amount of time the slowest shard spent waiting to be scheduled.",
          "format": "double",
          "type": "number"
        },
        "writeMsAvg": {
          "description": "Milliseconds the average shard spent on writing output.",
          "format": "int64",
          "type": "string"
        },
        "writeRatioAvg": {
          "type": "number",
          "description": "Relative amount of time the average shard spent on writing output.",
          "format": "double"
        },
        "computeRatioAvg": {
          "description": "Relative amount of time the average shard spent on CPU-bound tasks.",
          "format": "double",
          "type": "number"
        },
        "completedParallelInputs": {
          "description": "Number of parallel input segments completed.",
          "format": "int64",
          "type": "string"
        },
        "waitRatioAvg": {
          "type": "number",
          "description": "Relative amount of time the average shard spent waiting to be scheduled.",
          "format": "double"
        },
        "recordsWritten": {
          "description": "Number of records written by the stage.",
          "format": "int64",
          "type": "string"
        },
        "readRatioMax": {
          "description": "Relative amount of time the slowest shard spent reading input.",
          "format": "double",
          "type": "number"
        },
        "readRatioAvg": {
          "type": "number",
          "description": "Relative amount of time the average shard spent reading input.",
          "format": "double"
        },
        "id": {
          "type": "string",
          "description": "Unique ID for stage within plan.",
          "format": "int64"
        },
        "endMs": {
          "type": "string",
          "description": "Stage end time represented as milliseconds since epoch.",
          "format": "int64"
        },
        "writeRatioMax": {
          "type": "number",
          "description": "Relative amount of time the slowest shard spent on writing output.",
          "format": "double"
        },
        "computeMsAvg": {
          "type": "string",
          "description": "Milliseconds the average shard spent on CPU-bound tasks.",
          "format": "int64"
        },
        "inputStages": {
          "description": "IDs for stages that are inputs to this stage.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "computeMsMax": {
          "description": "Milliseconds the slowest shard spent on CPU-bound tasks.",
          "format": "int64",
          "type": "string"
        },
        "readMsMax": {
          "description": "Milliseconds the slowest shard spent reading input.",
          "format": "int64",
          "type": "string"
        },
        "shuffleOutputBytes": {
          "type": "string",
          "description": "Total number of bytes written to shuffle.",
          "format": "int64"
        }
      },
      "id": "ExplainQueryStage"
    },
    "Job": {
      "type": "object",
      "properties": {
        "jobReference": {
          "description": "[Optional] Reference describing the unique-per-user name of the job.",
          "$ref": "JobReference"
        },
        "status": {
          "$ref": "JobStatus",
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete."
        },
        "statistics": {
          "$ref": "JobStatistics",
          "description": "[Output-only] Information about the job, including starting time and ending time of the job."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output-only] A URL that can be used to access this resource again."
        },
        "id": {
          "description": "[Output-only] Opaque ID field of the job",
          "type": "string"
        },
        "configuration": {
          "$ref": "JobConfiguration",
          "description": "[Required] Describes the job configuration."
        },
        "user_email": {
          "description": "[Output-only] Email address of the user who ran the job.",
          "type": "string"
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "type": "string",
          "default": "bigquery#job"
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of this resource."
        }
      },
      "id": "Job"
    },
    "EncryptionConfiguration": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "[Optional] Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key.",
          "type": "string"
        }
      },
      "id": "EncryptionConfiguration"
    },
    "TableSchema": {
      "type": "object",
      "properties": {
        "fields": {
          "description": "Describes the fields in a table.",
          "type": "array",
          "items": {
            "$ref": "TableFieldSchema"
          }
        }
      },
      "id": "TableSchema"
    },
    "DestinationTableProperties": {
      "type": "object",
      "properties": {
        "description": {
          "description": "[Optional] The description for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current description is provided, the job will fail.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "[Optional] The labels associated with this table. You can use these to organize and group your tables. This will only be used if the destination table is newly created. If the table already exists and labels are different than the current labels are provided, the job will fail.",
          "type": "object"
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] The friendly name for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current friendly name is provided, the job will fail."
        }
      },
      "id": "DestinationTableProperties"
    },
    "TrainingRun": {
      "type": "object",
      "properties": {
        "trainingOptions": {
          "description": "Options that were used for this training run, includes\nuser specified and default options that were used.",
          "$ref": "TrainingOptions"
        },
        "startTime": {
          "description": "The start time of this training run.",
          "format": "google-datetime",
          "type": "string"
        },
        "results": {
          "description": "Output of each iteration run, results.size() \u003c= max_iterations.",
          "type": "array",
          "items": {
            "$ref": "IterationResult"
          }
        },
        "evaluationMetrics": {
          "$ref": "EvaluationMetrics",
          "description": "The evaluation metrics over training/eval data that were computed at the\nend of training."
        }
      },
      "id": "TrainingRun",
      "description": "Information about a single training query run for the model."
    },
    "TrainingOptions": {
      "type": "object",
      "properties": {
        "earlyStop": {
          "type": "boolean",
          "description": "Whether to stop early when the loss doesn't improve significantly\nany more (compared to min_relative_progress). Used only for iterative\ntraining algorithms."
        },
        "dataSplitEvalFraction": {
          "description": "The fraction of evaluation data over the whole input data. The rest\nof data will be used as training data. The format should be double.\nAccurate to two decimal places.\nDefault value is 0.2.",
          "format": "double",
          "type": "number"
        },
        "modelUri": {
          "description": "[Beta] Google Cloud Storage URI from which the model was imported. Only\napplicable for imported models.",
          "type": "string"
        },
        "initialLearnRate": {
          "description": "Specifies the initial learning rate for the line search learn rate\nstrategy.",
          "format": "double",
          "type": "number"
        },
        "kmeansInitializationColumn": {
          "description": "The column used to provide the initial centroids for kmeans algorithm\nwhen kmeans_initialization_method is CUSTOM.",
          "type": "string"
        },
        "minRelativeProgress": {
          "description": "When early_stop is true, stops training when accuracy improvement is\nless than 'min_relative_progress'. Used only for iterative training\nalgorithms.",
          "format": "double",
          "type": "number"
        },
        "numClusters": {
          "description": "Number of clusters for clustering models.",
          "format": "int64",
          "type": "string"
        },
        "inputLabelColumns": {
          "description": "Name of input label columns in training data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "learnRateStrategy": {
          "description": "The strategy to determine learn rate for the current iteration.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ]
        },
        "warmStart": {
          "description": "Whether to train a model from the last checkpoint.",
          "type": "boolean"
        },
        "dataSplitMethod": {
          "description": "The data split type for training and evaluation, e.g. RANDOM.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small.\nOtherwise uses RANDOM."
          ],
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ]
        },
        "lossType": {
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ],
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ],
          "description": "Type of loss function used during training run.",
          "type": "string"
        },
        "l1Regularization": {
          "type": "number",
          "description": "L1 regularization coefficient.",
          "format": "double"
        },
        "kmeansInitializationMethod": {
          "description": "The method used to initialize the centroids for kmeans algorithm.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in\nkmeans_initialization_column."
          ],
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM"
          ]
        },
        "distanceType": {
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ],
          "description": "Distance type for clustering models.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Eculidean distance.",
            "Cosine distance."
          ]
        },
        "learnRate": {
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "format": "double",
          "type": "number"
        },
        "optimizationStrategy": {
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ],
          "description": "Optimization strategy for training linear regression models.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ]
        },
        "maxIterations": {
          "type": "string",
          "description": "The maximum number of iterations in training. Used only for iterative\ntraining algorithms.",
          "format": "int64"
        },
        "dataSplitColumn": {
          "description": "The column to split data with. This column won't be used as a\nfeature.\n1. When data_split_method is CUSTOM, the corresponding column should\nbe boolean. The rows with true value tag are eval data, and the false\nare training data.\n2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION\nrows (from smallest to largest) in the corresponding column are used\nas training data, and the rest are eval data. It respects the order\nin Orderable data types:\nhttps://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#data-type-properties",
          "type": "string"
        },
        "labelClassWeights": {
          "type": "object",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "description": "Weights associated with each label class, for rebalancing the\ntraining data. Only applicable for classification models."
        },
        "l2Regularization": {
          "type": "number",
          "description": "L2 regularization coefficient.",
          "format": "double"
        }
      },
      "id": "TrainingOptions"
    },
    "Routine": {
      "description": "A user-defined function or a stored procedure.",
      "type": "object",
      "properties": {
        "importedLibraries": {
          "description": "Optional. If language = \"JAVASCRIPT\", this field stores the path of the\nimported JAVASCRIPT libraries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "returnType": {
          "$ref": "StandardSqlDataType",
          "description": "Optional if language = \"SQL\"; required otherwise.\n\nIf absent, the return type is inferred from definition_body at query time\nin each query that references this routine. If present, then the evaluated\nresult will be cast to the specified returned type at query time.\n\nFor example, for the functions created with the following statements:\n\n* `CREATE FUNCTION Add(x FLOAT64, y FLOAT64) RETURNS FLOAT64 AS (x + y);`\n\n* `CREATE FUNCTION Increment(x FLOAT64) AS (Add(x, 1));`\n\n* `CREATE FUNCTION Decrement(x FLOAT64) RETURNS FLOAT64 AS (Add(x, -1));`\n\nThe return_type is `{type_kind: \"FLOAT64\"}` for `Add` and `Decrement`, and\nis absent for `Increment` (inferred as FLOAT64 at query time).\n\nSuppose the function `Add` is replaced by\n  `CREATE OR REPLACE FUNCTION Add(x INT64, y INT64) AS (x + y);`\n\nThen the inferred return type of `Increment` is automatically changed to\nINT64 at query time, while the return type of `Decrement` remains FLOAT64."
        },
        "language": {
          "type": "string",
          "enumDescriptions": [
            "",
            "SQL language.",
            "JavaScript language."
          ],
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "SQL",
            "JAVASCRIPT"
          ],
          "description": "Optional. Defaults to \"SQL\"."
        },
        "lastModifiedTime": {
          "description": "Output only. The time when this routine was last modified, in milliseconds\nsince the epoch.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "Optional. [Experimental] The description of the routine if defined.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. A hash of this resource.",
          "type": "string"
        },
        "definitionBody": {
          "description": "Required. The body of the routine.\n\nFor functions, this is the expression in the AS clause.\n\nIf language=SQL, it is the substring inside (but excluding) the\nparentheses. For example, for the function created with the following\nstatement:\n\n`CREATE FUNCTION JoinLines(x string, y string) as (concat(x, \"\\n\", y))`\n\nThe definition_body is `concat(x, \"\\n\", y)` (\\n is not replaced with\nlinebreak).\n\nIf language=JAVASCRIPT, it is the evaluated string in the AS clause.\nFor example, for the function created with the following statement:\n\n`CREATE FUNCTION f() RETURNS STRING LANGUAGE js AS 'return \"\\n\";\\n'`\n\nThe definition_body is\n\n`return \"\\n\";\\n`\n\nNote that both \\n are replaced with linebreaks.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "description": "Output only. The time when this routine was created, in milliseconds since\nthe epoch.",
          "format": "int64"
        },
        "routineType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Non-builtin permanent scalar function.",
            "Stored procedure."
          ],
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE"
          ],
          "description": "Required. The type of routine."
        },
        "routineReference": {
          "description": "Required. Reference describing the ID of this routine.",
          "$ref": "RoutineReference"
        },
        "arguments": {
          "description": "Optional.",
          "type": "array",
          "items": {
            "$ref": "Argument"
          }
        }
      },
      "id": "Routine"
    },
    "UserDefinedFunctionResource": {
      "type": "object",
      "properties": {
        "resourceUri": {
[...]
