{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "models": {
      "methods": {
        "delete": {
          "description": "Deletes the model specified by modelId from the dataset.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the model to delete.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the model to delete."
            },
            "modelId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the model to delete."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.delete",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}"
        },
        "get": {
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the requested model."
            },
            "datasetId": {
              "location": "path",
              "description": "Required. Dataset ID of the requested model.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the requested model.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.get",
          "description": "Gets the specified model resource by model ID."
        },
        "list": {
          "response": {
            "$ref": "ListModelsResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call to request the next page of\nresults",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the models to list."
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page.\nLeverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the models to list.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "id": "bigquery.models.list",
          "description": "Lists all models in the specified dataset. Requires the READER dataset\nrole."
        },
        "patch": {
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the model to patch.",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the model to patch."
            },
            "modelId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the model to patch."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.patch",
          "description": "Patch specific fields in the specified model.",
          "request": {
            "$ref": "Model"
          }
        }
      }
    },
    "jobs": {
      "methods": {
        "query": {
          "path": "projects/{projectId}/queries",
          "id": "bigquery.jobs.query",
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "request": {
            "$ref": "QueryRequest"
          },
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the project billed for the query",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "response": {
            "$ref": "JobList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "allUsers": {
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "maxCreationTime": {
              "location": "query",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "format": "uint64",
              "type": "string"
            },
            "stateFilter": {
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "location": "query",
              "description": "Filter for job state"
            },
            "projection": {
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "location": "query",
              "enum": [
                "full",
                "minimal"
              ],
              "description": "Restrict information returned to a set of selected fields",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the jobs to list",
              "type": "string",
              "required": true
            },
            "parentJobId": {
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "type": "string",
              "location": "query"
            },
            "minCreationTime": {
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/jobs",
          "id": "bigquery.jobs.list"
        },
        "getQueryResults": {
          "id": "bigquery.jobs.getQueryResults",
          "path": "projects/{projectId}/queries/{jobId}",
          "description": "Retrieves the results of a query job.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "timeoutMs": {
              "location": "query",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "format": "uint32",
              "type": "integer"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to read",
              "format": "uint32"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Project ID of the query job"
            },
            "jobId": {
              "description": "[Required] Job ID of the query job",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row",
              "format": "uint64",
              "type": "string",
              "location": "query"
            },
            "location": {
              "location": "query",
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "cancel": {
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "id": "bigquery.jobs.cancel",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "jobId": {
              "description": "[Required] Job ID of the job to cancel",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Project ID of the job to cancel"
            },
            "location": {
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "insert": {
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "request": {
            "$ref": "Job"
          },
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that will be billed for the job"
            }
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "id": "bigquery.jobs.insert",
          "path": "projects/{projectId}/jobs"
        },
        "get": {
          "path": "projects/{projectId}/jobs/{jobId}",
          "id": "bigquery.jobs.get",
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "response": {
            "$ref": "Job"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "location": {
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "jobId": {
              "location": "path",
              "description": "[Required] Job ID of the requested job",
              "type": "string",
              "required": true
            },
            "projectId": {
              "description": "[Required] Project ID of the requested job",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "id": "bigquery.projects.list",
          "path": "projects",
          "description": "Lists all projects to which you have been granted any project role.",
          "response": {
            "$ref": "ProjectList"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "getServiceAccount": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID for which the service account is requested.",
              "type": "string",
              "required": true
            }
          },
          "id": "bigquery.projects.getServiceAccount",
          "path": "projects/{projectId}/serviceAccount",
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "GetServiceAccountResponse"
          }
        }
      }
    },
    "tabledata": {
      "methods": {
        "list": {
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "response": {
            "$ref": "TableDataList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, identifying the result set",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID of the table to read",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to read",
              "type": "string",
              "required": true
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the table to read"
            },
            "selectedFields": {
              "type": "string",
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            },
            "startIndex": {
              "location": "query",
              "description": "Zero-based index of the starting row to read",
              "format": "uint64",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "id": "bigquery.tabledata.list"
        },
        "insertAll": {
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the destination table.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "tableId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Table ID of the destination table."
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the destination table.",
              "type": "string",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "id": "bigquery.tabledata.insertAll",
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          }
        }
      }
    },
    "tables": {
      "methods": {
        "insert": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "id": "bigquery.tables.insert",
          "request": {
            "$ref": "Table"
          },
          "description": "Creates a new, empty table in the dataset.",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the new table",
              "type": "string",
              "required": true
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the new table",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the requested table"
            },
            "selectedFields": {
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID of the requested table",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the requested table",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.get"
        },
        "patch": {
          "id": "bigquery.tables.patch",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "tableId": {
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the table to update",
              "type": "string",
              "required": true
            }
          }
        },
        "update": {
          "request": {
            "$ref": "Table"
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "tableId": {
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "description": "Project ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to update",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.update"
        },
        "delete": {
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to delete",
              "type": "string",
              "required": true
            },
            "projectId": {
              "description": "Project ID of the table to delete",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the table to delete"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.delete"
        },
        "list": {
          "response": {
            "$ref": "TableList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the tables to list",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            },
            "projectId": {
              "description": "Project ID of the tables to list",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "id": "bigquery.tables.list",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role."
        }
      }
    },
    "routines": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the routine to delete",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the routine to delete",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "routineId": {
              "description": "Required. Routine ID of the routine to delete",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.delete",
          "description": "Deletes the routine specified by routineId from the dataset.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "DELETE"
        },
        "insert": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "id": "bigquery.routines.insert",
          "description": "Creates a new routine in the dataset.",
          "request": {
            "$ref": "Routine"
          },
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the new routine",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "projectId": {
              "description": "Required. Project ID of the new routine",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Gets the specified routine resource by routine ID.",
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the requested routine",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the requested routine"
            },
            "routineId": {
              "location": "path",
              "description": "Required. Routine ID of the requested routine",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "fieldMask": {
              "location": "query",
              "description": "If set, only the Routine fields in the field mask are returned in the\nresponse. If unset, all Routine fields are returned.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.get"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the routines to list"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results to return in a single response page.\nLeverage the page tokens to iterate through the entire collection.",
              "format": "uint32"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the routines to list"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of\nresults"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "id": "bigquery.routines.list",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset\nrole.",
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "description": "Updates information in an existing routine. The update method replaces the\nentire Routine resource.",
          "request": {
            "$ref": "Routine"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "response": {
            "$ref": "Routine"
          },
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the routine to update",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the routine to update",
              "required": true,
              "type": "string"
            },
            "routineId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Routine ID of the routine to update",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "id": "bigquery.routines.update",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        }
      }
    },
    "datasets": {
      "methods": {
        "delete": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.delete",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the dataset being deleted",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of dataset being deleted",
              "type": "string",
              "required": true
            },
            "deleteContents": {
              "location": "query",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "type": "boolean"
            }
          }
        },
        "list": {
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "response": {
            "$ref": "DatasetList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            },
            "projectId": {
              "description": "Project ID of the datasets to be listed",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "all": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones"
            },
            "filter": {
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "projects/{projectId}/datasets",
          "id": "bigquery.datasets.list"
        },
        "insert": {
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the new dataset"
            }
          },
          "path": "projects/{projectId}/datasets",
          "id": "bigquery.datasets.insert",
          "description": "Creates a new empty dataset.",
          "request": {
            "$ref": "Dataset"
          }
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the requested dataset"
            },
            "datasetId": {
              "description": "Dataset ID of the requested dataset",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.datasets.get",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Returns the dataset specified by datasetID."
        },
        "patch": {
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.patch",
          "request": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics."
        },
        "update": {
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.update",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "request": {
            "$ref": "Dataset"
          }
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "description": "Data format for the response."
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    }
  },
  "schemas": {
    "JobConfigurationTableCopy": {
      "type": "object",
      "properties": {
        "destinationEncryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "sourceTables": {
          "description": "[Pick one] Source tables to copy.",
          "type": "array",
          "items": {
            "$ref": "TableReference"
          }
        },
        "createDisposition": {
          "type": "string",
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "[Pick one] Source table to copy."
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "destinationTable": {
          "description": "[Required] The destination table",
          "$ref": "TableReference"
        }
      },
      "id": "JobConfigurationTableCopy"
    },
    "BinaryConfusionMatrix": {
      "id": "BinaryConfusionMatrix",
      "description": "Confusion matrix for binary classification models.",
      "type": "object",
      "properties": {
        "falseNegatives": {
          "description": "Number of false samples predicted as false.",
          "format": "int64",
          "type": "string"
        },
        "falsePositives": {
          "type": "string",
          "description": "Number of false samples predicted as true.",
          "format": "int64"
        },
        "trueNegatives": {
          "description": "Number of true samples predicted as false.",
          "format": "int64",
          "type": "string"
        },
        "f1Score": {
          "description": "The equally weighted average of recall and precision.",
          "format": "double",
          "type": "number"
        },
        "precision": {
          "description": "The fraction of actual positive predictions that had positive actual\nlabels.",
          "format": "double",
          "type": "number"
        },
        "positiveClassThreshold": {
          "type": "number",
          "description": "Threshold value used when computing each of the following metric.",
          "format": "double"
        },
        "accuracy": {
          "type": "number",
          "description": "The fraction of predictions given the correct label.",
          "format": "double"
        },
        "truePositives": {
          "type": "string",
          "description": "Number of true samples predicted as true.",
          "format": "int64"
        },
        "recall": {
          "type": "number",
          "description": "The fraction of actual positive labels that were given a positive\nprediction.",
          "format": "double"
        }
      }
    },
    "QueryTimelineSample": {
      "type": "object",
      "properties": {
        "totalSlotMs": {
          "description": "Cumulative slot-ms consumed by the query.",
          "format": "int64",
          "type": "string"
        },
        "activeUnits": {
          "description": "Total number of units currently being processed by workers. This does not correspond directly to slot usage. This is the largest value observed since the last sample.",
          "format": "int64",
          "type": "string"
        },
        "completedUnits": {
          "description": "Total parallel units of work completed by this query.",
          "format": "int64",
          "type": "string"
        },
        "elapsedMs": {
          "description": "Milliseconds elapsed since the start of query execution.",
          "format": "int64",
          "type": "string"
        },
        "pendingUnits": {
          "type": "string",
          "description": "Total parallel units of work remaining for the active stages.",
          "format": "int64"
        }
      },
      "id": "QueryTimelineSample"
    },
    "QueryRequest": {
      "type": "object",
      "properties": {
        "timeoutMs": {
          "description": "[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).",
          "format": "uint32",
          "type": "integer"
        },
        "kind": {
          "description": "The resource type of the request.",
          "type": "string",
          "default": "bigquery#queryRequest"
        },
        "parameterMode": {
          "type": "string",
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
        },
        "useQueryCache": {
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.",
          "type": "boolean",
          "default": "true"
        },
        "defaultDataset": {
          "$ref": "DatasetReference",
          "description": "[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'."
        },
        "location": {
          "description": "The geographic location where the job should run. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
          "type": "string"
        },
        "preserveNulls": {
          "description": "[Deprecated] This property is deprecated.",
          "type": "boolean"
        },
        "maxResults": {
          "description": "[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.",
          "format": "uint32",
          "type": "integer"
        },
        "query": {
          "description": "[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\".",
          "annotations": {
            "required": [
              "bigquery.jobs.query"
            ]
          },
          "type": "string"
        },
        "dryRun": {
          "description": "[Optional] If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false.",
          "type": "boolean"
        },
        "queryParameters": {
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          },
          "description": "Query parameters for Standard SQL queries."
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "type": "boolean",
          "default": "true"
        }
      },
      "id": "QueryRequest"
    },
    "ErrorProto": {
      "id": "ErrorProto",
      "type": "object",
      "properties": {
        "message": {
          "description": "A human-readable description of the error.",
          "type": "string"
        },
        "location": {
          "description": "Specifies where the error occurred, if present.",
          "type": "string"
        },
        "debugInfo": {
          "type": "string",
          "description": "Debugging information. This property is internal to Google and should not be used."
        },
        "reason": {
          "description": "A short error code that summarizes the error.",
          "type": "string"
        }
      }
    },
    "BinaryClassificationMetrics": {
      "description": "Evaluation metrics for binary classification/classifier models.",
      "type": "object",
      "properties": {
        "binaryConfusionMatrixList": {
          "description": "Binary confusion matrix at multiple thresholds.",
          "type": "array",
          "items": {
            "$ref": "BinaryConfusionMatrix"
          }
        },
        "aggregateClassificationMetrics": {
          "$ref": "AggregateClassificationMetrics",
          "description": "Aggregate classification metrics."
        },
        "negativeLabel": {
          "description": "Label representing the negative class.",
          "type": "string"
        },
        "positiveLabel": {
          "description": "Label representing the positive class.",
          "type": "string"
        }
      },
      "id": "BinaryClassificationMetrics"
    },
    "RangePartitioning": {
      "type": "object",
      "properties": {
        "range": {
          "description": "[TrustedTester] [Required] Defines the ranges for range partitioning.",
          "type": "object",
          "properties": {
            "interval": {
              "description": "[TrustedTester] [Required] The width of each interval.",
              "format": "int64",
              "type": "string"
            },
            "start": {
              "description": "[TrustedTester] [Required] The start of range partitioning, inclusive.",
              "format": "int64",
              "type": "string"
            },
            "end": {
              "type": "string",
              "description": "[TrustedTester] [Required] The end of range partitioning, exclusive.",
              "format": "int64"
            }
          }
        },
        "field": {
          "description": "[TrustedTester] [Required] The table is partitioned by this field. The field must be a top-level NULLABLE/REQUIRED field. The only supported type is INTEGER/INT64.",
          "type": "string"
        }
      },
      "id": "RangePartitioning"
    },
    "JobConfigurationLoad": {
      "type": "object",
      "properties": {
        "sourceFormat": {
          "description": "[Optional] The format of the data files. For CSV files, specify \"CSV\". For datastore backups, specify \"DATASTORE_BACKUP\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro, specify \"AVRO\". For parquet, specify \"PARQUET\". For orc, specify \"ORC\". The default value is CSV.",
          "type": "string"
        },
        "ignoreUnknownValues": {
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names",
          "type": "boolean"
        },
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Required] The destination table to load the data into."
        },
        "encoding": {
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.",
          "type": "string"
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "hivePartitioningMode": {
          "description": "[Optional, Trusted Tester] Deprecated, do not use. Please set hivePartitioningOptions instead.",
          "type": "string"
        },
        "createDisposition": {
          "type": "string",
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "maxBadRecords": {
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when running the job. If the number of bad records exceeds this value, an invalid error is returned in the job result. This is only valid for CSV and JSON. The default value is 0, which requires that all records are valid.",
          "format": "int32",
          "type": "integer"
        },
        "sourceUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups: Exactly one URI can be specified. Also, the '*' wildcard character is not allowed."
        },
        "allowJaggedRows": {
          "description": "[Optional] Accept rows that are missing trailing optional columns. The missing values are treated as nulls. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. Only applicable to CSV, ignored for other formats.",
          "type": "boolean"
        },
        "fieldDelimiter": {
          "description": "[Optional] The separator for fields in a CSV file. The separator can be any ISO-8859-1 single-byte character. To use a character in the range 128-255, you must encode the character as UTF8. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',').",
          "type": "string"
        },
        "projectionFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If sourceFormat is set to \"DATASTORE_BACKUP\", indicates which entity properties to load into BigQuery from a Cloud Datastore backup. Property names are case sensitive and must be top-level properties. If no properties are specified, BigQuery loads all properties. If any named property isn't found in the Cloud Datastore backup, an invalid error is returned in the job result."
        },
        "allowQuotedNewlines": {
          "description": "Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
          "type": "boolean"
        },
        "useAvroLogicalTypes": {
          "description": "[Optional] If sourceFormat is set to \"AVRO\", indicates whether to enable interpreting logical types into their corresponding types (ie. TIMESTAMP), instead of only using their raw types (ie. INTEGER).",
          "type": "boolean"
        },
        "hivePartitioningOptions": {
          "$ref": "HivePartitioningOptions",
          "description": "[Optional, Trusted Tester] Options to configure hive partitioning support."
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "skipLeadingRows": {
          "type": "integer",
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when loading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.",
          "format": "int32"
        },
        "autodetect": {
          "type": "boolean",
          "description": "[Optional] Indicates if we should automatically infer the options and schema for CSV and JSON sources."
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "schemaUpdateOptions": {
          "description": "Allows the schema of the destination table to be updated as a side effect of the load job if a schema is autodetected or supplied in the job configuration. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "schemaInline": {
          "type": "string",
          "description": "[Deprecated] The inline schema. For CSV schemas, specify as \"Field1:Type1[,Field2:Type2]*\". For example, \"foo:STRING, bar:INTEGER, baz:FLOAT\"."
        },
        "rangePartitioning": {
          "$ref": "RangePartitioning",
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "nullMarker": {
          "description": "[Optional] Specifies a string that represents a null value in a CSV file. For example, if you specify \"\\N\", BigQuery interprets \"\\N\" as a null value when loading a CSV file. The default value is the empty string. If you set this property to a custom value, BigQuery throws an error if an empty string is present for all data types except for STRING and BYTE. For STRING and BYTE columns, BigQuery interprets the empty string as an empty value.",
          "type": "string"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] The schema for the destination table. The schema can be omitted if the destination table already exists, or if you're loading data from Google Cloud Datastore."
        },
        "schemaInlineFormat": {
          "description": "[Deprecated] The format of the schemaInline property.",
          "type": "string"
        },
        "quote": {
          "type": "string",
          "default": "\"",
          "pattern": ".?",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true."
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_APPEND. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "destinationTableProperties": {
          "$ref": "DestinationTableProperties",
          "description": "[Beta] [Optional] Properties with which to create the destination table if it is new."
        }
      },
      "id": "JobConfigurationLoad"
    },
    "TableDataInsertAllRequest": {
      "type": "object",
      "properties": {
        "rows": {
          "description": "The rows to insert.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "insertId": {
                "description": "[Optional] A unique ID for each row. BigQuery uses this property to detect duplicate insertion requests on a best-effort basis.",
                "type": "string"
              },
              "json": {
                "$ref": "JsonObject",
                "description": "[Required] A JSON object that contains a row of data. The object's properties and values must match the destination table's schema."
              }
            }
          }
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#tableDataInsertAllRequest"
        },
        "templateSuffix": {
          "description": "If specified, treats the destination table as a base template, and inserts the rows into an instance table named \"{destination}{templateSuffix}\". BigQuery will manage creation of the instance table, using the schema of the base template table. See https://cloud.google.com/bigquery/streaming-data-into-bigquery#template-tables for considerations when working with templates tables.",
          "type": "string"
        },
        "ignoreUnknownValues": {
          "type": "boolean",
          "description": "[Optional] Accept rows that contain values that do not match the schema. The unknown values are ignored. Default is false, which treats unknown values as errors."
        },
        "skipInvalidRows": {
          "type": "boolean",
          "description": "[Optional] Insert all valid rows of a request, even if invalid rows exist. The default value is false, which causes the entire request to fail if any invalid rows exist."
        }
      },
      "id": "TableDataInsertAllRequest"
    },
    "TableList": {
      "type": "object",
      "properties": {
        "totalItems": {
          "type": "integer",
          "description": "The total number of tables in the dataset.",
          "format": "int32"
        },
        "kind": {
          "description": "The type of list.",
          "type": "string",
          "default": "bigquery#tableList"
        },
        "tables": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "clustering": {
                "$ref": "Clustering",
                "description": "[Beta] Clustering specification for this table, if configured."
              },
              "type": {
                "type": "string",
                "description": "The type of table. Possible values are: TABLE, VIEW."
              },
              "expirationTime": {
                "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed.",
                "format": "int64",
                "type": "string"
              },
              "kind": {
                "description": "The resource type.",
                "type": "string",
                "default": "bigquery#table"
              },
              "view": {
                "description": "Additional details for a view.",
                "type": "object",
                "properties": {
                  "useLegacySql": {
                    "description": "True if view is defined in legacy SQL dialect, false if in standard SQL.",
                    "type": "boolean"
                  }
                }
              },
              "creationTime": {
                "type": "string",
                "description": "The time when this table was created, in milliseconds since the epoch.",
                "format": "int64"
              },
              "rangePartitioning": {
                "$ref": "RangePartitioning",
                "description": "The range partitioning specification for this table, if configured."
              },
              "id": {
                "type": "string",
                "description": "An opaque ID of the table"
              },
              "tableReference": {
                "$ref": "TableReference",
                "description": "A reference uniquely identifying the table."
              },
              "timePartitioning": {
                "$ref": "TimePartitioning",
                "description": "The time-based partitioning specification for this table, if configured."
              },
              "friendlyName": {
                "description": "The user-friendly name for this table.",
                "type": "string"
              },
              "labels": {
                "additionalProperties": {
                  "type": "string"
                },
                "description": "The labels associated with this table. You can use these to organize and group your tables.",
                "type": "object"
              }
            }
          },
          "description": "Tables in the requested dataset."
        },
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      },
      "id": "TableList"
    },
    "ModelDefinition": {
      "type": "object",
      "properties": {
        "modelOptions": {
          "description": "[Output-only, Beta] Model options used for the first training run. These options are immutable for subsequent training runs. Default values are used for any options not specified in the input query.",
          "type": "object",
          "properties": {
            "labels": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "lossType": {
              "type": "string"
            },
            "modelType": {
              "type": "string"
            }
          }
        },
        "trainingRuns": {
          "type": "array",
          "items": {
            "$ref": "BqmlTrainingRun"
          },
          "description": "[Output-only, Beta] Information about ml training runs, each training run comprises of multiple iterations and there may be multiple training runs for the model if warm start is used or if a user decides to continue a previously cancelled query."
        }
      },
      "id": "ModelDefinition"
    },
    "JobStatus": {
      "type": "object",
      "properties": {
        "errors": {
          "description": "[Output-only] The first errors encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          }
        },
        "state": {
          "description": "[Output-only] Running state of the job.",
          "type": "string"
        },
        "errorResult": {
          "$ref": "ErrorProto",
          "description": "[Output-only] Final error result of the job. If present, indicates that the job has completed and was unsuccessful."
        }
      },
      "id": "JobStatus"
    },
    "ListModelsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "models": {
          "description": "Models in the requested dataset. Only the following fields are populated:\nmodel_reference, model_type, creation_time, last_modified_time and\nlabels.",
          "type": "array",
          "items": {
            "$ref": "Model"
          }
        }
      },
      "id": "ListModelsResponse"
    },
    "ScriptStatistics": {
      "type": "object",
      "properties": {
        "evaluationKind": {
          "description": "[Output-only] Whether this child job was a statement or expression.",
          "type": "string"
        },
        "stackFrames": {
          "type": "array",
          "items": {
            "$ref": "ScriptStackFrame"
          },
          "description": "Stack trace showing the line/column/procedure name of each frame on the stack at the point where the current evaluation happened. The leaf frame is first, the primary script is last. Never empty."
        }
      },
      "id": "ScriptStatistics"
    },
    "Entry": {
      "id": "Entry",
      "description": "A single entry in the confusion matrix.",
      "type": "object",
      "properties": {
        "predictedLabel": {
          "description": "The predicted label. For confidence_threshold \u003e 0, we will\nalso add an entry indicating the number of items under the\nconfidence threshold.",
          "type": "string"
        },
        "itemCount": {
          "description": "Number of items being predicted as this label.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Streamingbuffer": {
      "id": "Streamingbuffer",
      "type": "object",
      "properties": {
        "estimatedBytes": {
          "description": "[Output-only] A lower-bound estimate of the number of bytes currently in the streaming buffer.",
          "format": "uint64",
          "type": "string"
        },
        "estimatedRows": {
          "type": "string",
          "description": "[Output-only] A lower-bound estimate of the number of rows currently in the streaming buffer.",
          "format": "uint64"
        },
        "oldestEntryTime": {
          "description": "[Output-only] Contains the timestamp of the oldest entry in the streaming buffer, in milliseconds since the epoch, if the streaming buffer is available.",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "Table": {
      "id": "Table",
      "type": "object",
      "properties": {
        "numPhysicalBytes": {
          "description": "[Output-only] [TrustedTester] The physical size of this table in bytes, excluding any data in the streaming buffer. This includes compression and storage used for time travel.",
          "format": "int64",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this table. You can use these to organize and group your tables. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        },
        "externalDataConfiguration": {
          "$ref": "ExternalDataConfiguration",
          "description": "[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table."
        },
        "model": {
          "$ref": "ModelDefinition",
          "description": "[Output-only, Beta] Present iff this table represents a ML model. Describes the training information for the model, and it is required to run 'PREDICT' queries."
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "expirationTime": {
          "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created tables.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "[Optional] A user-friendly description of this table.",
          "type": "string"
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "type": "string",
          "default": "bigquery#table"
        },
        "creationTime": {
          "type": "string",
          "description": "[Output-only] The time when this table was created, in milliseconds since the epoch.",
          "format": "int64"
        },
        "rangePartitioning": {
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] Describes the schema of this table."
        },
        "id": {
          "description": "[Output-only] An opaque ID uniquely identifying the table.",
          "type": "string"
        },
        "requirePartitionFilter": {
          "description": "[Beta] [Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified.",
          "type": "boolean",
          "default": "false"
        },
        "tableReference": {
          "$ref": "TableReference",
          "description": "[Required] Reference describing the ID of this table."
        },
        "materializedView": {
          "$ref": "MaterializedViewDefinition",
          "description": "[Optional] Materialized view definition."
        },
        "lastModifiedTime": {
          "description": "[Output-only] The time when this table was last modified, in milliseconds since the epoch.",
          "format": "uint64",
          "type": "string"
        },
        "type": {
          "description": "[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. [TrustedTester] MATERIALIZED_VIEW: SQL query whose result is persisted. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE.",
          "type": "string"
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the table. Must be specified with partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "numRows": {
          "description": "[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer.",
          "format": "uint64",
          "type": "string"
        },
        "view": {
          "$ref": "ViewDefinition",
          "description": "[Optional] The view definition."
        },
        "numLongTermBytes": {
          "description": "[Output-only] The number of bytes in the table that are considered \"long-term storage\".",
          "format": "int64",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of the table metadata. Used to ensure there were no concurrent modifications to the resource when attempting an update. Not guaranteed to change when the table contents or the fields numRows, numBytes, numLongTermBytes or lastModifiedTime change."
        },
        "encryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "streamingBuffer": {
          "$ref": "Streamingbuffer",
          "description": "[Output-only] Contains information regarding this table's streaming buffer, if one is present. This field will be absent if the table is not being streamed to or if there is no data in the streaming buffer."
        },
        "numBytes": {
          "description": "[Output-only] The size of this table in bytes, excluding any data in the streaming buffer.",
          "format": "int64",
          "type": "string"
        },
        "location": {
          "description": "[Output-only] The geographic location where the table resides. This value is inherited from the dataset.",
          "type": "string"
        },
        "friendlyName": {
          "description": "[Optional] A descriptive name for this table.",
          "type": "string"
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        }
      }
    },
    "ConfusionMatrix": {
      "description": "Confusion matrix for multi-class classification models.",
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "description": "Confidence threshold used when computing the entries of the\nconfusion matrix.",
          "format": "double",
          "type": "number"
        },
        "rows": {
          "description": "One row per actual label.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "id": "ConfusionMatrix"
    },
    "MaterializedViewDefinition": {
      "type": "object",
      "properties": {
        "query": {
          "description": "[Required] A query whose result is persisted.",
          "type": "string"
        },
        "lastRefreshTime": {
          "description": "[Output-only] [TrustedTester] The time when this materialized view was last modified, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "MaterializedViewDefinition"
    },
    "QueryParameterValue": {
      "type": "object",
      "properties": {
        "value": {
          "description": "[Optional] The value of this value, if a simple scalar type.",
          "type": "string"
        },
        "structValues": {
          "type": "object",
          "additionalProperties": {
            "$ref": "QueryParameterValue"
          },
          "description": "[Optional] The struct field values, in order of the struct type's declaration."
        },
        "arrayValues": {
          "description": "[Optional] The array values, if this is an array type.",
          "type": "array",
          "items": {
            "$ref": "QueryParameterValue"
          }
        }
      },
      "id": "QueryParameterValue"
    },
    "Model": {
      "type": "object",
      "properties": {
        "creationTime": {
          "description": "Output only. The time when this model was created, in millisecs since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "encryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys). This shows the\nencryption configuration of the model data while stored in BigQuery\nstorage."
        },
        "location": {
          "description": "Output only. The geographic location where the model resides. This value\nis inherited from the dataset.",
          "type": "string"
        },
        "friendlyName": {
          "description": "Optional. A descriptive name for this model.",
          "type": "string"
        },
        "lastModifiedTime": {
          "description": "Output only. The time when this model was last modified, in millisecs since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this model. You can use these to organize\nand group your models. Label keys and values can be no longer\nthan 63 characters, can only contain lowercase letters, numeric\ncharacters, underscores and dashes. International characters are allowed.\nLabel values are optional. Label keys must start with a letter and each\nlabel in the list must have a different key.",
          "type": "object"
        },
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LINEAR_REGRESSION",
            "LOGISTIC_REGRESSION",
            "KMEANS",
            "TENSORFLOW"
          ],
          "description": "Output only. Type of the model resource.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Linear regression model.",
            "Logistic regression based classification model.",
            "K-means clustering model.",
            "[Beta] An imported TensorFlow model."
          ]
        },
        "labelColumns": {
          "description": "Output only. Label columns that were used to train this model.\nThe output of the model will have a \"predicted_\" prefix to these columns.",
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        },
        "featureColumns": {
          "description": "Output only. Input feature columns that were used to train this model.",
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        },
        "expirationTime": {
          "description": "Optional. The time when this model expires, in milliseconds since the epoch.\nIf not present, the model will persist indefinitely. Expired models\nwill be deleted and their storage reclaimed.  The defaultTableExpirationMs\nproperty of the encapsulating dataset can be used to set a default\nexpirationTime on newly created models.",
          "format": "int64",
          "type": "string"
        },
        "trainingRuns": {
          "description": "Output only. Information for all training runs in increasing order of start_time.",
          "type": "array",
          "items": {
            "$ref": "TrainingRun"
          }
        },
        "modelReference": {
          "$ref": "ModelReference",
          "description": "Required. Unique identifier for this model."
        },
        "description": {
          "description": "Optional. A user-friendly description of this model.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. A hash of this resource."
        }
      },
      "id": "Model"
    },
    "StandardSqlDataType": {
      "type": "object",
      "properties": {
        "structType": {
          "$ref": "StandardSqlStructType",
          "description": "The fields of this struct, in order, if type_kind = \"STRUCT\"."
        },
        "arrayElementType": {
          "description": "The type of the array's elements, if type_kind = \"ARRAY\".",
          "$ref": "StandardSqlDataType"
        },
        "typeKind": {
          "enumDescriptions": [
            "Invalid type.",
            "Encoded as a string in decimal format.",
            "Encoded as a boolean \"false\" or \"true\".",
            "Encoded as a number, or string \"NaN\", \"Infinity\" or \"-Infinity\".",
            "Encoded as a string value.",
            "Encoded as a base64 string per RFC 4648, section 4.",
            "Encoded as an RFC 3339 timestamp with mandatory \"Z\" time zone string:\n1985-04-12T23:20:50.52Z",
            "Encoded as RFC 3339 full-date format string: 1985-04-12",
            "Encoded as RFC 3339 partial-time format string: 23:20:50.52",
            "Encoded as RFC 3339 full-date \"T\" partial-time: 1985-04-12T23:20:50.52",
            "Encoded as WKT",
            "Encoded as a decimal string.",
            "Encoded as a list with types matching Type.array_type.",
            "Encoded as a list with fields of type Type.struct_type[i]. List is used\nbecause a JSON object cannot have duplicate field names."
          ],
          "enum": [
            "TYPE_KIND_UNSPECIFIED",
            "INT64",
            "BOOL",
            "FLOAT64",
            "STRING",
            "BYTES",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "DATETIME",
            "GEOGRAPHY",
            "NUMERIC",
            "ARRAY",
            "STRUCT"
          ],
          "description": "Required. The top level type of this field.\nCan be any standard SQL data type (e.g., \"INT64\", \"DATE\", \"ARRAY\").",
          "type": "string"
        }
      },
      "id": "StandardSqlDataType",
      "description": "The type of a variable, e.g., a function argument.\nExamples:\nINT64: {type_kind=\"INT64\"}\nARRAY\u003cSTRING\u003e: {type_kind=\"ARRAY\", array_element_type=\"STRING\"}\nSTRUCT\u003cx STRING, y ARRAY\u003cDATE\u003e\u003e:\n  {type_kind=\"STRUCT\",\n   struct_type={fields=[\n     {name=\"x\", type={type_kind=\"STRING\"}},\n     {name=\"y\", type={type_kind=\"ARRAY\", array_element_type=\"DATE\"}}\n   ]}}"
    },
    "ModelReference": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "[Required] The ID of the project containing this model.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this model."
        },
        "modelId": {
          "description": "[Required] The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        }
      },
      "id": "ModelReference"
    },
    "JobConfigurationExtract": {
      "type": "object",
      "properties": {
        "destinationFormat": {
          "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON and AVRO. The default value is CSV. Tables with nested or repeated fields cannot be exported as CSV.",
          "type": "string"
        },
        "sourceModel": {
          "$ref": "ModelReference",
          "description": "A reference to the model being exported."
        },
        "useAvroLogicalTypes": {
          "description": "[Optional] If destinationFormat is set to \"AVRO\", this flag indicates whether to enable extracting applicable column types (such as TIMESTAMP) to their corresponding AVRO logical types (timestamp-micros), instead of only using their raw types (avro-long).",
          "type": "boolean"
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "A reference to the table being exported."
        },
        "fieldDelimiter": {
          "description": "[Optional] Delimiter to use between fields in the exported data. Default is ','",
          "type": "string"
        },
        "destinationUri": {
          "type": "string",
          "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written."
        },
        "printHeader": {
          "description": "[Optional] Whether to print out a header row in the results. Default is true.",
          "type": "boolean",
[...]
