{
  "basePath": "/bigquery/v2/",
  "ownerDomain": "google.com",
  "name": "bigquery",
  "batchPath": "batch/bigquery/v2",
  "revision": "20191113",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "id": "bigquery:v2",
  "title": "BigQuery API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "routines": {
      "methods": {
        "delete": {
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the routine to delete",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the routine to delete"
            },
            "routineId": {
              "description": "Required. Routine ID of the routine to delete",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "id": "bigquery.routines.delete",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "description": "Deletes the routine specified by routineId from the dataset.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "DELETE"
        },
        "insert": {
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the new routine",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the new routine",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "id": "bigquery.routines.insert",
          "request": {
            "$ref": "Routine"
          },
          "description": "Creates a new routine in the dataset."
        },
        "get": {
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the requested routine"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the requested routine",
              "required": true,
              "type": "string"
            },
            "routineId": {
              "location": "path",
              "description": "Required. Routine ID of the requested routine",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.get",
          "description": "Gets the specified routine resource by routine ID."
        },
        "list": {
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the routines to list",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of\nresults",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the routines to list",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page.\nLeverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "id": "bigquery.routines.list",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset\nrole."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the routine to update",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the routine to update",
              "required": true,
              "type": "string"
            },
            "routineId": {
              "description": "Required. Routine ID of the routine to update",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.update",
          "request": {
            "$ref": "Routine"
          },
          "description": "Updates information in an existing routine. The update method replaces the\nentire Routine resource.",
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "PUT"
        }
      }
    },
    "datasets": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the new dataset",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "projects/{projectId}/datasets",
          "id": "bigquery.datasets.insert",
          "description": "Creates a new empty dataset.",
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the requested dataset"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the requested dataset",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.datasets.get",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Returns the dataset specified by datasetID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "patch": {
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the dataset being updated"
            },
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.patch",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "request": {
            "$ref": "Dataset"
          }
        },
        "update": {
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the dataset being updated"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.update",
          "request": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource."
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the dataset being deleted"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of dataset being deleted",
              "type": "string",
              "required": true
            },
            "deleteContents": {
              "location": "query",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.delete",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name."
        },
        "list": {
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "response": {
            "$ref": "DatasetList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results to return",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the datasets to be listed"
            },
            "all": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones"
            },
            "filter": {
              "location": "query",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets",
          "id": "bigquery.datasets.list"
        }
      }
    },
    "models": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the model to delete.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the model to delete.",
              "required": true,
              "type": "string"
            },
            "modelId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the model to delete."
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.delete",
          "description": "Deletes the model specified by modelId from the dataset."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the requested model.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the requested model.",
              "required": true,
              "type": "string"
            },
            "modelId": {
              "description": "Required. Model ID of the requested model.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.get",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "description": "Gets the specified model resource by model ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "response": {
            "$ref": "Model"
          }
        },
        "list": {
          "description": "Lists all models in the specified dataset. Requires the READER dataset\nrole.",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the models to list.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call to request the next page of\nresults",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the models to list.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page.\nLeverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "id": "bigquery.models.list"
        },
        "patch": {
          "request": {
            "$ref": "Model"
          },
          "description": "Patch specific fields in the specified model.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "response": {
            "$ref": "Model"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the model to patch."
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the model to patch."
            },
            "modelId": {
              "location": "path",
              "description": "Required. Model ID of the model to patch.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.patch",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}"
        }
      }
    },
    "jobs": {
      "methods": {
        "getQueryResults": {
          "path": "projects/{projectId}/queries/{jobId}",
          "id": "bigquery.jobs.getQueryResults",
          "description": "Retrieves the results of a query job.",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to read",
              "format": "uint32",
              "type": "integer"
            },
            "jobId": {
              "description": "[Required] Job ID of the query job",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "description": "[Required] Project ID of the query job",
              "type": "string",
              "required": true
            },
            "startIndex": {
              "type": "string",
              "location": "query",
              "description": "Zero-based index of the starting row",
              "format": "uint64"
            },
            "location": {
              "location": "query",
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "timeoutMs": {
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "cancel": {
          "httpMethod": "POST",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "location": {
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            },
            "jobId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Job ID of the job to cancel"
            },
            "projectId": {
              "location": "path",
              "description": "[Required] Project ID of the job to cancel",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.jobs.cancel",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs."
        },
        "insert": {
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "request": {
            "$ref": "Job"
          },
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the project that will be billed for the job",
              "type": "string",
              "required": true
            }
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              },
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "id": "bigquery.jobs.insert",
          "path": "projects/{projectId}/jobs"
        },
        "get": {
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "response": {
            "$ref": "Job"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "jobId": {
              "location": "path",
              "description": "[Required] Job ID of the requested job",
              "type": "string",
              "required": true
            },
            "projectId": {
              "description": "[Required] Project ID of the requested job",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            }
          },
          "path": "projects/{projectId}/jobs/{jobId}",
          "id": "bigquery.jobs.get"
        },
        "query": {
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "request": {
            "$ref": "QueryRequest"
          },
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project billed for the query"
            }
          },
          "path": "projects/{projectId}/queries",
          "id": "bigquery.jobs.query"
        },
        "list": {
          "response": {
            "$ref": "JobList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "stateFilter": {
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "location": "query",
              "description": "Filter for job state"
            },
            "projection": {
              "type": "string",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "location": "query",
              "enum": [
                "full",
                "minimal"
              ],
              "description": "Restrict information returned to a set of selected fields"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the jobs to list",
              "type": "string",
              "required": true
            },
            "parentJobId": {
              "location": "query",
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "type": "string"
            },
            "minCreationTime": {
              "type": "string",
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "allUsers": {
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "type": "boolean"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            },
            "maxCreationTime": {
              "type": "string",
              "location": "query",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "format": "uint64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/jobs",
          "id": "bigquery.jobs.list",
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property."
        }
      }
    },
    "projects": {
      "methods": {
        "getServiceAccount": {
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "description": "Project ID for which the service account is requested.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/serviceAccount",
          "id": "bigquery.projects.getServiceAccount",
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS."
        },
        "list": {
          "path": "projects",
          "id": "bigquery.projects.list",
          "description": "Lists all projects to which you have been granted any project role.",
          "response": {
            "$ref": "ProjectList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32"
            }
          }
        }
      }
    },
    "tables": {
      "methods": {
        "insert": {
          "id": "bigquery.tables.insert",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Creates a new, empty table in the dataset.",
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the new table",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the new table"
            }
          }
        },
        "get": {
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the requested table",
              "type": "string",
              "required": true
            },
            "selectedFields": {
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string"
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the requested table",
              "type": "string",
              "required": true
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the requested table"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.get",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table."
        },
        "patch": {
          "parameters": {
            "tableId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Table ID of the table to update"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the table to update"
            },
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tables.patch",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "request": {
            "$ref": "Table"
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "Table"
          }
        },
        "update": {
          "id": "bigquery.tables.update",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the table to update",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the table to update"
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true
            }
          }
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to delete",
              "type": "string",
              "required": true
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to delete",
              "type": "string",
              "required": true
            },
            "projectId": {
              "description": "Project ID of the table to delete",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.delete",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted."
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "TableList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            },
            "projectId": {
              "description": "Project ID of the tables to list",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the tables to list",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tables.list",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role."
        }
      }
    },
    "tabledata": {
      "methods": {
        "list": {
          "response": {
            "$ref": "TableDataList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the table to read"
            },
            "selectedFields": {
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row to read",
              "format": "uint64",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, identifying the result set"
            },
            "tableId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Table ID of the table to read"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to read",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "id": "bigquery.tabledata.list",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role."
        },
        "insertAll": {
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the destination table.",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the destination table.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the destination table.",
              "type": "string",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "id": "bigquery.tabledata.insertAll",
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          }
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for the response.",
      "default": "json",
      "enum": [
        "json"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "schemas": {
    "TimePartitioning": {
      "id": "TimePartitioning",
      "type": "object",
      "properties": {
        "expirationMs": {
          "type": "string",
          "description": "[Optional] Number of milliseconds for which to keep the storage for partitions in the table. The storage in a partition will have an expiration time of its partition time plus this value.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "[Required] The only type supported is DAY, which will generate one partition per day."
        },
        "requirePartitionFilter": {
          "type": "boolean"
        },
        "field": {
          "description": "[Beta] [Optional] If not set, the table is partitioned by pseudo column, referenced via either '_PARTITIONTIME' as TIMESTAMP type, or '_PARTITIONDATE' as DATE type. If field is specified, the table is instead partitioned by this field. The field must be a top-level TIMESTAMP or DATE field. Its mode must be NULLABLE or REQUIRED.",
          "type": "string"
        }
      }
    },
    "ViewDefinition": {
      "type": "object",
      "properties": {
        "query": {
          "description": "[Required] A query that BigQuery executes when the view is referenced.",
          "type": "string"
        },
        "userDefinedFunctionResources": {
          "description": "Describes user-defined function resources used in the query.",
          "type": "array",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          }
        },
        "useLegacySql": {
          "type": "boolean",
          "description": "Specifies whether to use BigQuery's legacy SQL for this view. The default value is true. If set to false, the view will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ Queries and views that reference this view must use the same flag value."
        }
      },
      "id": "ViewDefinition"
    },
    "JobStatistics": {
      "id": "JobStatistics",
      "type": "object",
      "properties": {
        "numChildJobs": {
          "description": "[Output-only] Number of child jobs executed.",
          "format": "int64",
          "type": "string"
        },
        "totalSlotMs": {
          "type": "string",
          "description": "[Output-only] Slot-milliseconds for the job.",
          "format": "int64"
        },
        "parentJobId": {
          "description": "[Output-only] If this is a child job, the id of the parent.",
          "type": "string"
        },
        "reservation_id": {
          "type": "string",
          "description": "[Output-only] Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job."
        },
        "quotaDeferments": {
          "description": "[Output-only] Quotas which delayed this job's start time.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "creationTime": {
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.",
          "format": "int64",
          "type": "string"
        },
        "reservationUsage": {
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              },
              "slotMs": {
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "format": "int64",
                "type": "string"
              }
            }
          }
        },
        "load": {
          "$ref": "JobStatistics3",
          "description": "[Output-only] Statistics for a load job."
        },
        "extract": {
          "$ref": "JobStatistics4",
          "description": "[Output-only] Statistics for an extract job."
        },
        "endTime": {
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.",
          "format": "int64",
          "type": "string"
        },
        "completionRatio": {
          "type": "number",
          "description": "[TrustedTester] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs.",
          "format": "double"
        },
        "startTime": {
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.",
          "format": "int64",
          "type": "string"
        },
        "query": {
          "description": "[Output-only] Statistics for a query job.",
          "$ref": "JobStatistics2"
        },
        "scriptStatistics": {
          "$ref": "ScriptStatistics",
          "description": "[Output-only] Statistics for a child job of a script."
        },
        "totalBytesProcessed": {
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Row": {
      "description": "A single row in the confusion matrix.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Info describing predicted label distribution.",
          "type": "array",
          "items": {
            "$ref": "Entry"
          }
        },
        "actualLabel": {
          "type": "string",
          "description": "The original label of this row."
        }
      },
      "id": "Row"
    },
    "RegressionMetrics": {
      "id": "RegressionMetrics",
      "description": "Evaluation metrics for regression and explicit feedback type matrix\nfactorization models.",
      "type": "object",
      "properties": {
        "medianAbsoluteError": {
          "description": "Median absolute error.",
          "format": "double",
          "type": "number"
        },
        "meanSquaredLogError": {
          "type": "number",
          "description": "Mean squared log error.",
          "format": "double"
        },
        "meanAbsoluteError": {
          "description": "Mean absolute error.",
          "format": "double",
          "type": "number"
        },
        "meanSquaredError": {
          "description": "Mean squared error.",
          "format": "double",
          "type": "number"
        },
        "rSquared": {
          "description": "R^2 score.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ArimaModelInfo": {
      "description": "Arima model information.",
      "type": "object",
      "properties": {
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "$ref": "ArimaOrder"
        },
        "arimaCoefficients": {
          "$ref": "ArimaCoefficients",
          "description": "Arima coefficients."
        },
        "arimaFittingMetrics": {
          "$ref": "ArimaFittingMetrics",
          "description": "Arima fitting metrics."
        }
      },
      "id": "ArimaModelInfo"
    },
    "JsonValue": {
      "type": "any",
      "id": "JsonValue"
    },
    "GetQueryResultsResponse": {
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "TableSchema",
          "description": "The schema of the results. Present only when the query completes successfully."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          },
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful."
        },
        "totalBytesProcessed": {
          "description": "The total number of bytes processed for this query.",
          "format": "int64",
          "type": "string"
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64",
          "type": "string"
        },
        "jobComplete": {
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
          "type": "boolean"
        },
        "totalRows": {
          "type": "string",
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.",
          "format": "uint64"
        },
        "rows": {
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        },
        "pageToken": {
          "description": "A token used for paging results.",
          "type": "string"
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#getQueryResultsResponse"
        },
        "etag": {
          "description": "A hash of this response.",
          "type": "string"
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        },
        "cacheHit": {
          "description": "Whether the query result was fetched from the query cache.",
          "type": "boolean"
        }
      },
      "id": "GetQueryResultsResponse"
    },
    "JobList": {
      "id": "JobList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#jobList"
        },
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        },
        "jobs": {
          "description": "List of jobs that were requested.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "user_email": {
                "description": "[Full-projection-only] Email address of the user who ran the job.",
                "type": "string"
              },
              "errorResult": {
                "$ref": "ErrorProto",
                "description": "A result object that will be present only if the job has failed."
              },
              "kind": {
                "description": "The resource type.",
                "type": "string",
                "default": "bigquery#job"
              },
              "jobReference": {
                "$ref": "JobReference",
                "description": "Job reference uniquely identifying the job."
              },
              "status": {
                "$ref": "JobStatus",
                "description": "[Full-projection-only] Describes the state of the job."
              },
              "state": {
                "description": "Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed.",
                "type": "string"
              },
              "statistics": {
                "$ref": "JobStatistics",
                "description": "[Output-only] Information about the job, including starting time and ending time of the job."
              },
              "id": {
                "description": "Unique opaque ID of the job.",
                "type": "string"
              },
              "configuration": {
                "$ref": "JobConfiguration",
                "description": "[Full-projection-only] Specifies the job configuration."
              }
            }
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      }
    },
    "TableDataList": {
      "type": "object",
      "properties": {
        "rows": {
          "description": "Rows of results.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        },
        "pageToken": {
          "type": "string",
          "description": "A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing."
        },
        "kind": {
          "type": "string",
          "default": "bigquery#tableDataList",
          "description": "The resource type of the response."
        },
        "totalRows": {
          "type": "string",
          "description": "The total number of rows in the complete table.",
          "format": "int64"
        },
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        }
      },
      "id": "TableDataList"
    },
    "JobStatistics2": {
      "id": "JobStatistics2",
      "type": "object",
      "properties": {
        "modelTraining": {
          "description": "[Output-only, Beta] Information about create model query job progress.",
          "$ref": "BigQueryModelTraining"
        },
        "referencedRoutines": {
          "description": "[Output-only] Referenced routines (persistent user-defined functions and stored procedures) for the job.",
          "type": "array",
          "items": {
            "$ref": "RoutineReference"
          }
        },
        "timeline": {
          "type": "array",
          "items": {
            "$ref": "QueryTimelineSample"
          },
          "description": "[Output-only] [Beta] Describes a timeline of job execution."
        },
        "cacheHit": {
          "description": "[Output-only] Whether the query result was fetched from the query cache.",
          "type": "boolean"
        },
        "reservationUsage": {
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "slotMs": {
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "format": "int64",
                "type": "string"
              },
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              }
            }
          }
        },
        "undeclaredQueryParameters": {
          "description": "Standard SQL only: list of undeclared query parameters detected during a dry run validation.",
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          }
        },
        "queryPlan": {
          "type": "array",
          "items": {
            "$ref": "ExplainQueryStage"
          },
          "description": "[Output-only] Describes execution plan for the query."
        },
        "ddlTargetRoutine": {
          "$ref": "RoutineReference",
          "description": "The DDL target routine. Present only for CREATE/DROP FUNCTION/PROCEDURE queries."
        },
        "ddlTargetTable": {
          "description": "The DDL target table. Present only for CREATE/DROP TABLE/VIEW queries.",
          "$ref": "TableReference"
        },
        "totalPartitionsProcessed": {
          "description": "[Output-only] Total number of partitions processed from all partitioned tables referenced in the job.",
          "format": "int64",
          "type": "string"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Output-only] The schema of the results. Present only for successful dry run of non-legacy SQL queries."
        },
        "modelTrainingExpectedTotalIteration": {
          "description": "[Output-only, Beta] Deprecated; do not use.",
          "format": "int64",
          "type": "string"
        },
        "estimatedBytesProcessed": {
          "description": "[Output-only] The original estimate of bytes processed for the job.",
          "format": "int64",
          "type": "string"
        },
        "referencedTables": {
          "description": "[Output-only] Referenced tables for the job. Queries that reference more than 50 tables will not have a complete list.",
          "type": "array",
          "items": {
            "$ref": "TableReference"
          }
        },
        "modelTrainingCurrentIteration": {
          "description": "[Output-only, Beta] Deprecated; do not use.",
          "format": "int32",
          "type": "integer"
        },
        "totalBytesProcessed": {
          "description": "[Output-only] Total bytes processed for the job.",
          "format": "int64",
          "type": "string"
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64",
          "type": "string"
        },
        "billingTier": {
          "type": "integer",
          "description": "[Output-only] Billing tier for the job.",
          "format": "int32"
        },
        "ddlOperationPerformed": {
          "type": "string",
          "description": "The DDL operation performed, possibly dependent on the pre-existence of the DDL target. Possible values (new values might be added in the future): \"CREATE\": The query created the DDL target. \"SKIP\": No-op. Example cases: the query is CREATE TABLE IF NOT EXISTS while the table already exists, or the query is DROP TABLE IF EXISTS while the table does not exist. \"REPLACE\": The query replaced the DDL target. Example case: the query is CREATE OR REPLACE TABLE, and the table already exists. \"DROP\": The query deleted the DDL target."
        },
        "totalSlotMs": {
          "description": "[Output-only] Slot-milliseconds for the job.",
          "format": "int64",
          "type": "string"
        },
        "statementType": {
          "description": "The type of query statement, if valid. Possible values (new values might be added in the future): \"SELECT\": SELECT query. \"INSERT\": INSERT query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"UPDATE\": UPDATE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"DELETE\": DELETE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"MERGE\": MERGE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"ALTER_TABLE\": ALTER TABLE query. \"ALTER_VIEW\": ALTER VIEW query. \"ASSERT\": ASSERT condition AS 'description'. \"CREATE_FUNCTION\": CREATE FUNCTION query. \"CREATE_MODEL\": CREATE [OR REPLACE] MODEL ... AS SELECT ... . \"CREATE_PROCEDURE\": CREATE PROCEDURE query. \"CREATE_TABLE\": CREATE [OR REPLACE] TABLE without AS SELECT. \"CREATE_TABLE_AS_SELECT\": CREATE [OR REPLACE] TABLE ... AS SELECT ... . \"CREATE_VIEW\": CREATE [OR REPLACE] VIEW ... AS SELECT ... . \"DROP_FUNCTION\" : DROP FUNCTION query. \"DROP_PROCEDURE\": DROP PROCEDURE query. \"DROP_TABLE\": DROP TABLE query. \"DROP_VIEW\": DROP VIEW query.",
          "type": "string"
        },
        "totalBytesBilled": {
          "type": "string",
          "description": "[Output-only] Total bytes billed for the job.",
          "format": "int64"
        },
        "totalBytesProcessedAccuracy": {
          "description": "[Output-only] For dry-run jobs, totalBytesProcessed is an estimate and this field specifies the accuracy of the estimate. Possible values can be: UNKNOWN: accuracy of the estimate is unknown. PRECISE: estimate is precise. LOWER_BOUND: estimate is lower bound of what the query would cost. UPPER_BOUND: estimate is upper bound of what the query would cost.",
          "type": "string"
        }
      }
    },
    "CategoricalValue": {
      "type": "object",
      "properties": {
        "categoryCounts": {
          "description": "Counts of all categories for the categorical feature. If there are\nmore than ten categories, we return top ten (by count) and return\none more CategoryCount with category \"_OTHER_\" and count as\naggregate counts of remaining categories.",
          "type": "array",
          "items": {
            "$ref": "CategoryCount"
          }
        }
      },
      "id": "CategoricalValue",
      "description": "Representative value of a categorical feature."
    },
    "QueryResponse": {
      "type": "object",
      "properties": {
        "schema": {
          "description": "The schema of the results. Present only when the query completes successfully.",
          "$ref": "TableSchema"
        },
        "errors": {
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          }
        },
        "rows": {
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        },
        "pageToken": {
          "description": "A token used for paging results.",
          "type": "string"
        },
        "kind": {
          "description": "The resource type.",
          "type": "string",
          "default": "bigquery#queryResponse"
        },
        "totalRows": {
          "type": "string",
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results.",
          "format": "uint64"
        },
        "totalBytesProcessed": {
          "type": "string",
          "description": "The total number of bytes processed for this query. If this query was a dry run, this is the number of bytes that would be processed if the query were run.",
          "format": "int64"
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64",
          "type": "string"
        },
        "jobComplete": {
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
          "type": "boolean"
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        },
        "cacheHit": {
          "description": "Whether the query result was fetched from the query cache.",
          "type": "boolean"
        }
      },
      "id": "QueryResponse"
    },
    "ExplainQueryStage": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID for stage within plan.",
          "format": "int64"
        },
        "writeRatioMax": {
          "description": "Relative amount of time the slowest shard spent on writing output.",
          "format": "double",
          "type": "number"
        },
        "endMs": {
          "description": "Stage end time represented as milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "inputStages": {
          "description": "IDs for stages that are inputs to this stage.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "computeMsAvg": {
          "description": "Milliseconds the average shard spent on CPU-bound tasks.",
          "format": "int64",
          "type": "string"
        },
        "computeMsMax": {
          "type": "string",
          "description": "Milliseconds the slowest shard spent on CPU-bound tasks.",
          "format": "int64"
        },
        "readMsMax": {
          "description": "Milliseconds the slowest shard spent reading input.",
          "format": "int64",
          "type": "string"
        },
        "shuffleOutputBytes": {
          "description": "Total number of bytes written to shuffle.",
          "format": "int64",
          "type": "string"
        },
        "parallelInputs": {
          "description": "Number of parallel input segments to be processed.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "description": "Current status for the stage.",
          "type": "string"
        },
        "name": {
          "description": "Human-readable name for stage.",
          "type": "string"
        },
        "computeRatioMax": {
          "description": "Relative amount of time the slowest shard spent on CPU-bound tasks.",
          "format": "double",
          "type": "number"
        },
        "steps": {
          "description": "List of operations within the stage in dependency order (approximately chronological).",
          "type": "array",
          "items": {
            "$ref": "ExplainQueryStep"
          }
        },
        "startMs": {
          "type": "string",
          "description": "Stage start time represented as milliseconds since epoch.",
          "format": "int64"
        },
        "writeMsMax": {
          "description": "Milliseconds the slowest shard spent on writing output.",
          "format": "int64",
          "type": "string"
        },
        "shuffleOutputBytesSpilled": {
          "description": "Total number of bytes written to shuffle and spilled to disk.",
          "format": "int64",
          "type": "string"
        },
        "readMsAvg": {
          "description": "Milliseconds the average shard spent reading input.",
          "format": "int64",
          "type": "string"
        },
        "waitMsAvg": {
          "description": "Milliseconds the average shard spent waiting to be scheduled.",
          "format": "int64",
          "type": "string"
        },
        "recordsRead": {
          "type": "string",
          "description": "Number of records read into the stage.",
          "format": "int64"
        },
        "writeMsAvg": {
          "type": "string",
          "description": "Milliseconds the average shard spent on writing output.",
          "format": "int64"
        },
        "waitRatioMax": {
          "description": "Relative amount of time the slowest shard spent waiting to be scheduled.",
          "format": "double",
          "type": "number"
        },
        "waitMsMax": {
          "description": "Milliseconds the slowest shard spent waiting to be scheduled.",
          "format": "int64",
          "type": "string"
        },
        "writeRatioAvg": {
          "description": "Relative amount of time the average shard spent on writing output.",
          "format": "double",
          "type": "number"
        },
        "computeRatioAvg": {
          "description": "Relative amount of time the average shard spent on CPU-bound tasks.",
          "format": "double",
          "type": "number"
        },
        "completedParallelInputs": {
          "description": "Number of parallel input segments completed.",
          "format": "int64",
          "type": "string"
        },
        "recordsWritten": {
          "description": "Number of records written by the stage.",
          "format": "int64",
          "type": "string"
        },
        "waitRatioAvg": {
          "type": "number",
          "description": "Relative amount of time the average shard spent waiting to be scheduled.",
          "format": "double"
        },
        "readRatioMax": {
          "description": "Relative amount of time the slowest shard spent reading input.",
          "format": "double",
          "type": "number"
        },
        "readRatioAvg": {
          "description": "Relative amount of time the average shard spent reading input.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "ExplainQueryStage"
    },
    "Job": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "JobStatus",
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete."
        },
        "statistics": {
          "$ref": "JobStatistics",
          "description": "[Output-only] Information about the job, including starting time and ending time of the job."
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "id": {
          "description": "[Output-only] Opaque ID field of the job",
          "type": "string"
        },
        "configuration": {
          "$ref": "JobConfiguration",
          "description": "[Required] Describes the job configuration."
        },
        "user_email": {
          "type": "string",
          "description": "[Output-only] Email address of the user who ran the job."
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "type": "string",
          "default": "bigquery#job"
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of this resource."
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "[Optional] Reference describing the unique-per-user name of the job."
        }
      },
      "id": "Job"
    },
    "EncryptionConfiguration": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "[Optional] Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key.",
          "type": "string"
        }
      },
      "id": "EncryptionConfiguration"
    },
    "TableSchema": {
      "id": "TableSchema",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Describes the fields in a table.",
          "type": "array",
          "items": {
            "$ref": "TableFieldSchema"
          }
        }
      }
    },
    "DestinationTableProperties": {
      "id": "DestinationTableProperties",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "[Optional] The labels associated with this table. You can use these to organize and group your tables. This will only be used if the destination table is newly created. If the table already exists and labels are different than the current labels are provided, the job will fail.",
          "type": "object"
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] The friendly name for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current friendly name is provided, the job will fail."
        },
        "description": {
          "type": "string",
          "description": "[Optional] The description for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current description is provided, the job will fail."
        }
      }
    },
    "TrainingOptions": {
      "type": "object",
      "properties": {
        "numClusters": {
          "type": "string",
          "description": "Number of clusters for clustering models.",
          "format": "int64"
        },
        "inputLabelColumns": {
          "description": "Name of input label columns in training data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "learnRateStrategy": {
          "description": "The strategy to determine learn rate for the current iteration.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ]
        },
        "warmStart": {
          "description": "Whether to train a model from the last checkpoint.",
          "type": "boolean"
        },
        "lossType": {
          "description": "Type of loss function used during training run.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ],
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ]
        },
        "dataSplitMethod": {
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ],
          "description": "The data split type for training and evaluation, e.g. RANDOM.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small.\nOtherwise uses RANDOM."
          ]
        },
        "l1Regularization": {
          "description": "L1 regularization coefficient.",
          "format": "double",
          "type": "number"
        },
        "kmeansInitializationMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in\nkmeans_initialization_column.",
            "Initializes with kmeans++."
          ],
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ],
          "description": "The method used to initialize the centroids for kmeans algorithm."
        },
        "distanceType": {
          "description": "Distance type for clustering models.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Eculidean distance.",
            "Cosine distance."
          ],
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ]
        },
        "learnRate": {
          "type": "number",
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "format": "double"
        },
        "optimizationStrategy": {
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ],
          "description": "Optimization strategy for training linear regression models.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ]
        },
        "maxIterations": {
          "description": "The maximum number of iterations in training. Used only for iterative\ntraining algorithms.",
          "format": "int64",
          "type": "string"
        },
        "dataSplitColumn": {
          "description": "The column to split data with. This column won't be used as a\nfeature.\n1. When data_split_method is CUSTOM, the corresponding column should\nbe boolean. The rows with true value tag are eval data, and the false\nare training data.\n2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION\nrows (from smallest to largest) in the corresponding column are used\nas training data, and the rest are eval data. It respects the order\nin Orderable data types:\nhttps://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#data-type-properties",
          "type": "string"
        },
        "labelClassWeights": {
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "description": "Weights associated with each label class, for rebalancing the\ntraining data. Only applicable for classification models.",
          "type": "object"
        },
        "l2Regularization": {
          "description": "L2 regularization coefficient.",
          "format": "double",
          "type": "number"
        },
        "earlyStop": {
          "description": "Whether to stop early when the loss doesn't improve significantly\nany more (compared to min_relative_progress). Used only for iterative\ntraining algorithms.",
          "type": "boolean"
        },
        "dataSplitEvalFraction": {
          "description": "The fraction of evaluation data over the whole input data. The rest\nof data will be used as training data. The format should be double.\nAccurate to two decimal places.\nDefault value is 0.2.",
          "format": "double",
          "type": "number"
        },
        "modelUri": {
          "description": "[Beta] Google Cloud Storage URI from which the model was imported. Only\napplicable for imported models.",
          "type": "string"
        },
        "minRelativeProgress": {
          "type": "number",
          "description": "When early_stop is true, stops training when accuracy improvement is\nless than 'min_relative_progress'. Used only for iterative training\nalgorithms.",
          "format": "double"
        },
        "initialLearnRate": {
          "type": "number",
          "description": "Specifies the initial learning rate for the line search learn rate\nstrategy.",
          "format": "double"
        },
        "kmeansInitializationColumn": {
          "description": "The column used to provide the initial centroids for kmeans algorithm\nwhen kmeans_initialization_method is CUSTOM.",
          "type": "string"
        }
      },
      "id": "TrainingOptions"
    },
    "TrainingRun": {
      "description": "Information about a single training query run for the model.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start time of this training run.",
          "format": "google-datetime",
          "type": "string"
        },
        "results": {
          "description": "Output of each iteration run, results.size() \u003c= max_iterations.",
          "type": "array",
          "items": {
            "$ref": "IterationResult"
          }
        },
        "evaluationMetrics": {
          "description": "The evaluation metrics over training/eval data that were computed at the\nend of training.",
          "$ref": "EvaluationMetrics"
        },
        "trainingOptions": {
          "$ref": "TrainingOptions",
          "description": "Options that were used for this training run, includes\nuser specified and default options that were used."
        },
        "dataSplitResult": {
          "$ref": "DataSplitResult",
          "description": "Data split result of the training run. Only set when the input data is\nactually split."
        }
      },
      "id": "TrainingRun"
    },
    "Routine": {
      "type": "object",
      "properties": {
        "lastModifiedTime": {
          "type": "string",
          "description": "Output only. The time when this routine was last modified, in milliseconds\nsince the epoch.",
          "format": "int64"
        },
        "language": {
          "description": "Optional. Defaults to \"SQL\".",
          "type": "string",
          "enumDescriptions": [
            "",
            "SQL language.",
            "JavaScript language."
          ],
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "SQL",
            "JAVASCRIPT"
          ]
        },
        "returnType": {
          "$ref": "StandardSqlDataType",
          "description": "Optional if language = \"SQL\"; required otherwise.\n\nIf absent, the return type is inferred from definition_body at query time\nin each query that references this routine. If present, then the evaluated\nresult will be cast to the specified returned type at query time.\n\nFor example, for the functions created with the following statements:\n\n* `CREATE FUNCTION Add(x FLOAT64, y FLOAT64) RETURNS FLOAT64 AS (x + y);`\n\n* `CREATE FUNCTION Increment(x FLOAT64) AS (Add(x, 1));`\n\n* `CREATE FUNCTION Decrement(x FLOAT64) RETURNS FLOAT64 AS (Add(x, -1));`\n\nThe return_type is `{type_kind: \"FLOAT64\"}` for `Add` and `Decrement`, and\nis absent for `Increment` (inferred as FLOAT64 at query time).\n\nSuppose the function `Add` is replaced by\n  `CREATE OR REPLACE FUNCTION Add(x INT64, y INT64) AS (x + y);`\n\nThen the inferred return type of `Increment` is automatically changed to\nINT64 at query time, while the return type of `Decrement` remains FLOAT64."
        },
        "description": {
          "description": "Optional. [Experimental] The description of the routine if defined.",
          "type": "string"
        },
        "definitionBody": {
          "description": "Required. The body of the routine.\n\nFor functions, this is the expression in the AS clause.\n\nIf language=SQL, it is the substring inside (but excluding) the\nparentheses. For example, for the function created with the following\nstatement:\n\n`CREATE FUNCTION JoinLines(x string, y string) as (concat(x, \"\\n\", y))`\n\nThe definition_body is `concat(x, \"\\n\", y)` (\\n is not replaced with\nlinebreak).\n\nIf language=JAVASCRIPT, it is the evaluated string in the AS clause.\nFor example, for the function created with the following statement:\n\n`CREATE FUNCTION f() RETURNS STRING LANGUAGE js AS 'return \"\\n\";\\n'`\n\nThe definition_body is\n\n`return \"\\n\";\\n`\n\nNote that both \\n are replaced with linebreaks.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. A hash of this resource."
        },
        "routineType": {
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE"
          ],
          "description": "Required. The type of routine.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Non-builtin permanent scalar function.",
            "Stored procedure."
          ]
        },
        "creationTime": {
          "description": "Output only. The time when this routine was created, in milliseconds since\nthe epoch.",
          "format": "int64",
          "type": "string"
        },
        "routineReference": {
          "$ref": "RoutineReference",
          "description": "Required. Reference describing the ID of this routine."
        },
        "arguments": {
          "description": "Optional.",
          "type": "array",
          "items": {
            "$ref": "Argument"
          }
        },
        "importedLibraries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. If language = \"JAVASCRIPT\", this field stores the path of the\nimported JAVASCRIPT libraries."
        }
      },
      "id": "Routine",
      "description": "A user-defined function or a stored procedure."
    },
    "UserDefinedFunctionResource": {
      "type": "object",
      "properties": {
        "resourceUri": {
          "description": "[Pick one] A code resource to load from a Google Cloud Storage URI (gs://bucket/path).",
          "type": "string"
        },
        "inlineCode": {
          "description": "[Pick one] An inline resource that contains code for a user-defined function (UDF). Providing a inline code resource is equivalent to providing a URI for a file containing the same code.",
          "type": "string"
        }
      },
      "id": "UserDefinedFunctionResource"
    },
    "AggregateClassificationMetrics": {
      "description": "Aggregate metrics for classification/classifier models. For multi-class\nmodels, the metrics are either macro-averaged or micro-averaged. When\nmacro-averaged, the metrics are calculated for each label and then an\nunweighted average is taken of those values. When micro-averaged, the\nmetric is calculated globally by counting the total number of correctly\npredicted rows.",
      "type": "object",
      "properties": {
        "f1Score": {
          "description": "The F1 score is an average of recall and precision. For multiclass\nthis is a macro-averaged metric.",
          "format": "double",
          "type": "number"
        },
        "precision": {
          "description": "Precision is the fraction of actual positive predictions that had\npositive actual labels. For multiclass this is a macro-averaged\nmetric treating each class as a binary classifier.",
          "format": "double",
          "type": "number"
        },
        "accuracy": {
          "description": "Accuracy is the fraction of predictions given the correct label. For\nmulticlass this is a micro-averaged metric.",
          "format": "double",
          "type": "number"
        },
        "recall": {
          "type": "number",
          "description": "Recall is the fraction of actual positive labels that were given a\npositive prediction. For multiclass this is a macro-averaged metric.",
          "format": "double"
        },
        "threshold": {
          "description": "Threshold at which the metrics are computed. For binary\nclassification models this is the positive class threshold.\nFor multi-class classfication models this is the confidence\nthreshold.",
          "format": "double",
          "type": "number"
        },
        "rocAuc": {
          "description": "Area Under a ROC Curve. For multiclass this is a macro-averaged\nmetric.",
          "format": "double",
          "type": "number"
        },
        "logLoss": {
          "description": "Logarithmic Loss. For multiclass this is a macro-averaged metric.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "AggregateClassificationMetrics"
    },
    "QueryParameter": {
      "id": "QueryParameter",
      "type": "object",
      "properties": {
        "name": {
          "description": "[Optional] If unset, this is a positional parameter. Otherwise, should be unique within a query.",
          "type": "string"
        },
        "parameterType": {
          "$ref": "QueryParameterType",
          "description": "[Required] The type of this parameter."
        },
        "parameterValue": {
          "$ref": "QueryParameterValue",
          "description": "[Required] The value of this parameter."
        }
      }
    },
    "TableRow": {
      "type": "object",
      "properties": {
        "f": {
          "description": "Represents a single row in the result set, consisting of one or more fields.",
          "type": "array",
          "items": {
            "$ref": "TableCell"
          }
        }
      },
      "id": "TableRow"
    },
    "DataSplitResult": {
      "type": "object",
      "properties": {
        "trainingTable": {
          "description": "Table reference of the training data after split.",
          "$ref": "TableReference"
        },
        "evaluationTable": {
          "$ref": "TableReference",
          "description": "Table reference of the evaluation data after split."
        }
      },
      "id": "DataSplitResult",
[...]
