{
  "version": "v1",
  "baseUrl": "https://bigquerydatatransfer.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Transfers data from partner SaaS applications to Google BigQuery on a scheduled, managed basis.",
  "servicePath": "",
  "basePath": "",
  "revision": "20170522",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "id": "bigquerydatatransfer:v1",
  "discoveryVersion": "v1",
  "version_module": "True",
  "schemas": {
    "DataSource": {
      "properties": {
        "dataRefreshType": {
          "type": "string",
          "enumDescriptions": [
            "The data source won't support data auto refresh, which is default value.",
            "The data source supports data auto refresh, and runs will be scheduled\nfor the past few days. Does not allow custom values to be set for each\ntransfer config.",
            "The data source supports data auto refresh, and runs will be scheduled\nfor the past few days. Allows custom values to be set for each transfer\nconfig."
          ],
          "enum": [
            "NONE",
            "SLIDING_WINDOW",
            "CUSTOM_SLIDING_WINDOW"
          ],
          "description": "Specifies whether the data source supports automatic data refresh for the\npast few days, and how it's supported.\nFor some data sources, data might not be complete until a few days later,\nso it's useful to refresh data automatically."
        },
        "parameters": {
          "description": "Data source parameters.",
          "type": "array",
          "items": {
            "$ref": "DataSourceParameter"
          }
        },
        "helpUrl": {
          "type": "string",
          "description": "Url for the help document for this data source."
        },
        "defaultSchedule": {
          "description": "Default data transfer schedule.\nExamples of valid schedules include:\n`1st,3rd monday of month 15:30`,\n`every wed,fri of jan,jun 13:15`, and\n`first sunday of quarter 00:00`.",
          "type": "string"
        },
        "supportsMultipleTransfers": {
          "description": "Indicates whether the data source supports multiple transfers\nto different BigQuery targets.",
          "type": "boolean"
        },
        "statusUpdateDeadlineSeconds": {
          "type": "integer",
          "description": "The number of seconds to wait for a status update from the data source\nbefore BigQuery marks the transfer as failed.",
          "format": "int32"
        },
        "manualRunsDisabled": {
          "description": "Disables backfilling and manual run scheduling\nfor the data source.",
          "type": "boolean"
        },
        "defaultDataRefreshWindowDays": {
          "description": "Default data refresh window on days.\nOnly meaningful when `data_refresh_type` = `SLIDING_WINDOW`.",
          "format": "int32",
          "type": "integer"
        },
        "transferType": {
          "enumDescriptions": [
            "Invalid or Unknown transfer type placeholder.",
            "Batch data transfer.",
            "Streaming data transfer. Streaming data source currently doesn't\nsupport multiple transfer configs per project."
          ],
          "enum": [
            "TRANSFER_TYPE_UNSPECIFIED",
            "BATCH",
            "STREAMING"
          ],
          "description": "Transfer type. Currently supports only batch transfers,\nwhich are transfers that use the BigQuery batch APIs (load or\nquery) to ingest the data.",
          "type": "string"
        },
        "description": {
          "description": "User friendly data source description string.",
          "type": "string"
        },
        "dataSourceId": {
          "description": "Data source id.",
          "type": "string"
        },
        "scopes": {
          "description": "Api auth scopes for which refresh token needs to be obtained. Only valid\nwhen `client_id` is specified. Ignored otherwise. These are scopes needed\nby a data source to prepare data and ingest them into BigQuery,\ne.g., https://www.googleapis.com/auth/bigquery",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Data source resource name.",
          "type": "string"
        },
        "clientId": {
          "description": "Data source client id which should be used to receive refresh token.\nWhen not supplied, no offline credentials are populated for data transfer.",
          "type": "string"
        },
        "authorizationType": {
          "enumDescriptions": [
            "Type unspecified.",
            "Use OAuth 2 authorization codes that can be exchanged\nfor a refresh token on the backend.",
            "Return an authorization code for a given Google+ page that can then be\nexchanged for a refresh token on the backend."
          ],
          "enum": [
            "AUTHORIZATION_TYPE_UNSPECIFIED",
            "AUTHORIZATION_CODE",
            "GOOGLE_PLUS_AUTHORIZATION_CODE"
          ],
          "description": "Indicates the type of authorization.",
          "type": "string"
        },
        "supportsCustomSchedule": {
          "type": "boolean",
          "description": "Specifies whether the data source supports a user defined schedule, or\noperates on the default schedule.\nWhen set to `true`, user can override default schedule."
        },
        "displayName": {
          "description": "User friendly data source name.",
          "type": "string"
        }
      },
      "id": "DataSource",
      "description": "Represents data source metadata. Metadata is sufficient to\nrender UI and request proper OAuth tokens.",
      "type": "object"
    },
    "ScheduleTransferRunsRequest": {
      "id": "ScheduleTransferRunsRequest",
      "description": "A request to schedule transfer runs for a time range.",
      "type": "object",
      "properties": {
        "rangeStartTime": {
          "description": "Start time of the range of transfer runs.",
          "format": "google-datetime",
          "type": "string"
        },
        "rangeEndTime": {
          "description": "End time of the range of transfer runs.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "TransferConfig": {
      "description": "Represents a data transfer configuration. A transfer configuration\ncontains all metadata needed to perform a data transfer. For example,\n`destination_dataset_id` specifies where data should be stored.\nWhen a new transfer configuration is created, the specified\n`destination_dataset_id` is created when needed and shared with the\nappropriate data source service account.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User specified display name for the data transfer.",
          "type": "string"
        },
        "nextRunTime": {
          "description": "Next time when data transfer will run. Output only. Applicable\nonly for batch data transfers.\n@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "disabled": {
          "description": "Is this config disabled. When set to true, no runs are scheduled\nfor a given transfer.",
          "type": "boolean"
        },
        "schedule": {
          "description": "Data transfer schedule in GROC format.\nIf the data source does not support a custom schedule, this should be\nempty. If it is empty, the default value for the data source will be\nused.\nThe specified times are in UTC.\nExamples of valid GROC include:\n`1st,3rd monday of month 15:30`,\n`every wed,fri of jan,jun 13:15`, and\n`first sunday of quarter 00:00`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Data transfer modification time. Ignored by server on input.\n@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "dataRefreshWindowDays": {
          "type": "integer",
          "description": "The number of days to look back to automatically refresh the data.\nFor example, if `data_refresh_window_days = 10`, then every day\nBigQuery reingests data for [today-10, today-1], rather than ingesting data\nfor just [today-1].\nOnly valid if the data source supports the feature. Set the value to  0\nto use the default value.",
          "format": "int32"
        },
        "dataSourceId": {
          "description": "Data source id. Cannot be changed once data transfer is created.",
          "type": "string"
        },
        "status": {
          "enum": [
            "TRANSFER_STATUS_UNSPECIFIED",
            "INACTIVE",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "Status of the most recently updated transfer run.\n@OutputOnly",
          "type": "string",
          "enumDescriptions": [
            "Status placeholder.",
            "Data transfer is inactive.",
            "Data transfer is scheduled and is waiting to be picked up by\ndata transfer backend.",
            "Data transfer is in progress.",
            "Data transfer completed successsfully.",
            "Data transfer failed.",
            "Data transfer is cancelled."
          ]
        },
        "destinationDatasetId": {
          "description": "The BigQuery target dataset id.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the transfer run.\nTransfer run names have the form\n`projects/{project_id}/transferConfigs/{config_id}`.\nWhere `config_id` is usually a uuid, even though it is not\nguaranteed or required. The name is ignored when creating a transfer run.",
          "type": "string"
        },
        "userId": {
          "description": "GaiaID of the user on whose behalf transfer is done. Applicable only\nto data sources that do not support service accounts. When set to 0,\nthe data source service account credentials are used.\n@OutputOnly",
          "format": "int64",
          "type": "string"
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Data transfer specific parameters."
        }
      },
      "id": "TransferConfig"
    },
    "TransferRun": {
      "type": "object",
      "properties": {
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Data transfer specific parameters.",
          "type": "object"
        },
        "endTime": {
          "description": "Time when transfer run ended. Parameter ignored by server for input\nrequests.\n@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Time when transfer run was started. Parameter ignored by server for input\nrequests.\n@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "scheduleTime": {
          "description": "Minimum time after which a transfer run can be started.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Last time the data transfer run status was updated.\n@OutputOnly",
          "format": "google-datetime"
        },
        "schedule": {
          "description": "Describes the schedule of this transfer run if it was created as part of\na regular schedule. For batch transfer runs that are directly created,\nthis is empty.\nNOTE: the system might choose to delay the schedule depending on the\ncurrent load, so `schedule_time` doesn't always matches this.\n@OutputOnly",
          "type": "string"
        },
        "runTime": {
          "description": "For batch transfer runs, specifies the date and time that\ndata should be ingested.",
          "format": "google-datetime",
          "type": "string"
        },
        "dataSourceId": {
          "description": "Data source id.\n@OutputOnly",
          "type": "string"
        },
        "status": {
          "description": "Data transfer run status. Ignored for input requests.\n@OutputOnly",
          "type": "string",
          "enumDescriptions": [
            "Status placeholder.",
            "Data transfer is inactive.",
            "Data transfer is scheduled and is waiting to be picked up by\ndata transfer backend.",
            "Data transfer is in progress.",
            "Data transfer completed successsfully.",
            "Data transfer failed.",
            "Data transfer is cancelled."
          ],
          "enum": [
            "TRANSFER_STATUS_UNSPECIFIED",
            "INACTIVE",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "destinationDatasetId": {
          "description": "The BigQuery target dataset id.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the transfer run.\nTransfer run names have the form\n`projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}`.\nThe name is ignored when creating a transfer run.",
          "type": "string"
        },
        "userId": {
          "description": "The user id for this transfer run.\n@OutputOnly",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "TransferRun",
      "description": "Represents a data transfer run."
    },
    "CheckValidCredsRequest": {
      "description": "A request to determine whether the user has valid credentials. This method\nis used to limit the number of OAuth popups in the user interface. The\nuser id is inferred from the API call context.\nIf the data source has the Google+ authorization type, this method\nreturns false, as it cannot be determined whether the credentials are\nalready valid merely based on the user id.",
      "type": "object",
      "properties": {},
      "id": "CheckValidCredsRequest"
    },
    "CheckValidCredsResponse": {
      "properties": {
        "hasValidCreds": {
          "description": "If set to `true`, the credentials exist and are valid.",
          "type": "boolean"
        }
      },
      "id": "CheckValidCredsResponse",
      "description": "A response indicating whether the credentials exist and are valid.",
      "type": "object"
    },
    "ScheduleTransferRunsResponse": {
      "id": "ScheduleTransferRunsResponse",
      "description": "A response to schedule transfer runs for a time range.",
      "type": "object",
      "properties": {
        "createdRuns": {
          "description": "The transfer runs that were created.",
          "type": "array",
          "items": {
            "$ref": "TransferRun"
          }
        }
      }
    },
    "ListTransferLogsResponse": {
      "description": "The returned list transfer run messages.",
      "type": "object",
      "properties": {
        "transferMessages": {
          "description": "The stored pipeline transfer messages.\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "TransferMessage"
          }
        },
        "nextPageToken": {
          "description": "The next-pagination token. For multiple-page list results,\nthis token can be used as the\n`GetTransferRunLogRequest.page_token`\nto request the next page of list results.\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "ListTransferLogsResponse"
    },
    "TransferMessage": {
      "description": "Represents a user facing message for a particular data transfer run.",
      "type": "object",
      "properties": {
        "messageTime": {
          "description": "Time when message was logged.",
          "format": "google-datetime",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "No severity specified.",
            "Informational message.",
            "Warning message.",
            "Error message."
          ],
          "enum": [
            "MESSAGE_SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "description": "Message severity.",
          "type": "string"
        },
        "messageText": {
          "description": "Message text.",
          "type": "string"
        }
      },
      "id": "TransferMessage"
    },
    "ListDataSourcesResponse": {
      "description": "Returns list of supported data sources and their metadata.",
      "type": "object",
      "properties": {
        "dataSources": {
          "description": "List of supported data sources and their transfer settings.",
          "type": "array",
          "items": {
            "$ref": "DataSource"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next-pagination token. For multiple-page list results,\nthis token can be used as the\n`ListDataSourcesRequest.page_token`\nto request the next page of list results.\n@OutputOnly"
        }
      },
      "id": "ListDataSourcesResponse"
    },
    "DataSourceParameter": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Parameter display name in the user interface.",
          "type": "string"
        },
        "immutable": {
          "type": "boolean",
          "description": "Cannot be changed after initial creation."
        },
        "validationDescription": {
          "description": "Description of the requirements for this field, in case the user input does\nnot fulfill the regex pattern or min/max values.",
          "type": "string"
        },
        "fields": {
          "description": "When parameter is a record, describes child fields.",
          "type": "array",
          "items": {
            "$ref": "DataSourceParameter"
          }
        },
        "maxValue": {
          "description": "For integer and double values specifies maxminum allowed value.",
          "format": "double",
          "type": "number"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "DOUBLE",
            "BOOLEAN",
            "RECORD",
            "PLUS_PAGE"
          ],
          "description": "Parameter type.",
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "String parameter.",
            "Integer parameter (64-bits).\nWill be serialized to json as string.",
            "Double precision floating point parameter.",
            "Boolean parameter.",
            "Record parameter.",
            "Page ID for a Google+ Page."
          ]
        },
        "recurse": {
          "description": "If set to true, schema should be taken from the parent with the same\nparameter_id. Only applicable when parameter type is RECORD.",
          "type": "boolean"
        },
        "description": {
          "description": "Parameter description.",
          "type": "string"
        },
        "allowedValues": {
          "description": "All possible values for the parameter.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minValue": {
          "description": "For integer and double values specifies minimum allowed value.",
          "format": "double",
          "type": "number"
        },
        "validationHelpUrl": {
          "description": "URL to a help document to further explain the naming requirements.",
          "type": "string"
        },
        "validationRegex": {
          "description": "Regular expression which can be used for parameter validation.",
          "type": "string"
        },
        "paramId": {
          "description": "Parameter identifier.",
          "type": "string"
        },
        "required": {
          "type": "boolean",
          "description": "Is parameter required."
        },
        "repeated": {
          "description": "Can parameter have multiple values.",
          "type": "boolean"
        }
      },
      "id": "DataSourceParameter",
      "description": "Represents a data source parameter with validation rules, so that\nparameters can be rendered in the UI. These parameters are given to us by\nsupported data sources, and include all needed information for rendering\nand validation.\nThus, whoever uses this api can decide to generate either generic ui,\nor custom data source specific forms."
    },
    "ListTransferRunsResponse": {
      "description": "The returned list of pipelines in the project.",
      "type": "object",
      "properties": {
        "transferRuns": {
          "description": "The stored pipeline transfer runs.\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "TransferRun"
          }
        },
        "nextPageToken": {
          "description": "The next-pagination token. For multiple-page list results,\nthis token can be used as the\n`ListTransferRunsRequest.page_token`\nto request the next page of list results.\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "ListTransferRunsResponse"
    },
    "IsEnabledRequest": {
      "type": "object",
      "properties": {},
      "id": "IsEnabledRequest",
      "description": "A request to determine whether data transfer is enabled for the project."
    },
    "ListTransferConfigsResponse": {
      "description": "The returned list of pipelines in the project.",
      "type": "object",
      "properties": {
        "transferConfigs": {
          "description": "The stored pipeline transfer configurations.\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "TransferConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next-pagination token. For multiple-page list results,\nthis token can be used as the\n`ListTransferConfigsRequest.page_token`\nto request the next page of list results.\n@OutputOnly"
        }
      },
      "id": "ListTransferConfigsResponse"
    },
    "SetEnabledRequest": {
      "description": "A request to set whether data transfer is enabled or disabled for a project.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether data transfer should be enabled or disabled for the project."
        }
      },
      "id": "SetEnabledRequest"
    },
    "IsEnabledResponse": {
      "description": "A response to indicate whether data transfer is enabled for the project.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Indicates whether the project is enabled.",
          "type": "boolean"
        }
      },
      "id": "IsEnabledResponse"
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "BIGQUERYDATATRANSFER",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        }
      }
    }
  },
  "rootUrl": "https://bigquerydatatransfer.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "bigquerydatatransfer",
  "batchPath": "batch",
  "title": "BigQuery Data Transfer Service API",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "methods": {
        "setEnabled": {
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "The name of the project resource in the form:\n`projects/{project_id}`",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{projectsId}:setEnabled",
          "id": "bigquerydatatransfer.projects.setEnabled",
          "path": "v1/{+name}:setEnabled",
          "request": {
            "$ref": "SetEnabledRequest"
          },
          "description": "Enables or disables data transfer for a project. This\nmethod requires the additional scope of\n'https://www.googleapis.com/auth/cloudplatformprojects'\nto manage the cloud project permissions."
        },
        "isEnabled": {
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "IsEnabledResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the project resource in the form:\n`projects/{project_id}`",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          "flatPath": "v1/projects/{projectsId}:isEnabled",
          "id": "bigquerydatatransfer.projects.isEnabled",
          "path": "v1/{+name}:isEnabled",
          "description": "Returns true if data transfer is enabled for a project.",
          "request": {
            "$ref": "IsEnabledRequest"
          }
        }
      },
      "resources": {
        "dataSources": {
          "methods": {
            "get": {
              "response": {
                "$ref": "DataSource"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The field will contain name of the resource requested, for example:\n`projects/{project_id}/dataSources/{data_source_id}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery"
              ],
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}",
              "path": "v1/{+name}",
              "id": "bigquerydatatransfer.projects.dataSources.get",
              "description": "Retrieves a supported data source and returns its settings,\nwhich can be used for UI rendering."
            },
            "list": {
              "id": "bigquerydatatransfer.projects.dataSources.list",
              "path": "v1/{+parent}/dataSources",
              "description": "Lists supported data sources and returns their settings,\nwhich can be used for UI rendering.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListDataSourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "The BigQuery project id for which data sources should be returned.\nMust be in the form: `projects/{project_id}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Pagination token, which can be used to request a specific page\nof `ListDataSourcesRequest` list results. For multiple-page\nresults, `ListDataSourcesResponse` outputs\na `next_page` token, which can be used as the\n`page_token` value to request the next page of list results.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/dataSources"
            },
            "checkValidCreds": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                  "location": "path",
                  "description": "The data source in the form:\n`projects/{project_id}/dataSources/{data_source_id}`",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery"
              ],
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}:checkValidCreds",
              "id": "bigquerydatatransfer.projects.dataSources.checkValidCreds",
              "path": "v1/{+name}:checkValidCreds",
              "request": {
                "$ref": "CheckValidCredsRequest"
              },
              "description": "Returns true if valid credentials exist for the given data source and\nrequesting user.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CheckValidCredsResponse"
              }
            }
          }
        },
        "transferConfigs": {
          "resources": {
            "runs": {
              "methods": {
                "get": {
                  "description": "Returns information about the particular transfer run.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "TransferRun"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                      "location": "path",
                      "description": "The field will contain name of the resource requested, for example:\n`projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery"
                  ],
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.get",
                  "path": "v1/{+name}"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs",
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.list",
                  "path": "v1/{+parent}/runs",
                  "description": "Returns information about running and completed jobs.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListTransferRunsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Name of transfer configuration for which transfer runs should be retrieved.\nFormat of transfer configuration resource name is:\n`projects/{project_id}/transferConfigs/{config_id}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Pagination token, which can be used to request a specific page\nof `ListTransferRunsRequest` list results. For multiple-page\nresults, `ListTransferRunsResponse` outputs\na `next_page` token, which can be used as the\n`page_token` value to request the next page of list results.",
                      "type": "string",
                      "location": "query"
                    },
                    "statuses": {
                      "enum": [
                        "TRANSFER_STATUS_UNSPECIFIED",
                        "INACTIVE",
                        "PENDING",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELLED"
                      ],
                      "description": "When specified, only transfer runs with requested statuses are returned.",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "runAttempt": {
                      "enum": [
                        "RUN_ATTEMPT_UNSPECIFIED",
                        "LATEST"
                      ],
                      "description": "Indicates how run attempts are to be pulled.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes the specified transfer run.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The field will contain name of the resource requested, for example:\n`projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery"
                  ],
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "path": "v1/{+name}",
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.delete"
                }
              },
              "resources": {
                "transferLogs": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListTransferLogsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "location": "path",
                          "description": "Transfer run name in the form:\n`projects/{project_id}/transferConfigs/{config_Id}/runs/{run_id}`.",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Pagination token, which can be used to request a specific page\nof `ListTransferLogsRequest` list results. For multiple-page\nresults, `ListTransferLogsResponse` outputs\na `next_page` token, which can be used as the\n`page_token` value to request the next page of list results.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Page size. The default page size is the maximum value of 1000 results.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "messageTypes": {
                          "location": "query",
                          "enum": [
                            "MESSAGE_SEVERITY_UNSPECIFIED",
                            "INFO",
                            "WARNING",
                            "ERROR"
                          ],
                          "description": "Message types to return. If not populated - INFO, WARNING and ERROR\nmessages are returned.",
                          "type": "string",
                          "repeated": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                      "path": "v1/{+parent}/transferLogs",
                      "id": "bigquerydatatransfer.projects.transferConfigs.runs.transferLogs.list",
                      "description": "Returns user facing log messages for the data transfer run."
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "patch": {
              "request": {
                "$ref": "TransferConfig"
              },
              "description": "Updates a data transfer configuration.\nAll fields must be set, even if they are not updated.",
              "response": {
                "$ref": "TransferConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "Required list of fields to be updated in this request.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "location": "path",
                  "description": "The resource name of the transfer run.\nTransfer run names have the form\n`projects/{project_id}/transferConfigs/{config_id}`.\nWhere `config_id` is usually a uuid, even though it is not\nguaranteed or required. The name is ignored when creating a transfer run."
                },
                "authorizationCode": {
                  "location": "query",
                  "description": "Optional OAuth2 authorization code to use with this transfer configuration.\nIf it is provided, the transfer configuration will be associated with the\ngaia id of the authorizing user.\nIn order to obtain authorization_code, please make a\nrequest to\nhttps://www.gstatic.com/bigquerydatatransfer/oauthz/auth?client_id=\u003cdatatransferapiclientid\u003e&scope=\u003cdata_source_scopes\u003e&redirect_uri=\u003credirect_uri\u003e\n\n* client_id should be OAuth client_id of BigQuery DTS API for the given\n  data source returned by ListDataSources method.\n* data_source_scopes are the scopes returned by ListDataSources method.\n* redirect_uri is an optional parameter. If not specified, then\n  authorization code is posted to the opener of authorization flow window.\n  Otherwise it will be sent to the redirect uri. A special value of\n  urn:ietf:wg:oauth:2.0:oob means that authorization code should be\n  returned in the title bar of the browser, with the page text prompting\n  the user to copy the code and paste it in the application.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery"
              ],
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "path": "v1/{+name}",
              "id": "bigquerydatatransfer.projects.transferConfigs.patch"
            },
            "get": {
              "path": "v1/{+name}",
              "id": "bigquerydatatransfer.projects.transferConfigs.get",
              "description": "Returns information about a data transfer config.",
              "response": {
                "$ref": "TransferConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The field will contain name of the resource requested, for example:\n`projects/{project_id}/transferConfigs/{config_id}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery"
              ],
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}"
            },
            "delete": {
              "id": "bigquerydatatransfer.projects.transferConfigs.delete",
              "path": "v1/{+name}",
              "description": "Deletes a data transfer configuration,\nincluding any associated transfer runs and logs.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery"
              ],
              "parameters": {
                "name": {
                  "description": "The field will contain name of the resource requested, for example:\n`projects/{project_id}/transferConfigs/{config_id}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}"
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "path": "v1/{+parent}/transferConfigs",
              "id": "bigquerydatatransfer.projects.transferConfigs.list",
              "description": "Returns information about all data transfers in the project.",
              "response": {
                "$ref": "ListTransferConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Pagination token, which can be used to request a specific page\nof `ListTransfersRequest` list results. For multiple-page\nresults, `ListTransfersResponse` outputs\na `next_page` token, which can be used as the\n`page_token` value to request the next page of list results."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The BigQuery project id for which data sources\nshould be returned: `projects/{project_id}`.",
                  "required": true,
                  "type": "string"
                },
                "dataSourceIds": {
                  "description": "When specified, only configurations of requested data sources are returned.",
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery"
              ]
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "path": "v1/{+parent}/transferConfigs",
              "id": "bigquerydatatransfer.projects.transferConfigs.create",
              "description": "Creates a new data transfer configuration.",
              "request": {
                "$ref": "TransferConfig"
              },
              "response": {
                "$ref": "TransferConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery"
              ],
              "parameters": {
                "authorizationCode": {
                  "location": "query",
                  "description": "Optional OAuth2 authorization code to use with this transfer configuration.\nThis is required if new credentials are needed, as indicated by\n`CheckValidCreds`.\nIn order to obtain authorization_code, please make a\nrequest to\nhttps://www.gstatic.com/bigquerydatatransfer/oauthz/auth?client_id=\u003cdatatransferapiclientid\u003e&scope=\u003cdata_source_scopes\u003e&redirect_uri=\u003credirect_uri\u003e\n\n* client_id should be OAuth client_id of BigQuery DTS API for the given\n  data source returned by ListDataSources method.\n* data_source_scopes are the scopes returned by ListDataSources method.\n* redirect_uri is an optional parameter. If not specified, then\n  authorization code is posted to the opener of authorization flow window.\n  Otherwise it will be sent to the redirect uri. A special value of\n  urn:ietf:wg:oauth:2.0:oob means that authorization code should be\n  returned in the title bar of the browser, with the page text prompting\n  the user to copy the code and paste it in the application.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The BigQuery project id where the transfer configuration should be created.",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "scheduleRuns": {
              "description": "Creates transfer runs for a time range [range_start_time, range_end_time].\nFor each date - or whatever granularity the data source supports - in the\nrange, one transfer run is created.\nNote that runs are created per UTC time in the time range.",
              "request": {
                "$ref": "ScheduleTransferRunsRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ScheduleTransferRunsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Transfer configuration name in the form:\n`projects/{project_id}/transferConfigs/{config_id}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
              "id": "bigquerydatatransfer.projects.transferConfigs.scheduleRuns",
              "path": "v1/{+parent}:scheduleRuns"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "pp": {
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  }
}
