{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "datasets": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the requested dataset",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the requested dataset",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.datasets.get",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Returns the dataset specified by datasetID."
        },
        "patch": {
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the dataset being updated"
            },
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.patch"
        },
        "update": {
          "request": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the dataset being updated"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.update"
        },
        "delete": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.delete",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "deleteContents": {
              "type": "boolean",
              "location": "query",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the dataset being deleted"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of dataset being deleted",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "response": {
            "$ref": "DatasetList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of results to return",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the datasets to be listed",
              "type": "string",
              "required": true
            },
            "all": {
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones",
              "type": "boolean"
            },
            "filter": {
              "location": "query",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets",
          "id": "bigquery.datasets.list",
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role."
        },
        "insert": {
          "parameters": {
            "projectId": {
              "description": "Project ID of the new dataset",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.insert",
          "path": "projects/{projectId}/datasets",
          "request": {
            "$ref": "Dataset"
          },
          "description": "Creates a new empty dataset.",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "Dataset"
          }
        }
      }
    },
    "models": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the model to delete.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the model to delete.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Model ID of the model to delete.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.delete",
          "description": "Deletes the model specified by modelId from the dataset.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "DELETE"
        },
        "get": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.get",
          "description": "Gets the specified model resource by model ID.",
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Project ID of the requested model.",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Dataset ID of the requested model.",
              "required": true,
              "type": "string"
            },
            "modelId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Model ID of the requested model."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "description": "Lists all models in the specified dataset. Requires the READER dataset\nrole.",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the models to list.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results per page.",
              "format": "uint32"
            },
            "datasetId": {
              "description": "Dataset ID of the models to list.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call to request the next page of\nresults"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "id": "bigquery.models.list"
        },
        "patch": {
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Project ID of the model to patch."
            },
            "datasetId": {
              "description": "Dataset ID of the model to patch.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "modelId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Model ID of the model to patch."
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.patch",
          "request": {
            "$ref": "Model"
          },
          "description": "Patch specific fields in the specified model."
        }
      }
    },
    "jobs": {
      "methods": {
        "query": {
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "request": {
            "$ref": "QueryRequest"
          },
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project billed for the query"
            }
          },
          "path": "projects/{projectId}/queries",
          "id": "bigquery.jobs.query"
        },
        "list": {
          "path": "projects/{projectId}/jobs",
          "id": "bigquery.jobs.list",
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "response": {
            "$ref": "JobList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "allUsers": {
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "type": "boolean"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32"
            },
            "maxCreationTime": {
              "type": "string",
              "location": "query",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "format": "uint64"
            },
            "stateFilter": {
              "location": "query",
              "description": "Filter for job state",
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ]
            },
            "projection": {
              "location": "query",
              "enum": [
                "full",
                "minimal"
              ],
              "description": "Restrict information returned to a set of selected fields",
              "type": "string",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ]
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the jobs to list"
            },
            "minCreationTime": {
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64",
              "type": "string",
              "location": "query"
            }
          }
        },
        "getQueryResults": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "timeoutMs": {
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to read",
              "format": "uint32",
              "type": "integer"
            },
            "jobId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Job ID of the query job"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Project ID of the query job"
            },
            "startIndex": {
              "location": "query",
              "description": "Zero-based index of the starting row",
              "format": "uint64",
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.jobs.getQueryResults",
          "path": "projects/{projectId}/queries/{jobId}",
          "description": "Retrieves the results of a query job."
        },
        "cancel": {
          "response": {
            "$ref": "JobCancelResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "location": {
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "jobId": {
              "description": "[Required] Job ID of the job to cancel",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Project ID of the job to cancel"
            }
          },
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "id": "bigquery.jobs.cancel",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs."
        },
        "insert": {
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "request": {
            "$ref": "Job"
          },
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Job"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that will be billed for the job"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "path": "projects/{projectId}/jobs",
          "id": "bigquery.jobs.insert"
        },
        "get": {
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "response": {
            "$ref": "Job"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "jobId": {
              "description": "[Required] Job ID of the requested job",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Project ID of the requested job"
            }
          },
          "path": "projects/{projectId}/jobs/{jobId}",
          "id": "bigquery.jobs.get"
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "path": "projects",
          "id": "bigquery.projects.list",
          "description": "Lists all projects to which you have been granted any project role.",
          "response": {
            "$ref": "ProjectList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            }
          }
        },
        "getServiceAccount": {
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID for which the service account is requested."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/serviceAccount",
          "id": "bigquery.projects.getServiceAccount"
        }
      }
    },
    "tabledata": {
      "methods": {
        "list": {
          "id": "bigquery.tabledata.list",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "httpMethod": "GET",
          "response": {
            "$ref": "TableDataList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the table to read"
            },
            "projectId": {
              "description": "Project ID of the table to read",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string",
              "location": "query"
            },
            "startIndex": {
              "location": "query",
              "description": "Zero-based index of the starting row to read",
              "format": "uint64",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, identifying the result set",
              "type": "string"
            },
            "tableId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Table ID of the table to read"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "insertAll": {
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "parameters": {
            "tableId": {
              "location": "path",
              "description": "Table ID of the destination table.",
              "type": "string",
              "required": true
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the destination table.",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the destination table.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tabledata.insertAll",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll"
        }
      }
    },
    "tables": {
      "methods": {
        "get": {
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "tableId": {
              "description": "Table ID of the requested table",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "description": "Project ID of the requested table",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the requested table",
              "type": "string",
              "required": true
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tables.get",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}"
        },
        "patch": {
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true
            },
            "projectId": {
              "description": "Project ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to update",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.patch",
          "request": {
            "$ref": "Table"
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics."
        },
        "update": {
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "tableId": {
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the table to update"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the table to update"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.update",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "request": {
            "$ref": "Table"
          }
        },
        "delete": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.delete",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the table to delete",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to delete",
              "type": "string",
              "required": true
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to delete",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "TableList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the tables to list",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the tables to list",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tables.list",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role."
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the new table",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the new table",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "bigquery.tables.insert",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Creates a new, empty table in the dataset.",
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Table"
          }
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "description": "Data format for the response."
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "schemas": {
    "Model": {
      "type": "object",
      "properties": {
        "location": {
          "description": "Output only. The geographic location where the model resides. This value\nis inherited from the dataset.",
          "type": "string"
        },
        "friendlyName": {
          "description": "[Optional] A descriptive name for this model.\n@mutable bigquery.models.patch",
          "type": "string"
        },
        "lastModifiedTime": {
          "description": "Output only. The time when this model was last modified, in millisecs\nsince the epoch.",
          "format": "int64",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "[Optional] The labels associated with this model. You can use these to\norganize and group your models. Label keys and values can be no longer\nthan 63 characters, can only contain lowercase letters, numeric\ncharacters, underscores and dashes. International characters are allowed.\nLabel values are optional. Label keys must start with a letter and each\nlabel in the list must have a different key.\n@mutable bigquery.models.patch",
          "type": "object"
        },
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LINEAR_REGRESSION",
            "LOGISTIC_REGRESSION",
            "KMEANS"
          ],
          "description": "Output only. Type of the model resource.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Linear regression model.",
            "Logistic regression model.",
            "[Beta] K-means clustering model."
          ]
        },
        "labelColumns": {
          "description": "Output only. Label columns that were used to train this model.\nThe output of the model will have a “predicted_” prefix to these columns.",
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        },
        "featureColumns": {
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          },
          "description": "Output only. Input feature columns that were used to train this model."
        },
        "expirationTime": {
          "description": "[Optional] The time when this model expires, in milliseconds since the\nepoch. If not present, the model will persist indefinitely. Expired models\nwill be deleted and their storage reclaimed.  The defaultTableExpirationMs\nproperty of the encapsulating dataset can be used to set a default\nexpirationTime on newly created models.\n@mutable bigquery.models.patch",
          "format": "int64",
          "type": "string"
        },
        "trainingRuns": {
          "type": "array",
          "items": {
            "$ref": "TrainingRun"
          },
          "description": "Output only. Information for all training runs in increasing order of\nstart_time."
        },
        "modelReference": {
          "$ref": "ModelReference",
          "description": "Required. Unique identifier for this model."
        },
        "description": {
          "description": "[Optional] A user-friendly description of this model.\n@mutable bigquery.models.patch",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. A hash of this resource."
        },
        "creationTime": {
          "description": "Output only. The time when this model was created, in millisecs since the\nepoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Model"
    },
    "StandardSqlStructType": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        }
      },
      "id": "StandardSqlStructType"
    },
    "StandardSqlDataType": {
      "id": "StandardSqlDataType",
      "description": "The type of a variable, e.g., a function argument.\nExamples:\nINT64: {type_kind=\"INT64\"}\nARRAY\u003cSTRING\u003e: {type_kind=\"ARRAY\", array_element_type=\"STRING\"}\nSTRUCT\u003cx STRING, y ARRAY\u003cDATE\u003e\u003e:\n  {type_kind=\"STRUCT\",\n   struct_type={fields=[\n     {name=\"x\", type={type_kind=\"STRING\"}},\n     {name=\"y\", type={type_kind=\"ARRAY\", array_element_type=\"DATE\"}}\n   ]}}",
      "type": "object",
      "properties": {
        "structType": {
          "description": "The fields of this struct, in order, if type_kind = \"STRUCT\".",
          "$ref": "StandardSqlStructType"
        },
        "arrayElementType": {
          "$ref": "StandardSqlDataType",
          "description": "The type of the array's elements, if type_kind = \"ARRAY\"."
        },
        "typeKind": {
          "type": "string",
          "enumDescriptions": [
            "Invalid type.",
            "Encoded as a string in decimal format.",
            "Encoded as a boolean \"false\" or \"true\".",
            "Encoded as a number, or string \"NaN\", \"Infinity\" or \"-Infinity\".",
            "Encoded as a string value.",
            "Encoded as a base64 string per RFC 4648, section 4.",
            "Encoded as an RFC 3339 timestamp with mandatory \"Z\" time zone string:\n1985-04-12T23:20:50.52Z",
            "Encoded as RFC 3339 full-date format string: 1985-04-12",
            "Encoded as RFC 3339 partial-time format string: 23:20:50.52",
            "Encoded as RFC 3339 full-date \"T\" partial-time: 1985-04-12T23:20:50.52",
            "Encoded as WKT",
            "Encoded as a decimal string.",
            "Encoded as a list with types matching Type.array_type.",
            "Encoded as a list with fields of type Type.struct_type[i]. List is used\nbecause a JSON object cannot have duplicate field names."
          ],
          "enum": [
            "TYPE_KIND_UNSPECIFIED",
            "INT64",
            "BOOL",
            "FLOAT64",
            "STRING",
            "BYTES",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "DATETIME",
            "GEOGRAPHY",
            "NUMERIC",
            "ARRAY",
            "STRUCT"
          ],
          "description": "Required. The top level type of this field.\nCan be any standard SQL data type (e.g., \"INT64\", \"DATE\", \"ARRAY\")."
        }
      }
    },
    "ModelReference": {
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this model."
        },
        "modelId": {
          "description": "[Required] The ID of the model. The ID must contain only\nletters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum\nlength is 1,024 characters.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this model."
        }
      },
      "id": "ModelReference",
      "description": "Id path of a model."
    },
    "JobStatistics4": {
      "type": "object",
      "properties": {
        "inputBytes": {
          "description": "[Output-only] Number of user bytes extracted into the result. This is the byte count as computed by BigQuery for billing purposes.",
          "format": "int64",
          "type": "string"
        },
        "destinationUriFileCounts": {
          "description": "[Output-only] Number of files per destination URI or URI pattern specified in the extract configuration. These values will be in the same order as the URIs specified in the 'destinationUris' field.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "JobStatistics4"
    },
    "CsvOptions": {
      "type": "object",
      "properties": {
        "encoding": {
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.",
          "type": "string"
        },
        "allowQuotedNewlines": {
          "description": "[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
          "type": "boolean"
        },
        "quote": {
          "type": "string",
          "default": "\"",
          "pattern": ".?",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true."
        },
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.",
          "format": "int64",
          "type": "string"
        },
        "allowJaggedRows": {
          "description": "[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false.",
          "type": "boolean"
        },
        "fieldDelimiter": {
          "type": "string",
          "description": "[Optional] The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',')."
        }
      },
      "id": "CsvOptions"
    },
    "JobConfigurationExtract": {
      "type": "object",
      "properties": {
        "printHeader": {
          "description": "[Optional] Whether to print out a header row in the results. Default is true.",
          "type": "boolean",
          "default": "true"
        },
        "compression": {
          "type": "string",
          "description": "[Optional] The compression type to use for exported files. Possible values include GZIP, DEFLATE, SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported for Avro."
        },
        "destinationUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written."
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "[Required] A reference to the table being exported."
        },
        "destinationFormat": {
          "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON and AVRO. The default value is CSV. Tables with nested or repeated fields cannot be exported as CSV.",
          "type": "string"
        },
        "destinationUri": {
          "type": "string",
          "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written."
        },
        "fieldDelimiter": {
          "description": "[Optional] Delimiter to use between fields in the exported data. Default is ','",
          "type": "string"
        }
      },
      "id": "JobConfigurationExtract"
    },
    "JobReference": {
      "type": "object",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          }
        },
        "projectId": {
          "description": "[Required] The ID of the project containing this job.",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "type": "string"
        },
        "location": {
          "description": "The geographic location of the job. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
          "type": "string"
        }
      },
      "id": "JobReference"
    },
    "JobConfigurationQuery": {
      "type": "object",
      "properties": {
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "type": "boolean",
          "default": "true"
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "createDisposition": {
          "type": "string",
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "maximumBytesBilled": {
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int64",
          "type": "string"
        },
        "schemaUpdateOptions": {
          "description": "Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "priority": {
          "description": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE.",
          "type": "string"
        },
        "allowLargeResults": {
          "type": "boolean",
          "default": "false",
          "description": "[Optional] If true and query uses legacy SQL dialect, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set. For standard SQL queries, this flag is ignored and large results are always allowed. However, you must still set destinationTable when result size exceeds the allowed maximum response size."
        },
        "rangePartitioning": {
          "$ref": "RangePartitioning",
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "parameterMode": {
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.",
          "type": "string"
        },
        "useQueryCache": {
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true.",
          "type": "boolean",
          "default": "true"
        },
        "tableDefinitions": {
          "description": "[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ExternalDataConfiguration"
          }
        },
        "flattenResults": {
          "description": "[Optional] If true and query uses legacy SQL dialect, flattens all nested and repeated fields in the query results. allowLargeResults must be true if this is set to false. For standard SQL queries, this flag is ignored and results are never flattened.",
          "type": "boolean",
          "default": "true"
        },
        "defaultDataset": {
          "description": "[Optional] Specifies the default dataset to use for unqualified table names in the query. Note that this does not alter behavior of unqualified dataset names.",
          "$ref": "DatasetReference"
        },
        "maximumBillingTier": {
          "description": "[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int32",
          "type": "integer",
          "default": "1"
        },
        "preserveNulls": {
          "description": "[Deprecated] This property is deprecated.",
          "type": "boolean"
        },
        "timePartitioning": {
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "TimePartitioning"
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data and uses the schema from the query result. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "[Required] SQL query text to execute. The useLegacySql field can be used to indicate whether the query uses legacy SQL or standard SQL."
        },
        "userDefinedFunctionResources": {
          "type": "array",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "description": "Describes user-defined function resources used in the query."
        },
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Optional] Describes the table where the query results should be stored. If not present, a new table will be created to store the results. This property must be set for large results that exceed the maximum response size."
        },
        "queryParameters": {
          "description": "Query parameters for standard SQL queries.",
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          }
        }
      },
      "id": "JobConfigurationQuery"
    },
    "ClusterInfo": {
      "description": "Information about a single cluster for clustering model.",
      "type": "object",
      "properties": {
        "centroidId": {
          "description": "Centroid id.",
          "format": "int64",
          "type": "string"
        },
        "clusterRadius": {
          "type": "number",
          "description": "Cluster radius, the average distance from centroid\nto each point assigned to the cluster.",
          "format": "double"
        },
        "clusterSize": {
          "description": "Cluster size, the total number of points assigned to the cluster.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ClusterInfo"
    },
    "QueryParameterType": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "[Required] The top level type of this field."
        },
        "structTypes": {
          "description": "[Optional] The types of the fields of this struct, in order, if this is a struct.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "[Optional] The name of this field.",
                "type": "string"
              },
              "description": {
                "description": "[Optional] Human-oriented description of the field.",
                "type": "string"
              },
              "type": {
                "$ref": "QueryParameterType",
                "description": "[Required] The type of this field."
              }
            }
          }
        },
        "arrayType": {
          "description": "[Optional] The type of the array's elements, if this is an array.",
          "$ref": "QueryParameterType"
        }
      },
      "id": "QueryParameterType"
    },
    "TimePartitioning": {
      "type": "object",
      "properties": {
        "expirationMs": {
          "description": "[Optional] Number of milliseconds for which to keep the storage for partitions in the table. The storage in a partition will have an expiration time of its partition time plus this value.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "[Required] The only type supported is DAY, which will generate one partition per day.",
          "type": "string"
        },
        "requirePartitionFilter": {
          "type": "boolean"
        },
        "field": {
          "description": "[Beta] [Optional] If not set, the table is partitioned by pseudo column, referenced via either '_PARTITIONTIME' as TIMESTAMP type, or '_PARTITIONDATE' as DATE type. If field is specified, the table is instead partitioned by this field. The field must be a top-level TIMESTAMP or DATE field. Its mode must be NULLABLE or REQUIRED.",
          "type": "string"
        }
      },
      "id": "TimePartitioning"
    },
    "ViewDefinition": {
      "type": "object",
      "properties": {
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL for this view. The default value is true. If set to false, the view will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ Queries and views that reference this view must use the same flag value.",
          "type": "boolean"
        },
        "query": {
          "description": "[Required] A query that BigQuery executes when the view is referenced.",
          "type": "string"
        },
        "userDefinedFunctionResources": {
          "description": "Describes user-defined function resources used in the query.",
          "type": "array",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          }
        }
      },
      "id": "ViewDefinition"
    },
    "JobStatistics": {
      "type": "object",
      "properties": {
        "query": {
          "$ref": "JobStatistics2",
          "description": "[Output-only] Statistics for a query job."
        },
        "totalBytesProcessed": {
          "type": "string",
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.",
          "format": "int64"
        },
        "numChildJobs": {
          "description": "[Output-only] Number of child jobs executed.",
          "format": "int64",
          "type": "string"
        },
        "totalSlotMs": {
          "description": "[Output-only] Slot-milliseconds for the job.",
          "format": "int64",
          "type": "string"
        },
        "parentJobId": {
          "description": "[Output-only] If this is a child job, the id of the parent.",
          "type": "string"
        },
        "quotaDeferments": {
          "description": "[Output-only] Quotas which delayed this job's start time.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "creationTime": {
          "type": "string",
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.",
          "format": "int64"
        },
        "reservationUsage": {
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "slotMs": {
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "format": "int64",
                "type": "string"
              },
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              }
            }
          }
        },
        "load": {
          "description": "[Output-only] Statistics for a load job.",
          "$ref": "JobStatistics3"
        },
        "extract": {
          "$ref": "JobStatistics4",
          "description": "[Output-only] Statistics for an extract job."
        },
        "endTime": {
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.",
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.",
          "format": "int64",
          "type": "string"
        },
        "completionRatio": {
          "description": "[TrustedTester] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "JobStatistics"
    },
    "BigQueryModelTraining": {
      "type": "object",
      "properties": {
        "expectedTotalIterations": {
          "description": "[Output-only, Beta] Expected number of iterations for the create model query job specified as num_iterations in the input query. The actual total number of iterations may be less than this number due to early stop.",
          "format": "int64",
          "type": "string"
        },
        "currentIteration": {
          "description": "[Output-only, Beta] Index of current ML training iteration. Updated during create model query job to show job progress.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "BigQueryModelTraining"
    },
    "LocationMetadata": {
      "description": "BigQuery-specific metadata about a location. This will be set on\ngoogle.cloud.location.Location.metadata in Cloud Location API\nresponses.",
      "type": "object",
      "properties": {
        "legacyLocationId": {
          "description": "The legacy BigQuery location ID, e.g. “EU” for the “europe” location.\nThis is for any API consumers that need the legacy “US” and “EU” locations.",
          "type": "string"
        }
      },
      "id": "LocationMetadata"
    },
    "ProjectList": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "A hash of the page of results",
          "type": "string"
        },
        "projects": {
          "description": "Projects to which you have at least READ access.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "An opaque ID of this project.",
                "type": "string"
              },
              "projectReference": {
                "$ref": "ProjectReference",
                "description": "A unique reference to this project."
              },
              "friendlyName": {
                "description": "A descriptive name for this project.",
                "type": "string"
              },
              "numericId": {
                "type": "string",
                "description": "The numeric ID of this project.",
                "format": "uint64"
              },
              "kind": {
                "description": "The resource type.",
                "type": "string",
                "default": "bigquery#project"
              }
            }
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of projects in the list.",
          "format": "int32"
        },
        "kind": {
          "description": "The type of list.",
          "type": "string",
          "default": "bigquery#projectList"
        }
      },
      "id": "ProjectList"
    },
    "Row": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "Info describing predicted label distribution.",
          "type": "array",
          "items": {
            "$ref": "Entry"
          }
        },
        "actualLabel": {
          "type": "string",
          "description": "The original label of this row."
        }
      },
      "id": "Row",
      "description": "A single row in the confusion matrix."
    },
    "RegressionMetrics": {
      "type": "object",
      "properties": {
        "rSquared": {
          "description": "R^2 score.",
          "format": "double",
          "type": "number"
        },
        "medianAbsoluteError": {
          "description": "Median absolute error.",
          "format": "double",
          "type": "number"
        },
        "meanSquaredLogError": {
          "description": "Mean squared log error.",
          "format": "double",
          "type": "number"
        },
        "meanAbsoluteError": {
          "type": "number",
          "description": "Mean absolute error.",
          "format": "double"
        },
        "meanSquaredError": {
          "description": "Mean squared error.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "RegressionMetrics",
      "description": "Evaluation metrics for regression models."
    },
    "JsonValue": {
      "type": "any",
      "id": "JsonValue"
    },
    "RoutineReference": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this routine."
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this routine.",
          "type": "string"
        },
        "routineId": {
          "type": "string",
          "description": "[Required] The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters."
        }
      },
      "id": "RoutineReference"
    },
    "GetQueryResultsResponse": {
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "TableRow"
          },
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully."
        },
        "pageToken": {
          "description": "A token used for paging results.",
          "type": "string"
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#getQueryResultsResponse"
        },
        "etag": {
          "type": "string",
          "description": "A hash of this response."
        },
        "cacheHit": {
          "type": "boolean",
          "description": "Whether the query result was fetched from the query cache."
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "The schema of the results. Present only when the query completes successfully."
        },
        "errors": {
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          }
        },
        "totalRows": {
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.",
          "format": "uint64",
          "type": "string"
        },
        "jobComplete": {
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
          "type": "boolean"
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64",
          "type": "string"
        },
        "totalBytesProcessed": {
          "type": "string",
          "description": "The total number of bytes processed for this query.",
          "format": "int64"
        }
      },
      "id": "GetQueryResultsResponse"
    },
    "JobList": {
      "id": "JobList",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "kind": {
          "type": "string",
          "default": "bigquery#jobList",
          "description": "The resource type of the response."
        },
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        },
        "jobs": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "Unique opaque ID of the job.",
                "type": "string"
              },
              "configuration": {
                "$ref": "JobConfiguration",
                "description": "[Full-projection-only] Specifies the job configuration."
              },
              "user_email": {
                "description": "[Full-projection-only] Email address of the user who ran the job.",
                "type": "string"
              },
              "kind": {
                "type": "string",
                "default": "bigquery#job",
                "description": "The resource type."
              },
              "errorResult": {
                "$ref": "ErrorProto",
                "description": "A result object that will be present only if the job has failed."
              },
              "jobReference": {
                "$ref": "JobReference",
                "description": "Job reference uniquely identifying the job."
              },
              "status": {
                "$ref": "JobStatus",
                "description": "[Full-projection-only] Describes the state of the job."
              },
              "state": {
                "type": "string",
                "description": "Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed."
              },
              "statistics": {
                "$ref": "JobStatistics",
                "description": "[Output-only] Information about the job, including starting time and ending time of the job."
              }
            }
          },
          "description": "List of jobs that were requested."
        }
      }
    },
    "IterationResult": {
      "description": "Information about a single iteration of the training run.",
      "type": "object",
      "properties": {
        "learnRate": {
          "description": "Learn rate used for this iteration.",
          "format": "double",
          "type": "number"
        },
        "durationMs": {
          "description": "Time taken to run the iteration in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "clusterInfos": {
          "description": "[Beta] Information about top clusters for clustering models.",
          "type": "array",
          "items": {
            "$ref": "ClusterInfo"
          }
        },
        "trainingLoss": {
          "description": "Loss computed on the training data at the end of iteration.",
          "format": "double",
          "type": "number"
        },
        "evalLoss": {
          "type": "number",
          "description": "Loss computed on the eval data at the end of iteration.",
          "format": "double"
        },
        "index": {
          "description": "Index of the iteration, 0 based.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "IterationResult"
    },
    "TableDataList": {
      "type": "object",
      "properties": {
        "totalRows": {
          "description": "The total number of rows in the complete table.",
          "format": "int64",
          "type": "string"
        },
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        },
        "rows": {
          "description": "Rows of results.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        },
        "pageToken": {
          "description": "A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing.",
          "type": "string"
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#tableDataList"
        }
      },
      "id": "TableDataList"
    },
    "JobStatistics2": {
      "type": "object",
      "properties": {
        "modelTraining": {
          "description": "[Output-only, Beta] Information about create model query job progress.",
          "$ref": "BigQueryModelTraining"
        },
        "timeline": {
          "type": "array",
          "items": {
            "$ref": "QueryTimelineSample"
          },
          "description": "[Output-only] [Beta] Describes a timeline of job execution."
        },
        "cacheHit": {
          "description": "[Output-only] Whether the query result was fetched from the query cache.",
          "type": "boolean"
        },
        "reservationUsage": {
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "slotMs": {
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "format": "int64",
                "type": "string"
              },
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              }
            }
          }
        },
        "undeclaredQueryParameters": {
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          },
          "description": "Standard SQL only: list of undeclared query parameters detected during a dry run validation."
        },
        "queryPlan": {
          "description": "[Output-only] Describes execution plan for the query.",
          "type": "array",
          "items": {
            "$ref": "ExplainQueryStage"
          }
        },
        "ddlTargetRoutine": {
          "$ref": "RoutineReference",
          "description": "The DDL target routine. Present only for CREATE/DROP FUNCTION/PROCEDURE queries."
        },
        "ddlTargetTable": {
          "$ref": "TableReference",
          "description": "The DDL target table. Present only for CREATE/DROP TABLE/VIEW queries."
        },
        "totalPartitionsProcessed": {
          "description": "[Output-only] Total number of partitions processed from all partitioned tables referenced in the job.",
          "format": "int64",
          "type": "string"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Output-only] The schema of the results. Present only for successful dry run of non-legacy SQL queries."
        },
        "modelTrainingExpectedTotalIteration": {
          "type": "string",
          "description": "[Output-only, Beta] Deprecated; do not use.",
          "format": "int64"
        },
        "estimatedBytesProcessed": {
          "description": "[Output-only] The original estimate of bytes processed for the job.",
          "format": "int64",
          "type": "string"
        },
        "referencedTables": {
          "description": "[Output-only] Referenced tables for the job. Queries that reference more than 50 tables will not have a complete list.",
          "type": "array",
          "items": {
            "$ref": "TableReference"
          }
        },
        "modelTrainingCurrentIteration": {
          "description": "[Output-only, Beta] Deprecated; do not use.",
          "format": "int32",
          "type": "integer"
        },
        "totalBytesProcessed": {
          "description": "[Output-only] Total bytes processed for the job.",
          "format": "int64",
          "type": "string"
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64",
          "type": "string"
        },
        "billingTier": {
          "description": "[Output-only] Billing tier for the job.",
          "format": "int32",
          "type": "integer"
        },
        "ddlOperationPerformed": {
          "description": "The DDL operation performed, possibly dependent on the pre-existence of the DDL target. Possible values (new values might be added in the future): \"CREATE\": The query created the DDL target. \"SKIP\": No-op. Example cases: the query is CREATE TABLE IF NOT EXISTS while the table already exists, or the query is DROP TABLE IF EXISTS while the table does not exist. \"REPLACE\": The query replaced the DDL target. Example case: the query is CREATE OR REPLACE TABLE, and the table already exists. \"DROP\": The query deleted the DDL target.",
          "type": "string"
        },
        "totalSlotMs": {
          "description": "[Output-only] Slot-milliseconds for the job.",
          "format": "int64",
          "type": "string"
        },
        "statementType": {
          "description": "The type of query statement, if valid. Possible values (new values might be added in the future): \"SELECT\": SELECT query. \"INSERT\": INSERT query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"UPDATE\": UPDATE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"DELETE\": DELETE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"MERGE\": MERGE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"ALTER_TABLE\": ALTER TABLE query. \"ALTER_VIEW\": ALTER VIEW query. \"CREATE_FUNCTION\": CREATE FUNCTION query. \"CREATE_MODEL\": CREATE [OR REPLACE] MODEL ... AS SELECT ... . \"CREATE_PROCEDURE\": CREATE PROCEDURE query. \"CREATE_TABLE\": CREATE [OR REPLACE] TABLE without AS SELECT. \"CREATE_TABLE_AS_SELECT\": CREATE [OR REPLACE] TABLE ... AS SELECT ... . \"CREATE_VIEW\": CREATE [OR REPLACE] VIEW ... AS SELECT ... . \"DROP_FUNCTION\" : DROP FUNCTION query. \"DROP_PROCEDURE\": DROP PROCEDURE query. \"DROP_TABLE\": DROP TABLE query. \"DROP_VIEW\": DROP VIEW query.",
          "type": "string"
        },
        "totalBytesBilled": {
          "type": "string",
          "description": "[Output-only] Total bytes billed for the job.",
          "format": "int64"
        },
        "totalBytesProcessedAccuracy": {
          "description": "[Output-only] For dry-run jobs, totalBytesProcessed is an estimate and this field specifies the accuracy of the estimate. Possible values can be: UNKNOWN: accuracy of the estimate is unknown. PRECISE: estimate is precise. LOWER_BOUND: estimate is lower bound of what the query would cost. UPPER_BOUND: estimate is upper bound of what the query would cost.",
          "type": "string"
        }
      },
      "id": "JobStatistics2"
    },
    "JobCancelResponse": {
      "id": "JobCancelResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#jobCancelResponse"
        },
        "job": {
          "$ref": "Job",
          "description": "The final state of the job."
        }
      }
    },
    "ProjectReference": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "[Required] ID of the project. Can be either the numeric ID or the assigned ID of the project.",
          "type": "string"
        }
      },
      "id": "ProjectReference"
    },
    "QueryResponse": {
      "id": "QueryResponse",
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "TableSchema",
          "description": "The schema of the results. Present only when the query completes successfully."
        },
        "errors": {
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          }
        },
        "rows": {
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        },
        "pageToken": {
          "description": "A token used for paging results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "bigquery#queryResponse",
          "description": "The resource type."
        },
        "totalRows": {
          "type": "string",
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results.",
          "format": "uint64"
        },
        "totalBytesProcessed": {
          "type": "string",
          "description": "The total number of bytes processed for this query. If this query was a dry run, this is the number of bytes that would be processed if the query were run.",
          "format": "int64"
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64",
          "type": "string"
        },
        "jobComplete": {
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
          "type": "boolean"
        },
        "jobReference": {
          "description": "Reference to the Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults).",
          "$ref": "JobReference"
        },
        "cacheHit": {
          "description": "Whether the query result was fetched from the query cache.",
          "type": "boolean"
        }
      }
    },
    "ExplainQueryStage": {
      "id": "ExplainQueryStage",
      "type": "object",
      "properties": {
        "inputStages": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "IDs for stages that are inputs to this stage."
        },
        "computeMsAvg": {
          "description": "Milliseconds the average shard spent on CPU-bound tasks.",
          "format": "int64",
          "type": "string"
        },
        "computeMsMax": {
          "description": "Milliseconds the slowest shard spent on CPU-bound tasks.",
          "format": "int64",
          "type": "string"
        },
        "readMsMax": {
          "description": "Milliseconds the slowest shard spent reading input.",
          "format": "int64",
          "type": "string"
        },
        "shuffleOutputBytes": {
          "description": "Total number of bytes written to shuffle.",
          "format": "int64",
          "type": "string"
        },
        "parallelInputs": {
          "description": "Number of parallel input segments to be processed.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "description": "Current status for the stage.",
          "type": "string"
        },
        "name": {
          "description": "Human-readable name for stage.",
          "type": "string"
        },
        "computeRatioMax": {
          "description": "Relative amount of time the slowest shard spent on CPU-bound tasks.",
          "format": "double",
          "type": "number"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "ExplainQueryStep"
          },
          "description": "List of operations within the stage in dependency order (approximately chronological)."
        },
        "startMs": {
          "type": "string",
          "description": "Stage start time represented as milliseconds since epoch.",
          "format": "int64"
        },
        "writeMsMax": {
          "type": "string",
          "description": "Milliseconds the slowest shard spent on writing output.",
          "format": "int64"
        },
        "shuffleOutputBytesSpilled": {
          "description": "Total number of bytes written to shuffle and spilled to disk.",
          "format": "int64",
          "type": "string"
        },
        "readMsAvg": {
          "description": "Milliseconds the average shard spent reading input.",
          "format": "int64",
          "type": "string"
        },
        "waitMsAvg": {
          "description": "Milliseconds the average shard spent waiting to be scheduled.",
          "format": "int64",
          "type": "string"
        },
        "recordsRead": {
          "description": "Number of records read into the stage.",
          "format": "int64",
          "type": "string"
        },
        "writeMsAvg": {
          "description": "Milliseconds the average shard spent on writing output.",
          "format": "int64",
          "type": "string"
        },
        "waitRatioMax": {
          "description": "Relative amount of time the slowest shard spent waiting to be scheduled.",
          "format": "double",
          "type": "number"
        },
        "waitMsMax": {
          "description": "Milliseconds the slowest shard spent waiting to be scheduled.",
          "format": "int64",
          "type": "string"
        },
        "writeRatioAvg": {
          "description": "Relative amount of time the average shard spent on writing output.",
          "format": "double",
          "type": "number"
        },
        "computeRatioAvg": {
          "description": "Relative amount of time the average shard spent on CPU-bound tasks.",
          "format": "double",
          "type": "number"
        },
        "completedParallelInputs": {
          "description": "Number of parallel input segments completed.",
          "format": "int64",
          "type": "string"
        },
        "recordsWritten": {
          "description": "Number of records written by the stage.",
          "format": "int64",
          "type": "string"
        },
        "waitRatioAvg": {
          "description": "Relative amount of time the average shard spent waiting to be scheduled.",
          "format": "double",
          "type": "number"
        },
        "readRatioMax": {
          "type": "number",
          "description": "Relative amount of time the slowest shard spent reading input.",
          "format": "double"
        },
        "readRatioAvg": {
          "description": "Relative amount of time the average shard spent reading input.",
          "format": "double",
          "type": "number"
        },
        "id": {
          "type": "string",
          "description": "Unique ID for stage within plan.",
          "format": "int64"
        },
        "writeRatioMax": {
          "description": "Relative amount of time the slowest shard spent on writing output.",
          "format": "double",
          "type": "number"
        },
        "endMs": {
          "description": "Stage end time represented as milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Job": {
      "type": "object",
      "properties": {
        "configuration": {
          "$ref": "JobConfiguration",
          "description": "[Required] Describes the job configuration."
        },
        "user_email": {
          "description": "[Output-only] Email address of the user who ran the job.",
          "type": "string"
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "type": "string",
          "default": "bigquery#job"
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of this resource."
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "[Optional] Reference describing the unique-per-user name of the job."
        },
        "status": {
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete.",
          "$ref": "JobStatus"
        },
        "statistics": {
          "$ref": "JobStatistics",
          "description": "[Output-only] Information about the job, including starting time and ending time of the job."
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "id": {
          "description": "[Output-only] Opaque ID field of the job",
          "type": "string"
        }
      },
      "id": "Job"
    },
    "EncryptionConfiguration": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "[Optional] Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key.",
          "type": "string"
        }
      },
      "id": "EncryptionConfiguration"
    },
    "BigtableOptions": {
      "type": "object",
      "properties": {
        "ignoreUnspecifiedColumnFamilies": {
          "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.",
          "type": "boolean"
        },
        "readRowkeyAsString": {
          "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false.",
          "type": "boolean"
        },
        "columnFamilies": {
[...]
