{
  "kind": "discovery#restDescription",
  "description": "Cloud Search provides cloud-based search capabilities over G Suite data.  The Cloud Search API allows indexing of non-G Suite data into Cloud Search.",
  "servicePath": "",
  "basePath": "",
  "revision": "20181206",
  "id": "cloudsearch:v1",
  "documentationLink": "https://gsuite.google.com/products/cloud-search/",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "IndexItemRequest": {
      "properties": {
        "connectorName": {
          "type": "string",
          "description": "Name of connector making this call.\n\u003cbr /\u003eFormat: datasources/{source_id}/connectors/{ID}"
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Priority is not specified in the update request.\nLeaving priority unspecified results in an update failure.",
            "For real-time updates.",
            "For changes that are executed after the response is sent back to the\ncaller."
          ],
          "enum": [
            "UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Required. The RequestMode for this request."
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "item": {
          "$ref": "Item",
          "description": "Name of the item.  Format:\ndatasources/{source_id}/items/{item_id}"
        }
      },
      "id": "IndexItemRequest",
      "type": "object"
    },
    "QueryInterpretationOptions": {
      "description": "Options to interpret user query.",
      "type": "object",
      "properties": {
        "disableNlInterpretation": {
          "description": "Flag to disable natural language (NL) interpretation of queries. Default is\nfalse, Set to true to disable natural language interpretation. NL\ninterpretation only applies to predefined datasources.",
          "type": "boolean"
        }
      },
      "id": "QueryInterpretationOptions"
    },
    "Snippet": {
      "description": "Snippet of the search result, which summarizes the content of the resulting\npage.",
      "type": "object",
      "properties": {
        "snippet": {
          "description": "The snippet of the document.\nThe snippet of the document. May contain escaped HTML character that\nshould be unescaped prior to rendering.",
          "type": "string"
        },
        "matchRanges": {
          "description": "The matched ranges in the snippet.",
          "type": "array",
          "items": {
            "$ref": "MatchRange"
          }
        }
      },
      "id": "Snippet"
    },
    "DriveFollowUpRestrict": {
      "description": "Drive follow-up search restricts (e.g. \"followup:suggestions\").",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "FOLLOWUP_SUGGESTIONS",
            "FOLLOWUP_ACTION_ITEMS"
          ],
          "type": "string"
        }
      },
      "id": "DriveFollowUpRestrict"
    },
    "DoublePropertyOptions": {
      "description": "Options for double properties.",
      "type": "object",
      "properties": {
        "operatorOptions": {
          "description": "If set, describes how the double should be used as a search operator.",
          "$ref": "DoubleOperatorOptions"
        }
      },
      "id": "DoublePropertyOptions"
    },
    "IntegerValues": {
      "description": "List of integer values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The maximum number of elements is 100.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "IntegerValues"
    },
    "BooleanPropertyOptions": {
      "type": "object",
      "properties": {
        "operatorOptions": {
          "$ref": "BooleanOperatorOptions",
          "description": "If set, describes how the boolean should be used as a search operator."
        }
      },
      "id": "BooleanPropertyOptions",
      "description": "Options for boolean properties."
    },
    "SearchRequest": {
      "id": "SearchRequest",
      "description": "The search API request.",
      "type": "object",
      "properties": {
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Request options, such as the search application and user timezone."
        },
        "dataSourceRestrictions": {
          "description": "The sources to use for querying. If not specified, all data sources\nfrom the current search application are used.",
          "type": "array",
          "items": {
            "$ref": "DataSourceRestriction"
          }
        },
        "sortOptions": {
          "description": "The options for sorting the search results",
          "$ref": "SortOptions"
        },
        "facetOptions": {
          "type": "array",
          "items": {
            "$ref": "FacetOptions"
          }
        },
        "pageSize": {
          "description": "Maximum number of search results to return in one page.\nValid values are between 1 and 100, inclusive.\nDefault value is 10.",
          "format": "int32",
          "type": "integer"
        },
        "query": {
          "type": "string",
          "description": "The raw query string.\nSee supported search operators in the [Cloud search\nCheat\nSheet](https://gsuite.google.com/learning-center/products/cloudsearch/cheat-sheet/)"
        },
        "start": {
          "description": "Starting index of the results.",
          "format": "int32",
          "type": "integer"
        },
        "queryInterpretationOptions": {
          "description": "Options to interpret the user query.",
          "$ref": "QueryInterpretationOptions"
        }
      }
    },
    "CompositeFilter": {
      "type": "object",
      "properties": {
        "logicOperator": {
          "enum": [
            "AND",
            "OR",
            "NOT"
          ],
          "description": "The logic operator of the sub filter.",
          "type": "string",
          "enumDescriptions": [
            "Logical operators, which can only be applied to sub filters.",
            "",
            "NOT can only be applied on a single sub filter."
          ]
        },
        "subFilters": {
          "description": "Sub filters.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        }
      },
      "id": "CompositeFilter"
    },
    "EnumValuePair": {
      "description": "The enumeration value pair defines two things: a required string value and\nan optional integer value. The string value defines the necessary query\nterm required to retrieve that item, such as *p0* for a priority item.\nThe integer value determines the ranking of that string value relative\nto other enumerated values for the same property. For example, you might\nassociate *p0* with *0* and define another enum pair such as *p1* and *1*.\nYou must use the integer value in combination with\nordered\nranking to\nset the ranking of a given value relative to other enumerated values for\nthe same property name. Here, a ranking order of DESCENDING for *priority*\nproperties results in a ranking boost for items indexed with a value of\n*p0* compared to items indexed with a value of *p1*. Without a specified\nranking order, the integer value has no effect on item ranking.",
      "type": "object",
      "properties": {
        "integerValue": {
          "type": "integer",
          "description": "The integer value of the EnumValuePair which must be non-negative.\nOptional.",
          "format": "int32"
        },
        "stringValue": {
          "description": "The string value of the EnumValuePair.\nThe maximum length is 32 characters.",
          "type": "string"
        }
      },
      "id": "EnumValuePair"
    },
    "SearchItemsByViewUrlResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        }
      },
      "id": "SearchItemsByViewUrlResponse"
    },
    "ObjectOptions": {
      "properties": {
        "displayOptions": {
          "$ref": "ObjectDisplayOptions",
          "description": "Options that determine how the object is displayed in the Cloud Search\nresults page."
        },
        "freshnessOptions": {
          "description": "The freshness options for an object.",
          "$ref": "FreshnessOptions"
        }
      },
      "id": "ObjectOptions",
      "description": "The options for an object.",
      "type": "object"
    },
    "DriveTimeSpanRestrict": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "Not Enabled",
            "Not Enabled"
          ],
          "enum": [
            "UNSPECIFIED",
            "TODAY",
            "YESTERDAY",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS"
          ],
          "type": "string"
        }
      },
      "id": "DriveTimeSpanRestrict",
      "description": "The time span search restrict (e.g. \"after:2017-09-11 before:2017-09-12\").",
      "type": "object"
    },
    "DeleteQueueItemsRequest": {
      "type": "object",
      "properties": {
        "connectorName": {
          "description": "Name of connector making this call.\n\u003cbr /\u003eFormat: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "queue": {
          "description": "Name of a queue to delete items from.",
          "type": "string"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        }
      },
      "id": "DeleteQueueItemsRequest"
    },
    "FacetOptions": {
      "description": "Specifies operators to return facet results for. There will be one\nFacetResult for every source_name/object_type/operator_name combination.",
      "type": "object",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Name of the operator chosen for faceting. @see\ncloudsearch.SchemaPropertyOptions"
        },
        "objectType": {
          "description": "If object_type is set, only those objects of that type will be used to\ncompute facets. If empty, then all objects will be used to compute facets.",
          "type": "string"
        },
        "sourceName": {
          "description": "Source name to facet on. Format: datasources/{source_id}\nIf empty, all data sources will be used.",
          "type": "string"
        }
      },
      "id": "FacetOptions"
    },
    "GetDataSourceIndexStatsResponse": {
      "type": "object",
      "properties": {
        "stats": {
          "description": "Summary of indexed item counts, one for each day in the requested range.",
          "type": "array",
          "items": {
            "$ref": "DataSourceIndexStats"
          }
        }
      },
      "id": "GetDataSourceIndexStatsResponse"
    },
    "Person": {
      "description": "Object to represent a person.",
      "type": "object",
      "properties": {
        "photos": {
          "description": "A person's read-only photo. A picture shown next to the person's name to\nhelp others recognize the person in search results.",
          "type": "array",
          "items": {
            "$ref": "Photo"
          }
        },
        "personNames": {
          "description": "The person's name",
          "type": "array",
          "items": {
            "$ref": "Name"
          }
        },
        "emailAddresses": {
          "description": "The person's email addresses",
          "type": "array",
          "items": {
            "$ref": "EmailAddress"
          }
        },
        "name": {
          "description": "The resource name of the person to provide information about.\nSee \u003ca href=\"https://developers.google.com/people/api/rest/v1/people/get\"\u003e\nPeople.get\u003c/a\u003e from Google People API.",
          "type": "string"
        },
        "obfuscatedId": {
          "description": "Obfuscated ID of a person.",
          "type": "string"
        }
      },
      "id": "Person"
    },
    "StructuredResult": {
      "description": "Structured results that are returned as part of search request.",
      "type": "object",
      "properties": {
        "person": {
          "$ref": "Person"
        }
      },
      "id": "StructuredResult"
    },
    "ResultDisplayMetadata": {
      "type": "object",
      "properties": {
        "metalines": {
          "description": "The metalines content to be displayed with the result.",
          "type": "array",
          "items": {
            "$ref": "ResultDisplayLine"
          }
        },
        "objectTypeLabel": {
          "description": "The display label for the object.",
          "type": "string"
        }
      },
      "id": "ResultDisplayMetadata"
    },
    "SpellResult": {
      "properties": {
        "suggestedQuery": {
          "description": "The suggested spelling of the query.",
          "type": "string"
        }
      },
      "id": "SpellResult",
      "type": "object"
    },
    "SearchApplication": {
      "description": "SearchApplication",
      "type": "object",
      "properties": {
        "operationIds": {
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema.\nOutput only field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataSourceRestrictions": {
          "description": "Retrictions applied to the configurations.\nThe maximum number of elements is 10.",
          "type": "array",
          "items": {
            "$ref": "DataSourceRestriction"
          }
        },
        "sourceConfig": {
          "description": "Configuration for a sources specified in data_source_restrictions.",
          "type": "array",
          "items": {
            "$ref": "SourceConfig"
          }
        },
        "defaultSortOptions": {
          "$ref": "SortOptions",
          "description": "The default options for sorting the search results"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the Search Application.\nThe maximum length is 300 characters."
        },
        "defaultFacetOptions": {
          "type": "array",
          "items": {
            "$ref": "FacetOptions"
          },
          "description": "The default fields for returning facet results.\nThe sources specified here also have been included in\ndata_source_restrictions\nabove."
        },
        "scoringConfig": {
          "description": "Configuration for ranking results.",
          "$ref": "ScoringConfig"
        },
        "name": {
          "description": "Name of the Search Application.\n\u003cbr /\u003eFormat: searchapplications/{application_id}.",
          "type": "string"
        }
      },
      "id": "SearchApplication"
    },
    "DoubleOperatorOptions": {
      "description": "Used to provide a search operator for double properties. This is\noptional. Search operators let users restrict the query to specific fields\nrelevant to the type of item being searched.",
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to use the\ndouble property in sorting or as a facet.\nThe operator name can only contain lowercase letters (a-z).\nThe maximum length is 32 characters.",
          "type": "string"
        }
      },
      "id": "DoubleOperatorOptions"
    },
    "EnumOperatorOptions": {
      "description": "Used to provide a search operator for enum properties. This is\noptional. Search operators let users restrict the query to specific fields\nrelevant to the type of item being searched. For example, if you provide no\noperator for a *priority* enum property with possible values *p0* and *p1*,\na query that contains the term *p0* will return items that have *p0* as the\nvalue of the *priority* property, as well as any items that contain the\nstring *p0* in other fields. If you provide an operator name for the enum,\nsuch as *priority*, then search users can use that operator to refine\nresults to only items that have *p0* as this property's value, with the\nquery *priority:p0*.",
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the\nenum property. For example, if operatorName is *priority* and the\nproperty's name is *priorityVal*, then queries like\n*priority:&lt;value&gt;* will show results only where the value of the\nproperty named *priorityVal* matches *&lt;value&gt;*. By contrast, a\nsearch that uses the same *&lt;value&gt;* without an operator will return\nall items where *&lt;value&gt;* matches the value of any String\nproperties or text within the content field for the item.\nThe operator name can only contain lowercase letters (a-z).\nThe maximum length is 32 characters.",
          "type": "string"
        }
      },
      "id": "EnumOperatorOptions"
    },
    "PollItemsRequest": {
      "type": "object",
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "connectorName": {
          "description": "Name of connector making this call.\n\u003cbr /\u003eFormat: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "queue": {
          "description": "Queue name to fetch items from.  If unspecified, PollItems will\nfetch from 'default' queue.\nThe maximum length is 100 characters.",
          "type": "string"
        },
        "limit": {
          "description": "Maximum number of items to return.\n\u003cbr /\u003eThe maximum and the default value is 1000",
          "format": "int32",
          "type": "integer"
        },
        "statusCodes": {
          "enumDescriptions": [
            "Input-only value.  Used with\nItems.list\nto list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item.\nDetails of the error are in\nrepositoryError.",
            "Item has been modified in the repository, and is out of date with\nthe version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by\nCloud Search.\nAn item can be in this state when\nItems.push\nhas been called for\nan item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ],
          "description": "Limit the items polled to the ones with these statuses.",
          "type": "array",
          "items": {
            "enum": [
              "CODE_UNSPECIFIED",
              "ERROR",
              "MODIFIED",
              "NEW_ITEM",
              "ACCEPTED"
            ],
            "type": "string"
          }
        }
      },
      "id": "PollItemsRequest"
    },
    "QuerySuggestion": {
      "description": "A completed query suggestion.",
      "type": "object",
      "properties": {},
      "id": "QuerySuggestion"
    },
    "SearchResponse": {
      "properties": {
        "structuredResults": {
          "type": "array",
          "items": {
            "$ref": "StructuredResult"
          },
          "description": "Structured results for the user query. These results are not counted\nagainst the page_size."
        },
        "spellResults": {
          "description": "Suggested spelling for the query.",
          "type": "array",
          "items": {
            "$ref": "SpellResult"
          }
        },
        "resultCountExact": {
          "description": "The exact result count for this query.",
          "format": "int64",
          "type": "string"
        },
        "queryInterpretation": {
          "$ref": "QueryInterpretation",
          "description": "Query interpretation result for user query. Empty if query interpretation\nis disabled."
        },
        "hasMoreResults": {
          "description": "Whether there are more search results matching the query.",
          "type": "boolean"
        },
        "errorInfo": {
          "description": "Error information about the response.",
          "$ref": "ErrorInfo"
        },
        "results": {
          "description": "Results from a search query.",
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          }
        },
        "resultCountEstimate": {
          "description": "The estimated result count for this query.",
          "format": "int64",
          "type": "string"
        },
        "debugInfo": {
          "$ref": "ResponseDebugInfo",
          "description": "Debugging information about the response."
        },
        "resultCounts": {
          "description": "Expanded result count information.",
          "$ref": "ResultCounts"
        },
        "facetResults": {
          "description": "Repeated facet results.",
          "type": "array",
          "items": {
            "$ref": "FacetResult"
          }
        }
      },
      "id": "SearchResponse",
      "description": "The search API response.",
      "type": "object"
    },
    "PropertyDisplayOptions": {
      "description": "The display options for a property.",
      "type": "object",
      "properties": {
        "displayLabel": {
          "description": "The user friendly label for the property that will be used if the property\nis specified to be displayed in ObjectDisplayOptions. If given, the display\nlabel will be shown in front of the property values when the property is\npart of the object display options. For example, if the property value is\n'1', the value by itself may not be useful context for the user. If the\ndisplay name given was 'priority', then the user will see 'priority : 1' in\nthe search results which provides clear conext to search users. This is\nOPTIONAL; if not given, only the property values will be displayed.\nThe maximum length is 32 characters.",
          "type": "string"
        }
      },
      "id": "PropertyDisplayOptions"
    },
    "ObjectDefinition": {
      "description": "The definition for an object within a data source.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name for the object, which then defines its type. Item indexing requests\nshould set the\nobjectType field\nequal to this value. For example, if *name* is *Document*, then indexing\nrequests for items of type Document should set\nobjectType equal to\n*Document*. Each object definition must be uniquely named within a schema.\nThe name must start with a letter and can only contain letters (A-Z, a-z)\nor numbers (0-9).\nThe maximum length is 256 characters.",
          "type": "string"
        },
        "options": {
          "$ref": "ObjectOptions",
          "description": "The optional object-specific options."
        },
        "propertyDefinitions": {
          "description": "The property definitions for the object.\nThe maximum number of elements is 1000.",
          "type": "array",
          "items": {
            "$ref": "PropertyDefinition"
          }
        }
      },
      "id": "ObjectDefinition"
    },
    "FreshnessOptions": {
      "description": "Indicates which freshness property to use when adjusting search ranking for\nan item. Fresher, more recent dates indicate higher quality. Use the\nfreshness option property that best works with your data. For fileshare\ndocuments, last modified time is most relevant. For calendar event data,\nthe time when the event occurs is a more relevant freshness indicator. In\nthis way, calendar events that occur closer to the time of the search query\nare considered higher quality and ranked accordingly.",
      "type": "object",
      "properties": {
        "freshnessDuration": {
          "description": "The duration (in seconds) after which an object should be considered\nstale.",
          "format": "google-duration",
          "type": "string"
        },
        "freshnessProperty": {
          "description": "This property indicates the freshness level of the object in the index.\nIf set, this property must be a top-level property within the\nproperty definitions\nand it must be a\ntimestamp type\nor\ndate type.\nOtherwise, the Indexing API uses\nupdateTime\nas the freshness indicator.\nThe maximum length is 256 characters.",
          "type": "string"
        }
      },
      "id": "FreshnessOptions"
    },
    "UploadItemRef": {
      "description": "Represents an upload session reference.\nThis reference is created via upload\nmethod.\nUpdating of item content may refer to this uploaded content via\ncontentDataRef.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the content reference.\nThe maximum length is 2048 characters.",
          "type": "string"
        }
      },
      "id": "UploadItemRef"
    },
    "EmailAddress": {
      "description": "A person's email address.",
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "The email address.",
          "type": "string"
        }
      },
      "id": "EmailAddress"
    },
    "HtmlOperatorOptions": {
      "description": "Used to provide a search operator for html properties. This is optional.\nSearch operators let users restrict the query to specific fields relevant\nto the type of item being searched.",
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the\nhtml property. For example, if operatorName is *subject* and the\nproperty's name is *subjectLine*, then queries like\n*subject:&lt;value&gt;* will show results only where the value of the\nproperty named *subjectLine* matches *&lt;value&gt;*. By contrast, a\nsearch that uses the same *&lt;value&gt;* without an operator will return\nall items where *&lt;value&gt;* matches the value of any\nhtml properties or text within the content field for the item.\nThe operator name can only contain lowercase letters (a-z).\nThe maximum length is 32 characters.",
          "type": "string"
        }
      },
      "id": "HtmlOperatorOptions"
    },
    "QueryItem": {
      "description": "Information relevant only to a query entry.",
      "type": "object",
      "properties": {
        "isSynthetic": {
          "description": "True if the text was generated by means other than a previous user search.",
          "type": "boolean"
        }
      },
      "id": "QueryItem"
    },
    "ItemContent": {
      "properties": {
        "inlineContent": {
          "description": "Content that is supplied inlined within the update method.\nThe maximum length is 102400 bytes (100 KiB).",
          "format": "byte",
          "type": "string"
        },
        "contentDataRef": {
          "description": "Upload reference ID of a previously uploaded content via write method.",
          "$ref": "UploadItemRef"
        },
        "contentFormat": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "contentFormat is HTML.",
            "contentFormat is free text.",
            "contentFormat is raw bytes."
          ],
          "enum": [
            "UNSPECIFIED",
            "HTML",
            "TEXT",
            "RAW"
          ]
        },
        "hash": {
          "description": "Hashing info calculated and provided by the API client for content.\nCan be used with the items.push method to calculate modified state.\nThe maximum length is 2048 characters.",
          "type": "string"
        }
      },
      "id": "ItemContent",
      "description": "Content of an item to be indexed and surfaced by Cloud Search.",
      "type": "object"
    },
    "CustomerIndexStats": {
      "description": "Aggregation of items by status code as of the specified date.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Date for which statistics were calculated.",
          "$ref": "Date"
        },
        "itemCountByStatus": {
          "description": "Number of items aggregrated by status code.",
          "type": "array",
          "items": {
            "$ref": "ItemCountByStatus"
          }
        }
      },
      "id": "CustomerIndexStats"
    },
    "SourceCrowdingConfig": {
      "description": "Set search results crowding limits. Crowding is a situation in which\nmultiple results from the same source or host \"crowd out\" other results,\ndiminishing the quality of search for users. To foster better search quality\nand source diversity in search results, you can set a condition to reduce\nrepetitive results by source.",
      "type": "object",
      "properties": {
        "numResults": {
          "description": "Maximum number of results allowed from a source.\nNo limits will be set on results if this value is less than or equal to 0.",
          "format": "int32",
          "type": "integer"
        },
        "field": {
          "description": "Use a field to control results crowding. For example, if you want to\ncontrol overly similar results from Gmail topics, use `thread_id`.\nFor similar pages from Google Sites, you can use `webspace_id`.\nWhen matching query results contain the same field value in\n`GenericMetadata`, crowding limits are set on those records.",
          "type": "string"
        },
        "source": {
          "description": "Control results by content source. This option limits the total number\nof results from a given source and ignores field-based crowding control.",
          "type": "boolean"
        },
        "numSuggestions": {
          "description": "Maximum number of suggestions allowed from a source.\nNo limits will be set on results if this value is less than or equal to 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SourceCrowdingConfig"
    },
    "PushItem": {
      "description": "Represents an item to be pushed to the indexing queue.",
      "type": "object",
      "properties": {
        "contentHash": {
          "description": "Content hash of the item according to the repository. If specified, this is\nused to determine how to modify this\nitem's status. Setting this field and the\ntype field results in argument\nerror.\nThe maximum length is 2048 characters.",
          "type": "string"
        },
        "metadataHash": {
          "description": "Metadata hash of the item according to the repository. If specified, this\nis used to determine how to modify this\nitem's status. Setting this field and the\ntype field results in argument\nerror.\nThe maximum length is 2048 characters.",
          "type": "string"
        },
        "payload": {
          "description": "Provides additional document state information for the connector,\nsuch as an alternate repository ID and other metadata.\nThe maximum length is 8192 bytes.",
          "format": "byte",
          "type": "string"
        },
        "repositoryError": {
          "$ref": "RepositoryError",
          "description": "Populate this field to store Connector or repository error details.\nThis information is displayed in the Admin Console.\nThis field may only be populated when the\nType is\nREPOSITORY_ERROR."
        },
        "type": {
          "enumDescriptions": [
            "Default UNSPECIFIED.  Specifies that the push operation should not modify\nItemStatus",
            "Indicates that the repository document has been modified or updated since\nthe previous\nupdate\ncall. This changes status to\nMODIFIED state for\nan existing item. If this is called on a non existing item, the status is\nchanged to\nNEW_ITEM.",
            "Item in the repository has not been modified since the last update\ncall.  This push operation will set status to\nACCEPTED state.",
            "Connector is facing a repository error regarding this item.  Change\nstatus to\nREPOSITORY_ERROR\nstate. Item is unreserved and rescheduled at a future time determined by\nexponential backoff.",
            "Call push with REQUEUE only for items that have been reserved.\nThis action unreserves the item and resets its available time to the\nwall clock time."
          ],
          "enum": [
            "UNSPECIFIED",
            "MODIFIED",
            "NOT_MODIFIED",
            "REPOSITORY_ERROR",
            "REQUEUE"
          ],
          "description": "The type of the push operation that defines the push behavior.",
          "type": "string"
        },
        "queue": {
          "description": "Queue to which this item belongs to.  The \u003ccode\u003edefault\u003c/code\u003e queue is\nchosen if this field is not specified. The maximum length is\n512 characters.",
          "type": "string"
        },
        "structuredDataHash": {
          "description": "Structured data hash of the item according to the repository. If specified,\nthis is used to determine how to modify this item's status. Setting this\nfield and the type field\nresults in argument error.\nThe maximum length is 2048 characters.",
          "type": "string"
        }
      },
      "id": "PushItem"
    },
    "ObjectDisplayOptions": {
      "description": "The display options for an object.",
      "type": "object",
      "properties": {
        "metalines": {
          "description": "Defines the properties that will be displayed in the metalines of the\nsearch results. The property values will be displayed in the order given\nhere. If a property holds multiple values, all of the values will be\ndiplayed before the next properties. For this reason, it is a good practice\nto specify singular properties before repeated properties in this list. All\nof the properties must set\nis_returnable\nto true. The maximum number of elements is 3.",
          "type": "array",
          "items": {
            "$ref": "Metaline"
          }
        },
        "objectDisplayLabel": {
          "description": "The user friendly label to display in the search result to inidicate the\ntype of the item. This is OPTIONAL; if not given, an object label will not\nbe displayed on the context line of the search results. The maximum length\nis 32 characters.",
          "type": "string"
        }
      },
      "id": "ObjectDisplayOptions"
    },
    "CheckAccessResponse": {
      "type": "object",
      "properties": {
        "hasAccess": {
          "description": "Returns true if principal has access.  Returns false otherwise.",
          "type": "boolean"
        }
      },
      "id": "CheckAccessResponse"
    },
    "Date": {
      "description": "Represents a whole calendar date, for example a date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the [Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar). The date must be a valid calendar date between the year 1 and 9999.",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of date. Must be from 1 to 9999.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of date. Must be from 1 to 12.",
          "format": "int32"
        }
      },
      "id": "Date"
    },
    "HtmlValues": {
      "description": "List of html values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The maximum allowable length for html values is 2048 characters.\nThe maximum number of string elements is 100.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "HtmlValues"
    },
    "ListSearchApplicationsResponse": {
      "type": "object",
      "properties": {
        "searchApplications": {
          "type": "array",
          "items": {
            "$ref": "SearchApplication"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        }
      },
      "id": "ListSearchApplicationsResponse"
    },
    "TimestampOperatorOptions": {
      "id": "TimestampOperatorOptions",
      "description": "Used to provide a search operator for timestamp properties. This is\noptional. Search operators let users restrict the query to specific fields\nrelevant to the type of item being searched.",
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the\ntimestamp property. For example, if operatorName is *closedon* and the\nproperty's name is *closeDate*, then queries like\n*closedon:&lt;value&gt;* will show results only where the value of the\nproperty named *closeDate* matches *&lt;value&gt;*. By contrast, a\nsearch that uses the same *&lt;value&gt;* without an operator will return\nall items where *&lt;value&gt;* matches the value of any String\nproperties or text within the content field for the item. The operator\nname can only contain lowercase letters (a-z). The maximum length is 32\ncharacters.",
          "type": "string"
        },
        "greaterThanOperatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the\ntimestamp property using the greater-than operator. For example, if\ngreaterThanOperatorName is *closedafter* and the property's name is\n*closeDate*, then queries like *closedafter:&lt;value&gt;* will\nshow results only where the value of the property named *closeDate* is\nlater than *&lt;value&gt;*.\nThe operator name can only contain lowercase letters (a-z).\nThe maximum length is 32 characters.",
          "type": "string"
        },
        "lessThanOperatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the\ntimestamp property using the less-than operator. For example, if\nlessThanOperatorName is *closedbefore* and the property's name is\n*closeDate*, then queries like *closedbefore:&lt;value&gt;* will\nshow results only where the value of the property named *closeDate* is\nearlier than *&lt;value&gt;*.\nThe operator name can only contain lowercase letters (a-z).\nThe maximum length is 32 characters.",
          "type": "string"
        }
      }
    },
    "SearchResult": {
      "description": "Results containing indexed information for a document.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the result.",
          "type": "string"
        },
        "metadata": {
          "$ref": "Metadata",
          "description": "Metadata of the search result."
        },
        "snippet": {
          "description": "The concatenation of all snippets (summaries) available for this result.",
          "$ref": "Snippet"
        },
        "title": {
          "description": "Title of the search result.",
          "type": "string"
        },
        "debugInfo": {
          "description": "Debugging information about this search result.",
          "$ref": "ResultDebugInfo"
        },
        "clusteredResults": {
          "description": "If source is clustered, provide list of clustered results. There will only\nbe one level of clustered results. If current source is not enabled for\nclustering, this field will be empty.",
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          }
        }
      },
      "id": "SearchResult"
    },
    "DoubleValues": {
      "properties": {
        "values": {
          "description": "The maximum number of elements is 100.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "id": "DoubleValues",
      "description": "List of double values.",
      "type": "object"
    },
    "ListDataSourceResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "DataSource"
          }
        }
      },
      "id": "ListDataSourceResponse"
    },
    "ErrorInfo": {
      "description": "Error information about the response.",
      "type": "object",
      "properties": {
        "errorMessages": {
          "type": "array",
          "items": {
            "$ref": "ErrorMessage"
          }
        }
      },
      "id": "ErrorInfo"
    },
    "ObjectValues": {
      "description": "List of object values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The maximum number of elements is 100.",
          "type": "array",
          "items": {
            "$ref": "StructuredDataObject"
          }
        }
      },
      "id": "ObjectValues"
    },
    "DateValues": {
      "description": "List of date values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The maximum number of elements is 100.",
          "type": "array",
          "items": {
            "$ref": "Date"
          }
        }
      },
      "id": "DateValues"
    },
    "Source": {
      "properties": {
        "name": {
          "description": "Source name for content indexed by the\nIndexing API.",
          "type": "string"
        },
        "predefinedSource": {
          "enumDescriptions": [
            "",
            "Suggests queries issued by the user in the past. Only valid when used\nwith the suggest API. Ignored when used in the query API.",
            "Suggests people in the organization. Only valid when used\nwith the suggest API. Results in an error when used in the query API.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "QUERY_HISTORY",
            "PERSON",
            "GOOGLE_DRIVE",
            "GOOGLE_GMAIL",
            "GOOGLE_SITES",
            "GOOGLE_GROUPS",
            "GOOGLE_CALENDAR",
            "GOOGLE_KEEP"
          ],
          "description": "Predefined content source for Google Apps.",
          "type": "string"
        }
      },
      "id": "Source",
      "description": "Defines sources for the suggest/search APIs.",
      "type": "object"
    },
    "Metadata": {
      "description": "Metadata of a matched search result.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "The creation time for this document or object in the search result.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "The last modified date for the object in the search result.",
          "format": "google-datetime",
          "type": "string"
        },
        "owner": {
          "description": "Owner (usually creator) of the document or object of the search result.",
          "$ref": "Person"
        },
        "fields": {
          "description": "Indexed fields in structured data, returned as a generic named property.",
          "type": "array",
          "items": {
            "$ref": "NamedProperty"
          }
        },
        "objectType": {
          "description": "Object type of the search result.",
          "type": "string"
        },
        "mimeType": {
          "description": "Mime type of the search result.",
          "type": "string"
        },
        "displayOptions": {
          "$ref": "ResultDisplayMetadata",
          "description": "Options that specify how to display a structured data search result."
        },
        "source": {
          "$ref": "Source",
          "description": "The named source for the result, such as Gmail."
        }
      },
      "id": "Metadata"
    },
    "MatchRange": {
      "description": "Matched range of a snippet [start, end).",
      "type": "object",
      "properties": {
        "start": {
          "description": "Starting position of the match in the snippet.",
          "format": "int32",
          "type": "integer"
        },
        "end": {
          "description": "End of the match in the snippet.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "MatchRange"
    },
    "SuggestResult": {
      "properties": {
        "source": {
          "description": "The source of the suggestion.",
          "$ref": "Source"
        },
        "querySuggestion": {
          "$ref": "QuerySuggestion"
        },
        "suggestedQuery": {
          "description": "The suggested query that will be used for search, when the user\nclicks on the suggestion",
          "type": "string"
        },
        "peopleSuggestion": {
          "$ref": "PeopleSuggestion"
        }
      },
      "id": "SuggestResult",
      "description": "One suggestion result.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation"
    },
    "DataSourceRestriction": {
      "properties": {
        "filterOptions": {
          "description": "Filter options restricting the results. If multiple filters\nare present, they are grouped by object type before joining.\nFilters with the same object type are joined conjunctively, then\nthe resulting expressions are joined disjunctively.\n\nThe maximum number of elements is 20.",
          "type": "array",
          "items": {
            "$ref": "FilterOptions"
          }
        },
        "source": {
          "$ref": "Source",
          "description": "The source of restriction."
        }
      },
      "id": "DataSourceRestriction",
      "description": "Restriction on Datasource.",
      "type": "object"
    },
    "UpdateSchemaRequest": {
      "type": "object",
      "properties": {
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "validateOnly": {
          "description": "If true, the request will be validated without side effects.",
          "type": "boolean"
        },
        "schema": {
          "$ref": "Schema",
          "description": "The new schema for the source."
        }
      },
      "id": "UpdateSchemaRequest"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status"
    },
    "DriveLocationRestrict": {
      "description": "Drive location search restricts (e.g. \"is:starred\").",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TRASHED",
            "STARRED"
          ]
        }
      },
      "id": "DriveLocationRestrict"
    },
    "RetrievalImportance": {
      "type": "object",
      "properties": {
        "importance": {
          "description": "Indicates the ranking importance given to property when it is matched\nduring retrieval. Once set, the token importance of a property cannot be\nchanged.",
          "type": "string",
          "enumDescriptions": [
            "Treat the match like a body text match.",
            "Treat the match like a match against title of the item.",
            "Treat the match with higher importance than body text.",
            "Treat the match with lower importance than body text.",
            "Do not match against this field during retrieval. The property can still\nbe used for operator matching, faceting, and suggest if\ndesired."
          ],
          "enum": [
            "DEFAULT",
            "HIGHEST",
            "HIGH",
            "LOW",
            "NONE"
          ]
        }
      },
      "id": "RetrievalImportance"
    },
    "DisplayedProperty": {
      "type": "object",
      "properties": {
        "propertyName": {
          "type": "string",
          "description": "The name of the top-level property as defined in a property definition\nfor the object. If the name is not a defined property in the schema, an\nerror will be given when attempting to update the schema."
        }
      },
      "id": "DisplayedProperty",
      "description": "A reference to a top-level property within the object that should be\ndisplayed in search results. The values of the chosen properties will be\ndisplayed in the search results along with the\ndislpay label\nfor that property if one is specified. If a display label is not specified,\nonly the values will be shown."
    },
    "ItemStatus": {
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "ERROR",
            "MODIFIED",
            "NEW_ITEM",
            "ACCEPTED"
          ],
          "description": "Status code.",
          "type": "string",
          "enumDescriptions": [
            "Input-only value.  Used with\nItems.list\nto list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item.\nDetails of the error are in\nrepositoryError.",
            "Item has been modified in the repository, and is out of date with\nthe version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by\nCloud Search.\nAn item can be in this state when\nItems.push\nhas been called for\nan item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ]
        },
        "repositoryErrors": {
          "description": "Repository error reported by connector.",
          "type": "array",
          "items": {
            "$ref": "RepositoryError"
          }
        },
        "processingErrors": {
          "description": "Error details in case the item is in ERROR state.",
          "type": "array",
          "items": {
            "$ref": "ProcessingError"
          }
        }
      },
      "id": "ItemStatus",
      "description": "This contains item's status and any errors.",
      "type": "object"
    },
    "FieldViolation": {
      "type": "object",
      "properties": {
        "field": {
          "description": "Path of field with violation.",
          "type": "string"
        },
        "description": {
          "description": "Description of the error.",
          "type": "string"
        }
      },
      "id": "FieldViolation"
    },
    "TextValues": {
      "type": "object",
      "properties": {
        "values": {
          "description": "The maximum allowable length for text values is 2048 characters.\nThe maximum number of string elements is 100.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TextValues",
      "description": "List of text values."
    },
    "SourceScoringConfig": {
      "properties": {
        "sourceImportance": {
          "description": "Importance of the source.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEFAULT",
            "LOW",
            "HIGH"
          ]
        }
      },
      "id": "SourceScoringConfig",
      "description": "Set the scoring configuration. This allows modifying the ranking of results\nfor a source.",
      "type": "object"
    },
    "ObjectPropertyOptions": {
      "description": "Options for object properties.",
      "type": "object",
      "properties": {
        "subobjectProperties": {
          "description": "The properties of the sub-object. These properties represent a nested\nobject. For example, if this property represents a postal address, the\nsubobjectProperties might be named *street*, *city*, and *state*.\nThe maximum number of elements is 1000.",
          "type": "array",
          "items": {
            "$ref": "PropertyDefinition"
          }
        }
      },
      "id": "ObjectPropertyOptions"
    },
    "DateOperatorOptions": {
      "description": "Optional. Provides a search operator for date properties.\nSearch operators let users restrict the query to specific fields relevant\nto the type of item being searched.",
      "type": "object",
      "properties": {
        "greaterThanOperatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the\ndate property using the greater-than operator. For example, if\ngreaterThanOperatorName is *closedafter* and the property's name is\n*closeDate*, then queries like *closedafter:&lt;value&gt;* will\nshow results only where the value of the property named *closeDate* is\nlater than *&lt;value&gt;*.\nThe operator name can only contain lowercase letters (a-z).\nThe maximum length is 32 characters.",
          "type": "string"
        },
        "lessThanOperatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the\ndate property using the less-than operator. For example, if\nlessThanOperatorName is *closedbefore* and the property's name is\n*closeDate*, then queries like *closedbefore:&lt;value&gt;* will\nshow results only where the value of the property named *closeDate* is\nearlier than *&lt;value&gt;*.\nThe operator name can only contain lowercase letters (a-z).\nThe maximum length is 32 characters.",
          "type": "string"
        },
        "operatorName": {
          "description": "Indicates the actual string required in the query in order to isolate the\ndate property. For example, suppose an issue tracking schema object\nhas a property named *closeDate* that specifies an operator with an\noperatorName of *closedon*. For searches on that data, queries like\n*closedon:&lt;value&gt;* will show results only where the value of the\n*closeDate* property matches *&lt;value&gt;*. By contrast, a\nsearch that uses the same *&lt;value&gt;* without an operator will return\nall items where *&lt;value&gt;* matches the value of any String\nproperties or text within the content field for the indexed datasource.\nThe operator name can only contain lowercase letters (a-z).\nThe maximum length is 32 characters.",
          "type": "string"
        }
      },
      "id": "DateOperatorOptions"
    },
    "RequestOptions": {
      "description": "Shared request options for all RPC methods.",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\nhttp://www.unicode.org/reports/tr35/#Unicode_locale_identifier.\nFor translations.",
          "type": "string"
        },
        "timeZone": {
          "description": "Current user's time zone id, such as \"America/Los_Angeles\" or\n\"Australia/Sydney\". These IDs are defined by\n[Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/)\nproject, and currently available in the file\n[timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml)",
          "type": "string"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Debug options of the request"
        },
        "searchApplicationId": {
          "type": "string",
          "description": "Id of the application created using SearchApplicationsService."
        }
      },
      "id": "RequestOptions"
    },
    "ResultCounts": {
      "id": "ResultCounts",
      "description": "Result count information",
      "type": "object",
      "properties": {
        "sourceResultCounts": {
          "description": "Result count information for each source with results.",
          "type": "array",
          "items": {
            "$ref": "SourceResultCount"
          }
        }
      }
    },
    "SuggestRequest": {
      "description": "Request of suggest API.",
      "type": "object",
      "properties": {
        "dataSourceRestrictions": {
          "description": "The sources to use for suggestions. If not specified, all data sources\nfrom the current search application are used.",
          "type": "array",
          "items": {
            "$ref": "DataSourceRestriction"
          }
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Request options, such as the search application and user timezone."
        },
        "query": {
          "description": "Partial query for the completion suggestion.",
          "type": "string"
        }
      },
      "id": "SuggestRequest"
    },
    "TimestampPropertyOptions": {
      "description": "Options for timestamp properties.",
      "type": "object",
      "properties": {
        "operatorOptions": {
          "$ref": "TimestampOperatorOptions",
          "description": "If set, describes how the timestamp should be used as a search operator."
        }
      },
      "id": "TimestampPropertyOptions"
    },
    "ScoringConfig": {
      "description": "Scoring configurations for a source while processing a\nSearch or\nSuggest request.",
      "type": "object",
      "properties": {
        "disablePersonalization": {
          "description": "Whether to personalize the results. By default, personal signals will\nbe used to boost results.",
          "type": "boolean"
        },
        "disableFreshness": {
          "type": "boolean",
          "description": "Whether to use freshness as a ranking signal. By default, freshness is used\nas a ranking signal."
        }
      },
      "id": "ScoringConfig"
    },
    "ValueFilter": {
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "The `operator_name` applied to the query, such as *price_greater_than*.\nThe filter can work against both types of filters defined in the schema\nfor your data source:\n\u003cbr/\u003e\u003cbr/\u003e\n1. `operator_name`, where the query filters results by the property\nthat matches the value.\n\u003cbr/\u003e\n2. `greater_than_operator_name` or `less_than_operator_name` in your\nschema. The query filters the results for the property values that are\ngreater than or less than  the supplied value in the query.",
          "type": "string"
        },
        "value": {
          "$ref": "Value",
          "description": "The value to be compared with."
        }
      },
      "id": "ValueFilter"
    },
    "ListItemNamesForUnmappedIdentityResponse": {
      "type": "object",
      "properties": {
        "itemNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        }
      },
      "id": "ListItemNamesForUnmappedIdentityResponse"
    },
    "ResponseDebugInfo": {
      "properties": {
        "formattedDebugInfo": {
          "description": "General debug info formatted for display.",
          "type": "string"
        }
      },
      "id": "ResponseDebugInfo",
      "description": "Debugging information about the response.",
      "type": "object"
    },
    "NamedProperty": {
      "id": "NamedProperty",
      "description": "A typed name-value pair for structured data.  The type of the value should\nbe the same as the registered type for the `name` property in the object\ndefinition of `objectType`.",
      "type": "object",
      "properties": {
        "objectValues": {
          "$ref": "ObjectValues"
        },
        "enumValues": {
          "$ref": "EnumValues"
        },
        "dateValues": {
          "$ref": "DateValues"
        },
        "integerValues": {
          "$ref": "IntegerValues"
        },
        "doubleValues": {
          "$ref": "DoubleValues"
        },
        "name": {
          "description": "The name of the property.  This name should correspond to the name of the\nproperty that was registered for object definition in the schema.\nThe maximum allowable length for this property is 256 characters.",
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "htmlValues": {
          "$ref": "HtmlValues"
        },
        "textValues": {
          "$ref": "TextValues"
        },
        "timestampValues": {
          "$ref": "TimestampValues"
        }
      }
    },
    "UnmappedIdentity": {
      "type": "object",
      "properties": {
        "externalIdentity": {
          "$ref": "Principal",
          "description": "The resource name for an external user."
        },
        "resolutionStatusCode": {
          "enum": [
            "CODE_UNSPECIFIED",
            "NOT_FOUND",
            "IDENTITY_SOURCE_NOT_FOUND",
            "IDENTITY_SOURCE_MISCONFIGURED",
            "TOO_MANY_MAPPINGS_FOUND",
            "INTERNAL_ERROR"
          ],
          "description": "The resolution status for the external identity.",
          "type": "string",
          "enumDescriptions": [
            "Input-only value.  Used to list all unmapped identities regardless of\nstatus.",
            "The unmapped identity was not found in IDaaS, and needs to be provided by\nthe user.",
            "The identity source associated with the identity was either not found or\ndeleted.",
            "IDaaS does not understand the identity source, probably because the\nschema was modified in a non compatible way.",
            "The number of users associated with the external identity is too large.",
            "Internal error."
          ]
        }
      },
      "id": "UnmappedIdentity"
    },
    "SearchItemsByViewUrlRequest": {
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "The next_page_token value returned from a previous request, if any.",
          "type": "string"
        },
        "viewUrl": {
          "type": "string",
          "description": "Specify the full view URL to find the corresponding item.\nThe maximum length is 2048 characters."
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        }
      },
      "id": "SearchItemsByViewUrlRequest"
    },
    "PushItemRequest": {
      "type": "object",
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "item": {
          "$ref": "PushItem",
          "description": "Item to push onto the queue."
        },
        "connectorName": {
          "description": "Name of connector making this call.\n\u003cbr /\u003eFormat: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        }
      },
      "id": "PushItemRequest"
    },
    "PollItemsResponse": {
      "type": "object",
      "properties": {
        "items": {
          "description": "Set of items from the queue available for connector to process.\n\u003cbr /\u003eThese items have the following subset of fields populated: \u003cbr /\u003e\n\u003cbr /\u003eversion\n\u003cbr /\u003emetadata.hash\n\u003cbr /\u003estructured_data.hash\n\u003cbr /\u003econtent.hash\n\u003cbr /\u003epayload\n\u003cbr /\u003estatus\n\u003cbr /\u003equeue",
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        }
      },
      "id": "PollItemsResponse"
    },
    "ListItemsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        }
      },
      "id": "ListItemsResponse"
    },
    "UnreserveItemsRequest": {
      "id": "UnreserveItemsRequest",
      "type": "object",
      "properties": {
        "queue": {
          "description": "Name of a queue to unreserve items from.",
          "type": "string"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "connectorName": {
          "description": "Name of connector making this call.\n\u003cbr /\u003eFormat: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        }
      }
    },
    "HtmlPropertyOptions": {
      "description": "Options for html properties.",
      "type": "object",
      "properties": {
        "retrievalImportance": {
          "description": "Indicates the search quality importance of the tokens within the\nfield when used for retrieval. Can only be set to DEFAULT or NONE.",
          "$ref": "RetrievalImportance"
        },
        "operatorOptions": {
          "$ref": "HtmlOperatorOptions",
          "description": "If set, describes how the property should be used as a search operator."
        }
      },
      "id": "HtmlPropertyOptions"
    },
    "QueryOperator": {
      "description": "The definition of a operator that can be used in a Search/Suggest request.",
      "type": "object",
      "properties": {
        "lessThanOperatorName": {
          "description": "Indicates the operator name that can be used to  isolate the property using\nthe less-than operator.",
          "type": "string"
        },
        "isSuggestable": {
          "description": "Can get suggestions for this field.",
          "type": "boolean"
        },
        "type": {
          "enumDescriptions": [
            "Invalid value.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "INTEGER",
            "DOUBLE",
            "TIMESTAMP",
            "BOOLEAN",
            "ENUM",
            "DATE",
            "TEXT",
            "HTML"
          ],
          "description": "Type of the operator.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the operator",
          "type": "string"
        },
        "isReturnable": {
          "type": "boolean",
          "description": "Will the property associated with this facet be returned as part of search\nresults."
        },
        "isFacetable": {
          "description": "Can this operator be used to get facets.",
          "type": "boolean"
        },
        "isSortable": {
          "description": "Can this operator be used to sort results.",
          "type": "boolean"
        },
        "operatorName": {
          "type": "string",
          "description": "The name of the operator."
        },
        "isRepeatable": {
          "description": "Indicates if multiple values can be set for this property.",
          "type": "boolean"
        },
        "greaterThanOperatorName": {
          "description": "Indicates the operator name that can be used to  isolate the property using\nthe greater-than operator.",
          "type": "string"
        },
        "enumValues": {
          "description": "Potential list of values for the opeatror field. This field is only filled\nwhen we can safely enumerate all the possible values of this operator.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "QueryOperator"
    },
    "TimestampValues": {
      "properties": {
        "values": {
          "description": "The maximum number of elements is 100.",
          "type": "array",
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        }
      },
      "id": "TimestampValues",
      "description": "List of timestamp values.",
      "type": "object"
    },
    "SearchQualityMetadata": {
      "description": "Additional search quality metadata of the item.",
      "type": "object",
      "properties": {
        "quality": {
          "description": "An indication of the quality of the item, used to influence search quality.\nValue should be between 0.0 (lowest quality) and 1.0 (highest quality).",
          "format": "double",
          "type": "number"
        }
      },
      "id": "SearchQualityMetadata"
    },
    "DatePropertyOptions": {
      "description": "Options for date properties.",
      "type": "object",
      "properties": {
        "operatorOptions": {
          "$ref": "DateOperatorOptions",
          "description": "If set, describes how the date should be used as a search operator."
        }
      },
      "id": "DatePropertyOptions"
    },
    "RestrictItem": {
      "id": "RestrictItem",
      "description": "Information relevant only to a restrict entry.\nNextId: 7",
      "type": "object",
      "properties": {
        "driveMimeTypeRestrict": {
          "$ref": "DriveMimeTypeRestrict"
        },
        "searchOperator": {
          "description": "The search restrict (e.g. \"after:2017-09-11 before:2017-09-12\").",
          "type": "string"
        },
        "driveFollowUpRestrict": {
          "$ref": "DriveFollowUpRestrict"
        },
        "driveLocationRestrict": {
          "$ref": "DriveLocationRestrict"
        },
        "driveTimeSpanRestrict": {
          "$ref": "DriveTimeSpanRestrict"
        }
      }
    },
    "DriveMimeTypeRestrict": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "PDF",
            "DOCUMENT",
            "PRESENTATION",
            "SPREADSHEET",
            "FORM",
            "DRAWING",
            "SCRIPT",
            "MAP",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "FOLDER",
            "ARCHIVE",
            "SITE"
          ]
        }
      },
      "id": "DriveMimeTypeRestrict",
      "description": "Drive mime-type search restricts (e.g. \"type:pdf\")."
    },
    "Metaline": {
      "description": "A metaline is a list of properties that are displayed along with the search\nresult to provide context.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "The list of displayed properties for the metaline.",
          "type": "array",
          "items": {
            "$ref": "DisplayedProperty"
          }
        }
      },
      "id": "Metaline"
    },
    "BooleanOperatorOptions": {
      "description": "Used to provide a search operator for boolean properties. This is\noptional. Search operators let users restrict the query to specific fields\nrelevant to the type of item being searched.",
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the\nboolean property. For example, if operatorName is *closed* and the\nproperty's name is *isClosed*, then queries like\n*closed:&lt;value&gt;* will show results only where the value of the\nproperty named *isClosed* matches *&lt;value&gt;*. By contrast, a\nsearch that uses the same *&lt;value&gt;* without an operator will return\nall items where *&lt;value&gt;* matches the value of any\nString properties or text within the content field for the item.\nThe operator name can only contain lowercase letters (a-z).\nThe maximum length is 32 characters.",
          "type": "string"
        }
      },
      "id": "BooleanOperatorOptions"
    },
    "SourceConfig": {
      "description": "Configurations for a source while processing a\nSearch or\nSuggest request.",
      "type": "object",
      "properties": {
        "crowdingConfig": {
          "description": "The crowding configuration for the source.",
          "$ref": "SourceCrowdingConfig"
        },
        "source": {
          "$ref": "Source",
          "description": "The source for which this configuration is to be used."
        },
        "scoringConfig": {
          "description": "The scoring configuration for the source.",
          "$ref": "SourceScoringConfig"
        }
      },
      "id": "SourceConfig"
    },
    "DataSource": {
      "description": "Data source is a logical namespace for items to be indexed.\nAll items must belong to a data source.  This is the prerequisite before\nitems can be indexed into Cloud Search.",
      "type": "object",
      "properties": {
        "indexingServiceAccounts": {
          "description": "List of service accounts that have indexing access.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. Display name of the data source\nThe maximum length is 300 characters.",
          "type": "string"
        },
        "disableServing": {
          "description": "Disable serving any search or assist results.",
          "type": "boolean"
        },
        "itemsVisibility": {
          "description": "This restricts visibility to items at a data source level to the\ndisjunction of users/groups mentioned with the field. Note that, this\ndoes not ensure access to a specific item, as users need to have ACL\npermissions on the contained items. This ensures a high level access\non the entire data source, and that the individual items are not shared\noutside this visibility.",
          "type": "array",
          "items": {
            "$ref": "GSuitePrincipal"
          }
        },
        "shortName": {
          "description": "A short name or alias for the source.  This value will be used to match the\n'source' operator. For example, if the short name is *&lt;value&gt;* then\nqueries like *source:&lt;value&gt;* will only return results for this\nsource. The value must be unique across all data sources. The value must\nonly contain alphanumeric characters (a-zA-Z0-9). The value cannot start\nwith 'google' and cannot be one of the following: mail, gmail, docs, drive,\ngroups, sites, calendar, hangouts, gplus, keep.\nIts maximum length is 32 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the data source resource.\nFormat: datasources/{source_id}.\n\u003cbr /\u003eThe name is ignored when creating a data source."
        },
        "operationIds": {
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disableModifications": {
          "description": "If true, Indexing API rejects any modification calls to this data source\nsuch as create, update, and delete.\nDisabling this does not imply halting process of previously\naccepted data.",
          "type": "boolean"
        }
      },
      "id": "DataSource"
    },
    "UpdateDataSourceRequest": {
      "type": "object",
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "source": {
          "$ref": "DataSource"
        }
      },
      "id": "UpdateDataSourceRequest"
    },
    "ItemCountByStatus": {
      "type": "object",
      "properties": {
        "count": {
          "description": "Number of items matching the status code.",
          "format": "int64",
          "type": "string"
        },
        "statusCode": {
          "enumDescriptions": [
            "Input-only value.  Used with\nItems.list\nto list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item.\nDetails of the error are in\nrepositoryError.",
            "Item has been modified in the repository, and is out of date with\nthe version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by\nCloud Search.\nAn item can be in this state when\nItems.push\nhas been called for\nan item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "ERROR",
            "MODIFIED",
            "NEW_ITEM",
            "ACCEPTED"
          ],
          "description": "Status of the items.",
          "type": "string"
        }
      },
      "id": "ItemCountByStatus"
    },
    "FacetResult": {
      "properties": {
        "operatorName": {
          "description": "Name of the operator chosen for faceting. @see\ncloudsearch.SchemaPropertyOptions",
          "type": "string"
        },
        "objectType": {
          "description": "Object type for which facet results are returned. Can be empty.",
          "type": "string"
        },
        "sourceName": {
          "description": "Source name for which facet results are returned. Will not be empty.",
          "type": "string"
        },
        "buckets": {
          "description": "FacetBuckets for values in response containing atleast a single result.",
          "type": "array",
          "items": {
            "$ref": "FacetBucket"
          }
        }
      },
      "id": "FacetResult",
      "description": "Source specific facet response",
      "type": "object"
    },
    "ItemMetadata": {
      "id": "ItemMetadata",
      "description": "Available metadata fields for the item.",
      "type": "object",
      "properties": {
        "hash": {
          "description": "Hashing value provided by the API caller.\nThis can be used with the\nitems.push\nmethod to calculate modified state.\nThe maximum length is 2048 characters.",
          "type": "string"
        },
        "searchQualityMetadata": {
          "$ref": "SearchQualityMetadata",
          "description": "Additional search quality metadata of the item"
        },
        "interactions": {
          "description": "A list of interactions for the item.  Interactions are used to improve\nSearch quality, but are not exposed to end users.\nThe maximum number of elements is 1000.",
          "type": "array",
          "items": {
            "$ref": "Interaction"
          }
        },
        "keywords": {
          "description": "Additional keywords or phrases that should match the item.\nUsed internally for user generated content.\nThe maximum number of elements is 100.\nThe maximum length is 8192 characters.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mimeType": {
          "description": "The original mime-type of\nItemContent.content\nin the source repository.\nThe maximum length is 256 characters.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the item.  If given, this will be the displayed title of the\nSearch result.\nThe maximum length is 2048 characters."
        },
        "createTime": {
          "description": "The time when the item was created in the source repository.",
          "format": "google-datetime",
          "type": "string"
        },
        "contentLanguage": {
          "description": "The BCP-47 language code for the item, such as \"en-US\" or \"sr-Latn\". For\nmore information, see\nhttp://www.unicode.org/reports/tr35/#Unicode_locale_identifier.\nThe maximum length is 32 characters.",
          "type": "string"
        },
        "sourceRepositoryUrl": {
          "description": "Link to the source repository serving the data.  &#83;earch results apply\nthis link to the title.\nThe maximum length is 2048 characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "The time when the item was last modified in the source repository.",
          "format": "google-datetime",
          "type": "string"
        },
        "containerName": {
          "description": "The name of the container for this item.\nDeletion of the container item leads to automatic deletion of this\nitem.  Note: ACLs are not inherited from a container item.\nTo provide ACL inheritance for an item, use the\ninheritAclFrom\nfield. The maximum length is 1536 characters.",
          "type": "string"
        },
        "objectType": {
          "description": "The type of the item.  This should correspond to the name of an object\ndefinition in the schema registered for the data source.  For example, if\nthe schema for the data source contains an object definition with name\n'document', then item indexing requests for objects of that type should set\nobjectType to 'document'.\nThe maximum length is 256 characters.",
          "type": "string"
        }
      }
    },
    "IntegerPropertyOptions": {
      "description": "Options for integer properties.",
      "type": "object",
      "properties": {
        "orderedRanking": {
          "enumDescriptions": [
            "There is no ranking order for the property. Results will not be adjusted\nby this property's value.",
            "This property is ranked in ascending order. Lower values indicate lower\nranking.",
            "This property is ranked in descending order. Lower values indicate\nhigher ranking."
          ],
          "enum": [
            "NO_ORDER",
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "Used to specify the ordered ranking for the integer. Can only be used if\nisRepeatable\nis false.",
          "type": "string"
        },
        "maximumValue": {
          "description": "The maximum value of the property. The minimum and maximum values for the\nproperty are used to rank results according to the\nordered ranking.\nIndexing requests with values greater than the maximum are accepted and\nranked with the same weight as items indexed with the maximum value.",
          "format": "int64",
          "type": "string"
        },
        "minimumValue": {
          "description": "The minimum value of the property. The minimum and maximum values for the\nproperty are used to rank results according to the\nordered ranking.\nIndexing requests with values less than the minimum are accepted and\nranked with the same weight as items indexed with the minimum value.",
          "format": "int64",
          "type": "string"
        },
        "operatorOptions": {
          "$ref": "IntegerOperatorOptions",
          "description": "If set, describes how the integer should be used as a search operator."
        }
      },
      "id": "IntegerPropertyOptions"
    },
    "StructuredDataObject": {
      "description": "A structured data object consisting of named properties.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "The properties for the object.\nThe maximum number of elements is 1000.",
          "type": "array",
          "items": {
            "$ref": "NamedProperty"
          }
        }
      },
      "id": "StructuredDataObject"
    },
    "EnumPropertyOptions": {
      "description": "Options for enum properties, which allow you to define a restricted set of\nstrings to match user queries, set rankings for those string values, and\ndefine an operator name to be paired with those strings so that users can\nnarrow results to only items with a specific value. For example, for items in\na request tracking system with priority information, you could define *p0* as\nan allowable enum value and tie this enum to the operator name *priority* so\nthat search users could add *priority:p0* to their query to restrict the set\nof results to only those items indexed with the value *p0*.",
      "type": "object",
      "properties": {
        "possibleValues": {
          "description": "The list of possible values for the enumeration property. All\nEnumValuePairs must provide a string value. If you specify an integer value\nfor one EnumValuePair, then all possible EnumValuePairs must provide an\ninteger value. Both the string value and integer value must be unique over\nall possible values. Once set, possible values cannot be removed or\nmodified. If you supply an ordered ranking and think you might insert\nadditional enum values in the future, leave gaps in the initial integer\nvalues to allow adding a value in between previously registered values.\nThe maximum number of elements is 100.",
          "type": "array",
          "items": {
            "$ref": "EnumValuePair"
          }
        },
        "orderedRanking": {
          "enum": [
            "NO_ORDER",
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "Used to specify the ordered ranking for the enumeration that determines how\nthe integer values provided in the possible EnumValuePairs are used to rank\nresults. If specified, integer values must be provided for all possible\nEnumValuePair values given for this property. Can only be used if\nisRepeatable\nis false.",
          "type": "string",
          "enumDescriptions": [
            "There is no ranking order for the property. Results will not be adjusted\nby this property's value.",
            "This property is ranked in ascending order. Lower values indicate lower\nranking.",
            "This property is ranked in descending order. Lower values indicate\nhigher ranking."
          ]
        },
        "operatorOptions": {
          "description": "If set, describes how the enum should be used as a search operator.",
          "$ref": "EnumOperatorOptions"
        }
      },
      "id": "EnumPropertyOptions"
    },
    "SourceResultCount": {
      "description": "Per source result count information.",
      "type": "object",
      "properties": {
        "resultCountExact": {
          "description": "The exact result count for this source.",
          "format": "int64",
          "type": "string"
        },
        "resultCountEstimate": {
          "description": "The estimated result count for this source.",
          "format": "int64",
          "type": "string"
        },
        "hasMoreResults": {
          "description": "Whether there are more search results for this source.",
          "type": "boolean"
        },
        "source": {
          "description": "The source the result count information is associated with.",
          "$ref": "Source"
        }
      },
      "id": "SourceResultCount"
    },
    "GetCustomerIndexStatsResponse": {
      "type": "object",
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "CustomerIndexStats"
          },
          "description": "Summary of indexed item counts, one for each day in the requested range."
        }
      },
      "id": "GetCustomerIndexStatsResponse"
    },
    "QuerySource": {
      "description": "List of sources that the user can search using the query API.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the data source."
        },
        "source": {
          "$ref": "Source",
          "description": "Name of the source"
        },
        "operators": {
          "description": "List of all operators applicable for this source.",
          "type": "array",
          "items": {
            "$ref": "QueryOperator"
          }
        },
        "shortName": {
          "description": "A short name or alias for the source.  This value can be used with the\n'source' operator.",
          "type": "string"
        }
      },
      "id": "QuerySource"
    },
    "QueryInterpretation": {
      "type": "object",
      "properties": {
        "interpretedQuery": {
          "type": "string",
          "description": "The interpretation of the query used in search. For example, query \"email\nfrom john\" will be interpreted as \"from:john source:mail\""
        },
        "interpretationType": {
          "enumDescriptions": [
            "No natural language interpretation or the natural language interpretation\nis not used to fetch the search results.",
            "The natural language results is mixed with results from original query.",
            "The results only contain natural language results."
          ],
          "enum": [
            "NONE",
            "BLEND",
            "REPLACE"
          ],
          "type": "string"
        }
      },
      "id": "QueryInterpretation"
    },
    "ErrorMessage": {
      "id": "ErrorMessage",
      "description": "Error message per source response.",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source"
        },
        "errorMessage": {
          "type": "string"
        }
      }
    },
    "TextOperatorOptions": {
      "description": "Used to provide a search operator for text properties. This is optional.\nSearch operators let users restrict the query to specific fields relevant\nto the type of item being searched.",
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the\ntext property. For example, if operatorName is *subject* and the\nproperty's name is *subjectLine*, then queries like\n*subject:&lt;value&gt;* will show results only where the value of the\nproperty named *subjectLine* matches *&lt;value&gt;*. By contrast, a\nsearch that uses the same *&lt;value&gt;* without an operator will return\nall items where *&lt;value&gt;* matches the value of any\ntext properties or text within the content field for the item.\nThe operator name can only contain lowercase letters (a-z).\nThe maximum length is 32 characters.",
          "type": "string"
        },
        "exactMatchWithOperator": {
          "description": "If true, the text value will be tokenized as one atomic value in\noperator searches and facet matches. For example, if the operator name is\n\"genre\" and the value is \"science-fiction\" the query restrictions\n\"genre:science\" and \"genre:fiction\" will not match the item;\n\"genre:science-fiction\" will. Value matching is case-sensitive\nand does not remove special characters.\nIf false, the text will be tokenized. For example, if the value is\n\"science-fiction\" the queries \"genre:science\" and \"genre:fiction\" will\nmatch the item.",
          "type": "boolean"
        }
      },
      "id": "TextOperatorOptions"
    },
    "ResultDisplayField": {
      "description": "Display Fields for Search Results",
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "The operator name of the property.",
          "type": "string"
        },
        "label": {
          "description": "The display label for the property.",
          "type": "string"
        },
        "property": {
          "description": "The name value pair for the property.",
          "$ref": "NamedProperty"
        }
      },
      "id": "ResultDisplayField"
    },
    "ListQuerySourcesResponse": {
      "description": "List sources response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "QuerySource"
          }
        }
      },
      "id": "ListQuerySourcesResponse"
    },
    "Media": {
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Name of the media resource.",
          "type": "string"
        }
      },
      "id": "Media",
      "description": "Media resource."
    },
    "FacetBucket": {
      "id": "FacetBucket",
      "description": "A bucket in a facet is the basic unit of operation. A bucket can comprise\neither a single value OR a contiguous range of values, depending on the\ntype of the field bucketed.\nFacetBucket is currently used only for returning the response object.",
      "type": "object",
      "properties": {
        "count": {
          "description": "Number of results that match the bucket value.",
          "format": "int32",
          "type": "integer"
        },
        "percentage": {
          "description": "Percent of results that match the bucket value. This value is between\n(0-100].\nThis may not be accurate and is a best effort estimate.",
          "format": "int32",
          "type": "integer"
        },
        "value": {
          "$ref": "Value"
        }
      }
    },
    "Filter": {
      "id": "Filter",
[...]
