{
 "kind": "discovery#restDescription",
 "etag": "\"VPK3KBfpaEgZ16pozGOoMYfKc0U/uh6pImLtAzfcW3qnOu2tIOip1lc\"",
 "discoveryVersion": "v1",
 "id": "content:v2.1",
 "name": "content",
 "canonicalName": "Shopping Content",
 "version": "v2.1",
 "revision": "20190327",
 "title": "Content API for Shopping",
 "description": "Manages product items, inventory, and Merchant Center accounts for Google Shopping.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
  "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
 },
 "documentationLink": "https://developers.google.com/shopping-content",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/content/v2.1/",
 "basePath": "/content/v2.1/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "content/v2.1/",
 "batchPath": "batch/content/v2.1",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "Deprecated. Please use quotaUser instead.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/content": {
     "description": "Manage your product listings and accounts for Google Shopping"
    }
   }
  }
 },
 "schemas": {
  "Account": {
   "id": "Account",
   "type": "object",
   "description": "Account data. After the creation of a new account it may take a few minutes before it is fully operational. The methods delete, insert, patch, and update require the admin role.",
   "properties": {
    "adsLinks": {
     "type": "array",
     "description": "List of linked Ads accounts that are active or pending approval. To create a new link request, add a new link with status active to the list. It will remain in a pending state until approved or rejected either in the Ads interface or through the AdWords API. To delete an active link, or to cancel a link request, remove it from the list.",
     "items": {
      "$ref": "AccountAdsLink"
     }
    },
    "adultContent": {
     "type": "boolean",
     "description": "Indicates whether the merchant sells adult content."
    },
    "businessInformation": {
     "$ref": "AccountBusinessInformation",
     "description": "The business information of the account."
    },
    "googleMyBusinessLink": {
     "$ref": "AccountGoogleMyBusinessLink",
     "description": "The GMB account which is linked or in the process of being linked with the Merchant Center account."
    },
    "id": {
     "type": "string",
     "description": "Merchant Center account ID.",
     "format": "uint64",
     "annotations": {
      "required": [
       "content.accounts.update"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#account\".",
     "default": "content#account"
    },
    "name": {
     "type": "string",
     "description": "Display name for the account.",
     "annotations": {
      "required": [
       "content.accounts.insert",
       "content.accounts.update"
      ]
     }
    },
    "sellerId": {
     "type": "string",
     "description": "Client-specific, locally-unique, internal ID for the child account."
    },
    "users": {
     "type": "array",
     "description": "Users with access to the account. Every account (except for subaccounts) must have at least one admin user.",
     "items": {
      "$ref": "AccountUser"
     }
    },
    "websiteUrl": {
     "type": "string",
     "description": "The merchant's website."
    },
    "youtubeChannelLinks": {
     "type": "array",
     "description": "List of linked YouTube channels that are active or pending approval. To create a new link request, add a new link with status active to the list. It will remain in a pending state until approved or rejected in the YT Creator Studio interface. To delete an active link, or to cancel a link request, remove it from the list.",
     "items": {
      "$ref": "AccountYouTubeChannelLink"
     }
    }
   }
  },
  "AccountAddress": {
   "id": "AccountAddress",
   "type": "object",
   "properties": {
    "country": {
     "type": "string",
     "description": "CLDR country code (e.g. \"US\")."
    },
    "locality": {
     "type": "string",
     "description": "City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs)."
    },
    "postalCode": {
     "type": "string",
     "description": "Postal code or ZIP (e.g. \"94043\")."
    },
    "region": {
     "type": "string",
     "description": "Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\")."
    },
    "streetAddress": {
     "type": "string",
     "description": "Street-level part of the address."
    }
   }
  },
  "AccountAdsLink": {
   "id": "AccountAdsLink",
   "type": "object",
   "properties": {
    "adsId": {
     "type": "string",
     "description": "Customer ID of the Ads account.",
     "format": "uint64"
    },
    "status": {
     "type": "string",
     "description": "Status of the link between this Merchant Center account and the Ads account. Upon retrieval, it represents the actual status of the link and can be either active if it was approved in Google Ads or pending if it's pending approval. Upon insertion, it represents the intended status of the link. Re-uploading a link with status active when it's still pending or with status pending when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status inactive is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending."
    }
   }
  },
  "AccountBusinessInformation": {
   "id": "AccountBusinessInformation",
   "type": "object",
   "properties": {
    "address": {
     "$ref": "AccountAddress",
     "description": "The address of the business."
    },
    "customerService": {
     "$ref": "AccountCustomerService",
     "description": "The customer service information of the business."
    },
    "phoneNumber": {
     "type": "string",
     "description": "The phone number of the business."
    }
   }
  },
  "AccountCustomerService": {
   "id": "AccountCustomerService",
   "type": "object",
   "properties": {
    "email": {
     "type": "string",
     "description": "Customer service email."
    },
    "phoneNumber": {
     "type": "string",
     "description": "Customer service phone number."
    },
    "url": {
     "type": "string",
     "description": "Customer service URL."
    }
   }
  },
  "AccountGoogleMyBusinessLink": {
   "id": "AccountGoogleMyBusinessLink",
   "type": "object",
   "properties": {
    "gmbEmail": {
     "type": "string",
     "description": "The GMB email address of which a specific account within a GMB account. A sample account within a GMB account could be a business account with set of locations, managed under the GMB account."
    },
    "status": {
     "type": "string",
     "description": "Status of the link between this Merchant Center account and the GMB account."
    }
   }
  },
  "AccountIdentifier": {
   "id": "AccountIdentifier",
   "type": "object",
   "properties": {
    "aggregatorId": {
     "type": "string",
     "description": "The aggregator ID, set for aggregators and subaccounts (in that case, it represents the aggregator of the subaccount).",
     "format": "uint64"
    },
    "merchantId": {
     "type": "string",
     "description": "The merchant account ID, set for individual accounts and subaccounts.",
     "format": "uint64"
    }
   }
  },
  "AccountStatus": {
   "id": "AccountStatus",
   "type": "object",
   "description": "The status of an account, i.e., information about its products, which is computed offline and not returned immediately at insertion time.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the account for which the status is reported."
    },
    "accountLevelIssues": {
     "type": "array",
     "description": "A list of account level issues.",
     "items": {
      "$ref": "AccountStatusAccountLevelIssue"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountStatus\".",
     "default": "content#accountStatus"
    },
    "products": {
     "type": "array",
     "description": "List of product-related data by channel, destination, and country. Data in this field may be delayed by up to 30 minutes.",
     "items": {
      "$ref": "AccountStatusProducts"
     }
    },
    "websiteClaimed": {
     "type": "boolean",
     "description": "Whether the account's website is claimed or not."
    }
   }
  },
  "AccountStatusAccountLevelIssue": {
   "id": "AccountStatusAccountLevelIssue",
   "type": "object",
   "properties": {
    "country": {
     "type": "string",
     "description": "Country for which this issue is reported."
    },
    "destination": {
     "type": "string",
     "description": "The destination the issue applies to."
    },
    "detail": {
     "type": "string",
     "description": "Additional details about the issue."
    },
    "documentation": {
     "type": "string",
     "description": "The URL of a web page to help resolving this issue."
    },
    "id": {
     "type": "string",
     "description": "Issue identifier."
    },
    "severity": {
     "type": "string",
     "description": "Severity of the issue."
    },
    "title": {
     "type": "string",
     "description": "Short description of the issue."
    }
   }
  },
  "AccountStatusItemLevelIssue": {
   "id": "AccountStatusItemLevelIssue",
   "type": "object",
   "properties": {
    "attributeName": {
     "type": "string",
     "description": "The attribute's name, if the issue is caused by a single attribute."
    },
    "code": {
     "type": "string",
     "description": "The error code of the issue."
    },
    "description": {
     "type": "string",
     "description": "A short issue description in English."
    },
    "detail": {
     "type": "string",
     "description": "A detailed issue description in English."
    },
    "documentation": {
     "type": "string",
     "description": "The URL of a web page to help with resolving this issue."
    },
    "numItems": {
     "type": "string",
     "description": "Number of items with this issue.",
     "format": "int64"
    },
    "resolution": {
     "type": "string",
     "description": "Whether the issue can be resolved by the merchant."
    },
    "servability": {
     "type": "string",
     "description": "How this issue affects serving of the offer."
    }
   }
  },
  "AccountStatusProducts": {
   "id": "AccountStatusProducts",
   "type": "object",
   "properties": {
    "channel": {
     "type": "string",
     "description": "The channel the data applies to."
    },
    "country": {
     "type": "string",
     "description": "The country the data applies to."
    },
    "destination": {
     "type": "string",
     "description": "The destination the data applies to."
    },
    "itemLevelIssues": {
     "type": "array",
     "description": "List of item-level issues.",
     "items": {
      "$ref": "AccountStatusItemLevelIssue"
     }
    },
    "statistics": {
     "$ref": "AccountStatusStatistics",
     "description": "Aggregated product statistics."
    }
   }
  },
  "AccountStatusStatistics": {
   "id": "AccountStatusStatistics",
   "type": "object",
   "properties": {
    "active": {
     "type": "string",
     "description": "Number of active offers.",
     "format": "int64"
    },
    "disapproved": {
     "type": "string",
     "description": "Number of disapproved offers.",
     "format": "int64"
    },
    "expiring": {
     "type": "string",
     "description": "Number of expiring offers.",
     "format": "int64"
    },
    "pending": {
     "type": "string",
     "description": "Number of pending offers.",
     "format": "int64"
    }
   }
  },
  "AccountTax": {
   "id": "AccountTax",
   "type": "object",
   "description": "The tax settings of a merchant account. All methods require the admin role.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the account to which these account tax settings belong.",
     "format": "uint64",
     "annotations": {
      "required": [
       "content.accounttax.update"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountTax\".",
     "default": "content#accountTax"
    },
    "rules": {
     "type": "array",
     "description": "Tax rules. Updating the tax rules will enable US taxes (not reversible). Defining no rules is equivalent to not charging tax at all.",
     "items": {
      "$ref": "AccountTaxTaxRule"
     }
    }
   }
  },
  "AccountTaxTaxRule": {
   "id": "AccountTaxTaxRule",
   "type": "object",
   "description": "Tax calculation rule to apply in a state or province (USA only).",
   "properties": {
    "country": {
     "type": "string",
     "description": "Country code in which tax is applicable."
    },
    "locationId": {
     "type": "string",
     "description": "State (or province) is which the tax is applicable, described by its location ID (also called criteria ID).",
     "format": "uint64",
     "annotations": {
      "required": [
       "content.accounttax.update"
      ]
     }
    },
    "ratePercent": {
     "type": "string",
     "description": "Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative."
    },
    "shippingTaxed": {
     "type": "boolean",
     "description": "If true, shipping charges are also taxed."
    },
    "useGlobalRate": {
     "type": "boolean",
     "description": "Whether the tax rate is taken from a global tax table or specified explicitly."
    }
   }
  },
  "AccountUser": {
   "id": "AccountUser",
   "type": "object",
   "properties": {
    "admin": {
     "type": "boolean",
     "description": "Whether user is an admin."
    },
    "emailAddress": {
     "type": "string",
     "description": "User's email address."
    },
    "orderManager": {
     "type": "boolean",
     "description": "Whether user is an order manager."
    },
    "paymentsAnalyst": {
     "type": "boolean",
     "description": "Whether user can access payment statements."
    },
    "paymentsManager": {
     "type": "boolean",
     "description": "Whether user can manage payment settings."
    }
   }
  },
  "AccountYouTubeChannelLink": {
   "id": "AccountYouTubeChannelLink",
   "type": "object",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "Channel ID."
    },
    "status": {
     "type": "string",
     "description": "Status of the link between this Merchant Center account and the YouTube channel. Upon retrieval, it represents the actual status of the link and can be either active if it was approved in YT Creator Studio or pending if it's pending approval. Upon insertion, it represents the intended status of the link. Re-uploading a link with status active when it's still pending or with status pending when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status inactive is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending."
    }
   }
  },
  "AccountsAuthInfoResponse": {
   "id": "AccountsAuthInfoResponse",
   "type": "object",
   "properties": {
    "accountIdentifiers": {
     "type": "array",
     "description": "The account identifiers corresponding to the authenticated user.\n- For an individual account: only the merchant ID is defined\n- For an aggregator: only the aggregator ID is defined\n- For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined.",
     "items": {
      "$ref": "AccountIdentifier"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsAuthInfoResponse\".",
     "default": "content#accountsAuthInfoResponse"
    }
   }
  },
  "AccountsClaimWebsiteResponse": {
   "id": "AccountsClaimWebsiteResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsClaimWebsiteResponse\".",
     "default": "content#accountsClaimWebsiteResponse"
    }
   }
  },
  "AccountsCustomBatchRequest": {
   "id": "AccountsCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "AccountsCustomBatchRequestEntry"
     }
    }
   }
  },
  "AccountsCustomBatchRequestEntry": {
   "id": "AccountsCustomBatchRequestEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accounts request.",
   "properties": {
    "account": {
     "$ref": "Account",
     "description": "The account to create or update. Only defined if the method is insert or update."
    },
    "accountId": {
     "type": "string",
     "description": "The ID of the targeted account. Only defined if the method is not insert.",
     "format": "uint64"
    },
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "force": {
     "type": "boolean",
     "description": "Whether the account should be deleted if the account has offers. Only applicable if the method is delete."
    },
    "linkRequest": {
     "$ref": "AccountsCustomBatchRequestEntryLinkRequest",
     "description": "Details about the link request."
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "method": {
     "type": "string",
     "description": "The method of the batch entry."
    },
    "overwrite": {
     "type": "boolean",
     "description": "Only applicable if the method is claimwebsite. Indicates whether or not to take the claim from another account in case there is a conflict."
    }
   }
  },
  "AccountsCustomBatchRequestEntryLinkRequest": {
   "id": "AccountsCustomBatchRequestEntryLinkRequest",
   "type": "object",
   "properties": {
    "action": {
     "type": "string",
     "description": "Action to perform for this link. The \"request\" action is only available to select merchants."
    },
    "linkType": {
     "type": "string",
     "description": "Type of the link between the two accounts."
    },
    "linkedAccountId": {
     "type": "string",
     "description": "The ID of the linked account."
    }
   }
  },
  "AccountsCustomBatchResponse": {
   "id": "AccountsCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "AccountsCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsCustomBatchResponse\".",
     "default": "content#accountsCustomBatchResponse"
    }
   }
  },
  "AccountsCustomBatchResponseEntry": {
   "id": "AccountsCustomBatchResponseEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accounts response.",
   "properties": {
    "account": {
     "$ref": "Account",
     "description": "The retrieved, created, or updated account. Not defined if the method was delete, claimwebsite or link."
    },
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsCustomBatchResponseEntry\".",
     "default": "content#accountsCustomBatchResponseEntry"
    }
   }
  },
  "AccountsLinkRequest": {
   "id": "AccountsLinkRequest",
   "type": "object",
   "properties": {
    "action": {
     "type": "string",
     "description": "Action to perform for this link. The \"request\" action is only available to select merchants."
    },
    "linkType": {
     "type": "string",
     "description": "Type of the link between the two accounts."
    },
    "linkedAccountId": {
     "type": "string",
     "description": "The ID of the linked account."
    }
   }
  },
  "AccountsLinkResponse": {
   "id": "AccountsLinkResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsLinkResponse\".",
     "default": "content#accountsLinkResponse"
    }
   }
  },
  "AccountsListResponse": {
   "id": "AccountsListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsListResponse\".",
     "default": "content#accountsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of accounts."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "Account"
     }
    }
   }
  },
  "AccountstatusesCustomBatchRequest": {
   "id": "AccountstatusesCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "AccountstatusesCustomBatchRequestEntry"
     }
    }
   }
  },
  "AccountstatusesCustomBatchRequestEntry": {
   "id": "AccountstatusesCustomBatchRequestEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accountstatuses request.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the (sub-)account whose status to get.",
     "format": "uint64"
    },
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "destinations": {
     "type": "array",
     "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
     "items": {
      "type": "string"
     }
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "method": {
     "type": "string",
     "description": "The method (get)."
    }
   }
  },
  "AccountstatusesCustomBatchResponse": {
   "id": "AccountstatusesCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "AccountstatusesCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountstatusesCustomBatchResponse\".",
     "default": "content#accountstatusesCustomBatchResponse"
    }
   }
  },
  "AccountstatusesCustomBatchResponseEntry": {
   "id": "AccountstatusesCustomBatchResponseEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accountstatuses response.",
   "properties": {
    "accountStatus": {
     "$ref": "AccountStatus",
     "description": "The requested account status. Defined if and only if the request was successful."
    },
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    }
   }
  },
  "AccountstatusesListResponse": {
   "id": "AccountstatusesListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountstatusesListResponse\".",
     "default": "content#accountstatusesListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of account statuses."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "AccountStatus"
     }
    }
   }
  },
  "AccounttaxCustomBatchRequest": {
   "id": "AccounttaxCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "AccounttaxCustomBatchRequestEntry"
     }
    }
   }
  },
  "AccounttaxCustomBatchRequestEntry": {
   "id": "AccounttaxCustomBatchRequestEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accounttax request.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the account for which to get/update account tax settings.",
     "format": "uint64"
    },
    "accountTax": {
     "$ref": "AccountTax",
     "description": "The account tax settings to update. Only defined if the method is update."
    },
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "method": {
     "type": "string"
    }
   }
  },
  "AccounttaxCustomBatchResponse": {
   "id": "AccounttaxCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "AccounttaxCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxCustomBatchResponse\".",
     "default": "content#accounttaxCustomBatchResponse"
    }
   }
  },
  "AccounttaxCustomBatchResponseEntry": {
   "id": "AccounttaxCustomBatchResponseEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accounttax response.",
   "properties": {
    "accountTax": {
     "$ref": "AccountTax",
     "description": "The retrieved or updated account tax settings."
    },
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxCustomBatchResponseEntry\".",
     "default": "content#accounttaxCustomBatchResponseEntry"
    }
   }
  },
  "AccounttaxListResponse": {
   "id": "AccounttaxListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxListResponse\".",
     "default": "content#accounttaxListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of account tax settings."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "AccountTax"
     }
    }
   }
  },
  "Amount": {
   "id": "Amount",
   "type": "object",
   "properties": {
    "priceAmount": {
     "$ref": "Price",
     "description": "[required] The pre-tax or post-tax price depending on the location of the order."
    },
    "taxAmount": {
     "$ref": "Price",
     "description": "[required] Tax value."
    }
   }
  },
  "CarrierRate": {
   "id": "CarrierRate",
   "type": "object",
   "properties": {
    "carrierName": {
     "type": "string",
     "description": "Carrier service, such as \"UPS\" or \"Fedex\". The list of supported carriers can be retrieved via the getSupportedCarriers method. Required."
    },
    "carrierService": {
     "type": "string",
     "description": "Carrier service, such as \"ground\" or \"2 days\". The list of supported services for a carrier can be retrieved via the getSupportedCarriers method. Required."
    },
    "flatAdjustment": {
     "$ref": "Price",
     "description": "Additive shipping rate modifier. Can be negative. For example { \"value\": \"1\", \"currency\" : \"USD\" } adds $1 to the rate, { \"value\": \"-3\", \"currency\" : \"USD\" } removes $3 from the rate. Optional."
    },
    "name": {
     "type": "string",
     "description": "Name of the carrier rate. Must be unique per rate group. Required."
    },
    "originPostalCode": {
     "type": "string",
     "description": "Shipping origin for this carrier rate. Required."
    },
    "percentageAdjustment": {
     "type": "string",
     "description": "Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example \"5.4\" increases the rate by 5.4%, \"-3\" decreases the rate by 3%. Optional."
    }
   }
  },
  "CarriersCarrier": {
   "id": "CarriersCarrier",
   "type": "object",
   "properties": {
    "country": {
     "type": "string",
     "description": "The CLDR country code of the carrier (e.g., \"US\"). Always present."
    },
    "name": {
     "type": "string",
     "description": "The name of the carrier (e.g., \"UPS\"). Always present."
    },
    "services": {
     "type": "array",
     "description": "A list of supported services (e.g., \"ground\") for that carrier. Contains at least one service.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "CustomAttribute": {
   "id": "CustomAttribute",
   "type": "object",
   "properties": {
    "groupValues": {
     "type": "array",
     "description": "Subattributes within this attribute group. Exactly one of value or groupValues must be provided.",
     "items": {
      "$ref": "CustomAttribute"
     }
    },
    "name": {
     "type": "string",
     "description": "The name of the attribute. Underscores will be replaced by spaces upon insertion."
    },
    "value": {
     "type": "string",
     "description": "The value of the attribute."
    }
   }
  },
  "CustomerReturnReason": {
   "id": "CustomerReturnReason",
   "type": "object",
   "properties": {
    "description": {
     "type": "string"
    },
    "reasonCode": {
     "type": "string"
    }
   }
  },
  "CutoffTime": {
   "id": "CutoffTime",
   "type": "object",
   "properties": {
    "hour": {
     "type": "integer",
     "description": "Hour of the cutoff time until which an order has to be placed to be processed in the same day. Required.",
     "format": "uint32"
    },
    "minute": {
     "type": "integer",
     "description": "Minute of the cutoff time until which an order has to be placed to be processed in the same day. Required.",
     "format": "uint32"
    },
    "timezone": {
     "type": "string",
     "description": "Timezone identifier for the cutoff time. A list of identifiers can be found in  the AdWords API documentation. E.g. \"Europe/Zurich\". Required."
    }
   }
  },
  "Datafeed": {
   "id": "Datafeed",
   "type": "object",
   "description": "Datafeed configuration data.",
   "properties": {
    "attributeLanguage": {
     "type": "string",
     "description": "The two-letter ISO 639-1 language in which the attributes are defined in the data feed."
    },
    "contentType": {
     "type": "string",
     "description": "The type of data feed. For product inventory feeds, only feeds for local stores, not online stores, are supported.",
     "annotations": {
      "required": [
       "content.datafeeds.insert",
       "content.datafeeds.update"
      ]
     }
    },
    "fetchSchedule": {
     "$ref": "DatafeedFetchSchedule",
     "description": "Fetch schedule for the feed file."
    },
    "fileName": {
     "type": "string",
     "description": "The filename of the feed. All feeds must have a unique file name.",
     "annotations": {
      "required": [
       "content.datafeeds.insert",
       "content.datafeeds.update"
      ]
     }
    },
    "format": {
     "$ref": "DatafeedFormat",
     "description": "Format of the feed file."
    },
    "id": {
     "type": "string",
     "description": "The ID of the data feed.",
     "format": "int64",
     "annotations": {
      "required": [
       "content.datafeeds.update"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeed\".",
     "default": "content#datafeed"
    },
    "name": {
     "type": "string",
     "description": "A descriptive name of the data feed.",
     "annotations": {
      "required": [
       "content.datafeeds.insert"
      ]
     }
    },
    "targets": {
     "type": "array",
     "description": "The targets this feed should apply to (country, language, destinations).",
     "items": {
      "$ref": "DatafeedTarget"
     }
    }
   }
  },
  "DatafeedFetchSchedule": {
   "id": "DatafeedFetchSchedule",
   "type": "object",
   "description": "The required fields vary based on the frequency of fetching. For a monthly fetch schedule, day_of_month and hour are required. For a weekly fetch schedule, weekday and hour are required. For a daily fetch schedule, only hour is required.",
   "properties": {
    "dayOfMonth": {
     "type": "integer",
     "description": "The day of the month the feed file should be fetched (1-31).",
     "format": "uint32"
    },
    "fetchUrl": {
     "type": "string",
     "description": "The URL where the feed file can be fetched. Google Merchant Center will support automatic scheduled uploads using the HTTP, HTTPS, FTP, or SFTP protocols, so the value will need to be a valid link using one of those four protocols."
    },
    "hour": {
     "type": "integer",
     "description": "The hour of the day the feed file should be fetched (0-23).",
     "format": "uint32"
    },
    "minuteOfHour": {
     "type": "integer",
     "description": "The minute of the hour the feed file should be fetched (0-59). Read-only.",
     "format": "uint32"
    },
    "password": {
     "type": "string",
     "description": "An optional password for fetch_url."
    },
    "paused": {
     "type": "boolean",
     "description": "Whether the scheduled fetch is paused or not."
    },
    "timeZone": {
     "type": "string",
     "description": "Time zone used for schedule. UTC by default. E.g., \"America/Los_Angeles\"."
    },
    "username": {
     "type": "string",
     "description": "An optional user name for fetch_url."
    },
    "weekday": {
     "type": "string",
     "description": "The day of the week the feed file should be fetched."
    }
   }
  },
  "DatafeedFormat": {
   "id": "DatafeedFormat",
   "type": "object",
   "properties": {
    "columnDelimiter": {
     "type": "string",
     "description": "Delimiter for the separation of values in a delimiter-separated values feed. If not specified, the delimiter will be auto-detected. Ignored for non-DSV data feeds."
    },
    "fileEncoding": {
     "type": "string",
     "description": "Character encoding scheme of the data feed. If not specified, the encoding will be auto-detected."
    },
    "quotingMode": {
     "type": "string",
     "description": "Specifies how double quotes are interpreted. If not specified, the mode will be auto-detected. Ignored for non-DSV data feeds."
    }
   }
  },
  "DatafeedStatus": {
   "id": "DatafeedStatus",
   "type": "object",
   "description": "The status of a datafeed, i.e., the result of the last retrieval of the datafeed computed asynchronously when the feed processing is finished.",
   "properties": {
    "country": {
     "type": "string",
     "description": "The country for which the status is reported, represented as a  CLDR territory code."
    },
    "datafeedId": {
     "type": "string",
     "description": "The ID of the feed for which the status is reported.",
     "format": "uint64"
    },
    "errors": {
     "type": "array",
     "description": "The list of errors occurring in the feed.",
     "items": {
      "$ref": "DatafeedStatusError"
     }
    },
    "itemsTotal": {
     "type": "string",
     "description": "The number of items in the feed that were processed.",
     "format": "uint64"
    },
    "itemsValid": {
     "type": "string",
     "description": "The number of items in the feed that were valid.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedStatus\".",
     "default": "content#datafeedStatus"
    },
    "language": {
     "type": "string",
     "description": "The two-letter ISO 639-1 language for which the status is reported."
    },
    "lastUploadDate": {
     "type": "string",
     "description": "The last date at which the feed was uploaded."
    },
    "processingStatus": {
     "type": "string",
     "description": "The processing status of the feed."
    },
    "warnings": {
     "type": "array",
     "description": "The list of errors occurring in the feed.",
     "items": {
      "$ref": "DatafeedStatusError"
     }
    }
   }
  },
  "DatafeedStatusError": {
   "id": "DatafeedStatusError",
   "type": "object",
   "description": "An error occurring in the feed, like \"invalid price\".",
   "properties": {
    "code": {
     "type": "string",
     "description": "The code of the error, e.g., \"validation/invalid_value\"."
    },
    "count": {
     "type": "string",
     "description": "The number of occurrences of the error in the feed.",
     "format": "uint64"
    },
    "examples": {
     "type": "array",
     "description": "A list of example occurrences of the error, grouped by product.",
     "items": {
      "$ref": "DatafeedStatusExample"
     }
    },
    "message": {
     "type": "string",
     "description": "The error message, e.g., \"Invalid price\"."
    }
   }
  },
  "DatafeedStatusExample": {
   "id": "DatafeedStatusExample",
   "type": "object",
   "description": "An example occurrence for a particular error.",
   "properties": {
    "itemId": {
     "type": "string",
     "description": "The ID of the example item."
    },
    "lineNumber": {
     "type": "string",
     "description": "Line number in the data feed where the example is found.",
     "format": "uint64"
    },
    "value": {
     "type": "string",
     "description": "The problematic value."
    }
   }
  },
  "DatafeedTarget": {
   "id": "DatafeedTarget",
   "type": "object",
   "properties": {
    "country": {
     "type": "string",
     "description": "The country where the items in the feed will be included in the search index, represented as a  CLDR territory code."
    },
    "excludedDestinations": {
     "type": "array",
     "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
     "items": {
      "type": "string"
     }
    },
    "includedDestinations": {
     "type": "array",
     "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in the excluded_destination field.",
     "items": {
      "type": "string"
     }
    },
    "language": {
     "type": "string",
     "description": "The two-letter ISO 639-1 language of the items in the feed. Must be a valid language for targets[].country."
    }
   }
  },
  "DatafeedsCustomBatchRequest": {
   "id": "DatafeedsCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "DatafeedsCustomBatchRequestEntry"
     }
    }
   }
  },
  "DatafeedsCustomBatchRequestEntry": {
   "id": "DatafeedsCustomBatchRequestEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch datafeeds request.",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "datafeed": {
     "$ref": "Datafeed",
     "description": "The data feed to insert."
    },
    "datafeedId": {
     "type": "string",
     "description": "The ID of the data feed to get, delete or fetch.",
     "format": "uint64"
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "method": {
     "type": "string"
    }
   }
  },
  "DatafeedsCustomBatchResponse": {
   "id": "DatafeedsCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "DatafeedsCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsCustomBatchResponse\".",
     "default": "content#datafeedsCustomBatchResponse"
    }
   }
  },
  "DatafeedsCustomBatchResponseEntry": {
   "id": "DatafeedsCustomBatchResponseEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch datafeeds response.",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "datafeed": {
     "$ref": "Datafeed",
     "description": "The requested data feed. Defined if and only if the request was successful."
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    }
   }
  },
  "DatafeedsFetchNowResponse": {
   "id": "DatafeedsFetchNowResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsFetchNowResponse\".",
     "default": "content#datafeedsFetchNowResponse"
    }
   }
  },
  "DatafeedsListResponse": {
   "id": "DatafeedsListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsListResponse\".",
     "default": "content#datafeedsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of datafeeds."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "Datafeed"
     }
    }
   }
  },
  "DatafeedstatusesCustomBatchRequest": {
   "id": "DatafeedstatusesCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "DatafeedstatusesCustomBatchRequestEntry"
     }
    }
   }
  },
  "DatafeedstatusesCustomBatchRequestEntry": {
   "id": "DatafeedstatusesCustomBatchRequestEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch datafeedstatuses request.",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "country": {
     "type": "string",
     "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that for multi-target datafeeds this parameter is required."
    },
    "datafeedId": {
     "type": "string",
     "description": "The ID of the data feed to get.",
     "format": "uint64"
    },
    "language": {
     "type": "string",
     "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that for multi-target datafeeds this parameter is required."
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "method": {
     "type": "string"
    }
   }
  },
  "DatafeedstatusesCustomBatchResponse": {
   "id": "DatafeedstatusesCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "DatafeedstatusesCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedstatusesCustomBatchResponse\".",
     "default": "content#datafeedstatusesCustomBatchResponse"
    }
   }
  },
  "DatafeedstatusesCustomBatchResponseEntry": {
   "id": "DatafeedstatusesCustomBatchResponseEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch datafeedstatuses response.",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "datafeedStatus": {
     "$ref": "DatafeedStatus",
     "description": "The requested data feed status. Defined if and only if the request was successful."
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    }
   }
  },
  "DatafeedstatusesListResponse": {
   "id": "DatafeedstatusesListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedstatusesListResponse\".",
     "default": "content#datafeedstatusesListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of datafeed statuses."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "DatafeedStatus"
     }
    }
   }
  },
  "DeliveryTime": {
   "id": "DeliveryTime",
   "type": "object",
   "properties": {
    "cutoffTime": {
     "$ref": "CutoffTime",
     "description": "Business days cutoff time definition. If not configured the cutoff time will be defaulted to 8AM PST."
    },
    "holidayCutoffs": {
     "type": "array",
     "description": "Holiday cutoff definitions. If configured, they specify order cutoff times for holiday-specific shipping.",
     "items": {
      "$ref": "HolidayCutoff"
     }
    },
    "maxHandlingTimeInDays": {
     "type": "integer",
     "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to minHandlingTimeInDays.",
     "format": "uint32"
    },
    "maxTransitTimeInDays": {
     "type": "integer",
     "description": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to minTransitTimeInDays.",
     "format": "uint32"
    },
    "minHandlingTimeInDays": {
     "type": "integer",
     "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped.",
     "format": "uint32"
    },
    "minTransitTimeInDays": {
     "type": "integer",
     "description": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Either {min,max}transitTimeInDays or transitTimeTable must be set, but not both.",
     "format": "uint32"
    },
    "transitTimeTable": {
     "$ref": "TransitTable",
     "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either {min,max}transitTimeInDays or transitTimeTable can be set, but not both."
    }
   }
  },
  "Error": {
   "id": "Error",
   "type": "object",
   "description": "An error returned by the API.",
   "properties": {
    "domain": {
     "type": "string",
     "description": "The domain of the error."
    },
    "message": {
     "type": "string",
     "description": "A description of the error."
    },
    "reason": {
     "type": "string",
     "description": "The error code."
    }
   }
  },
  "Errors": {
   "id": "Errors",
   "type": "object",
   "description": "A list of errors returned by a failed batch entry.",
   "properties": {
    "code": {
     "type": "integer",
     "description": "The HTTP status of the first error in errors.",
     "format": "uint32"
    },
    "errors": {
     "type": "array",
     "description": "A list of errors.",
     "items": {
      "$ref": "Error"
     }
    },
    "message": {
     "type": "string",
     "description": "The message of the first error in errors."
    }
   }
  },
  "GmbAccounts": {
   "id": "GmbAccounts",
   "type": "object",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the account.",
     "format": "uint64"
    },
    "gmbAccounts": {
     "type": "array",
     "description": "A list of GMB accounts which are available to the merchant.",
     "items": {
      "$ref": "GmbAccountsGmbAccount"
     }
    }
   }
  },
  "GmbAccountsGmbAccount": {
   "id": "GmbAccountsGmbAccount",
   "type": "object",
   "properties": {
    "email": {
     "type": "string",
     "description": "The email which identifies the GMB account."
    },
    "listingCount": {
     "type": "string",
     "description": "Number of listings under this account.",
     "format": "uint64"
    },
    "name": {
     "type": "string",
     "description": "The name of the GMB account."
    },
    "type": {
     "type": "string",
     "description": "The type of the GMB account (User or Business)."
    }
   }
  },
  "Headers": {
   "id": "Headers",
   "type": "object",
   "description": "A non-empty list of row or column headers for a table. Exactly one of prices, weights, numItems, postalCodeGroupNames, or location must be set.",
   "properties": {
    "locations": {
     "type": "array",
     "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
     "items": {
      "$ref": "LocationIdSet"
     }
    },
    "numberOfItems": {
     "type": "array",
     "description": "A list of inclusive number of items upper bounds. The last value can be \"infinity\". For example [\"10\", \"50\", \"infinity\"] represents the headers \"\u003c= 10 items\", \" 50 items\". Must be non-empty. Can only be set if all other fields are not set.",
     "items": {
      "type": "string"
     }
    },
    "postalCodeGroupNames": {
     "type": "array",
     "description": "A list of postal group names. The last value can be \"all other locations\". Example: [\"zone 1\", \"zone 2\", \"all other locations\"]. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set.",
     "items": {
      "type": "string"
     }
    },
    "prices": {
     "type": "array",
     "description": "A list of inclusive order price upper bounds. The last price's value can be \"infinity\". For example [{\"value\": \"10\", \"currency\": \"USD\"}, {\"value\": \"500\", \"currency\": \"USD\"}, {\"value\": \"infinity\", \"currency\": \"USD\"}] represents the headers \"\u003c= $10\", \" $500\". All prices within a service must have the same currency. Must be non-empty. Can only be set if all other fields are not set.",
     "items": {
      "$ref": "Price"
     }
    },
    "weights": {
     "type": "array",
     "description": "A list of inclusive order weight upper bounds. The last weight's value can be \"infinity\". For example [{\"value\": \"10\", \"unit\": \"kg\"}, {\"value\": \"50\", \"unit\": \"kg\"}, {\"value\": \"infinity\", \"unit\": \"kg\"}] represents the headers \"\u003c= 10kg\", \" 50kg\". All weights within a service must have the same unit. Must be non-empty. Can only be set if all other fields are not set.",
     "items": {
      "$ref": "Weight"
     }
    }
   }
  },
  "HolidayCutoff": {
   "id": "HolidayCutoff",
   "type": "object",
   "properties": {
    "deadlineDate": {
     "type": "string",
     "description": "Date of the order deadline, in ISO 8601 format. E.g. \"2016-11-29\" for 29th November 2016. Required."
    },
    "deadlineHour": {
     "type": "integer",
     "description": "Hour of the day on the deadline date until which the order has to be placed to qualify for the delivery guarantee. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Required.",
     "format": "uint32"
    },
    "deadlineTimezone": {
     "type": "string",
     "description": "Timezone identifier for the deadline hour. A list of identifiers can be found in  the AdWords API documentation. E.g. \"Europe/Zurich\". Required."
    },
    "holidayId": {
     "type": "string",
     "description": "Unique identifier for the holiday. Required."
    },
    "visibleFromDate": {
     "type": "string",
     "description": "Date on which the deadline will become visible to consumers in ISO 8601 format. E.g. \"2016-10-31\" for 31st October 2016. Required."
    }
   }
  },
  "HolidaysHoliday": {
   "id": "HolidaysHoliday",
   "type": "object",
   "properties": {
    "countryCode": {
     "type": "string",
     "description": "The CLDR territory code of the country in which the holiday is available. E.g. \"US\", \"DE\", \"GB\". A holiday cutoff can only be configured in a shipping settings service with matching delivery country. Always present."
    },
    "date": {
     "type": "string",
     "description": "Date of the holiday, in ISO 8601 format. E.g. \"2016-12-25\" for Christmas 2016. Always present."
    },
    "deliveryGuaranteeDate": {
     "type": "string",
     "description": "Date on which the order has to arrive at the customer's, in ISO 8601 format. E.g. \"2016-12-24\" for 24th December 2016. Always present."
    },
    "deliveryGuaranteeHour": {
     "type": "string",
     "description": "Hour of the day in the delivery location's timezone on the guaranteed delivery date by which the order has to arrive at the customer's. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Always present.",
     "format": "uint64"
    },
    "id": {
     "type": "string",
     "description": "Unique identifier for the holiday to be used when configuring holiday cutoffs. Always present."
    },
    "type": {
     "type": "string",
     "description": "The holiday type. Always present."
    }
   }
  },
  "Installment": {
   "id": "Installment",
   "type": "object",
   "properties": {
    "amount": {
     "$ref": "Price",
     "description": "The amount the buyer has to pay per month."
    },
    "months": {
     "type": "string",
     "description": "The number of installments the buyer has to pay.",
     "format": "int64"
    }
   }
  },
  "InvoiceSummary": {
   "id": "InvoiceSummary",
   "type": "object",
   "properties": {
    "additionalChargeSummaries": {
     "type": "array",
     "description": "Summary of the total amounts of the additional charges.",
     "items": {
      "$ref": "InvoiceSummaryAdditionalChargeSummary"
     }
    },
    "productTotal": {
     "$ref": "Amount",
     "description": "[required] Total price for the product."
    }
   }
  },
  "InvoiceSummaryAdditionalChargeSummary": {
   "id": "InvoiceSummaryAdditionalChargeSummary",
   "type": "object",
   "properties": {
    "totalAmount": {
     "$ref": "Amount",
     "description": "[required] Total additional charge for this type."
    },
    "type": {
     "type": "string",
     "description": "[required] Type of the additional charge."
    }
   }
  },
  "LiaAboutPageSettings": {
   "id": "LiaAboutPageSettings",
   "type": "object",
   "properties": {
    "status": {
     "type": "string",
     "description": "The status of the verification process for the About page."
    },
    "url": {
     "type": "string",
     "description": "The URL for the About page."
    }
   }
  },
  "LiaCountrySettings": {
   "id": "LiaCountrySettings",
   "type": "object",
   "properties": {
    "about": {
     "$ref": "LiaAboutPageSettings",
     "description": "The settings for the About page."
    },
    "country": {
     "type": "string",
     "description": "CLDR country code (e.g. \"US\").",
     "annotations": {
      "required": [
       "content.liasettings.update"
      ]
     }
    },
    "hostedLocalStorefrontActive": {
     "type": "boolean",
     "description": "The status of the \"Merchant hosted local storefront\" feature."
    },
    "inventory": {
     "$ref": "LiaInventorySettings",
     "description": "LIA inventory verification settings."
    },
    "onDisplayToOrder": {
     "$ref": "LiaOnDisplayToOrderSettings",
     "description": "LIA \"On Display To Order\" settings."
    },
    "posDataProvider": {
     "$ref": "LiaPosDataProvider",
     "description": "The POS data provider linked with this country."
    },
    "storePickupActive": {
     "type": "boolean",
     "description": "The status of the \"Store pickup\" feature."
    }
   }
  },
  "LiaInventorySettings": {
   "id": "LiaInventorySettings",
   "type": "object",
   "properties": {
    "inventoryVerificationContactEmail": {
     "type": "string",
     "description": "The email of the contact for the inventory verification process."
    },
    "inventoryVerificationContactName": {
     "type": "string",
     "description": "The name of the contact for the inventory verification process."
    },
    "inventoryVerificationContactStatus": {
     "type": "string",
     "description": "The status of the verification contact."
    },
    "status": {
     "type": "string",
     "description": "The status of the inventory verification process."
    }
   }
  },
  "LiaOnDisplayToOrderSettings": {
   "id": "LiaOnDisplayToOrderSettings",
   "type": "object",
   "properties": {
    "shippingCostPolicyUrl": {
     "type": "string",
     "description": "Shipping cost and policy URL."
    },
    "status": {
     "type": "string",
     "description": "The status of the ?On display to order? feature."
    }
   }
  },
  "LiaPosDataProvider": {
   "id": "LiaPosDataProvider",
   "type": "object",
   "properties": {
    "posDataProviderId": {
     "type": "string",
     "description": "The ID of the POS data provider.",
     "format": "uint64"
    },
    "posExternalAccountId": {
     "type": "string",
     "description": "The account ID by which this merchant is known to the POS data provider."
    }
   }
  },
  "LiaSettings": {
   "id": "LiaSettings",
   "type": "object",
   "description": "Local Inventory ads (LIA) settings. All methods except listposdataproviders require the admin role.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the account to which these LIA settings belong. Ignored upon update, always present in get request responses.",
     "format": "uint64"
    },
    "countrySettings": {
     "type": "array",
     "description": "The LIA settings for each country.",
     "items": {
      "$ref": "LiaCountrySettings"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liaSettings\".",
     "default": "content#liaSettings"
    }
   }
  },
  "LiasettingsCustomBatchRequest": {
   "id": "LiasettingsCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "LiasettingsCustomBatchRequestEntry"
     }
    }
   }
  },
  "LiasettingsCustomBatchRequestEntry": {
   "id": "LiasettingsCustomBatchRequestEntry",
   "type": "object",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the account for which to get/update account shipping settings.",
     "format": "uint64"
    },
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "contactEmail": {
     "type": "string",
     "description": "Inventory validation contact email. Required only for SetInventoryValidationContact."
    },
    "contactName": {
     "type": "string",
     "description": "Inventory validation contact name. Required only for SetInventoryValidationContact."
    },
    "country": {
     "type": "string",
     "description": "The country code. Required only for RequestInventoryVerification."
    },
    "gmbEmail": {
     "type": "string",
     "description": "The GMB account. Required only for RequestGmbAccess."
    },
    "liaSettings": {
     "$ref": "LiaSettings",
     "description": "The account Lia settings to update. Only defined if the method is update."
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "method": {
     "type": "string"
    },
    "posDataProviderId": {
     "type": "string",
     "description": "The ID of POS data provider. Required only for SetPosProvider.",
     "format": "uint64"
    },
    "posExternalAccountId": {
     "type": "string",
     "description": "The account ID by which this merchant is known to the POS provider."
    }
   }
  },
  "LiasettingsCustomBatchResponse": {
   "id": "LiasettingsCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "LiasettingsCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsCustomBatchResponse\".",
     "default": "content#liasettingsCustomBatchResponse"
    }
   }
  },
  "LiasettingsCustomBatchResponseEntry": {
   "id": "LiasettingsCustomBatchResponseEntry",
   "type": "object",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry to which this entry responds.",
     "format": "uint32"
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if, and only if, the request failed."
    },
    "gmbAccounts": {
     "$ref": "GmbAccounts",
     "description": "The the list of accessible GMB accounts."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsCustomBatchResponseEntry\".",
     "default": "content#liasettingsCustomBatchResponseEntry"
    },
    "liaSettings": {
     "$ref": "LiaSettings",
     "description": "The retrieved or updated Lia settings."
    },
    "posDataProviders": {
     "type": "array",
     "description": "The list of POS data providers.",
     "items": {
      "$ref": "PosDataProviders"
     }
    }
   }
  },
  "LiasettingsGetAccessibleGmbAccountsResponse": {
   "id": "LiasettingsGetAccessibleGmbAccountsResponse",
   "type": "object",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the account.",
     "format": "uint64"
    },
    "gmbAccounts": {
     "type": "array",
     "description": "A list of GMB accounts which are available to the merchant.",
     "items": {
      "$ref": "GmbAccountsGmbAccount"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsGetAccessibleGmbAccountsResponse\".",
     "default": "content#liasettingsGetAccessibleGmbAccountsResponse"
    }
   }
  },
  "LiasettingsListPosDataProvidersResponse": {
   "id": "LiasettingsListPosDataProvidersResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsListPosDataProvidersResponse\".",
     "default": "content#liasettingsListPosDataProvidersResponse"
    },
    "posDataProviders": {
     "type": "array",
     "description": "The list of POS data providers for each eligible country",
     "items": {
      "$ref": "PosDataProviders"
     }
    }
   }
  },
  "LiasettingsListResponse": {
   "id": "LiasettingsListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsListResponse\".",
     "default": "content#liasettingsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of LIA settings."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "LiaSettings"
     }
    }
   }
  },
  "LiasettingsRequestGmbAccessResponse": {
   "id": "LiasettingsRequestGmbAccessResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsRequestGmbAccessResponse\".",
     "default": "content#liasettingsRequestGmbAccessResponse"
    }
   }
  },
  "LiasettingsRequestInventoryVerificationResponse": {
   "id": "LiasettingsRequestInventoryVerificationResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsRequestInventoryVerificationResponse\".",
     "default": "content#liasettingsRequestInventoryVerificationResponse"
    }
   }
  },
  "LiasettingsSetInventoryVerificationContactResponse": {
   "id": "LiasettingsSetInventoryVerificationContactResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsSetInventoryVerificationContactResponse\".",
     "default": "content#liasettingsSetInventoryVerificationContactResponse"
    }
   }
  },
  "LiasettingsSetPosDataProviderResponse": {
   "id": "LiasettingsSetPosDataProviderResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsSetPosDataProviderResponse\".",
     "default": "content#liasettingsSetPosDataProviderResponse"
    }
   }
  },
  "LocationIdSet": {
   "id": "LocationIdSet",
   "type": "object",
   "properties": {
    "locationIds": {
     "type": "array",
     "description": "A non-empty list of location IDs. They must all be of the same location type (e.g., state).",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "LoyaltyPoints": {
   "id": "LoyaltyPoints",
   "type": "object",
   "properties": {
    "name": {
     "type": "string",
     "description": "Name of loyalty points program. It is recommended to limit the name to 12 full-width characters or 24 Roman characters."
    },
    "pointsValue": {
     "type": "string",
     "description": "The retailer's loyalty points in absolute value.",
     "format": "int64"
    },
    "ratio": {
     "type": "number",
     "description": "The ratio of a point when converted to currency. Google assumes currency based on Merchant Center settings. If ratio is left out, it defaults to 1.0.",
     "format": "double"
    }
   }
  },
  "MerchantOrderReturn": {
   "id": "MerchantOrderReturn",
   "type": "object",
   "properties": {
    "creationDate": {
     "type": "string"
    },
    "merchantOrderId": {
     "type": "string"
    },
    "orderId": {
     "type": "string"
    },
    "orderReturnId": {
     "type": "string"
    },
    "returnItems": {
     "type": "array",
     "items": {
      "$ref": "MerchantOrderReturnItem"
     }
    },
    "returnShipments": {
     "type": "array",
     "items": {
      "$ref": "ReturnShipment"
     }
    }
   }
  },
  "MerchantOrderReturnItem": {
   "id": "MerchantOrderReturnItem",
   "type": "object",
   "properties": {
    "customerReturnReason": {
     "$ref": "CustomerReturnReason"
    },
    "itemId": {
     "type": "string"
    },
    "merchantReturnReason": {
     "$ref": "RefundReason"
    },
    "product": {
     "$ref": "OrderLineItemProduct"
    },
    "returnShipmentIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "state": {
     "type": "string"
    }
   }
  },
  "Order": {
   "id": "Order",
   "type": "object",
   "description": "Order. All methods require the order manager role.",
   "properties": {
    "acknowledged": {
     "type": "boolean",
     "description": "Whether the order was acknowledged."
    },
    "billingAddress": {
     "$ref": "OrderAddress",
     "description": "The billing address."
    },
    "customer": {
     "$ref": "OrderCustomer",
     "description": "The details of the customer who placed the order."
    },
    "deliveryDetails": {
     "$ref": "OrderDeliveryDetails",
     "description": "The details for the delivery."
    },
    "id": {
     "type": "string",
     "description": "The REST ID of the order. Globally unique."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#order\".",
     "default": "content#order"
    },
    "lineItems": {
     "type": "array",
     "description": "Line items that are ordered.",
     "items": {
      "$ref": "OrderLineItem"
     }
    },
    "merchantId": {
     "type": "string",
     "format": "uint64"
    },
    "merchantOrderId": {
     "type": "string",
     "description": "Merchant-provided ID of the order."
    },
    "netPriceAmount": {
     "$ref": "Price",
     "description": "The net amount for the order (price part). For example, if an order was originally for $100 and a refund was issued for $20, the net amount will be $80."
    },
    "netTaxAmount": {
     "$ref": "Price",
     "description": "The net amount for the order (tax part). Note that in certain cases due to taxable base adjustment netTaxAmount might not match to a sum of tax field across all lineItems and refunds."
    },
    "paymentStatus": {
     "type": "string",
     "description": "The status of the payment."
    },
    "placedDate": {
     "type": "string",
     "description": "The date when the order was placed, in ISO 8601 format."
    },
    "promotions": {
     "type": "array",
     "description": "Promotions associated with the order.",
     "items": {
      "$ref": "OrderPromotion"
     }
    },
    "refunds": {
     "type": "array",
     "description": "Refunds for the order.",
     "items": {
      "$ref": "OrderRefund"
     }
    },
    "shipments": {
     "type": "array",
     "description": "Shipments of the order.",
     "items": {
      "$ref": "OrderShipment"
     }
    },
    "shippingCost": {
     "$ref": "Price",
     "description": "The total cost of shipping for all items."
    },
    "shippingCostTax": {
     "$ref": "Price",
     "description": "The tax for the total shipping cost."
    },
    "status": {
     "type": "string",
     "description": "The status of the order."
    },
    "taxCollector": {
     "type": "string",
     "description": "The party responsible for collecting and remitting taxes."
    }
   }
  },
  "OrderAddress": {
   "id": "OrderAddress",
   "type": "object",
   "properties": {
    "country": {
     "type": "string",
     "description": "CLDR country code (e.g. \"US\")."
    },
    "fullAddress": {
     "type": "array",
     "description": "Strings representing the lines of the printed label for mailing the order, for example:\nJohn Smith\n1600 Amphitheatre Parkway\nMountain View, CA, 94043\nUnited States",
     "items": {
      "type": "string"
     }
    },
    "isPostOfficeBox": {
     "type": "boolean",
     "description": "Whether the address is a post office box."
    },
    "locality": {
     "type": "string",
     "description": "City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs)."
    },
    "postalCode": {
     "type": "string",
     "description": "Postal Code or ZIP (e.g. \"94043\")."
    },
    "recipientName": {
     "type": "string",
     "description": "Name of the recipient."
    },
    "region": {
     "type": "string",
     "description": "Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\")."
    },
    "streetAddress": {
     "type": "array",
     "description": "Street-level part of the address.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "OrderCancellation": {
   "id": "OrderCancellation",
   "type": "object",
   "properties": {
    "actor": {
     "type": "string",
     "description": "The actor that created the cancellation."
    },
    "creationDate": {
     "type": "string",
     "description": "Date on which the cancellation has been created, in ISO 8601 format."
    },
    "quantity": {
     "type": "integer",
     "description": "The quantity that was canceled.",
     "format": "uint32"
    },
    "reason": {
     "type": "string",
     "description": "The reason for the cancellation. Orders that are cancelled with a noInventory reason will lead to the removal of the product from Shopping Actions until you make an update to that product. This will not affect your Shopping ads."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrderCustomer": {
   "id": "OrderCustomer",
   "type": "object",
   "properties": {
    "fullName": {
     "type": "string",
     "description": "Full name of the customer."
    },
    "marketingRightsInfo": {
     "$ref": "OrderCustomerMarketingRightsInfo",
     "description": "Customer's marketing preferences."
    }
   }
  },
  "OrderCustomerMarketingRightsInfo": {
   "id": "OrderCustomerMarketingRightsInfo",
   "type": "object",
   "properties": {
    "explicitMarketingPreference": {
     "type": "string",
     "description": "Last known user selection regarding marketing preferences. In certain cases this selection might not be known, so this field would be empty."
    },
    "lastUpdatedTimestamp": {
     "type": "string",
     "description": "Timestamp when last time marketing preference was updated. Could be empty, if user wasn't offered a selection yet."
    },
    "marketingEmailAddress": {
     "type": "string",
     "description": "Email address that can be used for marketing purposes. The field may be empty even if explicitMarketingPreference is 'granted'. This happens when retrieving an old order from the customer who deleted their account."
    }
   }
  },
  "OrderDeliveryDetails": {
   "id": "OrderDeliveryDetails",
   "type": "object",
   "properties": {
    "address": {
     "$ref": "OrderAddress",
     "description": "The delivery address"
    },
    "phoneNumber": {
     "type": "string",
     "description": "The phone number of the person receiving the delivery."
    }
   }
  },
  "OrderLineItem": {
   "id": "OrderLineItem",
   "type": "object",
   "properties": {
    "annotations": {
     "type": "array",
     "description": "Annotations that are attached to the line item.",
     "items": {
      "$ref": "OrderMerchantProvidedAnnotation"
     }
    },
    "cancellations": {
     "type": "array",
     "description": "Cancellations of the line item.",
     "items": {
      "$ref": "OrderCancellation"
     }
    },
    "id": {
     "type": "string",
     "description": "The ID of the line item."
    },
    "price": {
     "$ref": "Price",
     "description": "Total price for the line item. For example, if two items for $10 are purchased, the total price will be $20."
    },
    "product": {
     "$ref": "OrderLineItemProduct",
     "description": "Product data as seen by customer from the time of the order placement. Note that certain attributes values (e.g. title or gtin) might be reformatted and no longer match values submitted via product feed."
    },
    "quantityCanceled": {
     "type": "integer",
     "description": "Number of items canceled.",
     "format": "uint32"
    },
    "quantityDelivered": {
     "type": "integer",
     "description": "Number of items delivered.",
     "format": "uint32"
    },
    "quantityOrdered": {
     "type": "integer",
     "description": "Number of items ordered.",
     "format": "uint32"
    },
    "quantityPending": {
     "type": "integer",
     "description": "Number of items pending.",
     "format": "uint32"
    },
    "quantityReturned": {
     "type": "integer",
     "description": "Number of items returned.",
     "format": "uint32"
    },
    "quantityShipped": {
     "type": "integer",
     "description": "Number of items shipped.",
     "format": "uint32"
    },
    "returnInfo": {
     "$ref": "OrderLineItemReturnInfo",
     "description": "Details of the return policy for the line item."
    },
    "returns": {
     "type": "array",
     "description": "Returns of the line item.",
     "items": {
      "$ref": "OrderReturn"
     }
    },
    "shippingDetails": {
     "$ref": "OrderLineItemShippingDetails",
     "description": "Details of the requested shipping for the line item."
    },
    "tax": {
     "$ref": "Price",
     "description": "Total tax amount for the line item. For example, if two items are purchased, and each have a cost tax of $2, the total tax amount will be $4."
    }
   }
  },
  "OrderLineItemProduct": {
   "id": "OrderLineItemProduct",
   "type": "object",
   "properties": {
    "brand": {
     "type": "string",
     "description": "Brand of the item."
    },
    "condition": {
     "type": "string",
     "description": "Condition or state of the item."
    },
    "contentLanguage": {
     "type": "string",
     "description": "The two-letter ISO 639-1 language code for the item."
    },
    "fees": {
     "type": "array",
     "description": "Associated fees at order creation time.",
     "items": {
      "$ref": "OrderLineItemProductFee"
     }
    },
    "gtin": {
     "type": "string",
     "description": "Global Trade Item Number (GTIN) of the item."
    },
    "id": {
     "type": "string",
     "description": "The REST ID of the product."
    },
    "imageLink": {
     "type": "string",
     "description": "URL of an image of the item."
    },
    "itemGroupId": {
     "type": "string",
     "description": "Shared identifier for all variants of the same product."
    },
    "mpn": {
     "type": "string",
     "description": "Manufacturer Part Number (MPN) of the item."
    },
    "offerId": {
     "type": "string",
     "description": "An identifier of the item."
    },
    "price": {
     "$ref": "Price",
     "description": "Price of the item."
    },
    "shownImage": {
     "type": "string",
     "description": "URL to the cached image shown to the user when order was placed."
    },
    "targetCountry": {
     "type": "string",
     "description": "The CLDR territory code of the target country of the product."
    },
    "title": {
     "type": "string",
     "description": "The title of the product."
    },
    "variantAttributes": {
     "type": "array",
     "description": "Variant attributes for the item. These are dimensions of the product, such as color, gender, material, pattern, and size. You can find a comprehensive list of variant attributes here.",
     "items": {
      "$ref": "OrderLineItemProductVariantAttribute"
     }
    }
   }
  },
  "OrderLineItemProductFee": {
   "id": "OrderLineItemProductFee",
   "type": "object",
   "properties": {
    "amount": {
     "$ref": "Price",
     "description": "Amount of the fee."
    },
    "name": {
     "type": "string",
     "description": "Name of the fee."
    }
   }
  },
  "OrderLineItemProductVariantAttribute": {
   "id": "OrderLineItemProductVariantAttribute",
   "type": "object",
   "properties": {
    "dimension": {
     "type": "string",
     "description": "The dimension of the variant."
    },
    "value": {
     "type": "string",
     "description": "The value for the dimension."
    }
   }
  },
  "OrderLineItemReturnInfo": {
   "id": "OrderLineItemReturnInfo",
   "type": "object",
   "properties": {
    "daysToReturn": {
     "type": "integer",
     "description": "How many days later the item can be returned.",
     "format": "int32",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "isReturnable": {
     "type": "boolean",
     "description": "Whether the item is returnable.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "policyUrl": {
     "type": "string",
     "description": "URL of the item return policy.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    }
   }
  },
  "OrderLineItemShippingDetails": {
   "id": "OrderLineItemShippingDetails",
   "type": "object",
   "properties": {
    "deliverByDate": {
     "type": "string",
     "description": "The delivery by date, in ISO 8601 format.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "method": {
     "$ref": "OrderLineItemShippingDetailsMethod",
     "description": "Details of the shipping method.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "shipByDate": {
     "type": "string",
     "description": "The ship by date, in ISO 8601 format.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    }
   }
  },
  "OrderLineItemShippingDetailsMethod": {
   "id": "OrderLineItemShippingDetailsMethod",
   "type": "object",
   "properties": {
    "carrier": {
     "type": "string",
     "description": "The carrier for the shipping. Optional. See shipments[].carrier for a list of acceptable values."
    },
    "maxDaysInTransit": {
     "type": "integer",
     "description": "Maximum transit time.",
     "format": "uint32",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "methodName": {
     "type": "string",
     "description": "The name of the shipping method.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "minDaysInTransit": {
     "type": "integer",
     "description": "Minimum transit time.",
     "format": "uint32",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    }
   }
  },
  "OrderMerchantProvidedAnnotation": {
   "id": "OrderMerchantProvidedAnnotation",
   "type": "object",
   "properties": {
    "key": {
     "type": "string",
     "description": "Key for additional merchant provided (as key-value pairs) annotation about the line item."
    },
    "value": {
     "type": "string",
     "description": "Value for additional merchant provided (as key-value pairs) annotation about the line item."
    }
   }
  },
  "OrderPromotion": {
   "id": "OrderPromotion",
   "type": "object",
   "properties": {
    "applicableItems": {
     "type": "array",
     "description": "Items which this promotion may be applied to. If empty, there are no restrictions on applicable items and quantity.",
     "items": {
      "$ref": "OrderPromotionItem"
     }
    },
    "appliedItems": {
     "type": "array",
     "description": "Items which this promotion have been applied to.",
     "items": {
      "$ref": "OrderPromotionItem"
     }
    },
    "funder": {
     "type": "string",
     "description": "The party funding the promotion.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "merchantPromotionId": {
     "type": "string",
     "description": "This field is used to identify promotions within merchants' own systems.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "priceValue": {
     "$ref": "Price",
     "description": "Estimated discount applied to price. Amount is pre-tax or post-tax depending on location of order."
    },
    "shortTitle": {
     "type": "string",
     "description": "A short title of the promotion to be shown on the checkout page."
    },
    "subtype": {
     "type": "string",
     "description": "The category of the promotion.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "taxValue": {
     "$ref": "Price",
     "description": "Estimated discount applied to tax (if allowed by law)."
    },
    "title": {
     "type": "string",
     "description": "The title of the promotion.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "type": {
     "type": "string",
     "description": "The scope of the promotion.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    }
   }
  },
  "OrderPromotionItem": {
   "id": "OrderPromotionItem",
   "type": "object",
   "properties": {
    "lineItemId": {
     "type": "string"
    },
    "productId": {
     "type": "string",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "quantity": {
     "type": "integer",
     "description": "The quantity of the associated product.",
     "format": "int32"
    }
   }
  },
  "OrderRefund": {
   "id": "OrderRefund",
   "type": "object",
   "properties": {
    "actor": {
     "type": "string",
     "description": "The actor that created the refund."
    },
    "amount": {
     "$ref": "Price",
     "description": "The amount that is refunded."
    },
    "creationDate": {
     "type": "string",
     "description": "Date on which the item has been created, in ISO 8601 format."
    },
    "reason": {
     "type": "string",
     "description": "The reason for the refund."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrderReportDisbursement": {
   "id": "OrderReportDisbursement",
   "type": "object",
   "description": "Order disbursement. All methods require the payment analyst role.",
   "properties": {
    "disbursementAmount": {
     "$ref": "Price",
     "description": "The disbursement amount."
    },
    "disbursementCreationDate": {
     "type": "string",
     "description": "The disbursement date, in ISO 8601 format."
    },
    "disbursementDate": {
     "type": "string",
     "description": "The date the disbursement was initiated, in ISO 8601 format."
    },
    "disbursementId": {
     "type": "string",
     "description": "The ID of the disbursement."
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    }
   }
  },
  "OrderReportTransaction": {
   "id": "OrderReportTransaction",
   "type": "object",
   "properties": {
    "disbursementAmount": {
     "$ref": "Price",
     "description": "The disbursement amount."
    },
    "disbursementCreationDate": {
     "type": "string",
     "description": "The date the disbursement was created, in ISO 8601 format."
    },
    "disbursementDate": {
     "type": "string",
     "description": "The date the disbursement was initiated, in ISO 8601 format."
    },
    "disbursementId": {
     "type": "string",
     "description": "The ID of the disbursement."
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "merchantOrderId": {
     "type": "string",
     "description": "Merchant-provided ID of the order."
    },
    "orderId": {
     "type": "string",
     "description": "The ID of the order."
    },
    "productAmount": {
     "$ref": "ProductAmount",
     "description": "Total amount for the items."
    },
    "transactionDate": {
     "type": "string",
     "description": "The date of the transaction, in ISO 8601 format."
    }
   }
  },
  "OrderReturn": {
   "id": "OrderReturn",
   "type": "object",
   "properties": {
    "actor": {
     "type": "string",
     "description": "The actor that created the refund."
    },
    "creationDate": {
     "type": "string",
     "description": "Date on which the item has been created, in ISO 8601 format."
    },
    "quantity": {
     "type": "integer",
     "description": "Quantity that is returned.",
     "format": "uint32"
    },
    "reason": {
     "type": "string",
     "description": "The reason for the return."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrderShipment": {
   "id": "OrderShipment",
   "type": "object",
   "properties": {
    "carrier": {
     "type": "string",
     "description": "The carrier handling the shipment.\n\nAcceptable values for US are:  \n- \"gsx\" \n- \"ups\" \n- \"usps\" \n- \"fedex\" \n- \"dhl\" \n- \"ecourier\" \n- \"cxt\" \n- \"google\" \n- \"ontrac\" \n- \"emsy\" \n- \"ont\" \n- \"deliv\" \n- \"dynamex\" \n- \"lasership\" \n- \"mpx\" \n- \"uds\"  \n\nAcceptable values for FR are:  \n- \"colissimo\" \n- \"chronopost\""
    },
    "creationDate": {
     "type": "string",
     "description": "Date on which the shipment has been created, in ISO 8601 format."
    },
    "deliveryDate": {
     "type": "string",
     "description": "Date on which the shipment has been delivered, in ISO 8601 format. Present only if status is delivered"
    },
    "id": {
     "type": "string",
     "description": "The ID of the shipment."
    },
    "lineItems": {
     "type": "array",
     "description": "The line items that are shipped.",
     "items": {
      "$ref": "OrderShipmentLineItemShipment"
     }
    },
    "status": {
     "type": "string",
     "description": "The status of the shipment."
    },
    "trackingId": {
     "type": "string",
     "description": "The tracking ID for the shipment."
    }
   }
  },
  "OrderShipmentLineItemShipment": {
   "id": "OrderShipmentLineItemShipment",
   "type": "object",
   "properties": {
    "lineItemId": {
     "type": "string",
     "description": "The ID of the line item that is shipped. Either lineItemId or productId is required."
    },
    "productId": {
     "type": "string",
     "description": "The ID of the product to ship. This is the REST ID used in the products service. Either lineItemId or productId is required."
    },
    "quantity": {
     "type": "integer",
     "description": "The quantity that is shipped.",
     "format": "uint32"
    }
   }
  },
  "OrderinvoicesCreateChargeInvoiceRequest": {
   "id": "OrderinvoicesCreateChargeInvoiceRequest",
   "type": "object",
   "properties": {
    "invoiceId": {
     "type": "string",
     "description": "[required] The ID of the invoice."
    },
    "invoiceSummary": {
     "$ref": "InvoiceSummary",
     "description": "[required] Invoice summary."
    },
    "lineItemInvoices": {
     "type": "array",
     "description": "[required] Invoice details per line item.",
     "items": {
      "$ref": "ShipmentInvoiceLineItemInvoice"
     }
    },
    "operationId": {
     "type": "string",
     "description": "[required] The ID of the operation, unique across all operations for a given order."
    },
    "shipmentGroupId": {
     "type": "string",
     "description": "[required] ID of the shipment group. It is assigned by the merchant in the shipLineItems method and is used to group multiple line items that have the same kind of shipping charges."
    }
   }
  },
  "OrderinvoicesCreateChargeInvoiceResponse": {
   "id": "OrderinvoicesCreateChargeInvoiceResponse",
   "type": "object",
   "properties": {
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderinvoicesCreateChargeInvoiceResponse\".",
     "default": "content#orderinvoicesCreateChargeInvoiceResponse"
    }
   }
  },
  "OrderinvoicesCreateRefundInvoiceRequest": {
   "id": "OrderinvoicesCreateRefundInvoiceRequest",
   "type": "object",
   "properties": {
    "invoiceId": {
     "type": "string",
     "description": "[required] The ID of the invoice."
    },
    "operationId": {
     "type": "string",
     "description": "[required] The ID of the operation, unique across all operations for a given order."
    },
    "refundOnlyOption": {
     "$ref": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption",
     "description": "Option to create a refund-only invoice. Exactly one of refundOnlyOption or returnOption must be provided."
    },
    "returnOption": {
     "$ref": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceReturnOption",
     "description": "Option to create an invoice for a refund and mark all items within the invoice as returned. Exactly one of refundOnlyOption or returnOption must be provided."
    },
    "shipmentInvoices": {
     "type": "array",
     "description": "Invoice details for different shipment groups.",
     "items": {
      "$ref": "ShipmentInvoice"
     }
    }
   }
  },
  "OrderinvoicesCreateRefundInvoiceResponse": {
   "id": "OrderinvoicesCreateRefundInvoiceResponse",
   "type": "object",
   "properties": {
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderinvoicesCreateRefundInvoiceResponse\".",
     "default": "content#orderinvoicesCreateRefundInvoiceResponse"
    }
   }
  },
  "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption": {
   "id": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption",
   "type": "object",
   "properties": {
    "description": {
     "type": "string",
     "description": "Optional description of the refund reason."
    },
    "reason": {
     "type": "string",
     "description": "[required] Reason for the refund."
    }
   }
  },
  "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceReturnOption": {
   "id": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceReturnOption",
   "type": "object",
   "properties": {
    "description": {
     "type": "string",
     "description": "Optional description of the return reason."
    },
    "reason": {
     "type": "string",
     "description": "[required] Reason for the return."
    }
   }
  },
  "OrderreportsListDisbursementsResponse": {
   "id": "OrderreportsListDisbursementsResponse",
   "type": "object",
   "properties": {
    "disbursements": {
     "type": "array",
     "description": "The list of disbursements.",
     "items": {
      "$ref": "OrderReportDisbursement"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreportsListDisbursementsResponse\".",
     "default": "content#orderreportsListDisbursementsResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of disbursements."
    }
   }
  },
  "OrderreportsListTransactionsResponse": {
   "id": "OrderreportsListTransactionsResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreportsListTransactionsResponse\".",
     "default": "content#orderreportsListTransactionsResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of transactions."
    },
    "transactions": {
     "type": "array",
     "description": "The list of transactions.",
     "items": {
      "$ref": "OrderReportTransaction"
     }
    }
   }
  },
  "OrderreturnsListResponse": {
   "id": "OrderreturnsListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreturnsListResponse\".",
     "default": "content#orderreturnsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of returns."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "MerchantOrderReturn"
     }
    }
   }
  },
  "OrdersAcknowledgeRequest": {
   "id": "OrdersAcknowledgeRequest",
   "type": "object",
   "properties": {
    "operationId": {
     "type": "string",
     "description": "The ID of the operation. Unique across all operations for a given order."
    }
   }
  },
  "OrdersAcknowledgeResponse": {
   "id": "OrdersAcknowledgeResponse",
   "type": "object",
   "properties": {
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersAcknowledgeResponse\".",
     "default": "content#ordersAcknowledgeResponse"
    }
   }
  },
  "OrdersAdvanceTestOrderResponse": {
   "id": "OrdersAdvanceTestOrderResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersAdvanceTestOrderResponse\".",
     "default": "content#ordersAdvanceTestOrderResponse"
    }
   }
  },
  "OrdersCancelLineItemRequest": {
   "id": "OrdersCancelLineItemRequest",
   "type": "object",
   "properties": {
    "lineItemId": {
     "type": "string",
     "description": "The ID of the line item to cancel. Either lineItemId or productId is required."
    },
    "operationId": {
[...]
