{
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "RollbackNodePoolUpgradeRequest": {
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed\nNodePool upgrade. This will be an no-op if the last upgrade successfully\ncompleted.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node poll to\nrollback upgrade.\nSpecified in the format 'projects/*/locations/*/clusters/*/nodePools/*'.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to rollback.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to rollback.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "RollbackNodePoolUpgradeRequest"
    },
    "RecurringTimeWindow": {
      "id": "RecurringTimeWindow",
      "description": "Represents an arbitrary window of time that recurs.",
      "type": "object",
      "properties": {
        "recurrence": {
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how\nthis window reccurs. They go on for the span of time between the start and\nend time.\n\nFor example, to have something repeat every weekday, you'd use:\n  \u003ccode\u003eFREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR\u003c/code\u003e\nTo repeat some window daily (equivalent to the DailyMaintenanceWindow):\n  \u003ccode\u003eFREQ=DAILY\u003c/code\u003e\nFor the first weekend of every month:\n  \u003ccode\u003eFREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU\u003c/code\u003e\nThis specifies how frequently the window starts. Eg, if you wanted to have\na 9-5 UTC-4 window every weekday, you'd use something like:\n\u003ccode\u003e\n  start time = 2019-01-01T09:00:00-0400\n  end time = 2019-01-01T17:00:00-0400\n  recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR\n\u003c/code\u003e\nWindows can span multiple days. Eg, to make the window encompass every\nweekend from midnight Saturday till the last minute of Sunday UTC:\n\u003ccode\u003e\n  start time = 2019-01-05T00:00:00Z\n  end time = 2019-01-07T23:59:00Z\n  recurrence = FREQ=WEEKLY;BYDAY=SA\n\u003c/code\u003e\nNote the start and end time's specific dates are largely arbitrary except\nto specify duration of the window and when it first starts.\nThe FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported.",
          "type": "string"
        },
        "window": {
          "description": "The window of the first recurrence.",
          "$ref": "TimeWindow"
        }
      }
    },
    "HttpCacheControlResponseHeader": {
      "description": "RFC-2616: cache control support",
      "type": "object",
      "properties": {
        "directive": {
          "description": "14.9 request and response directives",
          "type": "string"
        },
        "age": {
          "type": "string",
          "description": "14.6 response cache age, in seconds since the response is generated",
          "format": "int64"
        },
        "expires": {
          "type": "string",
          "description": "14.21 response cache expires, in RFC 1123 date format"
        }
      },
      "id": "HttpCacheControlResponseHeader"
    },
    "CloudRunConfig": {
      "id": "CloudRunConfig",
      "description": "Configuration options for the Cloud Run feature.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether Cloud Run addon is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "NetworkPolicy": {
      "description": "Configuration options for the NetworkPolicy feature.\nhttps://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        },
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ],
          "description": "The selected network policy provider.",
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ]
        }
      },
      "id": "NetworkPolicy"
    },
    "UpdateMasterRequest": {
      "id": "UpdateMasterRequest",
      "description": "UpdateMasterRequest updates the master of the cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field."
        },
        "masterVersion": {
          "description": "The Kubernetes version to change the master to.\n\nUsers may specify either explicit versions offered by\nKubernetes Engine or version aliases, which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n- \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\": picks an explicit Kubernetes version\n- \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "StatusCondition": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Human-friendly representation of the condition",
          "type": "string"
        },
        "code": {
          "enumDescriptions": [
            "UNKNOWN indicates a generic condition.",
            "GCE_STOCKOUT indicates a Google Compute Engine stockout.",
            "GKE_SERVICE_ACCOUNT_DELETED indicates that the user deleted their robot\nservice account.",
            "Google Compute Engine quota was exceeded.",
            "Cluster state was manually changed by an SRE due to a system logic error.",
            "Unable to perform an encrypt operation against the CloudKMS key used for\netcd level encryption.\nMore codes TBA"
          ],
          "enum": [
            "UNKNOWN",
            "GCE_STOCKOUT",
            "GKE_SERVICE_ACCOUNT_DELETED",
            "GCE_QUOTA_EXCEEDED",
            "SET_BY_OPERATOR",
            "CLOUD_KMS_KEY_ERROR"
          ],
          "description": "Machine-friendly representation of the condition",
          "type": "string"
        }
      },
      "id": "StatusCondition",
      "description": "StatusCondition describes why a cluster or a node pool has a certain status\n(e.g., ERROR or DEGRADED)."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "ListOperationsResponse is the result of ListOperationsRequest.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations in the project in the specified zone.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of operations returned\nmay be missing the operations from those zones."
        }
      }
    },
    "SetMonitoringServiceRequest": {
      "id": "SetMonitoringServiceRequest",
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "monitoringService": {
          "type": "string",
          "description": "The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* \"monitoring.googleapis.com\" - the Google Cloud Monitoring service\n* \"none\" - no metrics will be exported from the cluster"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field."
        }
      }
    },
    "CidrBlock": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "display_name is an optional field for users to identify CIDR blocks.",
          "type": "string"
        },
        "cidrBlock": {
          "description": "cidr_block must be specified in CIDR notation.",
          "type": "string"
        }
      },
      "id": "CidrBlock",
      "description": "CidrBlock contains an optional name and one CIDR block."
    },
    "BinaryAuthorization": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enable Binary Authorization for this cluster. If enabled, all container\nimages will be validated by Google Binauthz.",
          "type": "boolean"
        }
      },
      "id": "BinaryAuthorization",
      "description": "Configuration for Binary Authorization."
    },
    "ServerConfig": {
      "description": "Kubernetes Engine service configuration.",
      "type": "object",
      "properties": {
        "channels": {
          "description": "List of release channel configurations.",
          "type": "array",
          "items": {
            "$ref": "ReleaseChannelConfig"
          }
        },
        "defaultClusterVersion": {
          "description": "Version of Kubernetes the service deploys by default.",
          "type": "string"
        },
        "validNodeVersions": {
          "description": "List of valid node upgrade target versions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "validImageTypes": {
          "description": "List of valid image types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "validMasterVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid master versions."
        },
        "defaultImageType": {
          "type": "string",
          "description": "Default image type."
        },
        "premiumConfig": {
          "$ref": "PremiumConfig",
          "description": "Premium configuration for service."
        }
      },
      "id": "ServerConfig"
    },
    "NodeConfig": {
      "description": "Parameters that describe the nodes in a cluster.",
      "type": "object",
      "properties": {
        "oauthScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of Google API scopes to be made available on all of the\nnode VMs under the \"default\" service account.\n\nThe following scopes are recommended, but not required, and by default are\nnot included:\n\n* `https://www.googleapis.com/auth/compute` is required for mounting\npersistent storage on your nodes.\n* `https://www.googleapis.com/auth/devstorage.read_only` is required for\ncommunicating with **gcr.io**\n(the [Google Container Registry](/container-registry/)).\n\nIf unspecified, no scopes are added, unless Cloud Logging or Cloud\nMonitoring are enabled, in which case their required scopes will be added."
        },
        "taints": {
          "description": "List of kubernetes taints to be applied to each node.\n\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node.\nThese will added in addition to any default label(s) that\nKubernetes may apply to the node.\nIn case of conflict in label keys, the applied set may differ depending on\nthe Kubernetes version -- it's best to assume the behavior is undefined\nand conflicts should be avoided.\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "type": "object"
        },
        "diskSizeGb": {
          "description": "Size of the disk attached to each node, specified in GB.\nThe smallest allowed disk size is 10GB.\n\nIf unspecified, the default disk size is 100GB.",
          "format": "int32",
          "type": "integer"
        },
        "workloadMetadataConfig": {
          "$ref": "WorkloadMetadataConfig",
          "description": "The workload metadata configuration for this node."
        },
        "accelerators": {
          "description": "A list of hardware accelerators to be attached to each node.\nSee https://cloud.google.com/compute/docs/gpus for more information about\nsupport for GPUs.",
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "diskType": {
          "description": "Type of the disk attached to each node (e.g. 'pd-standard' or 'pd-ssd')\n\nIf unspecified, the default disk type is 'pd-standard'",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "The name of a Google Compute Engine [machine\ntype](/compute/docs/machine-types) (e.g.\n`n1-standard-1`).\n\nIf unspecified, the default machine type is\n`n1-standard-1`."
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "minCpuPlatform": {
          "description": "Minimum CPU platform to be used by this instance. The instance may be\nscheduled on the specified or newer CPU platform. Applicable values are the\nfriendly names of CPU platforms, such as\n\u003ccode\u003eminCpuPlatform: &quot;Intel Haswell&quot;\u003c/code\u003e or\n\u003ccode\u003eminCpuPlatform: &quot;Intel Sandy Bridge&quot;\u003c/code\u003e. For more\ninformation, read [how to specify min CPU\nplatform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)",
          "type": "string"
        },
        "preemptible": {
          "description": "Whether the nodes are created as preemptible VM instances. See:\nhttps://cloud.google.com/compute/docs/instances/preemptible for more\ninforamtion about preemptible VM instances.",
          "type": "boolean"
        },
        "localSsdCount": {
          "type": "integer",
          "description": "The number of local SSD disks to be attached to the node.\n\nThe limit for this value is dependent upon the maximum number of\ndisks available on a machine per zone. See:\nhttps://cloud.google.com/compute/docs/disks/local-ssd\nfor more information.",
          "format": "int32"
        },
        "sandboxConfig": {
          "$ref": "SandboxConfig",
          "description": "Sandbox configuration for this node."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs assigned to instances in the cluster.\n\nKeys must conform to the regexp [a-zA-Z0-9-_]+ and be less than 128 bytes\nin length. These are reflected as part of a URL in the metadata server.\nAdditionally, to avoid ambiguity, keys must not conflict with any other\nmetadata keys for the project or be one of the reserved keys:\n \"cluster-location\"\n \"cluster-name\"\n \"cluster-uid\"\n \"configure-sh\"\n \"containerd-configure-sh\"\n \"enable-oslogin\"\n \"gci-ensure-gke-docker\"\n \"gci-update-strategy\"\n \"instance-template\"\n \"kube-env\"\n \"startup-script\"\n \"user-data\"\n \"disable-address-manager\"\n \"windows-startup-script-ps1\"\n \"common-psm1\"\n \"k8s-node-setup-psm1\"\n \"install-ssh-psm1\"\n \"user-profile-psm1\"\n \"serial-port-logging-enable\"\nValues are free-form strings, and only have meaning as interpreted by\nthe image running in the instance. The only restriction placed on them is\nthat each value's size must be less than or equal to 32 KB.\n\nThe total size of all keys and values must be less than 512 KB.",
          "type": "object"
        },
        "tags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify\nvalid sources or targets for network firewalls and are specified by\nthe client during cluster or node pool creation. Each tag within the list\nmust comply with RFC1035.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. If\nno Service Account is specified, the \"default\" service account is used.",
          "type": "string"
        },
        "imageType": {
          "description": "The image type to use for this node. Note that for a given image type,\nthe latest version of it will be used.",
          "type": "string"
        }
      },
      "id": "NodeConfig"
    },
    "AutoUpgradeOptions": {
      "type": "object",
      "properties": {
        "description": {
          "description": "[Output only] This field is set when upgrades are about to commence\nwith the description of the upgrade.",
          "type": "string"
        },
        "autoUpgradeStartTime": {
          "description": "[Output only] This field is set when upgrades are about to commence\nwith the approximate start time for the upgrades, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        }
      },
      "id": "AutoUpgradeOptions",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how\nthe Auto Upgrades will proceed."
    },
    "TierSettings": {
      "description": "Cluster tier settings.",
      "type": "object",
      "properties": {
        "tier": {
          "description": "Cluster tier.",
          "type": "string",
          "enumDescriptions": [
            "TIER_UNSPECIFIED is the default value. If this value is set during create\nor update, it defaults to the project level tier setting.",
            "Represents the standard tier or base Google Kubernetes Engine offering.",
            "Represents the advanced tier."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "ADVANCED"
          ]
        }
      },
      "id": "TierSettings"
    },
    "ListClustersResponse": {
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "type": "object",
      "properties": {
        "clusters": {
          "description": "A list of clusters in the project in the specified zone, or\nacross all ones.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        },
        "missingZones": {
          "description": "If any zones are listed here, the list of clusters returned\nmay be missing those zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListClustersResponse"
    },
    "UsableSubnetwork": {
      "type": "object",
      "properties": {
        "ipCidrRange": {
          "description": "The range of internal addresses that are owned by this subnetwork.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Subnetwork Name.\nExample: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "type": "string"
        },
        "network": {
          "description": "Network Name.\nExample: projects/my-project/global/networks/my-network",
          "type": "string"
        },
        "statusMessage": {
          "description": "A human readable status message representing the reasons for cases where\nthe caller cannot use the secondary ranges under the subnet. For example if\nthe secondary_ip_ranges is empty due to a permission issue, an insufficient\npermission message will be given by status_message.",
          "type": "string"
        },
        "secondaryIpRanges": {
          "description": "Secondary IP ranges.",
          "type": "array",
          "items": {
            "$ref": "UsableSubnetworkSecondaryRange"
          }
        }
      },
      "id": "UsableSubnetwork",
      "description": "UsableSubnetwork resource returns the subnetwork name, its associated network\nand the primary CIDR range."
    },
    "PodSecurityPolicyConfig": {
      "id": "PodSecurityPolicyConfig",
      "description": "Configuration for the PodSecurityPolicy feature.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable the PodSecurityPolicy controller for this cluster. If enabled, pods\nmust be valid under a PodSecurityPolicy to be created."
        }
      }
    },
    "HttpLoadBalancing": {
      "description": "Configuration options for the HTTP (L7) load balancing controller addon,\nwhich makes it easy to set up HTTP load balancers for services in a cluster.",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster.\nWhen enabled, it runs a small pod in the cluster that manages the load\nbalancers."
        }
      },
      "id": "HttpLoadBalancing"
    },
    "NodePoolAutoscaling": {
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to\nadjust the size of the node pool to the current cluster usage.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Is autoscaling enabled for this node pool.",
          "type": "boolean"
        },
        "maxNodeCount": {
          "type": "integer",
          "description": "Maximum number of nodes in the NodePool. Must be \u003e= min_node_count. There\nhas to enough quota to scale up the cluster.",
          "format": "int32"
        },
        "minNodeCount": {
          "description": "Minimum number of nodes in the NodePool. Must be \u003e= 1 and \u003c=\nmax_node_count.",
          "format": "int32",
          "type": "integer"
        },
        "autoprovisioned": {
          "description": "Can this node pool be deleted automatically.",
          "type": "boolean"
        }
      },
      "id": "NodePoolAutoscaling"
    },
    "SetMasterAuthRequest": {
      "type": "object",
      "properties": {
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set auth.\nSpecified in the format 'projects/*/locations/*/clusters/*'."
        },
        "action": {
          "enumDescriptions": [
            "Operation is unknown and will error out.",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that.",
            "Set the username.  If an empty username is provided, basic authentication\nis disabled for the cluster.  If a non-empty username is provided, basic\nauthentication is enabled, with either a provided password or a generated\none."
          ],
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD",
            "SET_USERNAME"
          ],
          "description": "The exact form of action to be taken on the master auth.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "update": {
          "description": "A description of the update.",
          "$ref": "MasterAuth"
        }
      },
      "id": "SetMasterAuthRequest",
      "description": "SetMasterAuthRequest updates the admin password of a cluster."
    },
    "SetNetworkPolicyRequest": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set networking\npolicy. Specified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "networkPolicy": {
          "$ref": "NetworkPolicy",
          "description": "Configuration options for the NetworkPolicy feature."
        }
      },
      "id": "SetNetworkPolicyRequest",
      "description": "SetNetworkPolicyRequest enables/disables network policy for a cluster."
    },
    "TimeWindow": {
      "description": "Represents an arbitrary window of time.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time that the window first starts.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "The time that the window ends. The end time should take place after the\nstart time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "TimeWindow"
    },
    "Jwk": {
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "type": "object",
      "properties": {
        "e": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "kty": {
          "description": "Key Type.",
          "type": "string"
        },
        "n": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "alg": {
          "description": "Algorithm.",
          "type": "string"
        },
        "use": {
          "description": "Permitted uses for the public keys.",
          "type": "string"
        },
        "y": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "x": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "crv": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "kid": {
          "description": "Key ID.",
          "type": "string"
        }
      },
      "id": "Jwk"
    },
    "IntraNodeVisibilityConfig": {
      "description": "IntraNodeVisibilityConfig contains the desired config of the intra-node\nvisibility on this cluster.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enables intra node visibility for this cluster.",
          "type": "boolean"
        }
      },
      "id": "IntraNodeVisibilityConfig"
    },
    "IPAllocationPolicy": {
      "id": "IPAllocationPolicy",
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "type": "object",
      "properties": {
        "clusterIpv4Cidr": {
          "description": "This field is deprecated, use cluster_ipv4_cidr_block.",
          "type": "string"
        },
        "servicesIpv4Cidr": {
          "description": "This field is deprecated, use services_ipv4_cidr_block.",
          "type": "string"
        },
        "servicesIpv4CidrBlock": {
          "description": "The IP address range of the services IPs in this cluster. If blank, a range\nwill be automatically chosen with the default size.\n\nThis field is only applicable when `use_ip_aliases` is true.\n\nSet to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use.",
          "type": "string"
        },
        "allowRouteOverlap": {
          "description": "If true, allow allocation of cluster CIDR ranges that overlap with certain\nkinds of network routes. By default we do not allow cluster CIDR ranges to\nintersect with any user declared routes. With allow_route_overlap == true,\nwe allow overlapping with CIDR ranges that are larger than the cluster CIDR\nrange.\n\nIf this field is set to true, then cluster and services CIDRs must be\nfully-specified (e.g. `10.96.0.0/14`, but not `/14`), which means:\n1) When `use_ip_aliases` is true, `cluster_ipv4_cidr_block` and\n   `services_ipv4_cidr_block` must be fully-specified.\n2) When `use_ip_aliases` is false, `cluster.cluster_ipv4_cidr` muse be\n   fully-specified.",
          "type": "boolean"
        },
        "nodeIpv4Cidr": {
          "description": "This field is deprecated, use node_ipv4_cidr_block.",
          "type": "string"
        },
        "clusterIpv4CidrBlock": {
          "description": "The IP address range for the cluster pod IPs. If this field is set, then\n`cluster.cluster_ipv4_cidr` must be left blank.\n\nThis field is only applicable when `use_ip_aliases` is true.\n\nSet to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use.",
          "type": "string"
        },
        "clusterSecondaryRangeName": {
          "description": "The name of the secondary range to be used for the cluster CIDR\nblock.  The secondary range will be used for pod IP\naddresses. This must be an existing secondary range associated\nwith the cluster subnetwork.\n\nThis field is only applicable with use_ip_aliases and\ncreate_subnetwork is false.",
          "type": "string"
        },
        "nodeIpv4CidrBlock": {
          "description": "The IP address range of the instance IPs in this cluster.\n\nThis is applicable only if `create_subnetwork` is true.\n\nSet to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use.",
          "type": "string"
        },
        "tpuIpv4CidrBlock": {
          "description": "The IP address range of the Cloud TPUs in this cluster. If unspecified, a\nrange will be automatically chosen with the default size.\n\nThis field is only applicable when `use_ip_aliases` is true.\n\nIf unspecified, the range will use the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use.",
          "type": "string"
        },
        "createSubnetwork": {
          "type": "boolean",
          "description": "Whether a new subnetwork will be created automatically for the cluster.\n\nThis field is only applicable when `use_ip_aliases` is true."
        },
        "useIpAliases": {
          "description": "Whether alias IPs will be used for pod IPs in the cluster.",
          "type": "boolean"
        },
        "servicesSecondaryRangeName": {
          "description": "The name of the secondary range to be used as for the services\nCIDR block.  The secondary range will be used for service\nClusterIPs. This must be an existing secondary range associated\nwith the cluster subnetwork.\n\nThis field is only applicable with use_ip_aliases and\ncreate_subnetwork is false.",
          "type": "string"
        },
        "subnetworkName": {
          "type": "string",
          "description": "A custom subnetwork name to be used if `create_subnetwork` is true.  If\nthis field is empty, then an automatic name will be chosen for the new\nsubnetwork."
        }
      }
    },
    "ClusterUpdate": {
      "id": "ClusterUpdate",
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can\nbe applied to a cluster with each request, so at most one field can be\nprovided.",
      "type": "object",
      "properties": {
        "desiredPrivateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "The desired private cluster configuration."
        },
        "desiredVerticalPodAutoscaling": {
          "$ref": "VerticalPodAutoscaling",
          "description": "Cluster-level Vertical Pod Autoscaling configuration."
        },
        "desiredBinaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "The desired configuration options for the Binary Authorization feature."
        },
        "desiredAddonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "desiredNodeVersion": {
          "type": "string",
          "description": "The Kubernetes version to change the nodes to (typically an\nupgrade).\n\nUsers may specify either explicit versions offered by\nKubernetes Engine or version aliases, which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n- \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\": picks an explicit Kubernetes version\n- \"-\": picks the Kubernetes master version"
        },
        "desiredClusterAutoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "desiredPodSecurityPolicyConfig": {
          "description": "The desired configuration options for the PodSecurityPolicy feature.",
          "$ref": "PodSecurityPolicyConfig"
        },
        "desiredIntraNodeVisibilityConfig": {
          "$ref": "IntraNodeVisibilityConfig",
          "description": "The desired config of Intra-node visibility."
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The desired configuration options for master authorized networks feature."
        },
        "desiredDatabaseEncryption": {
          "$ref": "DatabaseEncryption",
          "description": "Configuration of etcd encryption."
        },
        "desiredResourceUsageExportConfig": {
          "$ref": "ResourceUsageExportConfig",
          "description": "The desired configuration for exporting resource usage."
        },
        "desiredLocations": {
          "description": "The desired list of Google Compute Engine\n[zones](/compute/docs/zones#available) in which the cluster's nodes\nshould be located. Changing the locations a cluster is in will result\nin nodes being either created or removed from the cluster, depending on\nwhether locations are being added or removed.\n\nThis list must always include the cluster's primary zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "desiredNodePoolAutoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Autoscaler configuration for the node pool specified in\ndesired_node_pool_id. If there is only one pool in the\ncluster and desired_node_pool_id is not provided then\nthe change applies to that single node pool."
        },
        "desiredMonitoringService": {
          "description": "The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* \"monitoring.googleapis.com/kubernetes\" - the Google Cloud Monitoring\nservice with Kubernetes-native resource model in Stackdriver\n* \"monitoring.googleapis.com\" - the Google Cloud Monitoring service\n* \"none\" - no metrics will be exported from the cluster",
          "type": "string"
        },
        "desiredImageType": {
          "description": "The desired image type for the node pool.\nNOTE: Set the \"desired_node_pool\" field as well.",
          "type": "string"
        },
        "desiredWorkloadIdentityConfig": {
          "description": "Configuration for Workload Identity.",
          "$ref": "WorkloadIdentityConfig"
        },
        "desiredNodePoolId": {
          "description": "The node pool to be upgraded. This field is mandatory if\n\"desired_node_version\", \"desired_image_family\",\n\"desired_node_pool_autoscaling\", or \"desired_workload_metadata_config\"\nis specified and there is more than one node pool on the cluster.",
          "type": "string"
        },
        "desiredShieldedNodes": {
          "$ref": "ShieldedNodes",
          "description": "Configuration for Shielded Nodes."
        },
        "desiredMasterVersion": {
          "type": "string",
          "description": "The Kubernetes version to change the master to. The only valid value is the\nlatest supported version.\n\nUsers may specify either explicit versions offered by\nKubernetes Engine or version aliases, which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n- \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\": picks an explicit Kubernetes version\n- \"-\": picks the default Kubernetes version"
        },
        "desiredLoggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write metrics.\nCurrently available options:\n\n* \"logging.googleapis.com/kubernetes\" - the Google Cloud Logging\nservice with Kubernetes-native resource model in Stackdriver\n* \"logging.googleapis.com\" - the Google Cloud Logging service\n* \"none\" - no logs will be exported from the cluster"
        }
      }
    },
    "HorizontalPodAutoscaling": {
      "description": "Configuration options for the horizontal pod autoscaling feature, which\nincreases or decreases the number of replica pods a replication controller\nhas based on the resource usage of the existing pods.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster.\nWhen enabled, it ensures that a Heapster pod is running in the cluster,\nwhich is also used by the Cloud Monitoring service.",
          "type": "boolean"
        }
      },
      "id": "HorizontalPodAutoscaling"
    },
    "MasterAuthorizedNetworksConfig": {
      "description": "Configuration options for the master authorized networks feature. Enabled\nmaster authorized networks will disallow all external traffic to access\nKubernetes master through HTTPS except traffic from the given CIDR blocks,\nGoogle Compute Engine Public IPs and Google Prod IPs.",
      "type": "object",
      "properties": {
        "cidrBlocks": {
          "description": "cidr_blocks define up to 10 external networks that could access\nKubernetes master through HTTPS.",
          "type": "array",
          "items": {
            "$ref": "CidrBlock"
          }
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether or not master authorized networks is enabled."
        }
      },
      "id": "MasterAuthorizedNetworksConfig"
    },
    "SetNodePoolManagementRequest": {
      "description": "SetNodePoolManagementRequest sets the node management properties of a node\npool.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set\nmanagement properties. Specified in the format\n'projects/*/locations/*/clusters/*/nodePools/*'.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "NodeManagement configuration for the node pool."
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to update.\nThis field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to update.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetNodePoolManagementRequest"
    },
    "AuthenticatorGroupsConfig": {
      "description": "Configuration for returning group information from authenticators.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether this cluster should return group membership lookups\nduring authentication using a group of security groups."
        },
        "securityGroup": {
          "description": "The name of the security group-of-groups to be used. Only relevant\nif enabled = true.",
          "type": "string"
        }
      },
      "id": "AuthenticatorGroupsConfig"
    },
    "SetNodePoolAutoscalingRequest": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster, node pool) of the node pool to set\nautoscaler settings. Specified in the format\n'projects/*/locations/*/clusters/*/nodePools/*'.",
          "type": "string"
        },
        "autoscaling": {
          "description": "Autoscaling configuration for the node pool.",
          "$ref": "NodePoolAutoscaling"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetNodePoolAutoscalingRequest",
      "description": "SetNodePoolAutoscalingRequest sets the autoscaler settings of a node pool."
    },
    "ReleaseChannelConfig": {
      "description": "ReleaseChannelConfig exposes configuration for a release channel.",
      "type": "object",
      "properties": {
        "channel": {
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "description": "The release channel this configuration applies to.",
          "type": "string",
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want\nto test new releases before they are qualified for production use or\ngeneral availability. New upgrades will occur roughly weekly.\n\nWARNING: Versions available in the RAPID Channel may be subject to\nunresolved issues with no known workaround and are not for use with\nproduction workloads or subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA\nquality. REGULAR is intended for production users who want to take\nadvantage of new features. New upgrades will occur roughly every few\nweeks.",
            "Clusters subscribed to STABLE receive versions that are known to be\nstable and reliable in production. STABLE is intended for production\nusers who need stability above all else, or for whom frequent upgrades\nare too risky. New upgrades will occur roughly every few months."
          ]
        },
        "defaultVersion": {
          "description": "The default version for newly created clusters on the channel.",
          "type": "string"
        }
      },
      "id": "ReleaseChannelConfig"
    },
    "CreateClusterRequest": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "A [cluster\nresource](/container-engine/reference/rest/v1beta1/projects.zones.clusters)"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "The parent (project and location) where the cluster will be created.\nSpecified in the format 'projects/*/locations/*'."
        }
      },
      "id": "CreateClusterRequest",
      "description": "CreateClusterRequest creates a cluster."
    },
    "Location": {
      "description": "Location returns the location name, and if the location is recommended\nfor GKE cluster scheduling.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Contains the name of the resource requested.\nSpecified in the format 'projects/*/locations/*'."
        },
        "recommended": {
          "description": "Whether the location is recomended for GKE cluster scheduling.",
          "type": "boolean"
        },
        "type": {
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "ZONE",
            "REGION"
          ],
          "description": "Contains the type of location this Location is for.\nRegional or Zonal.",
          "type": "string",
          "enumDescriptions": [
            "LOCATION_TYPE_UNSPECIFIED means the location type was not determined.",
            "A GKE Location where Zonal clusters can be created.",
            "A GKE Location where Regional clusters can be created."
          ]
        }
      },
      "id": "Location"
    },
    "MaxPodsConstraint": {
      "id": "MaxPodsConstraint",
      "description": "Constraints applied to pods.",
      "type": "object",
      "properties": {
        "maxPodsPerNode": {
          "description": "Constraint enforced on the max num of pods per node.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GetJSONWebKeysResponse": {
      "type": "object",
      "properties": {
        "keys": {
          "description": "The public component of the keys used by the cluster to sign token\nrequests.",
          "type": "array",
          "items": {
            "$ref": "Jwk"
          }
        },
        "cacheHeader": {
          "$ref": "HttpCacheControlResponseHeader",
          "description": "OnePlatform automatically extracts this field and uses it to set the HTTP\nCache-Control header."
        }
      },
      "id": "GetJSONWebKeysResponse",
      "description": "GetJSONWebKeysResponse is a valid JSON Web Key Set as specififed in rfc 7517"
    },
    "PrivateClusterConfig": {
      "type": "object",
      "properties": {
        "publicEndpoint": {
          "type": "string",
          "description": "Output only. The external IP address of this cluster's master endpoint."
        },
        "enablePrivateNodes": {
          "type": "boolean",
          "description": "Whether nodes have internal IP addresses only. If enabled, all nodes are\ngiven only RFC 1918 private addresses and communicate with the master via\nprivate networking."
        },
        "masterIpv4CidrBlock": {
          "description": "The IP range in CIDR notation to use for the hosted master network. This\nrange will be used for assigning internal IP addresses to the master or\nset of masters, as well as the ILB VIP. This range must not overlap with\nany other ranges in use within the cluster's network.",
          "type": "string"
        },
        "privateEndpoint": {
          "description": "Output only. The internal IP address of this cluster's master endpoint.",
          "type": "string"
        },
        "enablePrivateEndpoint": {
          "description": "Whether the master's internal IP address is used as the cluster endpoint.",
          "type": "boolean"
        },
        "enablePeeringRouteSharing": {
          "description": "Whether to enable route sharing over the network peering.",
          "type": "boolean"
        },
        "peeringName": {
          "description": "Output only. The peering name in the customer VPC used by this cluster.",
          "type": "string"
        }
      },
      "id": "PrivateClusterConfig",
      "description": "Configuration options for private clusters."
    },
    "DatabaseEncryption": {
      "description": "Configuration of etcd encryption.",
      "type": "object",
      "properties": {
        "keyName": {
          "description": "Name of CloudKMS key to use for the encryption of secrets in etcd.\nEx. projects/my-project/locations/global/keyRings/my-ring/cryptoKeys/my-key",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Should never be set",
            "Secrets in etcd are encrypted.",
            "Secrets in etcd are stored in plain text (at etcd level) - this is\nunrelated to Google Compute Engine level full disk encryption."
          ],
          "enum": [
            "UNKNOWN",
            "ENCRYPTED",
            "DECRYPTED"
          ],
          "description": "Denotes the state of etcd encryption."
        }
      },
      "id": "DatabaseEncryption"
    },
    "LegacyAbac": {
      "description": "Configuration for the legacy Attribute Based Access Control authorization\nmode.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled,\nidentities in the system, including service accounts, nodes, and\ncontrollers, will have statically granted permissions beyond those\nprovided by the RBAC configuration or IAM.",
          "type": "boolean"
        }
      },
      "id": "LegacyAbac"
    },
    "AcceleratorConfig": {
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "type": "object",
      "properties": {
        "acceleratorCount": {
          "type": "string",
          "description": "The number of the accelerator cards exposed to an instance.",
          "format": "int64"
        },
        "acceleratorType": {
          "description": "The accelerator type resource name. List of supported accelerators\n[here](/compute/docs/gpus)",
          "type": "string"
        }
      },
      "id": "AcceleratorConfig"
    },
    "UpdateNodePoolRequest": {
      "description": "SetNodePoolVersionRequest updates the version of a node pool.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The desired list of Google Compute Engine\n[zones](/compute/docs/zones#available) in which the node pool's nodes\nshould be located. Changing the locations for a node pool will result\nin nodes being either created or removed from the node pool, depending\non whether locations are being added or removed."
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field."
        },
        "workloadMetadataConfig": {
          "$ref": "WorkloadMetadataConfig",
          "description": "The desired image type for the node pool."
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "imageType": {
          "description": "The desired image type for the node pool.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field."
        },
        "nodeVersion": {
          "description": "The Kubernetes version to change the nodes to (typically an\nupgrade).\n\nUsers may specify either explicit versions offered by Kubernetes Engine or\nversion aliases, which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n- \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\": picks an explicit Kubernetes version\n- \"-\": picks the Kubernetes master version",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool) of the node pool to\nupdate. Specified in the format\n'projects/*/locations/*/clusters/*/nodePools/*'."
        }
      },
      "id": "UpdateNodePoolRequest"
    },
    "SetAddonsConfigRequest": {
      "description": "SetAddonsRequest sets the addons associated with the cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "addonsConfig": {
          "description": "The desired configurations for the various addons available to run in the\ncluster.",
          "$ref": "AddonsConfig"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set addons.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        }
      },
      "id": "SetAddonsConfigRequest"
    },
    "UsableSubnetworkSecondaryRange": {
      "description": "Secondary IP range of a usable subnetwork.",
      "type": "object",
      "properties": {
        "ipCidrRange": {
          "type": "string",
          "description": "The range of IP addresses belonging to this subnetwork secondary range."
        },
        "rangeName": {
          "description": "The name associated with this subnetwork secondary range, used when adding\nan alias IP range to a VM instance.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "UNKNOWN is the zero value of the Status enum. It's not a valid status.",
            "UNUSED denotes that this range is unclaimed by any cluster.",
            "IN_USE_SERVICE denotes that this range is claimed by a cluster for\nservices. It cannot be used for other clusters.",
            "IN_USE_SHAREABLE_POD denotes this range was created by the network admin\nand is currently claimed by a cluster for pods. It can only be used by\nother clusters as a pod range.",
            "IN_USE_MANAGED_POD denotes this range was created by GKE and is claimed\nfor pods. It cannot be used for other clusters."
          ],
          "enum": [
            "UNKNOWN",
            "UNUSED",
            "IN_USE_SERVICE",
            "IN_USE_SHAREABLE_POD",
            "IN_USE_MANAGED_POD"
          ],
          "description": "This field is to determine the status of the secondary range programmably.",
          "type": "string"
        }
      },
      "id": "UsableSubnetworkSecondaryRange"
    },
    "NodeTaint": {
      "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect\ncan only be one of three types:  NoSchedule, PreferNoSchedule or NoExecute.\n\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key for taint."
        },
        "value": {
          "description": "Value for taint.",
          "type": "string"
        },
        "effect": {
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "description": "Effect for taint.",
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ]
        }
      },
      "id": "NodeTaint"
    },
    "SetLegacyAbacRequest": {
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for\na cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set legacy abac.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether ABAC authorization will be enabled in the cluster.",
          "type": "boolean"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to update.\nThis field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetLegacyAbacRequest"
    },
    "PremiumConfig": {
      "type": "object",
      "properties": {
        "features": {
          "description": "The features that GKE provides.",
          "type": "array",
          "items": {
            "$ref": "FeatureConfig"
          }
        },
        "tiers": {
          "description": "The tiers that are part of the premium offering.",
          "type": "array",
          "items": {
            "$ref": "TierConfig"
          }
        }
      },
      "id": "PremiumConfig",
      "description": "PremiumConfig is the configuration for all premium features and tiers."
    },
    "ConsumptionMeteringConfig": {
      "description": "Parameters for controlling consumption metering.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether to enable consumption metering for this cluster. If enabled, a\nsecond BigQuery table will be created to hold resource consumption\nrecords.",
          "type": "boolean"
        }
      },
      "id": "ConsumptionMeteringConfig"
    },
    "AddonsConfig": {
      "type": "object",
      "properties": {
        "httpLoadBalancing": {
          "$ref": "HttpLoadBalancing",
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which\nmakes it easy to set up HTTP load balancers for services in a cluster."
        },
        "kubernetesDashboard": {
          "$ref": "KubernetesDashboard",
          "description": "Configuration for the Kubernetes Dashboard.\nThis addon is deprecated, and will be disabled in 1.15. It is recommended\nto use the Cloud Console to manage and monitor your Kubernetes clusters,\nworkloads and applications. For more information, see:\nhttps://cloud.google.com/kubernetes-engine/docs/concepts/dashboards"
        },
        "istioConfig": {
          "$ref": "IstioConfig",
          "description": "Configuration for Istio, an open platform to connect, manage, and secure\nmicroservices."
        },
        "networkPolicyConfig": {
          "$ref": "NetworkPolicyConfig",
          "description": "Configuration for NetworkPolicy. This only tracks whether the addon\nis enabled or not on the Master, it does not track whether network policy\nis enabled for the nodes."
        },
        "cloudRunConfig": {
          "$ref": "CloudRunConfig",
          "description": "Configuration for the Cloud Run addon. The `IstioConfig` addon must be\nenabled in order to enable Cloud Run addon. This option can only be enabled\nat cluster creation time."
        },
        "horizontalPodAutoscaling": {
          "description": "Configuration for the horizontal pod autoscaling feature, which\nincreases or decreases the number of replica pods a replication controller\nhas based on the resource usage of the existing pods.",
          "$ref": "HorizontalPodAutoscaling"
        }
      },
      "id": "AddonsConfig",
      "description": "Configuration for the addons that can be automatically spun up in the\ncluster, enabling additional functionality."
    },
    "NetworkConfig": {
      "type": "object",
      "properties": {
        "network": {
          "description": "Output only. The relative name of the Google Compute Engine\nnetwork(/compute/docs/networks-and-firewalls#networks) to which\nthe cluster is connected.\nExample: projects/my-project/global/networks/my-network",
          "type": "string"
        },
        "enableIntraNodeVisibility": {
          "description": "Whether Intra-node visibility is enabled for this cluster.\nThis makes same node pod to pod traffic visible for VPC network.",
          "type": "boolean"
        },
        "subnetwork": {
          "description": "Output only. The relative name of the Google Compute Engine\n[subnetwork](/compute/docs/vpc) to which the cluster is connected.\nExample: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "type": "string"
        }
      },
      "id": "NetworkConfig",
      "description": "NetworkConfig reports the relative names of network & subnetwork."
    },
    "SetLocationsRequest": {
      "description": "SetLocationsRequest sets the locations of the cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set locations.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The desired list of Google Compute Engine\n[zones](/compute/docs/zones#available) in which the cluster's nodes\nshould be located. Changing the locations a cluster is in will result\nin nodes being either created or removed from the cluster, depending on\nwhether locations are being added or removed.\n\nThis list must always include the cluster's primary zone."
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetLocationsRequest"
    },
    "SetNodePoolSizeRequest": {
      "id": "SetNodePoolSizeRequest",
      "description": "SetNodePoolSizeRequest sets the size a node\npool.",
      "type": "object",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field."
        },
        "nodeCount": {
          "description": "The desired node count for the pool.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node pool to set\nsize.\nSpecified in the format 'projects/*/locations/*/clusters/*/nodePools/*'."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to update.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to update.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "NetworkPolicyConfig": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether NetworkPolicy is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "NetworkPolicyConfig",
      "description": "Configuration for NetworkPolicy. This only tracks whether the addon\nis enabled or not on the Master, it does not track whether network policy\nis enabled for the nodes."
    },
    "UpdateClusterRequest": {
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "update": {
          "$ref": "ClusterUpdate",
          "description": "A description of the update."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field."
        }
      },
      "id": "UpdateClusterRequest"
    },
    "ShieldedNodes": {
      "description": "Configuration of Shielded Nodes feature.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster.",
          "type": "boolean"
        }
      },
      "id": "ShieldedNodes"
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled.\n\nSecure Boot helps ensure that the system only runs authentic software by\nverifying the digital signature of all boot components, and halting the\nboot process if signature verification fails."
        },
        "enableIntegrityMonitoring": {
          "description": "Defines whether the instance has integrity monitoring enabled.\n\nEnables monitoring and attestation of the boot integrity of the instance.\nThe attestation is performed against the integrity policy baseline. This\nbaseline is initially derived from the implicitly trusted boot image when\nthe instance is created.",
          "type": "boolean"
        }
      },
      "id": "ShieldedInstanceConfig",
      "description": "A set of Shielded Instance options."
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "[Output only] The current status of this cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully\nusable.",
            "The RECONCILING state indicates that some work is actively being done on\nthe cluster, such as upgrading the master or node software. Details can\nbe found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster may be unusable. Details\ncan be found in the `statusMessage` field.",
            "The DEGRADED state indicates the cluster requires user action to restore\nfull functionality. Details can be found in the `statusMessage` field."
          ]
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Configuration for cluster networking."
        },
        "name": {
          "description": "The name of this cluster. The name must be unique within this project\nand zone, and can be up to 40 characters with the following restrictions:\n\n* Lowercase letters, numbers, and hyphens only.\n* Must start with a letter.\n* Must end with a number or a letter.",
          "type": "string"
        },
        "endpoint": {
          "type": "string",
          "description": "[Output only] The IP address of this cluster's master endpoint.\nThe endpoint can be accessed from the internet at\n`https://username:password@endpoint/`.\n\nSee the `masterAuth` property of this resource for username and\npassword information."
        },
        "location": {
          "description": "[Output only] The name of the Google Compute Engine\n[zone](/compute/docs/regions-zones/regions-zones#available) or\n[region](/compute/docs/regions-zones/regions-zones#available) in which\nthe cluster resides.",
          "type": "string"
        },
        "tierSettings": {
          "$ref": "TierSettings",
          "description": "Cluster tier settings."
        },
        "createTime": {
          "description": "[Output only] The time the cluster was created, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "clusterIpv4Cidr": {
          "description": "The IP address range of the container pods in this cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`). Leave blank to have\none automatically chosen or specify a `/14` block in `10.0.0.0/8`.",
          "type": "string"
        },
        "autoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "initialNodeCount": {
          "description": "The number of nodes to create in this cluster. You must ensure that your\nCompute Engine \u003ca href=\"/compute/docs/resource-quotas\"\u003eresource quota\u003c/a\u003e\nis sufficient for this number of instances. You must also have available\nfirewall and routes quota.\nFor requests, this field should only be used in lieu of a\n\"node_pool\" object, since this configuration (along with the\n\"node_config\") will be used to create a \"NodePool\" object with an\nauto-generated name. Do not use this and a node_pool at the same time.\n\nThis field is deprecated, use node_pool.initial_node_count instead.",
          "format": "int32",
          "type": "integer"
        },
        "instanceGroupUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Deprecated. Use node_pools.instance_group_urls."
        },
        "shieldedNodes": {
          "$ref": "ShieldedNodes",
          "description": "Shielded Nodes configuration."
        },
        "privateClusterConfig": {
          "description": "Configuration for private cluster.",
          "$ref": "PrivateClusterConfig"
        },
        "verticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "defaultMaxPodsConstraint": {
          "$ref": "MaxPodsConstraint",
          "description": "The default constraint on the maximum number of pods that can be run\nsimultaneously on a node in the node pool of this cluster. Only honored\nif cluster created with IP Alias support."
        },
        "network": {
          "description": "The name of the Google Compute Engine\n[network](/compute/docs/networks-and-firewalls#networks) to which the\ncluster is connected. If left unspecified, the `default` network\nwill be used. On output this shows the network ID instead of\nthe name.",
          "type": "string"
        },
        "labelFingerprint": {
          "description": "The fingerprint of the set of labels for this cluster.",
          "type": "string"
        },
        "nodeIpv4CidrSize": {
          "description": "[Output only] The size of the address space on each node for hosting\ncontainers. This is provisioned from within the `container_ipv4_cidr`\nrange. This field will only be set when cluster is in route-based network\nmode.",
          "format": "int32",
          "type": "integer"
        },
        "masterAuthorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The configuration options for master authorized networks feature."
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output only] Additional information about the current status of this\ncluster, if available."
        },
        "masterAuth": {
          "$ref": "MasterAuth",
          "description": "The authentication information for accessing the master endpoint.\nIf unspecified, the defaults are used:\nFor clusters before v1.12, if master_auth is unspecified, `username` will\nbe set to \"admin\", a random password will be generated, and a client\ncertificate will be issued."
        },
        "authenticatorGroupsConfig": {
          "$ref": "AuthenticatorGroupsConfig",
          "description": "Configuration controlling RBAC group membership information."
        },
        "masterIpv4CidrBlock": {
          "description": "The IP prefix in CIDR notation to use for the hosted master network.\nThis prefix will be used for assigning private IP addresses to the\nmaster or set of masters, as well as the ILB VIP.\nThis field is deprecated, use\nprivate_cluster_config.master_ipv4_cidr_block instead.",
          "type": "string"
        },
        "currentMasterVersion": {
          "description": "[Output only] The current software version of the master endpoint.",
          "type": "string"
        },
        "podSecurityPolicyConfig": {
          "$ref": "PodSecurityPolicyConfig",
          "description": "Configuration for the PodSecurityPolicy feature."
        },
        "addonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "subnetwork": {
          "description": "The name of the Google Compute Engine\n[subnetwork](/compute/docs/subnetworks) to which the\ncluster is connected. On output this shows the subnetwork ID instead of\nthe name.",
          "type": "string"
        },
        "currentNodeVersion": {
          "type": "string",
          "description": "[Output only] Deprecated, use\n[NodePool.version](/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters.nodePools)\ninstead. The current version of the node software components.\nIf they are currently at multiple versions because they're in the process\nof being upgraded, this reflects the minimum version of all nodes."
        },
        "maintenancePolicy": {
          "$ref": "MaintenancePolicy",
          "description": "Configure the maintenance policy for this cluster."
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource labels for the cluster to use to annotate any related\nGoogle Compute Engine resources.",
          "type": "object"
        },
        "initialClusterVersion": {
          "description": "The initial Kubernetes version for this cluster.  Valid versions are those\nfound in validMasterVersions returned by getServerConfig.  The version can\nbe upgraded over time; such upgrades are reflected in\ncurrentMasterVersion and currentNodeVersion.\n\nUsers may specify either explicit versions offered by\nKubernetes Engine or version aliases, which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n- \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\": picks an explicit Kubernetes version\n- \"\",\"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "ipAllocationPolicy": {
          "$ref": "IPAllocationPolicy",
          "description": "Configuration for cluster IP allocation."
        },
        "legacyAbac": {
          "$ref": "LegacyAbac",
          "description": "Configuration for the legacy ABAC authorization mode."
        },
        "enableTpu": {
          "description": "Enable the ability to use Cloud TPUs in this cluster.",
          "type": "boolean"
        },
        "resourceUsageExportConfig": {
          "description": "Configuration for exporting resource usages. Resource usage export is\ndisabled when this config unspecified.",
          "$ref": "ResourceUsageExportConfig"
        },
        "locations": {
          "description": "The list of Google Compute Engine\n[zones](/compute/docs/zones#available) in which the cluster's nodes\nshould be located.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "NodePool"
          },
          "description": "The node pools associated with this cluster.\nThis field should not be set if \"node_config\" or \"initial_node_count\" are\nspecified."
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "networkPolicy": {
          "$ref": "NetworkPolicy",
          "description": "Configuration options for the NetworkPolicy feature."
        },
        "releaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "Release channel configuration."
        },
        "servicesIpv4Cidr": {
          "description": "[Output only] The IP address range of the Kubernetes services in\nthis cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `1.2.3.4/29`). Service addresses are\ntypically put in the last `/16` from the container CIDR.",
          "type": "string"
        },
        "enableKubernetesAlpha": {
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha\nAPI groups (e.g. v1beta1) and features that may not be production ready in\nthe kubernetes version of the master and nodes.\nThe cluster has no SLA for uptime and master/node upgrades are disabled.\nAlpha enabled clusters are automatically deleted thirty days after\ncreation.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "An optional description of this cluster."
        },
        "conditions": {
          "description": "Which conditions caused the current cluster state.",
          "type": "array",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "privateCluster": {
          "type": "boolean",
          "description": "If this is a private cluster setup. Private clusters are clusters that, by\ndefault have no external IP addresses on the nodes and where nodes and the\nmaster communicate over private IP addresses.\nThis field is deprecated, use private_cluster_config.enable_private_nodes\ninstead."
        },
        "currentNodeCount": {
          "type": "integer",
          "description": "[Output only]  The number of nodes currently in the cluster. Deprecated.\nCall Kubernetes API directly to retrieve node information.",
          "format": "int32"
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* `monitoring.googleapis.com` - the Google Cloud Monitoring service.\n* `none` - no metrics will be exported from the cluster.\n* if left as an empty string, `monitoring.googleapis.com` will be used.",
          "type": "string"
        },
        "databaseEncryption": {
          "description": "Configuration of etcd encryption.",
          "$ref": "DatabaseEncryption"
        },
        "binaryAuthorization": {
          "description": "Configuration for Binary Authorization.",
          "$ref": "BinaryAuthorization"
        },
        "tpuIpv4CidrBlock": {
          "description": "[Output only] The IP address range of the Cloud TPUs in this cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `1.2.3.4/29`).",
          "type": "string"
        },
        "workloadIdentityConfig": {
          "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM\npolicies.",
          "$ref": "WorkloadIdentityConfig"
        },
        "zone": {
          "description": "[Output only] The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use location instead.",
          "type": "string"
        },
        "loggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs.\nCurrently available options:\n\n* `logging.googleapis.com` - the Google Cloud Logging service.\n* `none` - no logs will be exported from the cluster.\n* if left as an empty string,`logging.googleapis.com` will be used."
        },
        "expireTime": {
          "type": "string",
          "description": "[Output only] The time the cluster will be automatically\ndeleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "nodeConfig": {
          "$ref": "NodeConfig",
          "description": "Parameters used in creating the cluster's nodes.\nFor requests, this field should only be used in lieu of a\n\"node_pool\" object, since this configuration (along with the\n\"initial_node_count\") will be used to create a \"NodePool\" object with an\nauto-generated name. Do not use this and a node_pool at the same time.\nFor responses, this field will be populated with the node configuration of\nthe first node pool. (For configuration of each node pool, see\n`node_pool.config`)\n\nIf unspecified, the defaults are used.\nThis field is deprecated, use node_pool.config instead."
        }
      },
      "id": "Cluster",
      "description": "A Google Kubernetes Engine cluster."
    },
    "CreateNodePoolRequest": {
      "id": "CreateNodePoolRequest",
      "description": "CreateNodePoolRequest creates a node pool for a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the parent field."
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster.\nThis field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "nodePool": {
          "$ref": "NodePool",
          "description": "The node pool to create."
        },
        "parent": {
          "description": "The parent (project, location, cluster id) where the node pool will be\ncreated. Specified in the format\n'projects/*/locations/*/clusters/*'.",
          "type": "string"
        }
      }
    },
    "MasterAuth": {
      "description": "The authentication information for accessing the master endpoint.\nAuthentication can be done using HTTP basic auth or using client\ncertificates.",
      "type": "object",
      "properties": {
        "password": {
          "description": "The password to use for HTTP basic authentication to the master endpoint.\nBecause the master endpoint is open to the Internet, you should create a\nstrong password.  If a password is provided for cluster creation, username\nmust be non-empty.",
          "type": "string"
        },
        "clientCertificateConfig": {
          "$ref": "ClientCertificateConfig",
          "description": "Configuration for client certificate authentication on the cluster. For\nclusters before v1.12, if no configuration is specified, a client\ncertificate is issued."
        },
        "clientKey": {
          "description": "[Output only] Base64-encoded private key used by clients to authenticate\nto the cluster endpoint.",
          "type": "string"
        },
        "clusterCaCertificate": {
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "[Output only] Base64-encoded public certificate used by clients to\nauthenticate to the cluster endpoint."
        },
        "username": {
          "description": "The username to use for HTTP basic authentication to the master endpoint.\nFor clusters v1.6.0 and later, basic authentication can be disabled by\nleaving username unspecified (or setting it to the empty string).",
          "type": "string"
        }
      },
      "id": "MasterAuth"
    },
    "DailyMaintenanceWindow": {
      "description": "Time window specified for daily maintenance operations.",
      "type": "object",
      "properties": {
        "duration": {
          "description": "[Output only] Duration of the time window, automatically chosen to be\nsmallest possible in the given scenario.",
          "type": "string"
        },
        "startTime": {
          "description": "Time within the maintenance window to start the maintenance operations.\nIt must be in format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT.",
          "type": "string"
        }
      },
      "id": "DailyMaintenanceWindow"
    },
    "WorkloadIdentityConfig": {
      "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM\npolicies.",
      "type": "object",
      "properties": {
        "identityNamespace": {
          "description": "IAM Identity Namespace to attach all Kubernetes Service Accounts to.",
          "type": "string"
        }
      },
      "id": "WorkloadIdentityConfig"
    },
    "ClusterAutoscaling": {
      "id": "ClusterAutoscaling",
      "description": "ClusterAutoscaling contains global, per-cluster information\nrequired by Cluster Autoscaler to automatically adjust\nthe size of the cluster and create/delete\nnode pools based on the current needs.",
      "type": "object",
      "properties": {
        "enableNodeAutoprovisioning": {
          "description": "Enables automatic node pool creation and deletion.",
          "type": "boolean"
        },
        "autoprovisioningNodePoolDefaults": {
          "$ref": "AutoprovisioningNodePoolDefaults",
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool\ncreated by NAP."
        },
        "autoprovisioningLocations": {
          "description": "The list of Google Compute Engine [zones](/compute/docs/zones#available)\nin which the NodePool's nodes can be created by NAP.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceLimits": {
          "description": "Contains global constraints regarding minimum and maximum\namount of resources in the cluster.",
          "type": "array",
          "items": {
            "$ref": "ResourceLimit"
          }
        }
      }
    },
    "MaintenancePolicy": {
      "type": "object",
      "properties": {
        "resourceVersion": {
          "description": "A hash identifying the version of this policy, so that updates to fields of\nthe policy won't accidentally undo intermediate changes (and so that users\nof the API unaware of some fields won't accidentally remove other fields).\nMake a \u003ccode\u003eget()\u003c/code\u003e request to the cluster to get the current\nresource version and include it with requests to set the policy.",
          "type": "string"
        },
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Specifies the maintenance window in which maintenance may be performed."
        }
      },
      "id": "MaintenancePolicy",
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster."
    },
    "ClientCertificateConfig": {
      "type": "object",
      "properties": {
        "issueClientCertificate": {
          "type": "boolean",
          "description": "Issue a client certificate."
        }
      },
      "id": "ClientCertificateConfig",
      "description": "Configuration for client certificates on the cluster."
    },
    "IstioConfig": {
      "description": "Configuration options for Istio addon.",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether Istio is enabled for this cluster."
        },
        "auth": {
          "type": "string",
          "enumDescriptions": [
            "auth not enabled",
            "auth mutual TLS enabled"
          ],
          "enum": [
            "AUTH_NONE",
            "AUTH_MUTUAL_TLS"
          ],
          "description": "The specified Istio auth mode, either none, or mutual TLS."
        }
      },
      "id": "IstioConfig"
    },
    "FeatureConfig": {
      "description": "FeatureConfig is the configuration for a specific feature including the\ndefinition of the feature as well as the tier in which it resides.",
      "type": "object",
      "properties": {
        "tier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "ADVANCED"
          ],
          "description": "The tier in which the configured feature resides.",
          "type": "string",
          "enumDescriptions": [
            "TIER_UNSPECIFIED is the default value. If this value is set during create\nor update, it defaults to the project level tier setting.",
            "Represents the standard tier or base Google Kubernetes Engine offering.",
            "Represents the advanced tier."
          ]
        },
        "feature": {
          "enum": [
            "DEFAULT_FEATURE",
            "VERTICAL_POD_AUTOSCALER",
            "NODE_AUTO_PROVISIONING",
            "BINARY_AUTHORIZATION",
            "RESOURCE_LABELS",
            "USAGE_METERING",
            "CLOUD_RUN_ON_GKE"
          ],
          "description": "The feature that is being configured with this value.",
          "type": "string",
          "enumDescriptions": [
            "DEFAULT_FEATURE is the default zero value of the Feature.  This value is\nvalid.",
            "The vertical pod autoscaling feature.",
            "The node auto provisioning feature.",
            "The binary authorization feature.",
            "The resource labels feature.",
            "The GKE usage metering feature.",
            "The Cloud Run on GKE feature."
          ]
        }
      },
      "id": "FeatureConfig"
    },
    "SetLoggingServiceRequest": {
      "description": "SetLoggingServiceRequest sets the logging service of a cluster.",
      "type": "object",
      "properties": {
        "loggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write metrics.\nCurrently available options:\n\n* \"logging.googleapis.com\" - the Google Cloud Logging service\n* \"none\" - no metrics will be exported from the cluster"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set logging.\nSpecified in the format 'projects/*/locations/*/clusters/*'."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetLoggingServiceRequest"
    },
    "SandboxConfig": {
      "description": "SandboxConfig contains configurations of the sandbox to use for the node.",
      "type": "object",
      "properties": {
        "sandboxType": {
[...]
