{
  "basePath": "",
  "documentationLink": "https://cloud.google.com/container-engine/",
  "revision": "20191211",
  "id": "container:v1",
  "discoveryVersion": "v1",
  "schemas": {
    "GetJSONWebKeysResponse": {
      "type": "object",
      "properties": {
        "keys": {
          "description": "The public component of the keys used by the cluster to sign token\nrequests.",
          "type": "array",
          "items": {
            "$ref": "Jwk"
          }
        },
        "cacheHeader": {
          "$ref": "HttpCacheControlResponseHeader",
          "description": "OnePlatform automatically extracts this field and uses it to set the HTTP\nCache-Control header."
        }
      },
      "id": "GetJSONWebKeysResponse",
      "description": "GetJSONWebKeysResponse is a valid JSON Web Key Set as specififed in rfc 7517"
    },
    "PrivateClusterConfig": {
      "type": "object",
      "properties": {
        "privateEndpoint": {
          "description": "Output only. The internal IP address of this cluster's master endpoint.",
          "type": "string"
        },
        "enablePrivateNodes": {
          "type": "boolean",
          "description": "Whether nodes have internal IP addresses only. If enabled, all nodes are\ngiven only RFC 1918 private addresses and communicate with the master via\nprivate networking."
        },
        "enablePrivateEndpoint": {
          "description": "Whether the master's internal IP address is used as the cluster endpoint.",
          "type": "boolean"
        },
        "masterIpv4CidrBlock": {
          "description": "The IP range in CIDR notation to use for the hosted master network. This\nrange will be used for assigning internal IP addresses to the master or\nset of masters, as well as the ILB VIP. This range must not overlap with\nany other ranges in use within the cluster's network.",
          "type": "string"
        },
        "publicEndpoint": {
          "description": "Output only. The external IP address of this cluster's master endpoint.",
          "type": "string"
        }
      },
      "id": "PrivateClusterConfig",
      "description": "Configuration options for private clusters."
    },
    "DatabaseEncryption": {
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "UNKNOWN",
            "ENCRYPTED",
            "DECRYPTED"
          ],
          "description": "Denotes the state of etcd encryption.",
          "type": "string",
          "enumDescriptions": [
            "Should never be set",
            "Secrets in etcd are encrypted.",
            "Secrets in etcd are stored in plain text (at etcd level) - this is\nunrelated to GCE level full disk encryption."
          ]
        },
        "keyName": {
          "description": "Name of CloudKMS key to use for the encryption of secrets in etcd.\nEx. projects/my-project/locations/global/keyRings/my-ring/cryptoKeys/my-key",
          "type": "string"
        }
      },
      "id": "DatabaseEncryption",
      "description": "Configuration of etcd encryption."
    },
    "UpdateNodePoolRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool) of the node pool to\nupdate. Specified in the format\n'projects/*/locations/*/clusters/*/nodePools/*'."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the node pool to upgrade.\nThis field has been deprecated and replaced by the name field."
        },
        "imageType": {
          "description": "Required. The desired image type for the node pool.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field."
        },
        "nodeVersion": {
          "description": "Required. The Kubernetes version to change the nodes to (typically an\nupgrade).\n\nUsers may specify either explicit versions offered by Kubernetes Engine or\nversion aliases, which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n- \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\": picks an explicit Kubernetes version\n- \"-\": picks the Kubernetes master version",
          "type": "string"
        }
      },
      "id": "UpdateNodePoolRequest",
      "description": "UpdateNodePoolRequests update a node pool's image and/or version."
    },
    "LegacyAbac": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled,\nidentities in the system, including service accounts, nodes, and\ncontrollers, will have statically granted permissions beyond those\nprovided by the RBAC configuration or IAM.",
          "type": "boolean"
        }
      },
      "id": "LegacyAbac",
      "description": "Configuration for the legacy Attribute Based Access Control authorization\nmode."
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "type": "object",
      "properties": {
        "acceleratorCount": {
          "description": "The number of the accelerator cards exposed to an instance.",
          "format": "int64",
          "type": "string"
        },
        "acceleratorType": {
          "description": "The accelerator type resource name. List of supported accelerators\n[here](/compute/docs/gpus)",
          "type": "string"
        }
      }
    },
    "UsableSubnetworkSecondaryRange": {
      "description": "Secondary IP range of a usable subnetwork.",
      "type": "object",
      "properties": {
        "ipCidrRange": {
          "type": "string",
          "description": "The range of IP addresses belonging to this subnetwork secondary range."
        },
        "rangeName": {
          "description": "The name associated with this subnetwork secondary range, used when adding\nan alias IP range to a VM instance.",
          "type": "string"
        },
        "status": {
          "description": "This field is to determine the status of the secondary range programmably.",
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN is the zero value of the Status enum. It's not a valid status.",
            "UNUSED denotes that this range is unclaimed by any cluster.",
            "IN_USE_SERVICE denotes that this range is claimed by a cluster for\nservices. It cannot be used for other clusters.",
            "IN_USE_SHAREABLE_POD denotes this range was created by the network admin\nand is currently claimed by a cluster for pods. It can only be used by\nother clusters as a pod range.",
            "IN_USE_MANAGED_POD denotes this range was created by GKE and is claimed\nfor pods. It cannot be used for other clusters."
          ],
          "enum": [
            "UNKNOWN",
            "UNUSED",
            "IN_USE_SERVICE",
            "IN_USE_SHAREABLE_POD",
            "IN_USE_MANAGED_POD"
          ]
        }
      },
      "id": "UsableSubnetworkSecondaryRange"
    },
    "SetAddonsConfigRequest": {
      "description": "SetAddonsConfigRequest sets the addons associated with the cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set addons.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "addonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Required. The desired configurations for the various addons available to run in the\ncluster."
        }
      },
      "id": "SetAddonsConfigRequest"
    },
    "NodeTaint": {
      "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect\ncan only be one of three types:  NoSchedule, PreferNoSchedule or NoExecute.\n\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value for taint.",
          "type": "string"
        },
        "effect": {
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "description": "Effect for taint.",
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ]
        },
        "key": {
          "description": "Key for taint.",
          "type": "string"
        }
      },
      "id": "NodeTaint"
    },
    "SetLegacyAbacRequest": {
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for\na cluster.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster id) of the cluster to set legacy abac.\nSpecified in the format 'projects/*/locations/*/clusters/*'."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Whether ABAC authorization will be enabled in the cluster."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to update.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetLegacyAbacRequest"
    },
    "AddonsConfig": {
      "type": "object",
      "properties": {
        "cloudRunConfig": {
          "$ref": "CloudRunConfig",
          "description": "Configuration for the Cloud Run addon, which allows the user to use a\nmanaged Knative service."
        },
        "horizontalPodAutoscaling": {
          "$ref": "HorizontalPodAutoscaling",
          "description": "Configuration for the horizontal pod autoscaling feature, which\nincreases or decreases the number of replica pods a replication controller\nhas based on the resource usage of the existing pods."
        },
        "httpLoadBalancing": {
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which\nmakes it easy to set up HTTP load balancers for services in a cluster.",
          "$ref": "HttpLoadBalancing"
        },
        "kubernetesDashboard": {
          "description": "Configuration for the Kubernetes Dashboard.\nThis addon is deprecated, and will be disabled in 1.15. It is recommended\nto use the Cloud Console to manage and monitor your Kubernetes clusters,\nworkloads and applications. For more information, see:\nhttps://cloud.google.com/kubernetes-engine/docs/concepts/dashboards",
          "$ref": "KubernetesDashboard"
        },
        "networkPolicyConfig": {
          "$ref": "NetworkPolicyConfig",
          "description": "Configuration for NetworkPolicy. This only tracks whether the addon\nis enabled or not on the Master, it does not track whether network policy\nis enabled for the nodes."
        }
      },
      "id": "AddonsConfig",
      "description": "Configuration for the addons that can be automatically spun up in the\ncluster, enabling additional functionality."
    },
    "ConsumptionMeteringConfig": {
      "description": "Parameters for controlling consumption metering.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable consumption metering for this cluster. If enabled, a\nsecond BigQuery table will be created to hold resource consumption\nrecords."
        }
      },
      "id": "ConsumptionMeteringConfig"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "type": "object",
      "properties": {
        "subnetwork": {
          "description": "Output only. The relative name of the Google Compute Engine\n[subnetwork](/compute/docs/vpc) to which the cluster is connected.\nExample: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "type": "string"
        },
        "network": {
          "description": "Output only. The relative name of the Google Compute Engine\nnetwork(/compute/docs/networks-and-firewalls#networks) to which\nthe cluster is connected.\nExample: projects/my-project/global/networks/my-network",
          "type": "string"
        },
        "enableIntraNodeVisibility": {
          "description": "Whether Intra-node visibility is enabled for this cluster.\nThis makes same node pod to pod traffic visible for VPC network.",
          "type": "boolean"
        }
      }
    },
    "SetLocationsRequest": {
      "description": "SetLocationsRequest sets the locations of the cluster.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set locations.\nSpecified in the format 'projects/*/locations/*/clusters/*'."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "locations": {
          "description": "Required. The desired list of Google Compute Engine\n[zones](/compute/docs/zones#available) in which the cluster's nodes\nshould be located. Changing the locations a cluster is in will result\nin nodes being either created or removed from the cluster, depending on\nwhether locations are being added or removed.\n\nThis list must always include the cluster's primary zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetLocationsRequest"
    },
    "SetNodePoolSizeRequest": {
      "description": "SetNodePoolSizeRequest sets the size a node\npool.",
      "type": "object",
      "properties": {
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodeCount": {
          "description": "Required. The desired node count for the pool.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set\nsize.\nSpecified in the format 'projects/*/locations/*/clusters/*/nodePools/*'.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to update.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "Required. Deprecated. The name of the node pool to update.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetNodePoolSizeRequest"
    },
    "UpdateClusterRequest": {
      "id": "UpdateClusterRequest",
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "update": {
          "$ref": "ClusterUpdate",
          "description": "Required. A description of the update."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        }
      }
    },
    "NetworkPolicyConfig": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether NetworkPolicy is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "NetworkPolicyConfig",
      "description": "Configuration for NetworkPolicy. This only tracks whether the addon\nis enabled or not on the Master, it does not track whether network policy\nis enabled for the nodes."
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "description": "A set of Shielded Instance options.",
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.\n\nSecure Boot helps ensure that the system only runs authentic software by\nverifying the digital signature of all boot components, and halting the\nboot process if signature verification fails.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Defines whether the instance has integrity monitoring enabled.\n\nEnables monitoring and attestation of the boot integrity of the instance.\nThe attestation is performed against the integrity policy baseline. This\nbaseline is initially derived from the implicitly trusted boot image when\nthe instance is created.",
          "type": "boolean"
        }
      }
    },
    "Cluster": {
      "description": "A Google Kubernetes Engine cluster.",
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "[Output only] The current status of this cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully\nusable.",
            "The RECONCILING state indicates that some work is actively being done on\nthe cluster, such as upgrading the master or node software. Details can\nbe found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster may be unusable. Details\ncan be found in the `statusMessage` field.",
            "The DEGRADED state indicates the cluster requires user action to restore\nfull functionality. Details can be found in the `statusMessage` field."
          ]
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Configuration for cluster networking."
        },
        "name": {
          "description": "The name of this cluster. The name must be unique within this project\nand location (e.g. zone or region), and can be up to 40 characters with\nthe following restrictions:\n\n* Lowercase letters, numbers, and hyphens only.\n* Must start with a letter.\n* Must end with a number or a letter.",
          "type": "string"
        },
        "endpoint": {
          "type": "string",
          "description": "[Output only] The IP address of this cluster's master endpoint.\nThe endpoint can be accessed from the internet at\n`https://username:password@endpoint/`.\n\nSee the `masterAuth` property of this resource for username and\npassword information."
        },
        "location": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine\n[zone](/compute/docs/regions-zones/regions-zones#available) or\n[region](/compute/docs/regions-zones/regions-zones#available) in which\nthe cluster resides."
        },
        "createTime": {
          "description": "[Output only] The time the cluster was created, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "clusterIpv4Cidr": {
          "description": "The IP address range of the container pods in this cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`). Leave blank to have\none automatically chosen or specify a `/14` block in `10.0.0.0/8`.",
          "type": "string"
        },
        "autoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "initialNodeCount": {
          "description": "The number of nodes to create in this cluster. You must ensure that your\nCompute Engine \u003ca href=\"/compute/docs/resource-quotas\"\u003eresource quota\u003c/a\u003e\nis sufficient for this number of instances. You must also have available\nfirewall and routes quota.\nFor requests, this field should only be used in lieu of a\n\"node_pool\" object, since this configuration (along with the\n\"node_config\") will be used to create a \"NodePool\" object with an\nauto-generated name. Do not use this and a node_pool at the same time.\n\nThis field is deprecated, use node_pool.initial_node_count instead.",
          "format": "int32",
          "type": "integer"
        },
        "instanceGroupUrls": {
          "description": "Deprecated. Use node_pools.instance_group_urls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "verticalPodAutoscaling": {
          "$ref": "VerticalPodAutoscaling",
          "description": "Cluster-level Vertical Pod Autoscaling configuration."
        },
        "defaultMaxPodsConstraint": {
          "description": "The default constraint on the maximum number of pods that can be run\nsimultaneously on a node in the node pool of this cluster. Only honored\nif cluster created with IP Alias support.",
          "$ref": "MaxPodsConstraint"
        },
        "network": {
          "type": "string",
          "description": "The name of the Google Compute Engine\n[network](/compute/docs/networks-and-firewalls#networks) to which the\ncluster is connected. If left unspecified, the `default` network\nwill be used."
        },
        "labelFingerprint": {
          "type": "string",
          "description": "The fingerprint of the set of labels for this cluster."
        },
        "nodeIpv4CidrSize": {
          "description": "[Output only] The size of the address space on each node for hosting\ncontainers. This is provisioned from within the `container_ipv4_cidr`\nrange. This field will only be set when cluster is in route-based network\nmode.",
          "format": "int32",
          "type": "integer"
        },
        "masterAuthorizedNetworksConfig": {
          "description": "The configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "statusMessage": {
          "description": "[Output only] Additional information about the current status of this\ncluster, if available.",
          "type": "string"
        },
        "masterAuth": {
          "$ref": "MasterAuth",
          "description": "The authentication information for accessing the master endpoint.\nIf unspecified, the defaults are used:\nFor clusters before v1.12, if master_auth is unspecified, `username` will\nbe set to \"admin\", a random password will be generated, and a client\ncertificate will be issued."
        },
        "authenticatorGroupsConfig": {
          "$ref": "AuthenticatorGroupsConfig",
          "description": "Configuration controlling RBAC group membership information."
        },
        "currentMasterVersion": {
          "description": "[Output only] The current software version of the master endpoint.",
          "type": "string"
        },
        "addonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the Google Compute Engine\n[subnetwork](/compute/docs/subnetworks) to which the\ncluster is connected."
        },
        "currentNodeVersion": {
          "description": "[Output only] Deprecated, use\n[NodePools.version](/kubernetes-engine/docs/reference/rest/v1/projects.zones.clusters.nodePools)\ninstead. The current version of the node software components. If they are\ncurrently at multiple versions because they're in the process of being\nupgraded, this reflects the minimum version of all nodes.",
          "type": "string"
        },
        "maintenancePolicy": {
          "$ref": "MaintenancePolicy",
          "description": "Configure the maintenance policy for this cluster."
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource labels for the cluster to use to annotate any related\nGoogle Compute Engine resources.",
          "type": "object"
        },
        "initialClusterVersion": {
          "type": "string",
          "description": "The initial Kubernetes version for this cluster.  Valid versions are those\nfound in validMasterVersions returned by getServerConfig.  The version can\nbe upgraded over time; such upgrades are reflected in\ncurrentMasterVersion and currentNodeVersion.\n\nUsers may specify either explicit versions offered by\nKubernetes Engine or version aliases, which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n- \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\": picks an explicit Kubernetes version\n- \"\",\"-\": picks the default Kubernetes version"
        },
        "ipAllocationPolicy": {
          "$ref": "IPAllocationPolicy",
          "description": "Configuration for cluster IP allocation."
        },
        "legacyAbac": {
          "$ref": "LegacyAbac",
          "description": "Configuration for the legacy ABAC authorization mode."
        },
        "resourceUsageExportConfig": {
          "description": "Configuration for exporting resource usages. Resource usage export is\ndisabled when this config is unspecified.",
          "$ref": "ResourceUsageExportConfig"
        },
        "enableTpu": {
          "type": "boolean",
          "description": "Enable the ability to use Cloud TPUs in this cluster."
        },
        "locations": {
          "description": "The list of Google Compute Engine\n[zones](/compute/docs/zones#available) in which the cluster's nodes\nshould be located.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nodePools": {
          "description": "The node pools associated with this cluster.\nThis field should not be set if \"node_config\" or \"initial_node_count\" are\nspecified.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "selfLink": {
          "type": "string",
          "description": "[Output only] Server-defined URL for the resource."
        },
        "networkPolicy": {
          "$ref": "NetworkPolicy",
          "description": "Configuration options for the NetworkPolicy feature."
        },
        "servicesIpv4Cidr": {
          "description": "[Output only] The IP address range of the Kubernetes services in\nthis cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `1.2.3.4/29`). Service addresses are\ntypically put in the last `/16` from the container CIDR.",
          "type": "string"
        },
        "enableKubernetesAlpha": {
          "type": "boolean",
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha\nAPI groups (e.g. v1alpha1) and features that may not be production ready in\nthe kubernetes version of the master and nodes.\nThe cluster has no SLA for uptime and master/node upgrades are disabled.\nAlpha enabled clusters are automatically deleted thirty days after\ncreation."
        },
        "description": {
          "description": "An optional description of this cluster.",
          "type": "string"
        },
        "conditions": {
          "description": "Which conditions caused the current cluster state.",
          "type": "array",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "currentNodeCount": {
          "description": "[Output only]  The number of nodes currently in the cluster. Deprecated.\nCall Kubernetes API directly to retrieve node information.",
          "format": "int32",
          "type": "integer"
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* `monitoring.googleapis.com` - the Google Cloud Monitoring service.\n* `none` - no metrics will be exported from the cluster.\n* if left as an empty string, `monitoring.googleapis.com` will be used.",
          "type": "string"
        },
        "databaseEncryption": {
          "description": "Configuration of etcd encryption.",
          "$ref": "DatabaseEncryption"
        },
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Configuration for Binary Authorization."
        },
        "tpuIpv4CidrBlock": {
          "description": "[Output only] The IP address range of the Cloud TPUs in this cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `1.2.3.4/29`).",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use location instead."
        },
        "expireTime": {
          "description": "[Output only] The time the cluster will be automatically\ndeleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "loggingService": {
          "description": "The logging service the cluster should use to write logs.\nCurrently available options:\n\n* \"logging.googleapis.com/kubernetes\" - the Google Cloud Logging\nservice with Kubernetes-native resource model\n* `logging.googleapis.com` - the Google Cloud Logging service.\n* `none` - no logs will be exported from the cluster.\n* if left as an empty string,`logging.googleapis.com` will be used.",
          "type": "string"
        },
        "nodeConfig": {
          "$ref": "NodeConfig",
          "description": "Parameters used in creating the cluster's nodes.\nFor requests, this field should only be used in lieu of a\n\"node_pool\" object, since this configuration (along with the\n\"initial_node_count\") will be used to create a \"NodePool\" object with an\nauto-generated name. Do not use this and a node_pool at the same time.\nFor responses, this field will be populated with the node configuration of\nthe first node pool. (For configuration of each node pool, see\n`node_pool.config`)\n\nIf unspecified, the defaults are used.\nThis field is deprecated, use node_pool.config instead."
        }
      },
      "id": "Cluster"
    },
    "CreateNodePoolRequest": {
      "description": "CreateNodePoolRequest creates a node pool for a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster.\nThis field has been deprecated and replaced by the parent field."
        },
        "nodePool": {
          "description": "Required. The node pool to create.",
          "$ref": "NodePool"
        },
        "parent": {
          "type": "string",
          "description": "The parent (project, location, cluster id) where the node pool will be\ncreated. Specified in the format\n'projects/*/locations/*/clusters/*'."
        }
      },
      "id": "CreateNodePoolRequest"
    },
    "MasterAuth": {
      "id": "MasterAuth",
      "description": "The authentication information for accessing the master endpoint.\nAuthentication can be done using HTTP basic auth or using client\ncertificates.",
      "type": "object",
      "properties": {
        "username": {
          "description": "The username to use for HTTP basic authentication to the master endpoint.\nFor clusters v1.6.0 and later, basic authentication can be disabled by\nleaving username unspecified (or setting it to the empty string).",
          "type": "string"
        },
        "password": {
          "description": "The password to use for HTTP basic authentication to the master endpoint.\nBecause the master endpoint is open to the Internet, you should create a\nstrong password.  If a password is provided for cluster creation, username\nmust be non-empty.",
          "type": "string"
        },
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster. For\nclusters before v1.12, if no configuration is specified, a client\ncertificate is issued.",
          "$ref": "ClientCertificateConfig"
        },
        "clientKey": {
          "description": "[Output only] Base64-encoded private key used by clients to authenticate\nto the cluster endpoint.",
          "type": "string"
        },
        "clusterCaCertificate": {
          "type": "string",
          "description": "[Output only] Base64-encoded public certificate that is the root of\ntrust for the cluster."
        },
        "clientCertificate": {
          "description": "[Output only] Base64-encoded public certificate used by clients to\nauthenticate to the cluster endpoint.",
          "type": "string"
        }
      }
    },
    "DailyMaintenanceWindow": {
      "id": "DailyMaintenanceWindow",
      "description": "Time window specified for daily maintenance operations.",
      "type": "object",
      "properties": {
        "duration": {
          "description": "[Output only] Duration of the time window, automatically chosen to be\nsmallest possible in the given scenario.\nDuration will be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)\nformat \"PTnHnMnS\".",
          "type": "string"
        },
        "startTime": {
          "description": "Time within the maintenance window to start the maintenance operations.\nTime format should be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)\nformat \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT.",
          "type": "string"
        }
      }
    },
    "ClusterAutoscaling": {
      "description": "ClusterAutoscaling contains global, per-cluster information\nrequired by Cluster Autoscaler to automatically adjust\nthe size of the cluster and create/delete\nnode pools based on the current needs.",
      "type": "object",
      "properties": {
        "resourceLimits": {
          "description": "Contains global constraints regarding minimum and maximum\namount of resources in the cluster.",
          "type": "array",
          "items": {
            "$ref": "ResourceLimit"
          }
        },
        "enableNodeAutoprovisioning": {
          "description": "Enables automatic node pool creation and deletion.",
          "type": "boolean"
        },
        "autoprovisioningNodePoolDefaults": {
          "$ref": "AutoprovisioningNodePoolDefaults",
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool\ncreated by NAP."
        },
        "autoprovisioningLocations": {
          "description": "The list of Google Compute Engine [zones](/compute/docs/zones#available)\nin which the NodePool's nodes can be created by NAP.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ClusterAutoscaling"
    },
    "MaintenancePolicy": {
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "type": "object",
      "properties": {
        "resourceVersion": {
          "description": "A hash identifying the version of this policy, so that updates to fields of\nthe policy won't accidentally undo intermediate changes (and so that users\nof the API unaware of some fields won't accidentally remove other fields).\nMake a \u003ccode\u003eget()\u003c/code\u003e request to the cluster to get the current\nresource version and include it with requests to set the policy.",
          "type": "string"
        },
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Specifies the maintenance window in which maintenance may be performed."
        }
      },
      "id": "MaintenancePolicy"
    },
    "ClientCertificateConfig": {
      "id": "ClientCertificateConfig",
      "description": "Configuration for client certificates on the cluster.",
      "type": "object",
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      }
    },
    "SetLoggingServiceRequest": {
      "description": "SetLoggingServiceRequest sets the logging service of a cluster.",
      "type": "object",
      "properties": {
        "loggingService": {
          "description": "Required. The logging service the cluster should use to write metrics.\nCurrently available options:\n\n* \"logging.googleapis.com\" - the Google Cloud Logging service\n* \"none\" - no metrics will be exported from the cluster",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set logging.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetLoggingServiceRequest"
    },
    "SetMaintenancePolicyRequest": {
      "description": "SetMaintenancePolicyRequest sets the maintenance policy for a cluster.",
      "type": "object",
      "properties": {
        "maintenancePolicy": {
          "description": "Required. The maintenance policy to be set for the cluster. An empty field\nclears the existing maintenance policy.",
          "$ref": "MaintenancePolicy"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set maintenance\npolicy.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840)."
        },
        "zone": {
          "description": "Required. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. The name of the cluster to update.",
          "type": "string"
        }
      },
      "id": "SetMaintenancePolicyRequest"
    },
    "ResourceLimit": {
      "id": "ResourceLimit",
      "description": "Contains information about amount of some resource in the cluster.\nFor memory, value should be in GB.",
      "type": "object",
      "properties": {
        "maximum": {
          "description": "Maximum amount of the resource in the cluster.",
          "format": "int64",
          "type": "string"
        },
        "resourceType": {
          "description": "Resource name \"cpu\", \"memory\" or gpu-specific string.",
          "type": "string"
        },
        "minimum": {
          "description": "Minimum amount of the resource in the cluster.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "GetOpenIDConfigResponse": {
      "id": "GetOpenIDConfigResponse",
      "description": "GetOpenIDConfigResponse is an OIDC discovery document for the cluster.\nSee the OpenID Connect Discovery 1.0 specification for details.",
      "type": "object",
      "properties": {
        "claims_supported": {
          "description": "Supported claims.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "issuer": {
          "description": "OIDC Issuer.",
          "type": "string"
        },
        "cacheHeader": {
          "$ref": "HttpCacheControlResponseHeader",
          "description": "OnePlatform automatically extracts this field and uses it to set the HTTP\nCache-Control header."
        },
        "grant_types": {
          "description": "Supported grant types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "response_types_supported": {
          "description": "Supported response types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jwks_uri": {
          "description": "JSON Web Key uri.",
          "type": "string"
        },
        "subject_types_supported": {
          "description": "Supported subject types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id_token_signing_alg_values_supported": {
          "description": "supported ID Token signing Algorithms.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VerticalPodAutoscaling": {
      "description": "VerticalPodAutoscaling contains global, per-cluster information\nrequired by Vertical Pod Autoscaler to automatically adjust\nthe resources of pods controlled by it.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enables vertical pod autoscaling.",
          "type": "boolean"
        }
      },
      "id": "VerticalPodAutoscaling"
    },
    "ReservationAffinity": {
      "description": "[ReservationAffinity](/compute/docs/instances/reserving-zonal-resources) is\nthe configuration of desired reservation which instances could take\ncapacity from.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Corresponds to the label value(s) of reservation resource(s).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "consumeReservationType": {
          "description": "Corresponds to the type of reservation consumption.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Do not consume from any reserved capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields\nfor specifying the reservations."
          ],
          "enum": [
            "UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ]
        },
        "key": {
          "description": "Corresponds to the label key of reservation resource.",
          "type": "string"
        }
      },
      "id": "ReservationAffinity"
    },
    "ListNodePoolsResponse": {
      "type": "object",
      "properties": {
        "nodePools": {
          "description": "A list of node pools for a cluster.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        }
      },
      "id": "ListNodePoolsResponse",
      "description": "ListNodePoolsResponse is the result of ListNodePoolsRequest."
    },
    "CompleteIPRotationRequest": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to complete IP\nrotation. Specified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster.\nThis field has been deprecated and replaced by the name field."
        }
      },
      "id": "CompleteIPRotationRequest",
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode."
    },
    "AutoprovisioningNodePoolDefaults": {
      "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created\nby NAP.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. If\nservice_account is specified, scopes should be empty.",
          "type": "string"
        },
        "oauthScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Scopes that are used by NAP when creating node pools. If oauth_scopes are\nspecified, service_account should be empty."
        }
      },
      "id": "AutoprovisioningNodePoolDefaults"
    },
    "StartIPRotationRequest": {
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs\na node upgrade on each node pool to point to the new IP.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to start IP\nrotation. Specified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "rotateCredentials": {
          "description": "Whether to rotate credentials during IP rotation.",
          "type": "boolean"
        }
      },
      "id": "StartIPRotationRequest"
    },
    "BigQueryDestination": {
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The ID of a BigQuery Dataset."
        }
      },
      "id": "BigQueryDestination",
      "description": "Parameters for using BigQuery as the destination of resource usage export."
    },
    "ListUsableSubnetworksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `page_size`, use the\n`next_page_token` as a value for the query parameter `page_token` in the\nnext request. The value will become empty when there are no more pages.",
          "type": "string"
        },
        "subnetworks": {
          "description": "A list of usable subnetworks in the specified network project.",
          "type": "array",
          "items": {
            "$ref": "UsableSubnetwork"
          }
        }
      },
      "id": "ListUsableSubnetworksResponse",
      "description": "ListUsableSubnetworksResponse is the response of\nListUsableSubnetworksRequest."
    },
    "NodePool": {
      "description": "NodePool contains the name and configuration for a cluster's node pool.\nNode pools are a set of nodes (i.e. VM's), with a common configuration and\nspecification, under the control of the cluster master. They may have a set\nof Kubernetes labels applied to them, which may be used to reference them\nduring pod scheduling. They may also be resized up or down, to accommodate\nthe workload.",
      "type": "object",
      "properties": {
        "statusMessage": {
          "description": "[Output only] Additional information about the current status of this\nnode pool instance, if available.",
          "type": "string"
        },
        "autoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled\nonly if a valid configuration is present."
        },
        "initialNodeCount": {
          "type": "integer",
          "description": "The initial node count for the pool. You must ensure that your\nCompute Engine \u003ca href=\"/compute/docs/resource-quotas\"\u003eresource quota\u003c/a\u003e\nis sufficient for this number of instances. You must also have available\nfirewall and routes quota.",
          "format": "int32"
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the Kubernetes of this node."
        },
        "instanceGroupUrls": {
          "description": "[Output only] The resource URLs of the [managed instance\ngroups](/compute/docs/instance-groups/creating-groups-of-managed-instances)\nassociated with this node pool.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "podIpv4CidrSize": {
          "description": "[Output only] The pod CIDR block size per node in this node pool.",
          "format": "int32",
          "type": "integer"
        },
        "conditions": {
          "description": "Which conditions caused the current node pool state.",
          "type": "array",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ],
          "description": "[Output only] The status of the nodes in this pool instance.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created\nand is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created\nand is partially usable. Some error state has occurred and some\nfunctionality may be impaired. Customer may need to reissue a request\nor trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on\nthe node pool, such as upgrading node software. Details can\nbe found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details\ncan be found in the `statusMessage` field."
          ]
        },
        "config": {
          "$ref": "NodeConfig",
          "description": "The node configuration of the pool."
        },
        "maxPodsConstraint": {
          "$ref": "MaxPodsConstraint",
          "description": "The constraint on the maximum number of pods that can be run\nsimultaneously on a node in the node pool."
        },
        "name": {
          "description": "The name of the node pool.",
          "type": "string"
        },
        "management": {
          "description": "NodeManagement configuration for this NodePool.",
          "$ref": "NodeManagement"
        }
      },
      "id": "NodePool"
    },
    "SetLabelsRequest": {
      "type": "object",
      "properties": {
        "labelFingerprint": {
          "description": "Required. The fingerprint of the previous set of labels for this resource,\nused to detect conflicts. The fingerprint is initially generated by\nKubernetes Engine and changes after every request to modify or update\nlabels. You must always provide an up-to-date fingerprint hash when\nupdating or changing labels. Make a \u003ccode\u003eget()\u003c/code\u003e request to the\nresource to get the latest fingerprint.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set labels.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The labels to set for that cluster.",
          "type": "object"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster.\nThis field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetLabelsRequest",
      "description": "SetLabelsRequest sets the Google Cloud Platform labels on a Google Container\nEngine cluster, which will in turn set them for Google Compute Engine\nresources used by that cluster"
    },
    "ResourceUsageExportConfig": {
      "description": "Configuration for exporting cluster resource usages.",
      "type": "object",
      "properties": {
        "enableNetworkEgressMetering": {
          "description": "Whether to enable network egress metering for this cluster. If enabled, a\ndaemonset will be created in the cluster to meter network egress traffic.",
          "type": "boolean"
        },
        "consumptionMeteringConfig": {
          "$ref": "ConsumptionMeteringConfig",
          "description": "Configuration to enable resource consumption metering."
        },
        "bigqueryDestination": {
          "description": "Configuration to use BigQuery as usage export destination.",
          "$ref": "BigQueryDestination"
        }
      },
      "id": "ResourceUsageExportConfig"
    },
    "NodeManagement": {
      "description": "NodeManagement defines the set of node management services turned on for the\nnode pool.",
      "type": "object",
      "properties": {
        "autoUpgrade": {
          "description": "A flag that specifies whether node auto-upgrade is enabled for the node\npool. If enabled, node auto-upgrade helps keep the nodes in your node pool\nup to date with the latest release version of Kubernetes.",
          "type": "boolean"
        },
        "autoRepair": {
          "description": "A flag that specifies whether the node auto-repair is enabled for the node\npool. If enabled, the nodes in this node pool will be monitored and, if\nthey fail health checks too many times, an automatic repair action will be\ntriggered.",
          "type": "boolean"
        },
        "upgradeOptions": {
          "$ref": "AutoUpgradeOptions",
          "description": "Specifies the Auto Upgrade knobs for the node pool."
        }
      },
      "id": "NodeManagement"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, operation id) of the operation to cancel.\nSpecified in the format 'projects/*/locations/*/operations/*'.",
          "type": "string"
        },
        "operationId": {
          "description": "Required. Deprecated. The server-assigned `name` of the operation.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the operation resides.\nThis field has been deprecated and replaced by the name field."
        }
      },
      "id": "CancelOperationRequest",
      "description": "CancelOperationRequest cancels a single operation."
    },
    "KubernetesDashboard": {
      "description": "Configuration for the Kubernetes Dashboard.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "KubernetesDashboard"
    },
    "Operation": {
      "id": "Operation",
      "description": "This operation resource represents operations that may have happened or are\nhappening on the cluster. All fields are output only.",
      "type": "object",
      "properties": {
        "targetLink": {
          "description": "Server-defined URL for the target of the operation.",
          "type": "string"
        },
        "detail": {
          "description": "Detailed operation progress, if available.",
          "type": "string"
        },
        "operationType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE_CLUSTER",
            "DELETE_CLUSTER",
            "UPGRADE_MASTER",
            "UPGRADE_NODES",
            "REPAIR_CLUSTER",
            "UPDATE_CLUSTER",
            "CREATE_NODE_POOL",
            "DELETE_NODE_POOL",
            "SET_NODE_POOL_MANAGEMENT",
            "AUTO_REPAIR_NODES",
            "AUTO_UPGRADE_NODES",
            "SET_LABELS",
            "SET_MASTER_AUTH",
            "SET_NODE_POOL_SIZE",
            "SET_NETWORK_POLICY",
            "SET_MAINTENANCE_POLICY"
          ],
          "description": "The operation type.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Cluster create.",
            "Cluster delete.",
            "A master upgrade.",
            "A node upgrade.",
            "Cluster repair.",
            "Cluster update.",
            "Node pool create.",
            "Node pool delete.",
            "Set node pool management.",
            "Automatic node pool repair.",
            "Automatic node upgrade.",
            "Set labels.",
            "Set/generate master auth materials",
            "Set node pool size.",
            "Updates network policy for a cluster.",
            "Set the maintenance policy."
          ]
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ],
          "description": "The current status of the operation."
        },
        "name": {
          "description": "The server-assigned ID for the operation.",
          "type": "string"
        },
        "nodepoolConditions": {
          "description": "Which conditions caused the current node pool state.",
          "type": "array",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "location": {
          "description": "[Output only] The name of the Google Compute Engine\n[zone](/compute/docs/regions-zones/regions-zones#available) or\n[region](/compute/docs/regions-zones/regions-zones#available) in which\nthe cluster resides.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "[Output only] The time the operation completed, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "startTime": {
          "description": "[Output only] The time the operation started, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "clusterConditions": {
          "description": "Which conditions caused the current cluster state.",
          "type": "array",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the operation\nis taking place.\nThis field is deprecated, use location instead.",
          "type": "string"
        },
        "statusMessage": {
          "description": "If an error has occurred, a textual description of the error.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Server-defined URL for the resource."
        }
      }
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "MaintenanceWindow defines the maintenance window to be used for the cluster.",
      "type": "object",
      "properties": {
        "dailyMaintenanceWindow": {
          "$ref": "DailyMaintenanceWindow",
          "description": "DailyMaintenanceWindow specifies a daily maintenance operation window."
        },
        "recurringWindow": {
          "$ref": "RecurringTimeWindow",
          "description": "RecurringWindow specifies some number of recurring time periods for\nmaintenance to occur. The time windows may be overlapping. If no\nmaintenance windows are set, maintenance can occur at any time."
        },
        "maintenanceExclusions": {
          "description": "Exceptions to maintenance window. Non-emergency maintenance should not\noccur in these windows.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TimeWindow"
          }
        }
      }
    },
    "RecurringTimeWindow": {
      "description": "Represents an arbitrary window of time that recurs.",
      "type": "object",
      "properties": {
        "recurrence": {
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how\nthis window reccurs. They go on for the span of time between the start and\nend time.\n\nFor example, to have something repeat every weekday, you'd use:\n  \u003ccode\u003eFREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR\u003c/code\u003e\nTo repeat some window daily (equivalent to the DailyMaintenanceWindow):\n  \u003ccode\u003eFREQ=DAILY\u003c/code\u003e\nFor the first weekend of every month:\n  \u003ccode\u003eFREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU\u003c/code\u003e\nThis specifies how frequently the window starts. Eg, if you wanted to have\na 9-5 UTC-4 window every weekday, you'd use something like:\n\u003ccode\u003e\n  start time = 2019-01-01T09:00:00-0400\n  end time = 2019-01-01T17:00:00-0400\n  recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR\n\u003c/code\u003e\nWindows can span multiple days. Eg, to make the window encompass every\nweekend from midnight Saturday till the last minute of Sunday UTC:\n\u003ccode\u003e\n  start time = 2019-01-05T00:00:00Z\n  end time = 2019-01-07T23:59:00Z\n  recurrence = FREQ=WEEKLY;BYDAY=SA\n\u003c/code\u003e\nNote the start and end time's specific dates are largely arbitrary except\nto specify duration of the window and when it first starts.\nThe FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported.",
          "type": "string"
        },
        "window": {
          "$ref": "TimeWindow",
          "description": "The window of the first recurrence."
        }
      },
      "id": "RecurringTimeWindow"
    },
    "RollbackNodePoolUpgradeRequest": {
      "id": "RollbackNodePoolUpgradeRequest",
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed\nNodePool upgrade. This will be an no-op if the last upgrade successfully\ncompleted.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node poll to\nrollback upgrade.\nSpecified in the format 'projects/*/locations/*/clusters/*/nodePools/*'."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to rollback.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodePoolId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the node pool to rollback.\nThis field has been deprecated and replaced by the name field."
        }
      }
    },
    "HttpCacheControlResponseHeader": {
      "id": "HttpCacheControlResponseHeader",
      "description": "RFC-2616: cache control support",
      "type": "object",
      "properties": {
        "directive": {
          "description": "14.9 request and response directives",
          "type": "string"
        },
        "age": {
          "description": "14.6 response cache age, in seconds since the response is generated",
          "format": "int64",
          "type": "string"
        },
        "expires": {
          "description": "14.21 response cache expires, in RFC 1123 date format",
          "type": "string"
        }
      }
    },
    "CloudRunConfig": {
      "id": "CloudRunConfig",
      "description": "Configuration options for the Cloud Run feature.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether Cloud Run addon is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "description": "Configuration options for the NetworkPolicy feature.\nhttps://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        },
        "provider": {
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ],
          "description": "The selected network policy provider.",
          "type": "string"
        }
      }
    },
    "UpdateMasterRequest": {
      "id": "UpdateMasterRequest",
      "description": "UpdateMasterRequest updates the master of the cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "masterVersion": {
          "description": "Required. The Kubernetes version to change the master to.\n\nUsers may specify either explicit versions offered by Kubernetes Engine or\nversion aliases, which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n- \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\": picks an explicit Kubernetes version\n- \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        }
      }
    },
    "StatusCondition": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Human-friendly representation of the condition",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN indicates a generic condition.",
            "GCE_STOCKOUT indicates a Google Compute Engine stockout.",
            "GKE_SERVICE_ACCOUNT_DELETED indicates that the user deleted their robot\nservice account.",
            "Google Compute Engine quota was exceeded.",
            "Cluster state was manually changed by an SRE due to a system logic error.",
            "Unable to perform an encrypt operation against the CloudKMS key used for\netcd level encryption.\nMore codes TBA"
          ],
          "enum": [
            "UNKNOWN",
            "GCE_STOCKOUT",
            "GKE_SERVICE_ACCOUNT_DELETED",
            "GCE_QUOTA_EXCEEDED",
            "SET_BY_OPERATOR",
            "CLOUD_KMS_KEY_ERROR"
          ],
          "description": "Machine-friendly representation of the condition"
        }
      },
      "id": "StatusCondition",
      "description": "StatusCondition describes why a cluster or a node pool has a certain status\n(e.g., ERROR or DEGRADED)."
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations in the project in the specified zone.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of operations returned\nmay be missing the operations from those zones."
        }
      },
      "id": "ListOperationsResponse",
      "description": "ListOperationsResponse is the result of ListOperationsRequest."
    },
    "SetMonitoringServiceRequest": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field."
        },
        "monitoringService": {
          "description": "Required. The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* \"monitoring.googleapis.com/kubernetes\" - the Google Cloud Monitoring\nservice with Kubernetes-native resource model\n* \"monitoring.googleapis.com\" - the Google Cloud Monitoring service\n* \"none\" - no metrics will be exported from the cluster",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        }
      },
      "id": "SetMonitoringServiceRequest",
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster."
    },
    "CidrBlock": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "display_name is an optional field for users to identify CIDR blocks.",
          "type": "string"
        },
        "cidrBlock": {
          "description": "cidr_block must be specified in CIDR notation.",
          "type": "string"
        }
      },
      "id": "CidrBlock",
      "description": "CidrBlock contains an optional name and one CIDR block."
    },
    "BinaryAuthorization": {
      "description": "Configuration for Binary Authorization.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable Binary Authorization for this cluster. If enabled, all container\nimages will be validated by Binary Authorization."
        }
      },
      "id": "BinaryAuthorization"
    },
    "ServerConfig": {
      "description": "Kubernetes Engine service configuration.",
      "type": "object",
      "properties": {
        "validNodeVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid node upgrade target versions."
        },
        "validImageTypes": {
          "description": "List of valid image types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "validMasterVersions": {
          "description": "List of valid master versions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultClusterVersion": {
          "description": "Version of Kubernetes the service deploys by default.",
          "type": "string"
        },
        "defaultImageType": {
          "description": "Default image type.",
          "type": "string"
        }
      },
      "id": "ServerConfig"
    },
    "NodeConfig": {
      "type": "object",
      "properties": {
        "oauthScopes": {
          "description": "The set of Google API scopes to be made available on all of the\nnode VMs under the \"default\" service account.\n\nThe following scopes are recommended, but not required, and by default are\nnot included:\n\n* `https://www.googleapis.com/auth/compute` is required for mounting\npersistent storage on your nodes.\n* `https://www.googleapis.com/auth/devstorage.read_only` is required for\ncommunicating with **gcr.io**\n(the [Google Container Registry](/container-registry/)).\n\nIf unspecified, no scopes are added, unless Cloud Logging or Cloud\nMonitoring are enabled, in which case their required scopes will be added.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "taints": {
          "description": "List of kubernetes taints to be applied to each node.\n\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node.\nThese will added in addition to any default label(s) that\nKubernetes may apply to the node.\nIn case of conflict in label keys, the applied set may differ depending on\nthe Kubernetes version -- it's best to assume the behavior is undefined\nand conflicts should be avoided.\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "type": "object"
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Size of the disk attached to each node, specified in GB.\nThe smallest allowed disk size is 10GB.\n\nIf unspecified, the default disk size is 100GB.",
          "format": "int32"
        },
        "accelerators": {
          "description": "A list of hardware accelerators to be attached to each node.\nSee https://cloud.google.com/compute/docs/gpus for more information about\nsupport for GPUs.",
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "diskType": {
          "description": "Type of the disk attached to each node (e.g. 'pd-standard' or 'pd-ssd')\n\nIf unspecified, the default disk type is 'pd-standard'",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "The name of a Google Compute Engine [machine\ntype](/compute/docs/machine-types) (e.g.\n`n1-standard-1`).\n\nIf unspecified, the default machine type is\n`n1-standard-1`."
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Minimum CPU platform to be used by this instance. The instance may be\nscheduled on the specified or newer CPU platform. Applicable values are the\nfriendly names of CPU platforms, such as\n\u003ccode\u003eminCpuPlatform: &quot;Intel Haswell&quot;\u003c/code\u003e or\n\u003ccode\u003eminCpuPlatform: &quot;Intel Sandy Bridge&quot;\u003c/code\u003e. For more\ninformation, read [how to specify min CPU\nplatform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)"
        },
        "preemptible": {
          "type": "boolean",
          "description": "Whether the nodes are created as preemptible VM instances. See:\nhttps://cloud.google.com/compute/docs/instances/preemptible for more\ninformation about preemptible VM instances."
        },
        "localSsdCount": {
          "description": "The number of local SSD disks to be attached to the node.\n\nThe limit for this value is dependent upon the maximum number of\ndisks available on a machine per zone. See:\nhttps://cloud.google.com/compute/docs/disks/local-ssd\nfor more information.",
          "format": "int32",
          "type": "integer"
        },
        "metadata": {
          "description": "The metadata key/value pairs assigned to instances in the cluster.\n\nKeys must conform to the regexp [a-zA-Z0-9-_]+ and be less than 128 bytes\nin length. These are reflected as part of a URL in the metadata server.\nAdditionally, to avoid ambiguity, keys must not conflict with any other\nmetadata keys for the project or be one of the reserved keys:\n \"cluster-location\"\n \"cluster-name\"\n \"cluster-uid\"\n \"configure-sh\"\n \"containerd-configure-sh\"\n \"enable-os-login\"\n \"gci-ensure-gke-docker\"\n \"gci-metrics-enabled\"\n \"gci-update-strategy\"\n \"instance-template\"\n \"kube-env\"\n \"startup-script\"\n \"user-data\"\n \"disable-address-manager\"\n \"windows-startup-script-ps1\"\n \"common-psm1\"\n \"k8s-node-setup-psm1\"\n \"install-ssh-psm1\"\n \"user-profile-psm1\"\n \"serial-port-logging-enable\"\n\nValues are free-form strings, and only have meaning as interpreted by\nthe image running in the instance. The only restriction placed on them is\nthat each value's size must be less than or equal to 32 KB.\n\nThe total size of all keys and values must be less than 512 KB.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reservationAffinity": {
          "$ref": "ReservationAffinity",
          "description": "The optional reservation affinity. Setting this field will apply\nthe specified [Zonal Compute\nReservation](/compute/docs/instances/reserving-zonal-resources)\nto this node pool."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of instance tags applied to all nodes. Tags are used to identify\nvalid sources or targets for network firewalls and are specified by\nthe client during cluster or node pool creation. Each tag within the list\nmust comply with RFC1035."
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. If\nno Service Account is specified, the \"default\" service account is used.",
          "type": "string"
        },
        "imageType": {
          "description": "The image type to use for this node. Note that for a given image type,\nthe latest version of it will be used.",
          "type": "string"
        }
      },
      "id": "NodeConfig",
      "description": "Parameters that describe the nodes in a cluster."
    },
    "AutoUpgradeOptions": {
      "id": "AutoUpgradeOptions",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how\nthe Auto Upgrades will proceed.",
      "type": "object",
      "properties": {
        "description": {
          "description": "[Output only] This field is set when upgrades are about to commence\nwith the description of the upgrade.",
          "type": "string"
        },
        "autoUpgradeStartTime": {
          "description": "[Output only] This field is set when upgrades are about to commence\nwith the approximate start time for the upgrades, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        }
      }
    },
    "ListClustersResponse": {
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "A list of clusters in the project in the specified zone, or\nacross all ones."
        },
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of clusters returned\nmay be missing those zones."
        }
      },
      "id": "ListClustersResponse"
    },
    "UsableSubnetwork": {
      "description": "UsableSubnetwork resource returns the subnetwork name, its associated network\nand the primary CIDR range.",
      "type": "object",
      "properties": {
        "ipCidrRange": {
          "type": "string",
          "description": "The range of internal addresses that are owned by this subnetwork."
        },
        "subnetwork": {
          "description": "Subnetwork Name.\nExample: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "type": "string"
        },
        "network": {
          "description": "Network Name.\nExample: projects/my-project/global/networks/my-network",
          "type": "string"
        },
        "statusMessage": {
          "description": "A human readable status message representing the reasons for cases where\nthe caller cannot use the secondary ranges under the subnet. For example if\nthe secondary_ip_ranges is empty due to a permission issue, an insufficient\npermission message will be given by status_message.",
          "type": "string"
        },
        "secondaryIpRanges": {
          "description": "Secondary IP ranges.",
          "type": "array",
          "items": {
            "$ref": "UsableSubnetworkSecondaryRange"
          }
        }
      },
      "id": "UsableSubnetwork"
    },
    "HttpLoadBalancing": {
      "description": "Configuration options for the HTTP (L7) load balancing controller addon,\nwhich makes it easy to set up HTTP load balancers for services in a cluster.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster.\nWhen enabled, it runs a small pod in the cluster that manages the load\nbalancers.",
          "type": "boolean"
        }
      },
      "id": "HttpLoadBalancing"
    },
    "NodePoolAutoscaling": {
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to\nadjust the size of the node pool to the current cluster usage.",
      "type": "object",
      "properties": {
        "maxNodeCount": {
          "type": "integer",
          "description": "Maximum number of nodes in the NodePool. Must be \u003e= min_node_count. There\nhas to enough quota to scale up the cluster.",
          "format": "int32"
        },
        "minNodeCount": {
          "description": "Minimum number of nodes in the NodePool. Must be \u003e= 1 and \u003c=\nmax_node_count.",
          "format": "int32",
          "type": "integer"
        },
        "autoprovisioned": {
          "description": "Can this node pool be deleted automatically.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Is autoscaling enabled for this node pool."
        }
      },
      "id": "NodePoolAutoscaling"
    },
    "SetMasterAuthRequest": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set auth.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Operation is unknown and will error out.",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that.",
            "Set the username.  If an empty username is provided, basic authentication\nis disabled for the cluster.  If a non-empty username is provided, basic\nauthentication is enabled, with either a provided password or a generated\none."
          ],
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD",
            "SET_USERNAME"
          ],
          "description": "Required. The exact form of action to be taken on the master auth."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "update": {
          "$ref": "MasterAuth",
          "description": "Required. A description of the update."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetMasterAuthRequest",
      "description": "SetMasterAuthRequest updates the admin password of a cluster."
    },
    "SetNetworkPolicyRequest": {
      "description": "SetNetworkPolicyRequest enables/disables network policy for a cluster.",
      "type": "object",
      "properties": {
        "networkPolicy": {
          "$ref": "NetworkPolicy",
          "description": "Required. Configuration options for the NetworkPolicy feature."
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set networking\npolicy. Specified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster.\nThis field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetNetworkPolicyRequest"
    },
    "TimeWindow": {
      "id": "TimeWindow",
      "description": "Represents an arbitrary window of time.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time that the window first starts.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time that the window ends. The end time should take place after the\nstart time.",
          "format": "google-datetime"
        }
      }
    },
    "Jwk": {
      "type": "object",
      "properties": {
        "n": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "alg": {
          "type": "string",
          "description": "Algorithm."
        },
        "use": {
          "description": "Permitted uses for the public keys.",
          "type": "string"
        },
        "y": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "x": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "crv": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "kid": {
          "description": "Key ID.",
          "type": "string"
        },
        "e": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "kty": {
          "type": "string",
          "description": "Key Type."
        }
      },
      "id": "Jwk",
      "description": "Jwk is a JSON Web Key as specified in RFC 7517"
    },
    "IntraNodeVisibilityConfig": {
      "description": "IntraNodeVisibilityConfig contains the desired config of the intra-node\nvisibility on this cluster.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enables intra node visibility for this cluster.",
          "type": "boolean"
        }
      },
      "id": "IntraNodeVisibilityConfig"
    },
    "IPAllocationPolicy": {
      "id": "IPAllocationPolicy",
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "type": "object",
      "properties": {
        "nodeIpv4Cidr": {
          "description": "This field is deprecated, use node_ipv4_cidr_block.",
          "type": "string"
        },
        "clusterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range for the cluster pod IPs. If this field is set, then\n`cluster.cluster_ipv4_cidr` must be left blank.\n\nThis field is only applicable when `use_ip_aliases` is true.\n\nSet to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use."
        },
        "clusterSecondaryRangeName": {
          "type": "string",
          "description": "The name of the secondary range to be used for the cluster CIDR\nblock.  The secondary range will be used for pod IP\naddresses. This must be an existing secondary range associated\nwith the cluster subnetwork.\n\nThis field is only applicable with use_ip_aliases is true and\ncreate_subnetwork is false."
        },
        "nodeIpv4CidrBlock": {
          "description": "The IP address range of the instance IPs in this cluster.\n\nThis is applicable only if `create_subnetwork` is true.\n\nSet to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use.",
          "type": "string"
        },
        "tpuIpv4CidrBlock": {
[...]
