{
  "title": "Dataflow API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "methods": {
        "workerMessages": {
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages",
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "id": "dataflow.projects.workerMessages",
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          },
          "description": "Send a worker_message to the service.",
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "The project to send the WorkerMessages to.",
              "required": true,
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "templates": {
          "methods": {
            "launch": {
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                },
                "gcsPath": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'."
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The location to which to direct the request."
                },
                "validateOnly": {
                  "location": "query",
                  "description": "If true, the request is validated but not actually executed.\nDefaults to false.",
                  "type": "boolean"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "id": "dataflow.projects.templates.launch",
              "path": "v1b3/projects/{projectId}/templates:launch",
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "description": "Launch a template."
            },
            "get": {
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "location": {
                  "location": "query",
                  "description": "The location to which to direct the request.",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "description": "The view to retrieve. Defaults to METADATA_ONLY."
                },
                "gcsPath": {
                  "location": "query",
                  "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "path": "v1b3/projects/{projectId}/templates:get",
              "id": "dataflow.projects.templates.get",
              "description": "Get the template associated with a template."
            },
            "create": {
              "flatPath": "v1b3/projects/{projectId}/templates",
              "id": "dataflow.projects.templates.create",
              "path": "v1b3/projects/{projectId}/templates",
              "description": "Creates a Cloud Dataflow job from a template.",
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "The project to send the WorkerMessages to.",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "location": "path",
                  "description": "The location which contains the job",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "id": "dataflow.projects.locations.workerMessages",
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "description": "Send a worker_message to the service.",
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              }
            }
          },
          "resources": {
            "templates": {
              "methods": {
                "launch": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "id": "dataflow.projects.locations.templates.launch",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "description": "Launch a template.",
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "gcsPath": {
                      "location": "query",
                      "description": "Required. A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.",
                      "type": "string"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The location to which to direct the request."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If true, the request is validated but not actually executed.\nDefaults to false."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "get": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "id": "dataflow.projects.locations.templates.get",
                  "description": "Get the template associated with a template.",
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "type": "string"
                    },
                    "gcsPath": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`."
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The location to which to direct the request."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "description": "Creates a Cloud Dataflow job from a template.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "description": "The location to which to direct the request.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "id": "dataflow.projects.locations.templates.create",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates"
                }
              }
            },
            "jobs": {
              "methods": {
                "getMetrics": {
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The location which contains the job specified by job_id."
                    },
                    "startTime": {
                      "location": "query",
                      "description": "Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "A project id."
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The job to get messages for."
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "description": "Request the job status."
                },
                "get": {
                  "description": "Gets the state of the specified Cloud Dataflow job.",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job ID.",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response."
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.get"
                },
                "list": {
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "location": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The location that contains this job."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The project which owns the jobs."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ],
                      "description": "The kind of filter to use."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.list",
                  "description": "List the jobs of a project in a given region."
                },
                "update": {
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Updates the state of an existing Cloud Dataflow job.",
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to."
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The job ID."
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The location that contains this job."
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.update",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}"
                },
                "create": {
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "required": true,
                      "type": "string"
                    },
                    "replaceJobId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. This field is now in the Job message."
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response."
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.create",
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Creates a Cloud Dataflow job."
                }
              },
              "resources": {
                "debug": {
                  "methods": {
                    "getConfig": {
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The project id."
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The job id."
                        },
                        "location": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The location which contains the job specified by job_id."
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "description": "Get encoded debug configuration for component. Not cacheable."
                    },
                    "sendCapture": {
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameters": {
                        "location": {
                          "location": "path",
                          "description": "The location which contains the job specified by job_id.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The project id."
                        },
                        "jobId": {
                          "location": "path",
                          "description": "The job id.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "description": "Send encoded debug capture data for component."
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "reportStatus": {
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "location": {
                          "location": "path",
                          "description": "The location which contains the WorkItem's job.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "The project which owns the WorkItem's job.",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "location": "path",
                          "description": "The job which the WorkItem is part of.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      }
                    },
                    "lease": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "description": "Leases a dataflow WorkItem to run.",
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "location": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The location which contains the WorkItem's job."
                        },
                        "projectId": {
                          "location": "path",
                          "description": "Identifies the project this worker belongs to.",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Identifies the workflow job this worker belongs to."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ]
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "endTime": {
                          "location": "query",
                          "description": "Return only messages with timestamps \u003c end_time. The default is now\n(i.e. return up to the latest messages available).",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "location": {
                          "location": "path",
                          "description": "The location which contains the job specified by job_id.",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned."
                        },
                        "startTime": {
                          "type": "string",
                          "location": "query",
                          "description": "If specified, return only messages with timestamps \u003e= start_time.\nThe default is the job creation time (i.e. beginning of messages).",
                          "format": "google-datetime"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.",
                          "format": "int32"
                        },
                        "minimumImportance": {
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "description": "Filter to only get messages with importance \u003e= level"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "A project id.",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The job to get messages about."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "description": "Request the job status."
                    }
                  }
                }
              }
            }
          }
        },
        "jobs": {
          "methods": {
            "get": {
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "id": "dataflow.projects.jobs.get",
              "description": "Gets the state of the specified Cloud Dataflow job.",
              "response": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The location that contains this job."
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to."
                },
                "jobId": {
                  "location": "path",
                  "description": "The job ID.",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "The level of information requested in response.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "update": {
              "response": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to."
                },
                "jobId": {
                  "location": "path",
                  "description": "The job ID.",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "description": "The location that contains this job.",
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "id": "dataflow.projects.jobs.update",
              "request": {
                "$ref": "Job"
              },
              "description": "Updates the state of an existing Cloud Dataflow job."
            },
            "aggregated": {
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The project which owns the jobs."
                },
                "filter": {
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "description": "The kind of filter to use.",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "description": "The location that contains this job.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                  "format": "int32"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "id": "dataflow.projects.jobs.aggregated",
              "description": "List the jobs of a project across all regions."
            },
            "list": {
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The project which owns the jobs."
                },
                "filter": {
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "description": "The kind of filter to use.",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "description": "The location that contains this job.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list."
                },
                "pageSize": {
                  "location": "query",
                  "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                  "format": "int32",
                  "type": "integer"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "path": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.list",
              "description": "List the jobs of a project in a given region."
            },
            "create": {
              "description": "Creates a Cloud Dataflow job.",
              "request": {
                "$ref": "Job"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to."
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "The level of information requested in response."
                },
                "location": {
                  "location": "query",
                  "description": "The location that contains this job.",
                  "type": "string"
                },
                "replaceJobId": {
                  "location": "query",
                  "description": "Deprecated. This field is now in the Job message.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.create",
              "path": "v1b3/projects/{projectId}/jobs"
            },
            "getMetrics": {
              "response": {
                "$ref": "JobMetrics"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "A project id.",
                  "required": true,
                  "type": "string"
                },
                "jobId": {
                  "location": "path",
                  "description": "The job to get messages for.",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The location which contains the job specified by job_id."
                },
                "startTime": {
                  "location": "query",
                  "description": "Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.",
                  "format": "google-datetime",
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "id": "dataflow.projects.jobs.getMetrics",
              "description": "Request the job status."
            }
          },
          "resources": {
            "debug": {
              "methods": {
                "getConfig": {
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The project id.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The job id."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "sendCapture": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The project id."
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The job id."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "description": "Send encoded debug capture data for component.",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  }
                }
              }
            },
            "workItems": {
              "methods": {
                "reportStatus": {
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The project which owns the WorkItem's job.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The job which the WorkItem is part of."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus"
                },
                "lease": {
                  "description": "Leases a dataflow WorkItem to run.",
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "Identifies the project this worker belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "location": "path",
                      "description": "Identifies the workflow job this worker belongs to.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease"
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "parameters": {
                    "location": {
                      "location": "query",
                      "description": "The location which contains the job specified by job_id.",
                      "type": "string"
                    },
                    "endTime": {
                      "location": "query",
                      "description": "Return only messages with timestamps \u003c end_time. The default is now\n(i.e. return up to the latest messages available).",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "startTime": {
                      "location": "query",
                      "description": "If specified, return only messages with timestamps \u003e= start_time.\nThe default is the job creation time (i.e. beginning of messages).",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "minimumImportance": {
                      "location": "query",
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "description": "Filter to only get messages with importance \u003e= level",
                      "type": "string"
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job to get messages about.",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "A project id.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "id": "dataflow.projects.jobs.messages.list",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "description": "Request the job status."
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "schemas": {
    "ResourceUtilizationReport": {
      "description": "Worker metrics exported from workers. This contains resource utilization\nmetrics accumulated from a variety of sources. For more information, see\ngo/df-resource-signals.",
      "type": "object",
      "properties": {
        "cpuTime": {
          "description": "CPU utilization samples.",
          "type": "array",
          "items": {
            "$ref": "CPUTime"
          }
        }
      },
      "id": "ResourceUtilizationReport"
    },
    "ReportedParallelism": {
      "description": "Represents the level of parallelism in a WorkItem's input,\nreported by the worker.",
      "type": "object",
      "properties": {
        "isInfinite": {
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is\nignored.\nInfinite parallelism means the service will assume that the work item\ncan always be split into more non-empty work items by dynamic splitting.\nThis is a work-around for lack of support for infinity by the current\nJSON-based Java RPC stack.",
          "type": "boolean"
        },
        "value": {
          "type": "number",
          "description": "Specifies the level of parallelism in case it is finite.",
          "format": "double"
        }
      },
      "id": "ReportedParallelism"
    },
    "TopologyConfig": {
      "description": "Global topology of the streaming Dataflow job, including all\ncomputations and their sharded locations.",
      "type": "object",
      "properties": {
        "forwardingKeyBits": {
          "type": "integer",
          "description": "The size (in bits) of keys that will be assigned to source messages.",
          "format": "int32"
        },
        "userStageToComputationNameMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Maps user stage names to stable computation names."
        },
        "computations": {
          "type": "array",
          "items": {
            "$ref": "ComputationTopology"
          },
          "description": "The computations associated with a streaming Dataflow job."
        },
        "dataDiskAssignments": {
          "type": "array",
          "items": {
            "$ref": "DataDiskAssignment"
          },
          "description": "The disks assigned to a streaming Dataflow job."
        },
        "persistentStateVersion": {
          "type": "integer",
          "description": "Version number for persistent state.",
          "format": "int32"
        }
      },
      "id": "TopologyConfig"
    },
    "SourceSplitOptions": {
      "type": "object",
      "properties": {
        "desiredBundleSizeBytes": {
          "type": "string",
          "description": "The source should be split into a set of bundles where the estimated size\nof each is approximately this many bytes.",
          "format": "int64"
        },
        "desiredShardSizeBytes": {
          "type": "string",
          "description": "DEPRECATED in favor of desired_bundle_size_bytes.",
          "format": "int64"
        }
      },
      "id": "SourceSplitOptions",
      "description": "Hints for splitting a Source into bundles (parts for parallel\nprocessing) using SourceSplitRequest."
    },
    "ReadInstruction": {
      "description": "An instruction that reads records.\nTakes no inputs, produces one output.",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "The source to read from."
        }
      },
      "id": "ReadInstruction"
    },
    "WorkerSettings": {
      "type": "object",
      "properties": {
        "servicePath": {
          "type": "string",
          "description": "The Cloud Dataflow service path relative to the root URL, for example,\n\"dataflow/v1b3/projects\"."
        },
        "shuffleServicePath": {
          "type": "string",
          "description": "The Shuffle service path relative to the root URL, for example,\n\"shuffle/v1beta1\"."
        },
        "workerId": {
          "type": "string",
          "description": "The ID of the worker running this pipeline."
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary\nstorage.\n\nThe supported resource type is:\n\nGoogle Cloud Storage:\n\n  storage.googleapis.com/{bucket}/{object}\n  bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "reportingEnabled": {
          "description": "Whether to send work progress updates to the service.",
          "type": "boolean"
        },
        "baseUrl": {
          "description": "The base URL for accessing Google Cloud APIs.\n\nWhen workers access Google Cloud APIs, they logically do so via\nrelative URLs.  If this field is specified, it supplies the base\nURL to use for resolving these relative URLs.  The normative\nalgorithm used is defined by RFC 1808, \"Relative Uniform Resource\nLocators\".\n\nIf not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        }
      },
      "id": "WorkerSettings",
      "description": "Provides data to pass through to the worker harness."
    },
    "StreamingStageLocation": {
      "type": "object",
      "properties": {
        "streamId": {
          "type": "string",
          "description": "Identifies the particular stream within the streaming Dataflow\njob."
        }
      },
      "id": "StreamingStageLocation",
      "description": "Identifies the location of a streaming computation stage, for\nstage-to-stage communication."
    },
    "DataDiskAssignment": {
      "description": "Data disk assignment for a given VM instance.",
      "type": "object",
      "properties": {
        "dataDisks": {
          "description": "Mounted data disks. The order is important a data disk's 0-based index in\nthis list defines which persistent directory the disk is mounted to, for\nexample the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" },\n{ \"myproject-1014-104817-4c2-harness-0-disk-1\" }.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmInstance": {
          "description": "VM instance name the data disks mounted to, for example\n\"myproject-1014-104817-4c2-harness-0\".",
          "type": "string"
        }
      },
      "id": "DataDiskAssignment"
    },
    "ApproximateSplitRequest": {
      "type": "object",
      "properties": {
        "position": {
          "$ref": "Position",
          "description": "A Position at which to split the work item."
        },
        "fractionConsumed": {
          "type": "number",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the\ninput) to 1.0 (end of the input).",
          "format": "double"
        }
      },
      "id": "ApproximateSplitRequest",
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem."
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons."
    },
    "ExecutionStageState": {
      "description": "A message describing the state of a particular execution stage.",
      "type": "object",
      "properties": {
        "executionStageName": {
          "type": "string",
          "description": "The name of the execution stage."
        },
        "currentStateTime": {
          "type": "string",
          "description": "The time at which the stage transitioned to this state.",
          "format": "google-datetime"
        },
        "executionStageState": {
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not\nyet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed.\nThis is a terminal job state.  This state may be set by the Cloud Dataflow\nservice, as a transition from `JOB_STATE_RUNNING`. It may also be set via a\nCloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal\nstate.",
            "`JOB_STATE_FAILED` indicates that the job has failed.  This is a\nterminal job state.  This state may only be set by the Cloud Dataflow\nservice, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly\ncancelled. This is a terminal job state. This state may only be\nset via a Cloud Dataflow `UpdateJob` call, and only if the job has not\nyet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated,\nmeaning that this job was stopped and another job was started, inheriting\nstate from this one. This is a terminal job state. This state may only be\nset by the Cloud Dataflow service, and only as a transition from\n`JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining.\nA draining job has stopped pulling from its input sources and is processing\nany data that remains in-flight. This state may be set via a Cloud Dataflow\n`UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs\nthat are draining may only transition to `JOB_STATE_DRAINED`,\n`JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained.\nA drained job terminated by stopping pulling from its input sources and\nprocessing any data that remained in-flight when draining was requested.\nThis state is a terminal state, may only be set by the Cloud Dataflow\nservice, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet\nrunning.  Jobs that are pending may only transition to `JOB_STATE_RUNNING`,\nor `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled\nand is in the process of stopping.  Jobs that are cancelling may only\ntransition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being\ndelayed until launch. Jobs that are queued may only transition to\n`JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED"
          ],
          "description": "Executions stage states allow the same set of values as JobState."
        }
      },
      "id": "ExecutionStageState"
    },
    "StreamLocation": {
      "type": "object",
      "properties": {
        "customSourceLocation": {
          "$ref": "CustomSourceLocation",
          "description": "The stream is a custom source."
        },
        "streamingStageLocation": {
          "$ref": "StreamingStageLocation",
          "description": "The stream is part of another computation within the current\nstreaming Dataflow job."
        },
        "pubsubLocation": {
          "$ref": "PubsubLocation",
          "description": "The stream is a pubsub stream."
        },
        "sideInputLocation": {
          "$ref": "StreamingSideInputLocation",
          "description": "The stream is a streaming side input."
        }
      },
      "id": "StreamLocation",
      "description": "Describes a stream of data, either as input to be processed or as\noutput of a streaming Dataflow job."
    },
    "WorkerLifecycleEvent": {
      "description": "A report of an event in a worker's lifecycle.\nThe proto contains one event, because the worker is expected to\nasynchronously send each message immediately after the event.\nDue to this asynchrony, messages may arrive out of order (or missing), and it\nis up to the consumer to interpret.\nThe timestamp of the event is in the enclosing WorkerMessage proto.",
      "type": "object",
      "properties": {
        "event": {
          "type": "string",
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be\ndistinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "description": "The event being reported."
        },
        "containerStartTime": {
          "description": "The start time of this container. All events will report this so that\nevents can be grouped together across container/VM restarts.",
          "format": "google-datetime",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Other stats that can accompany an event. E.g.\n{ \"downloaded_bytes\" : \"123456\" }"
        }
      },
      "id": "WorkerLifecycleEvent"
    },
    "SendWorkerMessagesResponse": {
      "description": "The response to the worker messages.",
      "type": "object",
      "properties": {
        "workerMessageResponses": {
          "description": "The servers response to the worker messages.",
          "type": "array",
          "items": {
            "$ref": "WorkerMessageResponse"
          }
        }
      },
      "id": "SendWorkerMessagesResponse"
    },
    "LeaseWorkItemResponse": {
      "type": "object",
      "properties": {
        "workItems": {
          "description": "A list of the leased WorkItems.",
          "type": "array",
          "items": {
            "$ref": "WorkItem"
          }
        }
      },
      "id": "LeaseWorkItemResponse",
      "description": "Response to a request to lease WorkItems."
    },
    "TransformSummary": {
      "type": "object",
      "properties": {
        "inputCollectionName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User names for all collection inputs to this transform."
        },
        "name": {
          "description": "User provided name for this transform instance.",
          "type": "string"
        },
        "id": {
          "description": "SDK generated id of this transform instance.",
          "type": "string"
        },
        "outputCollectionName": {
          "description": "User  names for all collection outputs to this transform.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayData": {
          "type": "array",
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Transform-specific display data."
        },
        "kind": {
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "description": "Type of transform.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ]
        }
      },
      "id": "TransformSummary",
      "description": "Description of the type, names/ids, and input/outputs for a transform."
    },
    "StreamingComputationConfig": {
      "type": "object",
      "properties": {
        "systemName": {
          "description": "System defined name for this computation.",
          "type": "string"
        },
        "stageName": {
          "type": "string",
          "description": "Stage name of this computation."
        },
        "instructions": {
          "description": "Instructions that comprise the computation.",
          "type": "array",
          "items": {
            "$ref": "ParallelInstruction"
          }
        },
        "computationId": {
          "type": "string",
          "description": "Unique identifier for this computation."
        }
      },
      "id": "StreamingComputationConfig",
      "description": "Configuration information for a single streaming computation."
    },
    "Sink": {
      "type": "object",
      "properties": {
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use to encode data written to the sink.",
          "type": "object"
        },
        "spec": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The sink to write to, plus its parameters."
        }
      },
      "id": "Sink",
      "description": "A sink that records can be encoded and written to."
    },
    "LaunchTemplateParameters": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The runtime parameters to pass to the job."
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job."
        },
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        }
      },
      "id": "LaunchTemplateParameters",
      "description": "Parameters to provide to the template being launched."
    },
    "FlattenInstruction": {
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "type": "object",
      "properties": {
        "inputs": {
          "description": "Describes the inputs to the flatten instruction.",
          "type": "array",
          "items": {
            "$ref": "InstructionInput"
          }
        }
      },
      "id": "FlattenInstruction"
    },
    "PartialGroupByKeyInstruction": {
      "description": "An instruction that does a partial group-by-key.\nOne input and one output.",
      "type": "object",
      "properties": {
        "inputElementCodec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use for interpreting an element in the input PTable."
        },
        "valueCombiningFn": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The value combining function to invoke."
        },
        "originalCombineValuesInputStoreName": {
          "description": "If this instruction includes a combining function this is the name of the\nintermediate store between the GBK and the CombineValues.",
          "type": "string"
        },
        "originalCombineValuesStepName": {
          "type": "string",
          "description": "If this instruction includes a combining function, this is the name of the\nCombineValues instruction lifted into this instruction."
        },
        "sideInputs": {
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          },
          "description": "Zero or more side inputs."
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "Describes the input to the partial group-by-key instruction."
        }
      },
      "id": "PartialGroupByKeyInstruction"
    },
    "InstructionInput": {
      "description": "An input of an instruction, as a reference to an output of a\nproducer instruction.",
      "type": "object",
      "properties": {
        "producerInstructionIndex": {
          "type": "integer",
          "description": "The index (origin zero) of the parallel instruction that produces\nthe output to be consumed by this input.  This index is relative\nto the list of instructions in this input's instruction's\ncontaining MapTask.",
          "format": "int32"
        },
        "outputNum": {
          "type": "integer",
          "description": "The output index (origin zero) within the producer.",
          "format": "int32"
        }
      },
      "id": "InstructionInput"
    },
    "StageSource": {
      "description": "Description of an input or output of an execution stage.",
      "type": "object",
      "properties": {
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this\nsource is most closely associated.",
          "type": "string"
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "sizeBytes": {
          "description": "Size of the source, if measurable.",
          "format": "int64",
          "type": "string"
        },
        "userName": {
          "description": "Human-readable name for this source; may be user or system generated.",
          "type": "string"
        }
      },
      "id": "StageSource"
    },
    "StringList": {
      "description": "A metric value representing a list of strings.",
      "type": "object",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StringList"
    },
    "DisplayData": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "An optional label to display in a dax UI for the element."
        },
        "url": {
          "description": "An optional full URL.",
          "type": "string"
        },
        "timestampValue": {
          "description": "Contains value if the data is of timestamp type.",
          "format": "google-datetime",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Contains value if the data is of a boolean type."
        },
        "javaClassValue": {
          "description": "Contains value if the data is of java class type.",
          "type": "string"
        },
        "strValue": {
          "type": "string",
          "description": "Contains value if the data is of string type."
        },
        "durationValue": {
          "type": "string",
          "description": "Contains value if the data is of duration type.",
          "format": "google-duration"
        },
        "int64Value": {
          "description": "Contains value if the data is of int64 type.",
          "format": "int64",
          "type": "string"
        },
        "namespace": {
          "type": "string",
          "description": "The namespace for the key. This is usually a class name or programming\nlanguage namespace (i.e. python module) which defines the display data.\nThis allows a dax monitoring system to specially handle the data\nand perform custom rendering."
        },
        "floatValue": {
          "type": "number",
          "description": "Contains value if the data is of float type.",
          "format": "float"
        },
        "key": {
          "type": "string",
          "description": "The key identifying the display data.\nThis is intended to be used as a label for the display data\nwhen viewed in a dax monitoring system."
        },
        "shortStrValue": {
          "type": "string",
          "description": "A possible additional shorter value to display.\nFor example a java_class_name_value of com.mypackage.MyDoFn\nwill be stored with MyDoFn as the short_str_value and\ncom.mypackage.MyDoFn as the java_class_name value.\nshort_str_value can be displayed and java_class_name_value\nwill be displayed as a tooltip."
        }
      },
      "id": "DisplayData",
      "description": "Data provided with a pipeline or transform to provide descriptive info."
    },
    "LeaseWorkItemRequest": {
      "type": "object",
      "properties": {
        "requestedLeaseDuration": {
          "type": "string",
          "description": "The initial lease period.",
          "format": "google-duration"
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "format": "google-datetime",
          "type": "string"
        },
        "workItemTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Filter for WorkItem type."
        },
        "location": {
          "description": "The location which contains the WorkItem's job.",
          "type": "string"
        },
        "workerCapabilities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Worker capabilities. WorkItems might be limited to workers with specific\ncapabilities."
        },
        "workerId": {
          "type": "string",
          "description": "Identifies the worker leasing work -- typically the ID of the\nvirtual machine running the worker."
        }
      },
      "id": "LeaseWorkItemRequest",
      "description": "Request to lease WorkItems."
    },
    "GetDebugConfigRequest": {
      "type": "object",
      "properties": {
        "location": {
          "description": "The location which contains the job specified by job_id.",
          "type": "string"
        },
        "componentId": {
          "description": "The internal component id for which debug configuration is\nrequested.",
          "type": "string"
        },
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        }
      },
      "id": "GetDebugConfigRequest",
      "description": "Request to get updated debug configuration for component."
    },
    "GetTemplateResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "Status",
          "description": "The status of the get template request. Any problems with the\nrequest will be indicated in the error_details."
        },
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "The template metadata describing the template name, available\nparameters, etc."
        }
      },
      "id": "GetTemplateResponse",
      "description": "The response to a GetTemplate request."
    },
    "Parameter": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key or name for this parameter."
        },
        "value": {
          "type": "any",
          "description": "Value for this parameter."
        }
      },
      "id": "Parameter",
      "description": "Structured data associated with this message."
    },
    "ReportWorkItemStatusRequest": {
      "type": "object",
      "properties": {
        "workerId": {
          "type": "string",
          "description": "The ID of the worker reporting the WorkItem status.  If this\ndoes not match the ID of the worker which the Dataflow service\nbelieves currently has the lease on the WorkItem, the report\nwill be dropped (with an error response)."
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "format": "google-datetime",
          "type": "string"
        },
        "location": {
          "description": "The location which contains the WorkItem's job.",
          "type": "string"
        },
        "workItemStatuses": {
          "description": "The order is unimportant, except that the order of the\nWorkItemServiceState messages in the ReportWorkItemStatusResponse\ncorresponds to the order of WorkItemStatus messages here.",
          "type": "array",
          "items": {
            "$ref": "WorkItemStatus"
          }
        }
      },
      "id": "ReportWorkItemStatusRequest",
      "description": "Request to report the status of WorkItems."
    },
    "StreamingConfigTask": {
      "description": "A task that carries configuration information for streaming computations.",
      "type": "object",
      "properties": {
        "streamingComputationConfigs": {
          "description": "Set of computation configuration information.",
          "type": "array",
          "items": {
            "$ref": "StreamingComputationConfig"
          }
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill\nService dispatchers, otherwise the worker must continue to use whatever\nendpoint it had been using.",
          "type": "string"
        },
        "userStepToStateFamilyNameMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from user step names to state families."
        },
        "windmillServicePort": {
          "type": "string",
          "description": "If present, the worker must use this port to communicate with Windmill\nService dispatchers. Only applicable when windmill_service_endpoint is\nspecified.",
          "format": "int64"
        }
      },
      "id": "StreamingConfigTask"
    },
    "PipelineDescription": {
      "description": "A descriptive representation of submitted pipeline as well as the executed\nform.  This data is provided by the Dataflow service for ease of visualizing\nthe pipeline and interpretting Dataflow provided metrics.",
      "type": "object",
      "properties": {
        "originalPipelineTransform": {
          "type": "array",
          "items": {
            "$ref": "TransformSummary"
          },
          "description": "Description of each transform in the pipeline and collections between them."
        },
        "displayData": {
          "type": "array",
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Pipeline level display data."
        },
        "executionPipelineStage": {
          "description": "Description of each stage of execution of the pipeline.",
          "type": "array",
          "items": {
            "$ref": "ExecutionStageSummary"
          }
        }
      },
      "id": "PipelineDescription"
    },
    "Step": {
      "type": "object",
      "properties": {
        "name": {
[...]
