{
  "version": "v2",
  "baseUrl": "https://dlp.googleapis.com/",
  "servicePath": "",
  "description": "The Google Data Loss Prevention API provides methods for detection of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "kind": "discovery#restDescription",
  "basePath": "",
  "id": "dlp:v2",
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "revision": "20180317",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "GooglePrivacyDlpV2InspectJobConfig": {
      "type": "object",
      "properties": {
        "actions": {
          "description": "Actions to execute at the completion of the job. Are executed in the order\nprovided.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          }
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "How and what to scan for."
        },
        "inspectTemplateName": {
          "type": "string",
          "description": "If provided, will be used as the default for all values in InspectConfig.\n`inspect_config` will be merged into the values persisted as part of the\ntemplate."
        },
        "storageConfig": {
          "$ref": "GooglePrivacyDlpV2StorageConfig",
          "description": "The data to scan."
        }
      },
      "id": "GooglePrivacyDlpV2InspectJobConfig"
    },
    "GooglePrivacyDlpV2LDiversityHistogramBucket": {
      "id": "GooglePrivacyDlpV2LDiversityHistogramBucket",
      "type": "object",
      "properties": {
        "sensitiveValueFrequencyUpperBound": {
          "description": "Upper bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "sensitiveValueFrequencyLowerBound": {
          "description": "Lower bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityEquivalenceClass"
          }
        },
        "bucketSize": {
          "description": "Total number of equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2InspectConfig": {
      "description": "Configuration description of the scanning process.\nWhen used with redactContent only info_types and min_likelihood are currently\nused.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to\nInfoType values returned by ListInfoTypes or found in documentation.\nEmpty info_types runs all enabled detectors.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding is\nincluded in the response; see Finding.quote.",
          "type": "boolean"
        },
        "customInfoTypes": {
          "description": "Custom infoTypes provided by the user.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CustomInfoType"
          }
        },
        "contentOptions": {
          "enumDescriptions": [
            "Includes entire content of a file or a data stream.",
            "Text content within the data, excluding any metadata.",
            "Images found in the data."
          ],
          "description": "List of options defining data content to scan.\nIf empty, text, images, and other content will be included.",
          "type": "array",
          "items": {
            "enum": [
              "CONTENT_UNSPECIFIED",
              "CONTENT_TEXT",
              "CONTENT_IMAGE"
            ],
            "type": "string"
          }
        },
        "limits": {
          "$ref": "GooglePrivacyDlpV2FindingLimits"
        },
        "excludeInfoTypes": {
          "type": "boolean",
          "description": "When true, excludes type information of the findings."
        },
        "minLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Only returns findings equal or above this threshold. The default is\nPOSSIBLE.",
          "type": "string",
          "enumDescriptions": [
            "Default value; information with all likelihoods is included.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ]
        }
      },
      "id": "GooglePrivacyDlpV2InspectConfig"
    },
    "GooglePrivacyDlpV2beta1QuasiIdField": {
      "description": "A quasi-identifier column has a custom_tag, used to know which column\nin the data corresponds to which column in the statistical model.",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId"
        },
        "customTag": {
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1QuasiIdField"
    },
    "GooglePrivacyDlpV2LDiversityConfig": {
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "type": "object",
      "properties": {
        "sensitiveAttribute": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Sensitive field for computing the l-value."
        },
        "quasiIds": {
          "description": "Set of quasi-identifiers indicating how equivalence classes are\ndefined for the l-diversity computation. When multiple fields are\nspecified, they are considered a single composite key.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityConfig"
    },
    "GooglePrivacyDlpV2CloudStorageOptions": {
      "description": "Options defining a file or a set of files (path ending with *) within\na Google Cloud Storage bucket.",
      "type": "object",
      "properties": {
        "bytesLimitPerFile": {
          "description": "Max number of bytes to scan from a file. If a scanned file's size is bigger\nthan this value then the rest of the bytes are omitted.",
          "format": "int64",
          "type": "string"
        },
        "fileSet": {
          "$ref": "GooglePrivacyDlpV2FileSet"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageOptions"
    },
    "GooglePrivacyDlpV2beta1ValueFrequency": {
      "id": "GooglePrivacyDlpV2beta1ValueFrequency",
      "description": "A value of a field, including its frequency.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A value contained in the field in question.",
          "$ref": "GooglePrivacyDlpV2beta1Value"
        },
        "count": {
          "description": "How many times the value is contained in the field.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2beta1Value": {
      "type": "object",
      "properties": {
        "timeValue": {
          "$ref": "GoogleTypeTimeOfDay"
        },
        "integerValue": {
          "format": "int64",
          "type": "string"
        },
        "stringValue": {
          "type": "string"
        },
        "dateValue": {
          "$ref": "GoogleTypeDate"
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "floatValue": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "GooglePrivacyDlpV2beta1Value",
      "description": "Set of primitive values supported by the system.\nNote that for the purposes of inspection or transformation, the number\nof bytes considered to comprise a 'Value' is based on its representation\nas a UTF-8 encoded string. For example, if 'integer_value' is set to\n123456789, the number of bytes would be counted as 9, even though an\nint64 only holds up to 8 bytes of data."
    },
    "GooglePrivacyDlpV2BoundingBox": {
      "description": "Bounding box encompassing detected text within an image.",
      "type": "object",
      "properties": {
        "top": {
          "description": "Top coordinate of the bounding box. (0,0) is upper left.",
          "format": "int32",
          "type": "integer"
        },
        "left": {
          "description": "Left coordinate of the bounding box. (0,0) is upper left.",
          "format": "int32",
          "type": "integer"
        },
        "width": {
          "description": "Width of the bounding box in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "description": "Height of the bounding box in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2BoundingBox"
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "type": "object",
      "properties": {
        "reverseOrder": {
          "description": "Mask characters in reverse order. For example, if `masking_character` is\n'0', number_to_mask is 14, and `reverse_order` is false, then\n1234-5678-9012-3456 -\u003e 00000000000000-3456\nIf `masking_character` is '*', `number_to_mask` is 3, and `reverse_order`\nis true, then 12345 -\u003e 12***",
          "type": "boolean"
        },
        "numberToMask": {
          "description": "Number of characters to mask. If not set, all matching chars will be\nmasked. Skipped characters do not count towards this tally.",
          "format": "int32",
          "type": "integer"
        },
        "charactersToIgnore": {
          "description": "When masking a string, items in this list will be skipped when replacing.\nFor example, if your string is 555-555-5555 and you ask us to skip `-` and\nmask 5 chars with * we would produce ***-*55-5555.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          }
        },
        "maskingCharacter": {
          "description": "Character to mask the sensitive values&mdash;for example, \"*\" for an\nalphabetic string such as name, or \"0\" for a numeric string such as ZIP\ncode or credit card number. String must have length 1. If not supplied, we\nwill default to \"*\" for strings, 0 for digits.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CharacterMaskConfig",
      "description": "Partially mask a string by replacing a given number of characters with a\nfixed character. Masking can start from the beginning or end of the string.\nThis can be used on data of any type (numbers, longs, and so on) and when\nde-identifying structured data we'll attempt to preserve the original data's\ntype. (This allows you to take a long like 123 and modify it to a string like\n**3."
    },
    "GooglePrivacyDlpV2RecordKey": {
      "description": "Message for a unique key indicating a record that contains a finding.",
      "type": "object",
      "properties": {
        "datastoreKey": {
          "$ref": "GooglePrivacyDlpV2DatastoreKey"
        },
        "bigQueryKey": {
          "$ref": "GooglePrivacyDlpV2BigQueryKey"
        }
      },
      "id": "GooglePrivacyDlpV2RecordKey"
    },
    "GooglePrivacyDlpV2beta1PartitionId": {
      "description": "Datastore partition ID.\nA partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.\n\nA partition ID contains several dimensions:\nproject ID and namespace ID.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        },
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1PartitionId"
    },
    "GooglePrivacyDlpV2SummaryResult": {
      "description": "A collection that informs the user the number of times a particular\n`TransformationResultCode` and error details occurred.",
      "type": "object",
      "properties": {
        "details": {
          "description": "A place for warnings or errors to show up if a transformation didn't\nwork as expected.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string"
        },
        "code": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TRANSFORMATION_RESULT_CODE_UNSPECIFIED",
            "SUCCESS",
            "ERROR"
          ],
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2SummaryResult"
    },
    "GooglePrivacyDlpV2ReidentifyContentRequest": {
      "description": "Request to re-identify an item.",
      "type": "object",
      "properties": {
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector."
        },
        "inspectTemplateName": {
          "description": "Optional template to use. Any configuration directly specified in\n`inspect_config` will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        },
        "reidentifyConfig": {
          "description": "Configuration for the re-identification of the content item.\nThis field shares the same proto message type that is used for\nde-identification, however its usage here is for the reversal of the\nprevious de-identification. Re-identification is performed by examining\nthe transformations used to de-identify the items and executing the\nreverse. This requires that only reversible transformations\nbe provided here. The reversible transformations are:\n\n - `CryptoReplaceFfxFpeConfig`",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "item": {
          "description": "The item to re-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "reidentifyTemplateName": {
          "description": "Optional template to use. References an instance of `DeidentifyTemplate`.\nAny configuration directly specified in `reidentify_config` or\n`inspect_config` will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ReidentifyContentRequest"
    },
    "GooglePrivacyDlpV2beta1WordList": {
      "type": "object",
      "properties": {
        "words": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Words or phrases defining the dictionary. The dictionary must contain\nat least one phrase and every phrase must contain at least 2 characters\nthat are letters or digits. [required]"
        }
      },
      "id": "GooglePrivacyDlpV2beta1WordList",
      "description": "Message defining a list of words or phrases to search for in the data."
    },
    "GooglePrivacyDlpV2Key": {
      "type": "object",
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project\nID and namespace ID.\nQueries are scoped to a single partition.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        },
        "path": {
          "description": "The entity path.\nAn entity path consists of one or more elements composed of a kind and a\nstring or numerical identifier, which identify entities. The first\nelement identifies a _root entity_, the second element identifies\na _child_ of the root entity, the third element identifies a child of the\nsecond entity, and so forth. The entities identified by all prefixes of\nthe path are called the element's _ancestors_.\n\nA path can never be empty, and a path can have at most 100 elements.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2PathElement"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Key",
      "description": "A unique identifier for a Datastore entity.\nIf a key's partition ID or any of its path kinds or names are\nreserved/read-only, the key is reserved/read-only.\nA reserved/read-only key is forbidden in certain documented contexts."
    },
    "GooglePrivacyDlpV2beta1FieldId": {
      "type": "object",
      "properties": {
        "columnName": {
          "description": "Name describing the field.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1FieldId",
      "description": "General identifier of a data field in a storage service."
    },
    "GooglePrivacyDlpV2TableLocation": {
      "description": "Location of a finding within a table.",
      "type": "object",
      "properties": {
        "rowIndex": {
          "description": "The zero-based index of the row where the finding is located.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TableLocation"
    },
    "GooglePrivacyDlpV2Conditions": {
      "description": "A collection of conditions.",
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Conditions"
    },
    "GooglePrivacyDlpV2ListInspectTemplatesResponse": {
      "properties": {
        "inspectTemplates": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectTemplate"
          },
          "description": "List of inspectTemplates, up to page_size in ListInspectTemplatesRequest."
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used\nin following ListInspectTemplates request.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ListInspectTemplatesResponse",
      "description": "Response message for ListInspectTemplates.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "description": "Rule for modifying a custom info type to alter behavior under certain\ncircumstances, depending on the specific details of the rule. Not supported\nfor the `surrogate_type` custom info type.",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "$ref": "GooglePrivacyDlpV2HotwordRule",
          "description": "Hotword-based detection rule."
        }
      },
      "id": "GooglePrivacyDlpV2DetectionRule"
    },
    "GooglePrivacyDlpV2SaveFindings": {
      "properties": {
        "outputConfig": {
          "$ref": "GooglePrivacyDlpV2OutputStorageConfig"
        }
      },
      "id": "GooglePrivacyDlpV2SaveFindings",
      "description": "If set, the detailed findings will be persisted to the specified\nOutputStorageConfig. Compatible with: Inspect",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InfoTypeStatistics": {
      "description": "Statistics regarding a specific InfoType.",
      "type": "object",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2beta1InfoType",
          "description": "The type of finding this stat is for."
        },
        "count": {
          "description": "Number of findings for this info type.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1InfoTypeStatistics"
    },
    "GooglePrivacyDlpV2beta1PropertyReference": {
      "description": "A reference to a property relative to the Datastore kind expressions.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the property.\nIf name includes \".\"s, it may be interpreted as a property name path.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1PropertyReference"
    },
    "GooglePrivacyDlpV2UnwrappedCryptoKey": {
      "description": "Using raw keys is prone to security risks due to accidentally\nleaking the key. Choose another type of key if possible.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The AES 128/192/256 bit key. [required]",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2UnwrappedCryptoKey"
    },
    "GooglePrivacyDlpV2beta1OutputStorageConfig": {
      "description": "Cloud repository for storing output.",
      "type": "object",
      "properties": {
        "table": {
          "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
          "description": "Store findings in a new table in the dataset."
        },
        "storagePath": {
          "$ref": "GooglePrivacyDlpV2beta1CloudStoragePath",
          "description": "The path to a Google Cloud Storage location to store output.\nThe bucket must already exist and\nthe Google APIs service account for DLP must have write permission to\nwrite to the given bucket.\nResults are split over multiple csv files with each file name matching\nthe pattern \"[operation_id]_[count].csv\", for example\n`3094877188788974909_1.csv`. The `operation_id` matches the\nidentifier for the Operation, and the `count` is a counter used for\ntracking the number of files written.\n\nThe CSV file(s) contain the following columns regardless of storage type\nscanned:\n- id\n- info_type\n- likelihood\n- byte size of finding\n- quote\n- timestamp\n\nFor Cloud Storage the next columns are:\n\n- file_path\n- start_offset\n\nFor Cloud Datastore the next columns are:\n\n- project_id\n- namespace_id\n- path\n- column_name\n- offset\n\nFor BigQuery the next columns are:\n\n- row_number\n- project_id\n- dataset_id\n- table_id"
        }
      },
      "id": "GooglePrivacyDlpV2beta1OutputStorageConfig"
    },
    "GooglePrivacyDlpV2Table": {
      "id": "GooglePrivacyDlpV2Table",
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed.",
      "type": "object",
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Row"
          }
        }
      }
    },
    "GooglePrivacyDlpV2CryptoHashConfig": {
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing.\nUses SHA-256.\nThe key size must be either 32 or 64 bytes.\nOutputs a 32 byte digest as an uppercase hex string\n(for example, 41D1567F7F99F1DC2A5FAB886DEE5BEE).\nCurrently, only string and integer values can be hashed.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "The key used by the hash function."
        }
      },
      "id": "GooglePrivacyDlpV2CryptoHashConfig"
    },
    "GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass": {
      "properties": {
        "quasiIdsValues": {
          "description": "Set of values defining the equivalence class. One value per\nquasi-identifier column in the original KAnonymity metric message.\nThe order is always the same as the original request.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Value"
          }
        },
        "equivalenceClassSize": {
          "description": "Size of the equivalence class, for example number of rows with the\nabove set of values.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass",
      "description": "The set of columns' values that share the same k-anonymity value.",
      "type": "object"
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "type": "object",
      "properties": {
        "dateTime": {
          "$ref": "GooglePrivacyDlpV2DateTime"
        }
      },
      "id": "GooglePrivacyDlpV2QuoteInfo",
      "description": "Message for infoType-dependent details parsed from quote."
    },
    "GooglePrivacyDlpV2beta1InfoType": {
      "properties": {
        "name": {
          "description": "Name of the information type.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1InfoType",
      "description": "Type of information detected by the API.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1RiskAnalysisOperationResult": {
      "description": "Result of a risk analysis\n[`Operation`](/dlp/docs/reference/rest/v2beta1/inspect.operations)\nrequest.",
      "type": "object",
      "properties": {
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2beta1NumericalStatsResult"
        },
        "kMapEstimationResult": {
          "$ref": "GooglePrivacyDlpV2beta1KMapEstimationResult"
        },
        "kAnonymityResult": {
          "$ref": "GooglePrivacyDlpV2beta1KAnonymityResult"
        },
        "lDiversityResult": {
          "$ref": "GooglePrivacyDlpV2beta1LDiversityResult"
        },
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2beta1CategoricalStatsResult"
        }
      },
      "id": "GooglePrivacyDlpV2beta1RiskAnalysisOperationResult"
    },
    "GooglePrivacyDlpV2KmsWrappedCryptoKey": {
      "description": "Include to use an existing data crypto key wrapped by KMS.\nAuthorization requires the following IAM permissions when sending a request\nto perform a crypto transformation using a kms-wrapped crypto key:\ndlp.kms.encrypt",
      "type": "object",
      "properties": {
        "wrappedKey": {
          "description": "The wrapped data crypto key. [required]",
          "format": "byte",
          "type": "string"
        },
        "cryptoKeyName": {
          "description": "The resource name of the KMS CryptoKey to use for unwrapping. [required]",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
    },
    "GooglePrivacyDlpV2ListInfoTypesResponse": {
      "id": "GooglePrivacyDlpV2ListInfoTypesResponse",
      "description": "Response to the ListInfoTypes request.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeDescription"
          },
          "description": "Set of sensitive infoTypes."
        }
      }
    },
    "GooglePrivacyDlpV2beta1CategoricalStatsConfig": {
      "description": "Compute numerical stats over an individual column, including\nnumber of distinct values and value count distribution.",
      "type": "object",
      "properties": {
        "field": {
          "description": "Field to compute categorical stats on. All column types are\nsupported except for arrays and structs. However, it may be more\ninformative to use NumericalStats when the field type is supported,\ndepending on the data.",
          "$ref": "GooglePrivacyDlpV2beta1FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2beta1CategoricalStatsConfig"
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "type": "object",
      "properties": {
        "bucketSize": {
          "description": "Total number of values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "valueFrequencyUpperBound": {
          "description": "Upper bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "valueFrequencyLowerBound": {
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of value frequencies in this bucket. The total number of\nvalues returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        }
      },
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket"
    },
    "GooglePrivacyDlpV2beta1RiskAnalysisOperationMetadata": {
      "id": "GooglePrivacyDlpV2beta1RiskAnalysisOperationMetadata",
      "description": "Metadata returned within the\n[`riskAnalysis.operations.get`](/dlp/docs/reference/rest/v2beta1/riskAnalysis.operations/get)\nfor risk analysis.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time which this request was started.",
          "format": "google-datetime"
        },
        "requestedSourceTable": {
          "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
          "description": "Input dataset to compute metrics over."
        },
        "requestedPrivacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2beta1PrivacyMetric"
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyTemplate": {
      "description": "The DeidentifyTemplates contains instructions on how to deidentify content.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "The creation timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "The last update timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The template name. Output only.\n\nThe template will have one of the following formats:\n`projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR\n`organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`",
          "type": "string"
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "description": {
          "description": "Short description (max 256 chars).",
          "type": "string"
        },
        "deidentifyConfig": {
          "description": "///////////// // The core content of the template  // ///////////////",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyTemplate"
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "type": "object",
      "properties": {
        "imageRedactionConfigs": {
          "description": "The configuration for specifying what content to redact from images.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          }
        },
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "The content must be PNG, JPEG, SVG or BMP."
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        }
      },
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "description": "Request to search for potentially sensitive info in a list of items\nand replace it with a default or provided content."
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "description": "The transformation to apply to the field.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "Only apply the transformation if the condition evaluates to true for the\ngiven `RecordCondition`. The conditions are allowed to reference fields\nthat are not used in the actual transformation. [optional]\n\nExample Use Cases:\n\n- Apply a different bucket transformation to an age column if the zip code\ncolumn for the same record is within a specific range.\n- Redact a field if the date of birth field is greater than 85.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        },
        "infoTypeTransformations": {
          "description": "Treat the contents of the field as free text, and selectively\ntransform content that matches an `InfoType`.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "description": "Input field(s) to apply the transformation to. [required]"
        },
        "primitiveTransformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "Apply the transformation to the entire field."
        }
      },
      "id": "GooglePrivacyDlpV2FieldTransformation"
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "description": "Result of a risk analysis operation request.",
      "type": "object",
      "properties": {
        "kMapEstimationResult": {
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult"
        },
        "lDiversityResult": {
          "$ref": "GooglePrivacyDlpV2LDiversityResult"
        },
        "requestedSourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult"
        },
        "requestedPrivacyMetric": {
          "$ref": "GooglePrivacyDlpV2PrivacyMetric",
          "description": "Privacy metric to compute."
        },
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult"
        },
        "kAnonymityResult": {
          "$ref": "GooglePrivacyDlpV2KAnonymityResult"
        }
      },
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails"
    },
    "GooglePrivacyDlpV2Proximity": {
      "description": "Message for specifying a window around a finding to apply a detection\nrule.",
      "type": "object",
      "properties": {
        "windowBefore": {
          "description": "Number of characters before the finding to consider.",
          "format": "int32",
          "type": "integer"
        },
        "windowAfter": {
          "description": "Number of characters after the finding to consider.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2Proximity"
    },
    "GooglePrivacyDlpV2Condition": {
      "description": "The field type of `value` and `field` do not need to match to be\nconsidered equal, but not all comparisons are possible.\n\nA `value` of type:\n\n- `string` can be compared against all other types\n- `boolean` can only be compared against other booleans\n- `integer` can be compared against doubles or a string if the string value\ncan be parsed as an integer.\n- `double` can be compared against integers or a string if the string can\nbe parsed as a double.\n- `Timestamp` can be compared against strings in RFC 3339 date string\nformat.\n- `TimeOfDay` can be compared against timestamps and strings in the format\nof 'HH:mm:ss'.\n\nIf we fail to compare do to type mismatch, a warning will be given and\nthe condition will evaluate to false.",
      "type": "object",
      "properties": {
        "operator": {
          "enumDescriptions": [
            "",
            "Equal.",
            "Not equal to.",
            "Greater than.",
            "Less than.",
            "Greater than or equals.",
            "Less than or equals.",
            "Exists"
          ],
          "enum": [
            "RELATIONAL_OPERATOR_UNSPECIFIED",
            "EQUAL_TO",
            "NOT_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUALS",
            "LESS_THAN_OR_EQUALS",
            "EXISTS"
          ],
          "description": "Operator used to compare the field or infoType to the value. [required]",
          "type": "string"
        },
        "value": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Value to compare against. [Required, except for `EXISTS` tests.]"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Field within the record this condition is evaluated against. [required]"
        }
      },
      "id": "GooglePrivacyDlpV2Condition"
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "description": "Message for specifying an adjustment to the likelihood of a finding as\npart of a detection rule.",
      "type": "object",
      "properties": {
        "relativeLikelihood": {
          "description": "Increase or decrease the likelihood by the specified number of\nlevels. For example, if a finding would be `POSSIBLE` without the\ndetection rule and `relative_likelihood` is 1, then it is upgraded to\n`LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`.\nLikelihood may never drop below `VERY_UNLIKELY` or exceed\n`VERY_LIKELY`, so applying an adjustment of 1 followed by an\nadjustment of -1 when base likelihood is `VERY_LIKELY` will result in\na final likelihood of `LIKELY`.",
          "format": "int32",
          "type": "integer"
        },
        "fixedLikelihood": {
          "enumDescriptions": [
            "Default value; information with all likelihoods is included.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Set the likelihood of a finding to a fixed value.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment"
    },
    "GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket": {
      "id": "GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket",
      "description": "A KMapEstimationHistogramBucket message with the following values:\n  min_anonymity: 3\n  max_anonymity: 5\n  frequency: 42\nmeans that there are 42 records whose quasi-identifier values correspond\nto 3, 4 or 5 people in the overlying population. An important particular\ncase is when min_anonymity = max_anonymity = 1: the frequency field then\ncorresponds to the number of uniquely identifiable records.",
      "type": "object",
      "properties": {
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total\nnumber of classes returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues"
          }
        },
        "minAnonymity": {
          "description": "Always positive.",
          "format": "int64",
          "type": "string"
        },
        "maxAnonymity": {
          "description": "Always greater than or equal to min_anonymity.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "description": "Number of records within these anonymity bounds.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2beta1CloudStorageOptions": {
      "description": "Options defining a file or a set of files (path ending with *) within\na Google Cloud Storage bucket.",
      "type": "object",
      "properties": {
        "fileSet": {
          "$ref": "GooglePrivacyDlpV2beta1FileSet"
        }
      },
      "id": "GooglePrivacyDlpV2beta1CloudStorageOptions"
    },
    "GooglePrivacyDlpV2beta1CloudStoragePath": {
      "description": "A location in Cloud Storage.",
      "type": "object",
      "properties": {
        "path": {
          "description": "The url, in the format of `gs://bucket/\u003cpath\u003e`.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1CloudStoragePath"
    },
    "GooglePrivacyDlpV2Action": {
      "properties": {
        "saveFindings": {
          "description": "Save resulting findings in a provided location.",
          "$ref": "GooglePrivacyDlpV2SaveFindings"
        },
        "pubSub": {
          "$ref": "GooglePrivacyDlpV2PublishToPubSub",
          "description": "Publish a notification to a pubsub topic."
        }
      },
      "id": "GooglePrivacyDlpV2Action",
      "description": "A task to execute on the completion of a job.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KAnonymityHistogramBucket": {
      "type": "object",
      "properties": {
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass"
          }
        },
        "equivalenceClassSizeLowerBound": {
          "description": "Lower bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "equivalenceClassSizeUpperBound": {
          "description": "Upper bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "description": "Total number of records in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1KAnonymityHistogramBucket",
      "description": "Histogram bucket of equivalence class sizes in the table."
    },
    "GooglePrivacyDlpV2beta1InspectOperationResult": {
      "description": "The operational data.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `inspect/results/{id}`.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1InspectOperationResult"
    },
    "GooglePrivacyDlpV2InfoTypeTransformations": {
      "id": "GooglePrivacyDlpV2InfoTypeTransformations",
      "description": "A type of transformation that will scan unstructured text and\napply various `PrimitiveTransformation`s to each finding, where the\ntransformation is applied to only values that were identified as a specific\ninfo_type.",
      "type": "object",
      "properties": {
        "transformations": {
          "description": "Transformation for each infoType. Cannot specify more than one\nfor a given infoType. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeTransformation"
          }
        }
      }
    },
    "GooglePrivacyDlpV2BigQueryOptions": {
      "id": "GooglePrivacyDlpV2BigQueryOptions",
      "description": "Options defining BigQuery table and row identifiers.",
      "type": "object",
      "properties": {
        "identifyingFields": {
          "description": "References to fields uniquely identifying rows within the table.\nNested fields in the format, like `person.birthdate.year`, are allowed.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      }
    },
    "GooglePrivacyDlpV2beta1LDiversityConfig": {
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "type": "object",
      "properties": {
        "quasiIds": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1FieldId"
          },
          "description": "Set of quasi-identifiers indicating how equivalence classes are\ndefined for the l-diversity computation. When multiple fields are\nspecified, they are considered a single composite key."
        },
        "sensitiveAttribute": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId",
          "description": "Sensitive field for computing the l-value."
        }
      },
      "id": "GooglePrivacyDlpV2beta1LDiversityConfig"
    },
    "GooglePrivacyDlpV2InfoTypeLimit": {
      "description": "Max findings configuration per infoType, per content item or long\nrunning DlpJob.",
      "type": "object",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Type of information the findings limit applies to. Only one limit per\ninfo_type should be provided. If InfoTypeLimit does not have an\ninfo_type, the DLP API applies the limit against all info_types that\nare found but not specified in another InfoTypeLimit."
        },
        "maxFindings": {
          "description": "Max findings limit for the given infoType.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeLimit"
    },
    "GooglePrivacyDlpV2InspectTemplate": {
      "type": "object",
      "properties": {
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "The core content of the template. Configuration of the scanning process."
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "description": {
          "description": "Short description (max 256 chars).",
          "type": "string"
        },
        "createTime": {
          "description": "The creation timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "The last update timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The template name. Output only.\n\nThe template will have one of the following formats:\n`projects/PROJECT_ID/inspectTemplates/TEMPLATE_ID` OR\n`organizations/ORGANIZATION_ID/inspectTemplates/TEMPLATE_ID`",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2InspectTemplate",
      "description": "The inspectTemplate contains a configuration (set of types of sensitive data\nto be detected) to be used anywhere you otherwise would normally specify\nInspectConfig."
    },
    "GooglePrivacyDlpV2CustomInfoType": {
      "description": "Custom information type provided by the user. Used to find domain-specific\nsensitive information configurable to the data in question.",
      "type": "object",
      "properties": {
        "surrogateType": {
          "description": "Surrogate info type.",
          "$ref": "GooglePrivacyDlpV2SurrogateType"
        },
        "likelihood": {
          "description": "Likelihood to return for this custom info type. This base value can be\naltered by a detection rule if the finding meets the criteria specified by\nthe rule. Defaults to `VERY_LIKELY` if not specified.",
          "type": "string",
          "enumDescriptions": [
            "Default value; information with all likelihoods is included.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "detectionRules": {
          "description": "Set of detection rules to apply to all findings of this custom info type.\nRules are applied in order that they are specified. Not supported for the\n`surrogate_type` custom info type.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DetectionRule"
          }
        },
        "infoType": {
          "description": "Info type configuration. All custom info types must have configurations\nthat do not conflict with built-in info types or other custom info types.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "dictionary": {
          "description": "Dictionary-based custom info type.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "regex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regex-based custom info type."
        }
      },
      "id": "GooglePrivacyDlpV2CustomInfoType"
    },
    "GooglePrivacyDlpV2NumericalStatsResult": {
      "id": "GooglePrivacyDlpV2NumericalStatsResult",
      "description": "Result of the numerical stats computation.",
      "type": "object",
      "properties": {
        "minValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Minimum value appearing in the column."
        },
        "maxValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Maximum value appearing in the column."
        },
        "quantileValues": {
          "description": "List of 99 values that partition the set of field values into 100 equal\nsized buckets.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      }
    },
    "GooglePrivacyDlpV2Trigger": {
      "id": "GooglePrivacyDlpV2Trigger",
      "description": "What event needs to occur for a new job to be started.",
      "type": "object",
      "properties": {
        "schedule": {
          "$ref": "GooglePrivacyDlpV2Schedule",
          "description": "Create a job on a repeating basis based on the elapse of time."
        }
      }
    },
    "GooglePrivacyDlpV2PartitionId": {
      "properties": {
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        },
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2PartitionId",
      "description": "Datastore partition ID.\nA partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.\n\nA partition ID contains several dimensions:\nproject ID and namespace ID.",
      "type": "object"
    },
    "GooglePrivacyDlpV2BucketingConfig": {
      "properties": {
        "buckets": {
          "description": "Set of buckets. Ranges must be non-overlapping.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Bucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2BucketingConfig",
      "description": "Generalization function that buckets values based on ranges. The ranges and\nreplacement values are dynamically provided by the user for custom behavior,\nsuch as 1-30 -\u003e LOW 31-65 -\u003e MEDIUM 66-100 -\u003e HIGH\nThis can be used on\ndata of type: number, long, string, timestamp.\nIf the bound `Value` type differs from the type of data being transformed, we\nwill first attempt converting the type of the data to be transformed to match\nthe type of the bound before comparing.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1NumericalStatsConfig": {
      "properties": {
        "field": {
          "description": "Field to compute numerical stats on. Supported types are\ninteger, float, date, datetime, timestamp, time.",
          "$ref": "GooglePrivacyDlpV2beta1FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2beta1NumericalStatsConfig",
      "description": "Compute numerical stats over an individual column, including\nmin, max, and quantiles.",
      "type": "object"
    },
    "GooglePrivacyDlpV2TransientCryptoKey": {
      "description": "Use this to have a random data crypto key generated.\nIt will be discarded after the request finishes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the key. [required]\nThis is an arbitrary string used to differentiate different keys.\nA unique key is generated per name: two separate `TransientCryptoKey`\nprotos share the same generated key if their names are the same.\nWhen the data crypto key is generated, this name is not used in any way\n(repeating the api call will result in a different key being generated).",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TransientCryptoKey"
    },
    "GooglePrivacyDlpV2ByteContentItem": {
      "description": "Container for bytes to inspect or redact.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "BYTES_TYPE_UNSPECIFIED",
            "IMAGE_JPEG",
            "IMAGE_BMP",
            "IMAGE_PNG",
            "IMAGE_SVG",
            "TEXT_UTF8"
          ],
          "description": "The type of data stored in the bytes string. Default will be TEXT_UTF8."
        },
        "data": {
          "description": "Content data to inspect or redact.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ByteContentItem"
    },
    "GooglePrivacyDlpV2PrivacyMetric": {
      "description": "Privacy metric to compute for reidentification risk analysis.",
      "type": "object",
      "properties": {
        "numericalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2NumericalStatsConfig"
        },
        "kAnonymityConfig": {
          "$ref": "GooglePrivacyDlpV2KAnonymityConfig"
        },
        "categoricalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsConfig"
        },
        "kMapEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2KMapEstimationConfig"
        },
        "lDiversityConfig": {
          "$ref": "GooglePrivacyDlpV2LDiversityConfig"
        }
      },
      "id": "GooglePrivacyDlpV2PrivacyMetric"
    },
    "GooglePrivacyDlpV2WordList": {
      "description": "Message defining a list of words or phrases to search for in the data.",
      "type": "object",
      "properties": {
        "words": {
          "description": "Words or phrases defining the dictionary. The dictionary must contain\nat least one phrase and every phrase must contain at least 2 characters\nthat are letters or digits. [required]",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GooglePrivacyDlpV2WordList"
    },
    "GooglePrivacyDlpV2beta1DatastoreOptions": {
      "id": "GooglePrivacyDlpV2beta1DatastoreOptions",
      "description": "Options defining a data set within Google Cloud Datastore.",
      "type": "object",
      "properties": {
        "partitionId": {
          "$ref": "GooglePrivacyDlpV2beta1PartitionId",
          "description": "A partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty."
        },
        "kind": {
          "description": "The kind to process.",
          "$ref": "GooglePrivacyDlpV2beta1KindExpression"
        },
        "projection": {
          "description": "Properties to scan. If none are specified, all properties will be scanned\nby default.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Projection"
          }
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationResult": {
      "description": "Result of the reidentifiability analysis. Note that these results are an\nestimation, not exact values.",
      "type": "object",
      "properties": {
        "kMapEstimationHistogram": {
          "description": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value\ndoesn't correspond to any such interval, the associated frequency is\nzero. For example, the following records:\n  {min_anonymity: 1, max_anonymity: 1, frequency: 17}\n  {min_anonymity: 2, max_anonymity: 3, frequency: 42}\n  {min_anonymity: 5, max_anonymity: 10, frequency: 99}\nmean that there are no record with an estimated anonymity of 4, 5, or\nlarger than 10.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationResult"
    },
    "GooglePrivacyDlpV2KAnonymityHistogramBucket": {
      "id": "GooglePrivacyDlpV2KAnonymityHistogramBucket",
      "type": "object",
      "properties": {
        "equivalenceClassSizeLowerBound": {
          "description": "Lower bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "equivalenceClassSizeUpperBound": {
          "description": "Upper bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "description": "Total number of equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityEquivalenceClass"
          }
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationConfig": {
      "properties": {
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag\nused to tag a quasi-identifiers column must appear in exactly one column\nof one auxiliary table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2AuxiliaryTable"
          }
        },
        "quasiIds": {
          "description": "Fields considered to be quasi-identifiers. No two columns can have the\nsame tag. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TaggedField"
          }
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling.\nRequired if no column is tagged with a region-specific InfoType (like\nUS_ZIP_5) or a region code.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationConfig",
      "description": "Reidentifiability metric. This corresponds to a risk model similar to what\nis called \"journalist risk\" in the literature, except the attack dataset is\nstatistically modeled instead of being perfectly known. This can be done\nusing publicly available data (like the US Census), or using a custom\nstatistical model (indicated as one or several BigQuery tables), or by\nextrapolating from the distribution of values in the input dataset.",
      "type": "object"
    },
    "GooglePrivacyDlpV2JobTrigger": {
      "properties": {
        "inspectJob": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Trigger is healthy.",
            "Trigger is temporarily paused.",
            "Trigger is cancelled and can not be resumed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "HEALTHY",
            "PAUSED",
            "CANCELLED"
          ],
          "description": "A status for this trigger. [required]"
        },
        "updateTime": {
          "description": "The last update timestamp of a triggeredJob, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Unique resource name for the triggeredJob, assigned by the service when the\ntriggeredJob is created, for example\n`projects/dlp-test-project/triggeredJobs/53234423`.",
          "type": "string"
        },
        "triggers": {
          "description": "A list of triggers which will be OR'ed together. Only one in the list\nneeds to trigger for a job to be started. The list may contain only\na single Schedule trigger and must have at least one object.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Trigger"
          }
        },
        "lastRunTime": {
          "description": "The timestamp of the last time this trigger executed, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "errors": {
          "description": "A stream of errors encountered when the trigger was activated. Repeated\nerrors may result in the JobTrigger automaticaly being paused.\nWill return the last 100 errors. Whenever the JobTrigger is modified\nthis list will be cleared. Output only field.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "displayName": {
          "description": "Display name (max 100 chars)",
          "type": "string"
        },
        "description": {
          "description": "User provided description (max 256 chars)",
          "type": "string"
        },
        "createTime": {
          "description": "The creation timestamp of a triggeredJob, output only field.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2JobTrigger",
      "description": "Contains a configuration to make dlp api calls on a repeating basis.",
      "type": "object"
    },
    "GooglePrivacyDlpV2PathElement": {
      "id": "GooglePrivacyDlpV2PathElement",
      "description": "A (kind, ID/name) pair used to construct a key path.\n\nIf either name or ID is set, the element is complete.\nIf neither is set, the element is incomplete.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the entity.\nA name matching regex `__.*__` is reserved/read-only.\nA name must not be more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of the entity.\nA kind matching regex `__.*__` is reserved/read-only.\nA kind must not contain more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
          "type": "string"
        },
        "id": {
          "description": "The auto-allocated ID of the entity.\nNever equal to zero. Values less than zero are discouraged and may not\nbe supported in the future.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2ListJobTriggersResponse": {
      "properties": {
        "jobTriggers": {
          "description": "List of triggeredJobs, up to page_size in ListJobTriggersRequest.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2JobTrigger"
          }
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used\nin following ListJobTriggers request.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ListJobTriggersResponse",
      "description": "Response message for ListJobTriggers.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Finding": {
      "properties": {
        "infoType": {
          "description": "The type of content that might have been found.\nProvided if requested by the `InspectConfig`.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "createTime": {
          "description": "Timestamp when finding was detected.",
          "format": "google-datetime",
          "type": "string"
        },
        "likelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Estimate of how likely it is that the `info_type` is correct.",
          "type": "string",
          "enumDescriptions": [
            "Default value; information with all likelihoods is included.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ]
        },
        "location": {
          "$ref": "GooglePrivacyDlpV2Location",
          "description": "Where the content was found."
        },
        "quoteInfo": {
          "$ref": "GooglePrivacyDlpV2QuoteInfo",
          "description": "Contains data parsed from quotes. Only populated if include_quote was set\nto true and a supported infoType was requested. Currently supported\ninfoTypes: DATE, DATE_OF_BIRTH and TIME."
        },
        "quote": {
          "type": "string",
          "description": "The content that was found. Even if the content is not textual, it\nmay be converted to a textual representation here.\nProvided if requested by the `InspectConfig` and the finding is\nless than or equal to 4096 bytes long. If the finding exceeds 4096 bytes\nin length, the quote may be omitted."
        }
      },
      "id": "GooglePrivacyDlpV2Finding",
      "description": "Represents a piece of potentially sensitive content.",
      "type": "object"
    },
    "GooglePrivacyDlpV2RecordLocation": {
      "description": "Location of a finding within a row or record.",
      "type": "object",
      "properties": {
        "tableLocation": {
          "description": "Location within a `ContentItem.Table`.",
          "$ref": "GooglePrivacyDlpV2TableLocation"
        },
        "recordKey": {
          "description": "Key of the finding.",
          "$ref": "GooglePrivacyDlpV2RecordKey"
        },
        "fieldId": {
          "description": "Field id of the field containing the finding.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2RecordLocation"
    },
    "GoogleTypeDate": {
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
          "format": "int32"
        },
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of year. Must be from 1 to 12.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DatastoreOptions": {
      "description": "Options defining a data set within Google Cloud Datastore.",
      "type": "object",
      "properties": {
        "kind": {
          "$ref": "GooglePrivacyDlpV2KindExpression",
          "description": "The kind to process."
        },
        "partitionId": {
          "description": "A partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        }
      },
      "id": "GooglePrivacyDlpV2DatastoreOptions"
    },
    "GooglePrivacyDlpV2AuxiliaryTable": {
      "description": "An auxiliary table contains statistical information on the relative\nfrequency of different quasi-identifiers values. It has one or several\nquasi-identifiers columns, and one column that indicates the relative\nfrequency of each quasi-identifier tuple.\nIf a tuple is present in the data but not in the auxiliary table, the\ncorresponding relative frequency is assumed to be zero (and thus, the\ntuple is highly reidentifiable).",
      "type": "object",
      "properties": {
        "table": {
          "description": "Auxiliary table location. [required]",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "quasiIds": {
          "description": "Quasi-identifier columns. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiIdField"
          }
        },
        "relativeFrequency": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "The relative frequency column must contain a floating-point number\nbetween 0 and 1 (inclusive). Null values are assumed to be zero.\n[required]"
        }
      },
      "id": "GooglePrivacyDlpV2AuxiliaryTable"
    },
    "GooglePrivacyDlpV2beta1EntityId": {
      "description": "An entity in a dataset is a field or set of fields that correspond to a\nsingle person. For example, in medical records the `EntityId` might be\na patient identifier, or for financial records it might be an account\nidentifier. This message is used when generalizations or analysis must be\nconsistent across multiple rows pertaining to the same entity.",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId",
          "description": "Composite key indicating which field contains the entity identifier."
        }
      },
      "id": "GooglePrivacyDlpV2beta1EntityId"
    },
    "GooglePrivacyDlpV2KMapEstimationHistogramBucket": {
      "description": "A KMapEstimationHistogramBucket message with the following values:\n  min_anonymity: 3\n  max_anonymity: 5\n  frequency: 42\nmeans that there are 42 records whose quasi-identifier values correspond\nto 3, 4 or 5 people in the overlying population. An important particular\ncase is when min_anonymity = max_anonymity = 1: the frequency field then\ncorresponds to the number of uniquely identifiable records.",
      "type": "object",
      "properties": {
        "bucketSize": {
          "description": "Number of records within these anonymity bounds.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct quasi-identifier tuple values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total\nnumber of classes returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
          }
        },
        "minAnonymity": {
          "description": "Always positive.",
          "format": "int64",
          "type": "string"
        },
        "maxAnonymity": {
          "description": "Always greater than or equal to min_anonymity.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
    },
    "GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues": {
      "type": "object",
      "properties": {
        "estimatedAnonymity": {
          "type": "string",
          "description": "The estimated anonymity for these quasi-identifier values.",
          "format": "int64"
        },
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Value"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues",
      "description": "A tuple of values for the quasi-identifier columns."
    },
    "GooglePrivacyDlpV2TransformationOverview": {
      "description": "Overview of the modifications that occurred.",
      "type": "object",
      "properties": {
        "transformationSummaries": {
          "description": "Transformations applied to the dataset.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationSummary"
          }
        },
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TransformationOverview"
    },
    "GooglePrivacyDlpV2InfoType": {
      "description": "Type of information detected by the API.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the information type."
        }
      },
      "id": "GooglePrivacyDlpV2InfoType"
    },
    "GooglePrivacyDlpV2TaggedField": {
      "type": "object",
      "properties": {
        "field": {
          "description": "Identifies the column. [required]",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must\nindicate an auxiliary table that contains statistical information on\nthe possible values of this column (below).",
          "type": "string"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "A column can be tagged with a InfoType to use the relevant public\ndataset as a statistical model of population, if available. We\ncurrently support US ZIP codes, region codes, ages and genders.\nTo programmatically obtain the list of supported InfoTypes, use\nListInfoTypes with the supported_by=RISK_ANALYSIS filter."
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from\nthe distribution of values in the input data"
        }
      },
      "id": "GooglePrivacyDlpV2TaggedField",
      "description": "A column with a semantic tag attached."
    },
    "GooglePrivacyDlpV2FieldId": {
      "description": "General identifier of a data field in a storage service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name describing the field.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2FieldId"
    },
    "GooglePrivacyDlpV2RiskAnalysisJobConfig": {
      "description": "Configuration for a risk analysis job.",
      "type": "object",
      "properties": {
        "sourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "privacyMetric": {
          "$ref": "GooglePrivacyDlpV2PrivacyMetric",
          "description": "Privacy metric to compute."
        },
        "actions": {
          "description": "Actions to execute at the completion of the job. Are executed in the order\nprovided.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          }
        }
      },
      "id": "GooglePrivacyDlpV2RiskAnalysisJobConfig"
    },
    "GooglePrivacyDlpV2beta1BigQueryTable": {
      "properties": {
        "tableId": {
          "description": "Name of the table.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "Dataset ID of the table."
        }
      },
      "id": "GooglePrivacyDlpV2beta1BigQueryTable",
      "description": "Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`\u003cproject_id\u003e:\u003cdataset_id\u003e.\u003ctable_id\u003e` or\n`\u003cproject_id\u003e.\u003cdataset_id\u003e.\u003ctable_id\u003e`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig": {
      "description": "Replace each matching finding with the name of the info_type.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig"
    },
    "GooglePrivacyDlpV2ReplaceValueConfig": {
      "description": "Replace each input value with a given `Value`.",
      "type": "object",
      "properties": {
        "newValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Value to replace it with."
        }
      },
      "id": "GooglePrivacyDlpV2ReplaceValueConfig"
    },
    "GooglePrivacyDlpV2beta1KindExpression": {
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1KindExpression",
      "description": "A representation of a Datastore kind.",
      "type": "object"
    },
    "GooglePrivacyDlpV2TimeZone": {
      "type": "object",
      "properties": {
        "offsetMinutes": {
          "description": "Set only if the offset can be determined. Positive for time ahead of UTC.\nE.g. For \"UTC-9\", this value is -540.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2TimeZone"
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "description": "This is a data encryption key (DEK) (as opposed to\na key encryption key (KEK) stored by KMS).\nWhen using KMS to wrap/unwrap DEKs, be sure to set an appropriate\nIAM policy on the KMS CryptoKey (KEK) to ensure an attacker cannot\nunwrap the data crypto key.",
      "type": "object",
      "properties": {
        "kmsWrapped": {
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
        },
        "unwrapped": {
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey"
        },
        "transient": {
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey"
        }
      },
      "id": "GooglePrivacyDlpV2CryptoKey"
    },
    "GooglePrivacyDlpV2TimespanConfig": {
      "description": "Configuration of the timespan of the items to include in scanning.\nCurrently only supported when inspecting Google Cloud Storage and BigQuery.",
      "type": "object",
      "properties": {
        "timestampField": {
          "description": "Specification of the field containing the timestamp of scanned items.\nRequired for data sources like Datastore or BigQuery.\nThe valid data types of the timestamp field are:\nfor BigQuery - timestamp, date, datetime;\nfor Datastore - timestamp.\nDatastore entity will be scanned if the timestamp property does not exist\nor its value is empty or invalid.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "endTime": {
          "type": "string",
          "description": "Exclude files newer than this value.\nIf set to zero, no upper time limit is applied.",
          "format": "google-datetime"
        },
        "enableAutoPopulationOfTimespanConfig": {
          "description": "When the job is started by a JobTrigger we will automatically figure out\na valid start_time to avoid scanning files that have not been modified\nsince the last time the JobTrigger executed. This will be based on the\ntime of the execution of the last run of the JobTrigger.",
          "type": "boolean"
        },
        "startTime": {
          "description": "Exclude files older than this value.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TimespanConfig"
    },
    "GooglePrivacyDlpV2InspectContentRequest": {
      "id": "GooglePrivacyDlpV2InspectContentRequest",
      "description": "Request to search for potentially sensitive info in a ContentItem.",
      "type": "object",
      "properties": {
        "inspectConfig": {
          "description": "Configuration for the inspector. What specified here will override\nthe template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "inspectTemplateName": {
          "description": "Optional template to use. Any configuration directly specified in\ninspect_config will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        },
        "item": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      }
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "properties": {
        "proximity": {
          "description": "Proximity of the finding within which the entire hotword must reside.\nThe total length of the window cannot exceed 1000 characters. Note that\nthe finding itself will be included in the window, so that hotwords may\nbe used to match substrings of the finding itself. For example, the\ncertainty of a phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" could be\nadjusted upwards if the area code is known to be the local area code of\na company office using the hotword regex \"\\(xxx\\)\", where \"xxx\"\nis the area code in question.",
          "$ref": "GooglePrivacyDlpV2Proximity"
        },
        "likelihoodAdjustment": {
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment",
          "description": "Likelihood adjustment to apply to all matching findings."
        },
        "hotwordRegex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regex pattern defining what qualifies as a hotword."
        }
      },
      "id": "GooglePrivacyDlpV2HotwordRule",
      "description": "Detection rule that adjusts the likelihood of findings within a certain\nproximity of hotwords.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Regex": {
      "properties": {
        "pattern": {
          "description": "Pattern defining the regular expression.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Regex",
      "description": "Message defining a custom regular expression.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeidentifyContentResponse": {
      "properties": {
        "overview": {
          "$ref": "GooglePrivacyDlpV2TransformationOverview",
          "description": "An overview of the changes that were made on the `item`."
        },
        "item": {
          "$ref": "GooglePrivacyDlpV2ContentItem",
          "description": "The de-identified item."
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyContentResponse",
      "description": "Results of de-identifying a ContentItem.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KAnonymityConfig": {
      "id": "GooglePrivacyDlpV2beta1KAnonymityConfig",
      "description": "k-anonymity metric, used for analysis of reidentification risk.",
      "type": "object",
      "properties": {
        "quasiIds": {
          "description": "Set of fields to compute k-anonymity over. When multiple fields are\nspecified, they are considered a single composite key. Structs and\nrepeated data types are not supported; however, nested fields are\nsupported so long as they are not structs themselves or nested within\na repeated field.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1FieldId"
          }
        },
        "entityId": {
          "$ref": "GooglePrivacyDlpV2beta1EntityId",
          "description": "Optional message indicating that each distinct entity_id should not\ncontribute to the k-anonymity count more than once per equivalence class.\nIf an entity_id appears on several rows with different quasi-identifier\ntuples, it will contribute to each count exactly once.\n\nThis can lead to unexpected results. Consider a table where ID 1 is\nassociated to quasi-identifier \"foo\", ID 2 to \"bar\", and ID 3 to *both*\nquasi-identifiers \"foo\" and \"bar\" (on separate rows), and where this ID\nis used as entity_id. Then, the anonymity value associated to ID 3 will\nbe 2, even if it is the only ID to be associated to both values \"foo\" and\n\"bar\"."
        }
      }
    },
    "GooglePrivacyDlpV2UpdateInspectTemplateRequest": {
      "description": "Request message for UpdateInspectTemplate.",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "inspectTemplate": {
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "description": "New InspectTemplate value."
        }
      },
      "id": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
    },
    "GooglePrivacyDlpV2CreateJobTriggerRequest": {
      "description": "Request message for CreateJobTrigger.",
      "type": "object",
      "properties": {
        "triggerId": {
          "description": "The trigger id can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "jobTrigger": {
          "$ref": "GooglePrivacyDlpV2JobTrigger",
          "description": "The JobTrigger to create."
        }
      },
      "id": "GooglePrivacyDlpV2CreateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2KAnonymityEquivalenceClass": {
      "properties": {
        "equivalenceClassSize": {
          "description": "Size of the equivalence class, for example number of rows with the\nabove set of values.",
          "format": "int64",
          "type": "string"
        },
        "quasiIdsValues": {
          "description": "Set of values defining the equivalence class. One value per\nquasi-identifier column in the original KAnonymity metric message.\nThe order is always the same as the original request.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      },
      "id": "GooglePrivacyDlpV2KAnonymityEquivalenceClass",
      "description": "The set of columns' values that share the same ldiversity value",
      "type": "object"
    },
    "GooglePrivacyDlpV2NumericalStatsConfig": {
      "id": "GooglePrivacyDlpV2NumericalStatsConfig",
      "description": "Compute numerical stats over an individual column, including\nmin, max, and quantiles.",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Field to compute numerical stats on. Supported types are\ninteger, float, date, datetime, timestamp, time."
        }
      }
    },
    "GooglePrivacyDlpV2DateShiftConfig": {
      "id": "GooglePrivacyDlpV2DateShiftConfig",
      "description": "Shifts dates by random number of days, with option to be consistent for the\nsame context.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "Causes the shift to be computed based on this key and the context. This\nresults in the same shift for the same context and crypto_key."
        },
        "upperBoundDays": {
          "description": "Range of shift in days. Actual shift will be selected at random within this\nrange (inclusive ends). Negative means shift to earlier in time. Must not\nbe more than 365250 days (1000 years) each direction.\n\nFor example, 3 means shift date to at most 3 days into the future.\n[Required]",
          "format": "int32",
          "type": "integer"
        },
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Points to the field that contains the context, for example, an entity id.\nIf set, must also set method. If set, shift will be consistent for the\ngiven context."
        },
        "lowerBoundDays": {
          "description": "For example, -5 means shift date to at most 5 days back in the past.\n[Required]",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GooglePrivacyDlpV2beta1SurrogateType": {
      "description": "Message for detecting output from deidentification transformations\nsuch as\n[`CryptoReplaceFfxFpeConfig`](/dlp/docs/reference/rest/v2beta1/content/deidentify#CryptoReplaceFfxFpeConfig).\nThese types of transformations are\nthose that perform pseudonymization, thereby producing a \"surrogate\" as\noutput. This should be used in conjunction with a field on the\ntransformation such as `surrogate_info_type`. This custom info type does\nnot support the use of `detection_rules`.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2beta1SurrogateType"
    },
    "GooglePrivacyDlpV2ReidentifyContentResponse": {
      "description": "Results of re-identifying a item.",
      "type": "object",
      "properties": {
        "overview": {
          "description": "An overview of the changes that were made to the `item`.",
          "$ref": "GooglePrivacyDlpV2TransformationOverview"
        },
        "item": {
          "description": "The re-identified item.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      },
      "id": "GooglePrivacyDlpV2ReidentifyContentResponse"
    },
    "GooglePrivacyDlpV2beta1InfoTypeLimit": {
      "id": "GooglePrivacyDlpV2beta1InfoTypeLimit",
      "description": "Max findings configuration per info type, per content item or long running\noperation.",
      "type": "object",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2beta1InfoType",
          "description": "Type of information the findings limit applies to. Only one limit per\ninfo_type should be provided. If InfoTypeLimit does not have an\ninfo_type, the DLP API applies the limit against all info_types that are\nfound but not specified in another InfoTypeLimit."
        },
        "maxFindings": {
          "description": "Max findings limit for the given infoType.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GooglePrivacyDlpV2ValueFrequency": {
      "id": "GooglePrivacyDlpV2ValueFrequency",
      "description": "A value of a field, including its frequency.",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "description": "How many times the value is contained in the field.",
          "format": "int64"
        },
        "value": {
          "description": "A value contained in the field in question.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      }
    },
    "GooglePrivacyDlpV2beta1LDiversityHistogramBucket": {
      "properties": {
        "sensitiveValueFrequencyUpperBound": {
          "description": "Upper bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "sensitiveValueFrequencyLowerBound": {
          "description": "Lower bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1LDiversityEquivalenceClass"
          }
        },
        "bucketSize": {
          "description": "Total number of records in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1LDiversityHistogramBucket",
      "description": "Histogram bucket of sensitive value frequencies in the table.",
      "type": "object"
    },
    "GooglePrivacyDlpV2KMapEstimationQuasiIdValues": {
      "description": "A tuple of values for the quasi-identifier columns.",
      "type": "object",
      "properties": {
        "estimatedAnonymity": {
          "description": "The estimated anonymity for these quasi-identifier values.",
          "format": "int64",
          "type": "string"
        },
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
    },
    "GooglePrivacyDlpV2InfoTypeTransformation": {
      "description": "A transformation to apply to text that is identified as a specific\ninfo_type.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "InfoTypes to apply the transformation to. Empty list will match all\navailable infoTypes for this transformation.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "primitiveTransformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "Primitive transformation to apply to the infoType. [required]"
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeTransformation"
    },
    "GooglePrivacyDlpV2ContentItem": {
      "id": "GooglePrivacyDlpV2ContentItem",
      "description": "Container structure for the content to inspect.",
      "type": "object",
      "properties": {
        "value": {
          "description": "String data to inspect or redact.",
          "type": "string"
        },
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "Content data to inspect or redact. Replaces `type` and `data`."
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2Table",
          "description": "Structured content for inspection."
        }
      }
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "description": "Location of the finding within an image.",
      "type": "object",
      "properties": {
        "boundingBoxes": {
          "description": "Bounding boxes locating the pixels within the image containing the finding.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ImageLocation"
    },
    "GooglePrivacyDlpV2Bucket": {
      "description": "Bucket is represented as a range, along with replacement values.",
      "type": "object",
      "properties": {
        "max": {
          "description": "Upper bound of the range, exclusive; type must match min.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "replacementValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Replacement value for this bucket. If not provided\nthe default behavior will be to hyphenate the min-max range."
        },
        "min": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Lower bound of the range, inclusive. Type should be the same as max if\nused."
        }
      },
      "id": "GooglePrivacyDlpV2Bucket"
    },
    "GooglePrivacyDlpV2TransformationSummary": {
      "properties": {
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "format": "int64",
          "type": "string"
        },
        "recordSuppress": {
          "$ref": "GooglePrivacyDlpV2RecordSuppression",
          "description": "The specific suppression option these stats apply to."
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Set if the transformation was limited to a specific info_type."
        },
        "transformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "The specific transformation these stats apply to."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2SummaryResult"
          }
        },
        "field": {
          "description": "Set if the transformation was limited to a specific FieldId.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "fieldTransformations": {
          "description": "The field transformation that was applied.\nIf multiple field transformations are requested for a single field,\nthis list will contain all of them; otherwise, only one is supplied.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        }
      },
      "id": "GooglePrivacyDlpV2TransformationSummary",
      "description": "Summary of a single tranformation.\nOnly one of 'transformation', 'field_transformation', or 'record_suppress'\nwill be set.",
      "type": "object"
    },
    "GooglePrivacyDlpV2CreateInspectTemplateRequest": {
      "description": "Request message for CreateInspectTemplate.",
      "type": "object",
      "properties": {
        "templateId": {
          "type": "string",
          "description": "The template id can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one."
        },
        "inspectTemplate": {
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "description": "The InspectTemplate to create."
        }
      },
      "id": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
    },
    "GooglePrivacyDlpV2beta1TaggedField": {
[...]
