{
  "kind": "discovery#restDescription",
  "description": "Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "servicePath": "",
  "basePath": "",
  "revision": "20190704",
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "id": "dlp:v2",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "GooglePrivacyDlpV2KMapEstimationHistogramBucket": {
      "description": "A KMapEstimationHistogramBucket message with the following values:\n  min_anonymity: 3\n  max_anonymity: 5\n  frequency: 42\nmeans that there are 42 records whose quasi-identifier values correspond\nto 3, 4 or 5 people in the overlying population. An important particular\ncase is when min_anonymity = max_anonymity = 1: the frequency field then\ncorresponds to the number of uniquely identifiable records.",
      "type": "object",
      "properties": {
        "minAnonymity": {
          "description": "Always positive.",
          "format": "int64",
          "type": "string"
        },
        "maxAnonymity": {
          "description": "Always greater than or equal to min_anonymity.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "description": "Number of records within these anonymity bounds.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct quasi-identifier tuple values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total\nnumber of classes returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
          }
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
    },
    "GooglePrivacyDlpV2RecordCondition": {
      "description": "A condition for determining whether a transformation should be applied to\na field.",
      "type": "object",
      "properties": {
        "expressions": {
          "description": "An expression.",
          "$ref": "GooglePrivacyDlpV2Expressions"
        }
      },
      "id": "GooglePrivacyDlpV2RecordCondition"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationResult": {
      "type": "object",
      "properties": {
        "deltaPresenceEstimationHistogram": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
          },
          "description": "The intervals [min_probability, max_probability) do not overlap. If a\nvalue doesn't correspond to any such interval, the associated frequency\nis zero. For example, the following records:\n  {min_probability: 0, max_probability: 0.1, frequency: 17}\n  {min_probability: 0.2, max_probability: 0.3, frequency: 42}\n  {min_probability: 0.3, max_probability: 0.4, frequency: 99}\nmean that there are no record with an estimated probability in [0.1, 0.2)\nnor larger or equal to 0.4."
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
      "description": "Result of the δ-presence computation. Note that these results are an\nestimation, not exact values."
    },
    "GooglePrivacyDlpV2TransformationOverview": {
      "description": "Overview of the modifications that occurred.",
      "type": "object",
      "properties": {
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "format": "int64",
          "type": "string"
        },
        "transformationSummaries": {
          "description": "Transformations applied to the dataset.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationSummary"
          }
        }
      },
      "id": "GooglePrivacyDlpV2TransformationOverview"
    },
    "GooglePrivacyDlpV2InfoType": {
      "description": "Type of information detected by the API.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the information type. Either a name of your choosing when\ncreating a CustomInfoType, or one of the names listed\nat https://cloud.google.com/dlp/docs/infotypes-reference when specifying\na built-in type. InfoType names should conform to the pattern\n[a-zA-Z0-9_]{1,64}.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2InfoType"
    },
    "GooglePrivacyDlpV2TaggedField": {
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Identifies the column. [required]"
        },
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must\nindicate an auxiliary table that contains statistical information on\nthe possible values of this column (below).",
          "type": "string"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "A column can be tagged with a InfoType to use the relevant public\ndataset as a statistical model of population, if available. We\ncurrently support US ZIP codes, region codes, ages and genders.\nTo programmatically obtain the list of supported InfoTypes, use\nListInfoTypes with the supported_by=RISK_ANALYSIS filter."
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from\nthe distribution of values in the input data"
        }
      },
      "id": "GooglePrivacyDlpV2TaggedField"
    },
    "GooglePrivacyDlpV2RiskAnalysisJobConfig": {
      "properties": {
        "actions": {
          "description": "Actions to execute at the completion of the job. Are executed in the order\nprovided.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          }
        },
        "sourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "privacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2PrivacyMetric"
        }
      },
      "id": "GooglePrivacyDlpV2RiskAnalysisJobConfig",
      "description": "Configuration for a risk analysis job. See\nhttps://cloud.google.com/dlp/docs/concepts-risk-analysis to learn more.",
      "type": "object"
    },
    "GooglePrivacyDlpV2FieldId": {
      "properties": {
        "name": {
          "description": "Name describing the field.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2FieldId",
      "description": "General identifier of a data field in a storage service.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig": {
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
      "description": "Replace each matching finding with the name of the info_type."
    },
    "GooglePrivacyDlpV2ReplaceValueConfig": {
      "description": "Replace each input value with a given `Value`.",
      "type": "object",
      "properties": {
        "newValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Value to replace it with."
        }
      },
      "id": "GooglePrivacyDlpV2ReplaceValueConfig"
    },
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "description": "Replaces an identifier with a surrogate using Format Preserving Encryption\n(FPE) with the FFX mode of operation; however when used in the\n`ReidentifyContent` API method, it serves the opposite function by reversing\nthe surrogate back into the original identifier. The identifier must be\nencoded as ASCII. For a given crypto key and context, the same identifier\nwill be replaced with the same surrogate. Identifiers must be at least two\ncharacters long. In the case that the identifier is the empty string, it will\nbe skipped. See https://cloud.google.com/dlp/docs/pseudonymization to learn\nmore.\n\nNote: We recommend using  CryptoDeterministicConfig for all use cases which\ndo not require preserving the input alphabet space and size, plus warrant\nreferential integrity.",
      "type": "object",
      "properties": {
        "surrogateInfoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The custom infoType to annotate the surrogate with.\nThis annotation will be applied to the surrogate by prefixing it with\nthe name of the custom infoType followed by the number of\ncharacters comprising the surrogate. The following scheme defines the\nformat: info_type_name(surrogate_character_count):surrogate\n\nFor example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and\nthe surrogate is 'abc', the full replacement value\nwill be: 'MY_TOKEN_INFO_TYPE(3):abc'\n\nThis annotation identifies the surrogate when inspecting content using the\ncustom infoType\n[`SurrogateType`](/dlp/docs/reference/rest/v2/InspectConfig#surrogatetype).\nThis facilitates reversal of the surrogate when it occurs in free text.\n\nIn order for inspection to work properly, the name of this infoType must\nnot occur naturally anywhere in your data; otherwise, inspection may\nfind a surrogate that does not correspond to an actual identifier.\nTherefore, choose your custom infoType name carefully after considering\nwhat your data looks like. One way to select a name that has a high chance\nof yielding reliable detection is to include one or more unicode characters\nthat are highly improbable to exist in your data.\nFor example, assuming your data is entered from a regular ASCII keyboard,\nthe symbol with the hex code point 29DD might be used like so:\n⧝MY_TOKEN_TYPE"
        },
        "commonAlphabet": {
          "enumDescriptions": [
            "",
            "[0-9] (radix of 10)",
            "[0-9A-F] (radix of 16)",
            "[0-9A-Z] (radix of 36)",
            "[0-9A-Za-z] (radix of 62)"
          ],
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ],
          "type": "string"
        },
        "radix": {
          "description": "The native way to select the alphabet. Must be in the range [2, 62].",
          "format": "int32",
          "type": "integer"
        },
        "customAlphabet": {
          "description": "This is supported by mapping these to the alphanumeric characters\nthat the FFX mode natively supports. This happens before/after\nencryption/decryption.\nEach character listed must appear only once.\nNumber of characters must be in the range [2, 62].\nThis must be encoded as ASCII.\nThe order of characters does not matter.",
          "type": "string"
        },
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "The key used by the encryption algorithm. [required]"
        },
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "The 'tweak', a context may be used for higher security since the same\nidentifier in two different contexts won't be given the same surrogate. If\nthe context is not set, a default tweak will be used.\n\nIf the context is set but:\n\n1. there is no record present when transforming a given value or\n1. the field is not present when transforming a given value,\n\na default tweak will be used.\n\nNote that case (1) is expected when an `InfoTypeTransformation` is\napplied to both structured and non-structured `ContentItem`s.\nCurrently, the referenced field may be of value type integer or string.\n\nThe tweak is constructed as a sequence of bytes in big endian byte order\nsuch that:\n\n- a 64 bit integer is encoded followed by a single byte of value 1\n- a string is encoded in UTF-8 format followed by a single byte of value 2"
        }
      },
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig"
    },
    "GooglePrivacyDlpV2TimeZone": {
      "type": "object",
      "properties": {
        "offsetMinutes": {
          "description": "Set only if the offset can be determined. Positive for time ahead of UTC.\nE.g. For \"UTC-9\", this value is -540.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2TimeZone"
    },
    "GooglePrivacyDlpV2KAnonymityResult": {
      "description": "Result of the k-anonymity computation.",
      "type": "object",
      "properties": {
        "equivalenceClassHistogramBuckets": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityHistogramBucket"
          },
          "description": "Histogram of k-anonymity equivalence classes."
        }
      },
      "id": "GooglePrivacyDlpV2KAnonymityResult"
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "description": "This is a data encryption key (DEK) (as opposed to\na key encryption key (KEK) stored by KMS).\nWhen using KMS to wrap/unwrap DEKs, be sure to set an appropriate\nIAM policy on the KMS CryptoKey (KEK) to ensure an attacker cannot\nunwrap the data crypto key.",
      "type": "object",
      "properties": {
        "unwrapped": {
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey"
        },
        "transient": {
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey"
        },
        "kmsWrapped": {
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
        }
      },
      "id": "GooglePrivacyDlpV2CryptoKey"
    },
    "GooglePrivacyDlpV2RequestedOptions": {
      "type": "object",
      "properties": {
        "snapshotInspectTemplate": {
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "description": "If run with an InspectTemplate, a snapshot of its state at the time of\nthis run."
        },
        "jobConfig": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        }
      },
      "id": "GooglePrivacyDlpV2RequestedOptions"
    },
    "GooglePrivacyDlpV2TimespanConfig": {
      "description": "Configuration of the timespan of the items to include in scanning.\nCurrently only supported when inspecting Google Cloud Storage and BigQuery.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Exclude files or rows older than this value.",
          "format": "google-datetime",
          "type": "string"
        },
        "timestampField": {
          "description": "Specification of the field containing the timestamp of scanned items.\nUsed for data sources like Datastore or BigQuery.\nIf not specified for BigQuery, table last modification timestamp\nis checked against given time span.\nThe valid data types of the timestamp field are:\nfor BigQuery - timestamp, date, datetime;\nfor Datastore - timestamp.\nDatastore entity will be scanned if the timestamp property does not exist\nor its value is empty or invalid.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "endTime": {
          "description": "Exclude files or rows newer than this value.\nIf set to zero, no upper time limit is applied.",
          "format": "google-datetime",
          "type": "string"
        },
        "enableAutoPopulationOfTimespanConfig": {
          "description": "When the job is started by a JobTrigger we will automatically figure out\na valid start_time to avoid scanning files that have not been modified\nsince the last time the JobTrigger executed. This will be based on the\ntime of the execution of the last run of the JobTrigger.",
          "type": "boolean"
        }
      },
      "id": "GooglePrivacyDlpV2TimespanConfig"
    },
    "GooglePrivacyDlpV2EntityId": {
      "description": "An entity in a dataset is a field or set of fields that correspond to a\nsingle person. For example, in medical records the `EntityId` might be a\npatient identifier, or for financial records it might be an account\nidentifier. This message is used when generalizations or analysis must take\ninto account that multiple rows correspond to the same entity.",
      "type": "object",
      "properties": {
        "field": {
          "description": "Composite key indicating which field contains the entity identifier.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2EntityId"
    },
    "GooglePrivacyDlpV2InspectContentRequest": {
      "id": "GooglePrivacyDlpV2InspectContentRequest",
      "description": "Request to search for potentially sensitive info in a ContentItem.",
      "type": "object",
      "properties": {
        "inspectConfig": {
          "description": "Configuration for the inspector. What specified here will override\nthe template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "inspectTemplateName": {
          "type": "string",
          "description": "Optional template to use. Any configuration directly specified in\ninspect_config will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged."
        },
        "item": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      }
    },
    "GooglePrivacyDlpV2QuasiId": {
      "description": "A column with a semantic tag attached.",
      "type": "object",
      "properties": {
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must\nindicate an auxiliary table that contains statistical information on\nthe possible values of this column (below).",
          "type": "string"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "A column can be tagged with a InfoType to use the relevant public\ndataset as a statistical model of population, if available. We\ncurrently support US ZIP codes, region codes, ages and genders.\nTo programmatically obtain the list of supported InfoTypes, use\nListInfoTypes with the supported_by=RISK_ANALYSIS filter."
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from\nthe distribution of values in the input data"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Identifies the column. [required]"
        }
      },
      "id": "GooglePrivacyDlpV2QuasiId"
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "description": "The rule that adjusts the likelihood of findings within a certain\nproximity of hotwords.",
      "type": "object",
      "properties": {
        "likelihoodAdjustment": {
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment",
          "description": "Likelihood adjustment to apply to all matching findings."
        },
        "hotwordRegex": {
          "description": "Regular expression pattern defining what qualifies as a hotword.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "proximity": {
          "$ref": "GooglePrivacyDlpV2Proximity",
          "description": "Proximity of the finding within which the entire hotword must reside.\nThe total length of the window cannot exceed 1000 characters. Note that\nthe finding itself will be included in the window, so that hotwords may\nbe used to match substrings of the finding itself. For example, the\ncertainty of a phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" could be\nadjusted upwards if the area code is known to be the local area code of\na company office using the hotword regex \"\\(xxx\\)\", where \"xxx\"\nis the area code in question."
        }
      },
      "id": "GooglePrivacyDlpV2HotwordRule"
    },
    "GooglePrivacyDlpV2Regex": {
      "properties": {
        "groupIndexes": {
          "description": "The index of the submatch to extract as findings. When not\nspecified, the entire match is returned. No more than 3 may be included.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "pattern": {
          "description": "Pattern defining the regular expression. Its syntax\n(https://github.com/google/re2/wiki/Syntax) can be found under the\ngoogle/re2 repository on GitHub.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Regex",
      "description": "Message defining a custom regular expression.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeidentifyContentResponse": {
      "description": "Results of de-identifying a ContentItem.",
      "type": "object",
      "properties": {
        "overview": {
          "$ref": "GooglePrivacyDlpV2TransformationOverview",
          "description": "An overview of the changes that were made on the `item`."
        },
        "item": {
          "description": "The de-identified item.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyContentResponse"
    },
    "GooglePrivacyDlpV2Expressions": {
      "description": "An expression, consisting or an operator and conditions.",
      "type": "object",
      "properties": {
        "logicalOperator": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "description": "The operator to apply to the result of conditions. Default and currently\nonly supported value is `AND`.",
          "type": "string"
        },
        "conditions": {
          "$ref": "GooglePrivacyDlpV2Conditions"
        }
      },
      "id": "GooglePrivacyDlpV2Expressions"
    },
    "GooglePrivacyDlpV2CategoricalStatsResult": {
      "properties": {
        "valueFrequencyHistogramBuckets": {
          "description": "Histogram of value frequencies in the column.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2CategoricalStatsResult",
      "description": "Result of the categorical stats computation.",
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoTypeDescription": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Internal name of the infoType."
        },
        "displayName": {
          "description": "Human readable form of the infoType name.",
          "type": "string"
        },
        "description": {
          "description": "Description of the infotype. Translated when language is provided in the\nrequest.",
          "type": "string"
        },
        "supportedBy": {
          "type": "array",
          "items": {
            "enum": [
              "ENUM_TYPE_UNSPECIFIED",
              "INSPECT",
              "RISK_ANALYSIS"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "",
            "Supported by the inspect operations.",
            "Supported by the risk analysis operations."
          ],
          "description": "Which parts of the API supports this InfoType."
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeDescription",
      "description": "InfoType description.",
      "type": "object"
    },
    "GooglePrivacyDlpV2UpdateInspectTemplateRequest": {
      "id": "GooglePrivacyDlpV2UpdateInspectTemplateRequest",
      "description": "Request message for UpdateInspectTemplate.",
      "type": "object",
      "properties": {
        "inspectTemplate": {
          "description": "New InspectTemplate value.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        },
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2InspectJobConfig": {
      "type": "object",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          },
          "description": "Actions to execute at the completion of the job."
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "How and what to scan for."
        },
        "inspectTemplateName": {
          "description": "If provided, will be used as the default for all values in InspectConfig.\n`inspect_config` will be merged into the values persisted as part of the\ntemplate.",
          "type": "string"
        },
        "storageConfig": {
          "description": "The data to scan.",
          "$ref": "GooglePrivacyDlpV2StorageConfig"
        }
      },
      "id": "GooglePrivacyDlpV2InspectJobConfig"
    },
    "GooglePrivacyDlpV2LDiversityHistogramBucket": {
      "id": "GooglePrivacyDlpV2LDiversityHistogramBucket",
      "type": "object",
      "properties": {
        "sensitiveValueFrequencyLowerBound": {
          "description": "Lower bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityEquivalenceClass"
          },
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20."
        },
        "bucketSize": {
          "description": "Total number of equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "sensitiveValueFrequencyUpperBound": {
          "type": "string",
          "description": "Upper bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2CreateJobTriggerRequest": {
      "description": "Request message for CreateJobTrigger.",
      "type": "object",
      "properties": {
        "jobTrigger": {
          "$ref": "GooglePrivacyDlpV2JobTrigger",
          "description": "The JobTrigger to create."
        },
        "triggerId": {
          "description": "The trigger id can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-_]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CreateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2InspectConfig": {
      "description": "Configuration description of the scanning process.\nWhen used with redactContent only info_types and min_likelihood are currently\nused.",
      "type": "object",
      "properties": {
        "customInfoTypes": {
          "description": "CustomInfoTypes provided by the user. See\nhttps://cloud.google.com/dlp/docs/creating-custom-infotypes to learn more.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CustomInfoType"
          }
        },
        "contentOptions": {
          "enumDescriptions": [
            "Includes entire content of a file or a data stream.",
            "Text content within the data, excluding any metadata.",
            "Images found in the data."
          ],
          "description": "List of options defining data content to scan.\nIf empty, text, images, and other content will be included.",
          "type": "array",
          "items": {
            "enum": [
              "CONTENT_UNSPECIFIED",
              "CONTENT_TEXT",
              "CONTENT_IMAGE"
            ],
            "type": "string"
          }
        },
        "limits": {
          "$ref": "GooglePrivacyDlpV2FindingLimits"
        },
        "excludeInfoTypes": {
          "description": "When true, excludes type information of the findings.",
          "type": "boolean"
        },
        "minLikelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Only returns findings equal or above this threshold. The default is\nPOSSIBLE.\nSee https://cloud.google.com/dlp/docs/likelihood to learn more.",
          "type": "string"
        },
        "ruleSet": {
          "description": "Set of rules to apply to the findings for this InspectConfig.\nExclusion rules, contained in the set are executed in the end, other\nrules are executed in the order they are specified for each info type.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRuleSet"
          }
        },
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to\nInfoType values returned by ListInfoTypes or listed at\nhttps://cloud.google.com/dlp/docs/infotypes-reference.\n\nWhen no InfoTypes or CustomInfoTypes are specified in a request, the\nsystem may automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.\n\nThe special InfoType name \"ALL_BASIC\" can be used to trigger all detectors,\nbut may change over time as new InfoTypes are added. If you need precise\ncontrol and predictability as to what detectors are run you should specify\nspecific InfoTypes listed in the reference.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding is\nincluded in the response; see Finding.quote.",
          "type": "boolean"
        }
      },
      "id": "GooglePrivacyDlpV2InspectConfig"
    },
    "GooglePrivacyDlpV2ExcludeInfoTypes": {
      "properties": {
        "infoTypes": {
          "description": "InfoType list in ExclusionRule rule drops a finding when it overlaps or\ncontained within with a finding of an infoType from this list. For\nexample, for `InspectionRuleSet.info_types` containing \"PHONE_NUMBER\"` and\n`exclusion_rule` containing `exclude_info_types.info_types` with\n\"EMAIL_ADDRESS\" the phone number findings are dropped if they overlap\nwith EMAIL_ADDRESS finding.\nThat leads to \"555-222-2222@example.org\" to generate only a single\nfinding, namely email address.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ExcludeInfoTypes",
      "description": "List of exclude infoTypes.",
      "type": "object"
    },
    "GooglePrivacyDlpV2LDiversityConfig": {
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "type": "object",
      "properties": {
        "sensitiveAttribute": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Sensitive field for computing the l-value."
        },
        "quasiIds": {
          "description": "Set of quasi-identifiers indicating how equivalence classes are\ndefined for the l-diversity computation. When multiple fields are\nspecified, they are considered a single composite key.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityConfig"
    },
    "GooglePrivacyDlpV2KAnonymityEquivalenceClass": {
      "description": "The set of columns' values that share the same ldiversity value",
      "type": "object",
      "properties": {
        "equivalenceClassSize": {
          "description": "Size of the equivalence class, for example number of rows with the\nabove set of values.",
          "format": "int64",
          "type": "string"
        },
        "quasiIdsValues": {
          "description": "Set of values defining the equivalence class. One value per\nquasi-identifier column in the original KAnonymity metric message.\nThe order is always the same as the original request.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      },
      "id": "GooglePrivacyDlpV2KAnonymityEquivalenceClass"
    },
    "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest": {
      "description": "Request message for UpdateStoredInfoType.",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "Updated configuration for the storedInfoType. If not provided, a new\nversion of the storedInfoType will be created with the existing\nconfiguration."
        }
      },
      "id": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
    },
    "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog": {
      "description": "Publish findings of a DlpJob to Cloud Data Catalog. Labels summarizing the\nresults of the DlpJob will be applied to the entry for the resource scanned\nin Cloud Data Catalog. Any labels previously written by another DlpJob will\nbe deleted. InfoType naming patterns are strictly enforced when using this\nfeature. Note that the findings will be persisted in Cloud Data Catalog\nstorage and are governed by Data Catalog service-specific policy, see\nhttps://cloud.google.com/terms/service-terms\nOnly a single instance of this action can be specified and only allowed if\nall resources being scanned are BigQuery tables.\nCompatible with: Inspect",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog"
    },
    "GooglePrivacyDlpV2DateShiftConfig": {
      "id": "GooglePrivacyDlpV2DateShiftConfig",
      "description": "Shifts dates by random number of days, with option to be consistent for the\nsame context. See https://cloud.google.com/dlp/docs/concepts-date-shifting\nto learn more.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "description": "Causes the shift to be computed based on this key and the context. This\nresults in the same shift for the same context and crypto_key.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "upperBoundDays": {
          "description": "Range of shift in days. Actual shift will be selected at random within this\nrange (inclusive ends). Negative means shift to earlier in time. Must not\nbe more than 365250 days (1000 years) each direction.\n\nFor example, 3 means shift date to at most 3 days into the future.\n[Required]",
          "format": "int32",
          "type": "integer"
        },
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Points to the field that contains the context, for example, an entity id.\nIf set, must also set method. If set, shift will be consistent for the\ngiven context."
        },
        "lowerBoundDays": {
          "description": "For example, -5 means shift date to at most 5 days back in the past.\n[Required]",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GooglePrivacyDlpV2CloudStorageOptions": {
      "description": "Options defining a file or a set of files within a Google Cloud Storage\nbucket.",
      "type": "object",
      "properties": {
        "fileTypes": {
          "enumDescriptions": [
            "Includes all files.",
            "Includes all file extensions not covered by text file types.",
            "Included file extensions:\n  asc, brf, c, cc, cpp, csv, cxx, c++, cs, css, dart, eml, go, h, hh, hpp,\n  hxx, h++, hs, html, htm, shtml, shtm, xhtml, lhs, ini, java, js, json,\n  ocaml, md, mkd, markdown, m, ml, mli, pl, pm, php, phtml, pht, py, pyw,\n  rb, rbw, rs, rc, scala, sh, sql, tex, txt, text, tsv, vcard, vcs, wml,\n  xml, xsl, xsd, yml, yaml.",
            "Included file extensions:\n  bmp, gif, jpg, jpeg, jpe, png.\nbytes_limit_per_file has no effect on image files.",
            "Included file extensions:\n  avro"
          ],
          "description": "List of file type groups to include in the scan.\nIf empty, all files are scanned and available data format processors\nare applied. In addition, the binary content of the selected files\nis always scanned as well.",
          "type": "array",
          "items": {
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "BINARY_FILE",
              "TEXT_FILE",
              "IMAGE",
              "AVRO"
            ],
            "type": "string"
          }
        },
        "bytesLimitPerFile": {
          "description": "Max number of bytes to scan from a file. If a scanned file's size is bigger\nthan this value then the rest of the bytes are omitted. Only one\nof bytes_limit_per_file and bytes_limit_per_file_percent can be specified.",
          "format": "int64",
          "type": "string"
        },
        "filesLimitPercent": {
          "description": "Limits the number of files to scan to this percentage of the input FileSet.\nNumber of files scanned is rounded down. Must be between 0 and 100,\ninclusively. Both 0 and 100 means no limit. Defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "fileSet": {
          "$ref": "GooglePrivacyDlpV2FileSet",
          "description": "The set of one or more files to scan."
        },
        "sampleMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Scan from the top (default).",
            "For each file larger than bytes_limit_per_file, randomly pick the offset\nto start scanning. The scanned bytes are contiguous."
          ],
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ]
        },
        "bytesLimitPerFilePercent": {
          "description": "Max percentage of bytes to scan from a file. The rest are omitted. The\nnumber of bytes scanned is rounded down. Must be between 0 and 100,\ninclusively. Both 0 and 100 means no limit. Defaults to 0. Only one\nof bytes_limit_per_file and bytes_limit_per_file_percent can be specified.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageOptions"
    },
    "GooglePrivacyDlpV2NumericalStatsConfig": {
      "id": "GooglePrivacyDlpV2NumericalStatsConfig",
      "description": "Compute numerical stats over an individual column, including\nmin, max, and quantiles.",
      "type": "object",
      "properties": {
        "field": {
          "description": "Field to compute numerical stats on. Supported types are\ninteger, float, date, datetime, timestamp, time.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      }
    },
    "GooglePrivacyDlpV2ReidentifyContentResponse": {
      "type": "object",
      "properties": {
        "overview": {
          "description": "An overview of the changes that were made to the `item`.",
          "$ref": "GooglePrivacyDlpV2TransformationOverview"
        },
        "item": {
          "description": "The re-identified item.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      },
      "id": "GooglePrivacyDlpV2ReidentifyContentResponse",
      "description": "Results of re-identifying a item."
    },
    "GooglePrivacyDlpV2ValueFrequency": {
      "description": "A value of a field, including its frequency.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A value contained in the field in question.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "count": {
          "description": "How many times the value is contained in the field.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ValueFrequency"
    },
    "GooglePrivacyDlpV2InfoTypeTransformation": {
      "id": "GooglePrivacyDlpV2InfoTypeTransformation",
      "description": "A transformation to apply to text that is identified as a specific\ninfo_type.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "InfoTypes to apply the transformation to. An empty list will cause\nthis transformation to apply to all findings that correspond to\ninfoTypes that were requested in `InspectConfig`.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "primitiveTransformation": {
          "description": "Primitive transformation to apply to the infoType. [required]",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationQuasiIdValues": {
      "description": "A tuple of values for the quasi-identifier columns.",
      "type": "object",
      "properties": {
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        },
        "estimatedAnonymity": {
          "type": "string",
          "description": "The estimated anonymity for these quasi-identifier values.",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
    },
    "GooglePrivacyDlpV2ContentItem": {
      "description": "Container structure for the content to inspect.",
      "type": "object",
      "properties": {
        "value": {
          "description": "String data to inspect or redact.",
          "type": "string"
        },
        "byteItem": {
          "description": "Content data to inspect or redact. Replaces `type` and `data`.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2Table",
          "description": "Structured content for inspection. See\nhttps://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to\nlearn more."
        }
      },
      "id": "GooglePrivacyDlpV2ContentItem"
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "description": "Location of the finding within an image.",
      "type": "object",
      "properties": {
        "boundingBoxes": {
          "description": "Bounding boxes locating the pixels within the image containing the finding.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ImageLocation"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket": {
      "description": "A DeltaPresenceEstimationHistogramBucket message with the following\nvalues:\n  min_probability: 0.1\n  max_probability: 0.2\n  frequency: 42\nmeans that there are 42 records for which δ is in [0.1, 0.2). An\nimportant particular case is when min_probability = max_probability = 1:\nthen, every individual who shares this quasi-identifier combination is in\nthe dataset.",
      "type": "object",
      "properties": {
        "maxProbability": {
          "description": "Always greater than or equal to min_probability.",
          "format": "double",
          "type": "number"
        },
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total\nnumber of classes returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues"
          }
        },
        "minProbability": {
          "description": "Between 0 and 1.",
          "format": "double",
          "type": "number"
        },
        "bucketSize": {
          "description": "Number of records within these probability bounds.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "type": "string",
          "description": "Total number of distinct quasi-identifier tuple values in this bucket.",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
    },
    "GooglePrivacyDlpV2BoundingBox": {
      "description": "Bounding box encompassing detected text within an image.",
      "type": "object",
      "properties": {
        "left": {
          "type": "integer",
          "description": "Left coordinate of the bounding box. (0,0) is upper left.",
          "format": "int32"
        },
        "width": {
          "description": "Width of the bounding box in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "description": "Height of the bounding box in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "description": "Top coordinate of the bounding box. (0,0) is upper left.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2BoundingBox"
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "description": "Partially mask a string by replacing a given number of characters with a\nfixed character. Masking can start from the beginning or end of the string.\nThis can be used on data of any type (numbers, longs, and so on) and when\nde-identifying structured data we'll attempt to preserve the original data's\ntype. (This allows you to take a long like 123 and modify it to a string like\n**3.",
      "type": "object",
      "properties": {
        "charactersToIgnore": {
          "description": "When masking a string, items in this list will be skipped when replacing.\nFor example, if your string is 555-555-5555 and you ask us to skip `-` and\nmask 5 chars with * we would produce ***-*55-5555.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          }
        },
        "maskingCharacter": {
          "description": "Character to mask the sensitive values&mdash;for example, \"*\" for an\nalphabetic string such as name, or \"0\" for a numeric string such as ZIP\ncode or credit card number. String must have length 1. If not supplied, we\nwill default to \"*\" for strings, 0 for digits.",
          "type": "string"
        },
        "reverseOrder": {
          "description": "Mask characters in reverse order. For example, if `masking_character` is\n'0', number_to_mask is 14, and `reverse_order` is false, then\n1234-5678-9012-3456 -\u003e 00000000000000-3456\nIf `masking_character` is '*', `number_to_mask` is 3, and `reverse_order`\nis true, then 12345 -\u003e 12***",
          "type": "boolean"
        },
        "numberToMask": {
          "description": "Number of characters to mask. If not set, all matching chars will be\nmasked. Skipped characters do not count towards this tally.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2CharacterMaskConfig"
    },
    "GooglePrivacyDlpV2RecordKey": {
      "description": "Message for a unique key indicating a record that contains a finding.",
      "type": "object",
      "properties": {
        "datastoreKey": {
          "$ref": "GooglePrivacyDlpV2DatastoreKey"
        },
        "bigQueryKey": {
          "$ref": "GooglePrivacyDlpV2BigQueryKey"
        },
        "idValues": {
          "description": "Values of identifying columns in the given row. Order of values matches\nthe order of field identifiers specified in the scanning request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GooglePrivacyDlpV2RecordKey"
    },
    "GooglePrivacyDlpV2SummaryResult": {
      "description": "A collection that informs the user the number of times a particular\n`TransformationResultCode` and error details occurred.",
      "type": "object",
      "properties": {
        "details": {
          "description": "A place for warnings or errors to show up if a transformation didn't\nwork as expected.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TRANSFORMATION_RESULT_CODE_UNSPECIFIED",
            "SUCCESS",
            "ERROR"
          ]
        }
      },
      "id": "GooglePrivacyDlpV2SummaryResult"
    },
    "GooglePrivacyDlpV2Bucket": {
      "description": "Bucket is represented as a range, along with replacement values.",
      "type": "object",
      "properties": {
        "min": {
          "description": "Lower bound of the range, inclusive. Type should be the same as max if\nused.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "max": {
          "description": "Upper bound of the range, exclusive; type must match min.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "replacementValue": {
          "description": "Replacement value for this bucket. If not provided\nthe default behavior will be to hyphenate the min-max range.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      },
      "id": "GooglePrivacyDlpV2Bucket"
    },
    "GooglePrivacyDlpV2ReidentifyContentRequest": {
      "properties": {
        "reidentifyConfig": {
          "description": "Configuration for the re-identification of the content item.\nThis field shares the same proto message type that is used for\nde-identification, however its usage here is for the reversal of the\nprevious de-identification. Re-identification is performed by examining\nthe transformations used to de-identify the items and executing the\nreverse. This requires that only reversible transformations\nbe provided here. The reversible transformations are:\n\n - `CryptoReplaceFfxFpeConfig`",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "item": {
          "$ref": "GooglePrivacyDlpV2ContentItem",
          "description": "The item to re-identify. Will be treated as text."
        },
        "reidentifyTemplateName": {
          "description": "Optional template to use. References an instance of `DeidentifyTemplate`.\nAny configuration directly specified in `reidentify_config` or\n`inspect_config` will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector."
        },
        "inspectTemplateName": {
          "description": "Optional template to use. Any configuration directly specified in\n`inspect_config` will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ReidentifyContentRequest",
      "description": "Request to re-identify an item.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Key": {
      "description": "A unique identifier for a Datastore entity.\nIf a key's partition ID or any of its path kinds or names are\nreserved/read-only, the key is reserved/read-only.\nA reserved/read-only key is forbidden in certain documented contexts.",
      "type": "object",
      "properties": {
        "path": {
          "description": "The entity path.\nAn entity path consists of one or more elements composed of a kind and a\nstring or numerical identifier, which identify entities. The first\nelement identifies a _root entity_, the second element identifies\na _child_ of the root entity, the third element identifies a child of the\nsecond entity, and so forth. The entities identified by all prefixes of\nthe path are called the element's _ancestors_.\n\nA path can never be empty, and a path can have at most 100 elements.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2PathElement"
          }
        },
        "partitionId": {
          "$ref": "GooglePrivacyDlpV2PartitionId",
          "description": "Entities are partitioned into subsets, currently identified by a project\nID and namespace ID.\nQueries are scoped to a single partition."
        }
      },
      "id": "GooglePrivacyDlpV2Key"
    },
    "GooglePrivacyDlpV2TableLocation": {
      "description": "Location of a finding within a table.",
      "type": "object",
      "properties": {
        "rowIndex": {
          "description": "The zero-based index of the row where the finding is located.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TableLocation"
    },
    "GooglePrivacyDlpV2Conditions": {
      "id": "GooglePrivacyDlpV2Conditions",
      "description": "A collection of conditions.",
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          }
        }
      }
    },
    "GooglePrivacyDlpV2CloudStorageRegexFileSet": {
      "properties": {
        "includeRegex": {
          "description": "A list of regular expressions matching file paths to include. All files in\nthe bucket that match at least one of these regular expressions will be\nincluded in the set of files, except for those that also match an item in\n`exclude_regex`. Leaving this field empty will match all files by default\n(this is equivalent to including `.*` in the list).\n\nRegular expressions use RE2\n[syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found\nunder the google/re2 repository on GitHub.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludeRegex": {
          "description": "A list of regular expressions matching file paths to exclude. All files in\nthe bucket that match at least one of these regular expressions will be\nexcluded from the scan.\n\nRegular expressions use RE2\n[syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found\nunder the google/re2 repository on GitHub.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bucketName": {
          "description": "The name of a Cloud Storage bucket. Required.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
      "description": "Message representing a set of files in a Cloud Storage bucket. Regular\nexpressions are used to allow fine-grained control over which files in the\nbucket to include.\n\nIncluded files are those that match at least one item in `include_regex` and\ndo not match any items in `exclude_regex`. Note that a file that matches\nitems from both lists will _not_ be included. For a match to occur, the\nentire file path (i.e., everything in the url after the bucket name) must\nmatch the regular expression.\n\nFor example, given the input `{bucket_name: \"mybucket\", include_regex:\n[\"directory1/.*\"], exclude_regex:\n[\"directory1/excluded.*\"]}`:\n\n* `gs://mybucket/directory1/myfile` will be included\n* `gs://mybucket/directory1/directory2/myfile` will be included (`.*` matches\nacross `/`)\n* `gs://mybucket/directory0/directory1/myfile` will _not_ be included (the\nfull path doesn't match any items in `include_regex`)\n* `gs://mybucket/directory1/excludedfile` will _not_ be included (the path\nmatches an item in `exclude_regex`)\n\nIf `include_regex` is left empty, it will match all files by default\n(this is equivalent to setting `include_regex: [\".*\"]`).\n\nSome other common use cases:\n\n* `{bucket_name: \"mybucket\", exclude_regex: [\".*\\.pdf\"]}` will include all\nfiles in `mybucket` except for .pdf files\n* `{bucket_name: \"mybucket\", include_regex: [\"directory/[^/]+\"]}` will\ninclude all files directly under `gs://mybucket/directory/`, without matching\nacross `/`",
      "type": "object"
    },
    "GooglePrivacyDlpV2TransformationSummary": {
      "description": "Summary of a single transformation.\nOnly one of 'transformation', 'field_transformation', or 'record_suppress'\nwill be set.",
      "type": "object",
      "properties": {
        "field": {
          "description": "Set if the transformation was limited to a specific FieldId.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2SummaryResult"
          }
        },
        "fieldTransformations": {
          "description": "The field transformation that was applied.\nIf multiple field transformations are requested for a single field,\nthis list will contain all of them; otherwise, only one is supplied.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        },
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "format": "int64",
          "type": "string"
        },
        "recordSuppress": {
          "description": "The specific suppression option these stats apply to.",
          "$ref": "GooglePrivacyDlpV2RecordSuppression"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Set if the transformation was limited to a specific InfoType."
        },
        "transformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "The specific transformation these stats apply to."
        }
      },
      "id": "GooglePrivacyDlpV2TransformationSummary"
    },
    "GooglePrivacyDlpV2ListInspectTemplatesResponse": {
      "description": "Response message for ListInspectTemplates.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used\nin following ListInspectTemplates request.",
          "type": "string"
        },
        "inspectTemplates": {
          "description": "List of inspectTemplates, up to page_size in ListInspectTemplatesRequest.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectTemplate"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
    },
    "GooglePrivacyDlpV2CreateInspectTemplateRequest": {
      "type": "object",
      "properties": {
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-_]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "The InspectTemplate to create.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        }
      },
      "id": "GooglePrivacyDlpV2CreateInspectTemplateRequest",
      "description": "Request message for CreateInspectTemplate."
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "type": "object",
      "properties": {
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag\nused to tag a quasi-identifiers field must appear in exactly one\nfield of one auxiliary table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          }
        },
        "quasiIds": {
          "description": "Fields considered to be quasi-identifiers. No two fields can have the\nsame tag. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          }
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling.\nRequired if no column is tagged with a region-specific InfoType (like\nUS_ZIP_5) or a region code.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to\nfigure out that one given individual appears in a de-identified dataset.\nSimilarly to the k-map metric, we cannot compute δ-presence exactly without\nknowing the attack dataset, so we use a statistical model instead."
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "description": "Message representing a set of files in Cloud Storage.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The url, in the format `gs://\u003cbucket\u003e/\u003cpath\u003e`. Trailing wildcard in the\npath is allowed.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageFileSet"
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "description": "Deprecated; use `InspectionRuleSet` instead. Rule for modifying a\n`CustomInfoType` to alter behavior under certain circumstances, depending\non the specific details of the rule. Not supported for the `surrogate_type`\ncustom infoType.",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "$ref": "GooglePrivacyDlpV2HotwordRule",
          "description": "Hotword-based detection rule."
        }
      },
      "id": "GooglePrivacyDlpV2DetectionRule"
    },
    "GooglePrivacyDlpV2StoredInfoType": {
      "description": "StoredInfoType resource message that contains information about the current\nversion and any pending updates.",
      "type": "object",
      "properties": {
        "currentVersion": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion",
          "description": "Current version of the stored info type."
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        },
        "pendingVersions": {
          "description": "Pending versions of the stored info type. Empty if no versions are\npending.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
          }
        }
      },
      "id": "GooglePrivacyDlpV2StoredInfoType"
    },
    "GooglePrivacyDlpV2InspectContentResponse": {
      "description": "Results of inspecting an item.",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "GooglePrivacyDlpV2InspectResult",
          "description": "The findings."
        }
      },
      "id": "GooglePrivacyDlpV2InspectContentResponse"
    },
    "GooglePrivacyDlpV2FileSet": {
      "id": "GooglePrivacyDlpV2FileSet",
      "description": "Set of files to scan.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The Cloud Storage url of the file(s) to scan, in the format\n`gs://\u003cbucket\u003e/\u003cpath\u003e`. Trailing wildcard in the path is allowed.\n\nIf the url ends in a trailing slash, the bucket or directory represented\nby the url will be scanned non-recursively (content in sub-directories\nwill not be scanned). This means that `gs://mybucket/` is equivalent to\n`gs://mybucket/*`, and `gs://mybucket/directory/` is equivalent to\n`gs://mybucket/directory/*`.\n\nExactly one of `url` or `regex_file_set` must be set.",
          "type": "string"
        },
        "regexFileSet": {
          "$ref": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
          "description": "The regex-filtered set of files to scan. Exactly one of `url` or\n`regex_file_set` must be set."
        }
      }
    },
    "GooglePrivacyDlpV2LDiversityResult": {
      "description": "Result of the l-diversity computation.",
      "type": "object",
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityResult"
    },
    "GooglePrivacyDlpV2SaveFindings": {
      "description": "If set, the detailed findings will be persisted to the specified\nOutputStorageConfig. Only a single instance of this action can be\nspecified.\nCompatible with: Inspect, Risk",
      "type": "object",
      "properties": {
        "outputConfig": {
          "$ref": "GooglePrivacyDlpV2OutputStorageConfig"
        }
      },
      "id": "GooglePrivacyDlpV2SaveFindings"
    },
    "GooglePrivacyDlpV2OutputStorageConfig": {
      "description": "Cloud repository for storing output.",
      "type": "object",
      "properties": {
        "outputSchema": {
          "enumDescriptions": [
            "",
            "Basic schema including only `info_type`, `quote`, `certainty`, and\n`timestamp`.",
            "Schema tailored to findings from scanning Google Cloud Storage.",
            "Schema tailored to findings from scanning Google Datastore.",
            "Schema tailored to findings from scanning Google BigQuery.",
            "Schema containing all columns."
          ],
          "enum": [
            "OUTPUT_SCHEMA_UNSPECIFIED",
            "BASIC_COLUMNS",
            "GCS_COLUMNS",
            "DATASTORE_COLUMNS",
            "BIG_QUERY_COLUMNS",
            "ALL_COLUMNS"
          ],
          "description": "Schema used for writing the findings for Inspect jobs. This field is only\nused for Inspect and must be unspecified for Risk jobs. Columns are derived\nfrom the `Finding` object. If appending to an existing table, any columns\nfrom the predefined schema that are missing will be added. No columns in\nthe existing table will be deleted.\n\nIf unspecified, then all available columns will be used for a new table or\nan (existing) table with no schema, and no changes will be made to an\nexisting table that has a schema.",
          "type": "string"
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Store findings in an existing table or a new table in an existing\ndataset. If table_id is not set a new one will be generated\nfor you with the following format:\ndlp_googleapis_yyyy_mm_dd_[dlp_job_id]. Pacific timezone will be used for\ngenerating the date details.\n\nFor Inspect, each column in an existing output table must have the same\nname, type, and mode of a field in the `Finding` object.\n\nFor Risk, an existing output table should be the output of a previous\nRisk analysis job run on the same source table, with the same privacy\nmetric and quasi-identifiers. Risk jobs that analyze the same table but\ncompute a different privacy metric, or use different sets of\nquasi-identifiers, cannot store their results in the same table."
        }
      },
      "id": "GooglePrivacyDlpV2OutputStorageConfig"
    },
    "GooglePrivacyDlpV2SurrogateType": {
      "properties": {},
      "id": "GooglePrivacyDlpV2SurrogateType",
      "description": "Message for detecting output from deidentification transformations\nsuch as\n[`CryptoReplaceFfxFpeConfig`](/dlp/docs/reference/rest/v2/organizations.deidentifyTemplates#cryptoreplaceffxfpeconfig).\nThese types of transformations are\nthose that perform pseudonymization, thereby producing a \"surrogate\" as\noutput. This should be used in conjunction with a field on the\ntransformation such as `surrogate_info_type`. This CustomInfoType does\nnot support the use of `detection_rules`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2StorageConfig": {
      "description": "Shared message indicating Cloud storage type.",
      "type": "object",
      "properties": {
        "cloudStorageOptions": {
          "description": "Google Cloud Storage options specification.",
          "$ref": "GooglePrivacyDlpV2CloudStorageOptions"
        },
        "datastoreOptions": {
          "$ref": "GooglePrivacyDlpV2DatastoreOptions",
          "description": "Google Cloud Datastore options specification."
        },
        "timespanConfig": {
          "$ref": "GooglePrivacyDlpV2TimespanConfig"
        },
        "bigQueryOptions": {
          "$ref": "GooglePrivacyDlpV2BigQueryOptions",
          "description": "BigQuery options specification."
        }
      },
      "id": "GooglePrivacyDlpV2StorageConfig"
    },
    "GooglePrivacyDlpV2Error": {
      "id": "GooglePrivacyDlpV2Error",
      "description": "Details information about an error encountered during job execution or\nthe results of an unsuccessful activation of the JobTrigger.\nOutput only field.",
      "type": "object",
      "properties": {
        "details": {
          "$ref": "GoogleRpcStatus"
        },
        "timestamps": {
          "description": "The times the error occurred.",
          "type": "array",
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        }
      }
    },
    "GooglePrivacyDlpV2UnwrappedCryptoKey": {
      "description": "Using raw keys is prone to security risks due to accidentally\nleaking the key. Choose another type of key if possible.",
      "type": "object",
      "properties": {
        "key": {
          "description": "A 128/192/256 bit key. [required]",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2UnwrappedCryptoKey"
    },
    "GooglePrivacyDlpV2Table": {
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed.\nSee https://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to\nlearn more.",
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Row"
          }
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Table"
    },
    "GooglePrivacyDlpV2CryptoHashConfig": {
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing.\nUses SHA-256.\nThe key size must be either 32 or 64 bytes.\nOutputs a base64 encoded representation of the hashed output\n(for example, L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=).\nCurrently, only string and integer values can be hashed.\nSee https://cloud.google.com/dlp/docs/pseudonymization to learn more.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "The key used by the hash function."
        }
      },
      "id": "GooglePrivacyDlpV2CryptoHashConfig"
    },
    "GooglePrivacyDlpV2UpdateJobTriggerRequest": {
      "description": "Request message for UpdateJobTrigger.",
      "type": "object",
      "properties": {
        "jobTrigger": {
          "$ref": "GooglePrivacyDlpV2JobTrigger",
          "description": "New JobTrigger value."
        },
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2QuasiIdentifierField": {
      "id": "GooglePrivacyDlpV2QuasiIdentifierField",
      "description": "A quasi-identifier column has a custom_tag, used to know which column\nin the data corresponds to which column in the statistical model.",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customTag": {
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2PublishToPubSub": {
      "description": "Publish a message into given Pub/Sub topic when DlpJob has completed. The\nmessage contains a single field, `DlpJobName`, which is equal to the\nfinished job's\n[`DlpJob.name`](/dlp/docs/reference/rest/v2/projects.dlpJobs#DlpJob).\nCompatible with: Inspect, Risk",
      "type": "object",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Cloud Pub/Sub topic to send notifications to. The topic must have given\npublishing access rights to the DLP API service account executing\nthe long running DlpJob sending the notifications.\nFormat is projects/{project}/topics/{topic}."
        }
      },
      "id": "GooglePrivacyDlpV2PublishToPubSub"
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryConfig": {
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryConfig",
      "description": "Configuration for a custom dictionary created from a data source of any size\nup to the maximum size defined in the\n[limits](https://cloud.google.com/dlp/limits) page. The artifacts of\ndictionary creation are stored in the specified Google Cloud Storage\nlocation. Consider using `CustomInfoType.Dictionary` for smaller dictionaries\nthat satisfy the size requirements.",
      "type": "object",
      "properties": {
        "outputPath": {
          "$ref": "GooglePrivacyDlpV2CloudStoragePath",
          "description": "Location to store dictionary artifacts in Google Cloud Storage. These files\nwill only be accessible by project owners and the DLP API. If any of these\nartifacts are modified, the dictionary is considered invalid and can no\nlonger be used."
        },
        "bigQueryField": {
          "$ref": "GooglePrivacyDlpV2BigQueryField",
          "description": "Field in a BigQuery table where each cell represents a dictionary phrase."
        },
        "cloudStorageFileSet": {
          "$ref": "GooglePrivacyDlpV2CloudStorageFileSet",
          "description": "Set of files containing newline-delimited lists of dictionary phrases."
        }
      }
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "description": "Message for infoType-dependent details parsed from quote.",
      "type": "object",
      "properties": {
        "dateTime": {
          "$ref": "GooglePrivacyDlpV2DateTime",
          "description": "The date time indicated by the quote."
        }
      },
      "id": "GooglePrivacyDlpV2QuoteInfo"
    },
    "GooglePrivacyDlpV2DlpJob": {
      "type": "object",
      "properties": {
        "jobTriggerName": {
          "description": "If created by a job trigger, the resource name of the trigger that\ninstantiated the job.",
          "type": "string"
        },
        "createTime": {
          "description": "Time when the job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The job has not yet started.",
            "The job is currently running.",
            "The job is no longer running.",
            "The job was canceled before it could complete.",
            "The job had an error and did not complete."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "CANCELED",
            "FAILED"
          ],
          "description": "State of a job."
        },
        "riskDetails": {
          "description": "Results from analyzing risk of a data source.",
          "$ref": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails"
        },
        "name": {
          "description": "The server-assigned name.",
          "type": "string"
        },
        "type": {
          "enum": [
            "DLP_JOB_TYPE_UNSPECIFIED",
            "INSPECT_JOB",
            "RISK_ANALYSIS_JOB"
          ],
          "description": "The type of job.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The job inspected Google Cloud for sensitive data.",
            "The job executed a Risk Analysis computation."
          ]
        },
        "endTime": {
          "description": "Time when the job finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "errors": {
          "description": "A stream of errors encountered running the job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "startTime": {
          "description": "Time when the job started.",
          "format": "google-datetime",
          "type": "string"
        },
        "inspectDetails": {
          "description": "Results from inspecting a data source.",
          "$ref": "GooglePrivacyDlpV2InspectDataSourceDetails"
        }
      },
      "id": "GooglePrivacyDlpV2DlpJob",
      "description": "Combines all of the information about a DLP job."
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "description": "Configuration for determining how redaction of images should occur.",
      "type": "object",
      "properties": {
        "redactionColor": {
          "description": "The color to use when redacting content from an image. If not specified,\nthe default is black.",
          "$ref": "GooglePrivacyDlpV2Color"
        },
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an\ninfo_type, is redacted. Only one should be provided.",
          "type": "boolean"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Only one per info_type should be provided per request. If not\nspecified, and redact_all_text is false, the DLP API will redact all\ntext that it matches against all info_types that are found, but not\nspecified in another ImageRedactionConfig."
        }
      },
      "id": "GooglePrivacyDlpV2ImageRedactionConfig"
    },
    "GooglePrivacyDlpV2PublishSummaryToCscc": {
      "description": "Publish the result summary of a DlpJob to the Cloud Security\nCommand Center (CSCC Alpha).\nThis action is only available for projects which are parts of\nan organization and whitelisted for the alpha Cloud Security Command\nCenter.\nThe action will publish count of finding instances and their info types.\nThe summary of findings will be persisted in CSCC and are governed by CSCC\nservice-specific policy, see https://cloud.google.com/terms/service-terms\nOnly a single instance of this action can be specified.\nCompatible with: Inspect",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2PublishSummaryToCscc"
    },
    "GooglePrivacyDlpV2RecordTransformations": {
      "description": "A type of transformation that is applied over structured data such as a\ntable.",
      "type": "object",
      "properties": {
        "recordSuppressions": {
          "description": "Configuration defining which records get suppressed entirely. Records that\nmatch any suppression rule are omitted from the output [optional].",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2RecordSuppression"
          }
        },
        "fieldTransformations": {
          "description": "Transform the record by applying various field transformations.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        }
      },
      "id": "GooglePrivacyDlpV2RecordTransformations"
    },
    "GooglePrivacyDlpV2KmsWrappedCryptoKey": {
      "description": "Include to use an existing data crypto key wrapped by KMS.\nThe wrapped key must be a 128/192/256 bit key.\nAuthorization requires the following IAM permissions when sending a request\nto perform a crypto transformation using a kms-wrapped crypto key:\ndlp.kms.encrypt",
      "type": "object",
      "properties": {
        "wrappedKey": {
          "description": "The wrapped data crypto key. [required]",
          "format": "byte",
          "type": "string"
        },
        "cryptoKeyName": {
          "description": "The resource name of the KMS CryptoKey to use for unwrapping. [required]",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
    },
    "GooglePrivacyDlpV2DateTime": {
      "description": "Message for a date time object.\ne.g. 2018-01-01, 5th August.",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The unspecified day-of-week.",
            "The day-of-week of Monday.",
            "The day-of-week of Tuesday.",
            "The day-of-week of Wednesday.",
            "The day-of-week of Thursday.",
            "The day-of-week of Friday.",
            "The day-of-week of Saturday.",
            "The day-of-week of Sunday."
          ]
        },
        "time": {
          "$ref": "GoogleTypeTimeOfDay"
        },
        "date": {
          "$ref": "GoogleTypeDate",
          "description": "One or more of the following must be set. All fields are optional, but\nwhen set must be valid date or time values."
        },
        "timeZone": {
          "$ref": "GooglePrivacyDlpV2TimeZone"
        }
      },
      "id": "GooglePrivacyDlpV2DateTime"
    },
    "GooglePrivacyDlpV2Result": {
      "properties": {
        "totalEstimatedBytes": {
          "description": "Estimate of the number of bytes to process.",
          "format": "int64",
          "type": "string"
        },
        "infoTypeStats": {
          "description": "Statistics of how many instances of each info type were found during\ninspect job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          }
        },
        "processedBytes": {
          "description": "Total size in bytes that were processed.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Result",
      "description": "All result fields mentioned below are updated while the job is processing.",
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoTypeStats": {
      "description": "Statistics regarding a specific InfoType.",
      "type": "object",
      "properties": {
        "count": {
          "description": "Number of findings for this infoType.",
          "format": "int64",
          "type": "string"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The type of finding this stat is for."
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeStats"
    },
    "GooglePrivacyDlpV2RedactImageResponse": {
      "description": "Results of redacting an image.",
      "type": "object",
      "properties": {
        "redactedImage": {
          "description": "The redacted image. The type will be the same as the original image.",
          "format": "byte",
          "type": "string"
        },
        "extractedText": {
          "description": "If an image was being inspected and the InspectConfig's include_quote was\nset to true, then this field will include all text, if any, that was found\nin the image.",
          "type": "string"
        },
        "inspectResult": {
          "$ref": "GooglePrivacyDlpV2InspectResult",
          "description": "The findings. Populated when include_findings in the request is true."
        }
      },
      "id": "GooglePrivacyDlpV2RedactImageResponse"
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "description": "Findings container location data.",
      "type": "object",
      "properties": {
        "recordLocation": {
          "description": "Location within a row or record of a database table.",
          "$ref": "GooglePrivacyDlpV2RecordLocation"
        },
        "imageLocation": {
          "$ref": "GooglePrivacyDlpV2ImageLocation",
          "description": "Location within an image's pixels."
        },
        "documentLocation": {
          "$ref": "GooglePrivacyDlpV2DocumentLocation",
          "description": "Location data for document files."
        },
        "containerVersion": {
          "description": "Findings container version, if available\n(\"generation\" for Google Cloud Storage).",
          "type": "string"
        },
        "containerTimestamp": {
          "description": "Findings container modification timestamp, if applicable.\nFor Google Cloud Storage contains last file modification timestamp.\nFor BigQuery table contains last_modified_time property.\nFor Datastore - not populated.",
          "format": "google-datetime",
          "type": "string"
        },
        "containerName": {
          "description": "Name of the container where the finding is located.\nThe top level name is the source file name or table name. Names of some\ncommon storage containers are formatted as follows:\n\n* BigQuery tables:  `\u003cproject_id\u003e:\u003cdataset_id\u003e.\u003ctable_id\u003e`\n* Cloud Storage files: `gs://\u003cbucket\u003e/\u003cpath\u003e`\n* Datastore namespace: \u003cnamespace\u003e\n\nNested names could be absent if the embedded object has no string\nidentifier (for an example an image contained within a document).",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ContentLocation"
    },
    "GooglePrivacyDlpV2ListInfoTypesResponse": {
      "id": "GooglePrivacyDlpV2ListInfoTypesResponse",
      "description": "Response to the ListInfoTypes request.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "Set of sensitive infoTypes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeDescription"
          }
        }
      }
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "id": "GooglePrivacyDlpV2RedactConfig",
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation`\ntransforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the\noutput would be 'My phone number is '.",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2CloudStoragePath": {
      "description": "Message representing a single file or path in Cloud Storage.",
      "type": "object",
      "properties": {
        "path": {
          "description": "A url representing a file or path (no wildcards) in Cloud Storage.\nExample: gs://[BUCKET_NAME]/dictionary.txt",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStoragePath"
    },
    "GooglePrivacyDlpV2ActivateJobTriggerRequest": {
      "description": "Request message for ActivateJobTrigger.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2ActivateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2Schedule": {
      "description": "Schedule for triggeredJobs.",
      "type": "object",
      "properties": {
        "recurrencePeriodDuration": {
          "description": "With this option a job is started a regular periodic basis. For\nexample: every day (86400 seconds).\n\nA scheduled start time will be skipped if the previous\nexecution has not ended when its scheduled time occurs.\n\nThis value must be set to a time duration greater than or equal\nto 1 day and can be no longer than 60 days.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Schedule"
    },
    "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse": {
      "id": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse",
      "description": "Response message for ListDeidentifyTemplates.",
      "type": "object",
      "properties": {
        "deidentifyTemplates": {
          "description": "List of deidentify templates, up to page_size in\nListDeidentifyTemplatesRequest.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
          }
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used\nin following ListDeidentifyTemplates request.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2StoredInfoTypeVersion": {
      "description": "Version of a StoredInfoType, including the configuration used to build it,\ncreate timestamp, and current state.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Create timestamp of the version. Read-only, determined by the system\nwhen the version is created.",
          "format": "google-datetime",
          "type": "string"
        },
        "stats": {
          "description": "Statistics about this storedInfoType version.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeStats"
        },
        "config": {
          "description": "StoredInfoType configuration.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig"
        },
        "state": {
          "enumDescriptions": [
            "",
            "StoredInfoType version is being created.",
            "StoredInfoType version is ready for use.",
            "StoredInfoType creation failed. All relevant error messages are returned in\nthe `StoredInfoTypeVersion` message.",
            "StoredInfoType is no longer valid because artifacts stored in\nuser-controlled storage were modified. To fix an invalid StoredInfoType,\nuse the `UpdateStoredInfoType` method to create a new version."
          ],
          "enum": [
            "STORED_INFO_TYPE_STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FAILED",
            "INVALID"
          ],
          "description": "Stored info type version state. Read-only, updated by the system\nduring dictionary creation.",
          "type": "string"
        },
        "errors": {
          "description": "Errors that occurred when creating this storedInfoType version, or\nanomalies detected in the storedInfoType data that render it unusable. Only\nthe five most recent errors will be displayed, with the most recent error\nappearing first.\n\u003cp\u003eFor example, some of the data for stored custom dictionaries is put in\nthe user's Google Cloud Storage bucket, and if this data is modified or\ndeleted by the user or another system, the dictionary becomes invalid.\n\u003cp\u003eIf any errors occur, fix the problem indicated by the error message and\nuse the UpdateStoredInfoType API method to create another version of the\nstoredInfoType to continue using it, reusing the same `config` if it was\nnot the source of the error.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        }
      },
      "id": "GooglePrivacyDlpV2StoredInfoTypeVersion"
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryStats": {
      "description": "Summary statistics of a custom dictionary.",
      "type": "object",
      "properties": {
        "approxNumPhrases": {
          "description": "Approximate number of distinct phrases in the dictionary.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryStats"
    },
    "GooglePrivacyDlpV2Row": {
      "id": "GooglePrivacyDlpV2Row",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      }
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket",
      "type": "object",
      "properties": {
        "bucketSize": {
          "description": "Total number of values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "valueFrequencyUpperBound": {
          "description": "Upper bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "valueFrequencyLowerBound": {
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of value frequencies in this bucket. The total number of\nvalues returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyTemplate": {
      "description": "The DeidentifyTemplates contains instructions on how to deidentify content.\nSee https://cloud.google.com/dlp/docs/concepts-templates to learn more.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "The creation timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "The last update timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The template name. Output only.\n\nThe template will have one of the following formats:\n`projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR\n`organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`",
          "type": "string"
        },
        "description": {
          "description": "Short description (max 256 chars).",
          "type": "string"
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "deidentifyConfig": {
          "description": "///////////// // The core content of the template  // ///////////////",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyTemplate"
    },
    "GooglePrivacyDlpV2QuasiIdField": {
      "description": "A quasi-identifier column has a custom_tag, used to know which column\nin the data corresponds to which column in the statistical model.",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customTag": {
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2QuasiIdField"
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "description": "Request to search for potentially sensitive info in an image and redact it\nby covering it with a colored rectangle.",
      "type": "object",
      "properties": {
        "imageRedactionConfigs": {
          "description": "The configuration for specifying what content to redact from images.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          }
        },
        "byteItem": {
          "description": "The content must be PNG, JPEG, SVG or BMP.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "includeFindings": {
          "description": "Whether the response should include findings along with the redacted\nimage.",
          "type": "boolean"
        }
      },
      "id": "GooglePrivacyDlpV2RedactImageRequest"
    },
    "GooglePrivacyDlpV2BigQueryTable": {
      "description": "Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`\u003cproject_id\u003e:\u003cdataset_id\u003e.\u003ctable_id\u003e` or\n`\u003cproject_id\u003e.\u003cdataset_id\u003e.\u003ctable_id\u003e`.",
      "type": "object",
      "properties": {
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string"
        },
        "tableId": {
          "description": "Name of the table.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2BigQueryTable"
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "description": "The transformation to apply to the field.",
      "type": "object",
      "properties": {
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations",
          "description": "Treat the contents of the field as free text, and selectively\ntransform content that matches an `InfoType`."
        },
        "fields": {
          "description": "Input field(s) to apply the transformation to. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "primitiveTransformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "Apply the transformation to the entire field."
        },
        "condition": {
          "$ref": "GooglePrivacyDlpV2RecordCondition",
          "description": "Only apply the transformation if the condition evaluates to true for the\ngiven `RecordCondition`. The conditions are allowed to reference fields\nthat are not used in the actual transformation. [optional]\n\nExample Use Cases:\n\n- Apply a different bucket transformation to an age column if the zip code\ncolumn for the same record is within a specific range.\n- Redact a field if the date of birth field is greater than 85."
        }
      },
      "id": "GooglePrivacyDlpV2FieldTransformation"
    },
    "GooglePrivacyDlpV2PrimitiveTransformation": {
      "id": "GooglePrivacyDlpV2PrimitiveTransformation",
      "description": "A rule for transforming a value.",
      "type": "object",
      "properties": {
        "cryptoDeterministicConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoDeterministicConfig"
        },
[...]
