{
  "basePath": "",
  "id": "dlp:v2",
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "revision": "20181121",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "description": "Replaces an identifier with a surrogate using FPE with the FFX\nmode of operation; however when used in the `ReidentifyContent` API method,\nit serves the opposite function by reversing the surrogate back into\nthe original identifier.\nThe identifier must be encoded as ASCII.\nFor a given crypto key and context, the same identifier will be\nreplaced with the same surrogate.\nIdentifiers must be at least two characters long.\nIn the case that the identifier is the empty string, it will be skipped.\nSee https://cloud.google.com/dlp/docs/pseudonymization to learn more.",
      "type": "object",
      "properties": {
        "surrogateInfoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The custom infoType to annotate the surrogate with.\nThis annotation will be applied to the surrogate by prefixing it with\nthe name of the custom infoType followed by the number of\ncharacters comprising the surrogate. The following scheme defines the\nformat: info_type_name(surrogate_character_count):surrogate\n\nFor example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and\nthe surrogate is 'abc', the full replacement value\nwill be: 'MY_TOKEN_INFO_TYPE(3):abc'\n\nThis annotation identifies the surrogate when inspecting content using the\ncustom infoType\n[`SurrogateType`](/dlp/docs/reference/rest/v2/InspectConfig#surrogatetype).\nThis facilitates reversal of the surrogate when it occurs in free text.\n\nIn order for inspection to work properly, the name of this infoType must\nnot occur naturally anywhere in your data; otherwise, inspection may\nfind a surrogate that does not correspond to an actual identifier.\nTherefore, choose your custom infoType name carefully after considering\nwhat your data looks like. One way to select a name that has a high chance\nof yielding reliable detection is to include one or more unicode characters\nthat are highly improbable to exist in your data.\nFor example, assuming your data is entered from a regular ASCII keyboard,\nthe symbol with the hex code point 29DD might be used like so:\n⧝MY_TOKEN_TYPE"
        },
        "commonAlphabet": {
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "[0-9] (radix of 10)",
            "[0-9A-F] (radix of 16)",
            "[0-9A-Z] (radix of 36)",
            "[0-9A-Za-z] (radix of 62)"
          ]
        },
        "radix": {
          "description": "The native way to select the alphabet. Must be in the range [2, 62].",
          "format": "int32",
          "type": "integer"
        },
        "customAlphabet": {
          "description": "This is supported by mapping these to the alphanumeric characters\nthat the FFX mode natively supports. This happens before/after\nencryption/decryption.\nEach character listed must appear only once.\nNumber of characters must be in the range [2, 62].\nThis must be encoded as ASCII.\nThe order of characters does not matter.",
          "type": "string"
        },
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "The key used by the encryption algorithm. [required]"
        },
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "The 'tweak', a context may be used for higher security since the same\nidentifier in two different contexts won't be given the same surrogate. If\nthe context is not set, a default tweak will be used.\n\nIf the context is set but:\n\n1. there is no record present when transforming a given value or\n1. the field is not present when transforming a given value,\n\na default tweak will be used.\n\nNote that case (1) is expected when an `InfoTypeTransformation` is\napplied to both structured and non-structured `ContentItem`s.\nCurrently, the referenced field may be of value type integer or string.\n\nThe tweak is constructed as a sequence of bytes in big endian byte order\nsuch that:\n\n- a 64 bit integer is encoded followed by a single byte of value 1\n- a string is encoded in UTF-8 format followed by a single byte of value 2"
        }
      },
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig"
    },
    "GooglePrivacyDlpV2TimeZone": {
      "type": "object",
      "properties": {
        "offsetMinutes": {
          "type": "integer",
          "description": "Set only if the offset can be determined. Positive for time ahead of UTC.\nE.g. For \"UTC-9\", this value is -540.",
          "format": "int32"
        }
      },
      "id": "GooglePrivacyDlpV2TimeZone"
    },
    "GooglePrivacyDlpV2KAnonymityResult": {
      "description": "Result of the k-anonymity computation.",
      "type": "object",
      "properties": {
        "equivalenceClassHistogramBuckets": {
          "description": "Histogram of k-anonymity equivalence classes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2KAnonymityResult"
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "id": "GooglePrivacyDlpV2CryptoKey",
      "description": "This is a data encryption key (DEK) (as opposed to\na key encryption key (KEK) stored by KMS).\nWhen using KMS to wrap/unwrap DEKs, be sure to set an appropriate\nIAM policy on the KMS CryptoKey (KEK) to ensure an attacker cannot\nunwrap the data crypto key.",
      "type": "object",
      "properties": {
        "unwrapped": {
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey"
        },
        "transient": {
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey"
        },
        "kmsWrapped": {
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
        }
      }
    },
    "GooglePrivacyDlpV2TimespanConfig": {
      "properties": {
        "timestampField": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Specification of the field containing the timestamp of scanned items.\nUsed for data sources like Datastore or BigQuery.\nIf not specified for BigQuery, table last modification timestamp\nis checked against given time span.\nThe valid data types of the timestamp field are:\nfor BigQuery - timestamp, date, datetime;\nfor Datastore - timestamp.\nDatastore entity will be scanned if the timestamp property does not exist\nor its value is empty or invalid."
        },
        "endTime": {
          "description": "Exclude files or rows newer than this value.\nIf set to zero, no upper time limit is applied.",
          "format": "google-datetime",
          "type": "string"
        },
        "enableAutoPopulationOfTimespanConfig": {
          "description": "When the job is started by a JobTrigger we will automatically figure out\na valid start_time to avoid scanning files that have not been modified\nsince the last time the JobTrigger executed. This will be based on the\ntime of the execution of the last run of the JobTrigger.",
          "type": "boolean"
        },
        "startTime": {
          "description": "Exclude files or rows older than this value.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TimespanConfig",
      "description": "Configuration of the timespan of the items to include in scanning.\nCurrently only supported when inspecting Google Cloud Storage and BigQuery.",
      "type": "object"
    },
    "GooglePrivacyDlpV2RequestedOptions": {
      "type": "object",
      "properties": {
        "snapshotInspectTemplate": {
          "description": "If run with an InspectTemplate, a snapshot of its state at the time of\nthis run.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        },
        "jobConfig": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        }
      },
      "id": "GooglePrivacyDlpV2RequestedOptions"
    },
    "GooglePrivacyDlpV2EntityId": {
      "type": "object",
      "properties": {
        "field": {
          "description": "Composite key indicating which field contains the entity identifier.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2EntityId",
      "description": "An entity in a dataset is a field or set of fields that correspond to a\nsingle person. For example, in medical records the `EntityId` might be a\npatient identifier, or for financial records it might be an account\nidentifier. This message is used when generalizations or analysis must take\ninto account that multiple rows correspond to the same entity."
    },
    "GooglePrivacyDlpV2InspectContentRequest": {
      "type": "object",
      "properties": {
        "inspectConfig": {
          "description": "Configuration for the inspector. What specified here will override\nthe template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "inspectTemplateName": {
          "description": "Optional template to use. Any configuration directly specified in\ninspect_config will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        },
        "item": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      },
      "id": "GooglePrivacyDlpV2InspectContentRequest",
      "description": "Request to search for potentially sensitive info in a ContentItem."
    },
    "GooglePrivacyDlpV2QuasiId": {
      "type": "object",
      "properties": {
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must\nindicate an auxiliary table that contains statistical information on\nthe possible values of this column (below).",
          "type": "string"
        },
        "infoType": {
          "description": "A column can be tagged with a InfoType to use the relevant public\ndataset as a statistical model of population, if available. We\ncurrently support US ZIP codes, region codes, ages and genders.\nTo programmatically obtain the list of supported InfoTypes, use\nListInfoTypes with the supported_by=RISK_ANALYSIS filter.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from\nthe distribution of values in the input data"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Identifies the column. [required]"
        }
      },
      "id": "GooglePrivacyDlpV2QuasiId",
      "description": "A column with a semantic tag attached."
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "description": "The rule that adjusts the likelihood of findings within a certain\nproximity of hotwords.",
      "type": "object",
      "properties": {
        "likelihoodAdjustment": {
          "description": "Likelihood adjustment to apply to all matching findings.",
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment"
        },
        "hotwordRegex": {
          "description": "Regular expression pattern defining what qualifies as a hotword.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "proximity": {
          "description": "Proximity of the finding within which the entire hotword must reside.\nThe total length of the window cannot exceed 1000 characters. Note that\nthe finding itself will be included in the window, so that hotwords may\nbe used to match substrings of the finding itself. For example, the\ncertainty of a phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" could be\nadjusted upwards if the area code is known to be the local area code of\na company office using the hotword regex \"\\(xxx\\)\", where \"xxx\"\nis the area code in question.",
          "$ref": "GooglePrivacyDlpV2Proximity"
        }
      },
      "id": "GooglePrivacyDlpV2HotwordRule"
    },
    "GooglePrivacyDlpV2Regex": {
      "id": "GooglePrivacyDlpV2Regex",
      "description": "Message defining a custom regular expression.",
      "type": "object",
      "properties": {
        "pattern": {
          "description": "Pattern defining the regular expression. Its syntax\n(https://github.com/google/re2/wiki/Syntax) can be found under the\ngoogle/re2 repository on GitHub.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyContentResponse": {
      "id": "GooglePrivacyDlpV2DeidentifyContentResponse",
      "description": "Results of de-identifying a ContentItem.",
      "type": "object",
      "properties": {
        "overview": {
          "description": "An overview of the changes that were made on the `item`.",
          "$ref": "GooglePrivacyDlpV2TransformationOverview"
        },
        "item": {
          "$ref": "GooglePrivacyDlpV2ContentItem",
          "description": "The de-identified item."
        }
      }
    },
    "GooglePrivacyDlpV2Expressions": {
      "description": "An expression, consisting or an operator and conditions.",
      "type": "object",
      "properties": {
        "logicalOperator": {
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "description": "The operator to apply to the result of conditions. Default and currently\nonly supported value is `AND`.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "conditions": {
          "$ref": "GooglePrivacyDlpV2Conditions"
        }
      },
      "id": "GooglePrivacyDlpV2Expressions"
    },
    "GooglePrivacyDlpV2CategoricalStatsResult": {
      "description": "Result of the categorical stats computation.",
      "type": "object",
      "properties": {
        "valueFrequencyHistogramBuckets": {
          "description": "Histogram of value frequencies in the column.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2CategoricalStatsResult"
    },
    "GooglePrivacyDlpV2InfoTypeDescription": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Internal name of the infoType.",
          "type": "string"
        },
        "displayName": {
          "description": "Human readable form of the infoType name.",
          "type": "string"
        },
        "supportedBy": {
          "description": "Which parts of the API supports this InfoType.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ENUM_TYPE_UNSPECIFIED",
              "INSPECT",
              "RISK_ANALYSIS"
            ]
          },
          "enumDescriptions": [
            "",
            "Supported by the inspect operations.",
            "Supported by the risk analysis operations."
          ]
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeDescription",
      "description": "InfoType description."
    },
    "GooglePrivacyDlpV2UpdateInspectTemplateRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask"
        },
        "inspectTemplate": {
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "description": "New InspectTemplate value."
        }
      },
      "id": "GooglePrivacyDlpV2UpdateInspectTemplateRequest",
      "description": "Request message for UpdateInspectTemplate.",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectJobConfig": {
      "type": "object",
      "properties": {
        "actions": {
          "description": "Actions to execute at the completion of the job. Are executed in the order\nprovided.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          }
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "How and what to scan for."
        },
        "inspectTemplateName": {
          "description": "If provided, will be used as the default for all values in InspectConfig.\n`inspect_config` will be merged into the values persisted as part of the\ntemplate.",
          "type": "string"
        },
        "storageConfig": {
          "description": "The data to scan.",
          "$ref": "GooglePrivacyDlpV2StorageConfig"
        }
      },
      "id": "GooglePrivacyDlpV2InspectJobConfig"
    },
    "GooglePrivacyDlpV2LDiversityHistogramBucket": {
      "type": "object",
      "properties": {
        "bucketSize": {
          "description": "Total number of equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "sensitiveValueFrequencyUpperBound": {
          "description": "Upper bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "sensitiveValueFrequencyLowerBound": {
          "description": "Lower bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityEquivalenceClass"
          },
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20."
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityHistogramBucket"
    },
    "GooglePrivacyDlpV2CreateJobTriggerRequest": {
      "description": "Request message for CreateJobTrigger.",
      "type": "object",
      "properties": {
        "jobTrigger": {
          "description": "The JobTrigger to create.",
          "$ref": "GooglePrivacyDlpV2JobTrigger"
        },
        "triggerId": {
          "description": "The trigger id can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CreateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2InspectConfig": {
      "description": "Configuration description of the scanning process.\nWhen used with redactContent only info_types and min_likelihood are currently\nused.",
      "type": "object",
      "properties": {
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding is\nincluded in the response; see Finding.quote.",
          "type": "boolean"
        },
        "customInfoTypes": {
          "description": "CustomInfoTypes provided by the user. See\nhttps://cloud.google.com/dlp/docs/creating-custom-infotypes to learn more.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CustomInfoType"
          }
        },
        "limits": {
          "$ref": "GooglePrivacyDlpV2FindingLimits"
        },
        "contentOptions": {
          "description": "List of options defining data content to scan.\nIf empty, text, images, and other content will be included.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CONTENT_UNSPECIFIED",
              "CONTENT_TEXT",
              "CONTENT_IMAGE"
            ]
          },
          "enumDescriptions": [
            "Includes entire content of a file or a data stream.",
            "Text content within the data, excluding any metadata.",
            "Images found in the data."
          ]
        },
        "excludeInfoTypes": {
          "description": "When true, excludes type information of the findings.",
          "type": "boolean"
        },
        "minLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Only returns findings equal or above this threshold. The default is\nPOSSIBLE.\nSee https://cloud.google.com/dlp/docs/likelihood to learn more.",
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ]
        },
        "ruleSet": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRuleSet"
          },
          "description": "Set of rules to apply to the findings for this InspectConfig.\nExclusion rules, contained in the set are executed in the end, other\nrules are executed in the order they are specified for each info type."
        },
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to\nInfoType values returned by ListInfoTypes or listed at\nhttps://cloud.google.com/dlp/docs/infotypes-reference.\n\nWhen no InfoTypes or CustomInfoTypes are specified in a request, the\nsystem may automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.\n\nThe special InfoType name \"ALL_BASIC\" can be used to trigger all detectors,\nbut may change over time as new InfoTypes are added. If you need precise\ncontrol and predictability as to what detectors are run you should specify\nspecific InfoTypes listed in the reference.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      },
      "id": "GooglePrivacyDlpV2InspectConfig"
    },
    "GooglePrivacyDlpV2ExcludeInfoTypes": {
      "description": "List of exclude infoTypes.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "InfoType list in ExclusionRule rule drops a finding when it overlaps or\ncontained within with a finding of an infoType from this list. For\nexample, for `InspectionRuleSet.info_types` containing \"PHONE_NUMBER\"` and\n`exclusion_rule` containing `exclude_info_types.info_types` with\n\"EMAIL_ADDRESS\" the phone number findings are dropped if they overlap\nwith EMAIL_ADDRESS finding.\nThat leads to \"555-222-2222@example.org\" to generate only a single\nfinding, namely email address.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ExcludeInfoTypes"
    },
    "GooglePrivacyDlpV2LDiversityConfig": {
      "properties": {
        "sensitiveAttribute": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Sensitive field for computing the l-value."
        },
        "quasiIds": {
          "description": "Set of quasi-identifiers indicating how equivalence classes are\ndefined for the l-diversity computation. When multiple fields are\nspecified, they are considered a single composite key.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityConfig",
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "type": "object"
    },
    "GooglePrivacyDlpV2KAnonymityEquivalenceClass": {
      "description": "The set of columns' values that share the same ldiversity value",
      "type": "object",
      "properties": {
        "equivalenceClassSize": {
          "description": "Size of the equivalence class, for example number of rows with the\nabove set of values.",
          "format": "int64",
          "type": "string"
        },
        "quasiIdsValues": {
          "description": "Set of values defining the equivalence class. One value per\nquasi-identifier column in the original KAnonymity metric message.\nThe order is always the same as the original request.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      },
      "id": "GooglePrivacyDlpV2KAnonymityEquivalenceClass"
    },
    "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest": {
      "id": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest",
      "description": "Request message for UpdateStoredInfoType.",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "Updated configuration for the storedInfoType. If not provided, a new\nversion of the storedInfoType will be created with the existing\nconfiguration."
        },
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2DateShiftConfig": {
      "description": "Shifts dates by random number of days, with option to be consistent for the\nsame context. See https://cloud.google.com/dlp/docs/concepts-date-shifting\nto learn more.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "Causes the shift to be computed based on this key and the context. This\nresults in the same shift for the same context and crypto_key."
        },
        "upperBoundDays": {
          "type": "integer",
          "description": "Range of shift in days. Actual shift will be selected at random within this\nrange (inclusive ends). Negative means shift to earlier in time. Must not\nbe more than 365250 days (1000 years) each direction.\n\nFor example, 3 means shift date to at most 3 days into the future.\n[Required]",
          "format": "int32"
        },
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Points to the field that contains the context, for example, an entity id.\nIf set, must also set method. If set, shift will be consistent for the\ngiven context."
        },
        "lowerBoundDays": {
          "description": "For example, -5 means shift date to at most 5 days back in the past.\n[Required]",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2DateShiftConfig"
    },
    "GooglePrivacyDlpV2CloudStorageOptions": {
      "type": "object",
      "properties": {
        "bytesLimitPerFilePercent": {
          "description": "Max percentage of bytes to scan from a file. The rest are omitted. The\nnumber of bytes scanned is rounded down. Must be between 0 and 100,\ninclusively. Both 0 and 100 means no limit. Defaults to 0. Only one\nof bytes_limit_per_file and bytes_limit_per_file_percent can be specified.",
          "format": "int32",
          "type": "integer"
        },
        "fileTypes": {
          "type": "array",
          "items": {
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "BINARY_FILE",
              "TEXT_FILE"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "Includes all files.",
            "Includes all file extensions not covered by text file types.",
            "Included file extensions:\n  asc, brf, c, cc, cpp, csv, cxx, c++, cs, css, dart, eml, go, h, hh, hpp,\n  hxx, h++, hs, html, htm, shtml, shtm, xhtml, lhs, ini, java, js, json,\n  ocaml, md, mkd, markdown, m, ml, mli, pl, pm, php, phtml, pht, py, pyw,\n  rb, rbw, rs, rc, scala, sh, sql, tex, txt, text, tsv, vcard, vcs, wml,\n  xml, xsl, xsd, yml, yaml."
          ],
          "description": "List of file type groups to include in the scan.\nIf empty, all files are scanned and available data format processors\nare applied. In addition, the binary content of the selected files\nis always scanned as well."
        },
        "bytesLimitPerFile": {
          "description": "Max number of bytes to scan from a file. If a scanned file's size is bigger\nthan this value then the rest of the bytes are omitted. Only one\nof bytes_limit_per_file and bytes_limit_per_file_percent can be specified.",
          "format": "int64",
          "type": "string"
        },
        "filesLimitPercent": {
          "description": "Limits the number of files to scan to this percentage of the input FileSet.\nNumber of files scanned is rounded down. Must be between 0 and 100,\ninclusively. Both 0 and 100 means no limit. Defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "fileSet": {
          "description": "The set of one or more files to scan.",
          "$ref": "GooglePrivacyDlpV2FileSet"
        },
        "sampleMethod": {
          "enumDescriptions": [
            "",
            "Scan from the top (default).",
            "For each file larger than bytes_limit_per_file, randomly pick the offset\nto start scanning. The scanned bytes are contiguous."
          ],
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageOptions",
      "description": "Options defining a file or a set of files within a Google Cloud Storage\nbucket."
    },
    "GooglePrivacyDlpV2NumericalStatsConfig": {
      "properties": {
        "field": {
          "description": "Field to compute numerical stats on. Supported types are\ninteger, float, date, datetime, timestamp, time.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2NumericalStatsConfig",
      "description": "Compute numerical stats over an individual column, including\nmin, max, and quantiles.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ReidentifyContentResponse": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "GooglePrivacyDlpV2ContentItem",
          "description": "The re-identified item."
        },
        "overview": {
          "description": "An overview of the changes that were made to the `item`.",
          "$ref": "GooglePrivacyDlpV2TransformationOverview"
        }
      },
      "id": "GooglePrivacyDlpV2ReidentifyContentResponse",
      "description": "Results of re-identifying a item."
    },
    "GooglePrivacyDlpV2ValueFrequency": {
      "description": "A value of a field, including its frequency.",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "A value contained in the field in question."
        },
        "count": {
          "description": "How many times the value is contained in the field.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ValueFrequency"
    },
    "GooglePrivacyDlpV2KMapEstimationQuasiIdValues": {
      "description": "A tuple of values for the quasi-identifier columns.",
      "type": "object",
      "properties": {
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        },
        "estimatedAnonymity": {
          "description": "The estimated anonymity for these quasi-identifier values.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
    },
    "GooglePrivacyDlpV2InfoTypeTransformation": {
      "description": "A transformation to apply to text that is identified as a specific\ninfo_type.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "description": "InfoTypes to apply the transformation to. An empty list will cause\nthis transformation to apply to all findings that correspond to\ninfoTypes that were requested in `InspectConfig`."
        },
        "primitiveTransformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "Primitive transformation to apply to the infoType. [required]"
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeTransformation"
    },
    "GooglePrivacyDlpV2ContentItem": {
      "properties": {
        "value": {
          "description": "String data to inspect or redact.",
          "type": "string"
        },
        "byteItem": {
          "description": "Content data to inspect or redact. Replaces `type` and `data`.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        },
        "table": {
          "description": "Structured content for inspection. See\nhttps://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to\nlearn more.",
          "$ref": "GooglePrivacyDlpV2Table"
        }
      },
      "id": "GooglePrivacyDlpV2ContentItem",
      "description": "Container structure for the content to inspect.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket": {
      "description": "A DeltaPresenceEstimationHistogramBucket message with the following\nvalues:\n  min_probability: 0.1\n  max_probability: 0.2\n  frequency: 42\nmeans that there are 42 records for which δ is in [0.1, 0.2). An\nimportant particular case is when min_probability = max_probability = 1:\nthen, every individual who shares this quasi-identifier combination is in\nthe dataset.",
      "type": "object",
      "properties": {
        "minProbability": {
          "description": "Between 0 and 1.",
          "format": "double",
          "type": "number"
        },
        "bucketSize": {
          "description": "Number of records within these probability bounds.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct quasi-identifier tuple values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "maxProbability": {
          "description": "Always greater than or equal to min_probability.",
          "format": "double",
          "type": "number"
        },
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total\nnumber of classes returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues"
          }
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "description": "Location of the finding within an image.",
      "type": "object",
      "properties": {
        "boundingBoxes": {
          "description": "Bounding boxes locating the pixels within the image containing the finding.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ImageLocation"
    },
    "GooglePrivacyDlpV2BoundingBox": {
      "type": "object",
      "properties": {
        "height": {
          "description": "Height of the bounding box in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "description": "Top coordinate of the bounding box. (0,0) is upper left.",
          "format": "int32",
          "type": "integer"
        },
        "left": {
          "description": "Left coordinate of the bounding box. (0,0) is upper left.",
          "format": "int32",
          "type": "integer"
        },
        "width": {
          "description": "Width of the bounding box in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2BoundingBox",
      "description": "Bounding box encompassing detected text within an image."
    },
    "GooglePrivacyDlpV2RecordKey": {
      "description": "Message for a unique key indicating a record that contains a finding.",
      "type": "object",
      "properties": {
        "datastoreKey": {
          "$ref": "GooglePrivacyDlpV2DatastoreKey"
        },
        "bigQueryKey": {
          "$ref": "GooglePrivacyDlpV2BigQueryKey"
        }
      },
      "id": "GooglePrivacyDlpV2RecordKey"
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "description": "Partially mask a string by replacing a given number of characters with a\nfixed character. Masking can start from the beginning or end of the string.\nThis can be used on data of any type (numbers, longs, and so on) and when\nde-identifying structured data we'll attempt to preserve the original data's\ntype. (This allows you to take a long like 123 and modify it to a string like\n**3.",
      "type": "object",
      "properties": {
        "maskingCharacter": {
          "description": "Character to mask the sensitive values&mdash;for example, \"*\" for an\nalphabetic string such as name, or \"0\" for a numeric string such as ZIP\ncode or credit card number. String must have length 1. If not supplied, we\nwill default to \"*\" for strings, 0 for digits.",
          "type": "string"
        },
        "reverseOrder": {
          "description": "Mask characters in reverse order. For example, if `masking_character` is\n'0', number_to_mask is 14, and `reverse_order` is false, then\n1234-5678-9012-3456 -\u003e 00000000000000-3456\nIf `masking_character` is '*', `number_to_mask` is 3, and `reverse_order`\nis true, then 12345 -\u003e 12***",
          "type": "boolean"
        },
        "numberToMask": {
          "description": "Number of characters to mask. If not set, all matching chars will be\nmasked. Skipped characters do not count towards this tally.",
          "format": "int32",
          "type": "integer"
        },
        "charactersToIgnore": {
          "description": "When masking a string, items in this list will be skipped when replacing.\nFor example, if your string is 555-555-5555 and you ask us to skip `-` and\nmask 5 chars with * we would produce ***-*55-5555.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          }
        }
      },
      "id": "GooglePrivacyDlpV2CharacterMaskConfig"
    },
    "GooglePrivacyDlpV2SummaryResult": {
      "description": "A collection that informs the user the number of times a particular\n`TransformationResultCode` and error details occurred.",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        },
        "code": {
          "enum": [
            "TRANSFORMATION_RESULT_CODE_UNSPECIFIED",
            "SUCCESS",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "details": {
          "type": "string",
          "description": "A place for warnings or errors to show up if a transformation didn't\nwork as expected."
        }
      },
      "id": "GooglePrivacyDlpV2SummaryResult"
    },
    "GooglePrivacyDlpV2Bucket": {
      "id": "GooglePrivacyDlpV2Bucket",
      "description": "Bucket is represented as a range, along with replacement values.",
      "type": "object",
      "properties": {
        "min": {
          "description": "Lower bound of the range, inclusive. Type should be the same as max if\nused.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "max": {
          "description": "Upper bound of the range, exclusive; type must match min.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "replacementValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Replacement value for this bucket. If not provided\nthe default behavior will be to hyphenate the min-max range."
        }
      }
    },
    "GooglePrivacyDlpV2ReidentifyContentRequest": {
      "description": "Request to re-identify an item.",
      "type": "object",
      "properties": {
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector."
        },
        "inspectTemplateName": {
          "description": "Optional template to use. Any configuration directly specified in\n`inspect_config` will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        },
        "reidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "Configuration for the re-identification of the content item.\nThis field shares the same proto message type that is used for\nde-identification, however its usage here is for the reversal of the\nprevious de-identification. Re-identification is performed by examining\nthe transformations used to de-identify the items and executing the\nreverse. This requires that only reversible transformations\nbe provided here. The reversible transformations are:\n\n - `CryptoReplaceFfxFpeConfig`"
        },
        "item": {
          "description": "The item to re-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "reidentifyTemplateName": {
          "description": "Optional template to use. References an instance of `DeidentifyTemplate`.\nAny configuration directly specified in `reidentify_config` or\n`inspect_config` will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ReidentifyContentRequest"
    },
    "GooglePrivacyDlpV2Key": {
      "description": "A unique identifier for a Datastore entity.\nIf a key's partition ID or any of its path kinds or names are\nreserved/read-only, the key is reserved/read-only.\nA reserved/read-only key is forbidden in certain documented contexts.",
      "type": "object",
      "properties": {
        "partitionId": {
          "$ref": "GooglePrivacyDlpV2PartitionId",
          "description": "Entities are partitioned into subsets, currently identified by a project\nID and namespace ID.\nQueries are scoped to a single partition."
        },
        "path": {
          "description": "The entity path.\nAn entity path consists of one or more elements composed of a kind and a\nstring or numerical identifier, which identify entities. The first\nelement identifies a _root entity_, the second element identifies\na _child_ of the root entity, the third element identifies a child of the\nsecond entity, and so forth. The entities identified by all prefixes of\nthe path are called the element's _ancestors_.\n\nA path can never be empty, and a path can have at most 100 elements.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2PathElement"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Key"
    },
    "GooglePrivacyDlpV2TableLocation": {
      "description": "Location of a finding within a table.",
      "type": "object",
      "properties": {
        "rowIndex": {
          "description": "The zero-based index of the row where the finding is located.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TableLocation"
    },
    "GooglePrivacyDlpV2Conditions": {
      "description": "A collection of conditions.",
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Conditions"
    },
    "GooglePrivacyDlpV2CloudStorageRegexFileSet": {
      "type": "object",
      "properties": {
        "bucketName": {
          "description": "The name of a Cloud Storage bucket. Required.",
          "type": "string"
        },
        "includeRegex": {
          "description": "A list of regular expressions matching file paths to include. All files in\nthe bucket that match at least one of these regular expressions will be\nincluded in the set of files, except for those that also match an item in\n`exclude_regex`. Leaving this field empty will match all files by default\n(this is equivalent to including `.*` in the list).\n\nRegular expressions use RE2\n[syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found\nunder the google/re2 repository on GitHub.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludeRegex": {
          "description": "A list of regular expressions matching file paths to exclude. All files in\nthe bucket that match at least one of these regular expressions will be\nexcluded from the scan.\n\nRegular expressions use RE2\n[syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found\nunder the google/re2 repository on GitHub.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
      "description": "Message representing a set of files in a Cloud Storage bucket. Regular\nexpressions are used to allow fine-grained control over which files in the\nbucket to include.\n\nIncluded files are those that match at least one item in `include_regex` and\ndo not match any items in `exclude_regex`. Note that a file that matches\nitems from both lists will _not_ be included. For a match to occur, the\nentire file path (i.e., everything in the url after the bucket name) must\nmatch the regular expression.\n\nFor example, given the input `{bucket_name: \"mybucket\", include_regex:\n[\"directory1/.*\"], exclude_regex:\n[\"directory1/excluded.*\"]}`:\n\n* `gs://mybucket/directory1/myfile` will be included\n* `gs://mybucket/directory1/directory2/myfile` will be included (`.*` matches\nacross `/`)\n* `gs://mybucket/directory0/directory1/myfile` will _not_ be included (the\nfull path doesn't match any items in `include_regex`)\n* `gs://mybucket/directory1/excludedfile` will _not_ be included (the path\nmatches an item in `exclude_regex`)\n\nIf `include_regex` is left empty, it will match all files by default\n(this is equivalent to setting `include_regex: [\".*\"]`).\n\nSome other common use cases:\n\n* `{bucket_name: \"mybucket\", exclude_regex: [\".*\\.pdf\"]}` will include all\nfiles in `mybucket` except for .pdf files\n* `{bucket_name: \"mybucket\", include_regex: [\"directory/[^/]+\"]}` will\ninclude all files directly under `gs://mybucket/directory/`, without matching\nacross `/`"
    },
    "GooglePrivacyDlpV2TransformationSummary": {
      "description": "Summary of a single tranformation.\nOnly one of 'transformation', 'field_transformation', or 'record_suppress'\nwill be set.",
      "type": "object",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Set if the transformation was limited to a specific InfoType."
        },
        "transformation": {
          "description": "The specific transformation these stats apply to.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2SummaryResult"
          }
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Set if the transformation was limited to a specific FieldId."
        },
        "fieldTransformations": {
          "description": "The field transformation that was applied.\nIf multiple field transformations are requested for a single field,\nthis list will contain all of them; otherwise, only one is supplied.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        },
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "format": "int64",
          "type": "string"
        },
        "recordSuppress": {
          "$ref": "GooglePrivacyDlpV2RecordSuppression",
          "description": "The specific suppression option these stats apply to."
        }
      },
      "id": "GooglePrivacyDlpV2TransformationSummary"
    },
    "GooglePrivacyDlpV2ListInspectTemplatesResponse": {
      "description": "Response message for ListInspectTemplates.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used\nin following ListInspectTemplates request.",
          "type": "string"
        },
        "inspectTemplates": {
          "description": "List of inspectTemplates, up to page_size in ListInspectTemplatesRequest.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectTemplate"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "description": "Message representing a set of files in Cloud Storage.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The url, in the format `gs://\u003cbucket\u003e/\u003cpath\u003e`. Trailing wildcard in the\npath is allowed.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageFileSet"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling.\nRequired if no column is tagged with a region-specific InfoType (like\nUS_ZIP_5) or a region code.",
          "type": "string"
        },
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag\nused to tag a quasi-identifiers field must appear in exactly one\nfield of one auxiliary table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          }
        },
        "quasiIds": {
          "description": "Fields considered to be quasi-identifiers. No two fields can have the\nsame tag. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to\nfigure out that one given individual appears in a de-identified dataset.\nSimilarly to the k-map metric, we cannot compute δ-presence exactly without\nknowing the attack dataset, so we use a statistical model instead."
    },
    "GooglePrivacyDlpV2CreateInspectTemplateRequest": {
      "id": "GooglePrivacyDlpV2CreateInspectTemplateRequest",
      "description": "Request message for CreateInspectTemplate.",
      "type": "object",
      "properties": {
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "The InspectTemplate to create.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        }
      }
    },
    "GooglePrivacyDlpV2StoredInfoType": {
      "description": "StoredInfoType resource message that contains information about the current\nversion and any pending updates.",
      "type": "object",
      "properties": {
        "currentVersion": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion",
          "description": "Current version of the stored info type."
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        },
        "pendingVersions": {
          "description": "Pending versions of the stored info type. Empty if no versions are\npending.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
          }
        }
      },
      "id": "GooglePrivacyDlpV2StoredInfoType"
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "id": "GooglePrivacyDlpV2DetectionRule",
      "description": "Rule for modifying a CustomInfoType to alter behavior under certain\ncircumstances, depending on the specific details of the rule. Not supported\nfor the `surrogate_type` custom info type.",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        }
      }
    },
    "GooglePrivacyDlpV2InspectContentResponse": {
      "description": "Results of inspecting an item.",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "GooglePrivacyDlpV2InspectResult",
          "description": "The findings."
        }
      },
      "id": "GooglePrivacyDlpV2InspectContentResponse"
    },
    "GooglePrivacyDlpV2LDiversityResult": {
      "description": "Result of the l-diversity computation.",
      "type": "object",
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityResult"
    },
    "GooglePrivacyDlpV2FileSet": {
      "description": "Set of files to scan.",
      "type": "object",
      "properties": {
        "regexFileSet": {
          "$ref": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
          "description": "The regex-filtered set of files to scan. Exactly one of `url` or\n`regex_file_set` must be set."
        },
        "url": {
          "type": "string",
          "description": "The Cloud Storage url of the file(s) to scan, in the format\n`gs://\u003cbucket\u003e/\u003cpath\u003e`. Trailing wildcard in the path is allowed. Exactly\none of `url` or `regex_file_set` must be set."
        }
      },
      "id": "GooglePrivacyDlpV2FileSet"
    },
    "GooglePrivacyDlpV2OutputStorageConfig": {
      "properties": {
        "outputSchema": {
          "enum": [
            "OUTPUT_SCHEMA_UNSPECIFIED",
            "BASIC_COLUMNS",
            "GCS_COLUMNS",
            "DATASTORE_COLUMNS",
            "BIG_QUERY_COLUMNS",
            "ALL_COLUMNS"
          ],
          "description": "Schema used for writing the findings for Inspect jobs. This field is only\nused for Inspect and must be unspecified for Risk jobs. Columns are derived\nfrom the `Finding` object. If appending to an existing table, any columns\nfrom the predefined schema that are missing will be added. No columns in\nthe existing table will be deleted.\n\nIf unspecified, then all available columns will be used for a new table or\nan (existing) table with no schema, and no changes will be made to an\nexisting table that has a schema.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Basic schema including only `info_type`, `quote`, `certainty`, and\n`timestamp`.",
            "Schema tailored to findings from scanning Google Cloud Storage.",
            "Schema tailored to findings from scanning Google Datastore.",
            "Schema tailored to findings from scanning Google BigQuery.",
            "Schema containing all columns."
          ]
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Store findings in an existing table or a new table in an existing\ndataset. If table_id is not set a new one will be generated\nfor you with the following format:\ndlp_googleapis_yyyy_mm_dd_[dlp_job_id]. Pacific timezone will be used for\ngenerating the date details.\n\nFor Inspect, each column in an existing output table must have the same\nname, type, and mode of a field in the `Finding` object.\n\nFor Risk, an existing output table should be the output of a previous\nRisk analysis job run on the same source table, with the same privacy\nmetric and quasi-identifiers. Risk jobs that analyze the same table but\ncompute a different privacy metric, or use different sets of\nquasi-identifiers, cannot store their results in the same table."
        }
      },
      "id": "GooglePrivacyDlpV2OutputStorageConfig",
      "description": "Cloud repository for storing output.",
      "type": "object"
    },
    "GooglePrivacyDlpV2SaveFindings": {
      "description": "If set, the detailed findings will be persisted to the specified\nOutputStorageConfig. Only a single instance of this action can be\nspecified.\nCompatible with: Inspect, Risk",
      "type": "object",
      "properties": {
        "outputConfig": {
          "$ref": "GooglePrivacyDlpV2OutputStorageConfig"
        }
      },
      "id": "GooglePrivacyDlpV2SaveFindings"
    },
    "GooglePrivacyDlpV2SurrogateType": {
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2SurrogateType",
      "description": "Message for detecting output from deidentification transformations\nsuch as\n[`CryptoReplaceFfxFpeConfig`](/dlp/docs/reference/rest/v2/organizations.deidentifyTemplates#cryptoreplaceffxfpeconfig).\nThese types of transformations are\nthose that perform pseudonymization, thereby producing a \"surrogate\" as\noutput. This should be used in conjunction with a field on the\ntransformation such as `surrogate_info_type`. This CustomInfoType does\nnot support the use of `detection_rules`."
    },
    "GooglePrivacyDlpV2StorageConfig": {
      "description": "Shared message indicating Cloud storage type.",
      "type": "object",
      "properties": {
        "cloudStorageOptions": {
          "$ref": "GooglePrivacyDlpV2CloudStorageOptions",
          "description": "Google Cloud Storage options specification."
        },
        "datastoreOptions": {
          "description": "Google Cloud Datastore options specification.",
          "$ref": "GooglePrivacyDlpV2DatastoreOptions"
        },
        "timespanConfig": {
          "$ref": "GooglePrivacyDlpV2TimespanConfig"
        },
        "bigQueryOptions": {
          "description": "BigQuery options specification.",
          "$ref": "GooglePrivacyDlpV2BigQueryOptions"
        }
      },
      "id": "GooglePrivacyDlpV2StorageConfig"
    },
    "GooglePrivacyDlpV2Error": {
      "description": "Details information about an error encountered during job execution or\nthe results of an unsuccessful activation of the JobTrigger.\nOutput only field.",
      "type": "object",
      "properties": {
        "details": {
          "$ref": "GoogleRpcStatus"
        },
        "timestamps": {
          "description": "The times the error occurred.",
          "type": "array",
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Error"
    },
    "GooglePrivacyDlpV2UnwrappedCryptoKey": {
      "description": "Using raw keys is prone to security risks due to accidentally\nleaking the key. Choose another type of key if possible.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The AES 128/192/256 bit key. [required]",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2UnwrappedCryptoKey"
    },
    "GooglePrivacyDlpV2Table": {
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed.\nSee https://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to\nlearn more.",
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Row"
          }
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Table"
    },
    "GooglePrivacyDlpV2QuasiIdentifierField": {
      "description": "A quasi-identifier column has a custom_tag, used to know which column\nin the data corresponds to which column in the statistical model.",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customTag": {
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2QuasiIdentifierField"
    },
    "GooglePrivacyDlpV2UpdateJobTriggerRequest": {
      "description": "Request message for UpdateJobTrigger.",
      "type": "object",
      "properties": {
        "jobTrigger": {
          "$ref": "GooglePrivacyDlpV2JobTrigger",
          "description": "New JobTrigger value."
        },
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2CryptoHashConfig": {
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing.\nUses SHA-256.\nThe key size must be either 32 or 64 bytes.\nOutputs a 32 byte digest as an uppercase hex string\n(for example, 41D1567F7F99F1DC2A5FAB886DEE5BEE).\nCurrently, only string and integer values can be hashed.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "description": "The key used by the hash function.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        }
      },
      "id": "GooglePrivacyDlpV2CryptoHashConfig"
    },
    "GooglePrivacyDlpV2PublishToPubSub": {
      "description": "Publish the results of a DlpJob to a pub sub channel.\nCompatible with: Inspect, Risk",
      "type": "object",
      "properties": {
        "topic": {
          "description": "Cloud Pub/Sub topic to send notifications to. The topic must have given\npublishing access rights to the DLP API service account executing\nthe long running DlpJob sending the notifications.\nFormat is projects/{project}/topics/{topic}.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2PublishToPubSub"
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryConfig": {
      "description": "Configuration for a custom dictionary created from a data source of any size\nup to the maximum size defined in the\n[limits](https://cloud.google.com/dlp/limits) page. The artifacts of\ndictionary creation are stored in the specified Google Cloud Storage\nlocation. Consider using `CustomInfoType.Dictionary` for smaller dictionaries\nthat satisfy the size requirements.",
      "type": "object",
      "properties": {
        "outputPath": {
          "$ref": "GooglePrivacyDlpV2CloudStoragePath",
          "description": "Location to store dictionary artifacts in Google Cloud Storage. These files\nwill only be accessible by project owners and the DLP API. If any of these\nartifacts are modified, the dictionary is considered invalid and can no\nlonger be used."
        },
        "bigQueryField": {
          "$ref": "GooglePrivacyDlpV2BigQueryField",
          "description": "Field in a BigQuery table where each cell represents a dictionary phrase."
        },
        "cloudStorageFileSet": {
          "description": "Set of files containing newline-delimited lists of dictionary phrases.",
          "$ref": "GooglePrivacyDlpV2CloudStorageFileSet"
        }
      },
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryConfig"
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "description": "Message for infoType-dependent details parsed from quote.",
      "type": "object",
      "properties": {
        "dateTime": {
          "$ref": "GooglePrivacyDlpV2DateTime",
          "description": "The date time indicated by the quote."
        }
      },
      "id": "GooglePrivacyDlpV2QuoteInfo"
    },
    "GooglePrivacyDlpV2DlpJob": {
      "description": "Combines all of the information about a DLP job.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Time when the job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "jobTriggerName": {
          "description": "If created by a job trigger, the resource name of the trigger that\ninstantiated the job.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The job has not yet started.",
            "The job is currently running.",
            "The job is no longer running.",
            "The job was canceled before it could complete.",
            "The job had an error and did not complete."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "CANCELED",
            "FAILED"
          ],
          "description": "State of a job."
        },
        "riskDetails": {
          "description": "Results from analyzing risk of a data source.",
          "$ref": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails"
        },
        "name": {
          "description": "The server-assigned name.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "The job inspected Google Cloud for sensitive data.",
            "The job executed a Risk Analysis computation."
          ],
          "enum": [
            "DLP_JOB_TYPE_UNSPECIFIED",
            "INSPECT_JOB",
            "RISK_ANALYSIS_JOB"
          ],
          "description": "The type of job.",
          "type": "string"
        },
        "endTime": {
          "description": "Time when the job finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "errors": {
          "description": "A stream of errors encountered running the job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "startTime": {
          "description": "Time when the job started.",
          "format": "google-datetime",
          "type": "string"
        },
        "inspectDetails": {
          "$ref": "GooglePrivacyDlpV2InspectDataSourceDetails",
          "description": "Results from inspecting a data source."
        }
      },
      "id": "GooglePrivacyDlpV2DlpJob"
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "description": "Configuration for determining how redaction of images should occur.",
      "type": "object",
      "properties": {
        "redactionColor": {
          "description": "The color to use when redacting content from an image. If not specified,\nthe default is black.",
          "$ref": "GooglePrivacyDlpV2Color"
        },
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an\ninfo_type, is redacted. Only one should be provided.",
          "type": "boolean"
        },
        "infoType": {
          "description": "Only one per info_type should be provided per request. If not\nspecified, and redact_all_text is false, the DLP API will redact all\ntext that it matches against all info_types that are found, but not\nspecified in another ImageRedactionConfig.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "id": "GooglePrivacyDlpV2ImageRedactionConfig"
    },
    "GooglePrivacyDlpV2PublishSummaryToCscc": {
      "properties": {},
      "id": "GooglePrivacyDlpV2PublishSummaryToCscc",
      "description": "Publish the result summary of a DlpJob to the Cloud Security\nCommand Center (CSCC Alpha).\nThis action is only available for projects which are parts of\nan organization and whitelisted for the alpha Cloud Security Command\nCenter.\nThe action will publish count of finding instances and their info types.\nThe summary of findings will be persisted in CSCC and are governed by CSCC\nservice-specific policy, see https://cloud.google.com/terms/service-terms\nOnly a single instance of this action can be specified.\nCompatible with: Inspect",
      "type": "object"
    },
    "GooglePrivacyDlpV2RecordTransformations": {
      "description": "A type of transformation that is applied over structured data such as a\ntable.",
      "type": "object",
      "properties": {
        "recordSuppressions": {
          "description": "Configuration defining which records get suppressed entirely. Records that\nmatch any suppression rule are omitted from the output [optional].",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2RecordSuppression"
          }
        },
        "fieldTransformations": {
          "description": "Transform the record by applying various field transformations.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        }
      },
      "id": "GooglePrivacyDlpV2RecordTransformations"
    },
    "GooglePrivacyDlpV2InfoTypeStats": {
      "description": "Statistics regarding a specific InfoType.",
      "type": "object",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The type of finding this stat is for."
        },
        "count": {
          "description": "Number of findings for this infoType.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeStats"
    },
    "GooglePrivacyDlpV2Result": {
      "properties": {
        "processedBytes": {
          "description": "Total size in bytes that were processed.",
          "format": "int64",
          "type": "string"
        },
        "totalEstimatedBytes": {
          "description": "Estimate of the number of bytes to process.",
          "format": "int64",
          "type": "string"
        },
        "infoTypeStats": {
          "description": "Statistics of how many instances of each info type were found during\ninspect job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Result",
      "type": "object"
    },
    "GooglePrivacyDlpV2DateTime": {
      "description": "Message for a date time object.\ne.g. 2018-01-01, 5th August.",
      "type": "object",
      "properties": {
        "timeZone": {
          "$ref": "GooglePrivacyDlpV2TimeZone"
        },
        "dayOfWeek": {
          "enumDescriptions": [
            "The unspecified day-of-week.",
            "The day-of-week of Monday.",
            "The day-of-week of Tuesday.",
            "The day-of-week of Wednesday.",
            "The day-of-week of Thursday.",
            "The day-of-week of Friday.",
            "The day-of-week of Saturday.",
            "The day-of-week of Sunday."
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        },
        "time": {
          "$ref": "GoogleTypeTimeOfDay"
        },
        "date": {
          "$ref": "GoogleTypeDate",
          "description": "One or more of the following must be set. All fields are optional, but\nwhen set must be valid date or time values."
        }
      },
      "id": "GooglePrivacyDlpV2DateTime"
    },
    "GooglePrivacyDlpV2KmsWrappedCryptoKey": {
      "id": "GooglePrivacyDlpV2KmsWrappedCryptoKey",
      "description": "Include to use an existing data crypto key wrapped by KMS.\nAuthorization requires the following IAM permissions when sending a request\nto perform a crypto transformation using a kms-wrapped crypto key:\ndlp.kms.encrypt",
      "type": "object",
      "properties": {
        "wrappedKey": {
          "type": "string",
          "description": "The wrapped data crypto key. [required]",
          "format": "byte"
        },
        "cryptoKeyName": {
          "description": "The resource name of the KMS CryptoKey to use for unwrapping. [required]",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2RedactImageResponse": {
      "properties": {
        "redactedImage": {
          "type": "string",
          "description": "The redacted image. The type will be the same as the original image.",
          "format": "byte"
        },
        "extractedText": {
          "description": "If an image was being inspected and the InspectConfig's include_quote was\nset to true, then this field will include all text, if any, that was found\nin the image.",
          "type": "string"
        },
        "inspectResult": {
          "$ref": "GooglePrivacyDlpV2InspectResult",
          "description": "The findings. Populated when include_findings in the request is true."
        }
      },
      "id": "GooglePrivacyDlpV2RedactImageResponse",
      "description": "Results of redacting an image.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "description": "Findings container location data.",
      "type": "object",
      "properties": {
        "containerName": {
          "description": "Name of the container where the finding is located.\nThe top level name is the source file name or table name. Names of some\ncommon storage containers are formatted as follows:\n\n* BigQuery tables:  `\u003cproject_id\u003e:\u003cdataset_id\u003e.\u003ctable_id\u003e`\n* Cloud Storage files: `gs://\u003cbucket\u003e/\u003cpath\u003e`\n* Datastore namespace: \u003cnamespace\u003e\n\nNested names could be absent if the embedded object has no string\nidentifier (for an example an image contained within a document).",
          "type": "string"
        },
        "recordLocation": {
          "$ref": "GooglePrivacyDlpV2RecordLocation",
          "description": "Location within a row or record of a database table."
        },
        "imageLocation": {
          "description": "Location within an image's pixels.",
          "$ref": "GooglePrivacyDlpV2ImageLocation"
        },
        "documentLocation": {
          "description": "Location data for document files.",
          "$ref": "GooglePrivacyDlpV2DocumentLocation"
        },
        "containerVersion": {
          "description": "Findings container version, if available\n(\"generation\" for Google Cloud Storage).",
          "type": "string"
        },
        "containerTimestamp": {
          "description": "Findings container modification timestamp, if applicable.\nFor Google Cloud Storage contains last file modification timestamp.\nFor BigQuery table contains last_modified_time property.\nFor Datastore - not populated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ContentLocation"
    },
    "GooglePrivacyDlpV2ListInfoTypesResponse": {
      "properties": {
        "infoTypes": {
          "description": "Set of sensitive infoTypes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeDescription"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ListInfoTypesResponse",
      "description": "Response to the ListInfoTypes request.",
      "type": "object"
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation`\ntransforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the\noutput would be 'My phone number is '.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2RedactConfig"
    },
    "GooglePrivacyDlpV2CloudStoragePath": {
      "description": "Message representing a single file or path in Cloud Storage.",
      "type": "object",
      "properties": {
        "path": {
          "description": "A url representing a file or path (no wildcards) in Cloud Storage.\nExample: gs://[BUCKET_NAME]/dictionary.txt",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStoragePath"
    },
    "GooglePrivacyDlpV2Schedule": {
      "description": "Schedule for triggeredJobs.",
      "type": "object",
      "properties": {
        "recurrencePeriodDuration": {
          "description": "With this option a job is started a regular periodic basis. For\nexample: every day (86400 seconds).\n\nA scheduled start time will be skipped if the previous\nexecution has not ended when its scheduled time occurs.\n\nThis value must be set to a time duration greater than or equal\nto 1 day and can be no longer than 60 days.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Schedule"
    },
    "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse": {
      "description": "Response message for ListDeidentifyTemplates.",
      "type": "object",
      "properties": {
        "deidentifyTemplates": {
          "description": "List of deidentify templates, up to page_size in\nListDeidentifyTemplatesRequest.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
          }
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used\nin following ListDeidentifyTemplates request.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
    },
    "GooglePrivacyDlpV2StoredInfoTypeVersion": {
      "id": "GooglePrivacyDlpV2StoredInfoTypeVersion",
      "description": "Version of a StoredInfoType, including the configuration used to build it,\ncreate timestamp, and current state.",
      "type": "object",
      "properties": {
        "config": {
          "description": "StoredInfoType configuration.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig"
        },
        "state": {
          "enumDescriptions": [
            "",
            "StoredInfoType version is being created.",
            "StoredInfoType version is ready for use.",
            "StoredInfoType creation failed. All relevant error messages are returned in\nthe `StoredInfoTypeVersion` message.",
            "StoredInfoType is no longer valid because artifacts stored in\nuser-controlled storage were modified. To fix an invalid StoredInfoType,\nuse the `UpdateStoredInfoType` method to create a new version."
          ],
          "enum": [
            "STORED_INFO_TYPE_STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FAILED",
            "INVALID"
          ],
          "description": "Stored info type version state. Read-only, updated by the system\nduring dictionary creation.",
          "type": "string"
        },
        "errors": {
          "description": "Errors that occurred when creating this storedInfoType version, or\nanomalies detected in the storedInfoType data that render it unusable. Only\nthe five most recent errors will be displayed, with the most recent error\nappearing first.\n\u003cp\u003eFor example, some of the data for stored custom dictionaries is put in\nthe user's Google Cloud Storage bucket, and if this data is modified or\ndeleted by the user or another system, the dictionary becomes invalid.\n\u003cp\u003eIf any errors occur, fix the problem indicated by the error message and\nuse the UpdateStoredInfoType API method to create another version of the\nstoredInfoType to continue using it, reusing the same `config` if it was\nnot the source of the error.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "createTime": {
          "description": "Create timestamp of the version. Read-only, determined by the system\nwhen the version is created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2Row": {
      "id": "GooglePrivacyDlpV2Row",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      }
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket",
      "type": "object",
      "properties": {
        "valueFrequencyUpperBound": {
          "description": "Upper bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "valueFrequencyLowerBound": {
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of value frequencies in this bucket. The total number of\nvalues returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        },
        "bucketSize": {
          "description": "Total number of values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct values in this bucket.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyTemplate": {
      "description": "The DeidentifyTemplates contains instructions on how to deidentify content.\nSee https://cloud.google.com/dlp/docs/concepts-templates to learn more.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "description": {
          "description": "Short description (max 256 chars).",
          "type": "string"
        },
        "deidentifyConfig": {
          "description": "///////////// // The core content of the template  // ///////////////",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "createTime": {
          "description": "The creation timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "The last update timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The template name. Output only.\n\nThe template will have one of the following formats:\n`projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR\n`organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyTemplate"
    },
    "GooglePrivacyDlpV2QuasiIdField": {
      "description": "A quasi-identifier column has a custom_tag, used to know which column\nin the data corresponds to which column in the statistical model.",
      "type": "object",
      "properties": {
        "customTag": {
          "type": "string"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2QuasiIdField"
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "properties": {
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector."
        },
        "includeFindings": {
          "description": "Whether the response should include findings along with the redacted\nimage.",
          "type": "boolean"
        },
        "imageRedactionConfigs": {
          "description": "The configuration for specifying what content to redact from images.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          }
        },
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "The content must be PNG, JPEG, SVG or BMP."
        }
      },
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "description": "Request to search for potentially sensitive info in an image and redact it\nby covering it with a colored rectangle.",
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryTable": {
      "description": "Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`\u003cproject_id\u003e:\u003cdataset_id\u003e.\u003ctable_id\u003e` or\n`\u003cproject_id\u003e.\u003cdataset_id\u003e.\u003ctable_id\u003e`.",
      "type": "object",
      "properties": {
        "tableId": {
          "description": "Name of the table.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call.",
          "type": "string"
        },
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2BigQueryTable"
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "description": "The transformation to apply to the field.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Input field(s) to apply the transformation to. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "primitiveTransformation": {
          "description": "Apply the transformation to the entire field.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        },
        "condition": {
          "description": "Only apply the transformation if the condition evaluates to true for the\ngiven `RecordCondition`. The conditions are allowed to reference fields\nthat are not used in the actual transformation. [optional]\n\nExample Use Cases:\n\n- Apply a different bucket transformation to an age column if the zip code\ncolumn for the same record is within a specific range.\n- Redact a field if the date of birth field is greater than 85.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        },
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations",
          "description": "Treat the contents of the field as free text, and selectively\ntransform content that matches an `InfoType`."
        }
      },
      "id": "GooglePrivacyDlpV2FieldTransformation"
    },
    "GooglePrivacyDlpV2PrimitiveTransformation": {
      "properties": {
        "replaceWithInfoTypeConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig"
        },
        "cryptoHashConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoHashConfig"
        },
        "cryptoReplaceFfxFpeConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig"
        },
        "replaceConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceValueConfig"
        },
        "timePartConfig": {
          "$ref": "GooglePrivacyDlpV2TimePartConfig"
        },
        "fixedSizeBucketingConfig": {
          "$ref": "GooglePrivacyDlpV2FixedSizeBucketingConfig"
        },
        "dateShiftConfig": {
          "$ref": "GooglePrivacyDlpV2DateShiftConfig"
        },
        "characterMaskConfig": {
          "$ref": "GooglePrivacyDlpV2CharacterMaskConfig"
        },
        "redactConfig": {
          "$ref": "GooglePrivacyDlpV2RedactConfig"
        },
        "bucketingConfig": {
          "$ref": "GooglePrivacyDlpV2BucketingConfig"
        }
      },
      "id": "GooglePrivacyDlpV2PrimitiveTransformation",
      "description": "A rule for transforming a value.",
      "type": "object"
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "description": "Result of a risk analysis operation request.",
      "type": "object",
      "properties": {
        "kMapEstimationResult": {
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult"
        },
        "deltaPresenceEstimationResult": {
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult"
        },
        "lDiversityResult": {
          "$ref": "GooglePrivacyDlpV2LDiversityResult"
        },
        "requestedSourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult"
        },
        "requestedPrivacyMetric": {
          "$ref": "GooglePrivacyDlpV2PrivacyMetric",
          "description": "Privacy metric to compute."
        },
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult"
        },
        "kAnonymityResult": {
          "$ref": "GooglePrivacyDlpV2KAnonymityResult"
        }
      },
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails"
    },
    "GooglePrivacyDlpV2InspectResult": {
      "description": "All the findings for a single scanned item.",
      "type": "object",
      "properties": {
        "findings": {
          "description": "List of findings for an item.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Finding"
          }
        },
        "findingsTruncated": {
          "type": "boolean",
          "description": "If true, then this item might have more findings than were returned,\nand the findings returned are an arbitrary subset of all findings.\nThe findings list might be truncated because the input items were too\nlarge, or because the server reached the maximum amount of resources\nallowed for a single API call. For best results, divide the input into\nsmaller batches."
        }
      },
      "id": "GooglePrivacyDlpV2InspectResult"
    },
    "GooglePrivacyDlpV2Dictionary": {
      "properties": {
        "wordList": {
          "description": "List of words or phrases to search for.",
          "$ref": "GooglePrivacyDlpV2WordList"
        },
        "cloudStoragePath": {
          "description": "Newline-delimited file of words in Cloud Storage. Only a single file\nis accepted.",
          "$ref": "GooglePrivacyDlpV2CloudStoragePath"
        }
      },
      "id": "GooglePrivacyDlpV2Dictionary",
      "description": "Custom information type based on a dictionary of words or phrases. This can\nbe used to match sensitive information specific to the data, such as a list\nof employee IDs or job titles.\n\nDictionary words are case-insensitive and all characters other than letters\nand digits in the unicode [Basic Multilingual\nPlane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)\nwill be replaced with whitespace when scanning for matches, so the\ndictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\",\n\"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters\nsurrounding any match must be of a different type than the adjacent\ncharacters within the word, so letters must be next to non-letters and\ndigits next to non-digits. For example, the dictionary word \"jen\" will\nmatch the first three letters of the text \"jen123\" but will return no\nmatches for \"jennifer\".\n\nDictionary words containing a large number of characters that are not\nletters or digits may result in unexpected findings because such characters\nare treated as whitespace. The\n[limits](https://cloud.google.com/dlp/limits) page contains details about\nthe size limits of dictionaries. For dictionaries that do not fit within\nthese constraints, consider using `LargeCustomDictionaryConfig` in the\n`StoredInfoType` API.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GooglePrivacyDlpV2InspectionRule": {
      "description": "A single inspection rule to be applied to infoTypes, specified in\n`InspectionRuleSet`.",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        },
        "exclusionRule": {
          "$ref": "GooglePrivacyDlpV2ExclusionRule",
          "description": "Exclusion rule."
        }
      },
      "id": "GooglePrivacyDlpV2InspectionRule"
    },
    "GooglePrivacyDlpV2TimePartConfig": {
      "description": "For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a\nportion of the value.",
      "type": "object",
      "properties": {
        "partToExtract": {
          "enum": [
            "TIME_PART_UNSPECIFIED",
            "YEAR",
            "MONTH",
            "DAY_OF_MONTH",
            "DAY_OF_WEEK",
            "WEEK_OF_YEAR",
            "HOUR_OF_DAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "[0-9999]",
            "[1-12]",
            "[1-31]",
            "[1-7]",
            "[1-52]",
            "[0-23]"
          ]
        }
      },
      "id": "GooglePrivacyDlpV2TimePartConfig"
    },
    "GooglePrivacyDlpV2Proximity": {
      "properties": {
        "windowBefore": {
          "description": "Number of characters before the finding to consider.",
          "format": "int32",
          "type": "integer"
        },
        "windowAfter": {
          "description": "Number of characters after the finding to consider.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2Proximity",
      "description": "Message for specifying a window around a finding to apply a detection\nrule.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Condition": {
      "properties": {
        "field": {
          "description": "Field within the record this condition is evaluated against. [required]",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "operator": {
          "enum": [
            "RELATIONAL_OPERATOR_UNSPECIFIED",
            "EQUAL_TO",
            "NOT_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUALS",
            "LESS_THAN_OR_EQUALS",
            "EXISTS"
          ],
          "description": "Operator used to compare the field or infoType to the value. [required]",
          "type": "string",
          "enumDescriptions": [
            "",
            "Equal.",
            "Not equal to.",
            "Greater than.",
            "Less than.",
            "Greater than or equals.",
            "Less than or equals.",
            "Exists"
          ]
        },
        "value": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Value to compare against. [Required, except for `EXISTS` tests.]"
        }
      },
      "id": "GooglePrivacyDlpV2Condition",
      "description": "The field type of `value` and `field` do not need to match to be\nconsidered equal, but not all comparisons are possible.\n\nA `value` of type:\n\n- `string` can be compared against all other types\n- `boolean` can only be compared against other booleans\n- `integer` can be compared against doubles or a string if the string value\ncan be parsed as an integer.\n- `double` can be compared against integers or a string if the string can\nbe parsed as a double.\n- `Timestamp` can be compared against strings in RFC 3339 date string\nformat.\n- `TimeOfDay` can be compared against timestamps and strings in the format\nof 'HH:mm:ss'.\n\nIf we fail to compare do to type mismatch, a warning will be given and\nthe condition will evaluate to false.",
      "type": "object"
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "description": "Message for specifying an adjustment to the likelihood of a finding as\npart of a detection rule.",
      "type": "object",
      "properties": {
        "relativeLikelihood": {
          "description": "Increase or decrease the likelihood by the specified number of\nlevels. For example, if a finding would be `POSSIBLE` without the\ndetection rule and `relative_likelihood` is 1, then it is upgraded to\n`LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`.\nLikelihood may never drop below `VERY_UNLIKELY` or exceed\n`VERY_LIKELY`, so applying an adjustment of 1 followed by an\nadjustment of -1 when base likelihood is `VERY_LIKELY` will result in\na final likelihood of `LIKELY`.",
          "format": "int32",
          "type": "integer"
        },
        "fixedLikelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Set the likelihood of a finding to a fixed value.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment"
    },
    "GooglePrivacyDlpV2Action": {
      "description": "A task to execute on the completion of a job.\nSee https://cloud.google.com/dlp/docs/concepts-actions to learn more.",
      "type": "object",
      "properties": {
        "saveFindings": {
          "$ref": "GooglePrivacyDlpV2SaveFindings",
          "description": "Save resulting findings in a provided location."
        },
[...]
