{
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "GooglePrivacyDlpV2ListInspectTemplatesResponse": {
      "id": "GooglePrivacyDlpV2ListInspectTemplatesResponse",
      "description": "Response message for ListInspectTemplates.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used\nin following ListInspectTemplates request.",
          "type": "string"
        },
        "inspectTemplates": {
          "description": "List of inspectTemplates, up to page_size in ListInspectTemplatesRequest.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectTemplate"
          }
        }
      }
    },
    "GooglePrivacyDlpV2CreateInspectTemplateRequest": {
      "description": "Request message for CreateInspectTemplate.",
      "type": "object",
      "properties": {
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "inspectTemplate": {
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "description": "The InspectTemplate to create."
        }
      },
      "id": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to\nfigure out that one given individual appears in a de-identified dataset.\nSimilarly to the k-map metric, we cannot compute δ-presence exactly without\nknowing the attack dataset, so we use a statistical model instead.",
      "type": "object",
      "properties": {
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag\nused to tag a quasi-identifiers field must appear in exactly one\nfield of one auxiliary table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          }
        },
        "quasiIds": {
          "description": "Fields considered to be quasi-identifiers. No two fields can have the\nsame tag. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          }
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling.\nRequired if no column is tagged with a region-specific InfoType (like\nUS_ZIP_5) or a region code."
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig"
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "description": "Message representing a set of files in Cloud Storage.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The url, in the format `gs://\u003cbucket\u003e/\u003cpath\u003e`. Trailing wildcard in the\npath is allowed.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageFileSet"
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "description": "Rule for modifying a CustomInfoType to alter behavior under certain\ncircumstances, depending on the specific details of the rule. Not supported\nfor the `surrogate_type` custom info type.",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        }
      },
      "id": "GooglePrivacyDlpV2DetectionRule"
    },
    "GooglePrivacyDlpV2StoredInfoType": {
      "description": "StoredInfoType resource message that contains information about the current\nversion and any pending updates.",
      "type": "object",
      "properties": {
        "pendingVersions": {
          "description": "Pending versions of the stored info type. Empty if no versions are\npending.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
          }
        },
        "currentVersion": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion",
          "description": "Current version of the stored info type."
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2StoredInfoType"
    },
    "GooglePrivacyDlpV2InspectContentResponse": {
      "id": "GooglePrivacyDlpV2InspectContentResponse",
      "description": "Results of inspecting an item.",
      "type": "object",
      "properties": {
        "result": {
          "description": "The findings.",
          "$ref": "GooglePrivacyDlpV2InspectResult"
        }
      }
    },
    "GooglePrivacyDlpV2FileSet": {
      "description": "Set of files to scan.",
      "type": "object",
      "properties": {
        "regexFileSet": {
          "$ref": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
          "description": "The regex-filtered set of files to scan. Exactly one of `url` or\n`regex_file_set` must be set."
        },
        "url": {
          "description": "The Cloud Storage url of the file(s) to scan, in the format\n`gs://\u003cbucket\u003e/\u003cpath\u003e`. Trailing wildcard in the path is allowed.\n\nIf the url ends in a trailing slash, the bucket or directory represented\nby the url will be scanned non-recursively (content in sub-directories\nwill not be scanned). This means that `gs://mybucket/` is equivalent to\n`gs://mybucket/*`, and `gs://mybucket/directory/` is equivalent to\n`gs://mybucket/directory/*`.\n\nExactly one of `url` or `regex_file_set` must be set.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2FileSet"
    },
    "GooglePrivacyDlpV2LDiversityResult": {
      "description": "Result of the l-diversity computation.",
      "type": "object",
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityHistogramBucket"
          },
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies."
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityResult"
    },
    "GooglePrivacyDlpV2SaveFindings": {
      "description": "If set, the detailed findings will be persisted to the specified\nOutputStorageConfig. Only a single instance of this action can be\nspecified.\nCompatible with: Inspect, Risk",
      "type": "object",
      "properties": {
        "outputConfig": {
          "$ref": "GooglePrivacyDlpV2OutputStorageConfig"
        }
      },
      "id": "GooglePrivacyDlpV2SaveFindings"
    },
    "GooglePrivacyDlpV2OutputStorageConfig": {
      "description": "Cloud repository for storing output.",
      "type": "object",
      "properties": {
        "outputSchema": {
          "enumDescriptions": [
            "",
            "Basic schema including only `info_type`, `quote`, `certainty`, and\n`timestamp`.",
            "Schema tailored to findings from scanning Google Cloud Storage.",
            "Schema tailored to findings from scanning Google Datastore.",
            "Schema tailored to findings from scanning Google BigQuery.",
            "Schema containing all columns."
          ],
          "enum": [
            "OUTPUT_SCHEMA_UNSPECIFIED",
            "BASIC_COLUMNS",
            "GCS_COLUMNS",
            "DATASTORE_COLUMNS",
            "BIG_QUERY_COLUMNS",
            "ALL_COLUMNS"
          ],
          "description": "Schema used for writing the findings for Inspect jobs. This field is only\nused for Inspect and must be unspecified for Risk jobs. Columns are derived\nfrom the `Finding` object. If appending to an existing table, any columns\nfrom the predefined schema that are missing will be added. No columns in\nthe existing table will be deleted.\n\nIf unspecified, then all available columns will be used for a new table or\nan (existing) table with no schema, and no changes will be made to an\nexisting table that has a schema.",
          "type": "string"
        },
        "table": {
          "description": "Store findings in an existing table or a new table in an existing\ndataset. If table_id is not set a new one will be generated\nfor you with the following format:\ndlp_googleapis_yyyy_mm_dd_[dlp_job_id]. Pacific timezone will be used for\ngenerating the date details.\n\nFor Inspect, each column in an existing output table must have the same\nname, type, and mode of a field in the `Finding` object.\n\nFor Risk, an existing output table should be the output of a previous\nRisk analysis job run on the same source table, with the same privacy\nmetric and quasi-identifiers. Risk jobs that analyze the same table but\ncompute a different privacy metric, or use different sets of\nquasi-identifiers, cannot store their results in the same table.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "id": "GooglePrivacyDlpV2OutputStorageConfig"
    },
    "GooglePrivacyDlpV2SurrogateType": {
      "properties": {},
      "id": "GooglePrivacyDlpV2SurrogateType",
      "description": "Message for detecting output from deidentification transformations\nsuch as\n[`CryptoReplaceFfxFpeConfig`](/dlp/docs/reference/rest/v2/organizations.deidentifyTemplates#cryptoreplaceffxfpeconfig).\nThese types of transformations are\nthose that perform pseudonymization, thereby producing a \"surrogate\" as\noutput. This should be used in conjunction with a field on the\ntransformation such as `surrogate_info_type`. This CustomInfoType does\nnot support the use of `detection_rules`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2StorageConfig": {
      "description": "Shared message indicating Cloud storage type.",
      "type": "object",
      "properties": {
        "cloudStorageOptions": {
          "$ref": "GooglePrivacyDlpV2CloudStorageOptions",
          "description": "Google Cloud Storage options specification."
        },
        "datastoreOptions": {
          "description": "Google Cloud Datastore options specification.",
          "$ref": "GooglePrivacyDlpV2DatastoreOptions"
        },
        "timespanConfig": {
          "$ref": "GooglePrivacyDlpV2TimespanConfig"
        },
        "bigQueryOptions": {
          "description": "BigQuery options specification.",
          "$ref": "GooglePrivacyDlpV2BigQueryOptions"
        }
      },
      "id": "GooglePrivacyDlpV2StorageConfig"
    },
    "GooglePrivacyDlpV2Error": {
      "description": "Details information about an error encountered during job execution or\nthe results of an unsuccessful activation of the JobTrigger.\nOutput only field.",
      "type": "object",
      "properties": {
        "details": {
          "$ref": "GoogleRpcStatus"
        },
        "timestamps": {
          "description": "The times the error occurred.",
          "type": "array",
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Error"
    },
    "GooglePrivacyDlpV2UnwrappedCryptoKey": {
      "description": "Using raw keys is prone to security risks due to accidentally\nleaking the key. Choose another type of key if possible.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The AES 128/192/256 bit key. [required]",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2UnwrappedCryptoKey"
    },
    "GooglePrivacyDlpV2Table": {
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed.\nSee https://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to\nlearn more.",
      "type": "object",
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Row"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Table"
    },
    "GooglePrivacyDlpV2QuasiIdentifierField": {
      "description": "A quasi-identifier column has a custom_tag, used to know which column\nin the data corresponds to which column in the statistical model.",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customTag": {
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2QuasiIdentifierField"
    },
    "GooglePrivacyDlpV2UpdateJobTriggerRequest": {
      "description": "Request message for UpdateJobTrigger.",
      "type": "object",
      "properties": {
        "jobTrigger": {
          "$ref": "GooglePrivacyDlpV2JobTrigger",
          "description": "New JobTrigger value."
        },
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2CryptoHashConfig": {
      "properties": {
        "cryptoKey": {
          "description": "The key used by the hash function.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        }
      },
      "id": "GooglePrivacyDlpV2CryptoHashConfig",
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing.\nUses SHA-256.\nThe key size must be either 32 or 64 bytes.\nOutputs a base64 encoded representation of the hashed output\n(for example, L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=).\nCurrently, only string and integer values can be hashed.\nSee https://cloud.google.com/dlp/docs/pseudonymization to learn more.",
      "type": "object"
    },
    "GooglePrivacyDlpV2PublishToPubSub": {
      "description": "Publish the results of a DlpJob to a pub sub channel.\nCompatible with: Inspect, Risk",
      "type": "object",
      "properties": {
        "topic": {
          "description": "Cloud Pub/Sub topic to send notifications to. The topic must have given\npublishing access rights to the DLP API service account executing\nthe long running DlpJob sending the notifications.\nFormat is projects/{project}/topics/{topic}.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2PublishToPubSub"
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryConfig": {
      "description": "Configuration for a custom dictionary created from a data source of any size\nup to the maximum size defined in the\n[limits](https://cloud.google.com/dlp/limits) page. The artifacts of\ndictionary creation are stored in the specified Google Cloud Storage\nlocation. Consider using `CustomInfoType.Dictionary` for smaller dictionaries\nthat satisfy the size requirements.",
      "type": "object",
      "properties": {
        "outputPath": {
          "$ref": "GooglePrivacyDlpV2CloudStoragePath",
          "description": "Location to store dictionary artifacts in Google Cloud Storage. These files\nwill only be accessible by project owners and the DLP API. If any of these\nartifacts are modified, the dictionary is considered invalid and can no\nlonger be used."
        },
        "bigQueryField": {
          "$ref": "GooglePrivacyDlpV2BigQueryField",
          "description": "Field in a BigQuery table where each cell represents a dictionary phrase."
        },
        "cloudStorageFileSet": {
          "description": "Set of files containing newline-delimited lists of dictionary phrases.",
          "$ref": "GooglePrivacyDlpV2CloudStorageFileSet"
        }
      },
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryConfig"
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "description": "Message for infoType-dependent details parsed from quote.",
      "type": "object",
      "properties": {
        "dateTime": {
          "$ref": "GooglePrivacyDlpV2DateTime",
          "description": "The date time indicated by the quote."
        }
      },
      "id": "GooglePrivacyDlpV2QuoteInfo"
    },
    "GooglePrivacyDlpV2DlpJob": {
      "id": "GooglePrivacyDlpV2DlpJob",
      "description": "Combines all of the information about a DLP job.",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of a job.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The job has not yet started.",
            "The job is currently running.",
            "The job is no longer running.",
            "The job was canceled before it could complete.",
            "The job had an error and did not complete."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "CANCELED",
            "FAILED"
          ]
        },
        "riskDetails": {
          "$ref": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
          "description": "Results from analyzing risk of a data source."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name."
        },
        "type": {
          "description": "The type of job.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The job inspected Google Cloud for sensitive data.",
            "The job executed a Risk Analysis computation."
          ],
          "enum": [
            "DLP_JOB_TYPE_UNSPECIFIED",
            "INSPECT_JOB",
            "RISK_ANALYSIS_JOB"
          ]
        },
        "endTime": {
          "description": "Time when the job finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "errors": {
          "description": "A stream of errors encountered running the job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "startTime": {
          "description": "Time when the job started.",
          "format": "google-datetime",
          "type": "string"
        },
        "inspectDetails": {
          "$ref": "GooglePrivacyDlpV2InspectDataSourceDetails",
          "description": "Results from inspecting a data source."
        },
        "createTime": {
          "description": "Time when the job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "jobTriggerName": {
          "type": "string",
          "description": "If created by a job trigger, the resource name of the trigger that\ninstantiated the job."
        }
      }
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "description": "Configuration for determining how redaction of images should occur.",
      "type": "object",
      "properties": {
        "redactionColor": {
          "description": "The color to use when redacting content from an image. If not specified,\nthe default is black.",
          "$ref": "GooglePrivacyDlpV2Color"
        },
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an\ninfo_type, is redacted. Only one should be provided.",
          "type": "boolean"
        },
        "infoType": {
          "description": "Only one per info_type should be provided per request. If not\nspecified, and redact_all_text is false, the DLP API will redact all\ntext that it matches against all info_types that are found, but not\nspecified in another ImageRedactionConfig.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "id": "GooglePrivacyDlpV2ImageRedactionConfig"
    },
    "GooglePrivacyDlpV2PublishSummaryToCscc": {
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2PublishSummaryToCscc",
      "description": "Publish the result summary of a DlpJob to the Cloud Security\nCommand Center (CSCC Alpha).\nThis action is only available for projects which are parts of\nan organization and whitelisted for the alpha Cloud Security Command\nCenter.\nThe action will publish count of finding instances and their info types.\nThe summary of findings will be persisted in CSCC and are governed by CSCC\nservice-specific policy, see https://cloud.google.com/terms/service-terms\nOnly a single instance of this action can be specified.\nCompatible with: Inspect"
    },
    "GooglePrivacyDlpV2RecordTransformations": {
      "description": "A type of transformation that is applied over structured data such as a\ntable.",
      "type": "object",
      "properties": {
        "fieldTransformations": {
          "description": "Transform the record by applying various field transformations.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        },
        "recordSuppressions": {
          "description": "Configuration defining which records get suppressed entirely. Records that\nmatch any suppression rule are omitted from the output [optional].",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2RecordSuppression"
          }
        }
      },
      "id": "GooglePrivacyDlpV2RecordTransformations"
    },
    "GooglePrivacyDlpV2InfoTypeStats": {
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The type of finding this stat is for."
        },
        "count": {
          "description": "Number of findings for this infoType.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeStats",
      "description": "Statistics regarding a specific InfoType.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Result": {
      "description": "All result fields mentioned below are updated while the job is processing.",
      "type": "object",
      "properties": {
        "processedBytes": {
          "description": "Total size in bytes that were processed.",
          "format": "int64",
          "type": "string"
        },
        "totalEstimatedBytes": {
          "description": "Estimate of the number of bytes to process.",
          "format": "int64",
          "type": "string"
        },
        "infoTypeStats": {
          "description": "Statistics of how many instances of each info type were found during\ninspect job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Result"
    },
    "GooglePrivacyDlpV2DateTime": {
      "description": "Message for a date time object.\ne.g. 2018-01-01, 5th August.",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The unspecified day-of-week.",
            "The day-of-week of Monday.",
            "The day-of-week of Tuesday.",
            "The day-of-week of Wednesday.",
            "The day-of-week of Thursday.",
            "The day-of-week of Friday.",
            "The day-of-week of Saturday.",
            "The day-of-week of Sunday."
          ]
        },
        "time": {
          "$ref": "GoogleTypeTimeOfDay"
        },
        "date": {
          "description": "One or more of the following must be set. All fields are optional, but\nwhen set must be valid date or time values.",
          "$ref": "GoogleTypeDate"
        },
        "timeZone": {
          "$ref": "GooglePrivacyDlpV2TimeZone"
        }
      },
      "id": "GooglePrivacyDlpV2DateTime"
    },
    "GooglePrivacyDlpV2KmsWrappedCryptoKey": {
      "description": "Include to use an existing data crypto key wrapped by KMS.\nAuthorization requires the following IAM permissions when sending a request\nto perform a crypto transformation using a kms-wrapped crypto key:\ndlp.kms.encrypt",
      "type": "object",
      "properties": {
        "wrappedKey": {
          "description": "The wrapped data crypto key. [required]",
          "format": "byte",
          "type": "string"
        },
        "cryptoKeyName": {
          "type": "string",
          "description": "The resource name of the KMS CryptoKey to use for unwrapping. [required]"
        }
      },
      "id": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "description": "Findings container location data.",
      "type": "object",
      "properties": {
        "containerTimestamp": {
          "type": "string",
          "description": "Findings container modification timestamp, if applicable.\nFor Google Cloud Storage contains last file modification timestamp.\nFor BigQuery table contains last_modified_time property.\nFor Datastore - not populated.",
          "format": "google-datetime"
        },
        "containerName": {
          "description": "Name of the container where the finding is located.\nThe top level name is the source file name or table name. Names of some\ncommon storage containers are formatted as follows:\n\n* BigQuery tables:  `\u003cproject_id\u003e:\u003cdataset_id\u003e.\u003ctable_id\u003e`\n* Cloud Storage files: `gs://\u003cbucket\u003e/\u003cpath\u003e`\n* Datastore namespace: \u003cnamespace\u003e\n\nNested names could be absent if the embedded object has no string\nidentifier (for an example an image contained within a document).",
          "type": "string"
        },
        "recordLocation": {
          "$ref": "GooglePrivacyDlpV2RecordLocation",
          "description": "Location within a row or record of a database table."
        },
        "imageLocation": {
          "description": "Location within an image's pixels.",
          "$ref": "GooglePrivacyDlpV2ImageLocation"
        },
        "documentLocation": {
          "$ref": "GooglePrivacyDlpV2DocumentLocation",
          "description": "Location data for document files."
        },
        "containerVersion": {
          "description": "Findings container version, if available\n(\"generation\" for Google Cloud Storage).",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ContentLocation"
    },
    "GooglePrivacyDlpV2RedactImageResponse": {
      "description": "Results of redacting an image.",
      "type": "object",
      "properties": {
        "redactedImage": {
          "description": "The redacted image. The type will be the same as the original image.",
          "format": "byte",
          "type": "string"
        },
        "extractedText": {
          "description": "If an image was being inspected and the InspectConfig's include_quote was\nset to true, then this field will include all text, if any, that was found\nin the image.",
          "type": "string"
        },
        "inspectResult": {
          "$ref": "GooglePrivacyDlpV2InspectResult",
          "description": "The findings. Populated when include_findings in the request is true."
        }
      },
      "id": "GooglePrivacyDlpV2RedactImageResponse"
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation`\ntransforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the\noutput would be 'My phone number is '.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2RedactConfig"
    },
    "GooglePrivacyDlpV2ListInfoTypesResponse": {
      "id": "GooglePrivacyDlpV2ListInfoTypesResponse",
      "description": "Response to the ListInfoTypes request.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "Set of sensitive infoTypes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeDescription"
          }
        }
      }
    },
    "GooglePrivacyDlpV2ActivateJobTriggerRequest": {
      "description": "Request message for ActivateJobTrigger.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2ActivateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2CloudStoragePath": {
      "properties": {
        "path": {
          "description": "A url representing a file or path (no wildcards) in Cloud Storage.\nExample: gs://[BUCKET_NAME]/dictionary.txt",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStoragePath",
      "description": "Message representing a single file or path in Cloud Storage.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Schedule": {
      "id": "GooglePrivacyDlpV2Schedule",
      "description": "Schedule for triggeredJobs.",
      "type": "object",
      "properties": {
        "recurrencePeriodDuration": {
          "description": "With this option a job is started a regular periodic basis. For\nexample: every day (86400 seconds).\n\nA scheduled start time will be skipped if the previous\nexecution has not ended when its scheduled time occurs.\n\nThis value must be set to a time duration greater than or equal\nto 1 day and can be no longer than 60 days.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2StoredInfoTypeVersion": {
      "description": "Version of a StoredInfoType, including the configuration used to build it,\ncreate timestamp, and current state.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Create timestamp of the version. Read-only, determined by the system\nwhen the version is created.",
          "format": "google-datetime",
          "type": "string"
        },
        "config": {
          "description": "StoredInfoType configuration.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig"
        },
        "state": {
          "enumDescriptions": [
            "",
            "StoredInfoType version is being created.",
            "StoredInfoType version is ready for use.",
            "StoredInfoType creation failed. All relevant error messages are returned in\nthe `StoredInfoTypeVersion` message.",
            "StoredInfoType is no longer valid because artifacts stored in\nuser-controlled storage were modified. To fix an invalid StoredInfoType,\nuse the `UpdateStoredInfoType` method to create a new version."
          ],
          "enum": [
            "STORED_INFO_TYPE_STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FAILED",
            "INVALID"
          ],
          "description": "Stored info type version state. Read-only, updated by the system\nduring dictionary creation.",
          "type": "string"
        },
        "errors": {
          "description": "Errors that occurred when creating this storedInfoType version, or\nanomalies detected in the storedInfoType data that render it unusable. Only\nthe five most recent errors will be displayed, with the most recent error\nappearing first.\n\u003cp\u003eFor example, some of the data for stored custom dictionaries is put in\nthe user's Google Cloud Storage bucket, and if this data is modified or\ndeleted by the user or another system, the dictionary becomes invalid.\n\u003cp\u003eIf any errors occur, fix the problem indicated by the error message and\nuse the UpdateStoredInfoType API method to create another version of the\nstoredInfoType to continue using it, reusing the same `config` if it was\nnot the source of the error.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        }
      },
      "id": "GooglePrivacyDlpV2StoredInfoTypeVersion"
    },
    "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse": {
      "id": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse",
      "description": "Response message for ListDeidentifyTemplates.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used\nin following ListDeidentifyTemplates request.",
          "type": "string"
        },
        "deidentifyTemplates": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
          },
          "description": "List of deidentify templates, up to page_size in\nListDeidentifyTemplatesRequest."
        }
      }
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "type": "object",
      "properties": {
        "valueFrequencyLowerBound": {
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of value frequencies in this bucket. The total number of\nvalues returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        },
        "bucketSize": {
          "description": "Total number of values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "valueFrequencyUpperBound": {
          "description": "Upper bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket"
    },
    "GooglePrivacyDlpV2Row": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Row"
    },
    "GooglePrivacyDlpV2QuasiIdField": {
      "description": "A quasi-identifier column has a custom_tag, used to know which column\nin the data corresponds to which column in the statistical model.",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customTag": {
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2QuasiIdField"
    },
    "GooglePrivacyDlpV2DeidentifyTemplate": {
      "description": "The DeidentifyTemplates contains instructions on how to deidentify content.\nSee https://cloud.google.com/dlp/docs/concepts-templates to learn more.",
      "type": "object",
      "properties": {
        "deidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "///////////// // The core content of the template  // ///////////////"
        },
        "createTime": {
          "description": "The creation timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "The last update timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The template name. Output only.\n\nThe template will have one of the following formats:\n`projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR\n`organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`"
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "description": {
          "description": "Short description (max 256 chars).",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyTemplate"
    },
    "GooglePrivacyDlpV2BigQueryTable": {
      "description": "Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`\u003cproject_id\u003e:\u003cdataset_id\u003e.\u003ctable_id\u003e` or\n`\u003cproject_id\u003e.\u003cdataset_id\u003e.\u003ctable_id\u003e`.",
      "type": "object",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "Name of the table."
        },
        "projectId": {
          "type": "string",
          "description": "The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call."
        },
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2BigQueryTable"
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "description": "Request to search for potentially sensitive info in an image and redact it\nby covering it with a colored rectangle.",
      "type": "object",
      "properties": {
        "includeFindings": {
          "description": "Whether the response should include findings along with the redacted\nimage.",
          "type": "boolean"
        },
        "imageRedactionConfigs": {
          "description": "The configuration for specifying what content to redact from images.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          }
        },
        "byteItem": {
          "description": "The content must be PNG, JPEG, SVG or BMP.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        }
      }
    },
    "GooglePrivacyDlpV2PrimitiveTransformation": {
      "properties": {
        "dateShiftConfig": {
          "$ref": "GooglePrivacyDlpV2DateShiftConfig"
        },
        "characterMaskConfig": {
          "$ref": "GooglePrivacyDlpV2CharacterMaskConfig"
        },
        "bucketingConfig": {
          "$ref": "GooglePrivacyDlpV2BucketingConfig"
        },
        "redactConfig": {
          "$ref": "GooglePrivacyDlpV2RedactConfig"
        },
        "replaceWithInfoTypeConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig"
        },
        "cryptoHashConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoHashConfig"
        },
        "cryptoReplaceFfxFpeConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig"
        },
        "replaceConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceValueConfig"
        },
        "fixedSizeBucketingConfig": {
          "$ref": "GooglePrivacyDlpV2FixedSizeBucketingConfig"
        },
        "timePartConfig": {
          "$ref": "GooglePrivacyDlpV2TimePartConfig"
        }
      },
      "id": "GooglePrivacyDlpV2PrimitiveTransformation",
      "description": "A rule for transforming a value.",
      "type": "object"
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "description": "The transformation to apply to the field.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "Only apply the transformation if the condition evaluates to true for the\ngiven `RecordCondition`. The conditions are allowed to reference fields\nthat are not used in the actual transformation. [optional]\n\nExample Use Cases:\n\n- Apply a different bucket transformation to an age column if the zip code\ncolumn for the same record is within a specific range.\n- Redact a field if the date of birth field is greater than 85.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        },
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations",
          "description": "Treat the contents of the field as free text, and selectively\ntransform content that matches an `InfoType`."
        },
        "fields": {
          "description": "Input field(s) to apply the transformation to. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "primitiveTransformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "Apply the transformation to the entire field."
        }
      },
      "id": "GooglePrivacyDlpV2FieldTransformation"
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "description": "Result of a risk analysis operation request.",
      "type": "object",
      "properties": {
        "kMapEstimationResult": {
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult"
        },
        "deltaPresenceEstimationResult": {
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult"
        },
        "lDiversityResult": {
          "$ref": "GooglePrivacyDlpV2LDiversityResult"
        },
        "requestedSourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult"
        },
        "requestedPrivacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2PrivacyMetric"
        },
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult"
        },
        "kAnonymityResult": {
          "$ref": "GooglePrivacyDlpV2KAnonymityResult"
        }
      },
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails"
    },
    "GooglePrivacyDlpV2InspectResult": {
      "id": "GooglePrivacyDlpV2InspectResult",
      "description": "All the findings for a single scanned item.",
      "type": "object",
      "properties": {
        "findingsTruncated": {
          "description": "If true, then this item might have more findings than were returned,\nand the findings returned are an arbitrary subset of all findings.\nThe findings list might be truncated because the input items were too\nlarge, or because the server reached the maximum amount of resources\nallowed for a single API call. For best results, divide the input into\nsmaller batches.",
          "type": "boolean"
        },
        "findings": {
          "description": "List of findings for an item.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Finding"
          }
        }
      }
    },
    "GooglePrivacyDlpV2Dictionary": {
      "properties": {
        "wordList": {
          "$ref": "GooglePrivacyDlpV2WordList",
          "description": "List of words or phrases to search for."
        },
        "cloudStoragePath": {
          "description": "Newline-delimited file of words in Cloud Storage. Only a single file\nis accepted.",
          "$ref": "GooglePrivacyDlpV2CloudStoragePath"
        }
      },
      "id": "GooglePrivacyDlpV2Dictionary",
      "description": "Custom information type based on a dictionary of words or phrases. This can\nbe used to match sensitive information specific to the data, such as a list\nof employee IDs or job titles.\n\nDictionary words are case-insensitive and all characters other than letters\nand digits in the unicode [Basic Multilingual\nPlane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)\nwill be replaced with whitespace when scanning for matches, so the\ndictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\",\n\"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters\nsurrounding any match must be of a different type than the adjacent\ncharacters within the word, so letters must be next to non-letters and\ndigits next to non-digits. For example, the dictionary word \"jen\" will\nmatch the first three letters of the text \"jen123\" but will return no\nmatches for \"jennifer\".\n\nDictionary words containing a large number of characters that are not\nletters or digits may result in unexpected findings because such characters\nare treated as whitespace. The\n[limits](https://cloud.google.com/dlp/limits) page contains details about\nthe size limits of dictionaries. For dictionaries that do not fit within\nthese constraints, consider using `LargeCustomDictionaryConfig` in the\n`StoredInfoType` API.",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectionRule": {
      "type": "object",
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        },
        "exclusionRule": {
          "$ref": "GooglePrivacyDlpV2ExclusionRule",
          "description": "Exclusion rule."
        }
      },
      "id": "GooglePrivacyDlpV2InspectionRule",
      "description": "A single inspection rule to be applied to infoTypes, specified in\n`InspectionRuleSet`."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GooglePrivacyDlpV2TimePartConfig": {
      "description": "For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a\nportion of the value.",
      "type": "object",
      "properties": {
        "partToExtract": {
          "enumDescriptions": [
            "",
            "[0-9999]",
            "[1-12]",
            "[1-31]",
            "[1-7]",
            "[1-52]",
            "[0-23]"
          ],
          "enum": [
            "TIME_PART_UNSPECIFIED",
            "YEAR",
            "MONTH",
            "DAY_OF_MONTH",
            "DAY_OF_WEEK",
            "WEEK_OF_YEAR",
            "HOUR_OF_DAY"
          ],
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TimePartConfig"
    },
    "GooglePrivacyDlpV2Proximity": {
      "description": "Message for specifying a window around a finding to apply a detection\nrule.",
      "type": "object",
      "properties": {
        "windowBefore": {
          "description": "Number of characters before the finding to consider.",
          "format": "int32",
          "type": "integer"
        },
        "windowAfter": {
          "description": "Number of characters after the finding to consider.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2Proximity"
    },
    "GooglePrivacyDlpV2Condition": {
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Field within the record this condition is evaluated against. [required]"
        },
        "operator": {
          "enumDescriptions": [
            "",
            "Equal. Attempts to match even with incompatible types.",
            "Not equal to. Attempts to match even with incompatible types.",
            "Greater than.",
            "Less than.",
            "Greater than or equals.",
            "Less than or equals.",
            "Exists"
          ],
          "enum": [
            "RELATIONAL_OPERATOR_UNSPECIFIED",
            "EQUAL_TO",
            "NOT_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUALS",
            "LESS_THAN_OR_EQUALS",
            "EXISTS"
          ],
          "description": "Operator used to compare the field or infoType to the value. [required]",
          "type": "string"
        },
        "value": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Value to compare against. [Required, except for `EXISTS` tests.]"
        }
      },
      "id": "GooglePrivacyDlpV2Condition",
      "description": "The field type of `value` and `field` do not need to match to be\nconsidered equal, but not all comparisons are possible.\nEQUAL_TO and NOT_EQUAL_TO attempt to compare even with incompatible types,\nbut all other comparisons are invalid with incompatible types.\nA `value` of type:\n\n- `string` can be compared against all other types\n- `boolean` can only be compared against other booleans\n- `integer` can be compared against doubles or a string if the string value\ncan be parsed as an integer.\n- `double` can be compared against integers or a string if the string can\nbe parsed as a double.\n- `Timestamp` can be compared against strings in RFC 3339 date string\nformat.\n- `TimeOfDay` can be compared against timestamps and strings in the format\nof 'HH:mm:ss'.\n\nIf we fail to compare do to type mismatch, a warning will be given and\nthe condition will evaluate to false."
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "type": "object",
      "properties": {
        "relativeLikelihood": {
          "description": "Increase or decrease the likelihood by the specified number of\nlevels. For example, if a finding would be `POSSIBLE` without the\ndetection rule and `relative_likelihood` is 1, then it is upgraded to\n`LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`.\nLikelihood may never drop below `VERY_UNLIKELY` or exceed\n`VERY_LIKELY`, so applying an adjustment of 1 followed by an\nadjustment of -1 when base likelihood is `VERY_LIKELY` will result in\na final likelihood of `LIKELY`.",
          "format": "int32",
          "type": "integer"
        },
        "fixedLikelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Set the likelihood of a finding to a fixed value.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment",
      "description": "Message for specifying an adjustment to the likelihood of a finding as\npart of a detection rule."
    },
    "GooglePrivacyDlpV2Action": {
      "description": "A task to execute on the completion of a job.\nSee https://cloud.google.com/dlp/docs/concepts-actions to learn more.",
      "type": "object",
      "properties": {
        "jobNotificationEmails": {
          "$ref": "GooglePrivacyDlpV2JobNotificationEmails",
          "description": "Enable email notification to project owners and editors on job's\ncompletion/failure."
        },
        "saveFindings": {
          "$ref": "GooglePrivacyDlpV2SaveFindings",
          "description": "Save resulting findings in a provided location."
        },
        "pubSub": {
          "$ref": "GooglePrivacyDlpV2PublishToPubSub",
          "description": "Publish a notification to a pubsub topic."
        },
        "publishSummaryToCscc": {
          "description": "Publish summary to Cloud Security Command Center (Alpha).",
          "$ref": "GooglePrivacyDlpV2PublishSummaryToCscc"
        }
      },
      "id": "GooglePrivacyDlpV2Action"
    },
    "GooglePrivacyDlpV2JobNotificationEmails": {
      "description": "Enable email notification to project owners and editors on jobs's\ncompletion/failure.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2JobNotificationEmails"
    },
    "GooglePrivacyDlpV2InspectionRuleSet": {
      "type": "object",
      "properties": {
        "rules": {
          "description": "Set of rules to be applied to infoTypes. The rules are applied in order.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRule"
          }
        },
        "infoTypes": {
          "description": "List of infoTypes this rule set is applied to.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      },
      "id": "GooglePrivacyDlpV2InspectionRuleSet",
      "description": "Rule set for modifying a set of infoTypes to alter behavior under certain\ncircumstances, depending on the specific details of the rules within the set."
    },
    "GooglePrivacyDlpV2InfoTypeTransformations": {
      "description": "A type of transformation that will scan unstructured text and\napply various `PrimitiveTransformation`s to each finding, where the\ntransformation is applied to only values that were identified as a specific\ninfo_type.",
      "type": "object",
      "properties": {
        "transformations": {
          "description": "Transformation for each infoType. Cannot specify more than one\nfor a given infoType. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeTransformation"
          }
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeTransformations"
    },
    "GooglePrivacyDlpV2StoredInfoTypeConfig": {
      "description": "Configuration for a StoredInfoType.",
      "type": "object",
      "properties": {
        "largeCustomDictionary": {
          "description": "StoredInfoType where findings are defined by a dictionary of phrases.",
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryConfig"
        },
        "displayName": {
          "description": "Display name of the StoredInfoType (max 256 characters).",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the StoredInfoType (max 256 characters)."
        }
      },
      "id": "GooglePrivacyDlpV2StoredInfoTypeConfig"
    },
    "GooglePrivacyDlpV2RecordSuppression": {
      "properties": {
        "condition": {
          "description": "A condition that when it evaluates to true will result in the record being\nevaluated to be suppressed from the transformed content.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        }
      },
      "id": "GooglePrivacyDlpV2RecordSuppression",
      "description": "Configuration to suppress records whose suppression conditions evaluate to\ntrue.",
      "type": "object"
    },
    "GooglePrivacyDlpV2FindingLimits": {
      "properties": {
        "maxFindingsPerItem": {
          "description": "Max number of findings that will be returned for each item scanned.\nWhen set within `InspectDataSourceRequest`,\nthe maximum returned is 2000 regardless if this is set higher.\nWhen set within `InspectContentRequest`, this field is ignored.",
          "format": "int32",
          "type": "integer"
        },
        "maxFindingsPerRequest": {
          "description": "Max number of findings that will be returned per request/job.\nWhen set within `InspectContentRequest`, the maximum returned is 2000\nregardless if this is set higher.",
          "format": "int32",
          "type": "integer"
        },
        "maxFindingsPerInfoType": {
          "description": "Configuration of findings limit given for specified infoTypes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeLimit"
          }
        }
      },
      "id": "GooglePrivacyDlpV2FindingLimits",
      "type": "object"
    },
    "GoogleTypeTimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant\nor are specified elsewhere. An API may choose to allow leap seconds. Related\ntypes are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose\nto allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may\nallow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleTypeTimeOfDay"
    },
    "GooglePrivacyDlpV2KAnonymityConfig": {
      "description": "k-anonymity metric, used for analysis of reidentification risk.",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Optional message indicating that multiple rows might be associated to a\nsingle individual. If the same entity_id is associated to multiple\nquasi-identifier tuples over distinct rows, we consider the entire\ncollection of tuples as the composite quasi-identifier. This collection\nis a multiset: the order in which the different tuples appear in the\ndataset is ignored, but their frequency is taken into account.\n\nImportant note: a maximum of 1000 rows can be associated to a single\nentity ID. If more rows are associated with the same entity ID, some\nmight be ignored.",
          "$ref": "GooglePrivacyDlpV2EntityId"
        },
        "quasiIds": {
          "description": "Set of fields to compute k-anonymity over. When multiple fields are\nspecified, they are considered a single composite key. Structs and\nrepeated data types are not supported; however, nested fields are\nsupported so long as they are not structs themselves or nested within\na repeated field.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2KAnonymityConfig"
    },
    "GooglePrivacyDlpV2BigQueryOptions": {
      "type": "object",
      "properties": {
        "sampleMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Scan from the top (default).",
            "Randomly pick the row to start scanning. The scanned rows are contiguous."
          ],
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ]
        },
        "rowsLimit": {
          "description": "Max number of rows to scan. If the table has more rows than this value, the\nrest of the rows are omitted. If not set, or if set to 0, all rows will be\nscanned. Only one of rows_limit and rows_limit_percent can be specified.\nCannot be used in conjunction with TimespanConfig.",
          "format": "int64",
          "type": "string"
        },
        "rowsLimitPercent": {
          "description": "Max percentage of rows to scan. The rest are omitted. The number of rows\nscanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and\n100 means no limit. Defaults to 0. Only one of rows_limit and\nrows_limit_percent can be specified. Cannot be used in conjunction with\nTimespanConfig.",
          "format": "int32",
          "type": "integer"
        },
        "identifyingFields": {
          "description": "References to fields uniquely identifying rows within the table.\nNested fields in the format, like `person.birthdate.year`, are allowed.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "excludedFields": {
          "description": "References to fields excluded from scanning. This allows you to skip\ninspection of entire columns which you know have no findings.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2BigQueryOptions",
      "description": "Options defining BigQuery table and row identifiers."
    },
    "GooglePrivacyDlpV2Value": {
      "id": "GooglePrivacyDlpV2Value",
      "description": "Set of primitive values supported by the system.\nNote that for the purposes of inspection or transformation, the number\nof bytes considered to comprise a 'Value' is based on its representation\nas a UTF-8 encoded string. For example, if 'integer_value' is set to\n123456789, the number of bytes would be counted as 9, even though an\nint64 only holds up to 8 bytes of data.",
      "type": "object",
      "properties": {
        "timestampValue": {
          "format": "google-datetime",
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "floatValue": {
          "type": "number",
          "format": "double"
        },
        "integerValue": {
          "format": "int64",
          "type": "string"
        },
        "timeValue": {
          "$ref": "GoogleTypeTimeOfDay"
        },
        "stringValue": {
          "type": "string"
        },
        "dateValue": {
          "$ref": "GoogleTypeDate"
        },
        "dayOfWeekValue": {
          "type": "string",
          "enumDescriptions": [
            "The unspecified day-of-week.",
            "The day-of-week of Monday.",
            "The day-of-week of Tuesday.",
            "The day-of-week of Wednesday.",
            "The day-of-week of Thursday.",
            "The day-of-week of Friday.",
            "The day-of-week of Saturday.",
            "The day-of-week of Sunday."
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2BigQueryField": {
      "description": "Message defining a field of a BigQuery table.",
      "type": "object",
      "properties": {
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Source table of the field."
        },
        "field": {
          "description": "Designated field in the BigQuery table.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2BigQueryField"
    },
    "GooglePrivacyDlpV2InfoTypeLimit": {
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Type of information the findings limit applies to. Only one limit per\ninfo_type should be provided. If InfoTypeLimit does not have an\ninfo_type, the DLP API applies the limit against all info_types that\nare found but not specified in another InfoTypeLimit."
        },
        "maxFindings": {
          "description": "Max findings limit for the given infoType.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeLimit",
      "description": "Max findings configuration per infoType, per content item or long\nrunning DlpJob.",
      "type": "object"
    },
    "GooglePrivacyDlpV2LDiversityEquivalenceClass": {
      "id": "GooglePrivacyDlpV2LDiversityEquivalenceClass",
      "description": "The set of columns' values that share the same ldiversity value.",
      "type": "object",
      "properties": {
        "equivalenceClassSize": {
          "type": "string",
          "description": "Size of the k-anonymity equivalence class.",
          "format": "int64"
        },
        "quasiIdsValues": {
          "description": "Quasi-identifier values defining the k-anonymity equivalence\nclass. The order is always the same as the original request.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        },
        "numDistinctSensitiveValues": {
          "description": "Number of distinct sensitive values in this equivalence class.",
          "format": "int64",
          "type": "string"
        },
        "topSensitiveValues": {
          "description": "Estimated frequencies of top sensitive values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        }
      }
    },
    "GooglePrivacyDlpV2InspectTemplate": {
      "properties": {
        "inspectConfig": {
          "description": "The core content of the template. Configuration of the scanning process.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Display name (max 256 chars)."
        },
        "description": {
          "description": "Short description (max 256 chars).",
          "type": "string"
        },
        "createTime": {
          "description": "The creation timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "The last update timestamp of a inspectTemplate, output only field.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The template name. Output only.\n\nThe template will have one of the following formats:\n`projects/PROJECT_ID/inspectTemplates/TEMPLATE_ID` OR\n`organizations/ORGANIZATION_ID/inspectTemplates/TEMPLATE_ID`",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2InspectTemplate",
      "description": "The inspectTemplate contains a configuration (set of types of sensitive data\nto be detected) to be used anywhere you otherwise would normally specify\nInspectConfig. See https://cloud.google.com/dlp/docs/concepts-templates\nto learn more.",
      "type": "object"
    },
    "GooglePrivacyDlpV2CustomInfoType": {
      "description": "Custom information type provided by the user. Used to find domain-specific\nsensitive information configurable to the data in question.",
      "type": "object",
      "properties": {
        "storedType": {
          "description": "Load an existing `StoredInfoType` resource for use in\n`InspectDataSource`. Not currently supported in `InspectContent`.",
          "$ref": "GooglePrivacyDlpV2StoredType"
        },
        "infoType": {
          "description": "CustomInfoType can either be a new infoType, or an extension of built-in\ninfoType, when the name matches one of existing infoTypes and that infoType\nis specified in `InspectContent.info_types` field. Specifying the latter\nadds findings to the one detected by the system. If built-in info type is\nnot specified in `InspectContent.info_types` list then the name is treated\nas a custom info type.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "dictionary": {
          "$ref": "GooglePrivacyDlpV2Dictionary",
          "description": "A list of phrases to detect as a CustomInfoType."
        },
        "regex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression based CustomInfoType."
        },
        "surrogateType": {
          "$ref": "GooglePrivacyDlpV2SurrogateType",
          "description": "Message for detecting output from deidentification transformations that\nsupport reversing."
        },
        "likelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood to return for this CustomInfoType. This base value can be\naltered by a detection rule if the finding meets the criteria specified by\nthe rule. Defaults to `VERY_LIKELY` if not specified.",
          "type": "string"
        },
        "detectionRules": {
          "description": "Set of detection rules to apply to all findings of this CustomInfoType.\nRules are applied in order that they are specified. Not supported for the\n`surrogate_type` CustomInfoType.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DetectionRule"
          }
        },
        "exclusionType": {
          "description": "If set to EXCLUSION_TYPE_EXCLUDE this infoType will not cause a finding\nto be returned. It still can be used for rules matching.",
          "type": "string",
          "enumDescriptions": [
            "A finding of this custom info type will not be excluded from results.",
            "A finding of this custom info type will be excluded from final results,\nbut can still affect rule execution."
          ],
          "enum": [
            "EXCLUSION_TYPE_UNSPECIFIED",
            "EXCLUSION_TYPE_EXCLUDE"
          ]
        }
      },
      "id": "GooglePrivacyDlpV2CustomInfoType"
    },
    "GooglePrivacyDlpV2Location": {
      "description": "Specifies the location of the finding.",
      "type": "object",
      "properties": {
        "contentLocations": {
          "description": "List of nested objects pointing to the precise location of the finding\nwithin the file or record.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          }
        },
        "codepointRange": {
          "description": "Unicode character offsets delimiting the finding.\nThese are relative to the finding's containing element.\nProvided when the content is text.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "byteRange": {
          "$ref": "GooglePrivacyDlpV2Range",
          "description": "Zero-based byte offsets delimiting the finding.\nThese are relative to the finding's containing element.\nNote that when the content is not textual, this references\nthe UTF-8 encoded textual representation of the content.\nOmitted if content is an image."
        }
      },
      "id": "GooglePrivacyDlpV2Location"
    },
    "GooglePrivacyDlpV2NumericalStatsResult": {
      "type": "object",
      "properties": {
        "minValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Minimum value appearing in the column."
        },
        "maxValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Maximum value appearing in the column."
        },
        "quantileValues": {
          "description": "List of 99 values that partition the set of field values into 100 equal\nsized buckets.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      },
      "id": "GooglePrivacyDlpV2NumericalStatsResult",
      "description": "Result of the numerical stats computation."
    },
    "GooglePrivacyDlpV2DeidentifyConfig": {
      "description": "The configuration that controls how the data will change.",
      "type": "object",
      "properties": {
        "recordTransformations": {
          "$ref": "GooglePrivacyDlpV2RecordTransformations",
          "description": "Treat the dataset as structured. Transformations can be applied to\nspecific locations within structured datasets, such as transforming\na column within a table."
        },
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations",
          "description": "Treat the dataset as free-form text and apply the same free text\ntransformation everywhere."
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyConfig"
    },
    "GooglePrivacyDlpV2Trigger": {
      "id": "GooglePrivacyDlpV2Trigger",
      "description": "What event needs to occur for a new job to be started.",
      "type": "object",
      "properties": {
        "schedule": {
          "description": "Create a job on a repeating basis based on the elapse of time.",
          "$ref": "GooglePrivacyDlpV2Schedule"
        }
      }
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues": {
      "description": "A tuple of values for the quasi-identifier columns.",
      "type": "object",
      "properties": {
        "estimatedProbability": {
          "description": "The estimated probability that a given individual sharing these\nquasi-identifier values is in the dataset. This value, typically called\nδ, is the ratio between the number of records in the dataset with these\nquasi-identifier values, and the total number of individuals (inside\n*and* outside the dataset) with these quasi-identifier values.\nFor example, if there are 15 individuals in the dataset who share the\nsame quasi-identifier values, and an estimated 100 people in the entire\npopulation with these values, then δ is 0.15.",
          "format": "double",
          "type": "number"
        },
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues"
    },
    "GooglePrivacyDlpV2Range": {
      "type": "object",
      "properties": {
        "start": {
          "description": "Index of the first character of the range (inclusive).",
          "format": "int64",
          "type": "string"
        },
        "end": {
          "description": "Index of the last character of the range (exclusive).",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Range",
      "description": "Generic half-open interval [start, end)"
    },
    "GooglePrivacyDlpV2CategoricalStatsConfig": {
      "properties": {
        "field": {
          "description": "Field to compute categorical stats on. All column types are\nsupported except for arrays and structs. However, it may be more\ninformative to use NumericalStats when the field type is supported,\ndepending on the data.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2CategoricalStatsConfig",
      "description": "Compute numerical stats over an individual column, including\nnumber of distinct values and value count distribution.",
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryKey": {
      "description": "Row key for identifying a record in BigQuery table.",
      "type": "object",
      "properties": {
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Complete BigQuery table reference."
        },
        "rowNumber": {
          "description": "Absolute number of the row from the beginning of the table at the time\nof scanning.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2BigQueryKey"
    },
    "GooglePrivacyDlpV2PartitionId": {
      "type": "object",
      "properties": {
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        },
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2PartitionId",
      "description": "Datastore partition ID.\nA partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.\n\nA partition ID contains several dimensions:\nproject ID and namespace ID."
    },
    "GooglePrivacyDlpV2BucketingConfig": {
      "type": "object",
      "properties": {
        "buckets": {
          "description": "Set of buckets. Ranges must be non-overlapping.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Bucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2BucketingConfig",
      "description": "Generalization function that buckets values based on ranges. The ranges and\nreplacement values are dynamically provided by the user for custom behavior,\nsuch as 1-30 -\u003e LOW 31-65 -\u003e MEDIUM 66-100 -\u003e HIGH\nThis can be used on\ndata of type: number, long, string, timestamp.\nIf the bound `Value` type differs from the type of data being transformed, we\nwill first attempt converting the type of the data to be transformed to match\nthe type of the bound before comparing.\nSee https://cloud.google.com/dlp/docs/concepts-bucketing to learn more."
    },
    "GooglePrivacyDlpV2CharsToIgnore": {
      "properties": {
        "charactersToSkip": {
          "type": "string"
        },
        "commonCharactersToIgnore": {
          "type": "string",
          "enumDescriptions": [
            "",
            "0-9",
            "A-Z",
            "a-z",
            "US Punctuation, one of !\"#$%&'()*+,-./:;\u003c=\u003e?@[\\]^_`{|}~",
            "Whitespace character, one of [ \\t\\n\\x0B\\f\\r]"
          ],
          "enum": [
            "COMMON_CHARS_TO_IGNORE_UNSPECIFIED",
            "NUMERIC",
            "ALPHA_UPPER_CASE",
            "ALPHA_LOWER_CASE",
            "PUNCTUATION",
            "WHITESPACE"
          ]
        }
      },
      "id": "GooglePrivacyDlpV2CharsToIgnore",
      "description": "Characters to skip when doing deidentification of a value. These will be left\nalone and skipped.",
      "type": "object"
    },
    "GooglePrivacyDlpV2TransientCryptoKey": {
      "description": "Use this to have a random data crypto key generated.\nIt will be discarded after the request finishes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the key. [required]\nThis is an arbitrary string used to differentiate different keys.\nA unique key is generated per name: two separate `TransientCryptoKey`\nprotos share the same generated key if their names are the same.\nWhen the data crypto key is generated, this name is not used in any way\n(repeating the api call will result in a different key being generated).",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TransientCryptoKey"
    },
    "GooglePrivacyDlpV2CancelDlpJobRequest": {
      "description": "The request message for canceling a DLP job.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2CancelDlpJobRequest"
    },
    "GooglePrivacyDlpV2StoredType": {
      "properties": {
        "name": {
          "description": "Resource name of the requested `StoredInfoType`, for example\n`organizations/433245324/storedInfoTypes/432452342` or\n`projects/project-id/storedInfoTypes/432452342`.",
          "type": "string"
        },
        "createTime": {
          "description": "Timestamp indicating when the version of the `StoredInfoType` used for\ninspection was created. Output-only field, populated by the system.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2StoredType",
      "description": "A reference to a StoredInfoType to use with scanning.",
      "type": "object"
    },
    "GooglePrivacyDlpV2KindExpression": {
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2KindExpression",
      "description": "A representation of a Datastore kind.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ListDlpJobsResponse": {
      "description": "The response message for listing DLP jobs.",
      "type": "object",
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DlpJob"
          },
          "description": "A list of DlpJobs that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ListDlpJobsResponse"
    },
    "GooglePrivacyDlpV2ByteContentItem": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "BYTES_TYPE_UNSPECIFIED",
            "IMAGE",
            "IMAGE_JPEG",
            "IMAGE_BMP",
            "IMAGE_PNG",
            "IMAGE_SVG",
            "TEXT_UTF8"
          ],
          "description": "The type of data stored in the bytes string. Default will be TEXT_UTF8.",
          "type": "string"
        },
        "data": {
          "description": "Content data to inspect or redact.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ByteContentItem",
      "description": "Container for bytes to inspect or redact.",
      "type": "object"
    },
    "GooglePrivacyDlpV2PrivacyMetric": {
      "id": "GooglePrivacyDlpV2PrivacyMetric",
      "description": "Privacy metric to compute for reidentification risk analysis.",
      "type": "object",
      "properties": {
        "deltaPresenceEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig"
        },
        "numericalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2NumericalStatsConfig"
        },
        "kAnonymityConfig": {
          "$ref": "GooglePrivacyDlpV2KAnonymityConfig"
        },
        "categoricalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsConfig"
        },
        "kMapEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2KMapEstimationConfig"
        },
        "lDiversityConfig": {
          "$ref": "GooglePrivacyDlpV2LDiversityConfig"
        }
      }
    },
    "GooglePrivacyDlpV2WordList": {
      "id": "GooglePrivacyDlpV2WordList",
      "description": "Message defining a list of words or phrases to search for in the data.",
      "type": "object",
      "properties": {
        "words": {
          "description": "Words or phrases defining the dictionary. The dictionary must contain\nat least one phrase and every phrase must contain at least 2 characters\nthat are letters or digits. [required]",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GooglePrivacyDlpV2ExclusionRule": {
      "id": "GooglePrivacyDlpV2ExclusionRule",
      "description": "The rule that specifies conditions when findings of infoTypes specified in\n`InspectionRuleSet` are removed from results.",
      "type": "object",
      "properties": {
        "excludeInfoTypes": {
          "description": "Set of infoTypes for which findings would affect this rule.",
          "$ref": "GooglePrivacyDlpV2ExcludeInfoTypes"
        },
        "matchingType": {
          "type": "string",
          "enumDescriptions": [
            "Invalid.",
            "Full match.\n\n- Dictionary: join of Dictionary results matched complete finding quote\n- Regex: all regex matches fill a finding quote start to end\n- Exclude info type: completely inside affecting info types findings",
            "Partial match.\n\n- Dictionary: at least one of the tokens in the finding matches\n- Regex: substring of the finding matches\n- Exclude info type: intersects with affecting info types findings",
            "Inverse match.\n\n- Dictionary: no tokens in the finding match the dictionary\n- Regex: finding doesn't match the regex\n- Exclude info type: no intersection with affecting info types findings"
          ],
          "enum": [
            "MATCHING_TYPE_UNSPECIFIED",
            "MATCHING_TYPE_FULL_MATCH",
            "MATCHING_TYPE_PARTIAL_MATCH",
            "MATCHING_TYPE_INVERSE_MATCH"
          ],
          "description": "How the rule is applied, see MatchingType documentation for details."
        },
        "dictionary": {
          "description": "Dictionary which defines the rule.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "regex": {
          "description": "Regular expression which defines the rule.",
          "$ref": "GooglePrivacyDlpV2Regex"
        }
      }
    },
    "GooglePrivacyDlpV2ListStoredInfoTypesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used\nin following ListStoredInfoTypes request.",
          "type": "string"
        },
        "storedInfoTypes": {
          "description": "List of storedInfoTypes, up to page_size in ListStoredInfoTypesRequest.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoType"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ListStoredInfoTypesResponse",
      "description": "Response message for ListStoredInfoTypes.",
      "type": "object"
    },
    "GooglePrivacyDlpV2StatisticalTable": {
      "id": "GooglePrivacyDlpV2StatisticalTable",
      "description": "An auxiliary table containing statistical information on the relative\nfrequency of different quasi-identifiers values. It has one or several\nquasi-identifiers columns, and one column that indicates the relative\nfrequency of each quasi-identifier tuple.\nIf a tuple is present in the data but not in the auxiliary table, the\ncorresponding relative frequency is assumed to be zero (and thus, the\ntuple is highly reidentifiable).",
      "type": "object",
      "properties": {
        "table": {
          "description": "Auxiliary table location. [required]",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "quasiIds": {
          "description": "Quasi-identifier columns. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiIdentifierField"
          }
        },
        "relativeFrequency": {
          "description": "The relative frequency column must contain a floating-point number\nbetween 0 and 1 (inclusive). Null values are assumed to be zero.\n[required]",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationResult": {
      "type": "object",
      "properties": {
        "kMapEstimationHistogram": {
          "description": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value\ndoesn't correspond to any such interval, the associated frequency is\nzero. For example, the following records:\n  {min_anonymity: 1, max_anonymity: 1, frequency: 17}\n  {min_anonymity: 2, max_anonymity: 3, frequency: 42}\n  {min_anonymity: 5, max_anonymity: 10, frequency: 99}\nmean that there are no record with an estimated anonymity of 4, 5, or\nlarger than 10.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationResult",
      "description": "Result of the reidentifiability analysis. Note that these results are an\nestimation, not exact values."
    },
    "GooglePrivacyDlpV2JobTrigger": {
      "id": "GooglePrivacyDlpV2JobTrigger",
      "description": "Contains a configuration to make dlp api calls on a repeating basis.\nSee https://cloud.google.com/dlp/docs/concepts-job-triggers to learn more.",
      "type": "object",
      "properties": {
        "lastRunTime": {
          "description": "The timestamp of the last time this trigger executed, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "errors": {
          "description": "A stream of errors encountered when the trigger was activated. Repeated\nerrors may result in the JobTrigger automatically being paused.\nWill return the last 100 errors. Whenever the JobTrigger is modified\nthis list will be cleared. Output only field.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "displayName": {
          "description": "Display name (max 100 chars)",
          "type": "string"
        },
        "description": {
          "description": "User provided description (max 256 chars)",
          "type": "string"
        },
        "createTime": {
          "description": "The creation timestamp of a triggeredJob, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "inspectJob": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "status": {
          "description": "A status for this trigger. [required]",
          "type": "string",
          "enumDescriptions": [
            "",
            "Trigger is healthy.",
            "Trigger is temporarily paused.",
            "Trigger is cancelled and can not be resumed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "HEALTHY",
            "PAUSED",
            "CANCELLED"
          ]
        },
        "updateTime": {
          "description": "The last update timestamp of a triggeredJob, output only field.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Unique resource name for the triggeredJob, assigned by the service when the\ntriggeredJob is created, for example\n`projects/dlp-test-project/triggeredJobs/53234423`.",
          "type": "string"
        },
        "triggers": {
          "description": "A list of triggers which will be OR'ed together. Only one in the list\nneeds to trigger for a job to be started. The list may contain only\na single Schedule trigger and must have at least one object.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Trigger"
          }
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationConfig": {
      "description": "Reidentifiability metric. This corresponds to a risk model similar to what\nis called \"journalist risk\" in the literature, except the attack dataset is\nstatistically modeled instead of being perfectly known. This can be done\nusing publicly available data (like the US Census), or using a custom\nstatistical model (indicated as one or several BigQuery tables), or by\nextrapolating from the distribution of values in the input dataset.\nA column with a semantic tag attached.",
      "type": "object",
      "properties": {
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag\nused to tag a quasi-identifiers column must appear in exactly one column\nof one auxiliary table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2AuxiliaryTable"
          }
        },
        "quasiIds": {
          "description": "Fields considered to be quasi-identifiers. No two columns can have the\nsame tag. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TaggedField"
          }
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling.\nRequired if no column is tagged with a region-specific InfoType (like\nUS_ZIP_5) or a region code.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationConfig"
    },
    "GooglePrivacyDlpV2KAnonymityHistogramBucket": {
      "type": "object",
      "properties": {
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityEquivalenceClass"
          }
        },
        "equivalenceClassSizeLowerBound": {
          "description": "Lower bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "equivalenceClassSizeUpperBound": {
          "description": "Upper bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "description": "Total number of equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2KAnonymityHistogramBucket"
    },
    "GooglePrivacyDlpV2CreateStoredInfoTypeRequest": {
      "description": "Request message for CreateStoredInfoType.",
      "type": "object",
      "properties": {
        "storedInfoTypeId": {
          "description": "The storedInfoType ID can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "Configuration of the storedInfoType to create."
        }
      },
      "id": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
    },
    "GooglePrivacyDlpV2PathElement": {
      "id": "GooglePrivacyDlpV2PathElement",
      "description": "A (kind, ID/name) pair used to construct a key path.\n\nIf either name or ID is set, the element is complete.\nIf neither is set, the element is incomplete.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the entity.\nA name matching regex `__.*__` is reserved/read-only.\nA name must not be more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of the entity.\nA kind matching regex `__.*__` is reserved/read-only.\nA kind must not contain more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
          "type": "string"
        },
        "id": {
          "description": "The auto-allocated ID of the entity.\nNever equal to zero. Values less than zero are discouraged and may not\nbe supported in the future.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyContentRequest": {
      "description": "Request to de-identify a list of items.",
      "type": "object",
      "properties": {
        "item": {
          "description": "The item to de-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "deidentifyTemplateName": {
          "description": "Optional template to use. Any configuration directly specified in\ndeidentify_config will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        },
        "deidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "Configuration for the de-identification of the content item.\nItems specified here will override the template referenced by the\ndeidentify_template_name argument."
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector.\nItems specified here will override the template referenced by the\ninspect_template_name argument."
        },
        "inspectTemplateName": {
          "description": "Optional template to use. Any configuration directly specified in\ninspect_config will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyContentRequest"
    },
    "GooglePrivacyDlpV2ListJobTriggersResponse": {
      "description": "Response message for ListJobTriggers.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used\nin following ListJobTriggers request.",
          "type": "string"
        },
        "jobTriggers": {
          "description": "List of triggeredJobs, up to page_size in ListJobTriggersRequest.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2JobTrigger"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ListJobTriggersResponse"
    },
    "GooglePrivacyDlpV2DatastoreKey": {
      "type": "object",
      "properties": {
        "entityKey": {
          "$ref": "GooglePrivacyDlpV2Key",
          "description": "Datastore entity key."
        }
      },
      "id": "GooglePrivacyDlpV2DatastoreKey",
      "description": "Record key for a finding in Cloud Datastore."
    },
    "GooglePrivacyDlpV2Finding": {
      "description": "Represents a piece of potentially sensitive content.",
      "type": "object",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The type of content that might have been found.\nProvided if `excluded_types` is false."
        },
        "createTime": {
          "type": "string",
          "description": "Timestamp when finding was detected.",
          "format": "google-datetime"
        },
        "likelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Confidence of how likely it is that the `info_type` is correct.",
          "type": "string"
        },
        "location": {
          "description": "Where the content was found.",
          "$ref": "GooglePrivacyDlpV2Location"
        },
        "quoteInfo": {
          "$ref": "GooglePrivacyDlpV2QuoteInfo",
          "description": "Contains data parsed from quotes. Only populated if include_quote was set\nto true and a supported infoType was requested. Currently supported\ninfoTypes: DATE, DATE_OF_BIRTH and TIME."
        },
        "quote": {
          "description": "The content that was found. Even if the content is not textual, it\nmay be converted to a textual representation here.\nProvided if `include_quote` is true and the finding is\nless than or equal to 4096 bytes long. If the finding exceeds 4096 bytes\nin length, the quote may be omitted.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Finding"
    },
[...]
