{
  "version": "v1",
  "baseUrl": "https://docs.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "An API for creating and editing Google Docs documents.",
  "servicePath": "",
  "basePath": "",
  "revision": "20190125",
  "documentationLink": "https://developers.google.com/docs/",
  "id": "docs:v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "CropPropertiesSuggestionState": {
      "id": "CropPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
      "type": "object",
      "properties": {
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "offsetRightSuggested": {
          "description": "Indicates if there was a suggested change to offset_right.",
          "type": "boolean"
        },
        "offsetLeftSuggested": {
          "description": "Indicates if there was a suggested change to offset_left.",
          "type": "boolean"
        },
        "offsetBottomSuggested": {
          "description": "Indicates if there was a suggested change to offset_bottom.",
          "type": "boolean"
        },
        "offsetTopSuggested": {
          "description": "Indicates if there was a suggested change to offset_top.",
          "type": "boolean"
        }
      }
    },
    "SuggestedListProperties": {
      "description": "A suggested change to ListProperties.",
      "type": "object",
      "properties": {
        "listPropertiesSuggestionState": {
          "$ref": "ListPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion."
        },
        "listProperties": {
          "$ref": "ListProperties",
          "description": "A ListProperties that only includes\nthe changes made in this suggestion. This can be used along with the\nlist_properties_suggestion_state\nto see which fields have changed and their new values."
        }
      },
      "id": "SuggestedListProperties"
    },
    "DeleteContentRangeRequest": {
      "description": "Deletes content from the document.",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range of content to delete.\n\nDeleting text that crosses a paragraph boundary may result in changes\nto paragraph styles, lists, positioned objects and bookmarks as the two\nparagraphs are merged.\n\nAttempting to delete certain ranges can result in an invalid document\nstructure in which case a 400 bad request error is returned.\n\nSome examples of invalid delete requests include:\n\n* Deleting one code unit of a surrogate pair.\n* Deleting the last newline character of a Body, Header,\n  Footer, Footnote, TableCell or TableOfContents.\n* Deleting the start or end of a Table,\n  TableOfContents or Equation without deleting the entire element.\n* Deleting the newline character before a\n  Table,\n  TableOfContents or\n  SectionBreak without deleting the\n  the element.\n* Deleting individual rows or cells of a table. Deleting the content within\n  a table cell is allowed."
        }
      },
      "id": "DeleteContentRangeRequest"
    },
    "LinkedContentReferenceSuggestionState": {
      "description": "A mask that indicates which of the fields on the base\nLinkedContentReference have\nbeen changed in this suggestion. For any field set to true, there is a new\nsuggested value.",
      "type": "object",
      "properties": {
        "sheetsChartReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in sheets_chart_reference have\nbeen changed in this suggestion.",
          "$ref": "SheetsChartReferenceSuggestionState"
        }
      },
      "id": "LinkedContentReferenceSuggestionState"
    },
    "InsertInlineSheetsChartResponse": {
      "id": "InsertInlineSheetsChartResponse",
      "description": "The result of inserting an embedded Google Sheets chart.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the inserted chart.",
          "type": "string"
        }
      }
    },
    "Background": {
      "id": "Background",
      "description": "Represents the background of a document.",
      "type": "object",
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The background color."
        }
      }
    },
    "Shading": {
      "type": "object",
      "properties": {
        "backgroundColor": {
          "description": "The background color of this paragraph shading.",
          "$ref": "OptionalColor"
        }
      },
      "id": "Shading",
      "description": "The shading of a paragraph."
    },
    "Link": {
      "id": "Link",
      "description": "A reference to another portion of a document or an external URL resource.",
      "type": "object",
      "properties": {
        "url": {
          "description": "An external URL.",
          "type": "string"
        },
        "bookmarkId": {
          "description": "The ID of a bookmark in this document.",
          "type": "string"
        },
        "headingId": {
          "description": "The ID of a heading in this document.",
          "type": "string"
        }
      }
    },
    "ColumnBreak": {
      "type": "object",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this ColumnBreak.\n\nSimilar to text content, like text runs and footnote references, the text\nstyle of a column break can affect content layout as well as the styling of\ntext inserted adjacent to it."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it is\na nested suggested change. If empty, then this is not a suggested\ninsertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion\nID.",
          "type": "object"
        }
      },
      "id": "ColumnBreak",
      "description": "A ParagraphElement representing a\ncolumn break. A column break makes the subsequent text start at the top of\nthe next column."
    },
    "TableRowStyleSuggestionState": {
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
      "type": "object",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      },
      "id": "TableRowStyleSuggestionState"
    },
    "RgbColor": {
      "type": "object",
      "properties": {
        "red": {
          "description": "The red component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        },
        "green": {
          "description": "The green component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "RgbColor",
      "description": "An RGB color."
    },
    "HorizontalRule": {
      "description": "A ParagraphElement representing a\nhorizontal line.",
      "type": "object",
      "properties": {
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it\nis a nested suggested change. If empty, then this is not a suggested\ninsertion."
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this HorizontalRule, keyed by\nsuggestion ID.",
          "type": "object"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this HorizontalRule.\n\nSimilar to text content, like text runs and footnote references, the text\nstyle of a horizontal rule can affect content layout as well as the styling\nof text inserted adjacent to it."
        }
      },
      "id": "HorizontalRule"
    },
    "NamedStyleSuggestionState": {
      "id": "NamedStyleSuggestionState",
      "description": "A suggestion state of a NamedStyle message.",
      "type": "object",
      "properties": {
        "namedStyleType": {
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "description": "The named style type that this suggestion state corresponds to.\n\nThis field is provided as a convenience for matching the\nNamedStyleSuggestionState with its corresponding NamedStyle.",
          "type": "string"
        },
        "paragraphStyleSuggestionState": {
          "$ref": "ParagraphStyleSuggestionState",
          "description": "A mask that indicates which of the fields in paragraph style have been changed in this\nsuggestion."
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this\nsuggestion.",
          "$ref": "TextStyleSuggestionState"
        }
      }
    },
    "ShadingSuggestionState": {
      "id": "ShadingSuggestionState",
      "description": "A mask that indicates which of the fields on the base Shading have been changed in this\nsuggested change. For any field set to true, there is a new suggested value.",
      "type": "object",
      "properties": {
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to the Shading.",
          "type": "boolean"
        }
      }
    },
    "SuggestedParagraphStyle": {
      "description": "A suggested change to a\nParagraphStyle.",
      "type": "object",
      "properties": {
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "A ParagraphStyle that only includes\nthe changes made in this suggestion. This can be used along with the\nparagraph_suggestion_state\nto see which fields have changed and their new values."
        },
        "paragraphStyleSuggestionState": {
          "$ref": "ParagraphStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion."
        }
      },
      "id": "SuggestedParagraphStyle"
    },
    "InlineObjectPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base\nInlineObjectProperties have\nbeen changed in this suggestion. For any field set to true, there is a new\nsuggested value.",
      "type": "object",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been\nchanged in this suggestion."
        }
      },
      "id": "InlineObjectPropertiesSuggestionState"
    },
    "SuggestedTableRowStyle": {
      "id": "SuggestedTableRowStyle",
      "description": "A suggested change to a\nTableRowStyle.",
      "type": "object",
      "properties": {
        "tableRowStyleSuggestionState": {
          "$ref": "TableRowStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion."
        },
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "A TableRowStyle that only includes\nthe changes made in this suggestion. This can be used along with the\ntable_row_style_suggestion_state\nto see which fields have changed and their new values."
        }
      }
    },
    "SuggestedBullet": {
      "description": "A suggested change to a Bullet.",
      "type": "object",
      "properties": {
        "bulletSuggestionState": {
          "description": "A mask that indicates which of the fields on the base\nBullet have been changed in this suggestion.",
          "$ref": "BulletSuggestionState"
        },
        "bullet": {
          "$ref": "Bullet",
          "description": "A Bullet that only includes the changes made\nin this suggestion. This can be used along with the\nbullet_suggestion_state to see which\nfields have changed and their new values."
        }
      },
      "id": "SuggestedBullet"
    },
    "TextStyleSuggestionState": {
      "id": "TextStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
      "type": "object",
      "properties": {
        "italicSuggested": {
          "description": "Indicates if there was a suggested change to italic.",
          "type": "boolean"
        },
        "foregroundColorSuggested": {
          "description": "Indicates if there was a suggested change to foreground_color.",
          "type": "boolean"
        },
        "boldSuggested": {
          "description": "Indicates if there was a suggested change to bold.",
          "type": "boolean"
        },
        "linkSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to link."
        },
        "fontSizeSuggested": {
          "description": "Indicates if there was a suggested change to font_size.",
          "type": "boolean"
        },
        "strikethroughSuggested": {
          "description": "Indicates if there was a suggested change to strikethrough.",
          "type": "boolean"
        },
        "underlineSuggested": {
          "description": "Indicates if there was a suggested change to underline.",
          "type": "boolean"
        },
        "baselineOffsetSuggested": {
          "description": "Indicates if there was a suggested change to baseline_offset.",
          "type": "boolean"
        },
        "weightedFontFamilySuggested": {
          "description": "Indicates if there was a suggested change to weighted_font_family.",
          "type": "boolean"
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        },
        "smallCapsSuggested": {
          "description": "Indicates if there was a suggested change to small_caps.",
          "type": "boolean"
        }
      }
    },
    "Header": {
      "id": "Header",
      "description": "A document header.",
      "type": "object",
      "properties": {
        "headerId": {
          "description": "The ID of the header.",
          "type": "string"
        },
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the header.\n\nThe indices for a header's content begin at zero."
        }
      }
    },
    "TableCell": {
      "id": "TableCell",
      "description": "The contents and style of a cell in a Table.",
      "type": "object",
      "properties": {
        "suggestedTableCellStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          },
          "description": "The suggested changes to the table cell style, keyed by suggestion ID.",
          "type": "object"
        },
        "content": {
          "description": "The content of the cell.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableCell\nmay have multiple insertion IDs if it is a nested suggested change. If\nempty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tableCellStyle": {
          "$ref": "TableCellStyle",
          "description": "The style of the cell."
        },
        "endIndex": {
          "description": "The zero-based end index of this cell, exclusive, in Unicode code units of\nthe UTF-16 encoding.\n\nUnicode code units of the UTF-16 encoding means that surrogate pairs\nconsume two indices. For example, the \"GRINNING FACE\" emoji would be\nrepresented as \"\\uD83D\\uDE00\" and would consume two indices.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "The zero-based start index of this cell, in Unicode code units of the\nUTF-16 encoding.\n\nUnicode code units of the UTF-16 encoding means that surrogate pairs\nconsume two indices. For example, the \"GRINNING FACE\" emoji would be\nrepresented as \"\\uD83D\\uDE00\" and would consume two indices.",
          "format": "int32",
          "type": "integer"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content."
        }
      }
    },
    "NestingLevel": {
      "description": "Contains properties describing the look and feel of a list bullet at a given\nlevel of nesting.",
      "type": "object",
      "properties": {
        "startNumber": {
          "description": "The number of the first list item at this nesting level.\n\nA value of 0 is treated as a value of 1 for lettered lists and roman\nnumeraled lists, i.e. for values of both 0 and 1, lettered and roman\nnumeraled lists will begin at `a` and `i` respectively.\n\nThis value is ignored for nesting levels with unordered glyphs.",
          "format": "int32",
          "type": "integer"
        },
        "glyphType": {
          "description": "The type of glyph used by bullets when paragraphs at this level of\nnesting are ordered.\n\nThe glyph type determines the type of glyph used to replace placeholders\nwithin the glyph_format\nwhen paragraphs at this level of nesting are ordered. For example, if the\nnesting level is 0, the glyph_format is `%0.` and the glyph\ntype is DECIMAL,\nthen the rendered glyph would replace the placeholder `%0` in the glyph\nformat with a number corresponding to list item's order within the list.",
          "type": "string",
          "enumDescriptions": [
            "The glyph type is unspecified or unsupported.",
            "An empty string.",
            "A number, like `1`, `2`, or `3`.",
            "A number where single digit numbers are prefixed with a zero, like `01`,\n`02`, or `03`. Numbers with more than one digit are not prefixed with a\nzero.",
            "An uppercase letter, like `A`, `B`, or `C`.",
            "A lowercase letter, like `a`, `b`, or `c`.",
            "An uppercase roman numeral, like `I`, `II`, or `III`.",
            "A lowercase roman numeral, like `i`, `ii`, or `iii`."
          ],
          "enum": [
            "GLYPH_TYPE_UNSPECIFIED",
            "NONE",
            "DECIMAL",
            "ZERO_DECIMAL",
            "UPPER_ALPHA",
            "ALPHA",
            "UPPER_ROMAN",
            "ROMAN"
          ]
        },
        "textStyle": {
          "description": "The text style of bullets at this level of nesting.",
          "$ref": "TextStyle"
        },
        "bulletAlignment": {
          "enumDescriptions": [
            "The bullet alignment is unspecified.",
            "The bullet is aligned to the start of the space allotted for rendering\nthe bullet. Left-aligned for LTR text, right-aligned otherwise.",
            "The bullet is aligned to the center of the space allotted for rendering\nthe bullet.",
            "The bullet is aligned to the end of the space allotted for rendering the\nbullet. Right-aligned for LTR text, left-aligned otherwise."
          ],
          "enum": [
            "BULLET_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "description": "The alignment of the bullet within the space allotted for rendering the\nbullet.",
          "type": "string"
        },
        "glyphSymbol": {
          "description": "A custom glyph symbol used by bullets when paragraphs at this level of\nnesting are unordered.\n\nThe glyph symbol replaces placeholders within the glyph_format. For example, if the\nglyph_symbol is the solid circle corresponding to Unicode U+25cf code\npoint and the glyph_format is `%0`, the rendered\nglyph would be the solid circle.",
          "type": "string"
        },
        "indentStart": {
          "description": "The amount of indentation for paragraphs at this level of nesting. Applied\nto the side that corresponds to the start of the text, based on the\nparagraph's content direction.",
          "$ref": "Dimension"
        },
        "glyphFormat": {
          "type": "string",
          "description": "The format string used by bullets at this level of nesting.\n\nThe glyph format contains one or more placeholders, and these placeholder\nare replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow\nthe pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes\nand suffixes. Thus, the glyph format follows the pattern\n`\u003cprefix\u003e%[nesting_level]\u003csuffix\u003e`. Note that the prefix and suffix are\noptional and can be arbitrary strings.\n\nFor example, the glyph format `%0.` indicates that the rendered glyph will\nreplace the placeholder with the corresponding glyph for nesting level 0\nfollowed by a period as the suffix. So a list with a glyph type of\nUPPER_ALPHA and\nglyph format `%0.` at nesting level 0 will result in a list with rendered\nglyphs\n\u003cp\u003e`A.`\n\u003cp\u003e`B.`\n\u003cp\u003e`C.`\n\nThe glyph format can contain placeholders for the current nesting level as\nwell as placeholders for parent nesting levels. For example, a\nlist can have a glyph format of `%0.` at nesting level 0 and a\nglyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels\nhave DECIMAL glyph\ntypes, this would result in a list with rendered glyphs\n\u003cp\u003e`1.`\n\u003cp\u003e`2.`\n\u003cp\u003e`  2.1.`\n\u003cp\u003e`  2.2.`\n\u003cp\u003e`3.`\n\nFor nesting levels that are ordered, the string that replaces a placeholder\nin the glyph format for a particular paragraph depends on the paragraph's\norder within the list."
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the first line of paragraphs at this level of\nnesting."
        }
      },
      "id": "NestingLevel"
    },
    "ParagraphElement": {
      "description": "A ParagraphElement describes content within a\nParagraph.",
      "type": "object",
      "properties": {
        "inlineObjectElement": {
          "$ref": "InlineObjectElement",
          "description": "An inline object paragraph element."
        },
        "columnBreak": {
          "$ref": "ColumnBreak",
          "description": "A column break paragraph element."
        },
        "endIndex": {
          "description": "The zero-base end index of this paragraph element, exclusive, in Unicode\ncode units of the UTF-16 encoding.\n\nUnicode code units of the UTF-16 encoding means that surrogate pairs\nconsume two indices. For example, the \"GRINNING FACE\" emoji would be\nrepresented as \"\\uD83D\\uDE00\" and would consume two indices.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "The zero-based start index of this paragraph element, in Unicode code\nunits of the UTF-16 encoding.\n\nUnicode code units of the UTF-16 encoding means that surrogate pairs\nconsume two indices. For example, the \"GRINNING FACE\" emoji would be\nrepresented as \"\\uD83D\\uDE00\" and would consume two indices.",
          "format": "int32",
          "type": "integer"
        },
        "pageBreak": {
          "description": "A page break paragraph element.",
          "$ref": "PageBreak"
        },
        "autoText": {
          "$ref": "AutoText",
          "description": "An auto text paragraph element."
        },
        "footnoteReference": {
          "$ref": "FootnoteReference",
          "description": "A footnote reference paragraph element."
        },
        "equation": {
          "$ref": "Equation",
          "description": "An equation paragraph element."
        },
        "horizontalRule": {
          "description": "A horizontal rule paragraph element.",
          "$ref": "HorizontalRule"
        },
        "textRun": {
          "$ref": "TextRun",
          "description": "A text run paragraph element."
        }
      },
      "id": "ParagraphElement"
    },
    "DocumentStyle": {
      "description": "The style of the document.",
      "type": "object",
      "properties": {
        "useEvenPageHeaderFooter": {
          "description": "Indicates whether to use the even page header / footer IDs for the even\npages.",
          "type": "boolean"
        },
        "marginLeft": {
          "$ref": "Dimension",
          "description": "The left page margin."
        },
        "evenPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for even pages. The value of\nuse_even_page_header_footer determines\nwhether to use the default_footer_id or this value for the\nfooter on even pages. If not set, there is no even page footer."
        },
        "firstPageFooterId": {
          "description": "The ID of the footer used only for the first page. If not set then\na unique footer for the first page does not exist. The value of\nuse_first_page_header_footer determines\nwhether to use the default_footer_id or this value for the\nfooter on the first page. If not set, there is no first page footer.",
          "type": "string"
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If not set, there is no default footer.",
          "type": "string"
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top page margin."
        },
        "pageSize": {
          "description": "The size of a page in the document.",
          "$ref": "Size"
        },
        "marginBottom": {
          "description": "The bottom page margin.",
          "$ref": "Dimension"
        },
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page. If not set then\na unique header for the first page does not exist.\nThe value of use_first_page_header_footer determines\nwhether to use the default_header_id or this value for the\nheader on the first page. If not set, there is no first page header.",
          "type": "string"
        },
        "background": {
          "$ref": "Background",
          "description": "The background of the document."
        },
        "defaultHeaderId": {
          "description": "The ID of the default header. If not set, there is no default header.",
          "type": "string"
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right page margin."
        },
        "pageNumberStart": {
          "description": "The page number from which to start counting the number of pages.",
          "format": "int32",
          "type": "integer"
        },
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first\npage.",
          "type": "boolean"
        },
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. The value of\nuse_even_page_header_footer determines\nwhether to use the default_header_id or this value for the\nheader on even pages. If not set, there is no even page header.",
          "type": "string"
        }
      },
      "id": "DocumentStyle"
    },
    "NamedRanges": {
      "description": "A collection of all the NamedRanges in the\ndocument that share a given name.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name that all the named ranges share.",
          "type": "string"
        },
        "namedRanges": {
          "description": "The NamedRanges that share the same name.",
          "type": "array",
          "items": {
            "$ref": "NamedRange"
          }
        }
      },
      "id": "NamedRanges"
    },
    "FootnoteReference": {
      "description": "A ParagraphElement representing a\nfootnote reference. A footnote reference is the inline content rendered with\na number and is used to identify the footnote.",
      "type": "object",
      "properties": {
        "footnoteNumber": {
          "description": "The rendered number of this footnote.",
          "type": "string"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this FootnoteReference, keyed by\nsuggestion ID.",
          "type": "object"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if\nit is a nested suggested change. If empty, then this is not a suggested\ninsertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "footnoteId": {
          "description": "The ID of the footnote that\ncontains the content of this footnote reference.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this FootnoteReference."
        }
      },
      "id": "FootnoteReference"
    },
    "Footer": {
      "description": "A document footer.",
      "type": "object",
      "properties": {
        "content": {
          "description": "The contents of the footer.\n\nThe indices for a footer's content begin at zero.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "footerId": {
          "description": "The ID of the footer.",
          "type": "string"
        }
      },
      "id": "Footer"
    },
    "ListProperties": {
      "type": "object",
      "properties": {
        "nestingLevels": {
          "description": "Describes the properties of the bullets at the associated level.\n\nA list has at most nine levels of nesting with nesting level 0\ncorresponding to the top-most level and nesting level 8 corresponding to\nthe most nested level. The nesting levels are returned in ascending order\nwith the least nested returned first.",
          "type": "array",
          "items": {
            "$ref": "NestingLevel"
          }
        }
      },
      "id": "ListProperties",
      "description": "The properties of a list which describe the look\nand feel of bullets belonging to paragraphs associated with a list."
    },
    "SizeSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion.\nFor any field set to true, the Size has\na new suggested value.",
      "type": "object",
      "properties": {
        "heightSuggested": {
          "description": "Indicates if there was a suggested change to height.",
          "type": "boolean"
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        }
      },
      "id": "SizeSuggestionState"
    },
    "EmbeddedObjectBorderSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this\nsuggestion. For any field set to true, there is a new suggested value.",
      "type": "object",
      "properties": {
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "colorSuggested": {
          "description": "Indicates if there was a suggested change to color.",
          "type": "boolean"
        },
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        }
      },
      "id": "EmbeddedObjectBorderSuggestionState"
    },
    "NamedStyles": {
      "type": "object",
      "properties": {
        "styles": {
          "description": "The named styles.\n\nThere is an entry for each of the possible named style types.",
          "type": "array",
          "items": {
            "$ref": "NamedStyle"
          }
        }
      },
      "id": "NamedStyles",
      "description": "The named styles. Paragraphs in the document can inherit their\nTextStyle and\nParagraphStyle from these named styles."
    },
    "ReplaceAllTextRequest": {
      "id": "ReplaceAllTextRequest",
      "description": "Replaces all instances of text matching a criteria with replace text.",
      "type": "object",
      "properties": {
        "replaceText": {
          "description": "The text that will replace the matched text.",
          "type": "string"
        },
        "containsText": {
          "$ref": "SubstringMatchCriteria",
          "description": "Finds text in the document matching this substring."
        }
      }
    },
    "TableCellBorder": {
      "type": "object",
      "properties": {
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "description": "The dash style of the border.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'.\nThis is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ]
        },
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        }
      },
      "id": "TableCellBorder",
      "description": "A border around a table cell."
    },
    "SectionBreak": {
      "description": "A StructuralElement representing a\nsection break. A section is a range of content which has the same\nSectionStyle. A section break represents\nthe start of a new section, and the section style applies to the section\nafter the section break.\n\nThe document body always begins with a section break.",
      "type": "object",
      "properties": {
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it is\na nested suggested change. If empty, then this is not a suggested\ninsertion."
        },
        "sectionStyle": {
          "description": "The style of the section after this section break.",
          "$ref": "SectionStyle"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SectionBreak"
    },
    "CropProperties": {
      "properties": {
        "offsetLeft": {
          "description": "The offset specifies how far inwards the left edge of the crop rectangle is\nfrom the left edge of the original content as a fraction of the original\ncontent's width.",
          "format": "float",
          "type": "number"
        },
        "angle": {
          "description": "The clockwise rotation angle of the crop rectangle around its center, in\nradians. Rotation is applied after the offsets.",
          "format": "float",
          "type": "number"
        },
        "offsetRight": {
          "description": "The offset specifies how far inwards the right edge of the crop rectangle\nis from the right edge of the original content as a fraction of the\noriginal content's width.",
          "format": "float",
          "type": "number"
        },
        "offsetBottom": {
          "description": "The offset specifies how far inwards the bottom edge of the crop rectangle\nis from the bottom edge of the original content as a fraction of the\noriginal content's height.",
          "format": "float",
          "type": "number"
        },
        "offsetTop": {
          "description": "The offset specifies how far inwards the top edge of the crop rectangle is\nfrom the top edge of the original content as a fraction of the original\ncontent's height.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "CropProperties",
      "description": "The crop properties of an image.\n\nThe crop rectangle is represented using fractional offsets from the original\ncontent's four edges.\n\n- If the offset is in the interval (0, 1), the corresponding edge of crop\nrectangle is positioned inside of the image's original bounding rectangle.\n- If the offset is negative or greater than 1, the corresponding edge of crop\nrectangle is positioned outside of the image's original bounding rectangle.\n- If all offsets and rotation angle are 0, the image is not cropped.",
      "type": "object"
    },
    "TableCellStyleSuggestionState": {
      "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
      "type": "object",
      "properties": {
        "paddingLeftSuggested": {
          "description": "Indicates if there was a suggested change to padding_left.",
          "type": "boolean"
        },
        "borderRightSuggested": {
          "description": "Indicates if there was a suggested change to border_right.",
          "type": "boolean"
        },
        "paddingTopSuggested": {
          "description": "Indicates if there was a suggested change to padding_top.",
          "type": "boolean"
        },
        "paddingRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_right."
        },
        "columnSpanSuggested": {
          "description": "Indicates if there was a suggested change to column_span.",
          "type": "boolean"
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        },
        "rowSpanSuggested": {
          "description": "Indicates if there was a suggested change to row_span.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "description": "Indicates if there was a suggested change to border_left.",
          "type": "boolean"
        },
        "contentAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to content_alignment.",
          "type": "boolean"
        },
        "paddingBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_bottom."
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        },
        "borderTopSuggested": {
          "description": "Indicates if there was a suggested change to border_top.",
          "type": "boolean"
        }
      },
      "id": "TableCellStyleSuggestionState"
    },
    "EmbeddedObject": {
      "properties": {
        "embeddedObjectBorder": {
          "description": "The border of the embedded object.",
          "$ref": "EmbeddedObjectBorder"
        },
        "linkedContentReference": {
          "description": "A reference to the external linked source content. For example, it contains\na reference to the source Sheets chart when the embedded object is a linked\nchart.\n\nIf unset, then the embedded object is not linked.",
          "$ref": "LinkedContentReference"
        },
        "marginTop": {
          "description": "The top margin of the embedded object.",
          "$ref": "Dimension"
        },
        "marginRight": {
          "description": "The right margin of the embedded object.",
          "$ref": "Dimension"
        },
        "size": {
          "description": "The size of the embedded object.",
          "$ref": "Size"
        },
        "title": {
          "description": "The title of the embedded object. The `title` and `description` are both\ncombined to display alt text.",
          "type": "string"
        },
        "description": {
          "description": "The description of the embedded object. The `title` and `description` are\nboth combined to display alt text.",
          "type": "string"
        },
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The properties of an image."
        },
        "embeddedDrawingProperties": {
          "$ref": "EmbeddedDrawingProperties",
          "description": "The properties of an embedded drawing."
        },
        "marginBottom": {
          "description": "The bottom margin of the embedded object.",
          "$ref": "Dimension"
        },
        "marginLeft": {
          "description": "The left margin of the embedded object.",
          "$ref": "Dimension"
        }
      },
      "id": "EmbeddedObject",
      "description": "An embedded object in the document.",
      "type": "object"
    },
    "BatchUpdateDocumentRequest": {
      "description": "Request message for BatchUpdateDocument.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "A list of updates to apply to the document.",
          "type": "array",
          "items": {
            "$ref": "Request"
          }
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        }
      },
      "id": "BatchUpdateDocumentRequest"
    },
    "EmbeddedObjectSuggestionState": {
      "properties": {
        "embeddedObjectBorderSuggestionState": {
          "$ref": "EmbeddedObjectBorderSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object_border have been\nchanged in this suggestion."
        },
        "embeddedDrawingPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_drawing_properties have been\nchanged in this suggestion.",
          "$ref": "EmbeddedDrawingPropertiesSuggestionState"
        },
        "imagePropertiesSuggestionState": {
          "$ref": "ImagePropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in image_properties have been changed in\nthis suggestion."
        },
        "linkedContentReferenceSuggestionState": {
          "$ref": "LinkedContentReferenceSuggestionState",
          "description": "A mask that indicates which of the fields in linked_content_reference have been\nchanged in this suggestion."
        },
        "sizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this\nsuggestion."
        },
        "descriptionSuggested": {
          "description": "Indicates if there was a suggested change to description.",
          "type": "boolean"
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "titleSuggested": {
          "description": "Indicates if there was a suggested change to title.",
          "type": "boolean"
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        }
      },
      "id": "EmbeddedObjectSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
      "type": "object"
    },
    "Equation": {
      "description": "A ParagraphElement representing an\nequation.",
      "type": "object",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A Equation\nmay have multiple insertion IDs if it is a nested suggested change. If\nempty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Equation"
    },
    "Range": {
      "description": "Specifies a contiguous range of text.",
      "type": "object",
      "properties": {
        "startIndex": {
          "description": "The zero-based start index of this range, in Unicode code units of the\nUTF-16 encoding.\n\nIn all current uses, a start index must be provided. This field is an\nInt32Value in order to accommodate future use cases with open-ended ranges.",
          "format": "int32",
          "type": "integer"
        },
        "endIndex": {
          "description": "The zero-based end index of this range, exclusive, in Unicode code units of\nthe UTF-16 encoding.\n\nIn all current uses, an end index must be provided. This field is an\nInt32Value in order to accommodate future use cases with open-ended ranges.",
          "format": "int32",
          "type": "integer"
        },
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer or footnote that this range is contained in.\nAn empty segment ID signifies the document's body."
        }
      },
      "id": "Range"
    },
    "PageBreak": {
      "description": "A ParagraphElement representing a\npage break. A page break makes the subsequent text start at the top of the\nnext page.",
      "type": "object",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A PageBreak\nmay have multiple insertion IDs if it is a nested suggested change. If\nempty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this PageBreak, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this PageBreak.\n\nSimilar to text content, like text runs and footnote references, the text\nstyle of a page break can affect content layout as well as the styling of\ntext inserted adjacent to it."
        }
      },
      "id": "PageBreak"
    },
    "ObjectReferences": {
      "type": "object",
      "properties": {
        "objectIds": {
          "description": "The object IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ObjectReferences",
      "description": "A collection of object IDs."
    },
    "PositionedObjectPositioningSuggestionState": {
      "description": "A mask that indicates which of the fields on the base\nPositionedObjectPositioning have been changed in this\nsuggestion. For any field set to true, there is a new suggested value.",
      "type": "object",
      "properties": {
        "layoutSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to layout."
        },
        "topOffsetSuggested": {
          "description": "Indicates if there was a suggested change to top_offset.",
          "type": "boolean"
        },
        "leftOffsetSuggested": {
          "description": "Indicates if there was a suggested change to left_offset.",
          "type": "boolean"
        }
      },
      "id": "PositionedObjectPositioningSuggestionState"
    },
    "InsertInlineImageRequest": {
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer or the document body.\n\nInline images cannot be inserted inside a footnote.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the image at a specific index in the document.\n\nThe image must be inserted inside the bounds of an existing\nParagraph. For instance, it cannot be\ninserted at a table's start index (i.e. between the table and its\npreceding paragraph).\n\nInline images cannot be inserted inside a footnote or equation."
        },
        "uri": {
          "description": "The image URI.\n\nThe image is fetched once at insertion time and a copy is stored for\ndisplay inside the document. Images must be less than 50MB in size, cannot\nexceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format.\n\nThe provided URI can be at most 2 kB in length. The URI itself is saved\nwith the image, and exposed via the ImageProperties.content_uri field.",
          "type": "string"
        },
        "objectSize": {
          "description": "The size that the image should appear as in the document. This property is\noptional and the final size of the image in the document is determined by\nthe following rules:\n * If neither width nor height is specified, then a default size of the\n image is calculated based on its resolution.\n * If one dimension is specified then the other dimension is calculated to\n preserve the aspect ratio of the image.\n * If both width and height are specified, the image is scaled to fit\n within the provided dimensions while maintaining its aspect ratio.",
          "$ref": "Size"
        }
      },
      "id": "InsertInlineImageRequest",
      "description": "Inserts an InlineObject containing an\nimage at the given location."
    },
    "SectionColumnProperties": {
      "id": "SectionColumnProperties",
      "description": "Properties that apply to a section's column.",
      "type": "object",
      "properties": {
        "paddingEnd": {
          "$ref": "Dimension",
          "description": "The padding at the end of the column."
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the column."
        }
      }
    },
    "CreateNamedRangeResponse": {
      "properties": {
        "namedRangeId": {
          "description": "The ID of the created named range.",
          "type": "string"
        }
      },
      "id": "CreateNamedRangeResponse",
      "description": "The result of creating a named range.",
      "type": "object"
    },
    "SuggestedPositionedObjectProperties": {
      "description": "A suggested change to PositionedObjectProperties.",
      "type": "object",
      "properties": {
        "positionedObjectProperties": {
          "description": "A PositionedObjectProperties that only includes the\nchanges made in this suggestion. This can be used along with the\npositioned_object_properties_suggestion_state\nto see which fields have changed and their new values.",
          "$ref": "PositionedObjectProperties"
        },
        "positionedObjectPropertiesSuggestionState": {
          "$ref": "PositionedObjectPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base\nPositionedObjectProperties have been changed in this\nsuggestion."
        }
      },
      "id": "SuggestedPositionedObjectProperties"
    },
    "BatchUpdateDocumentResponse": {
      "id": "BatchUpdateDocumentResponse",
      "description": "Response message from a BatchUpdateDocument request.",
      "type": "object",
      "properties": {
        "replies": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies\nto some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "Response"
          }
        },
        "documentId": {
          "description": "The ID of the document to which the updates were applied to.",
          "type": "string"
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "The updated write control after applying the request."
        }
      }
    },
    "DeleteTableRowRequest": {
      "type": "object",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the row will be deleted.\n\nThe row this cell spans will be deleted. If this is a merged cell that\nspans multiple rows, all rows that the cell spans will be deleted. If no\nrows remain in the table after this deletion, the whole table is deleted."
        }
      },
      "id": "DeleteTableRowRequest",
      "description": "Deletes a row from a table."
    },
    "Bullet": {
      "description": "Describes the bullet of a paragraph.",
      "type": "object",
      "properties": {
        "nestingLevel": {
          "description": "The nesting level of this paragraph in the list.",
          "format": "int32",
          "type": "integer"
        },
        "listId": {
          "type": "string",
          "description": "The ID of the list this paragraph belongs to."
        },
        "textStyle": {
          "description": "The paragraph specific text style applied to this bullet.",
          "$ref": "TextStyle"
        }
      },
      "id": "Bullet"
    },
    "TableCellLocation": {
      "id": "TableCellLocation",
      "description": "Location of a single cell within a table.",
      "type": "object",
      "properties": {
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        },
        "rowIndex": {
          "description": "The zero-based row index. For example, the second row in the table has a\nrow index of 1.",
          "format": "int32",
          "type": "integer"
        },
        "columnIndex": {
          "description": "The zero-based column index. For example, the second column in the table\nhas a column index of 1.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SectionStyle": {
      "description": "The styling that applies to a section.",
      "type": "object",
      "properties": {
        "contentDirection": {
          "description": "The content direction of this section. If unset, the value defaults to\nLEFT_TO_RIGHT.",
          "type": "string",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ]
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "SectionColumnProperties"
          },
          "description": "The section's columns properties.\n\nIf empty, the section contains one column with the default properties in\nthe Docs editor."
        },
        "columnSeparatorStyle": {
          "enum": [
            "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
            "NONE",
            "BETWEEN_EACH_COLUMN"
          ],
          "description": "The style of column separators.\n\nThis style can be set even when there is one column in the section.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified column separator style.",
            "No column separator lines between columns.",
            "Renders a column separator line between each column."
          ]
        }
      },
      "id": "SectionStyle"
    },
    "ReplaceAllTextResponse": {
      "description": "The result of replacing text.",
      "type": "object",
      "properties": {
        "occurrencesChanged": {
          "description": "The number of occurrences changed by replacing all text.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ReplaceAllTextResponse"
    },
    "EndOfSegmentLocation": {
      "properties": {
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty\nsegment ID signifies the document's body.",
          "type": "string"
        }
      },
      "id": "EndOfSegmentLocation",
      "description": "Location at the end of a body, header, footer or footnote. The location is\nimmediately before the last newline in the document segment.",
      "type": "object"
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base\nEmbeddedDrawingProperties\nhave been changed in this suggestion. For any field set to true, there is a\nnew suggested value.",
      "type": "object",
      "properties": {},
      "id": "EmbeddedDrawingPropertiesSuggestionState"
    },
    "SheetsChartReference": {
      "description": "A reference to a linked chart embedded from Google Sheets.",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        },
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that is\nembedded.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SheetsChartReference"
    },
    "SuggestedTableCellStyle": {
      "type": "object",
      "properties": {
        "tableCellStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion.",
          "$ref": "TableCellStyleSuggestionState"
        },
        "tableCellStyle": {
          "description": "A TableCellStyle that only includes\nthe changes made in this suggestion. This can be used along with the\ntable_cell_style_suggestion_state\nto see which fields have changed and their new values.",
          "$ref": "TableCellStyle"
        }
      },
      "id": "SuggestedTableCellStyle",
      "description": "A suggested change to a TableCellStyle."
    },
    "UpdateParagraphStyleRequest": {
      "description": "Update the styling of all paragraphs that overlap with the given range.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "The fields that should be updated.\n\nAt least one field must be specified. The root `paragraph_style` is implied\nand should not be specified.\n\nFor example, to update the paragraph style's alignment property, set\n`fields` to `\"alignment\"`.\n\nTo reset a property to its default value, include its field name in the\nfield mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "range": {
          "$ref": "Range",
          "description": "The range overlapping the paragraphs to style."
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The styles to set on the paragraphs.\n\nCertain paragraph style changes may cause other changes in order to mirror\nthe behavior of the Docs editor. See the documentation of ParagraphStyle for more information."
        }
      },
      "id": "UpdateParagraphStyleRequest"
    },
    "SuggestedInlineObjectProperties": {
      "type": "object",
      "properties": {
        "inlineObjectPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base\nInlineObjectProperties have\nbeen changed in this suggestion.",
          "$ref": "InlineObjectPropertiesSuggestionState"
        },
        "inlineObjectProperties": {
          "description": "An InlineObjectProperties\nthat only includes the changes made in this suggestion. This can be used\nalong with the inline_object_properties_suggestion_state\nto see which fields have changed and their new values.",
          "$ref": "InlineObjectProperties"
        }
      },
      "id": "SuggestedInlineObjectProperties",
      "description": "A suggested change to InlineObjectProperties."
    },
    "NamedRange": {
      "description": "A collection of Ranges with the same named range\nID.\n\nNamed ranges allow developers to associate parts of a document with an\narbitrary user-defined label so their contents can be programmatically read\nor edited at a later time. A document may contain multiple named ranges with\nthe same name, but every named range has a unique ID.\n\nA named range is created with a single Range,\nand content inserted inside a named range generally expands that range.\nHowever, certain document changes can cause the range to be split into\nmultiple ranges.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        },
        "ranges": {
          "description": "The ranges that belong to this named range.",
          "type": "array",
          "items": {
            "$ref": "Range"
          }
        },
        "namedRangeId": {
          "description": "The ID of the named range.",
          "type": "string"
        }
      },
      "id": "NamedRange"
    },
    "NamedStyle": {
      "description": "A named style. Paragraphs in the document can inherit their\nTextStyle and\nParagraphStyle from this named style\nwhen they have the same named style type.",
      "type": "object",
      "properties": {
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The paragraph style of this named style."
        },
        "namedStyleType": {
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "description": "The type of this named style.",
          "type": "string"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this named style."
        }
      },
      "id": "NamedStyle"
    },
    "Paragraph": {
      "type": "object",
      "properties": {
        "suggestedBulletChanges": {
          "description": "The suggested changes to this paragraph's bullet.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedBullet"
          }
        },
        "elements": {
          "description": "The content of the paragraph broken down into its component parts.",
          "type": "array",
          "items": {
            "$ref": "ParagraphElement"
          }
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The style of this paragraph."
        },
        "bullet": {
          "description": "The bullet for this paragraph. If not present, the paragraph does not\nbelong to a list.",
          "$ref": "Bullet"
        },
        "suggestedParagraphStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedParagraphStyle"
          },
          "description": "The suggested paragraph style changes to this paragraph, keyed by\nsuggestion ID.",
          "type": "object"
        },
        "suggestedPositionedObjectIds": {
          "additionalProperties": {
            "$ref": "ObjectReferences"
          },
          "description": "The IDs of the positioned objects that are suggested to be attached to this\nparagraph, keyed by suggestion ID.",
          "type": "object"
        },
        "positionedObjectIds": {
          "description": "The IDs of the positioned objects tethered to this paragraph.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Paragraph",
      "description": "A StructuralElement representing a\nparagraph. A paragraph is a range of content that is terminated with a\nnewline character."
    },
    "InsertTextRequest": {
      "description": "Inserts text at the specified location.",
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer, footnote or\nthe document body."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the text at a specific index in the document.\n\nText must be inserted inside the bounds of an existing\nParagraph. For instance, text cannot be\ninserted at a table's start index (i.e. between the table and its\npreceding paragraph). The text must be inserted in the preceding\nparagraph."
        },
        "text": {
          "description": "The text to be inserted.\n\nInserting a newline character will implicitly create a new\nParagraph at that index.\nThe paragraph style of the new paragraph will be copied from the paragraph\nat the current insertion index, including lists and bullets.\n\nText styles for inserted text will be determined automatically, generally\npreserving the styling of neighboring text. In most cases, the text style\nfor the inserted text will match the text immediately before the insertion\nindex.\n\nSome control characters (U+0000-U+0008, U+000C-U+001F) and characters\nfrom the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF)\nwill be stripped out of the inserted text.",
          "type": "string"
        }
      },
      "id": "InsertTextRequest"
    },
    "AutoText": {
      "type": "object",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An AutoText\nmay have multiple insertion IDs if it is a nested suggested change. If\nempty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "description": "The text style of this AutoText.",
          "$ref": "TextStyle"
        },
        "type": {
          "enumDescriptions": [
            "An unspecified auto text type.",
            "Type for auto text that represents the current page number.",
            "Type for auto text that represents the total number of pages in the\ndocument."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PAGE_NUMBER",
            "PAGE_COUNT"
          ],
          "description": "The type of this auto text.",
          "type": "string"
        }
      },
      "id": "AutoText",
      "description": "A ParagraphElement representing a\nspot in the text that is dynamically replaced with content that can change\nover time, like a page number."
    },
    "PositionedObjectPropertiesSuggestionState": {
      "id": "PositionedObjectPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base\nPositionedObjectProperties\nhave been changed in this suggestion. For any field set to true, there is a\nnew suggested value.",
      "type": "object",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been\nchanged in this suggestion."
        },
        "positioningSuggestionState": {
          "$ref": "PositionedObjectPositioningSuggestionState",
          "description": "A mask that indicates which of the fields in positioning have been\nchanged in this suggestion."
        }
      }
    },
    "BulletSuggestionState": {
      "description": "A mask that indicates which of the fields on the base\nBullet have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
      "type": "object",
      "properties": {
        "listIdSuggested": {
          "description": "Indicates if there was a suggested change to the\nlist_id.",
          "type": "boolean"
        },
        "nestingLevelSuggested": {
          "description": "Indicates if there was a suggested change to the\nnesting_level.",
          "type": "boolean"
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this\nsuggestion."
        }
      },
      "id": "BulletSuggestionState"
    },
    "Dimension": {
      "description": "A magnitude in a single direction in the specified units.",
      "type": "object",
      "properties": {
        "magnitude": {
          "type": "number",
          "description": "The magnitude.",
          "format": "double"
        },
        "unit": {
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ],
          "description": "The units for magnitude.",
          "type": "string",
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ]
        }
      },
      "id": "Dimension"
    },
    "DeleteNamedRangeRequest": {
      "properties": {
        "name": {
          "description": "The name of the range(s) to delete. All named ranges with the given\nname will be deleted.",
          "type": "string"
        },
        "namedRangeId": {
          "description": "The ID of the named range to delete.",
          "type": "string"
        }
      },
      "id": "DeleteNamedRangeRequest",
      "description": "Deletes a NamedRange.",
      "type": "object"
    },
    "PositionedObject": {
      "type": "object",
      "properties": {
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested\ninsertion.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "positionedObjectProperties": {
          "description": "The properties of this positioned object.",
          "$ref": "PositionedObjectProperties"
        },
        "objectId": {
          "description": "The ID of this positioned object.",
          "type": "string"
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          },
          "description": "The suggested changes to the positioned object properties, keyed by\nsuggestion ID.",
          "type": "object"
        }
      },
      "id": "PositionedObject",
      "description": "An object that is tethered to a Paragraph\nand positioned relative to the beginning of the paragraph. A PositionedObject\ncontains an EmbeddedObject such as an\nimage."
    },
    "TableStyle": {
      "description": "Styles that apply to a table.",
      "type": "object",
      "properties": {
        "tableColumnProperties": {
          "description": "The properties of each column.\n\nNote that in Docs, tables contain rows and rows contain cells, similar to\nHTML. So the properties for a row can be found on the row's\ntable_row_style.",
          "type": "array",
          "items": {
            "$ref": "TableColumnProperties"
          }
        }
      },
      "id": "TableStyle"
    },
    "Color": {
      "description": "A solid color.",
      "type": "object",
      "properties": {
        "rgbColor": {
          "$ref": "RgbColor",
          "description": "The RGB color value."
        }
      },
      "id": "Color"
    },
    "ImageProperties": {
      "description": "The properties of an image.",
      "type": "object",
      "properties": {
        "transparency": {
          "type": "number",
          "description": "The transparency effect of the image. The value should be in the interval\n[0.0, 1.0], where 0 means no effect and 1 means completely transparent.",
          "format": "float"
        },
        "angle": {
          "description": "The clockwise rotation angle of the image, in radians.",
          "format": "float",
          "type": "number"
        },
        "contentUri": {
          "description": "A URI to the image with a default lifetime of 30 minutes.\nThis URI is tagged with the account of the requester. Anyone with the URI\neffectively accesses the image as the original requester. Access to the\nimage may be lost if the document's sharing settings change.",
          "type": "string"
        },
        "contrast": {
          "type": "number",
          "description": "The contrast effect of the image. The value should be in the interval\n[-1.0, 1.0], where 0 means no effect.",
          "format": "float"
        },
        "sourceUri": {
          "description": "The source URI is the URI used to insert the image. The source URI can be\nempty.",
          "type": "string"
        },
        "cropProperties": {
          "$ref": "CropProperties",
          "description": "The crop properties of the image.\n\nAfter cropping, the image will be stretched to fit in its container."
        },
        "brightness": {
          "description": "The brightness effect of the image. The value should be in the interval\n[-1.0, 1.0], where 0 means no effect.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "ImageProperties"
    },
    "TabStop": {
      "description": "A tab stop within a paragraph.",
      "type": "object",
      "properties": {
        "alignment": {
          "description": "The alignment of this tab stop. If unset, the value defaults to START.",
          "type": "string",
          "enumDescriptions": [
            "The tab stop alignment is unspecified.",
            "The tab stop is aligned to the start of the line. This is the default.",
            "The tab stop is aligned to the center of the line.",
            "The tab stop is aligned to the end of the line."
          ],
          "enum": [
            "TAB_STOP_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        },
        "offset": {
          "$ref": "Dimension",
          "description": "The offset between this tab stop and the start margin."
        }
      },
      "id": "TabStop"
    },
    "SuggestedNamedStyles": {
      "id": "SuggestedNamedStyles",
      "description": "A suggested change to the NamedStyles.",
      "type": "object",
      "properties": {
        "namedStylesSuggestionState": {
          "$ref": "NamedStylesSuggestionState",
          "description": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion."
        },
        "namedStyles": {
          "$ref": "NamedStyles",
          "description": "A NamedStyles that only includes the\nchanges made in this suggestion. This can be used along with the\nnamed_styles_suggestion_state to\nsee which fields have changed and their new values."
        }
      }
    },
    "Response": {
      "description": "A single response from an update.",
      "type": "object",
      "properties": {
        "replaceAllText": {
          "$ref": "ReplaceAllTextResponse",
          "description": "The result of replacing text."
        },
        "insertInlineImage": {
          "$ref": "InsertInlineImageResponse",
          "description": "The result of inserting an inline image."
        },
        "createNamedRange": {
          "$ref": "CreateNamedRangeResponse",
          "description": "The result of creating a named range."
        },
        "insertInlineSheetsChart": {
          "$ref": "InsertInlineSheetsChartResponse",
          "description": "The result of inserting an inline Google Sheets chart."
        }
      },
      "id": "Response"
    },
    "TextRun": {
      "description": "A ParagraphElement that represents a\nrun of text that all has the same styling.",
      "type": "object",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "description": "The text style of this run.",
          "$ref": "TextStyle"
        },
        "content": {
          "description": "The text of this run.\n\nAny non-text elements in the run are replaced with the Unicode character\nU+E907.",
          "type": "string"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TextRun may\nhave multiple insertion IDs if it is a nested suggested change. If empty,\nthen this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this run, keyed by suggestion ID."
        }
      },
      "id": "TextRun"
    },
    "SubstringMatchCriteria": {
      "description": "A criteria that matches a specific string of text in the document.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text to search for in the document.",
          "type": "string"
        },
        "matchCase": {
          "type": "boolean",
          "description": "Indicates whether the search should respect case:\n\n- `True`: the search is case sensitive.\n- `False`: the search is case insensitive."
        }
      },
      "id": "SubstringMatchCriteria"
    },
    "StructuralElement": {
      "properties": {
        "table": {
          "description": "A table type of structural element.",
          "$ref": "Table"
        },
        "paragraph": {
          "$ref": "Paragraph",
          "description": "A paragraph type of structural element."
        },
        "sectionBreak": {
          "description": "A section break type of structural element.",
          "$ref": "SectionBreak"
        },
        "endIndex": {
          "description": "The zero-based end index of this structural element, exclusive, in Unicode\ncode units of the UTF-16 encoding.\n\nUnicode code units of the UTF-16 encoding means that surrogate pairs\nconsume two indices. For example, the \"GRINNING FACE\" emoji would be\nrepresented as \"\\uD83D\\uDE00\" and would consume two indices.",
          "format": "int32",
          "type": "integer"
        },
        "tableOfContents": {
          "description": "A table of contents type of structural element.",
          "$ref": "TableOfContents"
        },
        "startIndex": {
          "description": "The zero-based start index of this structural element, in Unicode code\nunits of the UTF-16 encoding.\n\nUnicode code units of the UTF-16 encoding means that surrogate pairs\nconsume two indices. For example, the \"GRINNING FACE\" emoji would be\nrepresented as \"\\uD83D\\uDE00\" and would consume two indices.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "StructuralElement",
      "description": "A StructuralElement describes content that provides structure to the\ndocument.",
      "type": "object"
    },
    "TableRowStyle": {
      "description": "Styles that apply to a table row.",
      "type": "object",
      "properties": {
        "minRowHeight": {
          "$ref": "Dimension",
          "description": "The minimum height of the row. The row will be rendered in the Docs editor\nat a height equal to or greater than this value in order to show all the\ncontent in the row's cells."
        }
      },
      "id": "TableRowStyle"
    },
    "InlineObjectElement": {
      "description": "A ParagraphElement that contains\nan InlineObject.",
      "type": "object",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this InlineObjectElement.\n\nSimilar to text content, like text runs and footnote references, the text\nstyle of an inline object element can affect content layout as well as the\nstyling of text inserted adjacent to it."
        },
        "inlineObjectId": {
          "description": "The ID of the InlineObject this\nelement contains.",
          "type": "string"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs\nif it is a nested suggested change. If empty, then this is not a suggested\ninsertion."
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion\nID.",
          "type": "object"
        }
      },
      "id": "InlineObjectElement"
    },
    "InsertInlineImageResponse": {
      "description": "The result of inserting an inline image.",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the created InlineObject."
        }
      },
      "id": "InsertInlineImageResponse"
    },
    "Table": {
      "description": "A StructuralElement representing a\ntable.",
      "type": "object",
      "properties": {
        "tableStyle": {
          "description": "The style of the table.",
          "$ref": "TableStyle"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A Table may have\nmultiple insertion IDs if it is a nested suggested change. If empty, then\nthis is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rows": {
          "description": "Number of rows in the table.",
          "format": "int32",
          "type": "integer"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "columns": {
          "description": "Number of columns in the table.\n\nIt is possible for a table to be non-rectangular, so some rows may have a\ndifferent number of cells.",
          "format": "int32",
          "type": "integer"
        },
        "tableRows": {
          "description": "The contents and style of each row.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        }
      },
      "id": "Table"
    },
    "PositionedObjectPositioning": {
      "description": "The positioning of a PositionedObject. The positioned object is positioned\nrelative to the beginning of the Paragraph\nit is tethered to.",
      "type": "object",
      "properties": {
        "layout": {
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on\nthe right.",
            "Breaks text such that the positioned object is on the right and text is on\nthe left.",
            "Breaks text such that there is no text on the left or right of the\npositioned object.",
            "The positioned object is in front of the text."
          ],
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT"
          ],
          "description": "The layout of this positioned object.",
          "type": "string"
        },
        "topOffset": {
          "$ref": "Dimension",
          "description": "The offset of the top edge of the positioned object relative to the\nbeginning of the Paragraph it is tethered\nto. The exact positioning of the object can depend on other content in the\ndocument and the document's styling."
        },
        "leftOffset": {
          "$ref": "Dimension",
          "description": "The offset of the left edge of the positioned object relative to the\nbeginning of the Paragraph it is tethered\nto. The exact positioning of the object can depend on other content in the\ndocument and the document's styling."
        }
      },
      "id": "PositionedObjectPositioning"
    },
    "ParagraphStyleSuggestionState": {
      "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
      "type": "object",
      "properties": {
        "directionSuggested": {
          "description": "Indicates if there was a suggested change to direction.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        },
        "namedStyleTypeSuggested": {
          "description": "Indicates if there was a suggested change to named_style_type.",
          "type": "boolean"
        },
        "indentFirstLineSuggested": {
          "description": "Indicates if there was a suggested change to indent_first_line.",
          "type": "boolean"
        },
        "borderTopSuggested": {
          "description": "Indicates if there was a suggested change to border_top.",
          "type": "boolean"
        },
        "lineSpacingSuggested": {
          "description": "Indicates if there was a suggested change to line_spacing.",
          "type": "boolean"
        },
        "indentEndSuggested": {
          "description": "Indicates if there was a suggested change to indent_end.",
          "type": "boolean"
        },
        "borderRightSuggested": {
          "description": "Indicates if there was a suggested change to border_right.",
          "type": "boolean"
        },
        "spaceAboveSuggested": {
          "description": "Indicates if there was a suggested change to space_above.",
          "type": "boolean"
        },
        "keepLinesTogetherSuggested": {
          "description": "Indicates if there was a suggested change to keep_lines_together.",
          "type": "boolean"
        },
        "indentStartSuggested": {
          "description": "Indicates if there was a suggested change to indent_start.",
          "type": "boolean"
        },
        "headingIdSuggested": {
          "description": "Indicates if there was a suggested change to heading_id.",
          "type": "boolean"
        },
        "keepWithNextSuggested": {
          "description": "Indicates if there was a suggested change to keep_with_next.",
          "type": "boolean"
        },
        "spacingModeSuggested": {
          "description": "Indicates if there was a suggested change to spacing_mode.",
          "type": "boolean"
        },
        "borderBetweenSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_between."
        },
        "avoidWidowAndOrphanSuggested": {
          "description": "Indicates if there was a suggested change to avoid_widow_and_orphan.",
          "type": "boolean"
        },
        "shadingSuggestionState": {
          "description": "A mask that indicates which of the fields in shading have been changed in\nthis suggestion.",
          "$ref": "ShadingSuggestionState"
        },
        "alignmentSuggested": {
          "description": "Indicates if there was a suggested change to alignment.",
          "type": "boolean"
        },
        "spaceBelowSuggested": {
          "description": "Indicates if there was a suggested change to space_below.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "description": "Indicates if there was a suggested change to border_left.",
          "type": "boolean"
        }
      },
      "id": "ParagraphStyleSuggestionState"
    },
    "LinkedContentReference": {
      "description": "A reference to the external linked source content.",
      "type": "object",
      "properties": {
        "sheetsChartReference": {
          "description": "A reference to the linked chart.",
          "$ref": "SheetsChartReference"
        }
      },
      "id": "LinkedContentReference"
    },
    "Body": {
      "description": "The document body.\n\nThe body typically contains the full document contents except for\nheaders, footers\nand footnotes.",
      "type": "object",
      "properties": {
        "content": {
          "description": "The contents of the body.\n\nThe indices for the body's content begin at zero.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      },
      "id": "Body"
    },
    "ListPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
      "type": "object",
      "properties": {
        "nestingLevelsSuggestionStates": {
          "description": "A mask that indicates which of the fields on the corresponding\nNestingLevel in nesting_levels have been changed in\nthis suggestion.\n\nThe nesting level suggestion states are returned in ascending order of the\nnesting level with the least nested returned first.",
          "type": "array",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          }
        }
      },
      "id": "ListPropertiesSuggestionState"
    },
    "PositionedObjectProperties": {
      "description": "Properties of a PositionedObject.",
      "type": "object",
      "properties": {
        "positioning": {
          "$ref": "PositionedObjectPositioning",
          "description": "The positioning of this positioned object relative to the newline of the\nParagraph that references this positioned\nobject."
        },
        "embeddedObject": {
          "$ref": "EmbeddedObject",
          "description": "The embedded object of this positioned object."
        }
      },
      "id": "PositionedObjectProperties"
    },
    "OptionalColor": {
      "properties": {
        "color": {
          "description": "If set, this will be used as an opaque color. If unset, this represents\na transparent color.",
          "$ref": "Color"
        }
      },
      "id": "OptionalColor",
      "description": "A color that can either be fully opaque or fully transparent.",
      "type": "object"
    },
    "TableCellStyle": {
      "description": "The style of a TableCell.\n\nInherited table cell styles are represented as unset fields in this message.\nA table cell style can inherit from the table's style.",
      "type": "object",
      "properties": {
        "borderBottom": {
          "$ref": "TableCellBorder",
          "description": "The bottom border of the cell."
        },
        "borderLeft": {
          "$ref": "TableCellBorder",
          "description": "The left border of the cell."
        },
        "paddingLeft": {
          "description": "The left padding of the cell.",
          "$ref": "Dimension"
        },
        "paddingBottom": {
          "description": "The bottom padding of the cell.",
          "$ref": "Dimension"
        },
        "borderRight": {
          "$ref": "TableCellBorder",
          "description": "The right border of the cell."
        },
        "paddingRight": {
          "description": "The right padding of the cell.",
          "$ref": "Dimension"
        },
        "contentAlignment": {
          "description": "The alignment of the content in the table cell. The default alignment\nmatches the alignment for newly created table cells in the Docs editor.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from\nthe parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder.\nCorresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder.\nCorresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder.\nCorresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ],
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ]
        },
        "borderTop": {
          "$ref": "TableCellBorder",
          "description": "The top border of the cell."
        },
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the cell."
        },
        "paddingTop": {
          "description": "The top padding of the cell.",
          "$ref": "Dimension"
        },
        "rowSpan": {
          "description": "The row span of the cell. This property is read-only.",
          "format": "int32",
          "type": "integer"
        },
        "columnSpan": {
          "description": "The column span of the cell. This property is read-only.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TableCellStyle"
    },
    "DeleteTableColumnRequest": {
      "type": "object",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the column will be deleted.\n\nThe column this cell spans will be deleted. If this is a merged cell that\nspans multiple columns, all columns that the cell spans will be deleted. If\nno columns remain in the table after this deletion, the whole table is\ndeleted."
        }
      },
      "id": "DeleteTableColumnRequest",
      "description": "Deletes a column from a table."
    },
    "UpdateTextStyleRequest": {
      "type": "object",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range of text to style.\n\nThe range may be extended to include adjacent newlines.\n\nIf the range fully contains a paragraph belonging to a list, the\nparagraph's bullet is also updated with the matching text style."
        },
        "textStyle": {
          "$ref": "TextStyle",
[...]
