{
  "batchPath": "batch",
  "id": "genomics:v1",
  "documentationLink": "https://cloud.google.com/genomics",
  "revision": "20181127",
  "fullyEncodeReservedExpansion": true,
  "title": "Genomics API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "annotationsets": {
      "methods": {
        "get": {
          "flatPath": "v1/annotationsets/{annotationSetId}",
          "id": "genomics.annotationsets.get",
          "path": "v1/annotationsets/{annotationSetId}",
          "description": "Gets an annotation set. Caller must have READ permission for\nthe associated dataset.",
          "httpMethod": "GET",
          "response": {
            "$ref": "AnnotationSet"
          },
          "parameterOrder": [
            "annotationSetId"
          ],
          "parameters": {
            "annotationSetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the annotation set to be retrieved."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "update": {
          "flatPath": "v1/annotationsets/{annotationSetId}",
          "path": "v1/annotationsets/{annotationSetId}",
          "id": "genomics.annotationsets.update",
          "request": {
            "$ref": "AnnotationSet"
          },
          "description": "Updates an annotation set. The update must respect all mutability\nrestrictions and other invariants described on the annotation set resource.\nCaller must have WRITE permission for the associated dataset.",
          "response": {
            "$ref": "AnnotationSet"
          },
          "parameterOrder": [
            "annotationSetId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "An optional mask specifying which fields to update. Mutable fields are\nname,\nsource_uri, and\ninfo. If unspecified, all\nmutable fields will be updated.",
              "format": "google-fieldmask"
            },
            "annotationSetId": {
              "location": "path",
              "description": "The ID of the annotation set to be updated.",
              "required": true,
              "type": "string"
            }
          }
        },
        "create": {
          "response": {
            "$ref": "AnnotationSet"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/annotationsets",
          "path": "v1/annotationsets",
          "id": "genomics.annotationsets.create",
          "request": {
            "$ref": "AnnotationSet"
          },
          "description": "Creates a new annotation set. Caller must have WRITE permission for the\nassociated dataset.\n\nThe following fields are required:\n\n  * datasetId\n  * referenceSetId\n\nAll other fields may be optionally specified, unless documented as being\nserver-generated (for example, the `id` field)."
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "annotationSetId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "annotationSetId": {
              "location": "path",
              "description": "The ID of the annotation set to be deleted.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/annotationsets/{annotationSetId}",
          "path": "v1/annotationsets/{annotationSetId}",
          "id": "genomics.annotationsets.delete",
          "description": "Deletes an annotation set. Caller must have WRITE permission\nfor the associated annotation set."
        },
        "search": {
          "response": {
            "$ref": "SearchAnnotationSetsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/annotationsets/search",
          "path": "v1/annotationsets/search",
          "id": "genomics.annotationsets.search",
          "description": "Searches for annotation sets that match the given criteria. Annotation sets\nare returned in an unspecified order. This order is consistent, such that\ntwo queries for the same content (regardless of page size) yield annotation\nsets in the same order across their respective streams of paginated\nresponses. Caller must have READ permission for the queried datasets.",
          "request": {
            "$ref": "SearchAnnotationSetsRequest"
          }
        }
      }
    },
    "variants": {
      "methods": {
        "get": {
          "description": "Gets a variant by ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "variantId"
          ],
          "response": {
            "$ref": "Variant"
          },
          "parameters": {
            "variantId": {
              "location": "path",
              "description": "The ID of the variant.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/variants/{variantId}",
          "id": "genomics.variants.get",
          "path": "v1/variants/{variantId}"
        },
        "patch": {
          "response": {
            "$ref": "Variant"
          },
          "parameterOrder": [
            "variantId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "variantId": {
              "location": "path",
              "description": "The ID of the variant to be updated.",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "description": "An optional mask specifying which fields to update. At this time, mutable\nfields are names and\ninfo. Acceptable values are \"names\" and\n\"info\". If unspecified, all mutable fields will be updated.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variants/{variantId}",
          "path": "v1/variants/{variantId}",
          "id": "genomics.variants.patch",
          "description": "Updates a variant.\n\nThis method supports patch semantics. Returns the modified variant without\nits calls.",
          "request": {
            "$ref": "Variant"
          }
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "variantId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "variantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the variant to be deleted."
            }
          },
          "flatPath": "v1/variants/{variantId}",
          "path": "v1/variants/{variantId}",
          "id": "genomics.variants.delete",
          "description": "Deletes a variant."
        },
        "import": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variants:import",
          "id": "genomics.variants.import",
          "path": "v1/variants:import",
          "description": "Creates variant data by asynchronously importing the provided information.\n\nThe variants for import will be merged with any existing variant that\nmatches its reference sequence, start, end, reference bases, and\nalternative bases. If no such variant exists, a new one will be created.\n\nWhen variants are merged, the call information from the new variant\nis added to the existing variant, and Variant info fields are merged\nas specified in\ninfoMergeConfig.\nAs a special case, for single-sample VCF files, QUAL and FILTER fields will\nbe moved to the call level; these are sometimes interpreted in a\ncall-specific context.\nImported VCF headers are appended to the metadata already in a variant set.",
          "request": {
            "$ref": "ImportVariantsRequest"
          }
        },
        "merge": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/variants:merge",
          "path": "v1/variants:merge",
          "id": "genomics.variants.merge",
          "request": {
            "$ref": "MergeVariantsRequest"
          },
          "description": "Merges the given variants with existing variants.\n\nEach variant will be\nmerged with an existing variant that matches its reference sequence,\nstart, end, reference bases, and alternative bases. If no such variant\nexists, a new one will be created.\n\nWhen variants are merged, the call information from the new variant\nis added to the existing variant. Variant info fields are merged as\nspecified in the\ninfoMergeConfig\nfield of the MergeVariantsRequest.\n\nPlease exercise caution when using this method!  It is easy to introduce\nmistakes in existing variants and difficult to back out of them.  For\nexample,\nsuppose you were trying to merge a new variant with an existing one and\nboth\nvariants contain calls that belong to callsets with the same callset ID.\n\n    // Existing variant - irrelevant fields trimmed for clarity\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    0,\n                    1\n                ],\n            }\n        ]\n    }\n\n    // New variant with conflicting call information\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    1,\n                    1\n                ],\n            }\n        ]\n    }\n\nThe resulting merged variant would overwrite the existing calls with those\nfrom the new variant:\n\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    1,\n                    1\n                ],\n            }\n        ]\n    }\n\nThis may be the desired outcome, but it is up to the user to determine if\nif that is indeed the case."
        },
        "create": {
          "flatPath": "v1/variants",
          "path": "v1/variants",
          "id": "genomics.variants.create",
          "request": {
            "$ref": "Variant"
          },
          "description": "Creates a new variant.",
          "response": {
            "$ref": "Variant"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {}
        },
        "search": {
          "flatPath": "v1/variants/search",
          "id": "genomics.variants.search",
          "path": "v1/variants/search",
          "description": "Gets a list of variants matching the criteria.\n\nImplements\n[GlobalAllianceApi.searchVariants](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L126).",
          "request": {
            "$ref": "SearchVariantsRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchVariantsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        }
      }
    },
    "references": {
      "methods": {
        "get": {
          "flatPath": "v1/references/{referenceId}",
          "id": "genomics.references.get",
          "path": "v1/references/{referenceId}",
          "description": "Gets a reference.\n\nImplements\n[GlobalAllianceApi.getReference](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L158).",
          "httpMethod": "GET",
          "parameterOrder": [
            "referenceId"
          ],
          "response": {
            "$ref": "Reference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "referenceId": {
              "location": "path",
              "description": "The ID of the reference.",
              "required": true,
              "type": "string"
            }
          }
        },
        "search": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchReferencesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/references/search",
          "id": "genomics.references.search",
          "path": "v1/references/search",
          "request": {
            "$ref": "SearchReferencesRequest"
          },
          "description": "Searches for references which match the given criteria.\n\nImplements\n[GlobalAllianceApi.searchReferences](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L146)."
        }
      },
      "resources": {
        "bases": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListBasesResponse"
              },
              "parameterOrder": [
                "referenceId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/genomics",
                "https://www.googleapis.com/auth/genomics.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of bases to return in a single page. If unspecified,\ndefaults to 200Kbp (kilo base pairs). The maximum value is 10Mbp (mega base\npairs).",
                  "format": "int32",
                  "type": "integer"
                },
                "start": {
                  "location": "query",
                  "description": "The start position (0-based) of this query. Defaults to 0.",
                  "format": "int64",
                  "type": "string"
                },
                "referenceId": {
                  "location": "path",
                  "description": "The ID of the reference.",
                  "required": true,
                  "type": "string"
                },
                "end": {
                  "type": "string",
                  "location": "query",
                  "description": "The end position (0-based, exclusive) of this query. Defaults to the length\nof this reference.",
                  "format": "int64"
                }
              },
              "flatPath": "v1/references/{referenceId}/bases",
              "path": "v1/references/{referenceId}/bases",
              "id": "genomics.references.bases.list",
              "description": "Lists the bases in a reference, optionally restricted to a range.\n\nImplements\n[GlobalAllianceApi.getReferenceBases](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L221)."
            }
          }
        }
      }
    },
    "datasets": {
      "methods": {
        "list": {
          "flatPath": "v1/datasets",
          "path": "v1/datasets",
          "id": "genomics.datasets.list",
          "description": "Lists datasets within a project.",
          "response": {
            "$ref": "ListDatasetsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response."
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 50. The maximum value is 1024.",
              "format": "int32",
              "type": "integer"
            },
            "projectId": {
              "location": "query",
              "description": "Required. The Google Cloud project ID to list datasets for.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "setIamPolicy": {
          "flatPath": "v1/datasets/{datasetsId}:setIamPolicy",
          "path": "v1/{+resource}:setIamPolicy",
          "id": "genomics.datasets.setIamPolicy",
          "description": "Sets the access control policy on the specified dataset. Replaces any\nexisting policy.\n\nSee \u003ca href=\"/iam/docs/managing-policies#setting_a_policy\"\u003eSetting a\nPolicy\u003c/a\u003e for more information.",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "pattern": "^datasets/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "create": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Dataset"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/datasets",
          "id": "genomics.datasets.create",
          "path": "v1/datasets",
          "description": "Creates a new dataset.",
          "request": {
            "$ref": "Dataset"
          }
        },
        "getIamPolicy": {
          "flatPath": "v1/datasets/{datasetsId}:getIamPolicy",
          "path": "v1/{+resource}:getIamPolicy",
          "id": "genomics.datasets.getIamPolicy",
          "description": "Gets the access control policy for the dataset. This is empty if the\npolicy or resource does not exist.\n\nSee \u003ca href=\"/iam/docs/managing-policies#getting_a_policy\"\u003eGetting a\nPolicy\u003c/a\u003e for more information.",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "pattern": "^datasets/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "patch": {
          "request": {
            "$ref": "Dataset"
          },
          "description": "Updates a dataset.\n\nThis method supports patch semantics.",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "datasetId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "The ID of the dataset to be updated.",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "description": "An optional mask specifying which fields to update. At this time, the only\nmutable field is name. The only\nacceptable value is \"name\". If unspecified, all mutable fields will be\nupdated.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "flatPath": "v1/datasets/{datasetId}",
          "path": "v1/datasets/{datasetId}",
          "id": "genomics.datasets.patch"
        },
        "get": {
          "description": "Gets a dataset by ID.",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "datasetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "The ID of the dataset.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/datasets/{datasetId}",
          "path": "v1/datasets/{datasetId}",
          "id": "genomics.datasets.get"
        },
        "undelete": {
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "datasetId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "The ID of the dataset to be undeleted.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/datasets/{datasetId}:undelete",
          "path": "v1/datasets/{datasetId}:undelete",
          "id": "genomics.datasets.undelete",
          "description": "Undeletes a dataset by restoring a dataset which was deleted via this API.\n\nThis operation is only possible for a week after the deletion occurred.",
          "request": {
            "$ref": "UndeleteDatasetRequest"
          }
        },
        "testIamPermissions": {
          "flatPath": "v1/datasets/{datasetsId}:testIamPermissions",
          "path": "v1/{+resource}:testIamPermissions",
          "id": "genomics.datasets.testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource.\nSee \u003ca href=\"/iam/docs/managing-policies#testing_permissions\"\u003eTesting\nPermissions\u003c/a\u003e for more information.",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`.",
              "required": true,
              "type": "string",
              "pattern": "^datasets/[^/]+$"
            }
          }
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "datasetId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "The ID of the dataset to be deleted.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/datasets/{datasetId}",
          "path": "v1/datasets/{datasetId}",
          "id": "genomics.datasets.delete",
          "description": "Deletes a dataset and all of its contents (all read group sets,\nreference sets, variant sets, call sets, annotation sets, etc.)\nThis is reversible (up to one week after the deletion) via\nthe\ndatasets.undelete\noperation."
        }
      }
    },
    "variantsets": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "variantSetId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "variantSetId": {
              "location": "path",
              "description": "The ID of the variant set to be deleted.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variantsets/{variantSetId}",
          "id": "genomics.variantsets.delete",
          "path": "v1/variantsets/{variantSetId}",
          "description": "Deletes a variant set including all variants, call sets, and calls within.\nThis is not reversible."
        },
        "create": {
          "response": {
            "$ref": "VariantSet"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/variantsets",
          "path": "v1/variantsets",
          "id": "genomics.variantsets.create",
          "request": {
            "$ref": "VariantSet"
          },
          "description": "Creates a new variant set.\n\nThe provided variant set must have a valid `datasetId` set - all other\nfields are optional. Note that the `id` field will be ignored, as this is\nassigned by the server."
        },
        "export": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "variantSetId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "variantSetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the variant set that contains variant data which\nshould be exported. The caller must have READ access to this variant set."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variantsets/{variantSetId}:export",
          "path": "v1/variantsets/{variantSetId}:export",
          "id": "genomics.variantsets.export",
          "description": "Exports variant set data to an external destination.",
          "request": {
            "$ref": "ExportVariantSetRequest"
          }
        },
        "search": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchVariantSetsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/variantsets/search",
          "id": "genomics.variantsets.search",
          "path": "v1/variantsets/search",
          "description": "Returns a list of all variant sets matching search criteria.\n\nImplements\n[GlobalAllianceApi.searchVariantSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L49).",
          "request": {
            "$ref": "SearchVariantSetsRequest"
          }
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "VariantSet"
          },
          "parameterOrder": [
            "variantSetId"
          ],
          "parameters": {
            "variantSetId": {
              "location": "path",
              "description": "Required. The ID of the variant set.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/variantsets/{variantSetId}",
          "id": "genomics.variantsets.get",
          "path": "v1/variantsets/{variantSetId}",
          "description": "Gets a variant set by ID."
        },
        "patch": {
          "request": {
            "$ref": "VariantSet"
          },
          "description": "Updates a variant set using patch semantics.",
          "response": {
            "$ref": "VariantSet"
          },
          "parameterOrder": [
            "variantSetId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "variantSetId": {
              "location": "path",
              "description": "The ID of the variant to be updated (must already exist).",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "An optional mask specifying which fields to update. Supported fields:\n\n* metadata.\n* name.\n* description.\n\nLeaving `updateMask` unset is equivalent to specifying all mutable\nfields.",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1/variantsets/{variantSetId}",
          "path": "v1/variantsets/{variantSetId}",
          "id": "genomics.variantsets.patch"
        }
      }
    },
    "annotations": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Annotation"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/annotations",
          "id": "genomics.annotations.create",
          "path": "v1/annotations",
          "description": "Creates a new annotation. Caller must have WRITE permission\nfor the associated annotation set.\n\nThe following fields are required:\n\n* annotationSetId\n* referenceName or\n  referenceId\n\n### Transcripts\n\nFor annotations of type TRANSCRIPT, the following fields of\ntranscript must be provided:\n\n* exons.start\n* exons.end\n\nAll other fields may be optionally specified, unless documented as being\nserver-generated (for example, the `id` field). The annotated\nrange must be no longer than 100Mbp (mega base pairs). See the\nAnnotation resource\nfor additional restrictions on each field.",
          "request": {
            "$ref": "Annotation"
          }
        },
        "batchCreate": {
          "response": {
            "$ref": "BatchCreateAnnotationsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/annotations:batchCreate",
          "path": "v1/annotations:batchCreate",
          "id": "genomics.annotations.batchCreate",
          "description": "Creates one or more new annotations atomically. All annotations must\nbelong to the same annotation set. Caller must have WRITE\npermission for this annotation set. For optimal performance, batch\npositionally adjacent annotations together.\n\nIf the request has a systemic issue, such as an attempt to write to\nan inaccessible annotation set, the entire RPC will fail accordingly. For\nlesser data issues, when possible an error will be isolated to the\ncorresponding batch entry in the response; the remaining well formed\nannotations will be created normally.\n\nFor details on the requirements for each individual annotation resource,\nsee\nCreateAnnotation.",
          "request": {
            "$ref": "BatchCreateAnnotationsRequest"
          }
        },
        "search": {
          "flatPath": "v1/annotations/search",
          "id": "genomics.annotations.search",
          "path": "v1/annotations/search",
          "request": {
            "$ref": "SearchAnnotationsRequest"
          },
          "description": "Searches for annotations that match the given criteria. Results are\nordered by genomic coordinate (by reference sequence, then position).\nAnnotations with equivalent genomic coordinates are returned in an\nunspecified order. This order is consistent, such that two queries for the\nsame content (regardless of page size) yield annotations in the same order\nacross their respective streams of paginated responses. Caller must have\nREAD permission for the queried annotation sets.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchAnnotationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {}
        },
        "get": {
          "flatPath": "v1/annotations/{annotationId}",
          "path": "v1/annotations/{annotationId}",
          "id": "genomics.annotations.get",
          "description": "Gets an annotation. Caller must have READ permission\nfor the associated annotation set.",
          "response": {
            "$ref": "Annotation"
          },
          "parameterOrder": [
            "annotationId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "annotationId": {
              "location": "path",
              "description": "The ID of the annotation to be retrieved.",
              "required": true,
              "type": "string"
            }
          }
        },
        "update": {
          "description": "Updates an annotation. Caller must have\nWRITE permission for the associated dataset.",
          "request": {
            "$ref": "Annotation"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "annotationId"
          ],
          "response": {
            "$ref": "Annotation"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "An optional mask specifying which fields to update. Mutable fields are\nname,\nvariant,\ntranscript, and\ninfo. If unspecified, all mutable\nfields will be updated.",
              "format": "google-fieldmask"
            },
            "annotationId": {
              "location": "path",
              "description": "The ID of the annotation to be updated.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/annotations/{annotationId}",
          "id": "genomics.annotations.update",
          "path": "v1/annotations/{annotationId}"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "annotationId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "annotationId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the annotation to be deleted."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/annotations/{annotationId}",
          "id": "genomics.annotations.delete",
          "path": "v1/annotations/{annotationId}",
          "description": "Deletes an annotation. Caller must have WRITE permission for\nthe associated annotation set."
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "A string for filtering Operations.\nIn v2alpha1, the following filter fields are supported&#58;\n\n* createTime&#58; The time this job was created\n* events&#58; The set of event (names) that have occurred while running\n  the pipeline.  The &#58; operator can be used to determine if a\n  particular event has occurred.\n* error&#58; If the pipeline is running, this value is NULL.  Once the\n  pipeline finishes, the value is the standard Google error code.\n* labels.key or labels.\"key with space\" where key is a label key.\n* done&#58; If the pipeline is running, this value is false. Once the\n  pipeline finishes, the value is true.\n\nIn v1 and v1alpha2, the following filter fields are supported&#58;\n\n* projectId&#58; Required. Corresponds to\n  OperationMetadata.projectId.\n* createTime&#58; The time this job was created, in seconds from the\n  [epoch](http://en.wikipedia.org/wiki/Unix_time). Can use `\u003e=` and/or `\u003c=`\n  operators.\n* status&#58; Can be `RUNNING`, `SUCCESS`, `FAILURE`, or `CANCELED`. Only\n  one status may be specified.\n* labels.key where key is a label key.\n\nExamples&#58;\n\n* `projectId = my-project AND createTime \u003e= 1432140000`\n* `projectId = my-project AND createTime \u003e= 1432140000 AND createTime \u003c= 1432150000 AND status = RUNNING`\n* `projectId = my-project AND labels.color = *`\n* `projectId = my-project AND labels.color = red`"
            },
            "name": {
              "location": "path",
              "description": "The name of the operation's parent resource.",
              "required": true,
              "type": "string",
              "pattern": "^operations$"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The standard list page token."
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return. If unspecified, defaults to\n256. The maximum value is 2048.",
              "format": "int32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/operations",
          "path": "v1/{+name}",
          "id": "genomics.operations.list",
          "description": "Lists operations that match the specified filter in the request.\nAuthorization requires the following [Google IAM](https://cloud.google.com/iam) permission&#58;\n\n* `genomics.operations.list`"
        },
        "get": {
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "id": "genomics.operations.get",
          "description": "Gets the latest state of a long-running operation.\nClients can use this method to poll the operation result at intervals as\nrecommended by the API service.\nAuthorization requires the following [Google IAM](https://cloud.google.com/iam) permission&#58;\n\n* `genomics.operations.get`",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource.",
              "required": true,
              "type": "string",
              "pattern": "^operations/.+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "cancel": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource to be cancelled.",
              "required": true,
              "type": "string",
              "pattern": "^operations/.+$"
            }
          },
          "flatPath": "v1/operations/{operationsId}:cancel",
          "path": "v1/{+name}:cancel",
          "id": "genomics.operations.cancel",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "description": "Starts asynchronous cancellation on a long-running operation.\nThe server makes a best effort to cancel the operation, but success is not\nguaranteed. Clients may use Operations.GetOperation\nor Operations.ListOperations\nto check whether the cancellation succeeded or the operation completed\ndespite cancellation.\nAuthorization requires the following [Google IAM](https://cloud.google.com/iam) permission&#58;\n\n* `genomics.operations.cancel`"
        }
      }
    },
    "referencesets": {
      "methods": {
        "search": {
          "flatPath": "v1/referencesets/search",
          "id": "genomics.referencesets.search",
          "path": "v1/referencesets/search",
          "description": "Searches for reference sets which match the given criteria.\n\nImplements\n[GlobalAllianceApi.searchReferenceSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L71)",
          "request": {
            "$ref": "SearchReferenceSetsRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchReferenceSetsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "referenceSetId"
          ],
          "response": {
            "$ref": "ReferenceSet"
          },
          "parameters": {
            "referenceSetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the reference set."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/referencesets/{referenceSetId}",
          "id": "genomics.referencesets.get",
          "path": "v1/referencesets/{referenceSetId}",
          "description": "Gets a reference set.\n\nImplements\n[GlobalAllianceApi.getReferenceSet](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L83)."
        }
      }
    },
    "readgroupsets": {
      "methods": {
        "export": {
          "request": {
            "$ref": "ExportReadGroupSetRequest"
          },
          "description": "Exports a read group set to a BAM file in Google Cloud Storage.\n\nNote that currently there may be some differences between exported BAM\nfiles and the original BAM file at the time of import. See\nImportReadGroupSets\nfor caveats.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "readGroupSetId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "readGroupSetId": {
              "location": "path",
              "description": "Required. The ID of the read group set to export. The caller must have\nREAD access to this read group set.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/readgroupsets/{readGroupSetId}:export",
          "path": "v1/readgroupsets/{readGroupSetId}:export",
          "id": "genomics.readgroupsets.export"
        },
        "search": {
          "request": {
            "$ref": "SearchReadGroupSetsRequest"
          },
          "description": "Searches for read group sets matching the criteria.\n\nImplements\n[GlobalAllianceApi.searchReadGroupSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L135).",
          "response": {
            "$ref": "SearchReadGroupSetsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/readgroupsets/search",
          "path": "v1/readgroupsets/search",
          "id": "genomics.readgroupsets.search"
        },
        "get": {
          "flatPath": "v1/readgroupsets/{readGroupSetId}",
          "path": "v1/readgroupsets/{readGroupSetId}",
          "id": "genomics.readgroupsets.get",
          "description": "Gets a read group set by ID.",
          "response": {
            "$ref": "ReadGroupSet"
          },
          "parameterOrder": [
            "readGroupSetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "readGroupSetId": {
              "location": "path",
              "description": "The ID of the read group set.",
              "required": true,
              "type": "string"
            }
          }
        },
        "patch": {
          "request": {
            "$ref": "ReadGroupSet"
          },
          "description": "Updates a read group set.\n\nThis method supports patch semantics.",
          "response": {
            "$ref": "ReadGroupSet"
          },
          "parameterOrder": [
            "readGroupSetId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "readGroupSetId": {
              "location": "path",
              "description": "The ID of the read group set to be updated. The caller must have WRITE\npermissions to the dataset associated with this read group set.",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "An optional mask specifying which fields to update. Supported fields:\n\n* name.\n* referenceSetId.\n\nLeaving `updateMask` unset is equivalent to specifying all mutable\nfields.",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1/readgroupsets/{readGroupSetId}",
          "path": "v1/readgroupsets/{readGroupSetId}",
          "id": "genomics.readgroupsets.patch"
        },
        "import": {
          "request": {
            "$ref": "ImportReadGroupSetsRequest"
          },
          "description": "Creates read group sets by asynchronously importing the provided\ninformation.\n\nThe caller must have WRITE permissions to the dataset.\n\n## Notes on [BAM](https://samtools.github.io/hts-specs/SAMv1.pdf) import\n\n- Tags will be converted to strings - tag types are not preserved\n- Comments (`@CO`) in the input file header will not be preserved\n- Original header order of references (`@SQ`) will not be preserved\n- Any reverse stranded unmapped reads will be reverse complemented, and\ntheir qualities (also the \"BQ\" and \"OQ\" tags, if any) will be reversed\n- Unmapped reads will be stripped of positional information (reference name\nand position)",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/readgroupsets:import",
          "path": "v1/readgroupsets:import",
          "id": "genomics.readgroupsets.import"
        },
        "delete": {
          "description": "Deletes a read group set.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "readGroupSetId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "readGroupSetId": {
              "location": "path",
              "description": "The ID of the read group set to be deleted. The caller must have WRITE\npermissions to the dataset associated with this read group set.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/readgroupsets/{readGroupSetId}",
          "id": "genomics.readgroupsets.delete",
          "path": "v1/readgroupsets/{readGroupSetId}"
        }
      },
      "resources": {
        "coveragebuckets": {
          "methods": {
            "list": {
              "flatPath": "v1/readgroupsets/{readGroupSetId}/coveragebuckets",
              "path": "v1/readgroupsets/{readGroupSetId}/coveragebuckets",
              "id": "genomics.readgroupsets.coveragebuckets.list",
              "description": "Lists fixed width coverage buckets for a read group set, each of which\ncorrespond to a range of a reference sequence. Each bucket summarizes\ncoverage information across its corresponding genomic range.\n\nCoverage is defined as the number of reads which are aligned to a given\nbase in the reference sequence. Coverage buckets are available at several\nprecomputed bucket widths, enabling retrieval of various coverage 'zoom\nlevels'. The caller must have READ permissions for the target read group\nset.",
              "response": {
                "$ref": "ListCoverageBucketsResponse"
              },
              "parameterOrder": [
                "readGroupSetId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/genomics",
                "https://www.googleapis.com/auth/genomics.readonly"
              ],
              "parameters": {
                "start": {
                  "type": "string",
                  "location": "query",
                  "description": "The start position of the range on the reference, 0-based inclusive. If\nspecified, `referenceName` must also be specified. Defaults to 0.",
                  "format": "int64"
                },
                "targetBucketWidth": {
                  "type": "string",
                  "location": "query",
                  "description": "The desired width of each reported coverage bucket in base pairs. This\nwill be rounded down to the nearest precomputed bucket width; the value\nof which is returned as `bucketWidth` in the response. Defaults\nto infinity (each bucket spans an entire reference sequence) or the length\nof the target range, if specified. The smallest precomputed\n`bucketWidth` is currently 2048 base pairs; this is subject to\nchange.",
                  "format": "int64"
                },
                "readGroupSetId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the read group set over which coverage is requested."
                },
                "referenceName": {
                  "location": "query",
                  "description": "The name of the reference to query, within the reference set associated\nwith this query. Optional.",
                  "type": "string"
                },
                "end": {
                  "location": "query",
                  "description": "The end position of the range on the reference, 0-based exclusive. If\nspecified, `referenceName` must also be specified. If unset or 0, defaults\nto the length of the reference.",
                  "format": "int64",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 1024. The maximum value is 2048.",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "reads": {
      "methods": {
        "search": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchReadsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/reads/search",
          "id": "genomics.reads.search",
          "path": "v1/reads/search",
          "request": {
            "$ref": "SearchReadsRequest"
          },
          "description": "Gets a list of reads for one or more read group sets.\n\nReads search operates over a genomic coordinate space of reference sequence\n& position defined over the reference sequences to which the requested\nread group sets are aligned.\n\nIf a target positional range is specified, search returns all reads whose\nalignment to the reference genome overlap the range. A query which\nspecifies only read group set IDs yields all reads in those read group\nsets, including unmapped reads.\n\nAll reads returned (including reads on subsequent pages) are ordered by\ngenomic coordinate (by reference sequence, then position). Reads with\nequivalent genomic coordinates are returned in an unspecified order. This\norder is consistent, such that two queries for the same content (regardless\nof page size) yield reads in the same order across their respective streams\nof paginated responses.\n\nImplements\n[GlobalAllianceApi.searchReads](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L85)."
        }
      }
    },
    "callsets": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "callSetId"
          ],
          "response": {
            "$ref": "CallSet"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "An optional mask specifying which fields to update. At this time, the only\nmutable field is name. The only\nacceptable value is \"name\". If unspecified, all mutable fields will be\nupdated.",
              "format": "google-fieldmask"
            },
            "callSetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the call set to be updated."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/callsets/{callSetId}",
          "id": "genomics.callsets.patch",
          "path": "v1/callsets/{callSetId}",
          "description": "Updates a call set.\n\nThis method supports patch semantics.",
          "request": {
            "$ref": "CallSet"
          }
        },
        "get": {
          "description": "Gets a call set by ID.",
          "response": {
            "$ref": "CallSet"
          },
          "parameterOrder": [
            "callSetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "callSetId": {
              "location": "path",
              "description": "The ID of the call set.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/callsets/{callSetId}",
          "path": "v1/callsets/{callSetId}",
          "id": "genomics.callsets.get"
        },
        "create": {
          "request": {
            "$ref": "CallSet"
          },
          "description": "Creates a new call set.",
          "response": {
            "$ref": "CallSet"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/callsets",
          "path": "v1/callsets",
          "id": "genomics.callsets.create"
        },
        "delete": {
          "description": "Deletes a call set.",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "callSetId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "callSetId": {
              "location": "path",
              "description": "The ID of the call set to be deleted.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/callsets/{callSetId}",
          "path": "v1/callsets/{callSetId}",
          "id": "genomics.callsets.delete"
        },
        "search": {
          "request": {
            "$ref": "SearchCallSetsRequest"
          },
          "description": "Gets a list of call sets matching the criteria.\n\nImplements\n[GlobalAllianceApi.searchCallSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L178).",
          "response": {
            "$ref": "SearchCallSetsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/callsets/search",
          "path": "v1/callsets/search",
          "id": "genomics.callsets.search"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse"
    },
    "Variant": {
      "type": "object",
      "properties": {
        "info": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "any"
            }
          },
          "description": "A map of additional variant information. This must be of the form\nmap\u003cstring, string[]\u003e (string key mapping to a list of string values)."
        },
        "referenceBases": {
          "type": "string",
          "description": "The reference bases for this variant. They start at the given\nposition."
        },
        "alternateBases": {
          "description": "The bases that appear instead of the reference bases.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "names": {
          "description": "Names for the variant, for example a RefSNP ID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "description": "A list of filters (normally quality filters) this variant has failed.\n`PASS` indicates this variant has passed all filters.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "end": {
          "type": "string",
          "description": "The end position (0-based) of this variant. This corresponds to the first\nbase after the last base in the reference allele. So, the length of\nthe reference allele is (end - start). This is useful for variants\nthat don't explicitly give alternate bases, for example large deletions.",
          "format": "int64"
        },
        "calls": {
          "type": "array",
          "items": {
            "$ref": "VariantCall"
          },
          "description": "The variant calls for this particular variant. Each one represents the\ndetermination of genotype with respect to this variant."
        },
        "created": {
          "description": "The date this variant was created, in milliseconds from the epoch.",
          "format": "int64",
          "type": "string"
        },
        "start": {
          "type": "string",
          "description": "The position at which this variant occurs (0-based).\nThis corresponds to the first base of the string of reference bases.",
          "format": "int64"
        },
        "quality": {
          "type": "number",
          "description": "A measure of how likely this variant is to be real.\nA higher value is better.",
          "format": "double"
        },
        "id": {
          "description": "The server-generated variant ID, unique across all variants.",
          "type": "string"
        },
        "variantSetId": {
          "description": "The ID of the variant set this variant belongs to.",
          "type": "string"
        },
        "referenceName": {
          "type": "string",
          "description": "The reference on which this variant occurs.\n(such as `chr20` or `X`)"
        }
      },
      "id": "Variant",
      "description": "A variant represents a change in DNA sequence relative to a reference\nsequence. For example, a variant could represent a SNP or an insertion.\nVariants belong to a variant set.\n\nEach of the calls on a variant represent a determination of genotype with\nrespect to that variant. For example, a call might assign probability of 0.32\nto the occurrence of a SNP named rs1234 in a sample named NA12345. A call\nbelongs to a call set, which contains related calls typically from one\nsample."
    },
    "SearchCallSetsResponse": {
      "description": "The call set search response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nProvide this value in a subsequent request to return the next page of\nresults. This field will be empty if there aren't any additional results.",
          "type": "string"
        },
        "callSets": {
          "description": "The list of matching call sets.",
          "type": "array",
          "items": {
            "$ref": "CallSet"
          }
        }
      },
      "id": "SearchCallSetsResponse"
    },
    "SearchVariantsRequest": {
      "description": "The variant search request.",
      "type": "object",
      "properties": {
        "variantSetIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "At most one variant set ID must be provided. Only variants from this\nvariant set will be returned. If omitted, a call set id must be included in\nthe request."
        },
        "end": {
          "type": "string",
          "description": "The end of the window, 0-based exclusive. If unspecified or 0, defaults to\nthe length of the reference.",
          "format": "int64"
        },
        "maxCalls": {
          "description": "The maximum number of calls to return in a single page. Note that this\nlimit may be exceeded in the event that a matching variant contains more\ncalls than the requested maximum. If unspecified, defaults to 5000. The\nmaximum value is 10000.",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of variants to return in a single page. If unspecified,\ndefaults to 5000. The maximum value is 10000.",
          "format": "int32",
          "type": "integer"
        },
        "callSetIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only return variant calls which belong to call sets with these ids.\nLeaving this blank returns all variant calls. If a variant has no\ncalls belonging to any of these call sets, it won't be returned at all."
        },
        "start": {
          "description": "The beginning of the window (0-based, inclusive) for which\noverlapping variants should be returned. If unspecified, defaults to 0.",
          "format": "int64",
          "type": "string"
        },
        "variantName": {
          "description": "Only return variants which have exactly this name.",
          "type": "string"
        },
        "referenceName": {
          "type": "string",
          "description": "Required. Only return variants in this reference sequence."
        }
      },
      "id": "SearchVariantsRequest"
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "runtimeMetadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Runtime metadata on this Operation."
        },
        "createTime": {
          "type": "string",
          "description": "The time at which the job was submitted to the Genomics service.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optionally provided by the caller when submitting the request that creates\nthe operation."
        },
        "projectId": {
          "type": "string",
          "description": "The Google Cloud Project in which the job is scoped."
        },
        "clientId": {
          "type": "string",
          "description": "This field is deprecated. Use `labels` instead. Optionally provided by the\ncaller when submitting the request that creates the operation."
        },
        "events": {
          "description": "Optional event messages that were generated during the job's execution.\nThis also contains any warnings that were generated during import\nor export.",
          "type": "array",
          "items": {
            "$ref": "OperationEvent"
          }
        },
        "endTime": {
          "type": "string",
          "description": "The time at which the job stopped running.",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "The time at which the job began to run.",
          "format": "google-datetime"
        },
        "request": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The original request that started the operation. Note that this will be in\ncurrent version of the API. If the operation was started with v1beta2 API\nand a GetOperation is performed on v1 API, a v1 request will be returned.",
          "type": "object"
        }
      },
      "id": "OperationMetadata",
      "description": "Metadata describing an Operation."
    },
    "SearchReadGroupSetsRequest": {
      "description": "The read group set search request.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Only return read group sets for which a substring of the name matches this\nstring.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response."
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 256. The maximum value is 1024.",
          "format": "int32",
          "type": "integer"
        },
        "datasetIds": {
          "description": "Restricts this query to read group sets within the given datasets. At least\none ID must be provided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SearchReadGroupSetsRequest"
    },
    "SearchAnnotationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, which is used to page through large result sets.\nProvide this value in a subsequent request to return the next page of\nresults. This field will be empty if there aren't any additional results."
        },
        "annotations": {
          "type": "array",
          "items": {
            "$ref": "Annotation"
          },
          "description": "The matching annotations."
        }
      },
      "id": "SearchAnnotationsResponse"
    },
    "SearchReadsResponse": {
      "description": "The read search response.",
      "type": "object",
      "properties": {
        "alignments": {
          "type": "array",
          "items": {
            "$ref": "Read"
          },
          "description": "The list of matching alignments sorted by mapped genomic coordinate,\nif any, ascending in position within the same reference. Unmapped reads,\nwhich have no position, are returned contiguously and are sorted in\nascending lexicographic order by fragment name."
        },
        "nextPageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nProvide this value in a subsequent request to return the next page of\nresults. This field will be empty if there aren't any additional results.",
          "type": "string"
        }
      },
      "id": "SearchReadsResponse"
    },
    "ClinicalCondition": {
      "type": "object",
      "properties": {
        "conceptId": {
          "type": "string",
          "description": "The MedGen concept id associated with this gene.\nSearch for these IDs at http://www.ncbi.nlm.nih.gov/medgen/"
        },
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of names for the condition."
        },
        "omimId": {
          "description": "The OMIM id for this condition.\nSearch for these IDs at http://omim.org/",
          "type": "string"
        },
        "externalIds": {
          "type": "array",
          "items": {
            "$ref": "ExternalId"
          },
          "description": "The set of external IDs for this condition."
        }
      },
      "id": "ClinicalCondition"
    },
    "Program": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The display name of the program. This is typically the colloquial name of\nthe tool used, for example 'bwa' or 'picard'."
        },
        "commandLine": {
          "type": "string",
          "description": "The command line used to run this program."
        },
        "prevProgramId": {
          "description": "The ID of the program run before this one.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The user specified locally unique ID of the program. Used along with\n`prevProgramId` to define an ordering between programs."
        },
        "version": {
          "type": "string",
          "description": "The version of the program run."
        }
      },
      "id": "Program"
    },
    "ContainerStartedEvent": {
      "type": "object",
      "properties": {
        "actionId": {
          "description": "The numeric ID of the action that started this container.",
          "format": "int32",
          "type": "integer"
        },
        "ipAddress": {
          "type": "string",
          "description": "The public IP address that can be used to connect to the container. This\nfield is only populated when at least one port mapping is present. If the\ninstance was created with a private address, this field will be empty even\nif port mappings exist."
        },
        "portMappings": {
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The container-to-host port mappings installed for this container. This\nset will contain any ports exposed using the `PUBLISH_EXPOSED_PORTS` flag\nas well as any specified in the `Action` definition."
        }
      },
      "id": "ContainerStartedEvent",
      "description": "An event generated when a container starts."
    },
    "CoverageBucket": {
      "description": "A bucket over which read coverage has been precomputed. A bucket corresponds\nto a specific range of the reference sequence.",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The genomic coordinate range spanned by this bucket."
        },
        "meanCoverage": {
          "description": "The average number of reads which are aligned to each individual\nreference base in this bucket.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "CoverageBucket"
    },
    "ComputeEngine": {
      "description": "Describes a Compute Engine resource that is being managed by a running\npipeline.",
      "type": "object",
      "properties": {
        "zone": {
          "type": "string",
          "description": "The availability zone in which the instance resides."
        },
        "machineType": {
          "description": "The machine type of the instance.",
          "type": "string"
        },
        "diskNames": {
          "description": "The names of the disks that were created for this pipeline.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instanceName": {
          "description": "The instance on which the operation is running.",
          "type": "string"
        }
      },
      "id": "ComputeEngine"
    },
    "ExternalId": {
      "type": "object",
      "properties": {
        "sourceName": {
          "description": "The name of the source of this data.",
          "type": "string"
        },
        "id": {
          "description": "The id used by the source of this data.",
          "type": "string"
        }
      },
      "id": "ExternalId"
    },
    "Reference": {
      "description": "A reference is a canonical assembled DNA sequence, intended to act as a\nreference coordinate space for other genomic annotations. A single reference\nmight represent the human chromosome 1 or mitochandrial DNA, for instance. A\nreference belongs to one or more reference sets.",
      "type": "object",
      "properties": {
        "sourceUri": {
          "description": "The URI from which the sequence was obtained. Typically specifies a FASTA\nformat file.",
          "type": "string"
        },
        "ncbiTaxonId": {
          "type": "integer",
          "description": "ID from http://www.ncbi.nlm.nih.gov/taxonomy. For example, 9606 for human.",
          "format": "int32"
        },
        "name": {
          "description": "The name of this reference, for example `22`.",
          "type": "string"
        },
        "md5checksum": {
          "description": "MD5 of the upper-case sequence excluding all whitespace characters (this\nis equivalent to SQ:M5 in SAM). This value is represented in lower case\nhexadecimal format.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated reference ID, unique across all references.",
          "type": "string"
        },
        "length": {
          "type": "string",
          "description": "The length of this reference's sequence.",
          "format": "int64"
        },
        "sourceAccessions": {
          "description": "All known corresponding accession IDs in INSDC (GenBank/ENA/DDBJ) ideally\nwith a version number, for example `GCF_000001405.26`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Reference"
    },
    "VariantSetMetadata": {
      "description": "Metadata describes a single piece of variant call metadata.\nThese data include a top level key and either a single value string (value)\nor a list of key-value pairs (info.)\nValue and info are mutually exclusive.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The top-level key.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A textual description of this metadata."
        },
        "info": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "any"
            }
          },
          "description": "Remaining structured metadata key-value pairs. This must be of the form\nmap\u003cstring, string[]\u003e (string key mapping to a list of string values)."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "FLAG",
            "CHARACTER",
            "STRING"
          ],
          "description": "The type of data. Possible types include: Integer, Float,\nFlag, Character, and String."
        },
        "value": {
          "description": "The value field for simple metadata",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "User-provided ID field, not enforced by this API.\nTwo or more pieces of structured metadata with identical\nid and key fields are considered equivalent."
        },
        "number": {
          "description": "The number of values that can be included in a field described by this\nmetadata.",
          "type": "string"
        }
      },
      "id": "VariantSetMetadata"
    },
    "SearchVariantSetsRequest": {
      "description": "The search variant sets request.",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 1024.",
          "format": "int32",
          "type": "integer"
        },
        "datasetIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Exactly one dataset ID must be provided here. Only variant sets which\nbelong to this dataset will be returned."
        }
      },
      "id": "SearchVariantSetsRequest"
    },
    "SearchReferenceSetsRequest": {
      "type": "object",
      "properties": {
        "accessions": {
          "description": "If present, return reference sets for which a prefix of any of\nsourceAccessions\nmatch any of these strings. Accession numbers typically have a main number\nand a version, for example `NC_000001.11`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageToken": {
          "type": "string",
          "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response."
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 1024. The maximum value is 4096.",
          "format": "int32"
        },
        "assemblyId": {
          "type": "string",
          "description": "If present, return reference sets for which a substring of their\n`assemblyId` matches this string (case insensitive)."
        },
        "md5checksums": {
          "description": "If present, return reference sets for which the\nmd5checksum matches exactly.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SearchReferenceSetsRequest"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them."
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "DelayedEvent": {
      "description": "An event generated whenever a resource limitation or transient error\ndelays execution of a pipeline that was otherwise ready to run.",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "If the delay was caused by a resource shortage, this field lists the\nCompute Engine metrics that are preventing this operation from running\n(for example, `CPUS` or `INSTANCES`). If the particular metric is not\nknown, a single `UNKNOWN` metric will be present.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cause": {
          "type": "string",
          "description": "A textual description of the cause of the delay. The string can change\nwithout notice because it is often generated by another service (such as\nCompute Engine)."
        }
      },
      "id": "DelayedEvent"
    },
    "MergeVariantsRequest": {
      "type": "object",
      "properties": {
        "variants": {
          "type": "array",
          "items": {
            "$ref": "Variant"
          },
          "description": "The variants to be merged with existing variants."
        },
        "infoMergeConfig": {
          "type": "object",
          "additionalProperties": {
            "enum": [
              "INFO_MERGE_OPERATION_UNSPECIFIED",
              "IGNORE_NEW",
              "MOVE_TO_CALLS"
            ],
            "type": "string"
          },
          "description": "A mapping between info field keys and the InfoMergeOperations to\nbe performed on them."
        },
        "variantSetId": {
          "description": "The destination variant set.",
          "type": "string"
        }
      },
      "id": "MergeVariantsRequest"
    },
    "Read": {
      "description": "A read alignment describes a linear alignment of a string of DNA to a\nreference sequence, in addition to metadata\nabout the fragment (the molecule of DNA sequenced) and the read (the bases\nwhich were read by the sequencer). A read is equivalent to a line in a SAM\nfile. A read belongs to exactly one read group and exactly one\nread group set.\n\n### Reverse-stranded reads\n\nMapped reads (reads having a non-null `alignment`) can be aligned to either\nthe forward or the reverse strand of their associated reference. Strandedness\nof a mapped read is encoded by `alignment.position.reverseStrand`.\n\nIf we consider the reference to be a forward-stranded coordinate space of\n`[0, reference.length)` with `0` as the left-most position and\n`reference.length` as the right-most position, reads are always aligned left\nto right. That is, `alignment.position.position` always refers to the\nleft-most reference coordinate and `alignment.cigar` describes the alignment\nof this read to the reference from left to right. All per-base fields such as\n`alignedSequence` and `alignedQuality` share this same left-to-right\norientation; this is true of reads which are aligned to either strand. For\nreverse-stranded reads, this means that `alignedSequence` is the reverse\ncomplement of the bases that were originally reported by the sequencing\nmachine.\n\n### Generating a reference-aligned sequence string\n\nWhen interacting with mapped reads, it's often useful to produce a string\nrepresenting the local alignment of the read to reference. The following\npseudocode demonstrates one way of doing this:\n\n    out = \"\"\n    offset = 0\n    for c in read.alignment.cigar {\n      switch c.operation {\n      case \"ALIGNMENT_MATCH\", \"SEQUENCE_MATCH\", \"SEQUENCE_MISMATCH\":\n        out += read.alignedSequence[offset:offset+c.operationLength]\n        offset += c.operationLength\n        break\n      case \"CLIP_SOFT\", \"INSERT\":\n        offset += c.operationLength\n        break\n      case \"PAD\":\n        out += repeat(\"*\", c.operationLength)\n        break\n      case \"DELETE\":\n        out += repeat(\"-\", c.operationLength)\n        break\n      case \"SKIP\":\n        out += repeat(\" \", c.operationLength)\n        break\n      case \"CLIP_HARD\":\n        break\n      }\n    }\n    return out\n\n### Converting to SAM's CIGAR string\n\nThe following pseudocode generates a SAM CIGAR string from the\n`cigar` field. Note that this is a lossy conversion\n(`cigar.referenceSequence` is lost).\n\n    cigarMap = {\n      \"ALIGNMENT_MATCH\": \"M\",\n      \"INSERT\": \"I\",\n      \"DELETE\": \"D\",\n      \"SKIP\": \"N\",\n      \"CLIP_SOFT\": \"S\",\n      \"CLIP_HARD\": \"H\",\n      \"PAD\": \"P\",\n      \"SEQUENCE_MATCH\": \"=\",\n      \"SEQUENCE_MISMATCH\": \"X\",\n    }\n    cigarStr = \"\"\n    for c in read.alignment.cigar {\n      cigarStr += c.operationLength + cigarMap[c.operation]\n    }\n    return cigarStr",
      "type": "object",
      "properties": {
        "properPlacement": {
          "type": "boolean",
          "description": "The orientation and the distance between reads from the fragment are\nconsistent with the sequencing protocol (SAM flag 0x2)."
        },
        "supplementaryAlignment": {
          "description": "Whether this alignment is supplementary. Equivalent to SAM flag 0x800.\nSupplementary alignments are used in the representation of a chimeric\nalignment. In a chimeric alignment, a read is split into multiple\nlinear alignments that map to different reference contigs. The first\nlinear alignment in the read will be designated as the representative\nalignment; the remaining linear alignments will be designated as\nsupplementary alignments. These alignments may have different mapping\nquality scores. In each linear alignment in a chimeric alignment, the read\nwill be hard clipped. The `alignedSequence` and\n`alignedQuality` fields in the alignment record will only\nrepresent the bases for its respective linear alignment.",
          "type": "boolean"
        },
        "fragmentLength": {
          "description": "The observed length of the fragment, equivalent to TLEN in SAM.",
          "format": "int32",
          "type": "integer"
        },
        "failedVendorQualityChecks": {
          "description": "Whether this read did not pass filters, such as platform or vendor quality\ncontrols (SAM flag 0x200).",
          "type": "boolean"
        },
        "alignedQuality": {
          "description": "The quality of the read sequence contained in this alignment record\n(equivalent to QUAL in SAM).\n`alignedSequence` and `alignedQuality` may be shorter than the full read\nsequence and quality. This will occur if the alignment is part of a\nchimeric alignment, or if the read was trimmed. When this occurs, the CIGAR\nfor this read will begin/end with a hard clip operator that will indicate\nthe length of the excised sequence.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "alignment": {
          "$ref": "LinearAlignment",
          "description": "The linear alignment for this alignment record. This field is null for\nunmapped reads."
        },
        "id": {
          "type": "string",
          "description": "The server-generated read ID, unique across all reads. This is different\nfrom the `fragmentName`."
        },
        "numberReads": {
          "type": "integer",
          "description": "The number of reads in the fragment (extension to SAM flag 0x1).",
          "format": "int32"
        },
        "secondaryAlignment": {
          "description": "Whether this alignment is secondary. Equivalent to SAM flag 0x100.\nA secondary alignment represents an alternative to the primary alignment\nfor this read. Aligners may return secondary alignments if a read can map\nambiguously to multiple coordinates in the genome. By convention, each read\nhas one and only one alignment where both `secondaryAlignment`\nand `supplementaryAlignment` are false.",
          "type": "boolean"
        },
        "fragmentName": {
          "description": "The fragment name. Equivalent to QNAME (query template name) in SAM.",
          "type": "string"
        },
        "readGroupSetId": {
          "description": "The ID of the read group set this read belongs to. A read belongs to\nexactly one read group set.",
          "type": "string"
        },
        "duplicateFragment": {
          "description": "The fragment is a PCR or optical duplicate (SAM flag 0x400).",
          "type": "boolean"
        },
        "readNumber": {
[...]
