{
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "version": "v3p1beta1",
  "baseUrl": "https://jobs.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Cloud Talent Solution provides the capability to create, read, update, and delete job postings, as well as search jobs based on keywords and filters.\n",
  "servicePath": "",
  "basePath": "",
  "id": "jobs:v3p1beta1",
  "documentationLink": "https://cloud.google.com/talent-solution/job-search/docs/",
  "revision": "20190605",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "LocationFilter": {
      "description": "Input only.\n\nGeographic region of the search.",
      "type": "object",
      "properties": {
        "address": {
          "description": "Optional.\n\nThe address name, such as \"Mountain View\" or \"Bay Area\".",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Optional.\n\nCLDR region code of the country/region of the address. This is used\nto address ambiguity of the user-input location, for example, \"Liverpool\"\nagainst \"Liverpool, NY, US\" or \"Liverpool, UK\".\n\nSet this field if all the jobs to search against are from a same region,\nor jobs are world-wide, but the job seeker is from a specific region.\n\nSee http://cldr.unicode.org/ and\nhttp://www.unicode.org/cldr/charts/30/supplemental/territory_information.html\nfor details. Example: \"CH\" for Switzerland."
        },
        "distanceInMiles": {
          "type": "number",
          "description": "Optional.\n\n\nThe distance_in_miles is applied when the location being searched for is\nidentified as a city or smaller. When the location being searched for is a\nstate or larger, this field is ignored.",
          "format": "double"
        },
        "telecommutePreference": {
          "enum": [
            "TELECOMMUTE_PREFERENCE_UNSPECIFIED",
            "TELECOMMUTE_EXCLUDED",
            "TELECOMMUTE_ALLOWED"
          ],
          "description": "Optional.\n\nAllows the client to return jobs without a\nset location, specifically, telecommuting jobs (telecomuting is considered\nby the service as a special location.\nJob.posting_region indicates if a job permits telecommuting.\nIf this field is set to TelecommutePreference.TELECOMMUTE_ALLOWED,\ntelecommuting jobs are searched, and address and lat_lng are\nignored. If not set or set to\nTelecommutePreference.TELECOMMUTE_EXCLUDED, telecommute job are not\nsearched.\n\nThis filter can be used by itself to search exclusively for telecommuting\njobs, or it can be combined with another location\nfilter to search for a combination of job locations,\nsuch as \"Mountain View\" or \"telecommuting\" jobs. However, when used in\ncombination with other location filters, telecommuting jobs can be\ntreated as less relevant than other jobs in the search response.",
          "type": "string",
          "enumDescriptions": [
            "Default value if the telecommute preference is not specified.",
            "Exclude telecommute jobs.",
            "Allow telecommute jobs."
          ]
        },
        "latLng": {
          "$ref": "LatLng",
          "description": "Optional.\n\nThe latitude and longitude of the geographic center from which to\nsearch. This field's ignored if `address` is provided."
        }
      },
      "id": "LocationFilter"
    },
    "HistogramResults": {
      "type": "object",
      "properties": {
        "simpleHistogramResults": {
          "description": "Specifies histogram results that matches\nHistogramFacets.simple_histogram_facets.",
          "type": "array",
          "items": {
            "$ref": "HistogramResult"
          }
        },
        "customAttributeHistogramResults": {
          "description": "Specifies histogram results for custom attributes that match\nHistogramFacets.custom_attribute_histogram_facets.",
          "type": "array",
          "items": {
            "$ref": "CustomAttributeHistogramResult"
          }
        },
        "compensationHistogramResults": {
          "description": "Specifies compensation field-based histogram results that match\nHistogramFacets.compensation_histogram_requests.",
          "type": "array",
          "items": {
            "$ref": "CompensationHistogramResult"
          }
        }
      },
      "id": "HistogramResults",
      "description": "Output only.\n\nHistogram results that match HistogramFacets specified in\nSearchJobsRequest."
    },
    "NumericBucketingOption": {
      "id": "NumericBucketingOption",
      "description": "Input only.\n\nUse this field to specify bucketing option for the histogram search response.",
      "type": "object",
      "properties": {
        "bucketBounds": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Required.\n\nTwo adjacent values form a histogram bucket. Values should be in\nascending order. For example, if [5, 10, 15] are provided, four buckets are\ncreated: (-inf, 5), 5, 10), [10, 15), [15, inf). At most 20\n[buckets_bound is supported."
        },
        "requiresMinMax": {
          "description": "Optional.\n\nIf set to true, the histogram result includes minimum/maximum\nvalue of the numeric field.",
          "type": "boolean"
        }
      }
    },
    "CreateJobRequest": {
      "type": "object",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "Required.\n\nThe Job to be created."
        }
      },
      "id": "CreateJobRequest",
      "description": "Input only.\n\nCreate job request."
    },
    "SpellingCorrection": {
      "description": "Output only.\n\nSpell check result.",
      "type": "object",
      "properties": {
        "corrected": {
          "description": "Indicates if the query was corrected by the spell checker.",
          "type": "boolean"
        },
        "correctedText": {
          "type": "string",
          "description": "Correction output consisting of the corrected keyword string."
        }
      },
      "id": "SpellingCorrection"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`."
    },
    "CompletionResult": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value.",
            "Only suggest job titles.",
            "Only suggest company names.",
            "Suggest both job titles and company names."
          ],
          "enum": [
            "COMPLETION_TYPE_UNSPECIFIED",
            "JOB_TITLE",
            "COMPANY_NAME",
            "COMBINED"
          ],
          "description": "The completion topic.",
          "type": "string"
        },
        "imageUri": {
          "description": "The URI of the company image for CompletionType.COMPANY_NAME.",
          "type": "string"
        },
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        }
      },
      "id": "CompletionResult",
      "description": "Output only.\n\nResource that represents completion results."
    },
    "RequestMetadata": {
      "type": "object",
      "properties": {
        "sessionId": {
          "description": "Required.\n\nA unique session identification string. A session is defined as the\nduration of an end user's interaction with the service over a certain\nperiod.\nObfuscate this field for privacy concerns before\nproviding it to the service.\n\nIf this field is not available for some reason, send \"UNKNOWN\". Note\nthat any improvements to the model for a particular tenant\nsite, rely on this field being set correctly to some unique session_id.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Required.\n\nThe client-defined scope or source of the service call, which typically\nis the domain on\nwhich the service has been implemented and is currently being run.\n\nFor example, if the service is being run by client \u003cem\u003eFoo, Inc.\u003c/em\u003e, on\njob board www.foo.com and career site www.bar.com, then this field is\nset to \"foo.com\" for use on the job board, and \"bar.com\" for use on the\ncareer site.\n\nIf this field isn't available for some reason, send \"UNKNOWN\".\nAny improvements to the model for a particular tenant site rely on this\nfield being set correctly to a domain.\n\nThe maximum number of allowed characters is 255."
        },
        "userId": {
          "description": "Required.\n\nA unique user identification string, as determined by the client.\nTo have the strongest positive impact on search quality\nmake sure the client-level is unique.\nObfuscate this field for privacy concerns before\nproviding it to the service.\n\nIf this field is not available for some reason, send \"UNKNOWN\". Note\nthat any improvements to the model for a particular tenant\nsite, rely on this field being set correctly to a unique user_id.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "deviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Optional.\n\nThe type of device used by the job seeker at the time of the call to the\nservice."
        }
      },
      "id": "RequestMetadata",
      "description": "Input only.\n\nMeta information related to the job searcher or entity\nconducting the job search. This information is used to improve the\nperformance of the service."
    },
    "TimestampRange": {
      "id": "TimestampRange",
      "description": "Message representing a period of time between two timestamps.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Begin of the period.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "End of the period.",
          "format": "google-datetime"
        }
      }
    },
    "HistogramQueryResult": {
      "id": "HistogramQueryResult",
      "description": "Output only.\n\nHistogram result that matches HistogramSpec specified in searches.",
      "type": "object",
      "properties": {
        "histogram": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "A map from the values of the facet associated with distinct values to the\nnumber of matching entries with corresponding value.\n\nThe key format is:\n* (for string histogram) string values stored in the field.\n* (for named numeric bucket) name specified in `bucket()` function, like\n  for `bucket(0, MAX, \"non-negative\")`, the key will be `non-negative`.\n* (for anonymous numeric bucket) range formatted as `\u003clow\u003e-\u003chigh\u003e`, for\nexample, `0-1000`, `MIN-0`, and `0-MAX`.",
          "type": "object"
        },
        "histogramQuery": {
          "description": "Requested histogram expression.",
          "type": "string"
        }
      }
    },
    "JobEvent": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Required.\n\nThe type of the event (see JobEventType).",
          "type": "string",
          "enumDescriptions": [
            "The event is unspecified by other provided values.",
            "The job seeker or other entity interacting with the service has\nhad a job rendered in their view, such as in a list of search results in\na compressed or clipped format. This event is typically associated with\nthe viewing of a jobs list on a single page by a job seeker.",
            "The job seeker, or other entity interacting with the service, has\nviewed the details of a job, including the full description. This\nevent doesn't apply to the viewing a snippet of a job appearing as a\npart of the job search results. Viewing a snippet is associated with an\nimpression).",
            "The job seeker or other entity interacting with the service\nperformed an action to view a job and was redirected to a different\nwebsite for job.",
            "The job seeker or other entity interacting with the service\nbegan the process or demonstrated the intention of applying for a job.",
            "The job seeker or other entity interacting with the service\nsubmitted an application for a job.",
            "The job seeker or other entity interacting with the service\nsubmitted an application for a job with a single click without\nentering information. If a job seeker performs this action, send only\nthis event to the service. Do not also send\nJobEventType.APPLICATION_START or JobEventType.APPLICATION_FINISH\nevents.",
            "The job seeker or other entity interacting with the service\nperformed an action to apply to a job and was redirected to a different\nwebsite to complete the application.",
            "The job seeker or other entity interacting with the service began the\nprocess or demonstrated the intention of applying for a job from the\nsearch results page without viewing the details of the job posting.\nIf sending this event, JobEventType.VIEW event shouldn't be sent.",
            "The job seeker, or other entity interacting with the service, performs an\naction with a single click from the search results page to apply to a job\n(without viewing the details of the job posting), and is redirected\nto a different website to complete the application. If a candidate\nperforms this action, send only this event to the service. Do not also\nsend JobEventType.APPLICATION_START,\nJobEventType.APPLICATION_FINISH or JobEventType.VIEW events.",
            "This event should be used when a company submits an application\non behalf of a job seeker. This event is intended for use by staffing\nagencies attempting to place candidates.",
            "The job seeker or other entity interacting with the service demonstrated\nan interest in a job by bookmarking or saving it.",
            "The job seeker or other entity interacting with the service was\nsent a notification, such as an email alert or device notification,\ncontaining one or more jobs listings generated by the service.",
            "The job seeker or other entity interacting with the service was\nemployed by the hiring entity (employer). Send this event\nonly if the job seeker was hired through an application that was\ninitiated by a search conducted through the Cloud Talent Solution\nservice.",
            "A recruiter or staffing agency submitted an application on behalf of the\ncandidate after interacting with the service to identify a suitable job\nposting.",
            "The entity interacting with the service (for example, the job seeker),\nwas granted an initial interview by the hiring entity (employer). This\nevent should only be sent if the job seeker was granted an interview as\npart of an application that was initiated by a search conducted through /\nrecommendation provided by the Cloud Talent Solution service.",
            "The job seeker or other entity interacting with the service showed\nno interest in the job."
          ],
          "enum": [
            "JOB_EVENT_TYPE_UNSPECIFIED",
            "IMPRESSION",
            "VIEW",
            "VIEW_REDIRECT",
            "APPLICATION_START",
            "APPLICATION_FINISH",
            "APPLICATION_QUICK_SUBMISSION",
            "APPLICATION_REDIRECT",
            "APPLICATION_START_FROM_SEARCH",
            "APPLICATION_REDIRECT_FROM_SEARCH",
            "APPLICATION_COMPANY_SUBMIT",
            "BOOKMARK",
            "NOTIFICATION",
            "HIRED",
            "SENT_CV",
            "INTERVIEW_GRANTED",
            "NOT_INTERESTED"
          ]
        },
        "jobs": {
          "description": "Required.\n\nThe job name(s) associated with this event.\nFor example, if this is an impression event,\nthis field contains the identifiers of all jobs shown to the job seeker.\nIf this was a view event, this field contains the\nidentifier of the viewed job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "JobEvent",
      "description": "An event issued when a job seeker interacts with the application that\nimplements Cloud Talent Solution."
    },
    "HistogramQuery": {
      "type": "object",
      "properties": {
        "histogramQuery": {
          "description": "An expression specifies a histogram request against matching resources\n(for example, jobs) for searches.\n\nExpression syntax is a aggregation function call with histogram facets and\nother options.\n\nAvailable aggregation function calls are:\n* `count(string_histogram_facet)`: Count the number of matching entity, for\n  each distinct attribute value.\n* `count(numeric_histogram_facet, list of buckets)`: Count the number of\n   matching entity within each bucket.\n\nData types:\n\n* Histogram facet: facet names with format a-zA-Z+.\n* String: string like \"any string with backslash escape for quote(\\\").\"\n* Number: whole number and floating point number like 10, -1 and -0.01.\n* List: list of elements with comma(,) separator surrounded by square\nbrackets. For example, [1, 2, 3] and [\"one\", \"two\", \"three\"].\n\nBuilt-in constants:\n\n* MIN (minimum number similar to java Double.MIN_VALUE)\n* MAX (maximum number similar to java Double.MAX_VALUE)\n\nBuilt-in functions:\n\n* bucket(start, end[, label]): bucket built-in function creates a bucket\nwith range of start, end). Note that the end is exclusive. For example,\nbucket(1, MAX, \"positive number\") or bucket(1, 10).\n\nJob histogram facets:\n\n* company_id: histogram by [Job.distributor_company_id.\n* company_display_name: histogram by Job.company_display_name.\n* employment_type: histogram by Job.employment_types. For example,\n\"FULL_TIME\", \"PART_TIME\".\n* company_size: histogram by CompanySize, for example, \"SMALL\",\n\"MEDIUM\", \"BIG\".\n* publish_time_in_month: histogram by the Job.publish_time in months.\nMust specify list of numeric buckets in spec.\n* publish_time_in_year: histogram by the Job.publish_time in years.\nMust specify list of numeric buckets in spec.\n* degree_type: histogram by the Job.degree_type. For example,\n\"Bachelors\", \"Masters\".\n* job_level: histogram by the Job.job_level. For example, \"Entry\nLevel\".\n* country: histogram by the country code of jobs. For example, \"US\", \"FR\".\n* admin1: histogram by the admin1 code of jobs, which is a global\nplaceholder referring to the state, province, or the particular term a\ncountry uses to define the geographic structure below the country level.\nFor example, \"CA\", \"IL\".\n* city: histogram by a combination of the \"city name, admin1 code\". For\nexample,  \"Mountain View, CA\", \"New York, NY\".\n* admin1_country: histogram by a combination of the \"admin1 code, country\".\nFor example, \"CA, US\", \"IL, US\".\n* city_coordinate: histogram by the city center's GPS coordinates (latitude\nand longitude). For example, 37.4038522,-122.0987765. Since the coordinates\nof a city center can change, customers may need to refresh them\nperiodically.\n* locale: histogram by the Job.language_code. For example, \"en-US\",\n\"fr-FR\".\n* language: histogram by the language subtag of the Job.language_code.\nFor example, \"en\", \"fr\".\n* category: histogram by the JobCategory. For example,\n\"COMPUTER_AND_IT\", \"HEALTHCARE\".\n* base_compensation_unit: histogram by the CompensationUnit of base\nsalary. For example, \"WEEKLY\", \"MONTHLY\".\n* base_compensation: histogram by the base salary. Must specify list of\nnumeric buckets to group results by.\n* annualized_base_compensation: histogram by the base annualized salary.\nMust specify list of numeric buckets to group results by.\n* annualized_total_compensation: histogram by the total annualized salary.\nMust specify list of numeric buckets to group results by.\n* string_custom_attribute: histogram by string Job.custom_attributes.\nValues can be accessed via square bracket notations like\nstring_custom_attribute[\"key1\"].\n* numeric_custom_attribute: histogram by numeric Job.custom_attributes.\nValues can be accessed via square bracket notations like\nnumeric_custom_attribute[\"key1\"]. Must specify list of numeric buckets to\ngroup results by.\n\nExample expressions:\n* count(admin1)\n* count(base_compensation, [bucket(1000, 10000), bucket(10000, 100000),\nbucket(100000, MAX)])\n* count(string_custom_attribute[\"some-string-custom-attribute\"])\n* count(numeric_custom_attribute[\"some-numeric-custom-attribute\"],\n[bucket(MIN, 0, \"negative\"), bucket(0, MAX, \"non-negative\"])",
          "type": "string"
        }
      },
      "id": "HistogramQuery",
      "description": "Input Only.\n\nThe histogram request."
    },
    "CustomAttributeHistogramResult": {
      "type": "object",
      "properties": {
        "stringValueHistogramResult": {
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Stores a map from the values of string custom field associated\nwith `key` to the number of jobs with that value in this histogram result."
        },
        "longValueHistogramResult": {
          "$ref": "NumericBucketingResult",
          "description": "Stores bucketed histogram counting result or min/max values for\ncustom attribute long values associated with `key`."
        },
        "key": {
          "type": "string",
          "description": "Stores the key of custom attribute the histogram is performed on."
        }
      },
      "id": "CustomAttributeHistogramResult",
      "description": "Output only.\n\nCustom attribute histogram result."
    },
    "ListCompaniesResponse": {
      "id": "ListCompaniesResponse",
      "description": "Output only.\n\nThe List companies response object.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "companies": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "Companies for the current client."
        },
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request\ntracking id."
        }
      }
    },
    "BucketizedCount": {
      "description": "Represents count of jobs within one bucket.",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "BucketRange",
          "description": "Bucket range on which histogram was performed for the numeric field,\nthat is, the count represents number of jobs in this range."
        },
        "count": {
          "type": "integer",
          "description": "Number of jobs whose numeric field value fall into `range`.",
          "format": "int32"
        }
      },
      "id": "BucketizedCount"
    },
    "CustomRankingInfo": {
      "id": "CustomRankingInfo",
      "description": "Input only.\n\nCustom ranking information for SearchJobsRequest.",
      "type": "object",
      "properties": {
        "importanceLevel": {
          "enumDescriptions": [
            "Default value if the importance level is not specified.",
            "The given ranking expression is of None importance, existing relevance\nscore (determined by API algorithm) dominates job's final ranking\nposition.",
            "The given ranking expression is of Low importance in terms of job's\nfinal ranking position compared to existing relevance\nscore (determined by API algorithm).",
            "The given ranking expression is of Mild importance in terms of job's\nfinal ranking position compared to existing relevance\nscore (determined by API algorithm).",
            "The given ranking expression is of Medium importance in terms of job's\nfinal ranking position compared to existing relevance\nscore (determined by API algorithm).",
            "The given ranking expression is of High importance in terms of job's\nfinal ranking position compared to existing relevance\nscore (determined by API algorithm).",
            "The given ranking expression is of Extreme importance, and dominates\njob's final ranking position with existing relevance\nscore (determined by API algorithm) ignored."
          ],
          "enum": [
            "IMPORTANCE_LEVEL_UNSPECIFIED",
            "NONE",
            "LOW",
            "MILD",
            "MEDIUM",
            "HIGH",
            "EXTREME"
          ],
          "description": "Required.\n\nControls over how important the score of\nCustomRankingInfo.ranking_expression gets applied to job's final\nranking position.\n\nAn error is thrown if not specified.",
          "type": "string"
        },
        "rankingExpression": {
          "description": "Required.\n\nControls over how job documents get ranked on top of existing relevance\nscore (determined by API algorithm). The product of ranking expression\nand relevance score is used to determine job's final ranking position.\n\nThe syntax for this expression is a subset of Google SQL syntax.\n\nSupported operators are: +, -, *, /, where the left and right side of\nthe operator is either a numeric Job.custom_attributes key,\ninteger/double value or an expression that can be evaluated to a number.\n\nParenthesis are supported to adjust calculation precedence. The\nexpression must be \u003c 100 characters in length.\n\nSample ranking expression\n(year + 25) * 0.25 - (freshness / 0.5)",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable."
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object"
        }
      }
    },
    "BatchDeleteJobsRequest": {
      "description": "Input only.\n\nBatch delete jobs request.",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required.\n\nThe filter string specifies the jobs to be deleted.\n\nSupported operator: =, AND\n\nThe fields eligible for filtering are:\n\n* `companyName` (Required)\n* `requisitionId` (Required)\n\nSample Query: companyName = \"projects/api-test-project/companies/123\" AND\nrequisitionId = \"req-1\""
        }
      },
      "id": "BatchDeleteJobsRequest"
    },
    "HistogramResult": {
      "id": "HistogramResult",
      "description": "Output only.\n\nResult of a histogram call. The response contains the histogram map for the\nsearch type specified by HistogramResult.field.\nThe response is a map of each filter value to the corresponding count of\njobs for that filter.",
      "type": "object",
      "properties": {
        "values": {
          "description": "A map from the values of field to the number of jobs with that value\nin this search result.\n\nKey: search type (filter names, such as the companyName).\n\nValues: the count of jobs that match the filter for this search.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "searchType": {
          "enum": [
            "SEARCH_TYPE_UNSPECIFIED",
            "COMPANY_ID",
            "EMPLOYMENT_TYPE",
            "COMPANY_SIZE",
            "DATE_PUBLISHED",
            "EDUCATION_LEVEL",
            "EXPERIENCE_LEVEL",
            "ADMIN_1",
            "COUNTRY",
            "CITY",
            "LOCALE",
            "LANGUAGE",
            "CATEGORY",
            "CITY_COORDINATE",
            "ADMIN_1_COUNTRY",
            "COMPANY_DISPLAY_NAME",
            "BASE_COMPENSATION_UNIT"
          ],
          "description": "The Histogram search filters.",
          "type": "string",
          "enumDescriptions": [
            "The default value if search type is not specified.",
            "Filter by the company id field.",
            "Filter by the employment type field, such as `FULL_TIME` or `PART_TIME`.",
            "Filter by the company size type field, such as `BIG`, `SMALL` or `BIGGER`.",
            "Filter by the date published field. Possible return values are:\n* PAST_24_HOURS (The past 24 hours)\n* PAST_3_DAYS (The past 3 days)\n* PAST_WEEK (The past 7 days)\n* PAST_MONTH (The past 30 days)\n* PAST_YEAR (The past 365 days)",
            "Filter by the required education level of the job.",
            "Filter by the required experience level of the job.",
            "Filter by Admin1, which is a global placeholder for\nreferring to state, province, or the particular term a country uses to\ndefine the geographic structure below the country level.\nExamples include states codes such as \"CA\", \"IL\", \"NY\", and\nprovinces, such as \"BC\".",
            "Filter by the country code of job, such as US, JP, FR.",
            "Filter by the \"city name\", \"Admin1 code\", for example,\n\"Mountain View, CA\" or \"New York, NY\".",
            "Filter by the locale field of a job, such as \"en-US\", \"fr-FR\".\n\nThis is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).",
            "Filter by the language code portion of the locale field, such as \"en\" or\n\"fr\".",
            "Filter by the Category.",
            "Filter by the city center GPS coordinate (latitude and longitude), for\nexample, 37.4038522,-122.0987765. Since the coordinates of a city center\ncan change, clients may need to refresh them periodically.",
            "A combination of state or province code with a country code. This field\ndiffers from `JOB_ADMIN1`, which can be used in multiple countries.",
            "Company display name.",
            "Base compensation unit."
          ]
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error\nmessage, and error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons."
    },
    "CommuteInfo": {
      "id": "CommuteInfo",
      "description": "Output only.\n\nCommute details related to this job.",
      "type": "object",
      "properties": {
        "jobLocation": {
          "$ref": "Location",
          "description": "Location used as the destination in the commute calculation."
        },
        "travelDuration": {
          "description": "The number of seconds required to travel to the job location from the\nquery location. A duration of 0 seconds indicates that the job is not\nreachable within the requested duration, but was returned as part of an\nexpanded query.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "CompensationHistogramRequest": {
      "id": "CompensationHistogramRequest",
      "description": "Input only.\n\nCompensation based histogram request.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. Invalid.",
            "Histogram by job's base compensation. See CompensationEntry for\ndefinition of base compensation.",
            "Histogram by job's annualized base compensation. See CompensationEntry\nfor definition of annualized base compensation.",
            "Histogram by job's annualized total compensation. See CompensationEntry\nfor definition of annualized total compensation."
          ],
          "enum": [
            "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED",
            "BASE",
            "ANNUALIZED_BASE",
            "ANNUALIZED_TOTAL"
          ],
          "description": "Required.\n\nType of the request, representing which field the histogramming should be\nperformed over. A single request can only specify one histogram of each\n`CompensationHistogramRequestType`.",
          "type": "string"
        },
        "bucketingOption": {
          "$ref": "NumericBucketingOption",
          "description": "Required.\n\nNumeric histogram options, like buckets, whether include min or max value."
        }
      }
    },
    "UpdateJobRequest": {
      "type": "object",
      "properties": {
        "job": {
          "description": "Required.\n\nThe Job to be updated.",
          "$ref": "Job"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional but strongly recommended to be provided for the best service\nexperience.\n\nIf update_mask is provided, only the specified fields in\njob are updated. Otherwise all the fields are updated.\n\nA field mask to restrict the fields that are updated. Only\ntop level fields of Job are supported.",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateJobRequest",
      "description": "Input only.\n\nUpdate job request."
    },
    "BucketRange": {
      "description": "Represents starting and ending value of a range in double.",
      "type": "object",
      "properties": {
        "to": {
          "type": "number",
          "description": "Ending value of the bucket range.",
          "format": "double"
        },
        "from": {
          "description": "Starting value of the bucket range.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "BucketRange"
    },
    "CustomAttribute": {
      "type": "object",
      "properties": {
        "stringValues": {
          "description": "Optional but exactly one of string_values or long_values must\nbe specified.\n\nThis field is used to perform a string match (`CASE_SENSITIVE_MATCH` or\n`CASE_INSENSITIVE_MATCH`) search.\nFor filterable `string_value`s, a maximum total number of 200 values\nis allowed, with each `string_value` has a byte size of no more than\n255B. For unfilterable `string_values`, the maximum total byte size of\nunfilterable `string_values` is 50KB.\n\nEmpty string is not allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "longValues": {
          "description": "Optional but exactly one of string_values or long_values must\nbe specified.\n\nThis field is used to perform number range search.\n(`EQ`, `GT`, `GE`, `LE`, `LT`) over filterable `long_value`.\n\nCurrently at most 1 long_values is supported.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "filterable": {
          "type": "boolean",
          "description": "Optional.\n\nIf the `filterable` flag is true, custom field values are searchable.\nIf false, values are not searchable.\n\nDefault is false."
        }
      },
      "id": "CustomAttribute",
      "description": "Custom attribute values that are either filterable or non-filterable."
    },
    "CompensationEntry": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional.\n\nCompensation description.  For example, could\nindicate equity terms or provide additional context to an estimated\nbonus.",
          "type": "string"
        },
        "unit": {
          "description": "Optional.\n\nFrequency of the specified amount.\n\nDefault is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ],
          "enum": [
            "COMPENSATION_UNIT_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY",
            "ONE_TIME",
            "OTHER_COMPENSATION_UNIT"
          ]
        },
        "amount": {
          "$ref": "Money",
          "description": "Optional.\n\nCompensation amount."
        },
        "type": {
          "enumDescriptions": [
            "Default value.",
            "Base compensation: Refers to the fixed amount of money paid to an\nemployee by an employer in return for work performed. Base compensation\ndoes not include benefits, bonuses or any other potential compensation\nfrom an employer.",
            "Bonus.",
            "Signing bonus.",
            "Equity.",
            "Profit sharing.",
            "Commission.",
            "Tips.",
            "Other compensation type."
          ],
          "enum": [
            "COMPENSATION_TYPE_UNSPECIFIED",
            "BASE",
            "BONUS",
            "SIGNING_BONUS",
            "EQUITY",
            "PROFIT_SHARING",
            "COMMISSIONS",
            "TIPS",
            "OTHER_COMPENSATION_TYPE"
          ],
          "description": "Optional.\n\nCompensation type.\n\nDefault is CompensationUnit.COMPENSATION_TYPE_UNSPECIFIED.",
          "type": "string"
        },
        "range": {
          "description": "Optional.\n\nCompensation range.",
          "$ref": "CompensationRange"
        },
        "expectedUnitsPerYear": {
          "description": "Optional.\n\nExpected number of units paid each year. If not specified, when\nJob.employment_types is FULLTIME, a default value is inferred\nbased on unit. Default values:\n- HOURLY: 2080\n- DAILY: 260\n- WEEKLY: 52\n- MONTHLY: 12\n- ANNUAL: 1",
          "format": "double",
          "type": "number"
        }
      },
      "id": "CompensationEntry",
      "description": "A compensation entry that represents one component of compensation, such\nas base pay, bonus, or other compensation type.\n\nAnnualization: One compensation entry can be annualized if\n- it contains valid amount or range.\n- and its expected_units_per_year is set or can be derived.\nIts annualized range is determined as (amount or range) times\nexpected_units_per_year."
    },
    "JobQuery": {
      "description": "Input only.\n\nThe query required to perform a search query.",
      "type": "object",
      "properties": {
        "query": {
          "description": "Optional.\n\nThe query string that matches against the job title, description, and\nlocation fields.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "compensationFilter": {
          "$ref": "CompensationFilter",
          "description": "Optional.\n\nThis search filter is applied only to\nJob.compensation_info. For example, if the filter is specified\nas \"Hourly job with per-hour compensation \u003e $15\", only jobs meeting\nthese criteria are searched. If a filter isn't defined, all open jobs\nare searched."
        },
        "companyDisplayNames": {
          "description": "Optional.\n\nThis filter specifies the exact company display\nname of the jobs to search against.\n\nIf a value isn't specified, jobs within the search results are\nassociated with any company.\n\nIf multiple values are specified, jobs within the search results may be\nassociated with any of the specified companies.\n\nAt most 20 company display name filters are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disableSpellCheck": {
          "description": "Optional.\n\nThis flag controls the spell-check feature. If false, the\nservice attempts to correct a misspelled query,\nfor example, \"enginee\" is corrected to \"engineer\".\n\nDefaults to false: a spell check is performed.",
          "type": "boolean"
        },
        "jobCategories": {
          "enumDescriptions": [
            "The default value if the category isn't specified.",
            "An accounting and finance job, such as an Accountant.",
            "An administrative and office job, such as an Administrative Assistant.",
            "An advertising and marketing job, such as Marketing Manager.",
            "An animal care job, such as Veterinarian.",
            "An art, fashion, or design job, such as Designer.",
            "A business operations job, such as Business Operations Manager.",
            "A cleaning and facilities job, such as Custodial Staff.",
            "A computer and IT job, such as Systems Administrator.",
            "A construction job, such as General Laborer.",
            "A customer service job, such s Cashier.",
            "An education job, such as School Teacher.",
            "An entertainment and travel job, such as Flight Attendant.",
            "A farming or outdoor job, such as Park Ranger.",
            "A healthcare job, such as Registered Nurse.",
            "A human resources job, such as Human Resources Director.",
            "An installation, maintenance, or repair job, such as Electrician.",
            "A legal job, such as Law Clerk.",
            "A management job, often used in conjunction with another category,\nsuch as Store Manager.",
            "A manufacturing or warehouse job, such as Assembly Technician.",
            "A media, communications, or writing job, such as Media Relations.",
            "An oil, gas or mining job, such as Offshore Driller.",
            "A personal care and services job, such as Hair Stylist.",
            "A protective services job, such as Security Guard.",
            "A real estate job, such as Buyer's Agent.",
            "A restaurant and hospitality job, such as Restaurant Server.",
            "A sales and/or retail job, such Sales Associate.",
            "A science and engineering job, such as Lab Technician.",
            "A social services or non-profit job, such as Case Worker.",
            "A sports, fitness, or recreation job, such as Personal Trainer.",
            "A transportation or logistics job, such as Truck Driver."
          ],
          "description": "Optional.\n\nThe category filter specifies the categories of jobs to search against.\nSee Category for more information.\n\nIf a value is not specified, jobs from any category are searched against.\n\nIf multiple values are specified, jobs from any of the specified\ncategories are searched against.",
          "type": "array",
          "items": {
            "enum": [
              "JOB_CATEGORY_UNSPECIFIED",
              "ACCOUNTING_AND_FINANCE",
              "ADMINISTRATIVE_AND_OFFICE",
              "ADVERTISING_AND_MARKETING",
              "ANIMAL_CARE",
              "ART_FASHION_AND_DESIGN",
              "BUSINESS_OPERATIONS",
              "CLEANING_AND_FACILITIES",
              "COMPUTER_AND_IT",
              "CONSTRUCTION",
              "CUSTOMER_SERVICE",
              "EDUCATION",
              "ENTERTAINMENT_AND_TRAVEL",
              "FARMING_AND_OUTDOORS",
              "HEALTHCARE",
              "HUMAN_RESOURCES",
              "INSTALLATION_MAINTENANCE_AND_REPAIR",
              "LEGAL",
              "MANAGEMENT",
              "MANUFACTURING_AND_WAREHOUSE",
              "MEDIA_COMMUNICATIONS_AND_WRITING",
              "OIL_GAS_AND_MINING",
              "PERSONAL_CARE_AND_SERVICES",
              "PROTECTIVE_SERVICES",
              "REAL_ESTATE",
              "RESTAURANT_AND_HOSPITALITY",
              "SALES_AND_RETAIL",
              "SCIENCE_AND_ENGINEERING",
              "SOCIAL_SERVICES_AND_NON_PROFIT",
              "SPORTS_FITNESS_AND_RECREATION",
              "TRANSPORTATION_AND_LOGISTICS"
            ],
            "type": "string"
          }
        },
        "excludedJobs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional.\n\nThis filter specifies a list of job names to be excluded during search.\n\nAt most 400 excluded job names are allowed."
        },
        "companyNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional.\n\nThis filter specifies the company entities to search against.\n\nIf a value isn't specified, jobs are searched for against all\ncompanies.\n\nIf multiple values are specified, jobs are searched against the\ncompanies specified.\n\nThe format is \"projects/{project_id}/companies/{company_id}\", for example,\n\"projects/api-test-project/companies/foo\".\n\nAt most 20 company filters are allowed."
        },
        "employmentTypes": {
          "type": "array",
          "items": {
            "enum": [
              "EMPLOYMENT_TYPE_UNSPECIFIED",
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "CONTRACT_TO_HIRE",
              "TEMPORARY",
              "INTERN",
              "VOLUNTEER",
              "PER_DIEM",
              "FLY_IN_FLY_OUT",
              "OTHER_EMPLOYMENT_TYPE"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "The default value if the employment type is not specified.",
            "The job requires working a number of hours that constitute full\ntime employment, typically 40 or more hours per week.",
            "The job entails working fewer hours than a full time job,\ntypically less than 40 hours a week.",
            "The job is offered as a contracted, as opposed to a salaried employee,\nposition.",
            "The job is offered as a contracted position with the understanding\nthat it's converted into a full-time position at the end of the\ncontract. Jobs of this type are also returned by a search for\nEmploymentType.CONTRACTOR jobs.",
            "The job is offered as a temporary employment opportunity, usually\na short-term engagement.",
            "The job is a fixed-term opportunity for students or entry-level job\nseekers to obtain on-the-job training, typically offered as a summer\nposition.",
            "The is an opportunity for an individual to volunteer, where there's no\nexpectation of compensation for the provided services.",
            "The job requires an employee to work on an as-needed basis with a\nflexible schedule.",
            "The job involves employing people in remote areas and flying them\ntemporarily to the work site instead of relocating employees and their\nfamilies permanently.",
            "The job does not fit any of the other listed types."
          ],
          "description": "Optional.\n\nThe employment type filter specifies the employment type of jobs to\nsearch against, such as EmploymentType.FULL_TIME.\n\nIf a value is not specified, jobs in the search results includes any\nemployment type.\n\nIf multiple values are specified, jobs in the search results include\nany of the specified employment types."
        },
        "customAttributeFilter": {
          "description": "Optional.\n\nThis filter specifies a structured syntax to match against the\nJob.custom_attributes marked as `filterable`.\n\nThe syntax for this expression is a subset of SQL syntax.\n\nSupported operators are: `=`, `!=`, `\u003c`, `\u003c=`, `\u003e`, and `\u003e=` where the\nleft of the operator is a custom field key and the right of the operator\nis a number or a quoted string. You must escape backslash (\\\\) and\nquote (\\\") characters.\n\nSupported functions are `LOWER([field_name])` to\nperform a case insensitive match and `EMPTY([field_name])` to filter on the\nexistence of a key.\n\nBoolean expressions (AND/OR/NOT) are supported up to 3 levels of\nnesting (for example, \"((A AND B AND C) OR NOT D) AND E\"), a maximum of 100\ncomparisons or functions are allowed in the expression. The expression\nmust be \u003c 3000 bytes in length.\n\nSample Query:\n`(LOWER(driving_license)=\"class \\\"a\\\"\" OR EMPTY(driving_license)) AND\ndriving_years \u003e 10`",
          "type": "string"
        },
        "publishTimeRange": {
          "$ref": "TimestampRange",
          "description": "Optional.\n\nJobs published within a range specified by this filter are searched\nagainst."
        },
        "locationFilters": {
          "description": "Optional.\n\nThe location filter specifies geo-regions containing the jobs to\nsearch against. See LocationFilter for more information.\n\nIf a location value isn't specified, jobs fitting the other search\ncriteria are retrieved regardless of where they're located.\n\nIf multiple values are specified, jobs are retrieved from any of the\nspecified locations. If different values are specified for the\nLocationFilter.distance_in_miles parameter, the maximum provided\ndistance is used for all locations.\n\nAt most 5 location filters are allowed.",
          "type": "array",
          "items": {
            "$ref": "LocationFilter"
          }
        },
        "commuteFilter": {
          "$ref": "CommuteFilter",
          "description": "Optional.\n\n Allows filtering jobs by commute time with different travel methods (for\n example, driving or public transit). Note: This only works with COMMUTE\n MODE. When specified, [JobQuery.location_filters] is\n ignored.\n\n Currently we don't support sorting by commute time."
        },
        "languageCodes": {
          "description": "Optional.\n\nThis filter specifies the locale of jobs to search against,\nfor example, \"en-US\".\n\nIf a value isn't specified, the search results can contain jobs in any\nlocale.\n\n\nLanguage codes should be in BCP-47 format, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).\n\nAt most 10 language code filters are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "JobQuery"
    },
    "ListJobsResponse": {
      "description": "Output only.\n\nList jobs response.",
      "type": "object",
      "properties": {
        "jobs": {
          "description": "The Jobs for a given company.\n\nThe maximum number of items returned is based on the limit field\nprovided in the request.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request\ntracking id."
        }
      },
      "id": "ListJobsResponse"
    },
    "CompensationFilter": {
      "description": "Input only.\n\nFilter on job compensation type and amount.",
      "type": "object",
      "properties": {
        "range": {
          "description": "Optional.\n\nCompensation range.",
          "$ref": "CompensationRange"
        },
        "type": {
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "UNIT_ONLY",
            "UNIT_AND_AMOUNT",
            "ANNUALIZED_BASE_AMOUNT",
            "ANNUALIZED_TOTAL_AMOUNT"
          ],
          "description": "Required.\n\nType of filter.",
          "type": "string",
          "enumDescriptions": [
            "Filter type unspecified. Position holder, INVALID, should never be used.",
            "Filter by `base compensation entry's` unit. A job is a match if and\nonly if the job contains a base CompensationEntry and the base\nCompensationEntry's unit matches provided units.\nPopulate one or more units.\n\nSee CompensationInfo.CompensationEntry for definition of\nbase compensation entry.",
            "Filter by `base compensation entry's` unit and amount / range. A job\nis a match if and only if the job contains a base CompensationEntry, and\nthe base entry's unit matches provided compensation_units and amount\nor range overlaps with provided compensation_range.\n\nSee CompensationInfo.CompensationEntry for definition of\nbase compensation entry.\n\nSet exactly one units and populate range.",
            "Filter by annualized base compensation amount and `base compensation\nentry's` unit. Populate range and zero or more units.",
            "Filter by annualized total compensation amount and `base compensation\nentry's` unit . Populate range and zero or more units."
          ]
        },
        "units": {
          "enumDescriptions": [
            "Default value.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ],
          "description": "Required.\n\nSpecify desired `base compensation entry's`\nCompensationInfo.CompensationUnit.",
          "type": "array",
          "items": {
            "enum": [
              "COMPENSATION_UNIT_UNSPECIFIED",
              "HOURLY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY",
              "ONE_TIME",
              "OTHER_COMPENSATION_UNIT"
            ],
            "type": "string"
          }
        },
        "includeJobsWithUnspecifiedCompensationRange": {
          "type": "boolean",
          "description": "Optional.\n\nIf set to true, jobs with unspecified compensation range fields are\nincluded."
        }
      },
      "id": "CompensationFilter"
    },
    "CreateClientEventRequest": {
      "description": "The report event request.",
      "type": "object",
      "properties": {
        "clientEvent": {
          "$ref": "ClientEvent",
          "description": "Required.\n\nEvents issued when end user interacts with customer's application that\nuses Cloud Talent Solution."
        }
      },
      "id": "CreateClientEventRequest"
    },
    "HistogramFacets": {
      "type": "object",
      "properties": {
        "compensationHistogramFacets": {
          "description": "Optional.\n\nSpecifies compensation field-based histogram requests.\nDuplicate values of CompensationHistogramRequest.type are not allowed.",
          "type": "array",
          "items": {
            "$ref": "CompensationHistogramRequest"
          }
        },
        "simpleHistogramFacets": {
          "description": "Optional.\n\nSpecifies the simple type of histogram facets, for example,\n`COMPANY_SIZE`, `EMPLOYMENT_TYPE` etc.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SEARCH_TYPE_UNSPECIFIED",
              "COMPANY_ID",
              "EMPLOYMENT_TYPE",
              "COMPANY_SIZE",
              "DATE_PUBLISHED",
              "EDUCATION_LEVEL",
              "EXPERIENCE_LEVEL",
              "ADMIN_1",
              "COUNTRY",
              "CITY",
              "LOCALE",
              "LANGUAGE",
              "CATEGORY",
              "CITY_COORDINATE",
              "ADMIN_1_COUNTRY",
              "COMPANY_DISPLAY_NAME",
              "BASE_COMPENSATION_UNIT"
            ]
          },
          "enumDescriptions": [
            "The default value if search type is not specified.",
            "Filter by the company id field.",
            "Filter by the employment type field, such as `FULL_TIME` or `PART_TIME`.",
            "Filter by the company size type field, such as `BIG`, `SMALL` or `BIGGER`.",
            "Filter by the date published field. Possible return values are:\n* PAST_24_HOURS (The past 24 hours)\n* PAST_3_DAYS (The past 3 days)\n* PAST_WEEK (The past 7 days)\n* PAST_MONTH (The past 30 days)\n* PAST_YEAR (The past 365 days)",
            "Filter by the required education level of the job.",
            "Filter by the required experience level of the job.",
            "Filter by Admin1, which is a global placeholder for\nreferring to state, province, or the particular term a country uses to\ndefine the geographic structure below the country level.\nExamples include states codes such as \"CA\", \"IL\", \"NY\", and\nprovinces, such as \"BC\".",
            "Filter by the country code of job, such as US, JP, FR.",
            "Filter by the \"city name\", \"Admin1 code\", for example,\n\"Mountain View, CA\" or \"New York, NY\".",
            "Filter by the locale field of a job, such as \"en-US\", \"fr-FR\".\n\nThis is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).",
            "Filter by the language code portion of the locale field, such as \"en\" or\n\"fr\".",
            "Filter by the Category.",
            "Filter by the city center GPS coordinate (latitude and longitude), for\nexample, 37.4038522,-122.0987765. Since the coordinates of a city center\ncan change, clients may need to refresh them periodically.",
            "A combination of state or province code with a country code. This field\ndiffers from `JOB_ADMIN1`, which can be used in multiple countries.",
            "Company display name.",
            "Base compensation unit."
          ]
        },
        "customAttributeHistogramFacets": {
          "type": "array",
          "items": {
            "$ref": "CustomAttributeHistogramRequest"
          },
          "description": "Optional.\n\nSpecifies the custom attributes histogram requests.\nDuplicate values of CustomAttributeHistogramRequest.key are not\nallowed."
        }
      },
      "id": "HistogramFacets",
      "description": "Input only.\n\nHistogram facets to be specified in SearchJobsRequest."
    },
    "SearchJobsResponse": {
      "description": "Output only.\n\nResponse for SearchJob method.",
      "type": "object",
      "properties": {
        "histogramQueryResults": {
          "description": "The histogram results that match with specified\nSearchJobsRequest.histogram_queries.",
          "type": "array",
          "items": {
            "$ref": "HistogramQueryResult"
          }
        },
        "totalSize": {
          "description": "The precise result count, which is available only if the client set\nenable_precise_result_size to `true`, or if the response\nis the last page of results. Otherwise, the value is `-1`.",
          "format": "int32",
          "type": "integer"
        },
        "locationFilters": {
          "description": "The location filters that the service applied to the specified query. If\nany filters are lat-lng based, the JobLocation.location_type is\nJobLocation.LocationType#LOCATION_TYPE_UNSPECIFIED.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request\ntracking id."
        },
        "histogramResults": {
          "$ref": "HistogramResults",
          "description": "The histogram results that match specified\nSearchJobsRequest.histogram_facets."
        },
        "matchingJobs": {
          "type": "array",
          "items": {
            "$ref": "MatchingJob"
          },
          "description": "The Job entities that match the specified SearchJobsRequest."
        },
        "nextPageToken": {
          "description": "The token that specifies the starting position of the next page of results.\nThis field is empty if there are no more results.",
          "type": "string"
        },
        "spellCorrection": {
          "description": "The spell checking result, and correction.",
          "$ref": "SpellingCorrection"
        },
        "estimatedTotalSize": {
          "description": "An estimation of the number of jobs that match the specified query.\n\nThis number is not guaranteed to be accurate. For accurate results,\nsee enable_precise_result_size.",
          "format": "int32",
          "type": "integer"
        },
        "broadenedQueryJobsCount": {
          "description": "If query broadening is enabled, we may append additional results from the\nbroadened query. This number indicates how many of the jobs returned in the\njobs field are from the broadened query. These results are always at the\nend of the jobs list. In particular, a value of 0, or if the field isn't\nset, all the jobs in the jobs list are from the original\n(without broadening) query. If this field is non-zero, subsequent requests\nwith offset after this result set should contain all broadened results.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SearchJobsResponse"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant\nor are specified elsewhere. An API may choose to allow leap seconds. Related\ntypes are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose\nto allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may\nallow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "format": "int32"
        }
      },
      "id": "TimeOfDay"
    },
    "ProcessingOptions": {
      "type": "object",
      "properties": {
        "htmlSanitization": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Disables sanitization on HTML input.",
            "Sanitizes HTML input, only accepts bold, italic, ordered list, and\nunordered list markup tags."
          ],
          "enum": [
            "HTML_SANITIZATION_UNSPECIFIED",
            "HTML_SANITIZATION_DISABLED",
            "SIMPLE_FORMATTING_ONLY"
          ],
          "description": "Optional.\n\nOption for job HTML content sanitization. Applied fields are:\n\n* description\n* applicationInfo.instruction\n* incentives\n* qualifications\n* responsibilities\n\nHTML tags in these fields may be stripped if sanitiazation is not\ndisabled.\n\nDefaults to HtmlSanitization.SIMPLE_FORMATTING_ONLY."
        },
        "disableStreetAddressResolution": {
          "type": "boolean",
          "description": "Optional.\n\nIf set to `true`, the service does not attempt to resolve a\nmore precise address for the job."
        }
      },
      "id": "ProcessingOptions",
      "description": "Input only.\n\nOptions for job processing."
    },
    "CommuteFilter": {
      "description": "Input only.\n\nParameters needed for commute search.",
      "type": "object",
      "properties": {
        "allowImpreciseAddresses": {
          "description": "Optional.\nIf true, jobs without \"precise\" addresses (street level addresses or GPS\ncoordinates) might also be returned. For city and coarser level addresses,\ntext matching is used. If this field is set to false or is not specified,\nonly jobs that include precise addresses are returned by Commute\nSearch.\n\nNote: If `allow_imprecise_addresses` is set to true, Commute Search is not\nable to calculate accurate commute times to jobs with city level and\ncoarser address information. Jobs with imprecise addresses will return a\n`travel_duration` time of 0 regardless of distance from the job seeker.",
          "type": "boolean"
        },
        "departureTime": {
          "description": "Optional.\n\nThe departure time used to calculate traffic impact, represented as\ngoogle.type.TimeOfDay in local time zone.\n\nCurrently traffic model is restricted to hour level resolution.",
          "$ref": "TimeOfDay"
        },
        "travelDuration": {
          "description": "Required.\n\nThe maximum travel time in seconds. The maximum allowed value is `3600s`\n(one hour). Format is `123s`.",
          "format": "google-duration",
          "type": "string"
        },
        "startCoordinates": {
          "$ref": "LatLng",
          "description": "Required.\n\nThe latitude and longitude of the location from which to calculate the\ncommute time."
        },
        "commuteMethod": {
          "description": "Required.\n\nThe method of transportation for which to calculate the commute time.",
          "type": "string",
          "enumDescriptions": [
            "Commute method is not specified.",
            "Commute time is calculated based on driving time.",
            "Commute time is calculated based on public transit including bus, metro,\nsubway, etc.",
            "Commute time is calculated based on walking time.",
            "Commute time is calculated based on biking time."
          ],
          "enum": [
            "COMMUTE_METHOD_UNSPECIFIED",
            "DRIVING",
            "TRANSIT",
            "WALKING",
            "CYCLING"
          ]
        },
        "roadTraffic": {
          "enumDescriptions": [
            "Road traffic situation is not specified.",
            "Optimal commute time without considering any traffic impact.",
            "Commute time calculation takes in account the peak traffic impact."
          ],
          "enum": [
            "ROAD_TRAFFIC_UNSPECIFIED",
            "TRAFFIC_FREE",
            "BUSY_HOUR"
          ],
          "description": "Optional.\n\nSpecifies the traffic density to use when calculating commute time.",
          "type": "string"
        }
      },
      "id": "CommuteFilter"
    },
    "ClientEvent": {
      "type": "object",
      "properties": {
        "jobEvent": {
          "$ref": "JobEvent",
          "description": "A event issued when a job seeker interacts with the application that\nimplements Cloud Talent Solution."
        },
        "requestId": {
          "description": "Required.\n\nA unique ID generated in the API responses. It can be found in\nResponseMetadata.request_id.",
          "type": "string"
        },
        "createTime": {
          "description": "Required.\n\nThe timestamp of the event.",
          "format": "google-datetime",
          "type": "string"
        },
        "parentEventId": {
          "description": "Optional.\n\nThe event_id of an event that resulted in the current event. For example, a\nJob view event usually follows a parent\nimpression event: A job seeker first does a\nsearch where a list of jobs appears\n(impression). The job seeker then selects a\nresult and views the description of a particular job (Job\nview).",
          "type": "string"
        },
        "eventId": {
          "description": "Required.\n\nA unique identifier, generated by the client application. This `event_id`\nis used to establish the relationship between different events\n(see parent_event_id).",
          "type": "string"
        },
        "extraInfo": {
          "description": "Optional.\n\nExtra information about this event. Used for storing information with no\nmatching field in event payload, for example, user application specific\ncontext or details.\n\nAt most 20 keys are supported. The maximum total size of all keys and\nvalues is 2 KB.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ClientEvent",
      "description": "An event issued when an end user interacts with the application that\nimplements Cloud Talent Solution. Providing this information improves the\nquality of search and recommendation for the API clients, enabling the\nservice to perform optimally. The number of events sent must be consistent\nwith other calls, such as job searches, issued to the service by the client."
    },
    "Job": {
      "description": "A Job resource represents a job posting (also referred to as a \"job listing\"\nor \"job requisition\"). A job belongs to a Company, which is the hiring\nentity responsible for the job.",
      "type": "object",
      "properties": {
        "customAttributes": {
          "additionalProperties": {
            "$ref": "CustomAttribute"
          },
          "description": "Optional.\n\nA map of fields to hold both filterable and non-filterable custom job\nattributes that are not covered by the provided structured fields.\n\nThe keys of the map are strings up to 64 bytes and must match the\npattern: a-zA-Z*. For example, key0LikeThis or\nKEY_1_LIKE_THIS.\n\nAt most 100 filterable and at most 100 unfilterable keys are supported.\nFor filterable `string_values`, across all keys at most 200 values are\nallowed, with each string no more than 255 characters. For unfilterable\n`string_values`, the maximum total size of `string_values` across all keys\nis 50KB.",
          "type": "object"
        },
        "jobLevel": {
          "type": "string",
          "enumDescriptions": [
            "The default value if the level is not specified.",
            "Entry-level individual contributors, typically with less than 2 years of\nexperience in a similar role. Includes interns.",
            "Experienced individual contributors, typically with 2+ years of\nexperience in a similar role.",
            "Entry- to mid-level managers responsible for managing a team of people.",
            "Senior-level managers responsible for managing teams of managers.",
            "Executive-level managers and above, including C-level positions."
          ],
          "enum": [
            "JOB_LEVEL_UNSPECIFIED",
            "ENTRY_LEVEL",
            "EXPERIENCED",
            "MANAGER",
            "DIRECTOR",
            "EXECUTIVE"
          ],
          "description": "Optional.\n\nThe experience level associated with the job, such as \"Entry Level\"."
        },
        "languageCode": {
          "description": "Optional.\n\nThe language of the posting. This field is distinct from\nany requirements for fluency that are associated with the job.\n\nLanguage codes must be in BCP-47 format, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47){:\nclass=\"external\" target=\"_blank\" }.\n\nIf this field is unspecified and Job.description is present, detected\nlanguage code based on Job.description is assigned, otherwise\ndefaults to 'en_US'.",
          "type": "string"
        },
        "postingUpdateTime": {
          "type": "string",
          "description": "Output only. The timestamp when this job posting was last updated.",
          "format": "google-datetime"
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The resource is only visible to the GCP account who owns it.",
            "The resource is visible to the owner and may be visible to other\napplications and processes at Google.",
            "The resource is visible to the owner and may be visible to all other API\nclients."
          ],
          "enum": [
            "VISIBILITY_UNSPECIFIED",
            "ACCOUNT_ONLY",
            "SHARED_WITH_GOOGLE",
            "SHARED_WITH_PUBLIC"
          ],
          "description": "Optional.\n\nThe visibility of the job.\n\nDefaults to Visibility.ACCOUNT_ONLY if not specified."
        },
        "name": {
          "description": "Required during job update.\n\nThe resource name for the job. This is generated by the service when a\njob is created.\n\nThe format is \"projects/{project_id}/jobs/{job_id}\",\nfor example, \"projects/api-test-project/jobs/1234\".\n\nUse of this field in job queries and API calls is preferred over the use of\nrequisition_id since this value is unique.",
          "type": "string"
        },
        "jobBenefits": {
          "description": "Optional.\n\nThe benefits included with the job.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "JOB_BENEFIT_UNSPECIFIED",
              "CHILD_CARE",
              "DENTAL",
              "DOMESTIC_PARTNER",
              "FLEXIBLE_HOURS",
              "MEDICAL",
              "LIFE_INSURANCE",
              "PARENTAL_LEAVE",
              "RETIREMENT_PLAN",
              "SICK_DAYS",
              "VACATION",
              "VISION"
            ]
          },
          "enumDescriptions": [
            "Default value if the type is not specified.",
            "The job includes access to programs that support child care, such\nas daycare.",
            "The job includes dental services covered by a dental\ninsurance plan.",
            "The job offers specific benefits to domestic partners.",
            "The job allows for a flexible work schedule.",
            "The job includes health services covered by a medical insurance plan.",
            "The job includes a life insurance plan provided by the employer or\navailable for purchase by the employee.",
            "The job allows for a leave of absence to a parent to care for a newborn\nchild.",
            "The job includes a workplace retirement plan provided by the\nemployer or available for purchase by the employee.",
            "The job allows for paid time off due to illness.",
            "The job includes paid time off for vacation.",
            "The job includes vision services covered by a vision\ninsurance plan."
          ]
        },
        "promotionValue": {
          "type": "integer",
          "description": "Optional.\n\nA promotion value of the job, as determined by the client.\nThe value determines the sort order of the jobs returned when searching for\njobs using the featured jobs search call, with higher promotional values\nbeing returned first and ties being resolved by relevance sort. Only the\njobs with a promotionValue \u003e0 are returned in a FEATURED_JOB_SEARCH.\n\nDefault value is 0, and negative values are treated as 0.",
          "format": "int32"
        },
        "title": {
          "description": "Required.\n\nThe title of the job, such as \"Software Engineer\"\n\nThe maximum number of allowed characters is 500.",
          "type": "string"
        },
        "companyDisplayName": {
          "description": "Output only. Display name of the company listing the job.",
          "type": "string"
        },
        "qualifications": {
          "description": "Optional.\n\nA description of the qualifications required to perform the\njob. The use of this field is recommended\nas an alternative to using the more general description field.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 10,000.",
          "type": "string"
        },
        "requisitionId": {
          "type": "string",
          "description": "Required.\n\nThe requisition ID, also referred to as the posting ID, assigned by the\nclient to identify a job. This field is intended to be used by clients\nfor client identification and tracking of postings. A job is not allowed\nto be created if there is another job with the same [company_name],\nlanguage_code and requisition_id.\n\nThe maximum number of allowed characters is 255."
        },
        "processingOptions": {
          "description": "Optional.\n\nOptions for job processing.",
          "$ref": "ProcessingOptions"
        },
        "jobEndTime": {
          "description": "Optional.\n\nThe end timestamp of the job. Typically this field is used for contracting\nengagements. Invalid timestamps are ignored.",
          "format": "google-datetime",
          "type": "string"
        },
        "derivedInfo": {
          "description": "Output only. Derived details about the job posting.",
          "$ref": "JobDerivedInfo"
        },
        "employmentTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "EMPLOYMENT_TYPE_UNSPECIFIED",
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "CONTRACT_TO_HIRE",
              "TEMPORARY",
              "INTERN",
              "VOLUNTEER",
              "PER_DIEM",
              "FLY_IN_FLY_OUT",
              "OTHER_EMPLOYMENT_TYPE"
            ]
          },
          "enumDescriptions": [
            "The default value if the employment type is not specified.",
            "The job requires working a number of hours that constitute full\ntime employment, typically 40 or more hours per week.",
            "The job entails working fewer hours than a full time job,\ntypically less than 40 hours a week.",
            "The job is offered as a contracted, as opposed to a salaried employee,\nposition.",
            "The job is offered as a contracted position with the understanding\nthat it's converted into a full-time position at the end of the\ncontract. Jobs of this type are also returned by a search for\nEmploymentType.CONTRACTOR jobs.",
            "The job is offered as a temporary employment opportunity, usually\na short-term engagement.",
            "The job is a fixed-term opportunity for students or entry-level job\nseekers to obtain on-the-job training, typically offered as a summer\nposition.",
            "The is an opportunity for an individual to volunteer, where there's no\nexpectation of compensation for the provided services.",
            "The job requires an employee to work on an as-needed basis with a\nflexible schedule.",
            "The job involves employing people in remote areas and flying them\ntemporarily to the work site instead of relocating employees and their\nfamilies permanently.",
            "The job does not fit any of the other listed types."
          ],
          "description": "Optional.\n\nThe employment type(s) of a job, for example,\nfull time or\npart time."
        },
        "incentives": {
          "description": "Optional.\n\nA description of bonus, commission, and other compensation\nincentives associated with the job not including salary or pay.\n\nThe maximum number of allowed characters is 10,000.",
          "type": "string"
        },
        "postingCreateTime": {
          "description": "Output only. The timestamp when this job posting was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "addresses": {
          "description": "Optional but strongly recommended for the best service experience.\n\nLocation(s) where the employer is looking to hire for this job posting.\n\nSpecifying the full street address(es) of the hiring location enables\nbetter API results, especially job searches by commute time.\n\nAt most 50 locations are allowed for best search performance. If a job has\nmore locations, it is suggested to split it into multiple jobs with unique\nrequisition_ids (e.g. 'ReqA' becomes 'ReqA-1', 'ReqA-2', etc.) as\nmultiple jobs with the same company_name, language_code and\nrequisition_id are not allowed. If the original requisition_id must\nbe preserved, a custom field should be used for storage. It is also\nsuggested to group the locations that close to each other in the same job\nfor better search experience.\n\nThe maximum number of allowed characters is 500.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "companyName": {
          "type": "string",
          "description": "Required.\n\nThe resource name of the company listing the job, such as\n\"projects/api-test-project/companies/foo\"."
        },
        "description": {
          "type": "string",
          "description": "Required.\n\nThe description of the job, which typically includes a multi-paragraph\ndescription of the company and related information. Separate fields are\nprovided on the job object for responsibilities,\nqualifications, and other job characteristics. Use of\nthese separate job fields is recommended.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 100,000."
        },
        "jobStartTime": {
          "type": "string",
          "description": "Optional.\n\nThe start timestamp of the job in UTC time zone. Typically this field\nis used for contracting engagements. Invalid timestamps are ignored.",
          "format": "google-datetime"
        },
        "degreeTypes": {
          "description": "Optional.\n\nThe desired education degrees for the job, such as Bachelors, Masters.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DEGREE_TYPE_UNSPECIFIED",
              "PRIMARY_EDUCATION",
              "LOWER_SECONDARY_EDUCATION",
              "UPPER_SECONDARY_EDUCATION",
              "ADULT_REMEDIAL_EDUCATION",
              "ASSOCIATES_OR_EQUIVALENT",
              "BACHELORS_OR_EQUIVALENT",
              "MASTERS_OR_EQUIVALENT",
              "DOCTORAL_OR_EQUIVALENT"
            ]
          },
          "enumDescriptions": [
            "Default value. Represents no degree, or early childhood education.\nMaps to ISCED code 0.\nEx) Kindergarten",
            "Primary education which is typically the first stage of compulsory\neducation. ISCED code 1.\nEx) Elementary school",
            "Lower secondary education; First stage of secondary education building on\nprimary education, typically with a more subject-oriented curriculum.\nISCED code 2.\nEx) Middle school",
            "Middle education; Second/final stage of secondary education preparing for\ntertiary education and/or providing skills relevant to employment.\nUsually with an increased range of subject options and streams. ISCED\ncode 3.\nEx) High school",
            "Adult Remedial Education; Programmes providing learning experiences that\nbuild on secondary education and prepare for labour market entry and/or\ntertiary education. The content is broader than secondary but not as\ncomplex as tertiary education. ISCED code 4.",
            "Associate's or equivalent; Short first tertiary programmes that are\ntypically practically-based, occupationally-specific and prepare for\nlabour market entry. These programmes may also provide a pathway to other\ntertiary programmes. ISCED code 5.",
            "Bachelor's or equivalent; Programmes designed to provide intermediate\nacademic and/or professional knowledge, skills and competencies leading\nto a first tertiary degree or equivalent qualification. ISCED code 6.",
            "Master's or equivalent; Programmes designed to provide advanced academic\nand/or professional knowledge, skills and competencies leading to a\nsecond tertiary degree or equivalent qualification. ISCED code 7.",
            "Doctoral or equivalent; Programmes designed primarily to lead to an\nadvanced research qualification, usually concluding with the submission\nand defense of a substantive dissertation of publishable quality based on\noriginal research. ISCED code 8."
          ]
        },
        "responsibilities": {
          "type": "string",
          "description": "Optional.\n\nA description of job responsibilities. The use of this field is\nrecommended as an alternative to using the more general description\nfield.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 10,000."
        },
        "compensationInfo": {
          "$ref": "CompensationInfo",
          "description": "Optional.\n\nJob compensation information."
        },
        "department": {
          "description": "Optional.\n\nThe department or functional area within the company with the open\nposition.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "applicationInfo": {
          "$ref": "ApplicationInfo",
          "description": "Required. At least one field within ApplicationInfo must be specified.\n\nJob application information."
        },
        "postingExpireTime": {
          "description": "Optional but strongly recommended for the best service\nexperience.\n\nThe expiration timestamp of the job. After this timestamp, the\njob is marked as expired, and it no longer appears in search results. The\nexpired job can't be deleted or listed by the DeleteJob and\nListJobs APIs, but it can be retrieved with the GetJob API or\nupdated with the UpdateJob API. An expired job can be updated and\nopened again by using a future expiration timestamp. Updating an expired\njob fails if there is another existing open job with same company_name,\nlanguage_code and requisition_id.\n\nThe expired jobs are retained in our system for 90 days. However, the\noverall expired job count cannot exceed 3 times the maximum of open jobs\ncount over the past week, otherwise jobs with earlier expire time are\ncleaned first. Expired jobs are no longer accessible after they are cleaned\nout.\n\nInvalid timestamps are ignored, and treated as expire time not provided.\n\nTimestamp before the instant request is made is considered valid, the job\nwill be treated as expired immediately.\n\nIf this value is not provided at the time of job creation or is invalid,\nthe job posting expires after 30 days from the job's creation time. For\nexample, if the job was created on 2017/01/01 13:00AM UTC with an\nunspecified expiration date, the job expires after 2017/01/31 13:00AM UTC.\n\nIf this value is not provided on job update, it depends on the field masks\nset by UpdateJobRequest.update_mask. If the field masks include\nexpiry_time, or the masks are empty meaning that every field is\nupdated, the job posting expires after 30 days from the job's last\nupdate time. Otherwise the expiration date isn't updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "postingRegion": {
          "description": "Optional.\n\nThe job PostingRegion (for example, state, country) throughout which\nthe job is available. If this field is set, a\nLocationFilter in a search query within the job region\nfinds this job posting if an exact location match isn't specified.\nIf this field is set to PostingRegion.NATION or\nPostingRegion.ADMINISTRATIVE_AREA, setting job Job.addresses\nto the same location level as this field is strongly recommended.",
          "type": "string",
          "enumDescriptions": [
            "If the region is unspecified, the job is only returned if it\nmatches the LocationFilter.",
            "In addition to exact location matching, job posting is returned when the\nLocationFilter in the search query is in the same administrative area\nas the returned job posting. For example, if a `ADMINISTRATIVE_AREA` job\nis posted in \"CA, USA\", it's returned if LocationFilter has\n\"Mountain View\".\n\nAdministrative area refers to top-level administrative subdivision of this\ncountry. For example, US state, IT region, UK constituent nation and\nJP prefecture.",
            "In addition to exact location matching, job is returned when\nLocationFilter in search query is in the same country as this job.\nFor example, if a `NATION_WIDE` job is posted in \"USA\", it's\nreturned if LocationFilter has 'Mountain View'.",
            "Job allows employees to work remotely (telecommute).\nIf locations are provided with this value, the job is\nconsidered as having a location, but telecommuting is allowed."
          ],
          "enum": [
            "POSTING_REGION_UNSPECIFIED",
            "ADMINISTRATIVE_AREA",
            "NATION",
            "TELECOMMUTE"
          ]
        },
        "postingPublishTime": {
          "description": "Optional.\n\nThe timestamp this job posting was most recently published. The default\nvalue is the time the request arrives at the server. Invalid timestamps are\nignored.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Job"
    },
    "Company": {
      "id": "Company",
      "description": "A Company resource represents a company in the service. A company is the\nentity that owns job postings, that is, the hiring entity responsible for\nemploying applicants for the job position.",
      "type": "object",
      "properties": {
        "headquartersAddress": {
          "type": "string",
          "description": "Optional.\n\nThe street address of the company's main headquarters, which may be\ndifferent from the job location. The service attempts\nto geolocate the provided address, and populates a more specific\nlocation wherever possible in DerivedInfo.headquarters_location."
        },
        "keywordSearchableJobCustomAttributes": {
          "description": "Optional.\n\nA list of keys of filterable Job.custom_attributes, whose\ncorresponding `string_values` are used in keyword search. Jobs with\n`string_values` under these specified field keys are returned if any\nof the values matches the search keyword. Custom field values with\nparenthesis, brackets and special symbols won't be properly searchable,\nand those keyword queries need to be surrounded by quotes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "derivedInfo": {
          "description": "Output only. Derived details about the company.",
          "$ref": "CompanyDerivedInfo"
        },
        "suspended": {
          "description": "Output only. Indicates whether a company is flagged to be suspended from\npublic availability by the service when job content appears suspicious,\nabusive, or spammy.",
          "type": "boolean"
        },
        "eeoText": {
          "description": "Optional.\n\nEqual Employment Opportunity legal disclaimer text to be\nassociated with all jobs, and typically to be displayed in all\nroles.\n\nThe maximum number of allowed characters is 500.",
          "type": "string"
        },
        "name": {
          "description": "Required during company update.\n\nThe resource name for a company. This is generated by the service when a\ncompany is created.\n\nThe format is \"projects/{project_id}/companies/{company_id}\", for example,\n\"projects/api-test-project/companies/foo\".",
          "type": "string"
        },
        "imageUri": {
          "type": "string",
          "description": "Optional.\n\nA URI that hosts the employer's company logo."
        },
        "size": {
          "enumDescriptions": [
            "Default value if the size is not specified.",
            "The company has less than 50 employees.",
            "The company has between 50 and 99 employees.",
            "The company has between 100 and 499 employees.",
            "The company has between 500 and 999 employees.",
            "The company has between 1,000 and 4,999 employees.",
            "The company has between 5,000 and 9,999 employees.",
            "The company has 10,000 or more employees."
          ],
          "enum": [
            "COMPANY_SIZE_UNSPECIFIED",
            "MINI",
            "SMALL",
            "SMEDIUM",
            "MEDIUM",
            "BIG",
            "BIGGER",
            "GIANT"
          ],
          "description": "Optional.\n\nThe employer's company size.",
          "type": "string"
        },
        "hiringAgency": {
          "description": "Optional.\n\nSet to true if it is the hiring agency that post jobs for other\nemployers.\n\nDefaults to false if not provided.",
          "type": "boolean"
        },
        "websiteUri": {
          "description": "Optional.\n\nThe URI representing the company's primary web site or home page,\nfor example, \"https://www.google.com\".\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "externalId": {
[...]
