{
  "id": "jobs:v2",
  "documentationLink": "https://cloud.google.com/talent-solution/job-search/docs/",
  "revision": "20190930",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, e.g. a birthday. The time of day\nand time zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. This can represent:\n\n* A full date, with non-zero year, month and day values\n* A month and day value, with a zero year, e.g. an anniversary\n* A year on its own, with zero month and day values\n* A year and month value, with a zero day, e.g. a credit card expiration date\n\nRelated types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year by itself or a year and month where the day is not\nsignificant.",
          "format": "int32"
        },
        "month": {
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a\nmonth and day.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Filter": {
      "type": "object",
      "properties": {
        "requisitionId": {
          "type": "string",
          "description": "Required. The requisition ID (or posting ID) assigned by the client to identify a\njob. This is intended for client identification and tracking of\nlistings.\nname takes precedence over this field\nThe maximum number of allowed characters is 225."
        }
      },
      "id": "Filter",
      "description": "Deprecated. Use BatchDeleteJobsRequest instead.\n\nInput only.\n\nFilter for jobs to be deleted."
    },
    "DeleteJobsByFilterRequest": {
      "description": "Deprecated. Use BatchDeleteJobsRequest instead.\n\nInput only.\n\nDelete job by filter request.\n\nThe job typically becomes unsearchable within 10 seconds, but it may take\nup to 5 minutes.",
      "type": "object",
      "properties": {
        "filter": {
          "$ref": "Filter",
          "description": "Required. Restrictions on the scope of the delete request."
        },
        "disableFastProcess": {
          "type": "boolean",
          "description": "Optional. If set to true, this call waits for all processing steps to complete\nbefore the job is cleaned up. Otherwise, the call returns while some\nsteps are still taking place asynchronously, hence faster."
        }
      },
      "id": "DeleteJobsByFilterRequest"
    },
    "ExtendedCompensationInfo": {
      "type": "object",
      "properties": {
        "currency": {
          "description": "Optional. A 3-letter [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html)\ncurrency code.",
          "type": "string"
        },
        "annualizedTotalCompensationRange": {
          "description": "Output only. Annualized total compensation range.",
          "$ref": "ExtendedCompensationInfoCompensationRange"
        },
        "entries": {
          "description": "Optional. Job compensation information.\n\nAt most one entry can be of type\nExtendedCompensationInfo.CompensationType.BASE, which is\nreferred as ** base compensation entry ** for the job.",
          "type": "array",
          "items": {
            "$ref": "ExtendedCompensationInfoCompensationEntry"
          }
        },
        "annualizedTotalCompensationUnspecified": {
          "description": "Output only. Indicates annualized total compensation range cannot be derived, due to\nthe job's all CompensationEntry cannot be annualized.\nSee CompensationEntry for explanation on annualization and base\ncompensation entry.",
          "type": "boolean"
        },
        "annualizedBaseCompensationRange": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Output only. Annualized base compensation range."
        },
        "annualizedBaseCompensationUnspecified": {
          "description": "Output only. Indicates annualized base compensation range cannot be derived, due to\nthe job's base compensation entry cannot be annualized.\nSee CompensationEntry for explanation on annualization and base\ncompensation entry.",
          "type": "boolean"
        }
      },
      "id": "ExtendedCompensationInfo",
      "description": "Deprecated. Use CompensationInfo.\n\nDescribes job compensation."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "CompletionResult": {
      "description": "Output only.\n\nResource that represents completion results.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value.",
            "Only suggest job titles.",
            "Only suggest company names.",
            "Suggest both job titles and company names."
          ],
          "enum": [
            "COMPLETION_TYPE_UNSPECIFIED",
            "JOB_TITLE",
            "COMPANY_NAME",
            "COMBINED"
          ],
          "description": "The completion topic.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The URL for the company logo if `type=COMPANY_NAME`.",
          "type": "string"
        },
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        }
      },
      "id": "CompletionResult"
    },
    "GetHistogramRequest": {
      "description": "Deprecated. Use SearchJobsRequest.histogram_facets instead to make\na single call with both search and histogram.\n\nInput only.\n\nA request for the `GetHistogram` method.",
      "type": "object",
      "properties": {
        "query": {
          "$ref": "JobQuery",
          "description": "Optional. Query used to search against jobs, such as keyword, location filters, etc."
        },
        "filters": {
          "$ref": "JobFilters",
          "description": "Deprecated. Use query instead.\n\nOptional.\n\nRestrictions on the scope of the histogram."
        },
        "requestMetadata": {
          "description": "Meta information, such as `user_id`, collected from the job searcher or\nother entity conducting a job search, is used to improve the service's\nsearch quality. Users determine identifier values, which must be\nunique and consist.",
          "$ref": "RequestMetadata"
        },
        "allowBroadening": {
          "description": "Optional. Controls whether to broaden the search to avoid too few results for a\ngiven query in instances where a search has sparse results. Results from a\nbroadened query is a superset of the results from the original query.\n\nDefaults to false.",
          "type": "boolean"
        },
        "searchTypes": {
          "enumDescriptions": [
            "The default value if search type is not specified.",
            "Filter by the company id field.",
            "Filter by the employment type field, such as `FULL_TIME` or `PART_TIME`.",
            "Filter by the company size type field, such as `BIG`, `SMALL` or `BIGGER`.",
            "Filter by the date published field. Values are stringified\nwith TimeRange, for example, TimeRange.PAST_MONTH.",
            "Filter by custom field 1.",
            "Filter by custom field 2.",
            "Filter by custom field 3.",
            "Filter by custom field 4.",
            "Filter by custom field 5.",
            "Filter by custom field 6.",
            "Filter by custom field 7.",
            "Filter by custom field 8.",
            "Filter by custom field 9.",
            "Filter by custom field 10.",
            "Filter by custom field 11.",
            "Filter by custom field 12.",
            "Filter by custom field 13.",
            "Filter by custom field 14.",
            "Filter by custom field 15.",
            "Filter by custom field 16.",
            "Filter by custom field 17.",
            "Filter by custom field 18.",
            "Filter by custom field 19.",
            "Filter by custom field 20.",
            "Filter by the required education level of the job.",
            "Filter by the required experience level of the job.",
            "Filter by Admin1, which is a global placeholder for\nreferring to state, province, or the particular term a country uses to\ndefine the geographic structure below the country level.\nExamples include states codes such as \"CA\", \"IL\", \"NY\", and\nprovinces, such as \"BC\".",
            "Filter by the country code of job, such as US, JP, FR.",
            "Filter by the \"city name\", \"Admin1 code\", for example,\n\"Mountain View, CA\" or \"New York, NY\".",
            "Filter by the locale field of a job, such as \"en-US\", \"fr-FR\".\n\nThis is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).",
            "Filter by the language code portion of the locale field, such as \"en\" or\n\"fr\".",
            "Filter by the Category.",
            "Filter by the city center GPS coordinate (latitude and longitude), for\nexample, 37.4038522,-122.0987765. Since the coordinates of a city center\ncan change, clients may need to refresh them periodically.",
            "A combination of state or province code with a country code. This field\ndiffers from `JOB_ADMIN1`, which can be used in multiple countries.",
            "Deprecated. Use COMPANY_DISPLAY_NAME instead.\n\nCompany display name.",
            "Company display name.",
            "Base compensation unit."
          ],
          "description": "Required. A list of facets that specify the histogram data to be calculated\nagainst and returned.\n\nHistogram response times can be slow, and counts\ncan be approximations. This call may be temporarily or permanently removed\nprior to the production release of Cloud Talent Solution.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "JOB_FIELD_UNSPECIFIED",
              "COMPANY_ID",
              "EMPLOYMENT_TYPE",
              "COMPANY_SIZE",
              "DATE_PUBLISHED",
              "CUSTOM_FIELD_1",
              "CUSTOM_FIELD_2",
              "CUSTOM_FIELD_3",
              "CUSTOM_FIELD_4",
              "CUSTOM_FIELD_5",
              "CUSTOM_FIELD_6",
              "CUSTOM_FIELD_7",
              "CUSTOM_FIELD_8",
              "CUSTOM_FIELD_9",
              "CUSTOM_FIELD_10",
              "CUSTOM_FIELD_11",
              "CUSTOM_FIELD_12",
              "CUSTOM_FIELD_13",
              "CUSTOM_FIELD_14",
              "CUSTOM_FIELD_15",
              "CUSTOM_FIELD_16",
              "CUSTOM_FIELD_17",
              "CUSTOM_FIELD_18",
              "CUSTOM_FIELD_19",
              "CUSTOM_FIELD_20",
              "EDUCATION_LEVEL",
              "EXPERIENCE_LEVEL",
              "ADMIN1",
              "COUNTRY",
              "CITY",
              "LOCALE",
              "LANGUAGE",
              "CATEGORY",
              "CITY_COORDINATE",
              "ADMIN1_COUNTRY",
              "COMPANY_TITLE",
              "COMPANY_DISPLAY_NAME",
              "BASE_COMPENSATION_UNIT"
            ]
          }
        }
      },
      "id": "GetHistogramRequest"
    },
    "RequestMetadata": {
      "id": "RequestMetadata",
      "description": "Input only.\n\nMeta information related to the job searcher or entity\nconducting the job search. This information is used to improve the\nperformance of the service.",
      "type": "object",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Required. A unique session identification string. A session is defined as the\nduration of an end user's interaction with the service over a period.\nObfuscate this field for privacy concerns before\nproviding it to the API.\n\nIf this field is not available for some reason, please send \"UNKNOWN\". Note\nthat any improvements to the service model for a particular tenant site,\nrely on this field being set correctly to some unique session_id."
        },
        "domain": {
          "description": "Required. The client-defined scope or source of the service call, which typically\nis the domain on\nwhich the service has been implemented and is currently being run.\n\nFor example, if the service is being run by client \u003cem\u003eFoo, Inc.\u003c/em\u003e, on\njob board www.foo.com and career site www.bar.com, then this field is\nset to \"foo.com\" for use on the job board, and \"bar.com\" for use on the\ncareer site.\n\nIf this field is not available for some reason, send \"UNKNOWN\". Note that\nany improvements to the service model for a particular tenant site rely on\nthis field being set correctly to some domain.",
          "type": "string"
        },
        "userId": {
          "description": "Required. A unique user identification string, as determined by the client. The\nclient is responsible for ensuring client-level uniqueness of this value\nin order to have the strongest positive impact on search quality.\nObfuscate this field for privacy concerns before\nproviding it to the service.\n\nIf this field is not available for some reason, please send \"UNKNOWN\". Note\nthat any improvements to the service model for a particular tenant site,\nrely on this field being set correctly to some unique user_id.",
          "type": "string"
        },
        "deviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Optional. The type of device used by the job seeker at the time of the call to the\nservice."
        }
      }
    },
    "JobProcessingOptions": {
      "type": "object",
      "properties": {
        "htmlSanitization": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Disables sanitization on HTML input.",
            "Sanitizes HTML input, only accepts bold, italic, ordered list, and\nunordered list markup tags."
          ],
          "enum": [
            "HTML_SANITIZATION_UNSPECIFIED",
            "HTML_SANITIZATION_DISABLED",
            "SIMPLE_FORMATTING_ONLY"
          ],
          "description": "Optional. Option for job HTML content sanitization. Applied fields are:\n\n* description\n* applicationInstruction\n* incentives\n* qualifications\n* responsibilities\n\nHTML tags in these fields may be stripped if sanitiazation is not disabled.\n\nDefaults to HtmlSanitization.SIMPLE_FORMATTING_ONLY."
        },
        "disableStreetAddressResolution": {
          "type": "boolean",
          "description": "Optional. If set to `true`, the service does not attempt to resolve a\nmore precise address for the job."
        }
      },
      "id": "JobProcessingOptions",
      "description": "Input only.\n\nOptions for job processing."
    },
    "CustomAttributeHistogramResult": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Stores the key of custom attribute the histogram is performed on.",
          "type": "string"
        },
        "stringValueHistogramResult": {
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Stores a map from the values of string custom field associated\nwith `key` to the number of jobs with that value in this histogram result.",
          "type": "object"
        },
        "longValueHistogramResult": {
          "$ref": "NumericBucketingResult",
          "description": "Stores bucketed histogram counting result or min/max values for\ncustom attribute long values associated with `key`."
        }
      },
      "id": "CustomAttributeHistogramResult",
      "description": "Output only.\n\nCustom attribute histogram result."
    },
    "ListCompaniesResponse": {
      "id": "ListCompaniesResponse",
      "description": "Output only.\n\nThe List companies response object.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "companies": {
          "description": "Companies for the current client.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        },
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request\ntracking id."
        }
      }
    },
    "BucketizedCount": {
      "type": "object",
      "properties": {
        "range": {
          "$ref": "BucketRange",
          "description": "Bucket range on which histogram was performed for the numeric field,\nthat is, the count represents number of jobs in this range."
        },
        "count": {
          "description": "Number of jobs whose numeric field value fall into `range`.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "BucketizedCount",
      "description": "Represents count of jobs within one bucket."
    },
    "CustomField": {
      "description": "Resource that represents the custom data not captured by the standard fields.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Optional. The values of the custom data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomField"
    },
    "BatchDeleteJobsRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. The filter string specifies the jobs to be deleted.\n\nSupported operator: =, AND\n\nThe fields eligible for filtering are:\n\n* `companyName` (Required)\n* `requisitionId` (Required)\n\nSample Query: companyName = \"companies/123\" AND requisitionId = \"req-1\"",
          "type": "string"
        }
      },
      "id": "BatchDeleteJobsRequest",
      "description": "Input only.\n\nBatch delete jobs request."
    },
    "HistogramResult": {
      "type": "object",
      "properties": {
        "values": {
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A map from the values of field to the number of jobs with that value\nin this search result.\n\nKey: search type (filter names, such as the companyName).\n\nValues: the count of jobs that match the filter for this search.",
          "type": "object"
        },
        "searchType": {
          "enum": [
            "JOB_FIELD_UNSPECIFIED",
            "COMPANY_ID",
            "EMPLOYMENT_TYPE",
            "COMPANY_SIZE",
            "DATE_PUBLISHED",
            "CUSTOM_FIELD_1",
            "CUSTOM_FIELD_2",
            "CUSTOM_FIELD_3",
            "CUSTOM_FIELD_4",
            "CUSTOM_FIELD_5",
            "CUSTOM_FIELD_6",
            "CUSTOM_FIELD_7",
            "CUSTOM_FIELD_8",
            "CUSTOM_FIELD_9",
            "CUSTOM_FIELD_10",
            "CUSTOM_FIELD_11",
            "CUSTOM_FIELD_12",
            "CUSTOM_FIELD_13",
            "CUSTOM_FIELD_14",
            "CUSTOM_FIELD_15",
            "CUSTOM_FIELD_16",
            "CUSTOM_FIELD_17",
            "CUSTOM_FIELD_18",
            "CUSTOM_FIELD_19",
            "CUSTOM_FIELD_20",
            "EDUCATION_LEVEL",
            "EXPERIENCE_LEVEL",
            "ADMIN1",
            "COUNTRY",
            "CITY",
            "LOCALE",
            "LANGUAGE",
            "CATEGORY",
            "CITY_COORDINATE",
            "ADMIN1_COUNTRY",
            "COMPANY_TITLE",
            "COMPANY_DISPLAY_NAME",
            "BASE_COMPENSATION_UNIT"
          ],
          "description": "The Histogram search filters.",
          "type": "string",
          "enumDescriptions": [
            "The default value if search type is not specified.",
            "Filter by the company id field.",
            "Filter by the employment type field, such as `FULL_TIME` or `PART_TIME`.",
            "Filter by the company size type field, such as `BIG`, `SMALL` or `BIGGER`.",
            "Filter by the date published field. Values are stringified\nwith TimeRange, for example, TimeRange.PAST_MONTH.",
            "Filter by custom field 1.",
            "Filter by custom field 2.",
            "Filter by custom field 3.",
            "Filter by custom field 4.",
            "Filter by custom field 5.",
            "Filter by custom field 6.",
            "Filter by custom field 7.",
            "Filter by custom field 8.",
            "Filter by custom field 9.",
            "Filter by custom field 10.",
            "Filter by custom field 11.",
            "Filter by custom field 12.",
            "Filter by custom field 13.",
            "Filter by custom field 14.",
            "Filter by custom field 15.",
            "Filter by custom field 16.",
            "Filter by custom field 17.",
            "Filter by custom field 18.",
            "Filter by custom field 19.",
            "Filter by custom field 20.",
            "Filter by the required education level of the job.",
            "Filter by the required experience level of the job.",
            "Filter by Admin1, which is a global placeholder for\nreferring to state, province, or the particular term a country uses to\ndefine the geographic structure below the country level.\nExamples include states codes such as \"CA\", \"IL\", \"NY\", and\nprovinces, such as \"BC\".",
            "Filter by the country code of job, such as US, JP, FR.",
            "Filter by the \"city name\", \"Admin1 code\", for example,\n\"Mountain View, CA\" or \"New York, NY\".",
            "Filter by the locale field of a job, such as \"en-US\", \"fr-FR\".\n\nThis is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).",
            "Filter by the language code portion of the locale field, such as \"en\" or\n\"fr\".",
            "Filter by the Category.",
            "Filter by the city center GPS coordinate (latitude and longitude), for\nexample, 37.4038522,-122.0987765. Since the coordinates of a city center\ncan change, clients may need to refresh them periodically.",
            "A combination of state or province code with a country code. This field\ndiffers from `JOB_ADMIN1`, which can be used in multiple countries.",
            "Deprecated. Use COMPANY_DISPLAY_NAME instead.\n\nCompany display name.",
            "Company display name.",
            "Base compensation unit."
          ]
        }
      },
      "id": "HistogramResult",
      "description": "Output only.\n\nResult of a histogram call. The response contains the histogram map for the\nsearch type specified by HistogramResult.field.\nThe response is a map of each filter value to the corresponding count of\njobs for that filter."
    },
    "CommuteInfo": {
      "description": "Output only.\n\nCommute details related to this job.",
      "type": "object",
      "properties": {
        "travelDuration": {
          "type": "string",
          "description": "The number of seconds required to travel to the job location from the query\nlocation. A duration of 0 seconds indicates that the job is not\nreachable within the requested duration, but was returned as part of an\nexpanded query.",
          "format": "google-duration"
        },
        "jobLocation": {
          "$ref": "JobLocation",
          "description": "Location used as the destination in the commute calculation."
        }
      },
      "id": "CommuteInfo"
    },
    "CompensationHistogramRequest": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED",
            "BASE",
            "ANNUALIZED_BASE",
            "ANNUALIZED_TOTAL"
          ],
          "description": "Required. Type of the request, representing which field the histogramming should be\nperformed over. A single request can only specify one histogram of each\n`CompensationHistogramRequestType`.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Invalid.",
            "Histogram by job's base compensation. See CompensationEntry for\ndefinition of base compensation.",
            "Histogram by job's annualized base compensation. See CompensationEntry\nfor definition of annualized base compensation.",
            "Histogram by job's annualized total compensation. See CompensationEntry\nfor definition of annualized total compensation."
          ]
        },
        "bucketingOption": {
          "$ref": "NumericBucketingOption",
          "description": "Required. Numeric histogram options, like buckets, whether include min or max value."
        }
      },
      "id": "CompensationHistogramRequest",
      "description": "Input only.\n\nCompensation based histogram request."
    },
    "UpdateJobRequest": {
      "id": "UpdateJobRequest",
      "description": "Input only.\n\nUpdate job request.",
      "type": "object",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "Required. The Job to be updated."
        },
        "disableStreetAddressResolution": {
          "description": "Deprecated. Please use processing_options. This flag is ignored if\nprocessing_options is set.\n\nOptional.\n\nIf set to `true`, the service does not attempt resolve a more precise\naddress for the job.",
          "type": "boolean"
        },
        "processingOptions": {
          "$ref": "JobProcessingOptions",
          "description": "Optional. Options for job processing.\n\nUpdateJobRequest.disable_street_address_resolution is ignored if this\nflag is set."
        },
        "updateJobFields": {
          "type": "string",
          "description": "Optional but strongly recommended to be provided for the best service\nexperience.\n\nIf update_job_fields is provided, only the specified fields in\njob are updated. Otherwise all the fields are updated.\n\nA field mask to restrict the fields that are updated. Valid values are:\n\n* jobTitle\n* employmentTypes\n* description\n* applicationUrls\n* applicationEmailList\n* applicationInstruction\n* responsibilities\n* qualifications\n* educationLevels\n* level\n* department\n* startDate\n* endDate\n* compensationInfo\n* incentives\n* languageCode\n* benefits\n* expireTime\n* customAttributes\n* visibility\n* publishDate\n* promotionValue\n* locations\n* region\n* expiryDate (deprecated)\n* filterableCustomFields (deprecated)\n* unindexedCustomFields (deprecated)",
          "format": "google-fieldmask"
        }
      }
    },
    "BucketRange": {
      "description": "Represents starting and ending value of a range in double.",
      "type": "object",
      "properties": {
        "to": {
          "description": "Ending value of the bucket range.",
          "format": "double",
          "type": "number"
        },
        "from": {
          "description": "Starting value of the bucket range.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "BucketRange"
    },
    "CompensationEntry": {
      "id": "CompensationEntry",
      "description": "A compensation entry that represents one component of compensation, such\nas base pay, bonus, or other compensation type.\n\nAnnualization: One compensation entry can be annualized if\n- it contains valid amount or range.\n- and its expected_units_per_year is set or can be derived.\nIts annualized range is determined as (amount or range) times\nexpected_units_per_year.",
      "type": "object",
      "properties": {
        "unit": {
          "enum": [
            "COMPENSATION_UNIT_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY",
            "ONE_TIME",
            "OTHER_COMPENSATION_UNIT"
          ],
          "description": "Optional. Frequency of the specified amount.\n\nDefault is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ]
        },
        "amount": {
          "$ref": "Money",
          "description": "Optional. Compensation amount."
        },
        "type": {
          "description": "Required. Compensation type.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_TYPE.",
            "Base compensation: Refers to the fixed amount of money paid to an\nemployee by an employer in return for work performed. Base compensation\ndoes not include benefits, bonuses or any other potential compensation\nfrom an employer.",
            "Bonus.",
            "Signing bonus.",
            "Equity.",
            "Profit sharing.",
            "Commission.",
            "Tips.",
            "Other compensation type."
          ],
          "enum": [
            "COMPENSATION_TYPE_UNSPECIFIED",
            "BASE",
            "BONUS",
            "SIGNING_BONUS",
            "EQUITY",
            "PROFIT_SHARING",
            "COMMISSIONS",
            "TIPS",
            "OTHER_COMPENSATION_TYPE"
          ]
        },
        "range": {
          "description": "Optional. Compensation range.",
          "$ref": "CompensationRange"
        },
        "expectedUnitsPerYear": {
          "description": "Optional. Expected number of units paid each year. If not specified, when\nJob.employment_types is FULLTIME, a default value is inferred\nbased on unit. Default values:\n- HOURLY: 2080\n- DAILY: 260\n- WEEKLY: 52\n- MONTHLY: 12\n- ANNUAL: 1",
          "format": "double",
          "type": "number"
        },
        "description": {
          "description": "Optional. Compensation description.  For example, could\nindicate equity terms or provide additional context to an estimated\nbonus.",
          "type": "string"
        }
      }
    },
    "CustomAttribute": {
      "type": "object",
      "properties": {
        "filterable": {
          "description": "Optional. If the `filterable` flag is true, custom field values are searchable.\nIf false, values are not searchable.\n\nDefault is false.",
          "type": "boolean"
        },
        "longValue": {
          "description": "Optional but at least one of string_values or long_value must\nbe specified.\n\nThis field is used to perform number range search.\n(`EQ`, `GT`, `GE`, `LE`, `LT`) over filterable `long_value`. For\n`long_value`, a value between Long.MIN and Long.MAX is allowed.",
          "format": "int64",
          "type": "string"
        },
        "stringValues": {
          "description": "Optional but at least one of string_values or long_value must\nbe specified.\n\nThis field is used to perform a string match (`CASE_SENSITIVE_MATCH` or\n`CASE_INSENSITIVE_MATCH`) search.\nFor filterable `string_values`, a maximum total number of 200 values\nis allowed, with each `string_value` has a byte size of no more than\n255B. For unfilterable `string_values`, the maximum total byte size of\nunfilterable `string_values` is 50KB.\n\nEmpty strings are not allowed.",
          "$ref": "StringValues"
        }
      },
      "id": "CustomAttribute",
      "description": "Custom attribute values that are either filterable or non-filterable."
    },
    "JobQuery": {
      "type": "object",
      "properties": {
        "languageCodes": {
          "description": "Optional. This filter specifies the locale of jobs to search against,\nfor example, \"en-US\".\n\nIf a value isn't specified, the search results can contain jobs in any\nlocale.\n\n\nLanguage codes should be in BCP-47 format, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).\n\nAt most 10 language code filters are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "commuteFilter": {
          "$ref": "CommutePreference",
          "description": "Optional. Allows filtering jobs by commute time with different travel methods (for\n example, driving or public transit). Note: This only works with COMMUTE\n MODE. When specified, [JobQuery.location_filters] is\n ignored.\n\n Currently we don't support sorting by commute time."
        },
        "query": {
          "type": "string",
          "description": "Optional. The query string that matches against the job title, description, and\nlocation fields.\n\nThe maximum query size is 255 bytes."
        },
        "compensationFilter": {
          "$ref": "CompensationFilter",
          "description": "Optional. This search filter is applied only to\nJob.compensation_info. For example, if the filter is specified\nas \"Hourly job with per-hour compensation \u003e $15\", only jobs meeting\nthese criteria are searched. If a filter isn't defined, all open jobs\nare searched."
        },
        "companyDisplayNames": {
          "description": "Optional. This filter specifies the exact company display\nname of the jobs to search against.\n\nIf a value isn't specified, jobs within the search results are\nassociated with any company.\n\nIf multiple values are specified, jobs within the search results may be\nassociated with any of the specified companies.\n\nAt most 20 company display name filters are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disableSpellCheck": {
          "description": "Optional. This flag controls the spell-check feature. If false, the\nservice attempts to correct a misspelled query,\nfor example, \"enginee\" is corrected to \"engineer\".\n\nDefaults to false: a spell check is performed.",
          "type": "boolean"
        },
        "companyNames": {
          "description": "Optional. This filter specifies the company entities to search against.\n\nIf a value isn't specified, jobs are searched for against all\ncompanies.\n\nIf multiple values are specified, jobs are searched against the\ncompanies specified.\n\nAt most 20 company filters are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "employmentTypes": {
          "enumDescriptions": [
            "The default value if the employment type is not specified.",
            "The job requires working a number of hours that constitute full\ntime employment, typically 40 or more hours per week.",
            "The job entails working fewer hours than a full time job,\ntypically less than 40 hours a week.",
            "The job is offered as a contracted, as opposed to a salaried employee,\nposition.",
            "The job is offered as a temporary employment opportunity, usually\na short-term engagement.",
            "The job is a fixed-term opportunity for students or entry-level job seekers\nto obtain on-the-job training, typically offered as a summer position.",
            "The is an opportunity for an individual to volunteer, where there is no\nexpectation of compensation for the provided services.",
            "The job requires an employee to work on an as-needed basis with a\nflexible schedule.",
            "The job is offered as a contracted position with the understanding\nthat it is converted into a full-time position at the end of the\ncontract. Jobs of this type are also returned by a search for\nEmploymentType.CONTRACTOR jobs.",
            "The job involves employing people in remote areas and flying them\ntemporarily to the work site instead of relocating employees and their\nfamilies permanently.",
            "The job does not fit any of the other listed types."
          ],
          "description": "Optional. The employment type filter specifies the employment type of jobs to\nsearch against, such as EmploymentType.FULL_TIME.\n\nIf a value is not specified, jobs in the search results include any\nemployment type.\n\nIf multiple values are specified, jobs in the search results include\nany of the specified employment types.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "EMPLOYMENT_TYPE_UNSPECIFIED",
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "TEMPORARY",
              "INTERN",
              "VOLUNTEER",
              "PER_DIEM",
              "CONTRACT_TO_HIRE",
              "FLY_IN_FLY_OUT",
              "OTHER"
            ]
          }
        },
        "categories": {
          "description": "Optional. The category filter specifies the categories of jobs to search against.\nSee Category for more information.\n\nIf a value is not specified, jobs from any category are searched against.\n\nIf multiple values are specified, jobs from any of the specified\ncategories are searched against.",
          "type": "array",
          "items": {
            "enum": [
              "JOB_CATEGORY_UNSPECIFIED",
              "ACCOUNTING_AND_FINANCE",
              "ADMINISTRATIVE_AND_OFFICE",
              "ADVERTISING_AND_MARKETING",
              "ANIMAL_CARE",
              "ART_FASHION_AND_DESIGN",
              "BUSINESS_OPERATIONS",
              "CLEANING_AND_FACILITIES",
              "COMPUTER_AND_IT",
              "CONSTRUCTION",
              "CUSTOMER_SERVICE",
              "EDUCATION",
              "ENTERTAINMENT_AND_TRAVEL",
              "FARMING_AND_OUTDOORS",
              "HEALTHCARE",
              "HUMAN_RESOURCES",
              "INSTALLATION_MAINTENANCE_AND_REPAIR",
              "LEGAL",
              "MANAGEMENT",
              "MANUFACTURING_AND_WAREHOUSE",
              "MEDIA_COMMUNICATIONS_AND_WRITING",
              "OIL_GAS_AND_MINING",
              "PERSONAL_CARE_AND_SERVICES",
              "PROTECTIVE_SERVICES",
              "REAL_ESTATE",
              "RESTAURANT_AND_HOSPITALITY",
              "SALES_AND_RETAIL",
              "SCIENCE_AND_ENGINEERING",
              "SOCIAL_SERVICES_AND_NON_PROFIT",
              "SPORTS_FITNESS_AND_RECREATION",
              "TRANSPORTATION_AND_LOGISTICS"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "The default value if the category is not specified.",
            "An accounting and finance job, such as an Accountant.",
            "And administrative and office job, such as an Administrative Assistant.",
            "An advertising and marketing job, such as Marketing Manager.",
            "An animal care job, such as Veterinarian.",
            "An art, fashion, or design job, such as Designer.",
            "A business operations job, such as Business Operations Manager.",
            "A cleaning and facilities job, such as Custodial Staff.",
            "A computer and IT job, such as Systems Administrator.",
            "A construction job, such as General Laborer.",
            "A customer service job, such s Cashier.",
            "An education job, such as School Teacher.",
            "An entertainment and travel job, such as Flight Attendant.",
            "A farming or outdoor job, such as Park Ranger.",
            "A healthcare job, such as Registered Nurse.",
            "A human resources job, such as Human Resources Director.",
            "An installation, maintenance, or repair job, such as Electrician.",
            "A legal job, such as Law Clerk.",
            "A management job, often used in conjunction with another category,\nsuch as Store Manager.",
            "A manufacturing or warehouse job, such as Assembly Technician.",
            "A media, communications, or writing job, such as Media Relations.",
            "An oil, gas or mining job, such as Offshore Driller.",
            "A personal care and services job, such as Hair Stylist.",
            "A protective services job, such as Security Guard.",
            "A real estate job, such as Buyer's Agent.",
            "A restaurant and hospitality job, such as Restaurant Server.",
            "A sales and/or retail job, such Sales Associate.",
            "A science and engineering job, such as Lab Technician.",
            "A social services or non-profit job, such as Case Worker.",
            "A sports, fitness, or recreation job, such as Personal Trainer.",
            "A transportation or logistics job, such as Truck Driver."
          ]
        },
        "customAttributeFilter": {
          "description": "Optional. This filter specifies a structured syntax to match against the\nJob.custom_attributes marked as `filterable`.\n\nThe syntax for this expression is a subset of Google SQL syntax.\n\nSupported operators are: =, !=, \u003c, \u003c=, \u003e, \u003e= where the left of the operator\nis a custom field key and the right of the operator is a number or string\n(surrounded by quotes) value.\n\nSupported functions are LOWER(\u003cfield_name\u003e) to\nperform case insensitive match and EMPTY(\u003cfield_name\u003e) to filter on the\nexistence of a key.\n\nBoolean expressions (AND/OR/NOT) are supported up to 3 levels of\nnesting (for example, \"((A AND B AND C) OR NOT D) AND E\"), a maximum of 50\ncomparisons/functions are allowed in the expression. The expression\nmust be \u003c 2000 characters in length.\n\nSample Query:\n(key1 = \"TEST\" OR LOWER(key1)=\"test\" OR NOT EMPTY(key1)) AND key2 \u003e 100",
          "type": "string"
        },
        "locationFilters": {
          "description": "Optional. The location filter specifies geo-regions containing the jobs to\nsearch against. See LocationFilter for more information.\n\nIf a location value isn't specified, jobs fitting the other search\ncriteria are retrieved regardless of where they're located.\n\nIf multiple values are specified, jobs are retrieved from any of the\nspecified locations. If different values are specified for the\nLocationFilter.distance_in_miles parameter, the maximum provided\ndistance is used for all locations.\n\nAt most 5 location filters are allowed.",
          "type": "array",
          "items": {
            "$ref": "LocationFilter"
          }
        },
        "publishDateRange": {
          "enumDescriptions": [
            "Default value: Filtering on time is not performed.",
            "The past 24 hours",
            "The past week (7 days)",
            "The past month (30 days)",
            "The past year (365 days)",
            "The past 3 days"
          ],
          "enum": [
            "DATE_RANGE_UNSPECIFIED",
            "PAST_24_HOURS",
            "PAST_WEEK",
            "PAST_MONTH",
            "PAST_YEAR",
            "PAST_3_DAYS"
          ],
          "description": "Optional. Jobs published within a range specified by this filter are searched\nagainst, for example, DateRange.PAST_MONTH. If a value isn't\nspecified, all open jobs are searched against regardless of their\npublished date.",
          "type": "string"
        }
      },
      "id": "JobQuery",
      "description": "Input only.\n\nThe query required to perform a search query or histogram."
    },
    "ListJobsResponse": {
      "description": "Output only.\n\nList jobs response.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Additional information for the API invocation, such as the request\ntracking id.",
          "$ref": "ResponseMetadata"
        },
        "jobs": {
          "description": "The Jobs for a given company.\n\nThe maximum number of items returned is based on the limit field\nprovided in the request.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListJobsResponse"
    },
    "CompensationFilter": {
      "type": "object",
      "properties": {
        "range": {
          "$ref": "CompensationRange",
          "description": "Optional. Compensation range."
        },
        "type": {
          "description": "Required. Type of filter.",
          "type": "string",
          "enumDescriptions": [
            "Filter type unspecified. Position holder, INVALID, should never be used.",
            "Filter by `base compensation entry's` unit. A job is a match if and\nonly if the job contains a base CompensationEntry and the base\nCompensationEntry's unit matches provided units.\nPopulate one or more units.\n\nSee CompensationInfo.CompensationEntry for definition of\nbase compensation entry.",
            "Filter by `base compensation entry's` unit and amount / range. A job\nis a match if and only if the job contains a base CompensationEntry, and\nthe base entry's unit matches provided compensation_units and amount\nor range overlaps with provided compensation_range.\n\nSee CompensationInfo.CompensationEntry for definition of\nbase compensation entry.\n\nSet exactly one units and populate range.",
            "Filter by annualized base compensation amount and `base compensation\nentry's` unit. Populate range and zero or more units.",
            "Filter by annualized total compensation amount and `base compensation\nentry's` unit . Populate range and zero or more units."
          ],
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "UNIT_ONLY",
            "UNIT_AND_AMOUNT",
            "ANNUALIZED_BASE_AMOUNT",
            "ANNUALIZED_TOTAL_AMOUNT"
          ]
        },
        "units": {
          "description": "Required. Specify desired `base compensation entry's`\nCompensationInfo.CompensationUnit.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "COMPENSATION_UNIT_UNSPECIFIED",
              "HOURLY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY",
              "ONE_TIME",
              "OTHER_COMPENSATION_UNIT"
            ]
          },
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ]
        },
        "includeJobsWithUnspecifiedCompensationRange": {
          "description": "Optional. Whether to include jobs whose compensation range is unspecified.",
          "type": "boolean"
        }
      },
      "id": "CompensationFilter",
      "description": "Input only.\n\nFilter on job compensation type and amount."
    },
    "HistogramFacets": {
      "description": "Input only.\n\nHistogram facets to be specified in SearchJobsRequest.",
      "type": "object",
      "properties": {
        "compensationHistogramFacets": {
          "description": "Optional. Specifies compensation field-based histogram requests.\nDuplicate values of CompensationHistogramRequest.type are not allowed.",
          "type": "array",
          "items": {
            "$ref": "CompensationHistogramRequest"
          }
        },
        "simpleHistogramFacets": {
          "type": "array",
          "items": {
            "enum": [
              "JOB_FIELD_UNSPECIFIED",
              "COMPANY_ID",
              "EMPLOYMENT_TYPE",
              "COMPANY_SIZE",
              "DATE_PUBLISHED",
              "CUSTOM_FIELD_1",
              "CUSTOM_FIELD_2",
              "CUSTOM_FIELD_3",
              "CUSTOM_FIELD_4",
              "CUSTOM_FIELD_5",
              "CUSTOM_FIELD_6",
              "CUSTOM_FIELD_7",
              "CUSTOM_FIELD_8",
              "CUSTOM_FIELD_9",
              "CUSTOM_FIELD_10",
              "CUSTOM_FIELD_11",
              "CUSTOM_FIELD_12",
              "CUSTOM_FIELD_13",
              "CUSTOM_FIELD_14",
              "CUSTOM_FIELD_15",
              "CUSTOM_FIELD_16",
              "CUSTOM_FIELD_17",
              "CUSTOM_FIELD_18",
              "CUSTOM_FIELD_19",
              "CUSTOM_FIELD_20",
              "EDUCATION_LEVEL",
              "EXPERIENCE_LEVEL",
              "ADMIN1",
              "COUNTRY",
              "CITY",
              "LOCALE",
              "LANGUAGE",
              "CATEGORY",
              "CITY_COORDINATE",
              "ADMIN1_COUNTRY",
              "COMPANY_TITLE",
              "COMPANY_DISPLAY_NAME",
              "BASE_COMPENSATION_UNIT"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "The default value if search type is not specified.",
            "Filter by the company id field.",
            "Filter by the employment type field, such as `FULL_TIME` or `PART_TIME`.",
            "Filter by the company size type field, such as `BIG`, `SMALL` or `BIGGER`.",
            "Filter by the date published field. Values are stringified\nwith TimeRange, for example, TimeRange.PAST_MONTH.",
            "Filter by custom field 1.",
            "Filter by custom field 2.",
            "Filter by custom field 3.",
            "Filter by custom field 4.",
            "Filter by custom field 5.",
            "Filter by custom field 6.",
            "Filter by custom field 7.",
            "Filter by custom field 8.",
            "Filter by custom field 9.",
            "Filter by custom field 10.",
            "Filter by custom field 11.",
            "Filter by custom field 12.",
            "Filter by custom field 13.",
            "Filter by custom field 14.",
            "Filter by custom field 15.",
            "Filter by custom field 16.",
            "Filter by custom field 17.",
            "Filter by custom field 18.",
            "Filter by custom field 19.",
            "Filter by custom field 20.",
            "Filter by the required education level of the job.",
            "Filter by the required experience level of the job.",
            "Filter by Admin1, which is a global placeholder for\nreferring to state, province, or the particular term a country uses to\ndefine the geographic structure below the country level.\nExamples include states codes such as \"CA\", \"IL\", \"NY\", and\nprovinces, such as \"BC\".",
            "Filter by the country code of job, such as US, JP, FR.",
            "Filter by the \"city name\", \"Admin1 code\", for example,\n\"Mountain View, CA\" or \"New York, NY\".",
            "Filter by the locale field of a job, such as \"en-US\", \"fr-FR\".\n\nThis is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).",
            "Filter by the language code portion of the locale field, such as \"en\" or\n\"fr\".",
            "Filter by the Category.",
            "Filter by the city center GPS coordinate (latitude and longitude), for\nexample, 37.4038522,-122.0987765. Since the coordinates of a city center\ncan change, clients may need to refresh them periodically.",
            "A combination of state or province code with a country code. This field\ndiffers from `JOB_ADMIN1`, which can be used in multiple countries.",
            "Deprecated. Use COMPANY_DISPLAY_NAME instead.\n\nCompany display name.",
            "Company display name.",
            "Base compensation unit."
          ],
          "description": "Optional. Specifies the simple type of histogram facets, for example,\n`COMPANY_SIZE`, `EMPLOYMENT_TYPE` etc. This field is equivalent to\nGetHistogramRequest."
        },
        "customAttributeHistogramFacets": {
          "description": "Optional. Specifies the custom attributes histogram requests.\nDuplicate values of CustomAttributeHistogramRequest.key are not\nallowed.",
          "type": "array",
          "items": {
            "$ref": "CustomAttributeHistogramRequest"
          }
        }
      },
      "id": "HistogramFacets"
    },
    "SearchJobsResponse": {
      "description": "Output only.\n\nResponse for SearchJob method.",
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The precise result count, which is available only if the client set\nenable_precise_result_size to `true` or if the response\nis the last page of results. Otherwise, the value will be `-1`.",
          "format": "int64",
          "type": "string"
        },
        "histogramResults": {
          "$ref": "HistogramResults",
          "description": "The histogram results that match specified\nSearchJobsRequest.HistogramFacets."
        },
        "metadata": {
          "description": "Additional information for the API invocation, such as the request\ntracking id.",
          "$ref": "ResponseMetadata"
        },
        "spellResult": {
          "description": "The spell checking result, and correction.",
          "$ref": "SpellingCorrection"
        },
        "matchingJobs": {
          "type": "array",
          "items": {
            "$ref": "MatchingJob"
          },
          "description": "The Job entities that match the specified SearchJobsRequest."
        },
        "appliedCommuteFilter": {
          "$ref": "CommutePreference",
          "description": "The commute filter the service applied to the specified query. This\ninformation is only available when query has a valid CommutePreference."
        },
        "numJobsFromBroadenedQuery": {
          "description": "If query broadening is enabled, we may append additional results from the\nbroadened query. This number indicates how many of the jobs returned in the\njobs field are from the broadened query. These results are always at the\nend of the jobs list. In particular, a value of 0 means all the jobs in the\njobs list are from the original (without broadening) query. If this\nfield is non-zero, subsequent requests with offset after this result set\nshould contain all broadened results.",
          "format": "int32",
          "type": "integer"
        },
        "jobView": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "A small view of the job, with the following attributes in the search\nresults: Job.name, Job.requisition_id, Job.job_title,\nJob.company_name, Job.job_locations, Job.description,\nJob.visibility.\nNote: Job.description is deprecated. It is scheduled to be removed\nfrom MatchingJob.Job objects in the SearchJobsResponse results\non 12/31/2018.",
            "A minimal view of the job, with the following attributes in the search\nresults: Job.name, Job.requisition_id, Job.job_title,\nJob.company_name, Job.job_locations.",
            "All available attributes are included in the search results.\nNote: [Job.description, Job.responsibilities,\nJob.qualifications and Job.incentives are deprecated.\nThese fields are scheduled to be removed from MatchingJob.Job objects\nin the SearchJobsResponse results on 12/31/2018.\nSee the alternative MatchingJob.search_text_snippet and\nMatchingJob.job_summary fields."
          ],
          "enum": [
            "JOB_VIEW_UNSPECIFIED",
            "SMALL",
            "MINIMAL",
            "FULL"
          ],
          "description": "Corresponds to SearchJobsRequest.job_view."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that specifies the starting position of the next page of results.\nThis field is empty if there are no more results."
        },
        "appliedJobLocationFilters": {
          "type": "array",
          "items": {
            "$ref": "JobLocation"
          },
          "description": "The location filters that the service applied to the specified query. If\nany filters are lat-lng based, the JobLocation.location_type is\nJobLocation.LocationType#LOCATION_TYPE_UNSPECIFIED."
        },
        "estimatedTotalSize": {
          "description": "An estimation of the number of jobs that match the specified query.\n\nThis number is not guaranteed to be accurate. For accurate results,\nseenenable_precise_result_size.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "SearchJobsResponse"
    },
    "Job": {
      "description": "A Job resource represents a job posting (also referred to as a \"job listing\"\nor \"job requisition\"). A job belongs to a Company, which is the hiring\nentity responsible for the job.",
      "type": "object",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "Optional. The start date of the job in UTC time zone. Typically this field\nis used for contracting engagements.\nDates prior to 1970/1/1 and invalid date formats are ignored."
        },
        "createTime": {
          "description": "Output only. The timestamp when this job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "level": {
          "enumDescriptions": [
            "The default value if the level is not specified.",
            "Entry-level individual contributors, typically with less than 2 years of\nexperience in a similar role. Includes interns.",
            "Experienced individual contributors, typically with 2+ years of\nexperience in a similar role.",
            "Entry- to mid-level managers responsible for managing a team of people.",
            "Senior-level managers responsible for managing teams of managers.",
            "Executive-level managers and above, including C-level positions."
          ],
          "enum": [
            "JOB_LEVEL_UNSPECIFIED",
            "ENTRY_LEVEL",
            "EXPERIENCED",
            "MANAGER",
            "DIRECTOR",
            "EXECUTIVE"
          ],
          "description": "Optional. The experience level associated with the job, such as \"Entry Level\".",
          "type": "string"
        },
        "applicationInstruction": {
          "type": "string",
          "description": "Optional but at least one of application_urls,\napplication_email_list or application_instruction must be\nspecified.\n\nUse this field to provide instructions, such as \"Mail your application\nto ...\", that a candidate can follow to apply for the job.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 3,000."
        },
        "benefits": {
          "enumDescriptions": [
            "Default value if the type is not specified.",
            "The job includes access to programs that support child care, such\nas daycare.",
            "The job includes dental services that are covered by a dental\ninsurance plan.",
            "The job offers specific benefits to domestic partners.",
            "The job allows for a flexible work schedule.",
            "The job includes health services that are covered by a medical\ninsurance plan.",
            "The job includes a life insurance plan provided by the employer or\navailable for purchase by the employee.",
            "The job allows for a leave of absence to a parent to care for a newborn\nchild.",
            "The job includes a workplace retirement plan provided by the\nemployer or available for purchase by the employee.",
            "The job allows for paid time off due to illness.",
            "Deprecated. Set Region.TELECOMMUTE instead.\n\nThe job allows telecommuting (working remotely).",
            "The job includes paid time off for vacation.",
            "The job includes vision services that are covered by a vision\ninsurance plan."
          ],
          "description": "Optional. The benefits included with the job.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "JOB_BENEFIT_TYPE_UNSPECIFIED",
              "CHILD_CARE",
              "DENTAL",
              "DOMESTIC_PARTNER",
              "FLEXIBLE_HOURS",
              "MEDICAL",
              "LIFE_INSURANCE",
              "PARENTAL_LEAVE",
              "RETIREMENT_PLAN",
              "SICK_DAYS",
              "TELECOMMUTE",
              "VACATION",
              "VISION"
            ]
          }
        },
        "employmentTypes": {
          "description": "Optional. The employment type(s) of a job, for example,\nfull time or\npart time.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "EMPLOYMENT_TYPE_UNSPECIFIED",
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "TEMPORARY",
              "INTERN",
              "VOLUNTEER",
              "PER_DIEM",
              "CONTRACT_TO_HIRE",
              "FLY_IN_FLY_OUT",
              "OTHER"
            ]
          },
          "enumDescriptions": [
            "The default value if the employment type is not specified.",
            "The job requires working a number of hours that constitute full\ntime employment, typically 40 or more hours per week.",
            "The job entails working fewer hours than a full time job,\ntypically less than 40 hours a week.",
            "The job is offered as a contracted, as opposed to a salaried employee,\nposition.",
            "The job is offered as a temporary employment opportunity, usually\na short-term engagement.",
            "The job is a fixed-term opportunity for students or entry-level job seekers\nto obtain on-the-job training, typically offered as a summer position.",
            "The is an opportunity for an individual to volunteer, where there is no\nexpectation of compensation for the provided services.",
            "The job requires an employee to work on an as-needed basis with a\nflexible schedule.",
            "The job is offered as a contracted position with the understanding\nthat it is converted into a full-time position at the end of the\ncontract. Jobs of this type are also returned by a search for\nEmploymentType.CONTRACTOR jobs.",
            "The job involves employing people in remote areas and flying them\ntemporarily to the work site instead of relocating employees and their\nfamilies permanently.",
            "The job does not fit any of the other listed types."
          ]
        },
        "incentives": {
          "description": "Optional. A description of bonus, commission, and other compensation\nincentives associated with the job not including salary or pay.\n\nThe maximum number of allowed characters is 10,000.",
          "type": "string"
        },
        "locations": {
          "description": "Optional but strongly recommended for the best service experience.\n\nLocation(s) where the emploeyer is looking to hire for this job posting.\n\nSpecifying the full street address(es) of the hiring location enables\nbetter API results, especially job searches by commute time.\n\nAt most 50 locations are allowed for best search performance. If a job has\nmore locations, it is suggested to split it into multiple jobs with unique\nrequisition_ids (e.g. 'ReqA' becomes 'ReqA-1', 'ReqA-2', etc.) as\nmultiple jobs with the same requisition_id, company_name and\nlanguage_code are not allowed. If the original requisition_id must\nbe preserved, a custom field should be used for storage. It is also\nsuggested to group the locations that close to each other in the same job\nfor better search experience.\n\nThe maximum number of allowed characters is 500.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "extendedCompensationInfo": {
          "$ref": "ExtendedCompensationInfo",
          "description": "Deprecated. Always use compensation_info.\n\nOptional.\n\nJob compensation information.\n\nThis field replaces compensation_info. Only\nCompensationInfo.entries or extended_compensation_info can be set,\notherwise an exception is thrown."
        },
        "companyName": {
          "description": "Optional but one of company_name or distributor_company_id must be\nprovided.\n\nThe resource name of the company listing the job, such as\n/companies/foo. This field takes precedence over the\ndistributor-assigned company identifier, distributor_company_id.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the job, which typically includes a multi-paragraph\ndescription of the company and related information. Separate fields are\nprovided on the job object for responsibilities,\nqualifications, and other job characteristics. Use of\nthese separate job fields is recommended.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 100,000."
        },
        "applicationEmailList": {
          "description": "Optional but at least one of application_urls,\napplication_email_list or application_instruction must be\nspecified.\n\nUse this field to specify email address(es) to which resumes or\napplications can be sent.\n\nThe maximum number of allowed characters is 255.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jobTitle": {
          "description": "Required. The title of the job, such as \"Software Engineer\"\n\nThe maximum number of allowed characters is 500.",
          "type": "string"
        },
        "region": {
          "enum": [
            "REGION_UNSPECIFIED",
            "STATE_WIDE",
            "NATION_WIDE",
            "TELECOMMUTE"
          ],
          "description": "Optional. The job Region (for example, state, country) throughout which the job\nis available. If this field is set, a\nLocationFilter in a search query within the job region\nfinds this job if an exact location match is not specified.\nIf this field is set, setting job locations\nto the same location level as this field is strongly recommended.",
          "type": "string",
          "enumDescriptions": [
            "If the region is unspecified, the job is only returned if it\nmatches the LocationFilter.",
            "In additiona to exact location matching, job is returned when the\nLocationFilter in search query is in the same state as this job.\nFor example, if a `STATE_WIDE` job is posted in \"CA, USA\", it is\nreturned if LocationFilter has \"Mountain View\".",
            "In addition to exact location matching, job is returned when\nLocationFilter in search query is in the same country as this job.\nFor example, if a `NATION_WIDE` job is posted in \"USA\", it is\nreturned if LocationFilter has 'Mountain View'.",
            "Job allows employees to work remotely (telecommute).\nIf locations are provided with this value, the job is\nconsidered as having a location, but telecommuting is allowed."
          ]
        },
        "referenceUrl": {
          "type": "string",
          "description": "Output only. The URL of a web page that displays job details."
        },
        "companyTitle": {
          "type": "string",
          "description": "Deprecated. Use company_display_name instead.\n\nOutput only.\n\nThe name of the company listing the job."
        },
        "compensationInfo": {
          "$ref": "CompensationInfo",
          "description": "Optional. Job compensation information."
        },
        "responsibilities": {
          "type": "string",
          "description": "Optional. A description of job responsibilities. The use of this field is\nrecommended as an alternative to using the more general description\nfield.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 10,000."
        },
        "expireTime": {
          "description": "Optional but strongly recommended for the best service\nexperience.\n\nThe expiration timestamp of the job. After this timestamp, the\njob is marked as expired, and it no longer appears in search results. The\nexpired job can't be deleted or listed by the DeleteJob and\nListJobs APIs, but it can be retrieved with the GetJob API or\nupdated with the UpdateJob API. An expired job can be updated and\nopened again by using a future expiration timestamp. Updating an expired\njob fails if there is another existing open job with same\nrequisition_id, company_name and language_code.\n\nThe expired jobs are retained in our system for 90 days. However, the\noverall expired job count cannot exceed 3 times the maximum of open jobs\ncount over the past week, otherwise jobs with earlier expire time are\ncleaned first. Expired jobs are no longer accessible after they are cleaned\nout.\nThe format of this field is RFC 3339 date strings. Example:\n2000-01-01T00:00:00.999999999Z\nSee\n[https://www.ietf.org/rfc/rfc3339.txt](https://www.ietf.org/rfc/rfc3339.txt).\n\nA valid date range is between 1970-01-01T00:00:00.0Z and\n2100-12-31T23:59:59.999Z. Invalid dates are ignored and treated as expire\ntime not provided.\n\nIf this value is not provided at the time of job creation or is invalid,\nthe job posting expires after 30 days from the job's creation time. For\nexample, if the job was created on 2017/01/01 13:00AM UTC with an\nunspecified expiration date, the job expires after 2017/01/31 13:00AM UTC.\n\nIf this value is not provided but expiry_date is, expiry_date is\nused.\n\nIf this value is not provided on job update, it depends on the field masks\nset by UpdateJobRequest.update_job_fields. If the field masks include\nexpiry_time, or the masks are empty meaning that every field is\nupdated, the job posting expires after 30 days from the job's last\nupdate time. Otherwise the expiration date isn't updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when this job was last updated.",
          "format": "google-datetime"
        },
        "department": {
          "description": "Optional. The department or functional area within the company with the open\nposition.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "jobLocations": {
          "description": "Output only. Structured locations of the job, resolved from locations.",
          "type": "array",
          "items": {
            "$ref": "JobLocation"
          }
        },
        "unindexedCustomFields": {
          "additionalProperties": {
            "$ref": "CustomField"
          },
          "description": "Deprecated. Use custom_attributes instead.\n\nOptional.\n\nA map of fields to hold non-filterable custom job attributes, similar to\nfilterable_custom_fields. These fields are distinct in that the data\nin these fields are not indexed. Therefore, the client cannot search\nagainst them, nor can the client use them to list jobs.\n\nThe key of the map can be any valid string.",
          "type": "object"
        },
        "expiryDate": {
          "$ref": "Date",
          "description": "Deprecated. Use expire_time instead.\n\nOptional but strongly recommended to be provided for the best service\nexperience.\n\nThe expiration date of the job in UTC time. After 12 am on this date, the\njob is marked as expired, and it no longer appears in search results.\nThe expired job can't be deleted or listed by the DeleteJob and\nListJobs APIs, but it can be retrieved with the GetJob API or\nupdated with the UpdateJob API. An expired job can be updated and\nopened again by using a future expiration date. It can also remain expired.\nUpdating an expired job to be open fails if there is another existing open\njob with same requisition_id, company_name and language_code.\n\nThe expired jobs are retained in our system for 90 days. However, the\noverall expired job count cannot exceed 3 times the maximum of open jobs\ncount over the past week, otherwise jobs with earlier expire time are\nremoved first. Expired jobs are no longer accessible after they are cleaned\nout.\n\nA valid date range is between 1970/1/1 and 2100/12/31. Invalid dates are\nignored and treated as expiry date not provided.\n\nIf this value is not provided on job creation or is invalid, the job\nposting expires after 30 days from the job's creation time. For example, if\nthe job was created on 2017/01/01 13:00AM UTC with an unspecified\nexpiration date, the job expires after 2017/01/31 13:00AM UTC.\n\nIf this value is not provided on job update, it depends on the field masks\nset by UpdateJobRequest.update_job_fields. If the field masks include\nexpiry_date, or the masks are empty meaning that every field is\nupdated, the job expires after 30 days from the job's last update time.\nOtherwise the expiration date isn't updated."
        },
        "endDate": {
          "$ref": "Date",
          "description": "Optional. The end date of the job in UTC time zone. Typically this field\nis used for contracting engagements.\nDates prior to 1970/1/1 and invalid date formats are ignored."
        },
        "educationLevels": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "EDUCATION_LEVEL_UNSPECIFIED",
              "HIGH_SCHOOL",
              "ASSOCIATE",
              "BACHELORS",
              "MASTERS",
              "DOCTORATE",
              "NO_DEGREE_REQUIRED"
            ]
          },
          "enumDescriptions": [
            "The default value if the level is not specified.",
            "A High School diploma is required for the position.",
            "An Associate degree is required for the position.",
            "A Bachelors degree is required for the position.",
            "A Masters degree is required for the position.",
            "A Doctorate degree is required for the position.",
            "No formal education is required for the position."
          ],
          "description": "Optional. The desired education level for the job, such as\n\"Bachelors\", \"Masters\", \"Doctorate\"."
        },
        "customAttributes": {
          "additionalProperties": {
            "$ref": "CustomAttribute"
          },
          "description": "Optional. A map of fields to hold both filterable and non-filterable custom job\nattributes that are not covered by the provided structured fields.\n\nThis field is a more general combination of the deprecated id-based\nfilterable_custom_fields and string-based\nnon_filterable_custom_fields.\n\nThe keys of the map are strings up to 64 bytes and must match the\npattern: a-zA-Z*.\n\nAt most 100 filterable and at most 100 unfilterable keys are supported.\nFor filterable `string_values`, across all keys at most 200 values are\nallowed, with each string no more than 255 characters. For unfilterable\n`string_values`, the maximum total size of `string_values` across all keys\nis 50KB.",
          "type": "object"
        },
        "filterableCustomFields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CustomField"
          },
          "description": "Deprecated. Use custom_attributes instead.\n\nOptional.\n\nA map of fields to hold filterable custom job attributes not captured by\nthe standard fields such as job_title, company_name, or\nlevel. These custom fields store arbitrary\nstring values, and can be used for purposes not covered by\nthe structured fields. For the best search experience, use of the\nstructured rather than custom fields is recommended.\n\nData stored in these custom fields fields are indexed and\nsearched against by keyword searches (see\nSearchJobsRequest.custom_field_filters][]).\n\nThe map key must be a number between 1-20. If an invalid key is\nprovided on job create or update, an error is returned."
        },
        "languageCode": {
          "description": "Optional. The language of the posting. This field is distinct from\nany requirements for fluency that are associated with the job.\n\nLanguage codes must be in BCP-47 format, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47){:\nclass=\"external\" target=\"_blank\" }.\n\nIf this field is unspecified and Job.description is present, detected\nlanguage code based on Job.description is assigned, otherwise\ndefaults to 'en_US'.",
          "type": "string"
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The Job is only visible to the owner.",
            "The Job is visible to the owner and may be visible to other applications\nand processes at Google.\n\nNot yet supported. Use PRIVATE.",
            "The Job is visible to the owner and may be visible to all other API\nclients.\n\nNot yet supported. Use PRIVATE."
          ],
          "enum": [
            "JOB_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "GOOGLE",
            "PUBLIC"
          ],
          "description": "Optional. The visibility of the job.\nDefaults to JobVisibility.PRIVATE if not specified.\nCurrently only JobVisibility.PRIVATE is supported."
        },
        "name": {
          "type": "string",
          "description": "Required during job update.\n\nResource name assigned to a job by the API, for example, \"/jobs/foo\". Use\nof this field in job queries and API calls is preferred over the use of\nrequisition_id since this value is unique."
        },
        "distributorCompanyId": {
          "description": "Optional but one of company_name or distributor_company_id must be\nprovided.\n\nA unique company identifier used by job distributors to identify an\nemployer's company entity. company_name takes precedence over\nthis field, and is the recommended field to use to identify companies.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "promotionValue": {
          "type": "integer",
          "description": "Optional. A promotion value of the job, as determined by the client.\nThe value determines the sort order of the jobs returned when searching for\njobs using the featured jobs search call, with higher promotional values\nbeing returned first and ties being resolved by relevance sort. Only the\njobs with a promotionValue \u003e0 are returned in a FEATURED_JOB_SEARCH.\n\nDefault value is 0, and negative values are treated as 0.",
          "format": "int32"
        },
        "publishDate": {
          "$ref": "Date",
          "description": "Optional. The date this job was most recently published in UTC format. The default\nvalue is the time the request arrives at the server."
        },
        "applicationUrls": {
          "description": "Optional but at least one of application_urls,\napplication_email_list or application_instruction must be\nspecified.\n\nUse this URL field to direct an applicant to a website, for example to\nlink to an online application form.\n\nThe maximum number of allowed characters is 2,000.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "companyDisplayName": {
          "description": "Output only. The name of the company listing the job.",
          "type": "string"
        },
        "qualifications": {
          "description": "Optional. A description of the qualifications required to perform the\njob. The use of this field is recommended\nas an alternative to using the more general description field.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 10,000.",
          "type": "string"
        },
        "requisitionId": {
          "type": "string",
          "description": "Required. The requisition ID, also referred to as the posting ID, assigned by the\nclient to identify a job. This field is intended to be used by clients\nfor client identification and tracking of listings. A job is not allowed\nto be created if there is another job with the same requisition_id,\ncompany_name and language_code.\n\nThe maximum number of allowed characters is 255."
        }
      },
      "id": "Job"
    },
    "ExtendedCompensationFilter": {
      "description": "Deprecated. Always use CompensationFilter.\n\nInput only.\n\nFilter on job compensation type and amount.",
      "type": "object",
      "properties": {
        "compensationUnits": {
          "description": "Required. Specify desired `base compensation entry's`\nExtendedCompensationInfo.CompensationUnit.",
          "type": "array",
          "items": {
            "enum": [
              "EXTENDED_COMPENSATION_UNIT_UNSPECIFIED",
              "HOURLY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY",
              "ONE_TIME",
              "OTHER_COMPENSATION_UNIT"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ]
        },
        "type": {
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "UNIT_ONLY",
            "UNIT_AND_AMOUNT",
            "ANNUALIZED_BASE_AMOUNT",
            "ANNUALIZED_TOTAL_AMOUNT"
          ],
          "description": "Required. Type of filter.",
          "type": "string",
          "enumDescriptions": [
            "Filter type unspecified. Position holder, INVALID, should never be used.",
            "Filter by `base compensation entry's` unit. A job is a match if and\nonly if the job contains a base CompensationEntry and the base\nCompensationEntry's unit matches provided compensation_units.\nPopulate one or more compensation_units.\n\nSee ExtendedCompensationInfo.CompensationEntry for definition of\nbase compensation entry.",
            "Filter by `base compensation entry's` unit and amount / range. A job\nis a match if and only if the job contains a base CompensationEntry, and\nthe base entry's unit matches provided compensation_units and amount\nor range overlaps with provided compensation_range.\n\nSee ExtendedCompensationInfo.CompensationEntry for definition of\nbase compensation entry.\n\nSet exactly one\ncompensation_units and populate\ncompensation_range.",
            "Filter by annualized base compensation amount and `base compensation\nentry's` unit. Populate compensation_range and zero or more\ncompensation_units.",
            "Filter by annualized total compensation amount and `base compensation\nentry's` unit . Populate compensation_range and zero or more\ncompensation_units."
          ]
        },
        "currency": {
          "description": "Optional. Specify currency in 3-letter\n[ISO 4217](https://www.iso.org/iso-4217-currency-codes.html) format. If\nunspecified, jobs are returned regardless of currency.",
          "type": "string"
        },
        "compensationRange": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Optional. Compensation range."
        },
        "includeJobWithUnspecifiedCompensationRange": {
          "description": "Optional. Whether to include jobs whose compensation range is unspecified.",
          "type": "boolean"
        }
      },
      "id": "ExtendedCompensationFilter"
    },
    "ExtendedCompensationInfoCompensationRange": {
      "type": "object",
      "properties": {
        "min": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Required. Minimum value."
        },
        "max": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Required. Maximum value."
        }
      },
      "id": "ExtendedCompensationInfoCompensationRange",
      "description": "Deprecated. See CompensationInfo.\n\nCompensation range."
    },
    "Company": {
      "id": "Company",
      "description": "A Company resource represents a company in the service. A company is the\nentity that owns job listings, that is, the hiring entity responsible for\nemploying applicants for the job position.",
      "type": "object",
      "properties": {
        "hqLocation": {
          "description": "Optional. The street address of the company's main headquarters, which may be\ndifferent from the job location. The service attempts\nto geolocate the provided address, and populates a more specific\nlocation wherever possible in structured_company_hq_location.",
          "type": "string"
        },
        "companyInfoSources": {
          "description": "Optional. Identifiers external to the application that help to further identify\nthe employer.",
          "type": "array",
          "items": {
            "$ref": "CompanyInfoSource"
          }
        },
        "keywordSearchableCustomAttributes": {
          "description": "Optional. A list of keys of filterable Job.custom_attributes, whose\ncorresponding `string_values` are used in keyword search. Jobs with\n`string_values` under these specified field keys are returned if any\nof the values matches the search keyword. Custom field values with\nparenthesis, brackets and special symbols might not be properly searchable,\nand those keyword queries need to be surrounded by quotes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suspended": {
          "type": "boolean",
          "description": "Output only. Indicates whether a company is flagged to be suspended from public\navailability by the service when job content appears suspicious,\nabusive, or spammy."
        },
        "imageUrl": {
          "type": "string",
          "description": "Optional. A URL that hosts the employer's company logo. If provided,\nthe logo image should be squared at 80x80 pixels.\n\nThe url must be a Google Photos or Google Album url.\nOnly images in these Google sub-domains are accepted."
        },
        "keywordSearchableCustomFields": {
          "description": "Deprecated. Use keyword_searchable_custom_attributes instead.\n\nOptional.\n\nA list of filterable custom fields that should be used in keyword\nsearch. The jobs of this company are returned if any of these custom\nfields matches the search keyword. Custom field values with parenthesis,\nbrackets and special symbols might not be properly searchable, and those\nkeyword queries need to be surrounded by quotes.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "careerPageLink": {
          "type": "string",
          "description": "Optional. The URL to employer's career site or careers page on the employer's web\nsite."
        },
        "distributorBillingCompanyId": {
          "description": "Optional. The unique company identifier provided by the client to identify an\nemployer for billing purposes. Recommended practice is to use\nthe distributor_company_id.\n\nDefaults to same value as distributor_company_id when a value\nis not provided.",
          "type": "string"
        },
        "disableLocationOptimization": {
          "description": "Deprecated. Do not use this field.\n\nOptional.\n\nThis field is no longer used. Any value set to it is ignored.",
          "type": "boolean"
        },
        "eeoText": {
          "description": "Optional. Equal Employment Opportunity legal disclaimer text to be\nassociated with all jobs, and typically to be displayed in all\nroles.\n\nThe maximum number of allowed characters is 500.",
          "type": "string"
        },
        "companySize": {
          "enumDescriptions": [
            "Default value if the size is not specified.",
            "The company has less than 50 employees.",
            "The company has between 50 and 99 employees.",
            "The company has between 100 and 499 employees.",
            "The company has between 500 and 999 employees.",
            "The company has between 1,000 and 4,999 employees.",
            "The company has between 5,000 and 9,999 employees.",
            "The company has 10,000 or more employees."
          ],
          "enum": [
            "COMPANY_SIZE_UNSPECIFIED",
            "MINI",
            "SMALL",
            "SMEDIUM",
            "MEDIUM",
            "BIG",
            "BIGGER",
            "GIANT"
          ],
          "description": "Optional. The employer's company size.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required during company update.\n\nThe resource name for a company. This is generated by the service when a\ncompany is created, for example,\n\"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\"."
        },
        "distributorCompanyId": {
          "type": "string",
          "description": "Required. A client's company identifier, used to uniquely identify the\ncompany. If an employer has a subsidiary or sub-brand, such as \"Alphabet\"\nand \"Google\", which the client wishes to use as the company displayed on\nthe job. Best practice is to create a distinct company identifier for each\ndistinct brand displayed.\n\nThe maximum number of allowed characters is 255."
        },
        "structuredCompanyHqLocation": {
          "description": "Output only. A structured headquarters location of the company,\nresolved from hq_location if possible.",
          "$ref": "JobLocation"
        },
        "hiringAgency": {
          "description": "Optional. Set to true if it is the hiring agency that post jobs for other\nemployers.\n\nDefaults to false if not provided.",
          "type": "boolean"
        },
        "title": {
          "description": "Deprecated. Use display_name instead.\n\nRequired.\n\nThe name of the employer to be displayed with the job,\nfor example, \"Google, LLC.\".",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The name of the employer to be displayed with the job,\nfor example, \"Google, LLC.\".",
          "type": "string"
        },
        "website": {
          "description": "Optional. The URL representing the company's primary web site or home page,\nsuch as, \"www.google.com\".",
          "type": "string"
        }
      }
    },
    "CompensationRange": {
      "type": "object",
      "properties": {
        "min": {
          "$ref": "Money",
          "description": "Optional. The minimum amount of compensation. If left empty, the value is set\nto zero and the currency code is set to match the\ncurrency code of max_compensation."
        },
        "max": {
          "description": "Optional. The maximum amount of compensation. If left empty, the value is set\nto a maximal compensation value and the currency code is set to\nmatch the currency code of\nmin_compensation.",
          "$ref": "Money"
        }
      },
      "id": "CompensationRange",
      "description": "Compensation range."
    },
    "CompensationInfo": {
      "description": "Job compensation details.",
      "type": "object",
      "properties": {
        "annualizedTotalCompensationRange": {
          "$ref": "CompensationRange",
          "description": "Output only. Annualized total compensation range. Computed as\nall compensation entries' CompensationEntry.compensation times\nCompensationEntry.expected_units_per_year.\n\nSee CompensationEntry for explanation on compensation annualization."
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "CompensationEntry"
          },
          "description": "Optional. Job compensation information.\n\nAt most one entry can be of type\nCompensationInfo.CompensationType.BASE, which is\nreferred as ** base compensation entry ** for the job."
        },
        "min": {
          "$ref": "Money",
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nA lower bound on a range for compensation or pay for the job.\nThe currency type is specified in compensation_amount."
        },
        "annualizedBaseCompensationRange": {
          "$ref": "CompensationRange",
          "description": "Output only. Annualized base compensation range. Computed as\nbase compensation entry's CompensationEntry.compensation times\nCompensationEntry.expected_units_per_year.\n\nSee CompensationEntry for explanation on compensation annualization."
        },
        "amount": {
          "$ref": "Money",
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nThe amount of compensation or pay for the job.\nAs an alternative, compensation_amount_min and\ncompensation_amount_max may be used to define a range of\ncompensation."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The default value if the type is not specified.",
            "The job compensation is quoted by the number of hours worked.",
            "The job compensation is quoted on an annual basis.",
            "The job compensation is quoted by project completion.",
            "The job compensation is quoted based solely on commission.",
            "The job compensation is not quoted according to the listed compensation\noptions."
          ],
          "enum": [
            "JOB_COMPENSATION_TYPE_UNSPECIFIED",
            "HOURLY",
            "SALARY",
            "PER_PROJECT",
            "COMMISSION",
            "OTHER_TYPE"
          ],
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nType of job compensation."
        },
        "max": {
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nAn upper bound on a range for compensation or pay for the job.\nThe currency type is specified in compensation_amount.",
          "$ref": "Money"
        }
      },
      "id": "CompensationInfo"
    },
    "CustomAttributeHistogramRequest": {
      "id": "CustomAttributeHistogramRequest",
      "description": "Custom attributes histogram request. An error will be thrown if neither\nstring_value_histogram or long_value_histogram_bucketing_option has\nbeen defined.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. Specifies the custom field key to perform a histogram on. If specified\nwithout `long_value_histogram_bucketing_option`, histogram on string values\nof the given `key` is triggered, otherwise histogram is performed on long\nvalues.",
          "type": "string"
        },
        "longValueHistogramBucketingOption": {
          "$ref": "NumericBucketingOption",
          "description": "Optional. Specifies buckets used to perform a range histogram on Job's\nfilterable long custom field values, or min/max value requirements."
        },
        "stringValueHistogram": {
          "type": "boolean",
          "description": "Optional. If set to true, the response will include the histogram value for\neach key as a string."
        }
      }
    },
    "ExtendedCompensationInfoCompensationEntry": {
      "description": "Deprecated. See CompensationInfo.\n\nA compensation entry that represents one component of compensation, such\nas base pay, bonus, or other compensation type.\n\nAnnualization: One compensation entry can be annualized if\n- it contains valid amount or range.\n- and its expected_units_per_year is set or can be derived.\nIts annualized range is determined as (amount or range) times\nexpected_units_per_year.",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Optional. Compensation range."
        },
        "unspecified": {
          "description": "Optional. Indicates compensation amount and range are unset.",
          "type": "boolean"
        },
        "expectedUnitsPerYear": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Optional. Expected number of units paid each year. If not specified, when\nJob.employment_types is FULLTIME, a default value is inferred\nbased on unit. Default values:\n- HOURLY: 2080\n- DAILY: 260\n- WEEKLY: 52\n- MONTHLY: 12\n- ANNUAL: 1"
        },
        "description": {
          "description": "Optional. Compensation description.",
          "type": "string"
        },
        "unit": {
          "enum": [
            "EXTENDED_COMPENSATION_UNIT_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY",
            "ONE_TIME",
            "OTHER_COMPENSATION_UNIT"
          ],
          "description": "Optional. Frequency of the specified amount.\n\nDefault is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ]
        },
        "amount": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Optional. Monetary amount."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_TYPE.",
            "Base compensation: Refers to the fixed amount of money paid to an\nemployee by an employer in return for work performed. Base compensation\ndoes not include benefits, bonuses or any other potential compensation\nfrom an employer.",
            "Bonus.",
            "Signing bonus.",
            "Equity.",
            "Profit sharing.",
            "Commission.",
            "Tips.",
            "Other compensation type."
          ],
          "enum": [
            "EXTENDED_COMPENSATION_TYPE_UNSPECIFIED",
            "BASE",
            "BONUS",
            "SIGNING_BONUS",
            "EQUITY",
            "PROFIT_SHARING",
            "COMMISSIONS",
            "TIPS",
            "OTHER_COMPENSATION_TYPE"
          ],
          "description": "Required. Compensation type."
        }
      },
      "id": "ExtendedCompensationInfoCompensationEntry"
    },
    "CompensationHistogramResult": {
      "description": "Output only.\n\nCompensation based histogram result.",
      "type": "object",
      "properties": {
        "result": {
          "description": "Histogram result.",
          "$ref": "NumericBucketingResult"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Invalid.",
[...]
