{
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "Job": {
      "description": "A Job resource represents a job posting (also referred to as a \"job listing\"\nor \"job requisition\"). A job belongs to a Company, which is the hiring\nentity responsible for the job.",
      "type": "object",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "Optional but one of company_name or distributor_company_id must be\nprovided.\n\nThe resource name of the company listing the job, such as\n/companies/foo. This field takes precedence over the\ndistributor-assigned company identifier, distributor_company_id."
        },
        "description": {
          "description": "Required.\n\nThe description of the job, which typically includes a multi-paragraph\ndescription of the company and related information. Separate fields are\nprovided on the job object for responsibilities,\nqualifications, and other job characteristics. Use of\nthese separate job fields is recommended.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 100,000.",
          "type": "string"
        },
        "applicationEmailList": {
          "description": "Optional but at least one of application_urls,\napplication_email_list or application_instruction must be\nspecified.\n\nUse this field to specify email address(es) to which resumes or\napplications can be sent.\n\nThe maximum number of allowed characters is 255.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jobTitle": {
          "description": "Required.\n\nThe title of the job, such as \"Software Engineer\"\n\nThe maximum number of allowed characters is 500.",
          "type": "string"
        },
        "region": {
          "description": "Optional.\n\nThe job Region (for example, state, country) throughout which the job\nis available. If this field is set, a\nLocationFilter in a search query within the job region\nfinds this job if an exact location match is not specified.\nIf this field is set, setting job locations\nto the same location level as this field is strongly recommended.",
          "type": "string",
          "enumDescriptions": [
            "If the region is unspecified, the job is only returned if it\nmatches the LocationFilter.",
            "In additiona to exact location matching, job is returned when the\nLocationFilter in search query is in the same state as this job.\nFor example, if a `STATE_WIDE` job is posted in \"CA, USA\", it is\nreturned if LocationFilter has \"Mountain View\".",
            "In addition to exact location matching, job is returned when\nLocationFilter in search query is in the same country as this job.\nFor example, if a `NATION_WIDE` job is posted in \"USA\", it is\nreturned if LocationFilter has 'Mountain View'.",
            "Job allows employees to work remotely (telecommute).\nIf locations are provided with this value, the job is\nconsidered as having a location, but telecommuting is allowed."
          ],
          "enum": [
            "REGION_UNSPECIFIED",
            "STATE_WIDE",
            "NATION_WIDE",
            "TELECOMMUTE"
          ]
        },
        "referenceUrl": {
          "description": "Output only.\n\nThe URL of a web page that displays job details.",
          "type": "string"
        },
        "companyTitle": {
          "description": "Deprecated. Use company_display_name instead.\n\nOutput only.\n\nThe name of the company listing the job.",
          "type": "string"
        },
        "compensationInfo": {
          "description": "Optional.\n\nJob compensation information.",
          "$ref": "CompensationInfo"
        },
        "responsibilities": {
          "type": "string",
          "description": "Optional.\n\nA description of job responsibilities. The use of this field is\nrecommended as an alternative to using the more general description\nfield.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 10,000."
        },
        "expireTime": {
          "description": "Optional but strongly recommended for the best service\nexperience.\n\nThe expiration timestamp of the job. After this timestamp, the\njob is marked as expired, and it no longer appears in search results. The\nexpired job can't be deleted or listed by the DeleteJob and\nListJobs APIs, but it can be retrieved with the GetJob API or\nupdated with the UpdateJob API. An expired job can be updated and\nopened again by using a future expiration timestamp. Updating an expired job fails if there is another\nexisting open job with same requisition_id, company_name and\nlanguage_code.\n\nThe expired jobs are retained in our system for 90 days. However, the\noverall expired job count cannot exceed 3 times the maximum of open jobs\ncount over the past week, otherwise jobs with earlier expire time are\ncleaned first. Expired jobs are no longer accessible after they are cleaned\nout.\nThe format of this field is RFC 3339 date strings. Example:\n2000-01-01T00:00:00.999999999Z\nSee\n[https://www.ietf.org/rfc/rfc3339.txt](https://www.ietf.org/rfc/rfc3339.txt).\n\nA valid date range is between 1970-01-01T00:00:00.0Z and\n2100-12-31T23:59:59.999Z. Invalid dates are ignored and treated as expire\ntime not provided.\n\nIf this value is not provided at the time of job creation or is invalid, the job posting\nexpires after 30 days from the job's creation time. For example, if the\njob was created on 2017/01/01 13:00AM UTC with an unspecified expiration\ndate, the job expires after 2017/01/31 13:00AM UTC.\n\nIf this value is not provided but expiry_date is, expiry_date is\nused.\n\nIf this value is not provided on job update, it depends on the field masks\nset by UpdateJobRequest.update_job_fields. If the field masks include\nexpiry_time, or the masks are empty meaning that every field is\nupdated, the job posting expires after 30 days from the job's last\nupdate time. Otherwise the expiration date isn't updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only.\n\nThe timestamp when this job was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "jobLocations": {
          "description": "Output only.\n\nStructured locations of the job, resolved from locations.",
          "type": "array",
          "items": {
            "$ref": "JobLocation"
          }
        },
        "department": {
          "description": "Optional.\n\nThe department or functional area within the company with the open\nposition.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "unindexedCustomFields": {
          "additionalProperties": {
            "$ref": "CustomField"
          },
          "description": "Deprecated. Use custom_attributes instead.\n\nOptional.\n\nA map of fields to hold non-filterable custom job attributes, similar to\nfilterable_custom_fields. These fields are distinct in that the data\nin these fields are not indexed. Therefore, the client cannot search\nagainst them, nor can the client use them to list jobs.\n\nThe key of the map can be any valid string.",
          "type": "object"
        },
        "expiryDate": {
          "description": "Deprecated. Use expire_time instead.\n\nOptional but strongly recommended to be provided for the best service\nexperience.\n\nThe expiration date of the job in UTC time. After 12 am on this date, the\njob is marked as expired, and it no longer appears in search results.\nThe expired job can't be deleted or listed by the DeleteJob and\nListJobs APIs, but it can be retrieved with the GetJob API or\nupdated with the UpdateJob API. An expired job can be updated and\nopened again by using a future expiration date. It can also remain expired.\nUpdating an expired job to be open fails if there is another existing open\njob with same requisition_id, company_name and language_code.\n\nThe expired jobs are retained in our system for 90 days. However, the\noverall expired job count cannot exceed 3 times the maximum of open jobs\ncount over the past week, otherwise jobs with earlier expire time are\nremoved first. Expired jobs are no longer accessible after they are cleaned\nout.\n\nA valid date range is between 1970/1/1 and 2100/12/31. Invalid dates are\nignored and treated as expiry date not provided.\n\nIf this value is not provided on job creation or is invalid, the job\nposting expires after 30 days from the job's creation time. For example, if\nthe job was created on 2017/01/01 13:00AM UTC with an unspecified\nexpiration date, the job expires after 2017/01/31 13:00AM UTC.\n\nIf this value is not provided on job update, it depends on the field masks\nset by UpdateJobRequest.update_job_fields. If the field masks include\nexpiry_date, or the masks are empty meaning that every field is\nupdated, the job expires after 30 days from the job's last update time.\nOtherwise the expiration date isn't updated.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "Optional.\n\nThe end date of the job in UTC time zone. Typically this field\nis used for contracting engagements.\nDates prior to 1970/1/1 and invalid date formats are ignored.",
          "$ref": "Date"
        },
        "educationLevels": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "EDUCATION_LEVEL_UNSPECIFIED",
              "HIGH_SCHOOL",
              "ASSOCIATE",
              "BACHELORS",
              "MASTERS",
              "DOCTORATE",
              "NO_DEGREE_REQUIRED"
            ]
          },
          "enumDescriptions": [
            "The default value if the level is not specified.",
            "A High School diploma is required for the position.",
            "An Associate degree is required for the position.",
            "A Bachelors degree is required for the position.",
            "A Masters degree is required for the position.",
            "A Doctorate degree is required for the position.",
            "No formal education is required for the position."
          ],
          "description": "Optional.\n\nThe desired education level for the job, such as\n\"Bachelors\", \"Masters\", \"Doctorate\"."
        },
        "customAttributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CustomAttribute"
          },
          "description": "Optional.\n\nA map of fields to hold both filterable and non-filterable custom job\nattributes that are not covered by the provided structured fields.\n\nThis field is a more general combination of the deprecated id-based\nfilterable_custom_fields and string-based\nnon_filterable_custom_fields.\n\nThe keys of the map are strings up to 64 bytes and must match the\npattern: a-zA-Z*.\n\nAt most 100 filterable and at most 100 unfilterable keys are supported.\nFor filterable `string_values`, across all keys at most 200 values are\nallowed, with each string no more than 255 characters. For unfilterable\n`string_values`, the maximum total size of `string_values` across all keys\nis 50KB."
        },
        "filterableCustomFields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CustomField"
          },
          "description": "Deprecated. Use custom_attributes instead.\n\nOptional.\n\nA map of fields to hold filterable custom job attributes not captured by\nthe standard fields such as job_title, company_name, or\nlevel. These custom fields store arbitrary\nstring values, and can be used for purposes not covered by\nthe structured fields. For the best search experience, use of the\nstructured rather than custom fields is recommended.\n\nData stored in these custom fields fields are indexed and\nsearched against by keyword searches (see\nSearchJobsRequest.custom_field_filters][]).\n\nThe map key must be a number between 1-20. If an invalid key is\nprovided on job create or update, an error is returned."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional.\n\nThe language of the posting. This field is distinct from\nany requirements for fluency that are associated with the job.\n\nLanguage codes must be in BCP-47 format, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47){: class=\"external\" target=\"_blank\" }.\n\nThe default value is `en-US`."
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The Job is only visible to the owner.",
            "The Job is visible to the owner and may be visible to other applications\nand processes at Google.\n\nNot yet supported. Use PRIVATE.",
            "The Job is visible to the owner and may be visible to all other API\nclients.\n\nNot yet supported. Use PRIVATE."
          ],
          "enum": [
            "JOB_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "GOOGLE",
            "PUBLIC"
          ],
          "description": "Optional.\n\nThe visibility of the job.\nDefaults to JobVisibility.PRIVATE if not specified.\nCurrently only JobVisibility.PRIVATE is supported."
        },
        "name": {
          "description": "Required during job update.\n\nResource name assigned to a job by the API, for example, \"/jobs/foo\". Use\nof this field in job queries and API calls is preferred over the use of\nrequisition_id since this value is unique.",
          "type": "string"
        },
        "distributorCompanyId": {
          "description": "Optional but one of company_name or distributor_company_id must be\nprovided.\n\nA unique company identifier used by job distributors to identify an\nemployer's company entity. company_name takes precedence over\nthis field, and is the recommended field to use to identify companies.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "promotionValue": {
          "description": "Optional.\n\nA promotion value of the job, as determined by the client.\nThe value determines the sort order of the jobs returned when searching for\njobs using the featured jobs search call, with higher promotional values\nbeing returned first and ties being resolved by relevance sort. Only the\njobs with a promotionValue \u003e0 are returned in a FEATURED_JOB_SEARCH.\n\nDefault value is 0, and negative values are treated as 0.",
          "format": "int32",
          "type": "integer"
        },
        "publishDate": {
          "description": "Optional.\n\nThe date this job was most recently published in UTC format. The default\nvalue is the time the request arrives at the server.",
          "$ref": "Date"
        },
        "applicationUrls": {
          "description": "Optional but at least one of application_urls,\napplication_email_list or application_instruction must be\nspecified.\n\nUse this URL field to direct an applicant to a website, for example to\nlink to an online application form.\n\nThe maximum number of allowed characters is 2,000.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "companyDisplayName": {
          "type": "string",
          "description": "Output only.\n\nThe name of the company listing the job."
        },
        "requisitionId": {
          "description": "Required.\n\nThe requisition ID, also referred to as the posting ID, assigned by the\nclient to identify a job. This field is intended to be used by clients\nfor client identification and tracking of listings. A job is not allowed\nto be created if there is another job with the same requisition_id,\ncompany_name and language_code.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "qualifications": {
          "description": "Optional.\n\nA description of the qualifications required to perform the\njob. The use of this field is recommended\nas an alternative to using the more general description field.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 10,000.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only.\n\nThe timestamp when this job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "startDate": {
          "description": "Optional.\n\nThe start date of the job in UTC time zone. Typically this field\nis used for contracting engagements.\nDates prior to 1970/1/1 and invalid date formats are ignored.",
          "$ref": "Date"
        },
        "level": {
          "enumDescriptions": [
            "The default value if the level is not specified.",
            "Entry-level individual contributors, typically with less than 2 years of\nexperience in a similar role. Includes interns.",
            "Experienced individual contributors, typically with 2+ years of\nexperience in a similar role.",
            "Entry- to mid-level managers responsible for managing a team of people.",
            "Senior-level managers responsible for managing teams of managers.",
            "Executive-level managers and above, including C-level positions."
          ],
          "enum": [
            "JOB_LEVEL_UNSPECIFIED",
            "ENTRY_LEVEL",
            "EXPERIENCED",
            "MANAGER",
            "DIRECTOR",
            "EXECUTIVE"
          ],
          "description": "Optional.\n\nThe experience level associated with the job, such as \"Entry Level\".",
          "type": "string"
        },
        "applicationInstruction": {
          "description": "Optional but at least one of application_urls,\napplication_email_list or application_instruction must be\nspecified.\n\nUse this field to provide instructions, such as \"Mail your application\nto ...\", that a candidate can follow to apply for the job.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 3,000.",
          "type": "string"
        },
        "benefits": {
          "type": "array",
          "items": {
            "enum": [
              "JOB_BENEFIT_TYPE_UNSPECIFIED",
              "CHILD_CARE",
              "DENTAL",
              "DOMESTIC_PARTNER",
              "FLEXIBLE_HOURS",
              "MEDICAL",
              "LIFE_INSURANCE",
              "PARENTAL_LEAVE",
              "RETIREMENT_PLAN",
              "SICK_DAYS",
              "TELECOMMUTE",
              "VACATION",
              "VISION"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "Default value if the type is not specified.",
            "The job includes access to programs that support child care, such\nas daycare.",
            "The job includes dental services that are covered by a dental\ninsurance plan.",
            "The job offers specific benefits to domestic partners.",
            "The job allows for a flexible work schedule.",
            "The job includes health services that are covered by a medical\ninsurance plan.",
            "The job includes a life insurance plan provided by the employer or\navailable for purchase by the employee.",
            "The job allows for a leave of absence to a parent to care for a newborn\nchild.",
            "The job includes a workplace retirement plan provided by the\nemployer or available for purchase by the employee.",
            "The job allows for paid time off due to illness.",
            "Deprecated. Set Region.TELECOMMUTE instead.\n\nThe job allows telecommuting (working remotely).",
            "The job includes paid time off for vacation.",
            "The job includes vision services that are covered by a vision\ninsurance plan."
          ],
          "description": "Optional.\n\nThe benefits included with the job."
        },
        "incentives": {
          "description": "Optional.\n\nA description of bonus, commission, and other compensation\nincentives associated with the job not including salary or pay.\n\nThe maximum number of allowed characters is 10,000.",
          "type": "string"
        },
        "employmentTypes": {
          "enumDescriptions": [
            "The default value if the employment type is not specified.",
            "The job requires working a number of hours that constitute full\ntime employment, typically 40 or more hours per week.",
            "The job entails working fewer hours than a full time job,\ntypically less than 40 hours a week.",
            "The job is offered as a contracted, as opposed to a salaried employee,\nposition.",
            "The job is offered as a temporary employment opportunity, usually\na short-term engagement.",
            "The job is a fixed-term opportunity for students or entry-level job seekers\nto obtain on-the-job training, typically offered as a summer position.",
            "The is an opportunity for an individual to volunteer, where there is no\nexpectation of compensation for the provided services.",
            "The job requires an employee to work on an as-needed basis with a\nflexible schedule.",
            "The job is offered as a contracted position with the understanding\nthat it is converted into a full-time position at the end of the\ncontract. Jobs of this type are also returned by a search for\nEmploymentType.CONTRACTOR jobs.",
            "The job involves employing people in remote areas and flying them\ntemporarily to the work site instead of relocating employees and their\nfamilies permanently.",
            "The job does not fit any of the other listed types."
          ],
          "description": "Optional.\n\nThe employment type(s) of a job, for example,\nfull time or\npart time.",
          "type": "array",
          "items": {
            "enum": [
              "EMPLOYMENT_TYPE_UNSPECIFIED",
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "TEMPORARY",
              "INTERN",
              "VOLUNTEER",
              "PER_DIEM",
              "CONTRACT_TO_HIRE",
              "FLY_IN_FLY_OUT",
              "OTHER"
            ],
            "type": "string"
          }
        },
        "locations": {
          "description": "Optional but strongly recommended for the best service experience.\n\nLocation(s) where the emploeyer is looking to hire for this job posting.\n\nSpecifying the full street address(es) of the hiring location enables\nbetter API results, especially job searches by commute time.\n\nAt most 50 locations are allowed for best search performance. If a job has\nmore locations, it is suggested to split it into multiple jobs with unique\nrequisition_ids (e.g. 'ReqA' becomes 'ReqA-1', 'ReqA-2', etc.) as\nmultiple jobs with the same requisition_id, company_name and\nlanguage_code are not allowed. If the original requisition_id must\nbe preserved, a custom field should be used for storage. It is also\nsuggested to group the locations that close to each other in the same job\nfor better search experience.\n\nThe maximum number of allowed characters is 500.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "extendedCompensationInfo": {
          "$ref": "ExtendedCompensationInfo",
          "description": "Deprecated. Always use compensation_info.\n\nOptional.\n\nJob compensation information.\n\nThis field replaces compensation_info."
        }
      },
      "id": "Job"
    },
    "ExtendedCompensationFilter": {
      "description": "Deprecated. Always use CompensationFilter.\n\nInput only.\n\nFilter on job compensation type and amount.",
      "type": "object",
      "properties": {
        "includeJobWithUnspecifiedCompensationRange": {
          "description": "Optional.\n\nWhether to include jobs whose compensation range is unspecified.",
          "type": "boolean"
        },
        "compensationUnits": {
          "description": "Required.\n\nSpecify desired `base compensation entry's`\nExtendedCompensationInfo.CompensationUnit.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "EXTENDED_COMPENSATION_UNIT_UNSPECIFIED",
              "HOURLY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY",
              "ONE_TIME",
              "OTHER_COMPENSATION_UNIT"
            ]
          },
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ]
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Filter type unspecified. Position holder, INVALID, should never be used.",
            "Filter by `base compensation entry's` unit. A job is a match if and\nonly if the job contains a base CompensationEntry and the base\nCompensationEntry's unit matches provided compensation_units.\nPopulate one or more compensation_units.\n\nSee ExtendedCompensationInfo.CompensationEntry for definition of\nbase compensation entry.",
            "Filter by `base compensation entry's` unit and amount / range. A job\nis a match if and only if the job contains a base CompensationEntry, and\nthe base entry's unit matches provided compensation_units and amount\nor range overlaps with provided compensation_range.\n\nSee ExtendedCompensationInfo.CompensationEntry for definition of\nbase compensation entry.\n\nSet exactly one\ncompensation_units and populate\ncompensation_range.",
            "Filter by annualized base compensation amount and `base compensation\nentry's` unit. Populate compensation_range and zero or more\ncompensation_units.",
            "Filter by annualized total compensation amount and `base compensation\nentry's` unit . Populate compensation_range and zero or more\ncompensation_units."
          ],
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "UNIT_ONLY",
            "UNIT_AND_AMOUNT",
            "ANNUALIZED_BASE_AMOUNT",
            "ANNUALIZED_TOTAL_AMOUNT"
          ],
          "description": "Required.\n\nType of filter."
        },
        "currency": {
          "description": "Optional.\n\nSpecify currency in 3-letter\n[ISO 4217](https://www.iso.org/iso-4217-currency-codes.html) format. If\nunspecified, jobs are returned regardless of currency.",
          "type": "string"
        },
        "compensationRange": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Optional.\n\nCompensation range."
        }
      },
      "id": "ExtendedCompensationFilter"
    },
    "Company": {
      "description": "A Company resource represents a company in the service. A company is the\nentity that owns job listings, that is, the hiring entity responsible for\nemploying applicants for the job position.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required during company update.\n\nThe resource name for a company. This is generated by the service when a\ncompany is created, for example,\n\"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\"."
        },
        "distributorCompanyId": {
          "description": "Required.\n\nA client's company identifier, used to uniquely identify the\ncompany. If an employer has a subsidiary or sub-brand, such as \"Alphabet\"\nand \"Google\", which the client wishes to use as the company displayed on\nthe job. Best practice is to create a distinct company identifier for each\ndistinct brand displayed.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "structuredCompanyHqLocation": {
          "$ref": "JobLocation",
          "description": "Output only.\n\nA structured headquarters location of the company,\nresolved from hq_location if possible."
        },
        "hiringAgency": {
          "description": "Optional.\n\nSet to true if it is the hiring agency that post jobs for other\nemployers.\n\nDefaults to false if not provided.",
          "type": "boolean"
        },
        "title": {
          "description": "Deprecated. Use display_name instead.\n\nRequired.\n\nThe name of the employer to be displayed with the job,\nfor example, \"Google, LLC.\".",
          "type": "string"
        },
        "displayName": {
          "description": "Required.\n\nThe name of the employer to be displayed with the job,\nfor example, \"Google, LLC.\".",
          "type": "string"
        },
        "website": {
          "description": "Optional.\n\nThe URL representing the company's primary web site or home page,\nsuch as, \"www.google.com\".",
          "type": "string"
        },
        "hqLocation": {
          "description": "Optional.\n\nThe street address of the company's main headquarters, which may be\ndifferent from the job location. The service attempts\nto geolocate the provided address, and populates a more specific\nlocation wherever possible in structured_company_hq_location.",
          "type": "string"
        },
        "companyInfoSources": {
          "description": "Optional.\n\nIdentifiers external to the application that help to further identify\nthe employer.",
          "type": "array",
          "items": {
            "$ref": "CompanyInfoSource"
          }
        },
        "keywordSearchableCustomAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional.\n\nA list of keys of filterable Job.custom_attributes, whose\ncorresponding `string_values` are used in keyword search. Jobs with\n`string_values` under these specified field keys are returned if any\nof the values matches the search keyword. Custom field values with\nparenthesis, brackets and special symbols might not be properly searchable,\nand those keyword queries need to be surrounded by quotes."
        },
        "suspended": {
          "description": "Output only.\n\nIndicates whether a company is flagged to be suspended from public\navailability by the service when job content appears suspicious,\nabusive, or spammy.",
          "type": "boolean"
        },
        "imageUrl": {
          "description": "Optional.\n\nA URL that hosts the employer's company logo. If provided,\nthe logo image should be squared at 80x80 pixels.\n\nThe url must be a Google Photos or Google Album url.\nOnly images in these Google sub-domains are accepted.",
          "type": "string"
        },
        "careerPageLink": {
          "description": "Optional.\n\nThe URL to employer's career site or careers page on the employer's web\nsite.",
          "type": "string"
        },
        "keywordSearchableCustomFields": {
          "description": "Deprecated. Use keyword_searchable_custom_attributes instead.\n\nOptional.\n\nA list of filterable custom fields that should be used in keyword\nsearch. The jobs of this company are returned if any of these custom\nfields matches the search keyword. Custom field values with parenthesis,\nbrackets and special symbols might not be properly searchable, and those\nkeyword queries need to be surrounded by quotes.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "distributorBillingCompanyId": {
          "description": "Optional.\n\nThe unique company identifier provided by the client to identify an\nemployer for billing purposes. Recommended practice is to use\nthe distributor_company_id.\n\nDefaults to same value as distributor_company_id when a value\nis not provided.",
          "type": "string"
        },
        "disableLocationOptimization": {
          "description": "Deprecated. Do not use this field.\n\nOptional.\n\nThis field is no longer used. Any value set to it is ignored.",
          "type": "boolean"
        },
        "companySize": {
          "description": "Optional.\n\nThe employer's company size.",
          "type": "string",
          "enumDescriptions": [
            "Default value if the size is not specified.",
            "The company has less than 50 employees.",
            "The company has between 50 and 99 employees.",
            "The company has between 100 and 499 employees.",
            "The company has between 500 and 999 employees.",
            "The company has between 1,000 and 4,999 employees.",
            "The company has between 5,000 and 9,999 employees.",
            "The company has 10,000 or more employees."
          ],
          "enum": [
            "COMPANY_SIZE_UNSPECIFIED",
            "MINI",
            "SMALL",
            "SMEDIUM",
            "MEDIUM",
            "BIG",
            "BIGGER",
            "GIANT"
          ]
        },
        "eeoText": {
          "description": "Optional.\n\nEqual Employment Opportunity legal disclaimer text to be\nassociated with all jobs, and typically to be displayed in all\nroles.\n\nThe maximum number of allowed characters is 500.",
          "type": "string"
        }
      },
      "id": "Company"
    },
    "ExtendedCompensationInfoCompensationRange": {
      "description": "Deprecated. See CompensationInfo.\n\nCompensation range.",
      "type": "object",
      "properties": {
        "min": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Required.\n\nMinimum value."
        },
        "max": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Required.\n\nMaximum value."
        }
      },
      "id": "ExtendedCompensationInfoCompensationRange"
    },
    "CompensationRange": {
      "description": "Compensation range.",
      "type": "object",
      "properties": {
        "min": {
          "description": "Optional.\n\nThe minimum amount of compensation. If left empty, the value is set\nto zero and the currency code is set to match the\ncurrency code of max_compensation.",
          "$ref": "Money"
        },
        "max": {
          "description": "Optional.\n\nThe maximum amount of compensation. If left empty, the value is set\nto a maximal compensation value and the currency code is set to\nmatch the currency code of\nmin_compensation.",
          "$ref": "Money"
        }
      },
      "id": "CompensationRange"
    },
    "CompensationInfo": {
      "description": "Job compensation details.",
      "type": "object",
      "properties": {
        "annualizedTotalCompensationRange": {
          "description": "Output only.\n\nAnnualized total compensation range. Computed as\nall compensation entries' CompensationEntry.compensation times\nCompensationEntry.expected_units_per_year.\n\nSee CompensationEntry for explanation on compensation annualization.",
          "$ref": "CompensationRange"
        },
        "entries": {
          "description": "Optional.\n\nJob compensation information.\n\nAt most one entry can be of type\nCompensationInfo.CompensationType.BASE, which is\nreferred as ** base compensation entry ** for the job.",
          "type": "array",
          "items": {
            "$ref": "CompensationEntry"
          }
        },
        "min": {
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nA lower bound on a range for compensation or pay for the job.\nThe currency type is specified in compensation_amount.",
          "$ref": "Money"
        },
        "annualizedBaseCompensationRange": {
          "$ref": "CompensationRange",
          "description": "Output only.\n\nAnnualized base compensation range. Computed as\nbase compensation entry's CompensationEntry.compensation times\nCompensationEntry.expected_units_per_year.\n\nSee CompensationEntry for explanation on compensation annualization."
        },
        "amount": {
          "$ref": "Money",
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nThe amount of compensation or pay for the job.\nAs an alternative, compensation_amount_min and\ncompensation_amount_max may be used to define a range of\ncompensation."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The default value if the type is not specified.",
            "The job compensation is quoted by the number of hours worked.",
            "The job compensation is quoted on an annual basis.",
            "The job compensation is quoted by project completion.",
            "The job compensation is quoted based solely on commission.",
            "The job compensation is not quoted according to the listed compensation\noptions."
          ],
          "enum": [
            "JOB_COMPENSATION_TYPE_UNSPECIFIED",
            "HOURLY",
            "SALARY",
            "PER_PROJECT",
            "COMMISSION",
            "OTHER_TYPE"
          ],
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nType of job compensation."
        },
        "max": {
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nAn upper bound on a range for compensation or pay for the job.\nThe currency type is specified in compensation_amount.",
          "$ref": "Money"
        }
      },
      "id": "CompensationInfo"
    },
    "CustomAttributeHistogramRequest": {
      "description": "Custom attributes histogram request. An error will be thrown if neither\nstring_value_histogram or long_value_histogram_bucketing_option has\nbeen defined.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required.\n\nSpecifies the custom field key to perform a histogram on. If specified\nwithout `long_value_histogram_bucketing_option`, histogram on string values\nof the given `key` is triggered, otherwise histogram is performed on long\nvalues.",
          "type": "string"
        },
        "longValueHistogramBucketingOption": {
          "$ref": "NumericBucketingOption",
          "description": "Optional.\n\nSpecifies buckets used to perform a range histogram on Job's\nfilterable long custom field values, or min/max value requirements."
        },
        "stringValueHistogram": {
          "description": "Optional. If set to true, the response will include the histogram value for\neach key as a string.",
          "type": "boolean"
        }
      },
      "id": "CustomAttributeHistogramRequest"
    },
    "ExtendedCompensationInfoCompensationEntry": {
      "description": "Deprecated. See CompensationInfo.\n\nA compensation entry that represents one component of compensation, such\nas base pay, bonus, or other compensation type.\n\nAnnualization: One compensation entry can be annualized if\n- it contains valid amount or range.\n- and its expected_units_per_year is set or can be derived.\nIts annualized range is determined as (amount or range) times\nexpected_units_per_year.",
      "type": "object",
      "properties": {
        "unit": {
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ],
          "enum": [
            "EXTENDED_COMPENSATION_UNIT_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY",
            "ONE_TIME",
            "OTHER_COMPENSATION_UNIT"
          ],
          "description": "Optional.\n\nFrequency of the specified amount.\n\nDefault is CompensationUnit.OTHER_COMPENSATION_UNIT.",
          "type": "string"
        },
        "amount": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Optional.\n\nMonetary amount."
        },
        "type": {
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_TYPE.",
            "Base compensation: Refers to the fixed amount of money paid to an\nemployee by an employer in return for work performed. Base compensation\ndoes not include benefits, bonuses or any other potential compensation\nfrom an employer.",
            "Bonus.",
            "Signing bonus.",
            "Equity.",
            "Profit sharing.",
            "Commission.",
            "Tips.",
            "Other compensation type."
          ],
          "enum": [
            "EXTENDED_COMPENSATION_TYPE_UNSPECIFIED",
            "BASE",
            "BONUS",
            "SIGNING_BONUS",
            "EQUITY",
            "PROFIT_SHARING",
            "COMMISSIONS",
            "TIPS",
            "OTHER_COMPENSATION_TYPE"
          ],
          "description": "Required.\n\nCompensation type.",
          "type": "string"
        },
        "range": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Optional.\n\nCompensation range."
        },
        "expectedUnitsPerYear": {
          "description": "Optional.\n\nExpected number of units paid each year. If not specified, when\nJob.employment_types is FULLTIME, a default value is inferred\nbased on unit. Default values:\n- HOURLY: 2080\n- DAILY: 260\n- WEEKLY: 52\n- MONTHLY: 12\n- ANNUAL: 1",
          "$ref": "ExtendedCompensationInfoDecimal"
        },
        "unspecified": {
          "description": "Optional.\n\nIndicates compensation amount and range are unset.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional.\n\nCompensation description."
        }
      },
      "id": "ExtendedCompensationInfoCompensationEntry"
    },
    "CompensationHistogramResult": {
      "description": "Output only.\n\nCompensation based histogram result.",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "NumericBucketingResult",
          "description": "Histogram result."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Invalid.",
            "Histogram by job's base compensation. See CompensationEntry for\ndefinition of base compensation.",
            "Histogram by job's annualized base compensation. See CompensationEntry\nfor definition of annualized base compensation.",
            "Histogram by job's annualized total compensation. See CompensationEntry\nfor definition of annualized total compensation."
          ],
          "enum": [
            "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED",
            "BASE",
            "ANNUALIZED_BASE",
            "ANNUALIZED_TOTAL"
          ],
          "description": "Type of the request, corresponding to\nCompensationHistogramRequest.type."
        }
      },
      "id": "CompensationHistogramResult"
    },
    "PostalAddress": {
      "type": "object",
      "properties": {
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address.\nThis field may, under certain circumstances, contain multiline information.\nFor example, it might contain \"care of\" information."
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address.\nFor example, this can be neighborhoods, boroughs, districts.",
          "type": "string"
        },
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is\nthe latest revision.\n\nAll new revisions **must** be backward compatible with old revisions.",
          "format": "int32",
          "type": "integer"
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address.\nExamples: US city, IT comune, UK post town.\nIn regions of the world where localities are not well defined or do not fit\ninto this structure well, leave locality empty and use address_lines.",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal\naddresses of a country or region.\nFor example, this can be a state, a province, an oblast, or a prefecture.\nSpecifically, for Spain this is the province and not the autonomous\ncommunity (e.g. \"Barcelona\" and not \"Catalonia\").\nMany countries don't use an administrative area in postal addresses. E.g.\nin Switzerland this should be left unpopulated.",
          "type": "string"
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This\nis never inferred and it is up to the user to ensure the value is\ncorrect. See http://cldr.unicode.org/ and\nhttp://www.unicode.org/cldr/charts/30/supplemental/territory_information.html\nfor details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address.\n\nBecause values in address_lines do not have type information and may\nsometimes contain multiple values in a single field (e.g.\n\"Austin, TX\"), it is important that the line order is clear. The order of\naddress lines should be \"envelope order\" for the country/region of the\naddress. In places where this can vary (e.g. Japan), address_language is\nused to make it explicit (e.g. \"ja\" for large-to-small ordering and\n\"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of\nan address can be selected based on the language.\n\nThe minimum permitted structural representation of an address consists\nof a region_code with all remaining information placed in the\naddress_lines. It would be possible to format such an address very\napproximately without geocoding, but no semantic reasoning could be\nmade about any of the address components until it was at least\npartially resolved.\n\nCreating an address only containing a region_code and address_lines, and\nthen geocoding is the recommended way to handle completely unstructured\naddresses (as opposed to guessing which parts of the address should be\nlocalities or administrative areas).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require\npostal codes to be present, but where they are used, they may trigger\nadditional validation with other parts of the address (e.g. state/zip\nvalidation in the U.S.A.).",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used\nin most regions. Where it is used, the value is either a string like\n\"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number\nalone, representing the \"sector code\" (Jamaica), \"delivery area indicator\"\n(Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire).",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if\nknown). This is often the UI language of the input form or is expected\nto match one of the languages used in the address' country/region, or their\ntransliterated equivalents.\nThis can affect formatting in certain countries, but is not critical\nto the correctness of the data and will never affect any validation or\nother non-formatting related operations.\n\nIf this value is not known, it should be omitted (rather than specifying a\npossibly incorrect default).\n\nExamples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        }
      },
      "id": "PostalAddress",
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses.\nGiven a postal address, a postal service can deliver items to a premise, P.O.\nBox or similar.\nIt is not intended to model geographical locations (roads, towns,\nmountains).\n\nIn typical usage an address would be created via user input or from importing\nexisting data, depending on the type of process.\n\nAdvice on address input / editing:\n - Use an i18n-ready address widget such as\n   https://github.com/googlei18n/libaddressinput)\n- Users should not be presented with UI elements for input or editing of\n  fields outside countries where that field is used.\n\nFor more guidance on how to use this schema, please see:\nhttps://support.google.com/business/answer/6397478"
    },
    "StringValues": {
      "description": "Represents array of string values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Required.\n\nString values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StringValues"
    },
    "JobFilters": {
      "description": "Input only.\n\nDeprecated. Use JobQuery instead.\n\nThe filters required to perform a search query or histogram.",
      "type": "object",
      "properties": {
        "tenantJobOnly": {
          "description": "Deprecated. Do not use this field.\n\nThis flag controls whether the job search should be restricted to jobs\nowned by the current user.\n\nDefaults to false where all jobs accessible to the\nuser are searched against.",
          "type": "boolean"
        },
        "companyNames": {
          "description": "Optional.\n\nThe company names filter specifies the company entities to search\nagainst.\n\nIf a value is not specified, jobs are searched for against all companies.\n\nIf multiple values are specified, jobs are searched against the\nspecified companies.\n\nAt most 20 company filters are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "employmentTypes": {
          "enumDescriptions": [
            "The default value if the employment type is not specified.",
            "The job requires working a number of hours that constitute full\ntime employment, typically 40 or more hours per week.",
            "The job entails working fewer hours than a full time job,\ntypically less than 40 hours a week.",
            "The job is offered as a contracted, as opposed to a salaried employee,\nposition.",
            "The job is offered as a temporary employment opportunity, usually\na short-term engagement.",
            "The job is a fixed-term opportunity for students or entry-level job seekers\nto obtain on-the-job training, typically offered as a summer position.",
            "The is an opportunity for an individual to volunteer, where there is no\nexpectation of compensation for the provided services.",
            "The job requires an employee to work on an as-needed basis with a\nflexible schedule.",
            "The job is offered as a contracted position with the understanding\nthat it is converted into a full-time position at the end of the\ncontract. Jobs of this type are also returned by a search for\nEmploymentType.CONTRACTOR jobs.",
            "The job involves employing people in remote areas and flying them\ntemporarily to the work site instead of relocating employees and their\nfamilies permanently.",
            "The job does not fit any of the other listed types."
          ],
          "description": "Optional.\n\nThe employment type filter specifies the employment type of jobs to\nsearch against, such as EmploymentType.FULL_TIME.\n\nIf a value is not specified, jobs in the search results include any\nemployment type.\n\nIf multiple values are specified, jobs in the search results include any\nof the specified employment types.",
          "type": "array",
          "items": {
            "enum": [
              "EMPLOYMENT_TYPE_UNSPECIFIED",
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "TEMPORARY",
              "INTERN",
              "VOLUNTEER",
              "PER_DIEM",
              "CONTRACT_TO_HIRE",
              "FLY_IN_FLY_OUT",
              "OTHER"
            ],
            "type": "string"
          }
        },
        "categories": {
          "enumDescriptions": [
            "The default value if the category is not specified.",
            "An accounting and finance job, such as an Accountant.",
            "And administrative and office job, such as an Administrative Assistant.",
            "An advertising and marketing job, such as Marketing Manager.",
            "An animal care job, such as Veterinarian.",
            "An art, fashion, or design job, such as Designer.",
            "A business operations job, such as Business Operations Manager.",
            "A cleaning and facilities job, such as Custodial Staff.",
            "A computer and IT job, such as Systems Administrator.",
            "A construction job, such as General Laborer.",
            "A customer service job, such s Cashier.",
            "An education job, such as School Teacher.",
            "An entertainment and travel job, such as Flight Attendant.",
            "A farming or outdoor job, such as Park Ranger.",
            "A healthcare job, such as Registered Nurse.",
            "A human resources job, such as Human Resources Director.",
            "An installation, maintenance, or repair job, such as Electrician.",
            "A legal job, such as Law Clerk.",
            "A management job, often used in conjunction with another category,\nsuch as Store Manager.",
            "A manufacturing or warehouse job, such as Assembly Technician.",
            "A media, communications, or writing job, such as Media Relations.",
            "An oil, gas or mining job, such as Offshore Driller.",
            "A personal care and services job, such as Hair Stylist.",
            "A protective services job, such as Security Guard.",
            "A real estate job, such as Buyer's Agent.",
            "A restaurant and hospitality job, such as Restaurant Server.",
            "A sales and/or retail job, such Sales Associate.",
            "A science and engineering job, such as Lab Technician.",
            "A social services or non-profit job, such as Case Worker.",
            "A sports, fitness, or recreation job, such as Personal Trainer.",
            "A transportation or logistics job, such as Truck Driver."
          ],
          "description": "Optional.\n\nThe category filter specifies the categories of jobs to search against.\nSee Category for more information.\n\nIf a value is not specified, jobs from any category are searched against.\n\nIf multiple values are specified, jobs from any of the specified\ncategories are searched against.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "JOB_CATEGORY_UNSPECIFIED",
              "ACCOUNTING_AND_FINANCE",
              "ADMINISTRATIVE_AND_OFFICE",
              "ADVERTISING_AND_MARKETING",
              "ANIMAL_CARE",
              "ART_FASHION_AND_DESIGN",
              "BUSINESS_OPERATIONS",
              "CLEANING_AND_FACILITIES",
              "COMPUTER_AND_IT",
              "CONSTRUCTION",
              "CUSTOMER_SERVICE",
              "EDUCATION",
              "ENTERTAINMENT_AND_TRAVEL",
              "FARMING_AND_OUTDOORS",
              "HEALTHCARE",
              "HUMAN_RESOURCES",
              "INSTALLATION_MAINTENANCE_AND_REPAIR",
              "LEGAL",
              "MANAGEMENT",
              "MANUFACTURING_AND_WAREHOUSE",
              "MEDIA_COMMUNICATIONS_AND_WRITING",
              "OIL_GAS_AND_MINING",
              "PERSONAL_CARE_AND_SERVICES",
              "PROTECTIVE_SERVICES",
              "REAL_ESTATE",
              "RESTAURANT_AND_HOSPITALITY",
              "SALES_AND_RETAIL",
              "SCIENCE_AND_ENGINEERING",
              "SOCIAL_SERVICES_AND_NON_PROFIT",
              "SPORTS_FITNESS_AND_RECREATION",
              "TRANSPORTATION_AND_LOGISTICS"
            ]
          }
        },
        "customAttributeFilter": {
          "description": "Optional.\n\nThis filter specifies a structured syntax to match against the\nJob.custom_attributes that are marked as `filterable`.\n\nThe syntax for this expression is a subset of Google SQL syntax.\n\nSupported operators are: =, !=, \u003c, \u003c=, \u003e, \u003e= where the left of the operator\nis a custom field key and the right of the operator is a number or string\n(surrounded by quotes) value.\n\nSupported functions are LOWER(\u003cfield_name\u003e) to\nperform case insensitive match and EMPTY(\u003cfield_name\u003e) to filter on the\nexistence of a key.\n\nBoolean expressions (AND/OR/NOT) are supported up to 3 levels of\nnesting (For example, \"((A AND B AND C) OR NOT D) AND E\"), and there can\nbe a maximum of 50 comparisons/functions in the expression. The expression\nmust be \u003c 2000 characters in length.\n\nSample Query:\n(key1 = \"TEST\" OR LOWER(key1)=\"test\" OR NOT EMPTY(key1)) AND key2 \u003e 100",
          "type": "string"
        },
        "locationFilters": {
          "description": "Optional.\n\nThe location filter specifies geo-regions containing the jobs to\nsearch against. See LocationFilter for more information.\n\nIf a location value is not specified, jobs are be retrieved\nfrom all locations.\n\nIf multiple values are specified, jobs are retrieved from any of the\nspecified locations, and, if different values are specified\nfor the LocationFilter.distance_in_miles parameter, the maximum\nprovided distance is used for all locations.\n\nAt most 5 location filters are allowed.",
          "type": "array",
          "items": {
            "$ref": "LocationFilter"
          }
        },
        "publishDateRange": {
          "description": "Optional.\n\nJobs published within a range specified by this filter are searched\nagainst, for example, DateRange.PAST_MONTH. If a value is not\nspecified, all open jobs are searched against regardless of the\ndate they were published.",
          "type": "string",
          "enumDescriptions": [
            "Default value: Filtering on time is not performed.",
            "The past 24 hours",
            "The past week (7 days)",
            "The past month (30 days)",
            "The past year (365 days)",
            "The past 3 days"
          ],
          "enum": [
            "DATE_RANGE_UNSPECIFIED",
            "PAST_24_HOURS",
            "PAST_WEEK",
            "PAST_MONTH",
            "PAST_YEAR",
            "PAST_3_DAYS"
          ]
        },
        "commuteFilter": {
          "$ref": "CommutePreference",
          "description": "Optional.\n\n Allows filtering jobs by commute time with different travel methods (e.g.\n driving or public transit). Note: this only works with COMMUTE\n MODE. When specified, [JobFilters.location_filters] will be\n ignored.\n\n Currently we do not support sorting by commute time."
        },
        "languageCodes": {
          "description": "Optional.\n\nThis filter specifies the locale of jobs to search against,\nfor example, \"en-US\".\n\nIf a value is not specified, the search results may contain jobs in any\nlocale.\n\n\nLanguage codes should be in BCP-47 format, for example, \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).\n\nAt most 10 language code filters are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "companyTitles": {
          "description": "Optional.\n\nThis filter specifies the exact company titles\nof jobs to search against.\n\nIf a value is not specified, jobs within the search results can be\nassociated with any company.\n\nIf multiple values are specified, jobs within the search results may be\nassociated with any of the specified companies.\n\nAt most 20 company title filters are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "query": {
          "description": "Optional.\n\nThe query filter contains the keywords that match against the job\ntitle, description, and location fields.\n\nThe maximum query size is 255 bytes/characters.",
          "type": "string"
        },
        "compensationFilter": {
          "$ref": "CompensationFilter",
          "description": "Optional.\n\nThis search filter is applied only to\nJob.compensation_info. For example, if the filter is specified\nas \"Hourly job with per-hour compensation \u003e $15\", only jobs that meet\nthis criteria are searched. If a filter is not defined, all open jobs\nare searched."
        },
        "customFieldFilters": {
          "description": "Deprecated. Use custom_attribute_filter instead.\n\nOptional.\n\nThis filter specifies searching against\ncustom field values. See Job.filterable_custom_fields for information.\nThe key value specifies a number between 1-20 (the service\nsupports 20 custom fields) corresponding to the desired custom field map\nvalue. If an invalid key is provided or specified together with\ncustom_attribute_filter, an error is thrown.",
          "type": "object",
          "additionalProperties": {
            "$ref": "CustomFieldFilter"
          }
        },
        "disableSpellCheck": {
          "type": "boolean",
          "description": "Optional.\n\nThis flag controls the spell-check feature. If false, the\nservice attempts to correct a misspelled query,\nfor example, \"enginee\" is corrected to \"engineer\".\n\nDefaults to false: a spell check is performed."
        },
        "extendedCompensationFilter": {
          "$ref": "ExtendedCompensationFilter",
          "description": "Deprecated. Always use compensation_filter.\n\nOptional.\n\nThis search filter is applied only to\nJob.extended_compensation_info. For example, if the filter is specified\nas \"Hourly job with per-hour compensation \u003e $15\", only jobs that meet\nthese criteria are searched. If a filter is not defined, all open jobs\nare searched."
        }
      },
      "id": "JobFilters"
    },
    "ListCompanyJobsResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request\ntracking id."
        },
        "jobs": {
          "description": "The Jobs for a given company.\n\nThe maximum number of items returned is based on the limit field\nprovided in the request.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of open jobs. The result will be\nempty if ListCompanyJobsRequest.include_jobs_count is not enabled\nor if no open jobs are available.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ListCompanyJobsResponse",
      "description": "Deprecated. Use ListJobsResponse instead.\n\nOutput only.\n\nThe List jobs response object."
    },
    "SearchJobsRequest": {
      "description": "Input only.\n\nThe Request body of the `SearchJobs` call.",
      "type": "object",
      "properties": {
        "histogramFacets": {
          "$ref": "HistogramFacets",
          "description": "Optional.\n\nRestrictions on what fields to perform histogram on, such as\n`COMPANY_SIZE` etc."
        },
        "orderBy": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "By descending relevance, as determined by the API algorithms.\n\nRelevance thresholding of query results is only available for queries if\nRELEVANCE_DESC sort ordering is specified.",
            "Sort by published date descending.",
            "Sort by updated date descending.",
            "Sort by job title ascending.",
            "Sort by job title descending.",
            "Sort by job annualized base compensation in ascending order.\nIf job's annualized base compensation is unspecified, they are put at\nthe end of search result.",
            "Sort by job annualized total compensation in ascending order.\nIf job's annualized total compensation is unspecified, they are put at\nthe end of search result.",
            "Sort by job annualized base compensation in descending order.\nIf job's annualized base compensation is unspecified, they are put at\nthe end of search result.",
            "Sort by job annualized total compensation in descending order.\nIf job's annualized total compensation is unspecified, they are put at\nthe end of search result."
          ],
          "enum": [
            "SORT_BY_UNSPECIFIED",
            "RELEVANCE_DESC",
            "PUBLISHED_DATE_DESC",
            "UPDATED_DATE_DESC",
            "TITLE",
            "TITLE_DESC",
            "ANNUALIZED_BASE_COMPENSATION",
            "ANNUALIZED_TOTAL_COMPENSATION",
            "ANNUALIZED_BASE_COMPENSATION_DESC",
            "ANNUALIZED_TOTAL_COMPENSATION_DESC"
          ],
          "description": "Deprecated. Use sort_by instead.\n\nOptional.\n\nThe criteria determining how search results are sorted.\nDefaults to SortBy.RELEVANCE_DESC if no value is specified."
        },
        "jobView": {
          "enumDescriptions": [
            "Default value.",
            "A small view of the job, with the following attributes in the search results:\nJob.name, Job.requisition_id, Job.job_title,\nJob.company_name, Job.job_locations, Job.description,\nJob.visibility.\nNote: Job.description is deprecated. It is scheduled to be removed\nfrom MatchingJob.Job objects in the SearchJobsResponse results\non 12/31/2018.",
            "A minimal view of the job, with the following attributes in the search\nresults: Job.name, Job.requisition_id, Job.job_title,\nJob.company_name, Job.job_locations.",
            "All available attributes are included in the search results.\nNote: [Job.description, Job.responsibilities,\nJob.qualifications and Job.incentives are deprecated.\nThese fields are scheduled to be removed from MatchingJob.Job objects\nin the SearchJobsResponse results on 12/31/2018.\nSee the alternative MatchingJob.search_text_snippet and\nMatchingJob.job_summary fields."
          ],
          "enum": [
            "JOB_VIEW_UNSPECIFIED",
            "SMALL",
            "MINIMAL",
            "FULL"
          ],
          "description": "Optional.\n\nThe number of job attributes returned for jobs in the\nsearch response. Defaults to JobView.SMALL if no value is specified.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional.\n\nThe token specifying the current offset within\nsearch results. See SearchJobsResponse.next_page_token for\nan explanation of how to obtain the next set of query results."
        },
        "filters": {
          "$ref": "JobFilters",
          "description": "Deprecated. Use query instead.\n\nOptional.\n\nRestrictions on the scope of the search request, such as filtering\nby location."
        },
        "requestMetadata": {
          "$ref": "RequestMetadata",
          "description": "Required.\n\nThe meta information collected about the job searcher, used to improve the\nsearch quality of the service.. The identifiers, (such as `user_id`) are\nprovided by users, and must be unique and consistent."
        },
        "sortBy": {
          "enumDescriptions": [
            "Default value.",
            "By descending relevance, as determined by the API algorithms.\n\nRelevance thresholding of query results is only available for queries if\nRELEVANCE_DESC sort ordering is specified.",
            "Sort by published date descending.",
            "Sort by updated date descending.",
            "Sort by job title ascending.",
            "Sort by job title descending.",
            "Sort by job annualized base compensation in ascending order.\nIf job's annualized base compensation is unspecified, they are put at\nthe end of search result.",
            "Sort by job annualized total compensation in ascending order.\nIf job's annualized total compensation is unspecified, they are put at\nthe end of search result.",
            "Sort by job annualized base compensation in descending order.\nIf job's annualized base compensation is unspecified, they are put at\nthe end of search result.",
            "Sort by job annualized total compensation in descending order.\nIf job's annualized total compensation is unspecified, they are put at\nthe end of search result."
          ],
          "enum": [
            "SORT_BY_UNSPECIFIED",
            "RELEVANCE_DESC",
            "PUBLISHED_DATE_DESC",
            "UPDATED_DATE_DESC",
            "TITLE",
            "TITLE_DESC",
            "ANNUALIZED_BASE_COMPENSATION",
            "ANNUALIZED_TOTAL_COMPENSATION",
            "ANNUALIZED_BASE_COMPENSATION_DESC",
            "ANNUALIZED_TOTAL_COMPENSATION_DESC"
          ],
          "description": "Optional.\n\nThe criteria determining how search results are sorted.\nDefaults to SortBy.RELEVANCE_DESC if no value is specified.",
          "type": "string"
        },
        "enableBroadening": {
          "description": "Optional.\n\nControls whether to broaden the search when it produces sparse results.\nBroadened queries append results to the end of the matching results\nlist.\n\nDefaults to false.",
          "type": "boolean"
        },
        "mode": {
          "description": "Required.\n\nMode of a search.",
          "type": "string",
          "enumDescriptions": [
            "The mode of the search method isn't specified.",
            "The job search doesn't include support for featured jobs.",
            "The job search matches only against featured jobs (jobs with a\npromotionValue \u003e 0). This method doesn't return any jobs having a\npromotionValue \u003c= 0. The search results order is determined by the\npromotionValue (jobs with a higher promotionValue are returned higher up in\nthe search results), with relevance being used as a tiebreaker.",
            "Deprecated. Please use the SearchJobsForAlert API.\n\nThe job search matches against jobs suited to email notifications."
          ],
          "enum": [
            "SEARCH_MODE_UNSPECIFIED",
            "JOB_SEARCH",
            "FEATURED_JOB_SEARCH",
            "EMAIL_ALERT_SEARCH"
          ]
        },
        "offset": {
          "description": "Optional.\n\nAn integer that specifies the current offset (that is, starting result location, amongst the jobs deemed by the API as relevant) in\nsearch results. This field is only considered if page_token is unset.\n\nFor example, 0 means to  return results starting from the first matching\njob, and 10 means to return from the 11th job. This can be used for\npagination, (for example, pageSize = 10 and offset = 10 means to return\nfrom the second page).",
          "format": "int32",
          "type": "integer"
        },
        "pageSize": {
          "description": "Optional.\n\nA limit on the number of jobs returned in the search results.\nIncreasing this value above the default value of 10 can increase search\nresponse time. The value can be between 1 and 100.",
          "format": "int32",
          "type": "integer"
        },
        "query": {
          "$ref": "JobQuery",
          "description": "Optional.\n\nQuery used to search against jobs, such as keyword, location filters, etc."
        },
        "disableRelevanceThresholding": {
          "description": "Deprecated. Any value provided in this field is ignored.\n\nOptional.\n\nControls whether to disable relevance thresholding. Relevance\nthresholding removes jobs that have low relevance in search results,\nfor example, removing \"Assistant to the CEO\" positions from the search\nresults of a search for \"CEO\".\n\nDisabling relevance thresholding improves the accuracy of subsequent\nsearch requests.\n\nDefaults to false.",
          "type": "boolean"
        },
        "enablePreciseResultSize": {
          "description": "Optional.\n\nControls if the search job request requires the return of a precise\ncount of the first 300 results. Setting this to `true` ensures\nconsistency in the number of results per page. Best practice is to set this\nvalue to true if a client allows users to jump directly to a\nnon-sequential search results page.\n\nEnabling this flag may adversely impact performance.\n\nDefaults to false.",
          "type": "boolean"
        }
      },
      "id": "SearchJobsRequest"
    },
    "CommutePreference": {
      "description": "Input only.\n\nParameters needed for commute search.",
      "type": "object",
      "properties": {
        "departureHourLocal": {
          "description": "Optional.\n\nThe departure hour to use to calculate traffic impact. Accepts an\ninteger between 0 and 23, representing the hour in the time zone of the\nstart_location. Must not be present if road_traffic is specified.",
          "format": "int32",
          "type": "integer"
        },
        "allowNonStreetLevelAddress": {
          "description": "Optional.\nIf `true`, jobs without street level addresses may also be returned.\nFor city level addresses, the city center is used. For state and coarser\nlevel addresses, text matching is used.\nIf this field is set to `false` or is not specified, only jobs that include\nstreet level addresses will be returned by commute search.",
          "type": "boolean"
        },
        "travelTime": {
          "description": "Required.\n\nThe maximum travel time in seconds. The maximum allowed value is `3600s`\n(one hour). Format is `123s`.",
          "format": "google-duration",
          "type": "string"
        },
        "startLocation": {
          "description": "Required.\n\nThe latitude and longitude of the location from which to calculate the\ncommute time.",
          "$ref": "LatLng"
        },
        "method": {
          "enumDescriptions": [
            "Commute method is not specified.",
            "Commute time is calculated based on driving time.",
            "Commute time is calculated based on public transit including bus, metro,\nsubway, etc."
          ],
          "enum": [
            "COMMUTE_METHOD_UNSPECIFIED",
            "DRIVING",
            "TRANSIT"
          ],
          "description": "Required.\n\nThe method of transportation for which to calculate the commute time.",
          "type": "string"
        },
        "roadTraffic": {
          "enumDescriptions": [
            "Road traffic situation is not specified.",
            "Optimal commute time without considering any traffic impact.",
            "Commute time calculation takes in account the peak traffic impact."
          ],
          "enum": [
            "ROAD_TRAFFIC_UNSPECIFIED",
            "TRAFFIC_FREE",
            "BUSY_HOUR"
          ],
          "description": "Optional.\n\nSpecifies the traffic density to use when caculating commute time.\nMust not be present if departure_hour_local is specified.",
          "type": "string"
        }
      },
      "id": "CommutePreference"
    },
    "CompleteQueryResponse": {
      "description": "Output only.\n\nResponse of auto-complete query.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request\ntracking id."
        },
        "completionResults": {
          "description": "Results of the matching job/company candidates.",
          "type": "array",
          "items": {
            "$ref": "CompletionResult"
          }
        }
      },
      "id": "CompleteQueryResponse"
    },
    "ResponseMetadata": {
      "description": "Output only.\n\nAdditional information returned to client, such as debugging\ninformation.",
      "type": "object",
      "properties": {
        "experimentIdList": {
          "description": "Identifiers for the versions of the search algorithm used during\nthis API invocation if multiple algorithms are used.\nThe default value is empty.\nFor search response only.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "mode": {
          "enumDescriptions": [
            "The mode of the search method isn't specified.",
            "The job search doesn't include support for featured jobs.",
            "The job search matches only against featured jobs (jobs with a\npromotionValue \u003e 0). This method doesn't return any jobs having a\npromotionValue \u003c= 0. The search results order is determined by the\npromotionValue (jobs with a higher promotionValue are returned higher up in\nthe search results), with relevance being used as a tiebreaker.",
            "Deprecated. Please use the SearchJobsForAlert API.\n\nThe job search matches against jobs suited to email notifications."
          ],
          "enum": [
            "SEARCH_MODE_UNSPECIFIED",
            "JOB_SEARCH",
            "FEATURED_JOB_SEARCH",
            "EMAIL_ALERT_SEARCH"
          ],
          "description": "For search response only. Indicates the mode of a performed search.",
          "type": "string"
        },
        "requestId": {
          "description": "A unique id associated with this call.\nThis id is logged for tracking purposes.",
          "type": "string"
        }
      },
      "id": "ResponseMetadata"
    },
    "NumericBucketingResult": {
      "properties": {
        "counts": {
          "type": "array",
          "items": {
            "$ref": "BucketizedCount"
          },
          "description": "Count within each bucket. Its size is the length of\nNumericBucketingOption.bucket_bounds plus 1."
        },
        "minValue": {
          "description": "Stores the minimum value of the numeric field. Will be populated only if\n[NumericBucketingOption.requires_min_max] is set to true.",
          "format": "double",
          "type": "number"
        },
        "maxValue": {
          "description": "Stores the maximum value of the numeric field. Will be populated only if\n[NumericBucketingOption.requires_min_max] is set to true.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "NumericBucketingResult",
      "description": "Output only.\n\nCustom numeric bucketing result.",
      "type": "object"
    },
    "CompanyInfoSource": {
      "type": "object",
      "properties": {
        "freebaseMid": {
          "type": "string",
          "description": "Optional.\n\nThe Google's Knowledge Graph value for the employer's company."
        },
        "mapsCid": {
          "description": "Optional.\n\nThe numeric identifier for the employer's headquarters on Google Maps,\nnamely, the Google Maps CID (cell id).",
          "type": "string"
        },
        "gplusId": {
          "description": "Optional.\n\nThe numeric identifier for the employer's Google+ business page.",
          "type": "string"
        },
        "unknownTypeId": {
          "description": "Optional.\n\nA Google identifier that does not match any of the other types.",
          "type": "string"
        }
      },
      "id": "CompanyInfoSource",
      "description": "A resource that represents an external  Google identifier for a company,\nfor example, a Google+ business page or a Google Maps business page.\nFor unsupported types, use `unknown_type_id`."
    },
    "MatchingJob": {
      "description": "Output only.\n\nJob entry with metadata inside SearchJobsResponse.",
      "type": "object",
      "properties": {
        "jobSummary": {
          "description": "A summary of the job with core information that's displayed on the search\nresults listing page.",
          "type": "string"
        },
        "jobTitleSnippet": {
          "description": "Contains snippets of text from the Job.job_title field most\nclosely matching a search query's keywords, if available. The matching query\nkeywords are enclosed in HTML bold tags.",
          "type": "string"
        },
        "commuteInfo": {
          "$ref": "CommuteInfo",
          "description": "Commute information which is generated based on specified\n CommutePreference."
        },
        "job": {
          "$ref": "Job",
          "description": "Job resource that matches the specified SearchJobsRequest."
        },
        "searchTextSnippet": {
          "description": "Contains snippets of text from the Job.description and similar\nfields that most closely match a search query's keywords, if available.\nAll HTML tags in the original fields are stripped when returned in this\nfield, and matching query keywords are enclosed in HTML bold tags.",
          "type": "string"
        }
      },
      "id": "MatchingJob"
    },
    "LatLng": {
      "description": "An object representing a latitude/longitude pair. This is expressed as a pair\nof doubles representing degrees latitude and degrees longitude. Unless\nspecified otherwise, this must conform to the\n\u003ca href=\"http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf\"\u003eWGS84\nstandard\u003c/a\u003e. Values must be within normalized ranges.",
      "type": "object",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        }
      },
      "id": "LatLng"
    },
    "DeviceInfo": {
      "description": "Input only.\n\nDevice information collected from the job seeker, candidate, or\nother entity conducting the job search. Providing this information improves\nthe quality of the search results across devices.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Optional.\n\nA device-specific ID. The ID must be a unique identifier that distinguishes\nthe device from other devices.",
          "type": "string"
        },
        "deviceType": {
          "enumDescriptions": [
            "The device type isn't specified.",
            "A desktop web browser, such as, Chrome, Firefox, Safari, or Internet\nExplorer)",
            "A mobile device web browser, such as a phone or tablet with a Chrome\nbrowser.",
            "An Android device native application.",
            "An iOS device native application.",
            "A bot, as opposed to a device operated by human beings, such as a web crawler.",
            "Other devices types."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "WEB",
            "MOBILE_WEB",
            "ANDROID",
            "IOS",
            "BOT",
            "OTHER"
          ],
          "description": "Optional.\n\nType of the device.",
          "type": "string"
        }
      },
      "id": "DeviceInfo"
    },
    "JobLocation": {
      "id": "JobLocation",
      "description": "Output only.\n\nA resource that represents a location with full geographic\ninformation.",
      "type": "object",
      "properties": {
        "radiusMeters": {
          "description": "Radius in meters of the job location. This value is derived from the\nlocation bounding box in which a circle with the specified radius\ncentered from LatLng coves the area associated with the job location.\nFor example, currently, \"Mountain View, CA, USA\" has a radius of\n7885.79 meters.",
          "format": "double",
          "type": "number"
        },
        "latLng": {
          "$ref": "LatLng",
          "description": "An object representing a latitude/longitude pair."
        },
        "locationType": {
          "enumDescriptions": [
            "Default value if the type is not specified.",
            "A country level location.",
            "A state or equivalent level location.",
            "A county or equivalent level location.",
            "A city or equivalent level location.",
            "A postal code level location.",
            "A sublocality is a subdivision of a locality, for example a city borough,\nward, or arrondissement. Sublocalities are usually recognized by a local\npolitical authority. For example, Manhattan and Brooklyn are recognized\nas boroughs by the City of New York, and are therefore modeled as\nsublocalities.",
            "A district or equivalent level location.",
            "A smaller district or equivalent level display.",
            "A neighborhood level location.",
            "A street address level location."
          ],
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "COUNTRY",
            "ADMINISTRATIVE_AREA",
            "SUB_ADMINISTRATIVE_AREA",
            "LOCALITY",
            "POSTAL_CODE",
            "SUB_LOCALITY",
            "SUB_LOCALITY_1",
            "SUB_LOCALITY_2",
            "NEIGHBORHOOD",
            "STREET_ADDRESS"
          ],
          "description": "The type of a location, which corresponds to the address lines field of\nPostalAddress. For example, \"Downtown, Atlanta, GA, USA\" has a type of\nLocationType#NEIGHBORHOOD, and \"Kansas City, KS, USA\" has a type of\nLocationType#LOCALITY.",
          "type": "string"
        },
        "postalAddress": {
          "$ref": "PostalAddress",
          "description": "Postal address of the location that includes human readable information,\nsuch as postal delivery and payments addresses. Given a postal address,\na postal service can deliver items to a premises, P.O. Box, or other\ndelivery location."
        }
      }
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The 3-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "units": {
          "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "LocationFilter": {
      "description": "Input only.\n\nGeographic region of the search.",
      "type": "object",
      "properties": {
        "distanceInMiles": {
          "description": "Optional.\n\n\nThe distance_in_miles is applied when the location being searched for is\nidentified as a city or smaller. When the location being searched for is a\nstate or larger, this field is ignored.",
          "format": "double",
          "type": "number"
        },
        "isTelecommute": {
          "description": "Optional.\n\nAllows the client to return jobs without a\nset location, specifically, telecommuting jobs (telecomuting is considered\nby the service as a special location.\nJob.allow_telecommute indicates if a job permits telecommuting.\nIf this field is true, telecommuting jobs are searched, and\nname and lat_lng are\nignored.\nThis filter can be used by itself to search exclusively for telecommuting\njobs, or it can be combined with another location\nfilter to search for a combination of job locations,\nsuch as \"Mountain View\" or \"telecommuting\" jobs. However, when used in\ncombination with other location filters, telecommuting jobs can be\ntreated as less relevant than other jobs in the search response.",
          "type": "boolean"
        },
        "name": {
          "description": "Optional.\n\nThe address name, such as \"Mountain View\" or \"Bay Area\".",
          "type": "string"
        },
        "latLng": {
          "$ref": "LatLng",
          "description": "Optional.\n\nThe latitude and longitude of the geographic center from which to\nsearch. This field is ignored if `location_name` is provided."
        },
        "regionCode": {
          "description": "Optional.\n\nCLDR region code of the country/region of the address. This will be used\nto address ambiguity of the user-input location, e.g. \"Liverpool\"\nagainst \"Liverpool, NY, US\" or \"Liverpool, UK\".\n\nSet this field if all the jobs to search against are from a same region,\nor jobs are world-wide but the job seeker is from a specific region.\n\nSee http://cldr.unicode.org/ and\nhttp://www.unicode.org/cldr/charts/30/supplemental/territory_information.html\nfor details. Example: \"CH\" for Switzerland.",
          "type": "string"
        }
      },
      "id": "LocationFilter"
    },
    "HistogramResults": {
      "description": "Output only.\n\nHistogram results that matches HistogramFacets specified in\nSearchJobsRequest.",
      "type": "object",
      "properties": {
        "simpleHistogramResults": {
          "type": "array",
          "items": {
            "$ref": "HistogramResult"
          },
          "description": "Specifies histogram results that matches\nHistogramFacets.simple_histogram_facets."
        },
        "customAttributeHistogramResults": {
          "description": "Specifies histogram results for custom attributes that\nmatches HistogramFacets.custom_attribute_histogram_facets.",
          "type": "array",
          "items": {
            "$ref": "CustomAttributeHistogramResult"
          }
        },
        "compensationHistogramResults": {
          "type": "array",
          "items": {
            "$ref": "CompensationHistogramResult"
          },
          "description": "Specifies compensation field-based histogram results that matches\nHistogramFacets.compensation_histogram_requests."
        }
      },
      "id": "HistogramResults"
    },
    "CustomFieldFilter": {
      "description": "Input only.\n\nCustom field filter of the search.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value.",
            "Search for a match with any query.",
            "Search for a match with all queries.",
            "Negate the set of filter values for the search."
          ],
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "OR",
            "AND",
            "NOT"
          ],
          "description": "Optional.\n\nThe type of filter.\nDefaults to FilterType.OR.",
          "type": "string"
        },
        "queries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required.\n\nThe query strings for the filter."
        }
      },
      "id": "CustomFieldFilter"
    },
    "NumericBucketingOption": {
      "description": "Input only.\n\nUse this field to specify bucketing option for the histogram search response.",
      "type": "object",
      "properties": {
        "requiresMinMax": {
          "type": "boolean",
          "description": "Optional.\n\nIf set to true, the histogram result includes minimum/maximum\nvalue of the numeric field."
        },
        "bucketBounds": {
          "description": "Required.\n\nTwo adjacent values form a histogram bucket. Values should be in\nascending order. For example, if [5, 10, 15] are provided, four buckets are\ncreated: (-inf, 5), 5, 10), [10, 15), [15, inf). At most 20\n[buckets_bound is supported.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "id": "NumericBucketingOption"
    },
    "ExtendedCompensationInfoDecimal": {
      "description": "Deprecated. See CompensationInfo.\n\nDecimal number.",
      "type": "object",
      "properties": {
        "micros": {
          "description": "Micro (10^-6) units.\nThe value must be between -999,999 and +999,999 inclusive.\nIf `units` is positive, `micros` must be positive or zero.\nIf `units` is zero, `micros` can be positive, zero, or negative.\nIf `units` is negative, `micros` must be negative or zero.\nFor example -1.75 is represented as `units`=-1 and `micros`=-750,000.",
          "format": "int32",
          "type": "integer"
        },
        "units": {
          "description": "Whole units.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ExtendedCompensationInfoDecimal"
    },
    "CreateJobRequest": {
      "description": "Input only.\n\nCreate job request.",
      "type": "object",
      "properties": {
        "job": {
          "description": "Required.\n\nThe Job to be created.",
          "$ref": "Job"
        },
        "disableStreetAddressResolution": {
          "description": "Deprecated. Please use processing_options. This flag is ignored if\nprocessing_options is set.\n\nOptional.\n\nIf set to `true`, the service does not attempt to resolve a\nmore precise address for the job.",
          "type": "boolean"
        },
        "processingOptions": {
          "$ref": "JobProcessingOptions",
          "description": "Optional.\n\nOptions for job processing."
        }
      },
      "id": "CreateJobRequest"
    },
    "SpellingCorrection": {
      "description": "Output only.\n\nSpell check result.",
      "type": "object",
      "properties": {
        "correctedText": {
          "description": "Correction output consisting of the corrected keyword string.",
          "type": "string"
        },
        "corrected": {
          "type": "boolean",
          "description": "Indicates if the query was corrected by the spell checker."
        }
      },
      "id": "SpellingCorrection"
    },
    "GetHistogramResponse": {
      "description": "Deprecated. Use SearchJobsRequest.histogram_facets instead to make\na single call with both search and histogram.\n\nOutput only.\n\nThe response of the GetHistogram method.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request\ntracking id."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "HistogramResult"
          },
          "description": "The Histogram results."
        }
      },
      "id": "GetHistogramResponse"
    },
    "Date": {
      "description": "Represents a whole calendar date, for example date of birth. The time of day\nand time zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. The day can be 0 to\nrepresent a year and month where the day is not significant, for example\ncredit card expiration date. The year can be 0 to represent a month and day\nindependent of year, for example anniversary date. Related types are\ngoogle.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a date without a\nmonth.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date"
    },
    "Filter": {
      "description": "Deprecated. Use BatchDeleteJobsRequest instead.\n\nInput only.\n\nFilter for jobs to be deleted.",
      "type": "object",
      "properties": {
        "requisitionId": {
          "description": "Required.\n\nThe requisition ID (or posting ID) assigned by the client to identify a\njob. This is intended for client identification and tracking of\nlistings.\nname takes precedence over this field\nThe maximum number of allowed characters is 225.",
          "type": "string"
        }
      },
      "id": "Filter"
    },
    "DeleteJobsByFilterRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "$ref": "Filter",
          "description": "Required.\n\nRestrictions on the scope of the delete request."
        },
        "disableFastProcess": {
          "description": "Optional.\n\nIf set to true, this call waits for all processing steps to complete\nbefore the job is cleaned up. Otherwise, the call returns while some\nsteps are still taking place asynchronously, hence faster.",
          "type": "boolean"
        }
      },
      "id": "DeleteJobsByFilterRequest",
      "description": "Deprecated. Use BatchDeleteJobsRequest instead.\n\nInput only.\n\nDelete job by filter request.\n\nThe job typically becomes unsearchable within 10 seconds, but it may take\nup to 5 minutes."
    },
    "ExtendedCompensationInfo": {
      "description": "Deprecated. Use CompensationInfo.\n\nDescribes job compensation.",
      "type": "object",
      "properties": {
        "annualizedBaseCompensationUnspecified": {
          "description": "Output only.\n\nIndicates annualized base compensation range cannot be derived, due to\nthe job's base compensation entry cannot be annualized.\nSee CompensationEntry for explanation on annualization and base\ncompensation entry.",
          "type": "boolean"
        },
        "currency": {
          "description": "Optional.\n\nA 3-letter [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html)\ncurrency code.",
          "type": "string"
        },
        "annualizedTotalCompensationRange": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Output only.\n\nAnnualized total compensation range."
        },
        "entries": {
          "description": "Optional.\n\nJob compensation information.\n\nAt most one entry can be of type\nExtendedCompensationInfo.CompensationType.BASE, which is\nreferred as ** base compensation entry ** for the job.",
          "type": "array",
          "items": {
            "$ref": "ExtendedCompensationInfoCompensationEntry"
          }
        },
        "annualizedTotalCompensationUnspecified": {
[...]
