{
  "basePath": "",
  "revision": "20190907",
  "documentationLink": "https://cloud.google.com/monitoring/api/",
  "id": "monitoring:v3",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "CollectdValue": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "TypedValue",
          "description": "The measurement value."
        },
        "dataSourceType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified data source type. This corresponds to google.api.MetricDescriptor.MetricKind.METRIC_KIND_UNSPECIFIED.",
            "An instantaneous measurement of a varying quantity. This corresponds to google.api.MetricDescriptor.MetricKind.GAUGE.",
            "A cumulative value over time. This corresponds to google.api.MetricDescriptor.MetricKind.CUMULATIVE.",
            "A rate of change of the measurement.",
            "An amount of change since the last measurement interval. This corresponds to google.api.MetricDescriptor.MetricKind.DELTA."
          ],
          "enum": [
            "UNSPECIFIED_DATA_SOURCE_TYPE",
            "GAUGE",
            "COUNTER",
            "DERIVE",
            "ABSOLUTE"
          ],
          "description": "The type of measurement."
        },
        "dataSourceName": {
          "description": "The data source for the collectd value. For example there are two data sources for network measurements: \"rx\" and \"tx\".",
          "type": "string"
        }
      },
      "id": "CollectdValue",
      "description": "A single data point from a collectd-based plugin."
    },
    "SourceContext": {
      "type": "object",
      "properties": {
        "fileName": {
          "description": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: \"google/protobuf/source_context.proto\".",
          "type": "string"
        }
      },
      "id": "SourceContext",
      "description": "SourceContext represents information about the source of a protobuf element, like the file in which it is defined."
    },
    "MetricDescriptor": {
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit in which the metric value is reported. It is only applicable if the value_type is INT64, DOUBLE, or DISTRIBUTION. The supported units are a subset of The Unified Code for Units of Measure (http://unitsofmeasure.org/ucum.html) standard:Basic units (UNIT)\nbit bit\nBy byte\ns second\nmin minute\nh hour\nd dayPrefixes (PREFIX)\nk kilo (10**3)\nM mega (10**6)\nG giga (10**9)\nT tera (10**12)\nP peta (10**15)\nE exa (10**18)\nZ zetta (10**21)\nY yotta (10**24)\nm milli (10**-3)\nu micro (10**-6)\nn nano (10**-9)\np pico (10**-12)\nf femto (10**-15)\na atto (10**-18)\nz zepto (10**-21)\ny yocto (10**-24)\nKi kibi (2**10)\nMi mebi (2**20)\nGi gibi (2**30)\nTi tebi (2**40)GrammarThe grammar also includes these connectors:\n/ division (as an infix operator, e.g. 1/s).\n. multiplication (as an infix operator, e.g. GBy.d)The grammar for a unit is as follows:\nExpression = Component { \".\" Component } { \"/\" Component } ;\n\nComponent = ( [ PREFIX ] UNIT | \"%\" ) [ Annotation ]\n          | Annotation\n          | \"1\"\n          ;\n\nAnnotation = \"{\" NAME \"}\" ;\nNotes:\nAnnotation is just a comment if it follows a UNIT and is  equivalent to 1 if it is used alone. For examples,  {requests}/s == 1/s, By{transmitted}/s == By/s.\nNAME is a sequence of non-blank printable ASCII characters not  containing '{' or '}'.\n1 represents dimensionless value 1, such as in 1/s.\n% represents dimensionless value 1/100, and annotates values giving  a percentage."
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "LabelDescriptor"
          },
          "description": "The set of labels that can be used to describe a specific instance of this metric type. For example, the appengine.googleapis.com/http/server/response_latencies metric type has a label for the HTTP response code, response_code, so you can look at latencies for successful responses or just for responses that failed."
        },
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "Optional. The launch stage of the metric definition.",
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects whitelisted. Alpha releases don’t have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the “Deprecation Policy” section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ]
        },
        "name": {
          "description": "The resource name of the metric descriptor.",
          "type": "string"
        },
        "metadata": {
          "$ref": "MetricDescriptorMetadata",
          "description": "Optional. Metadata which can be used to guide usage of the metric."
        },
        "type": {
          "description": "The metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined metric types have the DNS name custom.googleapis.com or external.googleapis.com. Metric types should use a natural hierarchical grouping. For example:\n\"custom.googleapis.com/invoice/paid/amount\"\n\"external.googleapis.com/prometheus/up\"\n\"appengine.googleapis.com/http/server/response_latencies\"\n",
          "type": "string"
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is GAUGE.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is GAUGE.",
            "The value is a Distribution.",
            "The value is money."
          ],
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ],
          "description": "Whether the measurement is an integer, a floating-point number, etc. Some combinations of metric_kind and value_type might not be supported."
        },
        "metricKind": {
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ],
          "description": "Whether the metric records instantaneous values, changes to a value, etc. Some combinations of metric_kind and value_type might not be supported.",
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ]
        },
        "description": {
          "type": "string",
          "description": "A detailed description of the metric, which can be used in documentation."
        },
        "displayName": {
          "type": "string",
          "description": "A concise name for the metric, which can be displayed in user interfaces. Use sentence case without an ending period, for example \"Request count\". This field is optional but it is recommended to be set for any metrics associated with user-visible concepts, such as Quota."
        }
      },
      "id": "MetricDescriptor",
      "description": "Defines a metric type and its schema. Once a metric descriptor is created, deleting or altering it stops data collection and makes the metric type's existing data unusable."
    },
    "ListGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
          "type": "string"
        },
        "group": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The groups that match the specified filters."
        }
      },
      "id": "ListGroupsResponse",
      "description": "The ListGroups response."
    },
    "CreateCollectdTimeSeriesRequest": {
      "description": "The CreateCollectdTimeSeries request.",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "MonitoredResource",
          "description": "The monitored resource associated with the time series."
        },
        "collectdPayloads": {
          "type": "array",
          "items": {
            "$ref": "CollectdPayload"
          },
          "description": "The collectd payloads representing the time series data. You must not include more than a single point for each time series, so no two payloads can have the same values for all of the fields plugin, plugin_instance, type, and type_instance."
        },
        "collectdVersion": {
          "type": "string",
          "description": "The version of collectd that collected the data. Example: \"5.3.0-192.el6\"."
        }
      },
      "id": "CreateCollectdTimeSeriesRequest"
    },
    "ListGroupMembersResponse": {
      "description": "The ListGroupMembers response.",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "$ref": "MonitoredResource"
          },
          "description": "A set of monitored resources in the group."
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of elements matching this request.",
          "format": "int32"
        }
      },
      "id": "ListGroupMembersResponse"
    },
    "NotificationChannel": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Configuration fields that define the channel and its behavior. The permissible and required labels are specified in the NotificationChannelDescriptor.labels of the NotificationChannelDescriptor corresponding to the type field.",
          "type": "object"
        },
        "name": {
          "description": "The full REST resource name for this channel. The syntax is:\nprojects/[PROJECT_ID]/notificationChannels/[CHANNEL_ID]\nThe [CHANNEL_ID] is automatically assigned by the server on creation.",
          "type": "string"
        },
        "verificationStatus": {
          "enum": [
            "VERIFICATION_STATUS_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED"
          ],
          "description": "Indicates whether this channel has been verified or not. On a ListNotificationChannels or GetNotificationChannel operation, this field is expected to be populated.If the value is UNVERIFIED, then it indicates that the channel is non-functioning (it both requires verification and lacks verification); otherwise, it is assumed that the channel works.If the channel is neither VERIFIED nor UNVERIFIED, it implies that the channel is of a type that does not require verification or that this specific channel has been exempted from verification because it was created prior to verification being required for channels of this type.This field cannot be modified using a standard UpdateNotificationChannel operation. To change the value of this field, you must call VerifyNotificationChannel.",
          "type": "string",
          "enumDescriptions": [
            "Sentinel value used to indicate that the state is unknown, omitted, or is not applicable (as in the case of channels that neither support nor require verification in order to function).",
            "The channel has yet to be verified and requires verification to function. Note that this state also applies to the case where the verification process has been initiated by sending a verification code but where the verification code has not been submitted to complete the process.",
            "It has been proven that notifications can be received on this notification channel and that someone on the project has access to messages that are delivered to that channel."
          ]
        },
        "type": {
          "type": "string",
          "description": "The type of the notification channel. This field matches the value of the NotificationChannelDescriptor.type field."
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-supplied key/value data that does not need to conform to the corresponding NotificationChannelDescriptor's schema, unlike the labels field. This field is intended to be used for organizing and identifying the NotificationChannel objects.The field can contain up to 64 entries. Each key and value is limited to 63 Unicode characters or 128 bytes, whichever is smaller. Labels and values can contain only lowercase letters, numerals, underscores, and dashes. Keys must begin with a letter.",
          "type": "object"
        },
        "description": {
          "description": "An optional human-readable description of this notification channel. This description may provide additional details, beyond the display name, for the channel. This may not exceed 1024 Unicode characters.",
          "type": "string"
        },
        "displayName": {
          "description": "An optional human-readable name for this notification channel. It is recommended that you specify a non-empty and unique name in order to make it easier to identify the channels in your project, though this is not enforced. The display name is limited to 512 Unicode characters.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether notifications are forwarded to the described channel. This makes it possible to disable delivery of notifications to a particular channel without removing the channel from all alerting policies that reference the channel. This is a more convenient approach when the change is temporary and you want to receive notifications from the same set of alerting policies on the channel at some point in the future."
        }
      },
      "id": "NotificationChannel",
      "description": "A NotificationChannel is a medium through which an alert is delivered when a policy violation is detected. Examples of channels include email, SMS, and third-party messaging applications. Fields containing sensitive information like authentication tokens or contact info are only partially populated on retrieval."
    },
    "ListMonitoredResourceDescriptorsResponse": {
      "type": "object",
      "properties": {
        "resourceDescriptors": {
          "description": "The monitored resource descriptors that are available to this project and that match filter, if present.",
          "type": "array",
          "items": {
            "$ref": "MonitoredResourceDescriptor"
          }
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
          "type": "string"
        }
      },
      "id": "ListMonitoredResourceDescriptorsResponse",
      "description": "The ListMonitoredResourceDescriptors response."
    },
    "SpanContext": {
      "description": "The context of a span, attached to google.api.Distribution.Exemplars in google.api.Distribution values during aggregation.It contains the name of a span with format:  projects/PROJECT_ID/traces/TRACE_ID/spans/SPAN_ID",
      "type": "object",
      "properties": {
        "spanName": {
          "type": "string",
          "description": "The resource name of the span in the following format:\nprojects/[PROJECT_ID]/traces/[TRACE_ID]/spans/[SPAN_ID]\nTRACE_ID is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array.SPAN_ID is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array."
        }
      },
      "id": "SpanContext"
    },
    "TimeSeries": {
      "description": "A collection of data points that describes the time-varying values of a metric. A time series is identified by a combination of a fully-specified monitored resource and a fully-specified metric. This type is used for both listing and creating time series.",
      "type": "object",
      "properties": {
        "metricKind": {
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ],
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ],
          "description": "The metric kind of the time series. When listing time series, this metric kind might be different from the metric kind of the associated metric if this time series is an alignment or reduction of other time series.When creating a time series, this field is optional. If present, it must be the same as the metric kind of the associated metric. If the associated metric's descriptor must be auto-created, then this field specifies the metric kind of the new descriptor and must be either GAUGE (the default) or CUMULATIVE."
        },
        "points": {
          "type": "array",
          "items": {
            "$ref": "Point"
          },
          "description": "The data points of this time series. When listing time series, points are returned in reverse time order.When creating a time series, this field must contain exactly one point and the point's type must be the same as the value type of the associated metric. If the associated metric's descriptor must be auto-created, then the value type of the descriptor is determined by the point's type, which must be BOOL, INT64, DOUBLE, or DISTRIBUTION."
        },
        "metric": {
          "$ref": "Metric",
          "description": "The associated metric. A fully-specified metric used to identify the time series."
        },
        "resource": {
          "$ref": "MonitoredResource",
          "description": "The associated monitored resource. Custom metrics can use only certain monitored resource types in their time series data."
        },
        "metadata": {
          "$ref": "MonitoredResourceMetadata",
          "description": "Output only. The associated monitored resource metadata. When reading a a timeseries, this field will include metadata labels that are explicitly named in the reduction. When creating a timeseries, this field is ignored."
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is GAUGE.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is GAUGE.",
            "The value is a Distribution.",
            "The value is money."
          ],
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ],
          "description": "The value type of the time series. When listing time series, this value type might be different from the value type of the associated metric if this time series is an alignment or reduction of other time series.When creating a time series, this field is optional. If present, it must be the same as the type of the data in the points field."
        }
      },
      "id": "TimeSeries"
    },
    "MonitoredResource": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is gce_instance. For a list of types, see Monitoring resource types and Logging resource types.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\", and \"zone\".",
          "type": "object"
        }
      },
      "id": "MonitoredResource",
      "description": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for \"gce_instance\" has labels \"instance_id\" and \"zone\":\n{ \"type\": \"gce_instance\",\n  \"labels\": { \"instance_id\": \"12345678901234\",\n              \"zone\": \"us-central1-a\" }}\n"
    },
    "ListMetricDescriptorsResponse": {
      "type": "object",
      "properties": {
        "metricDescriptors": {
          "description": "The metric descriptors that are available to the project and that match the value of filter, if present.",
          "type": "array",
          "items": {
            "$ref": "MetricDescriptor"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method."
        }
      },
      "id": "ListMetricDescriptorsResponse",
      "description": "The ListMetricDescriptors response."
    },
    "CollectdPayloadError": {
      "type": "object",
      "properties": {
        "index": {
          "description": "The zero-based index in CreateCollectdTimeSeriesRequest.collectd_payloads.",
          "format": "int32",
          "type": "integer"
        },
        "error": {
          "$ref": "Status",
          "description": "Records the error status for the payload. If this field is present, the partial errors for nested values won't be populated."
        },
        "valueErrors": {
          "type": "array",
          "items": {
            "$ref": "CollectdValueError"
          },
          "description": "Records the error status for values that were not written due to an error.Failed payloads for which nothing is written will not include partial value errors."
        }
      },
      "id": "CollectdPayloadError",
      "description": "Describes the error status for payloads that were not written."
    },
    "MonitoredResourceDescriptor": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, \"Google Cloud SQL Database\".",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A detailed description of the monitored resource type that might be used in documentation."
        },
        "launchStage": {
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects whitelisted. Alpha releases don’t have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the “Deprecation Policy” section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "Optional. The launch stage of the monitored resource definition."
        },
        "labels": {
          "description": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels \"database_id\" and \"zone\".",
          "type": "array",
          "items": {
            "$ref": "LabelDescriptor"
          }
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the monitored resource descriptor: \"projects/{project_id}/monitoredResourceDescriptors/{type}\" where {type} is the value of the type field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format \"monitoredResourceDescriptors/{type}\"."
        },
        "type": {
          "description": "Required. The monitored resource type. For example, the type \"cloudsql_database\" represents databases in Google Cloud SQL. The maximum length of this value is 256 characters.",
          "type": "string"
        }
      },
      "id": "MonitoredResourceDescriptor",
      "description": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of \"gce_instance\" and specifies the use of the labels \"instance_id\" and \"zone\" to identify particular VM instances.Different APIs can support different monitored resource types. APIs generally provide a list method that returns the monitored resource descriptors used by the API."
    },
    "ResourceGroup": {
      "description": "The resource submessage for group checks. It can be used instead of a monitored resource, when multiple resources are being monitored.",
      "type": "object",
      "properties": {
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "INSTANCE",
            "AWS_ELB_LOAD_BALANCER"
          ],
          "description": "The resource type of the group members.",
          "type": "string",
          "enumDescriptions": [
            "Default value (not valid).",
            "A group of instances from Google Cloud Platform (GCP) or Amazon Web Services (AWS).",
            "A group of Amazon ELB load balancers."
          ]
        },
        "groupId": {
          "type": "string",
          "description": "The group of resources being monitored. Should be only the [GROUP_ID], and not the full-path projects/[PROJECT_ID]/groups/[GROUP_ID]."
        }
      },
      "id": "ResourceGroup"
    },
    "UptimeCheckIp": {
      "description": "Contains the region, location, and list of IP addresses where checkers in the location run from.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "The IP address from which the Uptime check originates. This is a fully specified IP address (not an IP address range). Most IP addresses, as of this publication, are in IPv4 format; however, one should not rely on the IP addresses being in IPv4 format indefinitely, and should support interpreting this field in either IPv4 or IPv6 format.",
          "type": "string"
        },
        "region": {
          "enum": [
            "REGION_UNSPECIFIED",
            "USA",
            "EUROPE",
            "SOUTH_AMERICA",
            "ASIA_PACIFIC"
          ],
          "description": "A broad region category in which the IP address is located.",
          "type": "string",
          "enumDescriptions": [
            "Default value if no region is specified. Will result in Uptime checks running from all regions.",
            "Allows checks to run from locations within the United States of America.",
            "Allows checks to run from locations within the continent of Europe.",
            "Allows checks to run from locations within the continent of South America.",
            "Allows checks to run from locations within the Asia Pacific area (ex: Singapore)."
          ]
        },
        "location": {
          "type": "string",
          "description": "A more specific location within the region that typically encodes a particular city/town/metro (and its containing state/province or country) within the broader umbrella region category."
        }
      },
      "id": "UptimeCheckIp"
    },
    "CollectdValueError": {
      "description": "Describes the error status for values that were not written.",
      "type": "object",
      "properties": {
        "index": {
          "type": "integer",
          "description": "The zero-based index in CollectdPayload.values within the parent CreateCollectdTimeSeriesRequest.collectd_payloads.",
          "format": "int32"
        },
        "error": {
          "$ref": "Status",
          "description": "Records the error status for the value."
        }
      },
      "id": "CollectdValueError"
    },
    "Linear": {
      "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): offset + (width * i).  Lower bound (1 \u003c= i \u003c N): offset + (width * (i - 1)).",
      "type": "object",
      "properties": {
        "width": {
          "type": "number",
          "description": "Must be greater than 0.",
          "format": "double"
        },
        "offset": {
          "description": "Lower bound of the first bucket.",
          "format": "double",
          "type": "number"
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Linear"
    },
    "ListNotificationChannelDescriptorsResponse": {
      "description": "The ListNotificationChannelDescriptors response.",
      "type": "object",
      "properties": {
        "channelDescriptors": {
          "type": "array",
          "items": {
            "$ref": "NotificationChannelDescriptor"
          },
          "description": "The monitored resource descriptors supported for the specified project, optionally filtered."
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more results that match the request. Use the value in the page_token field in a subsequent request to fetch the next set of results. If empty, all results have been returned.",
          "type": "string"
        }
      },
      "id": "ListNotificationChannelDescriptorsResponse"
    },
    "SendNotificationChannelVerificationCodeRequest": {
      "description": "The SendNotificationChannelVerificationCode request.",
      "type": "object",
      "properties": {},
      "id": "SendNotificationChannelVerificationCodeRequest"
    },
    "VerifyNotificationChannelRequest": {
      "description": "The VerifyNotificationChannel request.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The verification code that was delivered to the channel as a result of invoking the SendNotificationChannelVerificationCode API method or that was retrieved from a verified channel via GetNotificationChannelVerificationCode. For example, one might have \"G-123456\" or \"TKNZGhhd2EyN3I1MnRnMjRv\" (in general, one is only guaranteed that the code is valid UTF-8; one should not make any assumptions regarding the structure or format of the code).",
          "type": "string"
        }
      },
      "id": "VerifyNotificationChannelRequest"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance:\nservice Foo {\n  rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n}\nThe JSON representation for Empty is empty JSON object {}.",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "MetricThreshold": {
      "type": "object",
      "properties": {
        "duration": {
          "type": "string",
          "description": "The amount of time that a time series must violate the threshold to be considered failing. Currently, only values that are a multiple of a minute--e.g., 0, 60, 120, or 300 seconds--are supported. If an invalid value is given, an error will be returned. When choosing a duration, it is useful to keep in mind the frequency of the underlying time series data (which may also be affected by any alignments specified in the aggregations field); a good duration is long enough so that a single outlier does not generate spurious alerts, but short enough that unhealthy states are detected and alerted on quickly.",
          "format": "google-duration"
        },
        "filter": {
          "type": "string",
          "description": "A filter that identifies which time series should be compared with the threshold.The filter is similar to the one that is specified in the MetricService.ListTimeSeries request (that call is useful to verify the time series that will be retrieved / processed) and must specify the metric type and optionally may contain restrictions on resource type, resource labels, and metric labels. This field may not exceed 2048 Unicode characters in length."
        },
        "denominatorFilter": {
          "type": "string",
          "description": "A filter that identifies a time series that should be used as the denominator of a ratio that will be compared with the threshold. If a denominator_filter is specified, the time series specified by the filter field will be used as the numerator.The filter is similar to the one that is specified in the MetricService.ListTimeSeries request (that call is useful to verify the time series that will be retrieved / processed) and must specify the metric type and optionally may contain restrictions on resource type, resource labels, and metric labels. This field may not exceed 2048 Unicode characters in length."
        },
        "denominatorAggregations": {
          "description": "Specifies the alignment of data points in individual time series selected by denominatorFilter as well as how to combine the retrieved time series together (such as when aggregating multiple streams on each resource to a single stream for each resource or when aggregating streams across all members of a group of resources).When computing ratios, the aggregations and denominator_aggregations fields must use the same alignment period and produce time series that have the same periodicity and labels.This field is similar to the one in the MetricService.ListTimeSeries request. It is advisable to use the ListTimeSeries method when debugging this field.",
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          }
        },
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Specifies the alignment of data points in individual time series as well as how to combine the retrieved time series together (such as when aggregating multiple streams on each resource to a single stream for each resource or when aggregating streams across all members of a group of resrouces). Multiple aggregations are applied in the order specified.This field is similar to the one in the MetricService.ListTimeSeries request. It is advisable to use the ListTimeSeries method when debugging this field."
        },
        "comparison": {
          "enum": [
            "COMPARISON_UNSPECIFIED",
            "COMPARISON_GT",
            "COMPARISON_GE",
            "COMPARISON_LT",
            "COMPARISON_LE",
            "COMPARISON_EQ",
            "COMPARISON_NE"
          ],
          "description": "The comparison to apply between the time series (indicated by filter and aggregation) and the threshold (indicated by threshold_value). The comparison is applied on each time series, with the time series on the left-hand side and the threshold on the right-hand side.Only COMPARISON_LT and COMPARISON_GT are supported currently.",
          "type": "string",
          "enumDescriptions": [
            "No ordering relationship is specified.",
            "The left argument is greater than the right argument.",
            "The left argument is greater than or equal to the right argument.",
            "The left argument is less than the right argument.",
            "The left argument is less than or equal to the right argument.",
            "The left argument is equal to the right argument.",
            "The left argument is not equal to the right argument."
          ]
        },
        "trigger": {
          "$ref": "Trigger",
          "description": "The number/percent of time series for which the comparison must hold in order for the condition to trigger. If unspecified, then the condition will trigger if the comparison is true for any of the time series that have been identified by filter and aggregations, or by the ratio, if denominator_filter and denominator_aggregations are specified."
        },
        "thresholdValue": {
          "type": "number",
          "description": "A value against which to compare the time series.",
          "format": "double"
        }
      },
      "id": "MetricThreshold",
      "description": "A condition type that compares a collection of time series against a threshold."
    },
    "MutationRecord": {
      "description": "Describes a change made to a configuration.",
      "type": "object",
      "properties": {
        "mutateTime": {
          "type": "string",
          "description": "When the change occurred.",
          "format": "google-datetime"
        },
        "mutatedBy": {
          "description": "The email address of the user making the change.",
          "type": "string"
        }
      },
      "id": "MutationRecord"
    },
    "Documentation": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "The text of the documentation, interpreted according to mime_type. The content may not exceed 8,192 Unicode characters and may not exceed more than 10,240 bytes when encoded in UTF-8 format, whichever is smaller."
        },
        "mimeType": {
          "type": "string",
          "description": "The format of the content field. Presently, only the value \"text/markdown\" is supported. See Markdown (https://en.wikipedia.org/wiki/Markdown) for more information."
        }
      },
      "id": "Documentation",
      "description": "A content string and a MIME type that describes the content string's format."
    },
    "Condition": {
      "description": "A condition is a true/false test that determines when an alerting policy should open an incident. If a condition evaluates to true, it signifies that something is wrong.",
      "type": "object",
      "properties": {
        "conditionThreshold": {
          "$ref": "MetricThreshold",
          "description": "A condition that compares a time series against a threshold."
        },
        "conditionAbsent": {
          "$ref": "MetricAbsence",
          "description": "A condition that checks that a time series continues to receive new data points."
        },
        "name": {
          "type": "string",
          "description": "Required if the condition exists. The unique resource name for this condition. Its syntax is:\nprojects/[PROJECT_ID]/alertPolicies/[POLICY_ID]/conditions/[CONDITION_ID]\n[CONDITION_ID] is assigned by Stackdriver Monitoring when the condition is created as part of a new or updated alerting policy.When calling the alertPolicies.create method, do not include the name field in the conditions of the requested alerting policy. Stackdriver Monitoring creates the condition identifiers and includes them in the new policy.When calling the alertPolicies.update method to update a policy, including a condition name causes the existing condition to be updated. Conditions without names are added to the updated policy. Existing conditions are deleted if they are not updated.Best practice is to preserve [CONDITION_ID] if you make only small changes, such as those to condition thresholds, durations, or trigger values. Otherwise, treat the change as a new condition and let the existing condition be deleted."
        },
        "displayName": {
          "type": "string",
          "description": "A short name or phrase used to identify the condition in dashboards, notifications, and incidents. To avoid confusion, don't use the same display name for multiple conditions in the same policy."
        }
      },
      "id": "Condition"
    },
    "MetricAbsence": {
      "description": "A condition type that checks that monitored resources are reporting data. The configuration defines a metric and a set of monitored resources. The predicate is considered in violation when a time series for the specified metric of a monitored resource does not include any data in the specified duration.",
      "type": "object",
      "properties": {
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Specifies the alignment of data points in individual time series as well as how to combine the retrieved time series together (such as when aggregating multiple streams on each resource to a single stream for each resource or when aggregating streams across all members of a group of resrouces). Multiple aggregations are applied in the order specified.This field is similar to the one in the MetricService.ListTimeSeries request. It is advisable to use the ListTimeSeries method when debugging this field."
        },
        "trigger": {
          "$ref": "Trigger",
          "description": "The number/percent of time series for which the comparison must hold in order for the condition to trigger. If unspecified, then the condition will trigger if the comparison is true for any of the time series that have been identified by filter and aggregations."
        },
        "filter": {
          "description": "A filter that identifies which time series should be compared with the threshold.The filter is similar to the one that is specified in the MetricService.ListTimeSeries request (that call is useful to verify the time series that will be retrieved / processed) and must specify the metric type and optionally may contain restrictions on resource type, resource labels, and metric labels. This field may not exceed 2048 Unicode characters in length.",
          "type": "string"
        },
        "duration": {
          "description": "The amount of time that a time series must fail to report new data to be considered failing. Currently, only values that are a multiple of a minute--e.g. 60, 120, or 300 seconds--are supported. If an invalid value is given, an error will be returned. The Duration.nanos field is ignored.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "MetricAbsence"
    },
    "Exponential": {
      "type": "object",
      "properties": {
        "growthFactor": {
          "type": "number",
          "description": "Must be greater than 1.",
          "format": "double"
        },
        "scale": {
          "description": "Must be greater than 0.",
          "format": "double",
          "type": "number"
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Exponential",
      "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): scale * (growth_factor ^ i).  Lower bound (1 \u003c= i \u003c N): scale * (growth_factor ^ (i - 1))."
    },
    "Point": {
      "description": "A single data point in a time series.",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "TimeInterval",
          "description": "The time interval to which the data point applies. For GAUGE metrics, only the end time of the interval is used. For DELTA metrics, the start and end time should specify a non-zero interval, with subsequent points specifying contiguous and non-overlapping intervals. For CUMULATIVE metrics, the start and end time should specify a non-zero interval, with subsequent points specifying the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
        },
        "value": {
          "$ref": "TypedValue",
          "description": "The value of the data point."
        }
      },
      "id": "Point"
    },
    "Metric": {
      "description": "A specific metric, identified by specifying values for all of the labels of a MetricDescriptor.",
      "type": "object",
      "properties": {
        "type": {
          "description": "An existing metric type, see google.api.MetricDescriptor. For example, custom.googleapis.com/invoice/paid/amount.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The set of label values that uniquely identify this metric. All labels listed in the MetricDescriptor must be assigned values."
        }
      },
      "id": "Metric"
    },
    "ListUptimeCheckConfigsResponse": {
      "type": "object",
      "properties": {
        "uptimeCheckConfigs": {
          "description": "The returned Uptime check configurations.",
          "type": "array",
          "items": {
            "$ref": "UptimeCheckConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "This field represents the pagination token to retrieve the next page of results. If the value is empty, it means no further results for the request. To retrieve the next page of results, the value of the next_page_token is passed to the subsequent List method call (in the request message's page_token field)."
        },
        "totalSize": {
          "description": "The total number of Uptime check configurations for the project, irrespective of any pagination.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ListUptimeCheckConfigsResponse",
      "description": "The protocol for the ListUptimeCheckConfigs response."
    },
    "ListTimeSeriesResponse": {
      "description": "The ListTimeSeries response.",
      "type": "object",
      "properties": {
        "timeSeries": {
          "type": "array",
          "items": {
            "$ref": "TimeSeries"
          },
          "description": "One or more time series that match the filter included in the request."
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
          "type": "string"
        },
        "executionErrors": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "Query execution errors that may have caused the time series data returned to be incomplete."
        }
      },
      "id": "ListTimeSeriesResponse"
    },
    "Group": {
      "description": "The description of a dynamic collection of monitored resources. Each group has a filter that is matched against monitored resources and their associated metadata. If a group's filter matches an available monitored resource, then that resource is a member of that group. Groups can contain any number of monitored resources, and each monitored resource can be a member of any number of groups.Groups can be nested in parent-child hierarchies. The parentName field identifies an optional parent for each group. If a group has a parent, then the only monitored resources available to be matched by the group's filter are the resources contained in the parent group. In other words, a group contains the monitored resources that match its filter and the filters of all the group's ancestors. A group without a parent can contain any monitored resource.For example, consider an infrastructure running a set of instances with two user-defined tags: \"environment\" and \"role\". A parent group has a filter, environment=\"production\". A child of that parent group has a filter, role=\"transcoder\". The parent group contains all instances in the production environment, regardless of their roles. The child group contains instances that have the transcoder role and are in the production environment.The monitored resources contained in a group can change at any moment, depending on what resources exist and what filters are associated with the group and its ancestors.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of this group. The format is \"projects/{project_id_or_number}/groups/{group_id}\". When creating a group, this field is ignored and a new name is created consisting of the project specified in the call to CreateGroup and a unique {group_id} that is generated automatically.",
          "type": "string"
        },
        "parentName": {
          "description": "The name of the group's parent, if it has one. The format is \"projects/{project_id_or_number}/groups/{group_id}\". For groups with no parent, parentName is the empty string, \"\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A user-assigned name for this group, used only for display purposes."
        },
        "isCluster": {
          "description": "If true, the members of this group are considered to be a cluster. The system can perform additional analysis on groups that are clusters.",
          "type": "boolean"
        },
        "filter": {
          "description": "The filter used to determine which monitored resources belong to this group.",
          "type": "string"
        }
      },
      "id": "Group"
    },
    "GetNotificationChannelVerificationCodeRequest": {
      "description": "The GetNotificationChannelVerificationCode request.",
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "The desired expiration time. If specified, the API will guarantee that the returned code will not be valid after the specified timestamp; however, the API cannot guarantee that the returned code will be valid for at least as long as the requested time (the API puts an upper bound on the amount of time for which a code may be valid). If omitted, a default expiration will be used, which may be less than the max permissible expiration (so specifying an expiration may extend the code's lifetime over omitting an expiration, even though the API does impose an upper limit on the maximum expiration that is permitted).",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GetNotificationChannelVerificationCodeRequest"
    },
    "BasicAuthentication": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "The password to use when authenticating with the HTTP server."
        },
        "username": {
          "description": "The username to use when authenticating with the HTTP server.",
          "type": "string"
        }
      },
      "id": "BasicAuthentication",
      "description": "The authentication parameters to provide to the specified resource or URL that requires a username and password. Currently, only Basic HTTP authentication (https://tools.ietf.org/html/rfc7617) is supported in Uptime checks."
    },
    "ListAlertPoliciesResponse": {
      "type": "object",
      "properties": {
        "alertPolicies": {
          "type": "array",
          "items": {
            "$ref": "AlertPolicy"
          },
          "description": "The returned alert policies."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than were returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method."
        }
      },
      "id": "ListAlertPoliciesResponse",
      "description": "The protocol for the ListAlertPolicies response."
    },
    "ListNotificationChannelsResponse": {
      "type": "object",
      "properties": {
        "notificationChannels": {
          "type": "array",
          "items": {
            "$ref": "NotificationChannel"
          },
          "description": "The notification channels defined for the specified project."
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more results that match the request. Use the value in the page_token field in a subsequent request to fetch the next set of results. If empty, all results have been returned.",
          "type": "string"
        }
      },
      "id": "ListNotificationChannelsResponse",
      "description": "The ListNotificationChannels response."
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status"
    },
    "Range": {
      "type": "object",
      "properties": {
        "min": {
          "description": "The minimum of the population values.",
          "format": "double",
          "type": "number"
        },
        "max": {
          "type": "number",
          "description": "The maximum of the population values.",
          "format": "double"
        }
      },
      "id": "Range",
      "description": "The range of the population values."
    },
    "UptimeCheckConfig": {
      "description": "This message configures which resources and services to monitor for availability.",
      "type": "object",
      "properties": {
        "resourceGroup": {
          "$ref": "ResourceGroup",
          "description": "The group resource associated with the configuration."
        },
        "tcpCheck": {
          "$ref": "TcpCheck",
          "description": "Contains information needed to make a TCP check."
        },
        "internalCheckers": {
          "type": "array",
          "items": {
            "$ref": "InternalChecker"
          },
          "description": "The internal checkers that this check will egress from. If is_internal is true and this list is empty, the check will egress from all the InternalCheckers configured for the project that owns this UptimeCheckConfig."
        },
        "selectedRegions": {
          "description": "The list of regions from which the check will be run. Some regions contain one location, and others contain more than one. If this field is specified, enough regions must be provided to include a minimum of 3 locations. Not specifying this field will result in Uptime checks running from all available regions.",
          "type": "array",
          "items": {
            "enum": [
              "REGION_UNSPECIFIED",
              "USA",
              "EUROPE",
              "SOUTH_AMERICA",
              "ASIA_PACIFIC"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "Default value if no region is specified. Will result in Uptime checks running from all regions.",
            "Allows checks to run from locations within the United States of America.",
            "Allows checks to run from locations within the continent of Europe.",
            "Allows checks to run from locations within the continent of South America.",
            "Allows checks to run from locations within the Asia Pacific area (ex: Singapore)."
          ]
        },
        "displayName": {
          "description": "A human-friendly name for the Uptime check configuration. The display name should be unique within a Stackdriver Workspace in order to make it easier to identify; however, uniqueness is not enforced. Required.",
          "type": "string"
        },
        "contentMatchers": {
          "description": "The content that is expected to appear in the data returned by the target server against which the check is run. Currently, only the first entry in the content_matchers list is supported, and additional entries will be ignored. This field is optional and should only be specified if a content match is required as part of the/ Uptime check.",
          "type": "array",
          "items": {
            "$ref": "ContentMatcher"
          }
        },
        "monitoredResource": {
          "$ref": "MonitoredResource",
          "description": "The monitored resource (https://cloud.google.com/monitoring/api/resources) associated with the configuration. The following monitored resource types are supported for Uptime checks:  uptime_url,  gce_instance,  gae_app,  aws_ec2_instance,  aws_elb_load_balancer"
        },
        "timeout": {
          "type": "string",
          "description": "The maximum amount of time to wait for the request to complete (must be between 1 and 60 seconds). Required.",
          "format": "google-duration"
        },
        "period": {
          "description": "How often, in seconds, the Uptime check is performed. Currently, the only supported values are 60s (1 minute), 300s (5 minutes), 600s (10 minutes), and 900s (15 minutes). Optional, defaults to 60s.",
          "format": "google-duration",
          "type": "string"
        },
        "httpCheck": {
          "$ref": "HttpCheck",
          "description": "Contains information needed to make an HTTP or HTTPS check."
        },
        "name": {
          "description": "A unique resource name for this Uptime check configuration. The format is:projects/[PROJECT_ID]/uptimeCheckConfigs/[UPTIME_CHECK_ID].This field should be omitted when creating the Uptime check configuration; on create, the resource name is assigned by the server and included in the response.",
          "type": "string"
        }
      },
      "id": "UptimeCheckConfig"
    },
    "DroppedLabels": {
      "type": "object",
      "properties": {
        "label": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from label to its value, for all labels dropped in any aggregation."
        }
      },
      "id": "DroppedLabels",
      "description": "A set of (label, value) pairs which were dropped during aggregation, attached to google.api.Distribution.Exemplars in google.api.Distribution values during aggregation.These values are used in combination with the label values that remain on the aggregated Distribution timeseries to construct the full label set for the exemplar values. The resulting full label set may be used to identify the specific task/job/instance (for example) which may be contributing to a long-tail, while allowing the storage savings of only storing aggregated distribution values for a large group.Note that there are no guarantees on ordering of the labels from exemplar-to-exemplar and from distribution-to-distribution in the same stream, and there may be duplicates. It is up to clients to resolve any ambiguities."
    },
    "MetricDescriptorMetadata": {
      "description": "Additional annotations that can be used to guide the usage of a metric.",
      "type": "object",
      "properties": {
        "samplePeriod": {
          "description": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period.",
          "format": "google-duration",
          "type": "string"
        },
        "ingestDelay": {
          "type": "string",
          "description": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors.",
          "format": "google-duration"
        },
        "launchStage": {
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects whitelisted. Alpha releases don’t have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the “Deprecation Policy” section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "Deprecated. Please use the MetricDescriptor.launch_stage instead. The launch stage of the metric definition."
        }
      },
      "id": "MetricDescriptorMetadata"
    },
    "CreateTimeSeriesRequest": {
      "description": "The CreateTimeSeries request.",
      "type": "object",
      "properties": {
        "timeSeries": {
          "description": "The new data to be added to a list of time series. Adds at most one data point to each of several time series. The new data point must be more recent than any other point in its time series. Each TimeSeries value must fully specify a unique time series by supplying all label values for the metric and the monitored resource.The maximum number of TimeSeries objects per Create request is 200.",
          "type": "array",
          "items": {
            "$ref": "TimeSeries"
          }
        }
      },
      "id": "CreateTimeSeriesRequest"
    },
    "Distribution": {
      "description": "Distribution contains summary statistics for a population of values. It optionally contains a histogram representing the distribution of those values across a set of buckets.The summary statistics are the count, mean, sum of the squared deviation from the mean, the minimum, and the maximum of the set of population of values. The histogram is based on a sequence of buckets and gives a count of values that fall into each bucket. The boundaries of the buckets are given either explicitly or by formulas for buckets of fixed or exponentially increasing widths.Although it is not forbidden, it is generally a bad idea to include non-finite values (infinities or NaNs) in the population of values, as this will render the mean and sum_of_squared_deviation fields meaningless.",
      "type": "object",
      "properties": {
        "bucketCounts": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Required in the Stackdriver Monitoring API v3. The values for each bucket specified in bucket_options. The sum of the values in bucketCounts must equal the value in the count field of the Distribution object. The order of the bucket counts follows the numbering schemes described for the three bucket types. The underflow bucket has number 0; the finite buckets, if any, have numbers 1 through N-2; and the overflow bucket has number N-1. The size of bucket_counts must not be greater than N. If the size is less than N, then the remaining buckets are assigned values of zero."
        },
        "bucketOptions": {
          "$ref": "BucketOptions",
          "description": "Required in the Stackdriver Monitoring API v3. Defines the histogram bucket boundaries."
        },
        "sumOfSquaredDeviation": {
          "description": "The sum of squared deviations from the mean of the values in the population. For values x_i this is:\nSum[i=1..n]((x_i - mean)^2)\nKnuth, \"The Art of Computer Programming\", Vol. 2, page 323, 3rd edition describes Welford's method for accumulating this sum in one pass.If count is zero then this field must be zero.",
          "format": "double",
          "type": "number"
        },
        "exemplars": {
          "type": "array",
          "items": {
            "$ref": "Exemplar"
          },
          "description": "Must be in increasing order of value field."
        },
        "range": {
          "$ref": "Range",
          "description": "If specified, contains the range of the population values. The field must not be present if the count is zero. This field is presently ignored by the Stackdriver Monitoring API v3."
        },
        "count": {
          "type": "string",
          "description": "The number of values in the population. Must be non-negative. This value must equal the sum of the values in bucket_counts if a histogram is provided.",
          "format": "int64"
        },
        "mean": {
          "type": "number",
          "description": "The arithmetic mean of the values in the population. If count is zero then this field must be zero.",
          "format": "double"
        }
      },
      "id": "Distribution"
    },
    "AlertPolicy": {
      "description": "A description of the conditions under which some aspect of your system is considered to be \"unhealthy\" and the ways to notify people or services about this state. For an overview of alert policies, see Introduction to Alerting.",
      "type": "object",
      "properties": {
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-supplied key/value data to be used for organizing and identifying the AlertPolicy objects.The field can contain up to 64 entries. Each key and value is limited to 63 Unicode characters or 128 bytes, whichever is smaller. Labels and values can contain only lowercase letters, numerals, underscores, and dashes. Keys must begin with a letter."
        },
        "enabled": {
          "description": "Whether or not the policy is enabled. On write, the default interpretation if unset is that the policy is enabled. On read, clients should not make any assumption about the state if it has not been populated. The field should always be populated on List and Get operations, unless a field projection has been specified that strips it out.",
          "type": "boolean"
        },
        "combiner": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified combiner.",
            "Combine conditions using the logical AND operator. An incident is created only if all conditions are met simultaneously. This combiner is satisfied if all conditions are met, even if they are met on completely different resources.",
            "Combine conditions using the logical OR operator. An incident is created if any of the listed conditions is met.",
            "Combine conditions using logical AND operator, but unlike the regular AND option, an incident is created only if all conditions are met simultaneously on at least one resource."
          ],
          "enum": [
            "COMBINE_UNSPECIFIED",
            "AND",
            "OR",
            "AND_WITH_MATCHING_RESOURCE"
          ],
          "description": "How to combine the results of multiple conditions to determine if an incident should be opened."
        },
        "displayName": {
          "type": "string",
          "description": "A short name or phrase used to identify the policy in dashboards, notifications, and incidents. To avoid confusion, don't use the same display name for multiple policies in the same project. The name is limited to 512 Unicode characters."
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "A list of conditions for the policy. The conditions are combined by AND or OR according to the combiner field. If the combined conditions evaluate to true, then an incident is created. A policy can have from one to six conditions."
        },
        "documentation": {
          "$ref": "Documentation",
          "description": "Documentation that is included with notifications and incidents related to this policy. Best practice is for the documentation to include information to help responders understand, mitigate, escalate, and correct the underlying problems detected by the alerting policy. Notification channels that have limited capacity might not show this documentation."
        },
        "creationRecord": {
          "$ref": "MutationRecord",
          "description": "A read-only record of the creation of the alerting policy. If provided in a call to create or update, this field will be ignored."
        },
        "notificationChannels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Identifies the notification channels to which notifications should be sent when incidents are opened or closed or when new violations occur on an already opened incident. Each element of this array corresponds to the name field in each of the NotificationChannel objects that are returned from the ListNotificationChannels method. The syntax of the entries in this field is:\nprojects/[PROJECT_ID]/notificationChannels/[CHANNEL_ID]\n"
        },
        "mutationRecord": {
          "$ref": "MutationRecord",
          "description": "A read-only record of the most recent change to the alerting policy. If provided in a call to create or update, this field will be ignored."
        },
        "name": {
          "description": "Required if the policy exists. The resource name for this policy. The syntax is:\nprojects/[PROJECT_ID]/alertPolicies/[ALERT_POLICY_ID]\n[ALERT_POLICY_ID] is assigned by Stackdriver Monitoring when the policy is created. When calling the alertPolicies.create method, do not include the name field in the alerting policy passed as part of the request.",
          "type": "string"
        },
        "validity": {
          "$ref": "Status",
          "description": "Read-only description of how the alert policy is invalid. OK if the alert policy is valid. If not OK, the alert policy will not generate incidents."
        }
      },
      "id": "AlertPolicy"
    },
    "TypedValue": {
      "type": "object",
      "properties": {
        "doubleValue": {
          "type": "number",
          "description": "A 64-bit double-precision floating-point number. Its magnitude is approximately &plusmn;10\u003csup\u003e&plusmn;300\u003c/sup\u003e and it has 16 significant digits of precision.",
          "format": "double"
        },
        "int64Value": {
          "type": "string",
          "description": "A 64-bit integer. Its range is approximately &plusmn;9.2x10\u003csup\u003e18\u003c/sup\u003e.",
          "format": "int64"
        },
        "distributionValue": {
          "$ref": "Distribution",
          "description": "A distribution value."
        },
        "boolValue": {
          "description": "A Boolean value: true or false.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "A variable-length string value."
        }
      },
      "id": "TypedValue",
      "description": "A single strongly-typed value."
    },
    "CollectdPayload": {
      "type": "object",
      "properties": {
        "typeInstance": {
          "description": "The measurement type instance. Example: \"used\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TypedValue"
          },
          "description": "The measurement metadata. Example: \"process_id\" -\u003e 12345"
        },
        "type": {
          "description": "The measurement type. Example: \"memory\".",
          "type": "string"
        },
        "plugin": {
          "type": "string",
          "description": "The name of the plugin. Example: \"disk\"."
        },
        "pluginInstance": {
          "description": "The instance name of the plugin Example: \"hdcl\".",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The end time of the interval.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The start time of the interval.",
          "format": "google-datetime",
          "type": "string"
        },
        "values": {
          "description": "The measured values during this time interval. Each value must have a different dataSourceName.",
          "type": "array",
          "items": {
            "$ref": "CollectdValue"
          }
        }
      },
      "id": "CollectdPayload",
      "description": "A collection of data points sent from a collectd-based plugin. See the collectd documentation for more information."
    },
    "GetNotificationChannelVerificationCodeResponse": {
      "type": "object",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "The expiration time associated with the code that was returned. If an expiration was provided in the request, this is the minimum of the requested expiration in the request and the max permitted expiration.",
          "format": "google-datetime"
        },
        "code": {
          "description": "The verification code, which may be used to verify other channels that have an equivalent identity (i.e. other channels of the same type with the same fingerprint such as other email channels with the same email address or other sms channels with the same number).",
          "type": "string"
        }
      },
      "id": "GetNotificationChannelVerificationCodeResponse",
      "description": "The GetNotificationChannelVerificationCode request."
    },
    "Aggregation": {
      "type": "object",
      "properties": {
        "perSeriesAligner": {
          "type": "string",
          "enumDescriptions": [
            "No alignment. Raw data is returned. Not valid if cross-time series reduction is requested. The value type of the result is the same as the value type of the input.",
            "Align and convert to delta metric type. This alignment is valid for cumulative metrics and delta metrics. Aligning an existing delta metric to a delta metric requires that the alignment period be increased. The value type of the result is the same as the value type of the input.One can think of this aligner as a rate but without time units; that is, the output is conceptually (second_point - first_point).",
            "Align and convert to a rate. This alignment is valid for cumulative metrics and delta metrics with numeric values. The output is a gauge metric with value type DOUBLE.One can think of this aligner as conceptually providing the slope of the line that passes through the value at the start and end of the window. In other words, this is conceptually ((y1 - y0)/(t1 - t0)), and the output unit is one that has a \"/time\" dimension.If, by rate, you are looking for percentage change, see the ALIGN_PERCENT_CHANGE aligner option.",
            "Align by interpolating between adjacent points around the period boundary. This alignment is valid for gauge metrics with numeric values. The value type of the result is the same as the value type of the input.",
            "Align by shifting the oldest data point before the period boundary to the boundary. This alignment is valid for gauge metrics. The value type of the result is the same as the value type of the input.",
            "Align time series via aggregation. The resulting data point in the alignment period is the minimum of all data points in the period. This alignment is valid for gauge and delta metrics with numeric values. The value type of the result is the same as the value type of the input.",
            "Align time series via aggregation. The resulting data point in the alignment period is the maximum of all data points in the period. This alignment is valid for gauge and delta metrics with numeric values. The value type of the result is the same as the value type of the input.",
            "Align time series via aggregation. The resulting data point in the alignment period is the average or arithmetic mean of all data points in the period. This alignment is valid for gauge and delta metrics with numeric values. The value type of the output is DOUBLE.",
            "Align time series via aggregation. The resulting data point in the alignment period is the count of all data points in the period. This alignment is valid for gauge and delta metrics with numeric or Boolean values. The value type of the output is INT64.",
            "Align time series via aggregation. The resulting data point in the alignment period is the sum of all data points in the period. This alignment is valid for gauge and delta metrics with numeric and distribution values. The value type of the output is the same as the value type of the input.",
            "Align time series via aggregation. The resulting data point in the alignment period is the standard deviation of all data points in the period. This alignment is valid for gauge and delta metrics with numeric values. The value type of the output is DOUBLE.",
            "Align time series via aggregation. The resulting data point in the alignment period is the count of True-valued data points in the period. This alignment is valid for gauge metrics with Boolean values. The value type of the output is INT64.",
            "Align time series via aggregation. The resulting data point in the alignment period is the count of False-valued data points in the period. This alignment is valid for gauge metrics with Boolean values. The value type of the output is INT64.",
            "Align time series via aggregation. The resulting data point in the alignment period is the fraction of True-valued data points in the period. This alignment is valid for gauge metrics with Boolean values. The output value is in the range 0, 1 and has value type DOUBLE.",
            "Align time series via aggregation. The resulting data point in the alignment period is the 99th percentile of all data points in the period. This alignment is valid for gauge and delta metrics with distribution values. The output is a gauge metric with value type DOUBLE.",
            "Align time series via aggregation. The resulting data point in the alignment period is the 95th percentile of all data points in the period. This alignment is valid for gauge and delta metrics with distribution values. The output is a gauge metric with value type DOUBLE.",
            "Align time series via aggregation. The resulting data point in the alignment period is the 50th percentile of all data points in the period. This alignment is valid for gauge and delta metrics with distribution values. The output is a gauge metric with value type DOUBLE.",
            "Align time series via aggregation. The resulting data point in the alignment period is the 5th percentile of all data points in the period. This alignment is valid for gauge and delta metrics with distribution values. The output is a gauge metric with value type DOUBLE.",
            "Align and convert to a percentage change. This alignment is valid for gauge and delta metrics with numeric values. This alignment conceptually computes the equivalent of \"((current - previous)/previous)*100\" where previous value is determined based on the alignmentPeriod. In the event that previous is 0 the calculated value is infinity with the exception that if both (current - previous) and previous are 0 the calculated value is 0. A 10 minute moving mean is computed at each point of the time window prior to the above calculation to smooth the metric and prevent false positives from very short lived spikes. Only applicable for data that is \u003e= 0. Any values \u003c 0 are treated as no data. While delta metrics are accepted by this alignment special care should be taken that the values for the metric will always be positive. The output is a gauge metric with value type DOUBLE."
          ],
          "enum": [
            "ALIGN_NONE",
            "ALIGN_DELTA",
            "ALIGN_RATE",
            "ALIGN_INTERPOLATE",
            "ALIGN_NEXT_OLDER",
            "ALIGN_MIN",
            "ALIGN_MAX",
            "ALIGN_MEAN",
            "ALIGN_COUNT",
            "ALIGN_SUM",
            "ALIGN_STDDEV",
            "ALIGN_COUNT_TRUE",
            "ALIGN_COUNT_FALSE",
            "ALIGN_FRACTION_TRUE",
            "ALIGN_PERCENTILE_99",
            "ALIGN_PERCENTILE_95",
            "ALIGN_PERCENTILE_50",
            "ALIGN_PERCENTILE_05",
            "ALIGN_PERCENT_CHANGE"
          ],
          "description": "The approach to be used to align individual time series. Not all alignment functions may be applied to all time series, depending on the metric type and value type of the original time series. Alignment may change the metric type or the value type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If crossSeriesReducer is specified, then perSeriesAligner must be specified and not equal ALIGN_NONE and alignmentPeriod must be specified; otherwise, an error is returned."
        },
        "alignmentPeriod": {
          "type": "string",
          "description": "The alignment period for per-time series alignment. If present, alignmentPeriod must be at least 60 seconds. After per-time series alignment, each time series will contain data points only on the period boundaries. If perSeriesAligner is not specified or equals ALIGN_NONE, then this field is ignored. If perSeriesAligner is specified and does not equal ALIGN_NONE, then this field must be defined; otherwise an error is returned.",
          "format": "google-duration"
        },
        "crossSeriesReducer": {
          "enum": [
            "REDUCE_NONE",
            "REDUCE_MEAN",
            "REDUCE_MIN",
            "REDUCE_MAX",
            "REDUCE_SUM",
            "REDUCE_STDDEV",
            "REDUCE_COUNT",
            "REDUCE_COUNT_TRUE",
            "REDUCE_COUNT_FALSE",
            "REDUCE_FRACTION_TRUE",
            "REDUCE_PERCENTILE_99",
            "REDUCE_PERCENTILE_95",
            "REDUCE_PERCENTILE_50",
            "REDUCE_PERCENTILE_05"
          ],
          "description": "The approach to be used to combine time series. Not all reducer functions may be applied to all time series, depending on the metric type and the value type of the original time series. Reduction may change the metric type of value type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If crossSeriesReducer is specified, then perSeriesAligner must be specified and not equal ALIGN_NONE and alignmentPeriod must be specified; otherwise, an error is returned.",
          "type": "string",
          "enumDescriptions": [
            "No cross-time series reduction. The output of the aligner is returned.",
            "Reduce by computing the mean across time series for each alignment period. This reducer is valid for delta and gauge metrics with numeric or distribution values. The value type of the output is DOUBLE.",
            "Reduce by computing the minimum across time series for each alignment period. This reducer is valid for delta and gauge metrics with numeric values. The value type of the output is the same as the value type of the input.",
            "Reduce by computing the maximum across time series for each alignment period. This reducer is valid for delta and gauge metrics with numeric values. The value type of the output is the same as the value type of the input.",
            "Reduce by computing the sum across time series for each alignment period. This reducer is valid for delta and gauge metrics with numeric and distribution values. The value type of the output is the same as the value type of the input.",
            "Reduce by computing the standard deviation across time series for each alignment period. This reducer is valid for delta and gauge metrics with numeric or distribution values. The value type of the output is DOUBLE.",
            "Reduce by computing the count of data points across time series for each alignment period. This reducer is valid for delta and gauge metrics of numeric, Boolean, distribution, and string value type. The value type of the output is INT64.",
            "Reduce by computing the count of True-valued data points across time series for each alignment period. This reducer is valid for delta and gauge metrics of Boolean value type. The value type of the output is INT64.",
            "Reduce by computing the count of False-valued data points across time series for each alignment period. This reducer is valid for delta and gauge metrics of Boolean value type. The value type of the output is INT64.",
            "Reduce by computing the fraction of True-valued data points across time series for each alignment period. This reducer is valid for delta and gauge metrics of Boolean value type. The output value is in the range 0, 1 and has value type DOUBLE.",
            "Reduce by computing 99th percentile of data points across time series for each alignment period. This reducer is valid for gauge and delta metrics of numeric and distribution type. The value of the output is DOUBLE",
            "Reduce by computing 95th percentile of data points across time series for each alignment period. This reducer is valid for gauge and delta metrics of numeric and distribution type. The value of the output is DOUBLE",
            "Reduce by computing 50th percentile of data points across time series for each alignment period. This reducer is valid for gauge and delta metrics of numeric and distribution type. The value of the output is DOUBLE",
            "Reduce by computing 5th percentile of data points across time series for each alignment period. This reducer is valid for gauge and delta metrics of numeric and distribution type. The value of the output is DOUBLE"
          ]
        },
        "groupByFields": {
          "description": "The set of fields to preserve when crossSeriesReducer is specified. The groupByFields determine how the time series are partitioned into subsets prior to applying the aggregation function. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The crossSeriesReducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in groupByFields are aggregated away. If groupByFields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If crossSeriesReducer is not defined, this field is ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Aggregation",
      "description": "Describes how to combine multiple time series to provide different views of the data. Aggregation consists of an alignment step on individual time series (alignment_period and per_series_aligner) followed by an optional reduction step of the data across the aligned time series (cross_series_reducer and group_by_fields). For more details, see Aggregation."
    },
    "CreateCollectdTimeSeriesResponse": {
      "description": "The CreateCollectdTimeSeries response.",
      "type": "object",
      "properties": {
        "payloadErrors": {
          "type": "array",
          "items": {
            "$ref": "CollectdPayloadError"
          },
          "description": "Records the error status for points that were not written due to an error.Failed requests for which nothing is written will return an error response instead."
        }
      },
      "id": "CreateCollectdTimeSeriesResponse"
    },
    "Exemplar": {
      "description": "Exemplars are example points that may be used to annotate aggregated distribution values. They are metadata that gives information about a particular value added to a Distribution bucket, such as a trace ID that was active when a value was added. They may contain further information, such as a example values and timestamps, origin, etc.",
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "description": "Value of the exemplar point. This value determines to which bucket the exemplar belongs.",
          "format": "double"
        },
        "timestamp": {
          "type": "string",
          "description": "The observation (sampling) time of the above value.",
          "format": "google-datetime"
        },
        "attachments": {
          "description": "Contextual information about the example value. Examples are:Trace: type.googleapis.com/google.monitoring.v3.SpanContextLiteral string: type.googleapis.com/google.protobuf.StringValueLabels dropped during aggregation:  type.googleapis.com/google.monitoring.v3.DroppedLabelsThere may be only a single attachment of any given message type in a single exemplar, and this is enforced by the system.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Exemplar"
    },
    "Option": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, \"map_entry\". For custom options, it should be the fully-qualified name. For example, \"google.api.http\"."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type."
        }
      },
      "id": "Option",
      "description": "A protocol buffer option, which can be attached to a message, field, enumeration, etc."
    },
    "ContentMatcher": {
      "description": "Used to perform string matching. It allows substring and regular expressions, together with their negations.",
      "type": "object",
      "properties": {
        "matcher": {
          "enum": [
            "CONTENT_MATCHER_OPTION_UNSPECIFIED",
            "CONTAINS_STRING",
            "NOT_CONTAINS_STRING",
            "MATCHES_REGEX",
            "NOT_MATCHES_REGEX"
          ],
          "description": "The type of content matcher that will be applied to the server output, compared to the content string when the check is run.",
          "type": "string",
          "enumDescriptions": [
            "No content matcher type specified (maintained for backward compatibility, but deprecated for future use). Treated as CONTAINS_STRING.",
            "Selects substring matching (there is a match if the output contains the content string). This is the default value for checks without a matcher option, or where the value of matcher is CONTENT_MATCHER_OPTION_UNSPECIFIED.",
            "Selects negation of substring matching (there is a match if the output does NOT contain the content string).",
            "Selects regular expression matching (there is a match of the output matches the regular expression specified in the content string).",
[...]
