{
  "discoveryVersion": "v1",
  "version_module": "True",
  "schemas": {
    "BraggingRights": {
      "description": "A person's bragging rights.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the bragging rights."
        },
        "value": {
          "description": "The bragging rights; for example, `climbed mount everest`.",
          "type": "string"
        }
      },
      "id": "BraggingRights"
    },
    "Locale": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the locale."
        },
        "value": {
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47)\nlanguage tag representing the locale.",
          "type": "string"
        }
      },
      "id": "Locale",
      "description": "A person's locale preference."
    },
    "Organization": {
      "description": "A person's past or current organization. Overlapping date ranges are\npermitted.",
      "type": "object",
      "properties": {
        "current": {
          "type": "boolean",
          "description": "True if the organization is the person's current organization;\nfalse if the organization is a past organization."
        },
        "formattedType": {
          "type": "string",
          "description": "The read-only type of the organization translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date when the person joined the organization."
        },
        "domain": {
          "type": "string",
          "description": "The domain name associated with the organization; for example, `google.com`."
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "type": {
          "description": "The type of the organization. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `work`\n* `school`",
          "type": "string"
        },
        "jobDescription": {
          "type": "string",
          "description": "The person's job description at the organization."
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date when the person left the organization."
        },
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker\nsymbol, abbreviation, or acronym.",
          "type": "string"
        },
        "name": {
          "description": "The name of the organization.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the organization."
        },
        "title": {
          "description": "The person's job title at the organization.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The location of the organization office the person works at."
        }
      },
      "id": "Organization"
    },
    "Biography": {
      "description": "A person's short biography.",
      "type": "object",
      "properties": {
        "contentType": {
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ],
          "description": "The content type of the biography.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ]
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the biography."
        },
        "value": {
          "type": "string",
          "description": "The short biography."
        }
      },
      "id": "Biography"
    },
    "AgeRangeType": {
      "description": "A person's age range.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the age range."
        },
        "ageRange": {
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "description": "The age range.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ]
        }
      },
      "id": "AgeRangeType"
    },
    "FieldMetadata": {
      "description": "Metadata about a field.",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "The source of the field."
        },
        "verified": {
          "type": "boolean",
          "description": "True if the field is verified; false if the field is unverified. A\nverified field is typically a name, email address, phone number, or\nwebsite that has been confirmed to be owned by the person."
        },
        "primary": {
          "description": "True if the field is the primary field; false if the field is a secondary\nfield.",
          "type": "boolean"
        }
      },
      "id": "FieldMetadata"
    },
    "PersonResponse": {
      "description": "The response for a single person",
      "type": "object",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The person."
        },
        "httpStatusCode": {
          "type": "integer",
          "description": "[HTTP 1.1 status code](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "format": "int32"
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name. May be different than the resource\nname on the returned person.\n\nThe resource name can change when adding or removing fields that link a\ncontact and profile such as a verified email, verified phone number, or a\nprofile URL."
        }
      },
      "id": "PersonResponse"
    },
    "RelationshipInterest": {
      "description": "A person's read-only relationship interest .",
      "type": "object",
      "properties": {
        "formattedValue": {
          "type": "string",
          "description": "The value of the relationship interest translated and formatted in the\nviewer's account locale or the locale specified in the Accept-Language\nHTTP header."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship interest."
        },
        "value": {
          "type": "string",
          "description": "The kind of relationship the person is looking for. The value can be custom\nor predefined. Possible values include, but are not limited to, the\nfollowing values:\n\n* `friend`\n* `date`\n* `relationship`\n* `networking`"
        }
      },
      "id": "RelationshipInterest"
    },
    "Source": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT"
          ],
          "description": "The source type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the\nprofile at https://profiles.google.com/\u003cid\u003e where \u003cid\u003e is the source\nid.",
            "[Google Apps domain profile](https://admin.google.com).",
            "[Google contact](https://contacts.google.com). You can view the\ncontact at https://contact.google.com/\u003cid\u003e where \u003cid\u003e is the source\nid."
          ]
        },
        "etag": {
          "type": "string",
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the\nsource. Used for web cache validation. Only populated in\nperson.metadata.sources."
        },
        "id": {
          "description": "The unique identifier within the source type generated by the server.",
          "type": "string"
        },
        "profileMetadata": {
          "$ref": "ProfileMetadata",
          "description": "Metadata about a source of type PROFILE."
        }
      },
      "id": "Source",
      "description": "The source of a field."
    },
    "Relation": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relation."
        },
        "type": {
          "type": "string",
          "description": "The person's relation to the other person. The type can be custom or predefined.\nPossible values include, but are not limited to, the following values:\n\n* `spouse`\n* `child`\n* `mother`\n* `father`\n* `parent`\n* `brother`\n* `sister`\n* `friend`\n* `relative`\n* `domesticPartner`\n* `manager`\n* `assistant`\n* `referredBy`\n* `partner`"
        },
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "The type of the relation translated and formatted in the viewer's account\nlocale or the locale specified in the Accept-Language HTTP header."
        }
      },
      "id": "Relation",
      "description": "A person's relation to another person."
    },
    "Occupation": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the occupation."
        },
        "value": {
          "type": "string",
          "description": "The occupation; for example, `carpenter`."
        }
      },
      "id": "Occupation",
      "description": "A person's occupation."
    },
    "Person": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "PersonMetadata",
          "description": "Metadata about the person."
        },
        "residences": {
          "type": "array",
          "items": {
            "$ref": "Residence"
          },
          "description": "The person's residences."
        },
        "genders": {
          "type": "array",
          "items": {
            "$ref": "Gender"
          },
          "description": "The person's genders."
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the person, assigned by the server. An ASCII string\nwith a max length of 27 characters. Always starts with `people/`."
        },
        "interests": {
          "type": "array",
          "items": {
            "$ref": "Interest"
          },
          "description": "The person's interests."
        },
        "biographies": {
          "type": "array",
          "items": {
            "$ref": "Biography"
          },
          "description": "The person's biographies."
        },
        "skills": {
          "description": "The person's skills.",
          "type": "array",
          "items": {
            "$ref": "Skill"
          }
        },
        "relationshipStatuses": {
          "description": "The person's relationship statuses.",
          "type": "array",
          "items": {
            "$ref": "RelationshipStatus"
          }
        },
        "photos": {
          "description": "The person's photos.",
          "type": "array",
          "items": {
            "$ref": "Photo"
          }
        },
        "ageRange": {
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "description": "DEPRECATED(Please read person.age_ranges instead). The person's age range.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ]
        },
        "taglines": {
          "type": "array",
          "items": {
            "$ref": "Tagline"
          },
          "description": "The person's taglines."
        },
        "ageRanges": {
          "type": "array",
          "items": {
            "$ref": "AgeRangeType"
          },
          "description": "The person's age ranges."
        },
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "Address"
          },
          "description": "The person's street addresses."
        },
        "events": {
          "description": "The person's events.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        },
        "memberships": {
          "description": "The person's group memberships.",
          "type": "array",
          "items": {
            "$ref": "Membership"
          }
        },
        "phoneNumbers": {
          "type": "array",
          "items": {
            "$ref": "PhoneNumber"
          },
          "description": "The person's phone numbers."
        },
        "coverPhotos": {
          "description": "The person's cover photos.",
          "type": "array",
          "items": {
            "$ref": "CoverPhoto"
          }
        },
        "imClients": {
          "type": "array",
          "items": {
            "$ref": "ImClient"
          },
          "description": "The person's instant messaging clients."
        },
        "birthdays": {
          "type": "array",
          "items": {
            "$ref": "Birthday"
          },
          "description": "The person's birthdays."
        },
        "locales": {
          "description": "The person's locale preferences.",
          "type": "array",
          "items": {
            "$ref": "Locale"
          }
        },
        "relationshipInterests": {
          "type": "array",
          "items": {
            "$ref": "RelationshipInterest"
          },
          "description": "The kind of relationship the person is looking for."
        },
        "urls": {
          "type": "array",
          "items": {
            "$ref": "Url"
          },
          "description": "The person's associated URLs."
        },
        "nicknames": {
          "description": "The person's nicknames.",
          "type": "array",
          "items": {
            "$ref": "Nickname"
          }
        },
        "relations": {
          "type": "array",
          "items": {
            "$ref": "Relation"
          },
          "description": "The person's relations."
        },
        "names": {
          "description": "The person's names.",
          "type": "array",
          "items": {
            "$ref": "Name"
          }
        },
        "occupations": {
          "type": "array",
          "items": {
            "$ref": "Occupation"
          },
          "description": "The person's occupations."
        },
        "emailAddresses": {
          "description": "The person's email addresses.",
          "type": "array",
          "items": {
            "$ref": "EmailAddress"
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "Organization"
          },
          "description": "The person's past or current organizations."
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the\nresource. Used for web cache validation.",
          "type": "string"
        },
        "braggingRights": {
          "description": "The person's bragging rights.",
          "type": "array",
          "items": {
            "$ref": "BraggingRights"
          }
        }
      },
      "id": "Person",
      "description": "Information about a person merged from various data sources such as the\nauthenticated user's contacts and profile data.\n\nMost fields can have multiple items. The items in a field have no guaranteed\norder, but each non-empty field is guaranteed to have exactly one field with\n`metadata.primary` set to true."
    },
    "GetPeopleResponse": {
      "type": "object",
      "properties": {
        "responses": {
          "description": "The response for each requested resource name.",
          "type": "array",
          "items": {
            "$ref": "PersonResponse"
          }
        }
      },
      "id": "GetPeopleResponse"
    },
    "Photo": {
      "description": "A person's read-only photo. A picture shown next to the person's name to\nhelp others recognize the person.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the photo."
        },
        "url": {
          "description": "The URL of the photo.",
          "type": "string"
        }
      },
      "id": "Photo"
    },
    "PhoneNumber": {
      "description": "A person's phone number.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the phone number."
        },
        "type": {
          "type": "string",
          "description": "The type of the phone number. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `mobile`\n* `homeFax`\n* `workFax`\n* `otherFax`\n* `pager`\n* `workMobile`\n* `workPager`\n* `main`\n* `googleVoice`\n* `other`"
        },
        "value": {
          "description": "The phone number.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "The read-only type of the phone number translated and formatted in the\nviewer's account locale or the the `Accept-Language` HTTP header locale."
        },
        "canonicalForm": {
          "type": "string",
          "description": "The read-only canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf)\nform of the phone number."
        }
      },
      "id": "PhoneNumber"
    },
    "ListConnectionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        },
        "connections": {
          "description": "The list of people that the requestor is connected to.",
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        },
        "nextSyncToken": {
          "type": "string",
          "description": "The token that can be used to retrieve changes since the last request."
        },
        "totalPeople": {
          "description": "The total number of people in the list without pagination.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ListConnectionsResponse"
    },
    "Birthday": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the birthday."
        },
        "text": {
          "description": "A free-form string representing the user's birthday.",
          "type": "string"
        },
        "date": {
          "$ref": "Date",
          "description": "The date of the birthday."
        }
      },
      "id": "Birthday",
      "description": "A person's birthday. At least one of the `date` and `text` fields are\nspecified. The `date` and `text` fields typically represent the same\ndate, but are not guaranteed to."
    },
    "Residence": {
      "description": "A person's past or current residence.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the residence."
        },
        "current": {
          "type": "boolean",
          "description": "True if the residence is the person's current residence;\nfalse if the residence is a past residence."
        },
        "value": {
          "description": "The address of the residence.",
          "type": "string"
        }
      },
      "id": "Residence"
    },
    "Address": {
      "description": "A person's physical address. May be a P.O. box or street address. All fields\nare optional.",
      "type": "object",
      "properties": {
        "streetAddress": {
          "type": "string",
          "description": "The street address."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the address."
        },
        "countryCode": {
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country\ncode of the address.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "The read-only type of the address translated and formatted in the viewer's\naccount locale or the `Accept-Language` HTTP header locale."
        },
        "city": {
          "description": "The city of the address.",
          "type": "string"
        },
        "formattedValue": {
          "type": "string",
          "description": "The unstructured value of the address. If this is not set by the user it\nwill be automatically constructed from structured values."
        },
        "country": {
          "description": "The country of the address.",
          "type": "string"
        },
        "type": {
          "description": "The type of the address. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`",
          "type": "string"
        },
        "extendedAddress": {
          "description": "The extended address of the address; for example, the apartment number.",
          "type": "string"
        },
        "poBox": {
          "description": "The P.O. box of the address.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the address."
        },
        "region": {
          "type": "string",
          "description": "The region of the address; for example, the state or province."
        }
      },
      "id": "Address"
    },
    "ContactGroupMembership": {
      "type": "object",
      "properties": {
        "contactGroupId": {
          "type": "string",
          "description": "The contact group ID for the contact group membership. The contact group\nID can be custom or predefined. Possible values include, but are not\nlimited to, the following:\n\n*  `myContacts`\n*  `starred`\n*  A numerical ID for user-created groups."
        }
      },
      "id": "ContactGroupMembership",
      "description": "A Google contact group membership."
    },
    "PersonMetadata": {
      "description": "The read-only metadata about a person.",
      "type": "object",
      "properties": {
        "deleted": {
          "description": "True if the person resource has been deleted. Populated only for\n[`connections.list`](/people/api/rest/v1/people.connections/list) requests\nthat include a sync token.",
          "type": "boolean"
        },
        "objectType": {
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "description": "DEPRECATED(Please read person.metadata.sources.profile_metadata instead).\nThe type of the person object.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Google+ Page.](http://www.google.com/+/brands/)"
          ]
        },
        "linkedPeopleResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource names of people linked to this resource."
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "The sources of data for the person."
        },
        "previousResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any former resource names this person has had. Populated only for\n[`connections.list`](/people/api/rest/v1/people.connections/list) requests\nthat include a sync token.\n\nThe resource name may change when adding or removing fields that link a\ncontact and profile such as a verified email, verified phone number, or\nprofile URL."
        }
      },
      "id": "PersonMetadata"
    },
    "Event": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the event."
        },
        "type": {
          "description": "The type of the event. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `anniversary`\n* `other`",
          "type": "string"
        },
        "date": {
          "$ref": "Date",
          "description": "The date of the event."
        },
        "formattedType": {
          "description": "The read-only type of the event translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        }
      },
      "id": "Event",
      "description": "An event related to the person."
    },
    "ProfileMetadata": {
      "type": "object",
      "properties": {
        "objectType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Google+ Page.](http://www.google.com/+/brands/)"
          ],
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "description": "The profile object type."
        }
      },
      "id": "ProfileMetadata",
      "description": "The read-only metadata about a profile."
    },
    "Url": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        },
        "type": {
          "description": "The type of the URL. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `blog`\n* `profile`\n* `homePage`\n* `ftp`\n* `reservations`\n* `appInstallPage`: website for a Google+ application.\n* `other`",
          "type": "string"
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "formattedType": {
          "description": "The read-only type of the URL translated and formatted in the viewer's\naccount locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        }
      },
      "id": "Url",
      "description": "A person's associated URLs."
    },
    "Gender": {
      "description": "A person's gender.",
      "type": "object",
      "properties": {
        "formattedValue": {
          "type": "string",
          "description": "The read-only value of the gender translated and formatted in the viewer's\naccount locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the gender."
        },
        "value": {
          "type": "string",
          "description": "The gender for the person. The gender can be custom or predefined.\nPossible values include, but are not limited to, the\nfollowing:\n\n* `male`\n* `female`\n* `other`\n* `unknown`"
        }
      },
      "id": "Gender"
    },
    "CoverPhoto": {
      "description": "A person's read-only cover photo. A large image shown on the person's\nprofile page that represents who they are or what they care about.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the cover photo."
        },
        "default": {
          "description": "True if the cover photo is the default cover photo;\nfalse if the cover photo is a user-provided cover photo.",
          "type": "boolean"
        },
        "url": {
          "type": "string",
          "description": "The URL of the cover photo."
        }
      },
      "id": "CoverPhoto"
    },
    "ImClient": {
      "type": "object",
      "properties": {
        "formattedProtocol": {
          "description": "The read-only protocol of the IM client formatted in the viewer's account\nlocale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "The read-only type of the IM client translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the IM client."
        },
        "type": {
          "type": "string",
          "description": "The type of the IM client. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`"
        },
        "protocol": {
          "description": "The protocol of the IM client. The protocol can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `aim`\n* `msn`\n* `yahoo`\n* `skype`\n* `qq`\n* `googleTalk`\n* `icq`\n* `jabber`\n* `netMeeting`",
          "type": "string"
        },
        "username": {
          "description": "The user name used in the IM client.",
          "type": "string"
        }
      },
      "id": "ImClient",
      "description": "A person's instant messaging client."
    },
    "Interest": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the interest."
        },
        "value": {
          "type": "string",
          "description": "The interest; for example, `stargazing`."
        }
      },
      "id": "Interest",
      "description": "One of the person's interests."
    },
    "EmailAddress": {
      "description": "A person's email address.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the email address."
        },
        "type": {
          "description": "The type of the email address. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`",
          "type": "string"
        },
        "value": {
          "description": "The email address.",
          "type": "string"
        },
        "formattedType": {
          "description": "The read-only type of the email address translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the email."
        }
      },
      "id": "EmailAddress"
    },
    "Nickname": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the nickname."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has\nchanged as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`"
          ],
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME"
          ],
          "description": "The type of the nickname."
        },
        "value": {
          "description": "The nickname.",
          "type": "string"
        }
      },
      "id": "Nickname",
      "description": "A person's nickname."
    },
    "Skill": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the skill."
        },
        "value": {
          "type": "string",
          "description": "The skill; for example, `underwater basket weaving`."
        }
      },
      "id": "Skill",
      "description": "A skill that the person has."
    },
    "DomainMembership": {
      "description": "A Google Apps Domain membership.",
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "description": "True if the person is in the viewer's Google Apps domain.",
          "type": "boolean"
        }
      },
      "id": "DomainMembership"
    },
    "Membership": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the membership."
        },
        "contactGroupMembership": {
          "$ref": "ContactGroupMembership",
          "description": "The contact group membership."
        },
        "domainMembership": {
          "$ref": "DomainMembership",
          "description": "The domain membership."
        }
      },
      "id": "Membership",
      "description": "A person's read-only membership in a group."
    },
    "RelationshipStatus": {
      "description": "A person's read-only relationship status.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship status."
        },
        "value": {
          "type": "string",
          "description": "The relationship status. The value can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `single`\n* `inARelationship`\n* `engaged`\n* `married`\n* `itsComplicated`\n* `openRelationship`\n* `widowed`\n* `inDomesticPartnership`\n* `inCivilUnion`"
        },
        "formattedValue": {
          "type": "string",
          "description": "The read-only value of the relationship status translated and formatted in\nthe viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "id": "RelationshipStatus"
    },
    "Date": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.",
          "format": "int32"
        },
        "month": {
          "description": "Month of year. Must be from 1 to 12.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole calendar date, for example a date of birth. The time\nof day and time zone are either specified elsewhere or are not\nsignificant. The date is relative to the\n[Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar).\nThe day may be 0 to represent a year and month where the day is not\nsignificant. The year may be 0 to represent a month and day independent\nof year; for example, anniversary date."
    },
    "Tagline": {
      "description": "A read-only brief one-line description of the person.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the tagline."
        },
        "value": {
          "type": "string",
          "description": "The tagline."
        }
      },
      "id": "Tagline"
    },
    "Name": {
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "type": "object",
      "properties": {
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "displayNameLastFirst": {
          "description": "The read-only display name with the last name first formatted according to\nthe locale specified by the viewer's account or the\n\u003ccode\u003eAccept-Language\u003c/code\u003e HTTP header.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The read-only display name formatted according to the locale specified by\nthe viewer's account or the \u003ccode\u003eAccept-Language\u003c/code\u003e HTTP header."
        },
        "honorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes, such as `Jr.`"
        },
        "honorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`"
        },
        "phoneticHonorificSuffix": {
          "description": "The honorific suffixes spelled as they sound.",
          "type": "string"
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "phoneticHonorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes spelled as they sound."
        },
        "phoneticGivenName": {
          "description": "The given name spelled as it sounds.",
          "type": "string"
        },
        "phoneticFamilyName": {
          "description": "The family name spelled as it sounds.",
          "type": "string"
        },
        "familyName": {
          "type": "string",
          "description": "The family name."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the name."
        },
        "phoneticMiddleName": {
          "description": "The middle name(s) spelled as they sound.",
          "type": "string"
        }
      },
      "id": "Name"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "People Service",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "View your email addresses"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "Manage your contacts"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "View your phone numbers"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "View your complete date of birth"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "View your contacts"
        },
        "https://www.googleapis.com/auth/plus.login": {
          "description": "Know the list of people in your circles, your age range, and language"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "View your basic profile info"
        }
      }
    }
  },
  "rootUrl": "https://people.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "people",
  "batchPath": "batch",
  "title": "Google People API",
  "ownerName": "Google",
  "resources": {
    "people": {
      "methods": {
        "get": {
          "flatPath": "v1/people/{peopleId}",
          "path": "v1/{+resourceName}",
          "id": "people.people.get",
          "description": "Provides information about a person resource for a resource name. Use\n`people/me` to indicate the authenticated user.",
          "response": {
            "$ref": "Person"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/plus.login",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "parameters": {
            "resourceName": {
              "location": "path",
              "description": "The resource name of the person to provide information about.\n\n- To get information about the authenticated user, specify `people/me`.\n- To get information about any user, specify the resource name that\n  identifies the user, such as the resource names returned by\n  [`people.connections.list`](/people/api/rest/v1/people.connections/list).",
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$"
            },
            "requestMask.includeField": {
              "type": "string",
              "location": "query",
              "description": "Comma-separated list of fields to be included in the response. Omitting\nthis field will include all fields except for connections.list requests,\nwhich have a default mask that includes common fields like metadata, name,\nphoto, and profile url.\nEach path should start with `person.`: for example, `person.names` or\n`person.photos`.",
              "format": "google-fieldmask"
            }
          }
        },
        "getBatchGet": {
          "flatPath": "v1/people:batchGet",
          "path": "v1/people:batchGet",
          "id": "people.people.getBatchGet",
          "description": "Provides information about a list of specific people by specifying a list\nof requested resource names. Use `people/me` to indicate the authenticated\nuser.",
          "response": {
            "$ref": "GetPeopleResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMask.includeField": {
              "location": "query",
              "description": "Comma-separated list of fields to be included in the response. Omitting\nthis field will include all fields except for connections.list requests,\nwhich have a default mask that includes common fields like metadata, name,\nphoto, and profile url.\nEach path should start with `person.`: for example, `person.names` or\n`person.photos`.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "resourceNames": {
              "location": "query",
              "description": "The resource name, such as one returned by\n[`people.connections.list`](/people/api/rest/v1/people.connections/list),\nof one of the people to provide information about. You can include this\nparameter up to 50 times in one request.",
              "type": "string",
              "repeated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/plus.login",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ]
        }
      },
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "flatPath": "v1/people/{peopleId}/connections",
              "path": "v1/{+resourceName}/connections",
              "id": "people.people.connections.list",
              "description": "Provides a list of the authenticated user's contacts merged with any\nlinked profiles.",
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ],
              "parameters": {
                "syncToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A sync token, returned by a previous call to `people.connections.list`.\nOnly resources changed since the sync token was created will be returned."
                },
                "sortOrder": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "description": "The order in which the connections should be sorted. Defaults to\n`LAST_MODIFIED_ASCENDING`."
                },
                "requestSyncToken": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Whether the response should include a sync token, which can be used to get\nall changes since the last request."
                },
                "resourceName": {
                  "required": true,
                  "type": "string",
                  "pattern": "^people/[^/]+$",
                  "location": "path",
                  "description": "The resource name to return connections for. Only `people/me` is valid."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token of the page to be returned.",
                  "type": "string"
                },
                "requestMask.includeField": {
                  "location": "query",
                  "description": "Comma-separated list of fields to be included in the response. Omitting\nthis field will include all fields except for connections.list requests,\nwhich have a default mask that includes common fields like metadata, name,\nphoto, and profile url.\nEach path should start with `person.`: for example, `person.names` or\n`person.photos`.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The number of connections to include in the response. Valid values are\nbetween 1 and 500, inclusive. Defaults to 100.",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "pp": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Pretty-print response."
    },
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "version": "v1",
  "baseUrl": "https://people.googleapis.com/",
  "description": "Provides access to information about profiles and contacts.",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "basePath": "",
  "revision": "20170422",
  "documentationLink": "https://developers.google.com/people/",
  "id": "people:v1"
}
