{
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "UpdateContactPhotoRequest": {
      "description": "A request to update an existing contact's photo.\nAll requests must have a valid photo format: JPEG or PNG.",
      "type": "object",
      "properties": {
        "personFields": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple\nfields can be specified by separating them with commas. Defaults to empty\nif not set, which will skip the post mutate get. Valid values are:\n\n* addresses\n* ageRanges\n* biographies\n* birthdays\n* braggingRights\n* coverPhotos\n* emailAddresses\n* events\n* genders\n* imClients\n* interests\n* locales\n* memberships\n* metadata\n* names\n* nicknames\n* occupations\n* organizations\n* phoneNumbers\n* photos\n* relations\n* relationshipInterests\n* relationshipStatuses\n* residences\n* sipAddresses\n* skills\n* taglines\n* urls\n* userDefined",
          "format": "google-fieldmask"
        },
        "photoBytes": {
          "type": "string",
          "description": "Required. Raw photo bytes",
          "format": "byte"
        }
      },
      "id": "UpdateContactPhotoRequest"
    },
    "GetPeopleResponse": {
      "type": "object",
      "properties": {
        "responses": {
          "description": "The response for each requested resource name.",
          "type": "array",
          "items": {
            "$ref": "PersonResponse"
          }
        }
      },
      "id": "GetPeopleResponse"
    },
    "Photo": {
      "id": "Photo",
      "description": "A person's photo. A picture shown next to the person's name to\nhelp others recognize the person.",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the photo. You can change the desired size by appending a query\nparameter `sz=`\u003cvar\u003esize\u003c/var\u003e at the end of the url. Example:\n`https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50`"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the photo."
        },
        "default": {
          "description": "True if the photo is a default photo;\nfalse if the photo is a user-provided photo.",
          "type": "boolean"
        }
      }
    },
    "PhoneNumber": {
      "description": "A person's phone number.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The phone number.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the phone number translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "canonicalForm": {
          "type": "string",
          "description": "Output only. The canonicalized [ITU-T\nE.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf)\nform of the phone number."
        },
        "metadata": {
          "description": "Metadata about the phone number.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "description": "The type of the phone number. The type can be custom or one of these\npredefined values:\n\n* `home`\n* `work`\n* `mobile`\n* `homeFax`\n* `workFax`\n* `otherFax`\n* `pager`\n* `workMobile`\n* `workPager`\n* `main`\n* `googleVoice`\n* `other`",
          "type": "string"
        }
      },
      "id": "PhoneNumber"
    },
    "ListConnectionsResponse": {
      "type": "object",
      "properties": {
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people that the requestor is connected to."
        },
        "nextSyncToken": {
          "description": "The token that can be used to retrieve changes since the last request.",
          "type": "string"
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of items in the list without pagination.",
          "format": "int32"
        },
        "totalPeople": {
          "type": "integer",
          "description": "**DEPRECATED** (Please use totalItems)\nThe total number of people in the list without pagination.",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListConnectionsResponse"
    },
    "Birthday": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the birthday."
        },
        "text": {
          "description": "A free-form string representing the user's birthday.",
          "type": "string"
        },
        "date": {
          "description": "The date of the birthday.",
          "$ref": "Date"
        }
      },
      "id": "Birthday",
      "description": "A person's birthday. At least one of the `date` and `text` fields are\nspecified. The `date` and `text` fields typically represent the same\ndate, but are not guaranteed to."
    },
    "CreateContactGroupRequest": {
      "id": "CreateContactGroupRequest",
      "description": "A request to create a new contact group.",
      "type": "object",
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to create.",
          "$ref": "ContactGroup"
        }
      }
    },
    "UpdateContactPhotoResponse": {
      "type": "object",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the\nUpdateContactPhotoRequest; otherwise this will be unset."
        }
      },
      "id": "UpdateContactPhotoResponse",
      "description": "The response for updating a contact's photo."
    },
    "Address": {
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country\ncode of the address."
        },
        "formattedType": {
          "description": "Output only. The type of the address translated and formatted in the viewer's\naccount locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "city": {
          "description": "The city of the address.",
          "type": "string"
        },
        "formattedValue": {
          "description": "The unstructured value of the address. If this is not set by the user it\nwill be automatically constructed from structured values.",
          "type": "string"
        },
        "country": {
          "description": "The country of the address.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the address. The type can be custom or one of these predefined\nvalues:\n\n* `home`\n* `work`\n* `other`"
        },
        "extendedAddress": {
          "description": "The extended address of the address; for example, the apartment number.",
          "type": "string"
        },
        "poBox": {
          "description": "The P.O. box of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code of the address.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "The region of the address; for example, the state or province."
        },
        "streetAddress": {
          "description": "The street address.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the address."
        }
      },
      "id": "Address",
      "description": "A person's physical address. May be a P.O. box or street address. All fields\nare optional."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "ContactGroupMembership": {
      "type": "object",
      "properties": {
        "contactGroupId": {
          "description": "Output only. The contact group ID for the contact group membership.",
          "type": "string"
        },
        "contactGroupResourceName": {
          "type": "string",
          "description": "The resource name for the contact group, assigned by the server. An ASCII\nstring, in the form of `contactGroups/`\u003cvar\u003econtact_group_id\u003c/var\u003e.\nOnly contact_group_resource_name can be used for modifying memberships.\nAny contact group membership can be removed, but only user group or\n\"myContacts\" or \"starred\" system groups memberships can be added. A\ncontact must always have at least one contact group membership."
        }
      },
      "id": "ContactGroupMembership",
      "description": "A Google contact group membership."
    },
    "PersonMetadata": {
      "description": "The metadata about a person.",
      "type": "object",
      "properties": {
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Google+ Page.](http://www.google.com/+/brands/)"
          ],
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "description": "Output only. **DEPRECATED** (Please use\n`person.metadata.sources.profileMetadata.objectType` instead)\n\nThe type of the person object.",
          "type": "string"
        },
        "linkedPeopleResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource names of people linked to this resource."
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "The sources of data for the person."
        },
        "previousResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Any former resource names this person has had. Populated only for\n[`connections.list`](/people/api/rest/v1/people.connections/list) requests\nthat include a sync token.\n\nThe resource name may change when adding or removing fields that link a\ncontact and profile such as a verified email, verified phone number, or\nprofile URL."
        },
        "deleted": {
          "description": "Output only. True if the person resource has been deleted. Populated only for\n[`connections.list`](/people/api/rest/v1/people.connections/list) requests\nthat include a sync token.",
          "type": "boolean"
        }
      },
      "id": "PersonMetadata"
    },
    "ModifyContactGroupMembersRequest": {
      "type": "object",
      "properties": {
        "resourceNamesToAdd": {
          "description": "The resource names of the contact people to add in the form of\n`people/`\u003cvar\u003eperson_id\u003c/var\u003e.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceNamesToRemove": {
          "description": "The resource names of the contact people to remove in the form of\n`people/`\u003cvar\u003eperson_id\u003c/var\u003e.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ModifyContactGroupMembersRequest",
      "description": "A request to modify an existing contact group's members. Contacts can be\nremoved from any group but they can only be added to a user group or\n\"myContacts\" or \"starred\" system groups."
    },
    "ContactGroupResponse": {
      "description": "The response for a specific contact group.",
      "type": "object",
      "properties": {
        "contactGroup": {
          "description": "The contact group.",
          "$ref": "ContactGroup"
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the response."
        },
        "requestedResourceName": {
          "description": "The original requested resource name.",
          "type": "string"
        }
      },
      "id": "ContactGroupResponse"
    },
    "Url": {
      "description": "A person's associated URLs.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        },
        "type": {
          "description": "The type of the URL. The type can be custom or one of these predefined\nvalues:\n\n* `home`\n* `work`\n* `blog`\n* `profile`\n* `homePage`\n* `ftp`\n* `reservations`\n* `appInstallPage`: website for a Google+ application.\n* `other`",
          "type": "string"
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the URL translated and formatted in the viewer's\naccount locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        }
      },
      "id": "Url"
    },
    "ImClient": {
      "id": "ImClient",
      "description": "A person's instant messaging client.",
      "type": "object",
      "properties": {
        "formattedProtocol": {
          "type": "string",
          "description": "Output only. The protocol of the IM client formatted in the viewer's account\nlocale or the `Accept-Language` HTTP header locale."
        },
        "formattedType": {
          "description": "Output only. The type of the IM client translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the IM client.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "description": "The type of the IM client. The type can be custom or one of these\npredefined values:\n\n* `home`\n* `work`\n* `other`"
        },
        "protocol": {
          "type": "string",
          "description": "The protocol of the IM client. The protocol can be custom or one of these\npredefined values:\n\n* `aim`\n* `msn`\n* `yahoo`\n* `skype`\n* `qq`\n* `googleTalk`\n* `icq`\n* `jabber`\n* `netMeeting`"
        },
        "username": {
          "description": "The user name used in the IM client.",
          "type": "string"
        }
      }
    },
    "DomainMembership": {
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "description": "True if the person is in the viewer's G Suite domain.",
          "type": "boolean"
        }
      },
      "id": "DomainMembership",
      "description": "A G Suite Domain membership."
    },
    "Membership": {
      "id": "Membership",
      "description": "A person's membership in a group. Only contact group memberships can be\nmodified.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the membership."
        },
        "contactGroupMembership": {
          "$ref": "ContactGroupMembership",
          "description": "The contact group membership."
        },
        "domainMembership": {
          "description": "Output only. The domain membership.",
          "$ref": "DomainMembership"
        }
      }
    },
    "BatchGetContactGroupsResponse": {
      "description": "The response to a batch get contact groups request.",
      "type": "object",
      "properties": {
        "responses": {
          "description": "The list of responses for each requested contact group resource.",
          "type": "array",
          "items": {
            "$ref": "ContactGroupResponse"
          }
        }
      },
      "id": "BatchGetContactGroupsResponse"
    },
    "RelationshipStatus": {
      "description": "A person's relationship status.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The relationship status. The value can be custom or one of these\npredefined values:\n\n* `single`\n* `inARelationship`\n* `engaged`\n* `married`\n* `itsComplicated`\n* `openRelationship`\n* `widowed`\n* `inDomesticPartnership`\n* `inCivilUnion`"
        },
        "formattedValue": {
          "description": "Output only. The value of the relationship status translated and formatted in\nthe viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship status."
        }
      },
      "id": "RelationshipStatus"
    },
    "BraggingRights": {
      "id": "BraggingRights",
      "description": "A person's bragging rights.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the bragging rights."
        },
        "value": {
          "description": "The bragging rights; for example, `climbed mount everest`.",
          "type": "string"
        }
      }
    },
    "SipAddress": {
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP\ncommunications to make voice or video calls over the internet.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the SIP address."
        },
        "type": {
          "type": "string",
          "description": "The type of the SIP address. The type can be custom or or one of these\npredefined values:\n\n* `home`\n* `work`\n* `mobile`\n* `other`"
        },
        "value": {
          "description": "The SIP address in the\n[RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI\nformat.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the SIP address translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        }
      },
      "id": "SipAddress"
    },
    "Organization": {
      "id": "Organization",
      "description": "A person's past or current organization. Overlapping date ranges are\npermitted.",
      "type": "object",
      "properties": {
        "phoneticName": {
          "type": "string",
          "description": "The phonetic name of the organization."
        },
        "type": {
          "description": "The type of the organization. The type can be custom or  one of these\npredefined values:\n\n* `work`\n* `school`",
          "type": "string"
        },
        "jobDescription": {
          "description": "The person's job description at the organization.",
          "type": "string"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date when the person left the organization."
        },
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker\nsymbol, abbreviation, or acronym.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the organization."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the organization."
        },
        "title": {
          "description": "The person's job title at the organization.",
          "type": "string"
        },
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        },
        "current": {
          "description": "True if the organization is the person's current organization;\nfalse if the organization is a past organization.",
          "type": "boolean"
        },
        "startDate": {
          "description": "The start date when the person joined the organization.",
          "$ref": "Date"
        },
        "formattedType": {
          "description": "Output only. The type of the organization translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The domain name associated with the organization; for example,\n`google.com`."
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        }
      }
    },
    "AgeRangeType": {
      "description": "A person's age range.",
      "type": "object",
      "properties": {
        "ageRange": {
          "description": "The age range.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ]
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the age range."
        }
      },
      "id": "AgeRangeType"
    },
    "ListContactGroupsResponse": {
      "description": "The response to a list contact groups request.",
      "type": "object",
      "properties": {
        "contactGroups": {
          "type": "array",
          "items": {
            "$ref": "ContactGroup"
          },
          "description": "The list of contact groups. Members of the contact groups are not\npopulated."
        },
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        },
        "totalItems": {
          "description": "The total number of items in the list without pagination.",
          "format": "int32",
          "type": "integer"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "The token that can be used to retrieve changes since the last request."
        }
      },
      "id": "ListContactGroupsResponse"
    },
    "PersonResponse": {
      "type": "object",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The person."
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        },
        "httpStatusCode": {
          "description": "**DEPRECATED** (Please use status instead)\n\n[HTTP 1.1 status code]\n(http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "format": "int32",
          "type": "integer"
        },
        "requestedResourceName": {
          "description": "The original requested resource name. May be different than the resource\nname on the returned person.\n\nThe resource name can change when adding or removing fields that link a\ncontact and profile such as a verified email, verified phone number, or a\nprofile URL.",
          "type": "string"
        }
      },
      "id": "PersonResponse",
      "description": "The response for a single person"
    },
    "Relation": {
      "id": "Relation",
      "description": "A person's relation to another person.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relation."
        },
        "type": {
          "description": "The person's relation to the other person. The type can be custom or one of\nthese predefined values:\n\n* `spouse`\n* `child`\n* `mother`\n* `father`\n* `parent`\n* `brother`\n* `sister`\n* `friend`\n* `relative`\n* `domesticPartner`\n* `manager`\n* `assistant`\n* `referredBy`\n* `partner`",
          "type": "string"
        },
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the relation translated and formatted in the viewer's\naccount locale or the locale specified in the Accept-Language HTTP header."
        }
      }
    },
    "Occupation": {
      "description": "A person's occupation.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the occupation."
        },
        "value": {
          "type": "string",
          "description": "The occupation; for example, `carpenter`."
        }
      },
      "id": "Occupation"
    },
    "ContactGroup": {
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII\nstring, in the form of `contactGroups/`\u003cvar\u003econtact_group_id\u003c/var\u003e.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the\nresource. Used for web cache validation."
        },
        "formattedName": {
          "description": "Output only. The name translated and formatted in the viewer's account locale\nor the `Accept-Language` HTTP header locale for system groups names.\nGroup names set by the owner are the same as name.",
          "type": "string"
        },
        "groupType": {
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "description": "Output only. The contact group type.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The contact group name set by the group owner or a system provided name\nfor system groups."
        },
        "memberResourceNames": {
          "description": "Output only. The list of contact person resource names that are members of the contact\ngroup. The field is not populated for LIST requests and can only be updated\nthrough the\n[ModifyContactGroupMembers](/people/api/rest/v1/contactgroups/members/modify).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Output only. Metadata about the contact group.",
          "$ref": "ContactGroupMetadata"
        },
        "memberCount": {
          "type": "integer",
          "description": "Output only. The total number of contacts in the group irrespective of max members in\nspecified in the request.",
          "format": "int32"
        }
      },
      "id": "ContactGroup",
      "description": "A contact group."
    },
    "Person": {
      "id": "Person",
      "description": "Information about a person merged from various data sources such as the\nauthenticated user's contacts and profile data.\n\nMost fields can have multiple items. The items in a field have no guaranteed\norder, but each non-empty field is guaranteed to have exactly one field with\n`metadata.primary` set to true.",
      "type": "object",
      "properties": {
        "names": {
          "description": "The person's names.",
          "type": "array",
          "items": {
            "$ref": "Name"
          }
        },
        "relations": {
          "description": "The person's relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "occupations": {
          "description": "The person's occupations.",
          "type": "array",
          "items": {
            "$ref": "Occupation"
          }
        },
        "emailAddresses": {
          "description": "The person's email addresses.",
          "type": "array",
          "items": {
            "$ref": "EmailAddress"
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "Organization"
          },
          "description": "The person's past or current organizations."
        },
        "etag": {
          "type": "string",
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the\nresource. Used for web cache validation."
        },
        "braggingRights": {
          "description": "The person's bragging rights.",
          "type": "array",
          "items": {
            "$ref": "BraggingRights"
          }
        },
        "metadata": {
          "$ref": "PersonMetadata",
          "description": "Output only. Metadata about the person."
        },
        "residences": {
          "description": "The person's residences.",
          "type": "array",
          "items": {
            "$ref": "Residence"
          }
        },
        "genders": {
          "description": "The person's genders.",
          "type": "array",
          "items": {
            "$ref": "Gender"
          }
        },
        "resourceName": {
          "description": "The resource name for the person, assigned by the server. An ASCII string\nwith a max length of 27 characters, in the form of\n`people/`\u003cvar\u003eperson_id\u003c/var\u003e.",
          "type": "string"
        },
        "interests": {
          "type": "array",
          "items": {
            "$ref": "Interest"
          },
          "description": "The person's interests."
        },
        "biographies": {
          "description": "The person's biographies.",
          "type": "array",
          "items": {
            "$ref": "Biography"
          }
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "Skill"
          },
          "description": "The person's skills."
        },
        "relationshipStatuses": {
          "description": "Output only. The person's relationship statuses.",
          "type": "array",
          "items": {
            "$ref": "RelationshipStatus"
          }
        },
        "photos": {
          "type": "array",
          "items": {
            "$ref": "Photo"
          },
          "description": "Output only. The person's photos."
        },
        "ageRange": {
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead)**\n\nThe person's age range.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ]
        },
        "taglines": {
          "type": "array",
          "items": {
            "$ref": "Tagline"
          },
          "description": "Output only. The person's taglines."
        },
        "ageRanges": {
          "description": "Output only. The person's age ranges.",
          "type": "array",
          "items": {
            "$ref": "AgeRangeType"
          }
        },
        "sipAddresses": {
          "description": "The person's SIP addresses.",
          "type": "array",
          "items": {
            "$ref": "SipAddress"
          }
        },
        "addresses": {
          "description": "The person's street addresses.",
          "type": "array",
          "items": {
            "$ref": "Address"
          }
        },
        "events": {
          "description": "The person's events.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        },
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "Membership"
          },
          "description": "The person's group memberships."
        },
        "phoneNumbers": {
          "description": "The person's phone numbers.",
          "type": "array",
          "items": {
            "$ref": "PhoneNumber"
          }
        },
        "coverPhotos": {
          "type": "array",
          "items": {
            "$ref": "CoverPhoto"
          },
          "description": "Output only. The person's cover photos."
        },
        "imClients": {
          "description": "The person's instant messaging clients.",
          "type": "array",
          "items": {
            "$ref": "ImClient"
          }
        },
        "birthdays": {
          "description": "The person's birthdays.",
          "type": "array",
          "items": {
            "$ref": "Birthday"
          }
        },
        "userDefined": {
          "description": "The person's user defined data.",
          "type": "array",
          "items": {
            "$ref": "UserDefined"
          }
        },
        "locales": {
          "description": "The person's locale preferences.",
          "type": "array",
          "items": {
            "$ref": "Locale"
          }
        },
        "relationshipInterests": {
          "description": "Output only. The person's relationship interests.",
          "type": "array",
          "items": {
            "$ref": "RelationshipInterest"
          }
        },
        "urls": {
          "description": "The person's associated URLs.",
          "type": "array",
          "items": {
            "$ref": "Url"
          }
        },
        "nicknames": {
          "description": "The person's nicknames.",
          "type": "array",
          "items": {
            "$ref": "Nickname"
          }
        }
      }
    },
    "UpdateContactGroupRequest": {
      "type": "object",
      "properties": {
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "Required. The contact group to update."
        }
      },
      "id": "UpdateContactGroupRequest",
      "description": "A request to update an existing user contact group. All updated fields will\nbe replaced."
    },
    "ContactGroupMetadata": {
      "id": "ContactGroupMetadata",
      "description": "The metadata about a contact group.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The time the group was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. True if the contact group resource has been deleted. Populated only for\n[`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests\nthat include a sync token.",
          "type": "boolean"
        }
      }
    },
    "Residence": {
      "description": "A person's past or current residence.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The address of the residence.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the residence."
        },
        "current": {
          "description": "True if the residence is the person's current residence;\nfalse if the residence is a past residence.",
          "type": "boolean"
        }
      },
      "id": "Residence"
    },
    "Event": {
      "description": "An event related to the person.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the event."
        },
        "type": {
          "description": "The type of the event. The type can be custom or one of these predefined\nvalues:\n\n* `anniversary`\n* `other`",
          "type": "string"
        },
        "date": {
          "$ref": "Date",
          "description": "The date of the event."
        },
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        }
      },
      "id": "Event"
    },
    "DeleteContactPhotoResponse": {
      "id": "DeleteContactPhotoResponse",
      "description": "The response for deleteing a contact's photo.",
      "type": "object",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the\nDeleteContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      }
    },
    "ModifyContactGroupMembersResponse": {
      "description": "The response to a modify contact group members request.",
      "type": "object",
      "properties": {
        "canNotRemoveLastContactGroupResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The contact people resource names that cannot be removed from their\nlast contact group."
        },
        "notFoundResourceNames": {
          "description": "The contact people resource names that were not found.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ModifyContactGroupMembersResponse"
    },
    "ProfileMetadata": {
      "type": "object",
      "properties": {
        "userTypes": {
          "enumDescriptions": [
            "The user type is not known.",
            "The user is a Google user.",
            "The user is a Google+ user.",
            "The user is a G Suite user."
          ],
          "description": "Output only. The user types.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ]
          }
        },
        "objectType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Google+ Page.](http://www.google.com/+/brands/)"
          ],
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "description": "Output only. The profile object type."
        }
      },
      "id": "ProfileMetadata",
      "description": "The metadata about a profile."
    },
    "Gender": {
      "description": "A person's gender.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The gender for the person. The gender can be custom or one of these\npredefined values:\n\n* `male`\n* `female`\n* `other`\n* `unknown`"
        },
        "formattedValue": {
          "description": "Output only. The value of the gender translated and formatted in the viewer's\naccount locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the gender."
        }
      },
      "id": "Gender"
    },
    "CoverPhoto": {
      "id": "CoverPhoto",
      "description": "A person's cover photo. A large image shown on the person's\nprofile page that represents who they are or what they care about.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the cover photo.",
          "$ref": "FieldMetadata"
        },
        "default": {
          "description": "True if the cover photo is the default cover photo;\nfalse if the cover photo is a user-provided cover photo.",
          "type": "boolean"
        },
        "url": {
          "type": "string",
          "description": "The URL of the cover photo."
        }
      }
    },
    "Interest": {
      "id": "Interest",
      "description": "One of the person's interests.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the interest.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The interest; for example, `stargazing`.",
          "type": "string"
        }
      }
    },
    "Nickname": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the nickname."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has\nchanged as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`"
          ],
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME"
          ],
          "description": "The type of the nickname."
        },
        "value": {
          "description": "The nickname.",
          "type": "string"
        }
      },
      "id": "Nickname",
      "description": "A person's nickname."
    },
    "EmailAddress": {
      "id": "EmailAddress",
      "description": "A person's email address.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the email address."
        },
        "type": {
          "description": "The type of the email address. The type can be custom or one of these\npredefined values:\n\n* `home`\n* `work`\n* `other`",
          "type": "string"
        },
        "value": {
          "description": "The email address.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the email address translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "displayName": {
          "description": "The display name of the email.",
          "type": "string"
        }
      }
    },
    "Skill": {
      "description": "A skill that the person has.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the skill."
        },
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        }
      },
      "id": "Skill"
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, e.g. a birthday. The time of day\nand time zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. This can represent:\n\n* A full date, with non-zero year, month and day values\n* A month and day value, with a zero year, e.g. an anniversary\n* A year on its own, with zero month and day values\n* A year and month value, with a zero day, e.g. a credit card expiration date\n\nRelated types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
          "format": "int32"
        },
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year by itself or a year and month where the day is not\nsignificant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a\nmonth and day.",
          "format": "int32"
        }
      }
    },
    "Tagline": {
      "description": "A brief one-line description of the person.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the tagline."
        },
        "value": {
          "description": "The tagline.",
          "type": "string"
        }
      },
      "id": "Tagline"
    },
    "Name": {
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "type": "object",
      "properties": {
        "honorificPrefix": {
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`",
          "type": "string"
        },
        "phoneticHonorificSuffix": {
          "description": "The honorific suffixes spelled as they sound.",
          "type": "string"
        },
        "middleName": {
          "type": "string",
          "description": "The middle name(s)."
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "phoneticHonorificPrefix": {
          "description": "The honorific prefixes spelled as they sound.",
          "type": "string"
        },
        "phoneticGivenName": {
          "description": "The given name spelled as it sounds.",
          "type": "string"
        },
        "phoneticFamilyName": {
          "description": "The family name spelled as it sounds.",
          "type": "string"
        },
        "familyName": {
          "type": "string",
          "description": "The family name."
        },
        "phoneticMiddleName": {
          "description": "The middle name(s) spelled as they sound.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the name."
        },
        "phoneticFullName": {
          "type": "string",
          "description": "The full name spelled as it sounds."
        },
        "displayNameLastFirst": {
          "description": "Output only. The display name with the last name first formatted according to\nthe locale specified by the viewer's account or the\n`Accept-Language` HTTP header.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name formatted according to the locale specified by\nthe viewer's account or the `Accept-Language` HTTP header."
        },
        "honorificSuffix": {
          "description": "The honorific suffixes, such as `Jr.`",
          "type": "string"
        }
      },
      "id": "Name"
    },
    "Locale": {
      "description": "A person's locale preference.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the locale."
        },
        "value": {
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47)\nlanguage tag representing the locale.",
          "type": "string"
        }
      },
      "id": "Locale"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "UserDefined": {
      "type": "object",
      "properties": {
        "key": {
          "description": "The end user specified key of the user defined data.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the user defined data."
        },
        "value": {
          "description": "The end user specified value of the user defined data.",
          "type": "string"
        }
      },
      "id": "UserDefined",
      "description": "Arbitrary user data that is populated by the end users."
    },
    "Biography": {
      "description": "A person's short biography.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the biography."
        },
        "value": {
          "description": "The short biography.",
          "type": "string"
        },
        "contentType": {
          "description": "The content type of the biography.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ]
        }
      },
      "id": "Biography"
    },
    "FieldMetadata": {
      "description": "Metadata about a field.",
      "type": "object",
      "properties": {
        "source": {
          "description": "The source of the field.",
          "$ref": "Source"
        },
        "verified": {
          "type": "boolean",
          "description": "Output only. True if the field is verified; false if the field is unverified. A\nverified field is typically a name, email address, phone number, or\nwebsite that has been confirmed to be owned by the person."
        },
        "primary": {
          "description": "True if the field is the primary field; false if the field is a secondary\nfield.",
          "type": "boolean"
        }
      },
      "id": "FieldMetadata"
    },
    "Source": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The source type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the\nprofile at https://profiles.google.com/\u003cvar\u003eid\u003c/var\u003e where\n\u003cvar\u003eid\u003c/var\u003e is the source id.",
            "[G Suite domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the\ncontact at https://contact.google.com/\u003cvar\u003eid\u003c/var\u003e where \u003cvar\u003eid\u003c/var\u003e\nis the source id."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT"
          ]
        },
        "etag": {
          "type": "string",
          "description": "**Only populated in `person.metadata.sources`.**\n\nThe [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the\nsource. Used for web cache validation."
        },
        "id": {
          "type": "string",
          "description": "The unique identifier within the source type generated by the server."
        },
        "profileMetadata": {
          "$ref": "ProfileMetadata",
          "description": "Output only. **Only populated in `person.metadata.sources`.**\n\nMetadata about a source of type PROFILE."
        },
        "updateTime": {
          "description": "Output only. **Only populated in `person.metadata.sources`.**\n\nLast update timestamp of this source.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Source",
      "description": "The source of a field."
    },
    "RelationshipInterest": {
      "id": "RelationshipInterest",
      "description": "A person's relationship interest .",
      "type": "object",
      "properties": {
        "formattedValue": {
          "description": "Output only. The value of the relationship interest translated and formatted\nin the viewer's account locale or the locale specified in the\nAccept-Language HTTP header.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the relationship interest.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The kind of relationship the person is looking for. The value can be custom\nor one of these predefined values:\n\n* `friend`\n* `date`\n* `relationship`\n* `networking`",
          "type": "string"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "canonicalName": "People Service",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "View your email addresses"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "View your phone numbers"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "View your complete date of birth"
        }
      }
    }
  },
  "rootUrl": "https://people.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "people",
  "batchPath": "batch",
  "title": "People API",
  "ownerName": "Google",
  "resources": {
    "people": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Person"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "GET",
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the person to provide information about.\n\n- To get information about the authenticated user, specify `people/me`.\n- To get information about a google account, specify\n `people/`\u003cvar\u003eaccount_id\u003c/var\u003e.\n- To get information about a contact, specify the resource name that\n  identifies the contact as returned by\n[`people.connections.list`](/people/api/rest/v1/people.connections/list).",
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$",
              "location": "path"
            },
            "personFields": {
              "location": "query",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple\nfields can be specified by separating them with commas. Valid values are:\n\n* addresses\n* ageRanges\n* biographies\n* birthdays\n* braggingRights\n* coverPhotos\n* emailAddresses\n* events\n* genders\n* imClients\n* interests\n* locales\n* memberships\n* metadata\n* names\n* nicknames\n* occupations\n* organizations\n* phoneNumbers\n* photos\n* relations\n* relationshipInterests\n* relationshipStatuses\n* residences\n* sipAddresses\n* skills\n* taglines\n* urls\n* userDefined",
              "format": "google-fieldmask",
              "type": "string"
            },
            "requestMask.includeField": {
              "description": "Required. Comma-separated list of person fields to be included in the response. Each\npath should start with `person.`: for example, `person.names` or\n`person.photos`.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "flatPath": "v1/people/{peopleId}",
          "path": "v1/{+resourceName}",
          "id": "people.people.get",
          "description": "Provides information about a person by specifying a resource name. Use\n`people/me` to indicate the authenticated user.\n\u003cbr\u003e\nThe request throws a 400 error if 'personFields' is not specified."
        },
        "deleteContact": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the contact to delete.",
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people/{peopleId}:deleteContact",
          "path": "v1/{+resourceName}:deleteContact",
          "id": "people.people.deleteContact",
          "description": "Delete a contact person. Any non-contact data will not be deleted."
        },
        "getBatchGet": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GetPeopleResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "personFields": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple\nfields can be specified by separating them with commas. Valid values are:\n\n* addresses\n* ageRanges\n* biographies\n* birthdays\n* braggingRights\n* coverPhotos\n* emailAddresses\n* events\n* genders\n* imClients\n* interests\n* locales\n* memberships\n* metadata\n* names\n* nicknames\n* occupations\n* organizations\n* phoneNumbers\n* photos\n* relations\n* relationshipInterests\n* relationshipStatuses\n* residences\n* sipAddresses\n* skills\n* taglines\n* urls\n* userDefined",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "requestMask.includeField": {
              "description": "Required. Comma-separated list of person fields to be included in the response. Each\npath should start with `person.`: for example, `person.names` or\n`person.photos`.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "resourceNames": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Required. The resource names of the people to provide information about.\n\n- To get information about the authenticated user, specify `people/me`.\n- To get information about a google account, specify\n  `people/`\u003cvar\u003eaccount_id\u003c/var\u003e.\n- To get information about a contact, specify the resource name that\n  identifies the contact as returned by\n[`people.connections.list`](/people/api/rest/v1/people.connections/list).\n\nYou can include up to 50 resource names in one request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "flatPath": "v1/people:batchGet",
          "id": "people.people.getBatchGet",
          "path": "v1/people:batchGet",
          "description": "Provides information about a list of specific people by specifying a list\nof requested resource names. Use `people/me` to indicate the authenticated\nuser.\n\u003cbr\u003e\nThe request throws a 400 error if 'personFields' is not specified."
        },
        "updateContactPhoto": {
          "flatPath": "v1/people/{peopleId}:updateContactPhoto",
          "id": "people.people.updateContactPhoto",
          "path": "v1/{+resourceName}:updateContactPhoto",
          "request": {
            "$ref": "UpdateContactPhotoRequest"
          },
          "description": "Update a contact's photo.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceName"
          ],
          "response": {
            "$ref": "UpdateContactPhotoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "location": "path",
              "description": "Required. Person resource name",
              "required": true,
              "type": "string"
            }
          }
        },
        "deleteContactPhoto": {
          "description": "Delete a contact's photo.",
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "resourceName": {
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the contact whose photo will be deleted."
            },
            "personFields": {
              "location": "query",
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple\nfields can be specified by separating them with commas. Defaults to empty\nif not set, which will skip the post mutate get. Valid values are:\n\n* addresses\n* ageRanges\n* biographies\n* birthdays\n* braggingRights\n* coverPhotos\n* emailAddresses\n* events\n* genders\n* imClients\n* interests\n* locales\n* memberships\n* metadata\n* names\n* nicknames\n* occupations\n* organizations\n* phoneNumbers\n* photos\n* relations\n* relationshipInterests\n* relationshipStatuses\n* residences\n* sipAddresses\n* skills\n* taglines\n* urls\n* userDefined",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "id": "people.people.deleteContactPhoto"
        },
        "updateContact": {
          "flatPath": "v1/people/{peopleId}:updateContact",
          "path": "v1/{+resourceName}:updateContact",
          "id": "people.people.updateContact",
          "request": {
            "$ref": "Person"
          },
          "description": "Update contact data for an existing contact person. Any non-contact data\nwill not be modified.\n\nThe request throws a 400 error if `updatePersonFields` is not specified.\n\u003cbr\u003e\nThe request throws a 400 error if `person.metadata.sources` is not\nspecified for the contact to be updated.\n\u003cbr\u003e\nThe request throws a 400 error with an error with reason\n`\"failedPrecondition\"` if `person.metadata.sources.etag` is different than\nthe contact's etag, which indicates the contact has changed since its data\nwas read. Clients should get the latest person and re-apply their updates\nto the latest person.",
          "response": {
            "$ref": "Person"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "resourceName": {
              "description": "The resource name for the person, assigned by the server. An ASCII string\nwith a max length of 27 characters, in the form of\n`people/`\u003cvar\u003eperson_id\u003c/var\u003e.",
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$",
              "location": "path"
            },
            "updatePersonFields": {
              "location": "query",
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple\nfields can be specified by separating them with commas.\nAll updated fields will be replaced. Valid values are:\n\n* addresses\n* biographies\n* birthdays\n* emailAddresses\n* events\n* genders\n* imClients\n* interests\n* locales\n* memberships\n* names\n* nicknames\n* occupations\n* organizations\n* phoneNumbers\n* relations\n* residences\n* sipAddresses\n* urls\n* userDefined",
              "format": "google-fieldmask",
              "type": "string"
            }
          }
        },
        "createContact": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Person"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people:createContact",
          "id": "people.people.createContact",
          "path": "v1/people:createContact",
          "description": "Create a new contact and return the person resource for that contact.",
          "request": {
            "$ref": "Person"
          }
        }
      },
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "description": "Provides a list of the authenticated user's contacts merged with any\nconnected profiles.\n\u003cbr\u003e\nThe request throws a 400 error if 'personFields' is not specified.",
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "httpMethod": "GET",
              "parameters": {
                "requestSyncToken": {
                  "description": "Whether the response should include a sync token, which can be used to get\nall changes since the last request. For subsequent sync requests use the\n`sync_token` param instead. Initial sync requests that specify\n`request_sync_token` have an additional rate limit.",
                  "type": "boolean",
                  "location": "query"
                },
                "resourceName": {
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
                  "required": true,
                  "type": "string",
                  "pattern": "^people/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token of the page to be returned."
                },
                "pageSize": {
                  "description": "Optional. The number of connections to include in the response. Valid values are\nbetween 1 and 2000, inclusive. Defaults to 100 if not set or set to 0.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "requestMask.includeField": {
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each\npath should start with `person.`: for example, `person.names` or\n`person.photos`.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "syncToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A sync token returned by a previous call to `people.connections.list`.\nOnly resources changed since the sync token was created will be returned.\nSync requests that specify `sync_token` have an additional rate limit."
                },
                "personFields": {
                  "location": "query",
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple\nfields can be specified by separating them with commas. Valid values are:\n\n* addresses\n* ageRanges\n* biographies\n* birthdays\n* braggingRights\n* coverPhotos\n* emailAddresses\n* events\n* genders\n* imClients\n* interests\n* locales\n* memberships\n* metadata\n* names\n* nicknames\n* occupations\n* organizations\n* phoneNumbers\n* photos\n* relations\n* relationshipInterests\n* relationshipStatuses\n* residences\n* sipAddresses\n* skills\n* taglines\n* urls\n* userDefined",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "sortOrder": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "description": "The order in which the connections should be sorted. Defaults to\n`LAST_MODIFIED_ASCENDING`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ],
              "flatPath": "v1/people/{peopleId}/connections",
              "path": "v1/{+resourceName}/connections",
              "id": "people.people.connections.list"
            }
          }
        }
      }
    },
    "contactGroups": {
      "methods": {
        "create": {
          "response": {
            "$ref": "ContactGroup"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/contactGroups",
          "path": "v1/contactGroups",
          "id": "people.contactGroups.create",
          "description": "Create a new contact group owned by the authenticated user.",
          "request": {
            "$ref": "CreateContactGroupRequest"
          }
        },
        "get": {
          "description": "Get a specific contact group owned by the authenticated user by specifying\na contact group resource name.",
          "response": {
            "$ref": "ContactGroup"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameters": {
            "maxMembers": {
              "location": "query",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not\nset, which will return zero members.",
              "format": "int32",
              "type": "integer"
            },
            "resourceName": {
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the contact group to get.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "path": "v1/{+resourceName}",
          "id": "people.contactGroups.get"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "resourceName": {
              "location": "path",
              "description": "The resource name for the contact group, assigned by the server. An ASCII\nstring, in the form of `contactGroups/`\u003cvar\u003econtact_group_id\u003c/var\u003e.",
              "required": true,
              "type": "string",
              "pattern": "^contactGroups/[^/]+$"
            }
          },
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "path": "v1/{+resourceName}",
          "id": "people.contactGroups.update",
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "description": "Update the name of an existing contact group owned by the authenticated\nuser.",
          "response": {
            "$ref": "ContactGroup"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "PUT"
        },
        "batchGet": {
          "flatPath": "v1/contactGroups:batchGet",
          "id": "people.contactGroups.batchGet",
          "path": "v1/contactGroups:batchGet",
          "description": "Get a list of contact groups owned by the authenticated user by specifying\na list of contact group resource names.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameters": {
            "maxMembers": {
              "type": "integer",
              "location": "query",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults\nto 0 if not set, which will return zero members.",
              "format": "int32"
            },
            "resourceNames": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Required. The resource names of the contact groups to get."
            }
          }
        },
        "delete": {
          "parameters": {
            "resourceName": {
              "location": "path",
              "description": "Required. The resource name of the contact group to delete.",
              "required": true,
              "type": "string",
              "pattern": "^contactGroups/[^/]+$"
            },
            "deleteContacts": {
              "location": "query",
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "path": "v1/{+resourceName}",
          "id": "people.contactGroups.delete",
          "description": "Delete an existing contact group owned by the authenticated user by\nspecifying a contact group resource name.",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "id": "people.contactGroups.list",
          "path": "v1/contactGroups",
          "description": "List all contact groups owned by the authenticated user. Members of the\ncontact groups are not populated.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "A sync token, returned by a previous call to `contactgroups.list`.\nOnly resources changed since the sync token was created will be returned."
            },
            "pageToken": {
              "description": "The next_page_token value returned from a previous call to\n[ListContactGroups](/people/api/rest/v1/contactgroups/list).\nRequests the next page of resources.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and\n1000, inclusive. Defaults to 30 if not set or set to 0.",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "flatPath": "v1/contactGroups"
        }
      },
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "parameters": {
                "resourceName": {
                  "pattern": "^contactGroups/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the contact group to modify.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "path": "v1/{+resourceName}/members:modify",
              "id": "people.contactGroups.members.modify",
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "description": "Modify the members of a contact group owned by the authenticated user.\n\u003cbr\u003e\nThe only system contact groups that can have members added are\n`contactGroups/myContacts` and `contactGroups/starred`. Other system\ncontact groups are deprecated and can only have contacts removed."
            }
          }
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "version": "v1",
  "baseUrl": "https://people.googleapis.com/",
  "servicePath": "",
  "description": "Provides access to information about profiles and contacts.",
  "kind": "discovery#restDescription",
  "basePath": "",
  "id": "people:v1",
  "documentationLink": "https://developers.google.com/people/",
  "revision": "20191031"
}
