{
  "basePath": "",
  "id": "run:v1alpha1",
  "documentationLink": "https://cloud.google.com/run/",
  "revision": "20190911",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "KeyToPath": {
      "description": "Maps a string key to a path within a volume.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key to project.",
          "type": "string"
        },
        "path": {
          "description": "The relative path of the file to map the key to.\nMay not be an absolute path.\nMay not contain the path element '..'.\nMay not start with the string '..'.",
          "type": "string"
        },
        "mode": {
          "type": "integer",
          "description": "Mode bits to use on this file, must be a value between 0 and 0777. If not\nspecified, the volume defaultMode will be used. This might be in conflict\nwith other options that affect the file mode, like fsGroup, and the result\ncan be other mode bits set. +optional",
          "format": "int32"
        }
      },
      "id": "KeyToPath"
    },
    "Capabilities": {
      "description": "Adds and removes POSIX capabilities from running containers.",
      "type": "object",
      "properties": {
        "add": {
          "description": "Added capabilities\n+optional",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "drop": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Removed capabilities\n+optional"
        }
      },
      "id": "Capabilities"
    },
    "Container": {
      "type": "object",
      "properties": {
        "terminationMessagePolicy": {
          "description": "Indicate how the termination message should be populated. File will use the\ncontents of terminationMessagePath to populate the container status message\non both success and failure. FallbackToLogsOnError will use the last chunk\nof container log output if the termination message file is empty and the\ncontainer exited with an error. The log output is limited to 2048 bytes or\n80 lines, whichever is smaller. Defaults to File. Cannot be updated.\n+optional",
          "type": "string"
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Security options the pod should run with.\nMore info: https://kubernetes.io/docs/concepts/policy/security-context/\nMore info:\nhttps://kubernetes.io/docs/tasks/configure-pod-container/security-context/\n+optional"
        },
        "livenessProbe": {
          "$ref": "Probe",
          "description": "Periodic probe of container liveness.\nContainer will be restarted if the probe fails.\nCannot be updated.\nMore info:\nhttps://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes\n+optional"
        },
        "env": {
          "description": "List of environment variables to set in the container.\nCannot be updated.\n+optional",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "imagePullPolicy": {
          "type": "string",
          "description": "Image pull policy.\nOne of Always, Never, IfNotPresent.\nDefaults to Always if :latest tag is specified, or IfNotPresent otherwise.\nCannot be updated.\nMore info:\nhttps://kubernetes.io/docs/concepts/containers/images#updating-images\n+optional"
        },
        "readinessProbe": {
          "$ref": "Probe",
          "description": "Periodic probe of container service readiness.\nContainer will be removed from service endpoints if the probe fails.\nCannot be updated.\nMore info:\nhttps://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes\n+optional"
        },
        "resources": {
          "$ref": "ResourceRequirements",
          "description": "Compute Resources required by this container.\nCannot be updated.\nMore info:\nhttps://kubernetes.io/docs/concepts/storage/persistent-volumes#resources\n+optional"
        },
        "terminationMessagePath": {
          "description": "Optional: Path at which the file to which the container's termination\nmessage will be written is mounted into the container's filesystem. Message\nwritten is intended to be brief final status, such as an assertion failure\nmessage. Will be truncated by the node if greater than 4096 bytes. The\ntotal message length across all containers will be limited to 12kb.\nDefaults to /dev/termination-log.\nCannot be updated.\n+optional",
          "type": "string"
        },
        "lifecycle": {
          "$ref": "Lifecycle",
          "description": "Actions that the management system should take in response to container\nlifecycle events. Cannot be updated. +optional"
        },
        "stdin": {
          "type": "boolean",
          "description": "Whether this container should allocate a buffer for stdin in the container\nruntime. If this is not set, reads from stdin in the container will always\nresult in EOF. Default is false. +optional"
        },
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Pod volumes to mount into the container's filesystem.\nCannot be updated.\n+optional"
        },
        "tty": {
          "type": "boolean",
          "description": "Whether this container should allocate a TTY for itself, also requires\n'stdin' to be true. Default is false. +optional"
        },
        "volumeDevices": {
          "description": "volumeDevices is the list of block devices to be used by the container.\nThis is an alpha feature and may change in the future.\n+optional",
          "type": "array",
          "items": {
            "$ref": "VolumeDevice"
          }
        },
        "ports": {
          "description": "List of ports to expose from the container. Exposing a port here gives\nthe system additional information about the network connections a\ncontainer uses, but is primarily informational. Not specifying a port here\nDOES NOT prevent that port from being exposed. Any port which is\nlistening on the default \"0.0.0.0\" address inside a container will be\naccessible from the network.\nCannot be updated.\n+optional",
          "type": "array",
          "items": {
            "$ref": "ContainerPort"
          }
        },
        "workingDir": {
          "description": "Container's working directory.\nIf not specified, the container runtime's default will be used, which\nmight be configured in the container image.\nCannot be updated.\n+optional",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint.\nThe docker image's CMD is used if this is not provided.\nVariable references $(VAR_NAME) are expanded using the container's\nenvironment. If a variable cannot be resolved, the reference in the input\nstring will be unchanged. The $(VAR_NAME) syntax can be escaped with a\ndouble $$, ie: $$(VAR_NAME). Escaped references will never be expanded,\nregardless of whether the variable exists or not.\nCannot be updated.\nMore info:\nhttps://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell\n+optional"
        },
        "stdinOnce": {
          "description": "Whether the container runtime should close the stdin channel after it has\nbeen opened by a single attach. When stdin is true the stdin stream will\nremain open across multiple attach sessions. If stdinOnce is set to true,\nstdin is opened on container start, is empty until the first client\nattaches to stdin, and then remains open and accepts data until the client\ndisconnects, at which time stdin is closed and remains closed until the\ncontainer is restarted. If this flag is false, a container processes that\nreads from stdin will never receive an EOF. Default is false +optional",
          "type": "boolean"
        },
        "envFrom": {
          "description": "List of sources to populate environment variables in the container.\nThe keys defined within a source must be a C_IDENTIFIER. All invalid keys\nwill be reported as an event when the container is starting. When a key\nexists in multiple sources, the value associated with the last source will\ntake precedence. Values defined by an Env with a duplicate key will take\nprecedence. Cannot be updated. +optional",
          "type": "array",
          "items": {
            "$ref": "EnvFromSource"
          }
        },
        "image": {
          "type": "string",
          "description": "Docker image name.\nMore info: https://kubernetes.io/docs/concepts/containers/images"
        },
        "name": {
          "type": "string",
          "description": "Name of the container specified as a DNS_LABEL.\nEach container must have a unique name (DNS_LABEL).\nCannot be updated."
        },
        "command": {
          "description": "Entrypoint array. Not executed within a shell.\nThe docker image's ENTRYPOINT is used if this is not provided.\nVariable references $(VAR_NAME) are expanded using the container's\nenvironment. If a variable cannot be resolved, the reference in the input\nstring will be unchanged. The $(VAR_NAME) syntax can be escaped with a\ndouble $$, ie: $$(VAR_NAME). Escaped references will never be expanded,\nregardless of whether the variable exists or not.\nCannot be updated.\nMore info:\nhttps://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell\n+optional",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Container",
      "description": "A single application container.\nThis specifies both the container to run, the command to run in the container\nand the arguments to supply to it.\nNote that additional arguments may be supplied by the system to the container\nat runtime."
    },
    "EventType": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of resource, in this case \"EventType\".",
          "type": "string"
        },
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Metadata associated with this EventType."
        },
        "apiVersion": {
          "description": "The API version for this call such as \"eventing.knative.dev/v1alpha1\".",
          "type": "string"
        },
        "spec": {
          "$ref": "EventTypeSpec",
          "description": "Spec defines the desired state of the EventType."
        }
      },
      "id": "EventType"
    },
    "DomainMappingCondition": {
      "description": "DomainMappingCondition contains state information for a DomainMapping.",
      "type": "object",
      "properties": {
        "lastTransitionTime": {
          "description": "Last time the condition transitioned from one status to another.\n+optional",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "description": "Human readable message indicating details about the current status.\n+optional",
          "type": "string"
        },
        "status": {
          "description": "Status of the condition, one of True, False, Unknown.",
          "type": "string"
        },
        "severity": {
          "description": "How to interpret failures of this condition, one of Error, Warning, Info\n+optional",
          "type": "string"
        },
        "reason": {
          "description": "One-word CamelCase reason for the condition's current status.\n+optional",
          "type": "string"
        },
        "type": {
          "description": "Type of domain mapping condition.",
          "type": "string"
        }
      },
      "id": "DomainMappingCondition"
    },
    "SecretEnvSource": {
      "description": "SecretEnvSource selects a Secret to populate the environment\nvariables with.\n\nThe contents of the target Secret's Data field will represent the\nkey-value pairs as environment variables.",
      "type": "object",
      "properties": {
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "The Secret to select from."
        },
        "optional": {
          "description": "Specify whether the Secret must be defined\n+optional",
          "type": "boolean"
        }
      },
      "id": "SecretEnvSource"
    },
    "TriggerImporterSpec": {
      "type": "object",
      "properties": {
        "eventTypeName": {
          "type": "string",
          "description": "Name of the EventType that this importer provides."
        },
        "arguments": {
          "description": "Arguments to use for the importer. These must match the parameters in the\nEventType's importer.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "TriggerImporterSpec"
    },
    "Initializer": {
      "id": "Initializer",
      "description": "Initializer is information about an initializer that has not yet completed.",
      "type": "object",
      "properties": {
        "name": {
          "description": "name of the process that is responsible for initializing this object.",
          "type": "string"
        }
      }
    },
    "RevisionCondition": {
      "id": "RevisionCondition",
      "description": "RevisionCondition defines a readiness condition for a Revision.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Human readable message indicating details about the current status.\n+optional",
          "type": "string"
        },
        "lastTransitionTime": {
          "description": "Last time the condition transitioned from one status to another.\n+optional",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the condition, one of True, False, Unknown."
        },
        "severity": {
          "type": "string",
          "description": "How to interpret failures of this condition, one of Error, Warning, Info\n+optional"
        },
        "reason": {
          "description": "One-word CamelCase reason for the condition's last transition.\n+optional",
          "type": "string"
        },
        "type": {
          "description": "RevisionConditionType is used to communicate the status of the\nreconciliation process. See also:\nhttps://github.com/knative/serving/blob/master/docs/spec/errors.md#error-conditions-and-reporting\nTypes include:\n\n* \"Ready\": True when the Revision is ready.\n* \"ResourcesAvailable\": True when underlying resources have been\nprovisioned.\n* \"ContainerHealthy\": True when the Revision readiness check completes.\n* \"Active\": True when the Revision may receive traffic.",
          "type": "string"
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      },
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "ListMeta": {
      "description": "ListMeta describes metadata that synthetic resources must have, including\nlists and various status objects. A resource may have only one of\n{ObjectMeta, ListMeta}.",
      "type": "object",
      "properties": {
        "resourceVersion": {
          "description": "String that identifies the server's internal version of this object that\ncan be used by clients to determine when objects have changed. Value must\nbe treated as opaque by clients and passed unmodified back to the server.\nPopulated by the system.\nRead-only.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency\n+optional",
          "type": "string"
        },
        "continue": {
          "description": "continue may be set if the user set a limit on the number of items\nreturned, and indicates that the server has more data available. The value\nis opaque and may be used to issue another request to the endpoint that\nserved this list to retrieve the next set of available objects. Continuing\na list may not be possible if the server configuration has changed or more\nthan a few minutes have passed. The resourceVersion field returned when\nusing this continue value will be identical to the value in the first\nresponse.",
          "type": "string"
        },
        "selfLink": {
          "description": "SelfLink is a URL representing this object.\nPopulated by the system.\nRead-only.\n+optional",
          "type": "string"
        }
      },
      "id": "ListMeta"
    },
    "SecretVolumeSource": {
      "type": "object",
      "properties": {
        "defaultMode": {
          "description": "Mode bits to use on created files by default. Must be a value between 0 and\n0777. Defaults to 0644. Directories within the path are not affected by\nthis setting. This might be in conflict with other options that affect the\nfile mode, like fsGroup, and the result can be other mode bits set.",
          "format": "int32",
          "type": "integer"
        },
        "secretName": {
          "type": "string",
          "description": "Name of the secret in the container's namespace to use."
        },
        "items": {
          "description": "If unspecified, each key-value pair in the Data field of the referenced\nSecret will be projected into the volume as a file whose name is the\nkey and content is the value. If specified, the listed keys will be\nprojected into the specified paths, and unlisted keys will not be\npresent. If a key is specified which is not present in the Secret,\nthe volume setup will error unless it is marked optional.",
          "type": "array",
          "items": {
            "$ref": "KeyToPath"
          }
        },
        "optional": {
          "description": "Specify whether the Secret or its keys must be defined.",
          "type": "boolean"
        }
      },
      "id": "SecretVolumeSource",
      "description": "The contents of the target Secret's Data field will be presented in a volume\nas files using the keys in the Data field as the file names."
    },
    "LocalObjectReference": {
      "id": "LocalObjectReference",
      "description": "LocalObjectReference contains enough information to let you locate the\nreferenced object inside the same namespace.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the referent.\nMore info:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names",
          "type": "string"
        }
      }
    },
    "ConfigMapVolumeSource": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the config."
        },
        "defaultMode": {
          "type": "integer",
          "description": "Mode bits to use on created files by default. Must be a value between 0 and\n0777. Defaults to 0644. Directories within the path are not affected by\nthis setting. This might be in conflict with other options that affect the\nfile mode, like fsGroup, and the result can be other mode bits set.",
          "format": "int32"
        },
        "items": {
          "description": "If unspecified, each key-value pair in the Data field of the referenced\nSecret will be projected into the volume as a file whose name is the\nkey and content is the value. If specified, the listed keys will be\nprojected into the specified paths, and unlisted keys will not be\npresent. If a key is specified which is not present in the Secret,\nthe volume setup will error unless it is marked optional.",
          "type": "array",
          "items": {
            "$ref": "KeyToPath"
          }
        },
        "optional": {
          "description": "Specify whether the Secret or its keys must be defined.",
          "type": "boolean"
        }
      },
      "id": "ConfigMapVolumeSource",
      "description": "Adapts a ConfigMap into a volume.\nThe contents of the target ConfigMap's Data field will be presented in a\nvolume as files using the keys in the Data field as the file names, unless\nthe items element is populated with specific mappings of keys to paths."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:jose@example.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n            },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n          ]\n        },\n        {\n          \"service\": \"sampleservice.googleapis.com\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:aliya@example.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts jose@example.com from DATA_READ logging, and\naliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "ServiceSpecRunLatest": {
      "description": "ServiceSpecRunLatest contains the options for always having a route to the\nlatest configuration. See ServiceSpec for more details.",
      "type": "object",
      "properties": {
        "configuration": {
          "description": "The configuration for this service.",
          "$ref": "ConfigurationSpec"
        }
      },
      "id": "ServiceSpecRunLatest"
    },
    "ServiceSpecManualType": {
      "id": "ServiceSpecManualType",
      "description": "ServiceSpecManualType contains the options for configuring a manual service.\nSee ServiceSpec for more details.\n\nNot currently supported by Cloud Run.",
      "type": "object",
      "properties": {}
    },
    "ListServicesResponse": {
      "description": "A list of Service resources.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"ServiceList\"."
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\"."
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this Service list."
        },
        "items": {
          "description": "List of Services.",
          "type": "array",
          "items": {
            "$ref": "Service"
          }
        },
        "regionDetails": {
          "description": "Details for the regions used during a global call including any failures.\nThis is not populated when targeting a specific region.",
          "type": "object",
          "additionalProperties": {
            "$ref": "RegionDetails"
          }
        }
      },
      "id": "ListServicesResponse"
    },
    "Volume": {
      "type": "object",
      "properties": {
        "configMap": {
          "$ref": "ConfigMapVolumeSource"
        },
        "name": {
          "type": "string",
          "description": "Volume's name."
        },
        "secret": {
          "$ref": "SecretVolumeSource"
        }
      },
      "id": "Volume",
      "description": "Volume represents a named volume in a container."
    },
    "ContainerPort": {
      "type": "object",
      "properties": {
        "containerPort": {
          "description": "Number of port to expose on the pod's IP address.\nThis must be a valid port number, 0 \u003c x \u003c 65536.",
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "type": "string",
          "description": "Protocol for port. Must be UDP or TCP.\nDefaults to \"TCP\".\n+optional"
        },
        "hostIP": {
          "type": "string",
          "description": "What host IP to bind the external port to.\n+optional"
        },
        "name": {
          "description": "If specified, this must be an IANA_SVC_NAME and unique within the pod. Each\nnamed port in a pod must have a unique name. Name for the port that can be\nreferred to by services.\n+optional",
          "type": "string"
        },
        "hostPort": {
          "type": "integer",
          "description": "Number of port to expose on the host.\nIf specified, this must be a valid port number, 0 \u003c x \u003c 65536.\nIf HostNetwork is specified, this must match ContainerPort.\nMost containers do not need this.\n+optional",
          "format": "int32"
        }
      },
      "id": "ContainerPort",
      "description": "ContainerPort represents a network port in a single container."
    },
    "ConfigurationCondition": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the condition, one of True, False, Unknown."
        },
        "severity": {
          "description": "How to interpret failures of this condition, one of Error, Warning, Info\n+optional",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "One-word CamelCase reason for the condition's last transition.\n+optional"
        },
        "type": {
          "description": "ConfigurationConditionType is used to communicate the status of the\nreconciliation process. See also:\nhttps://github.com/knative/serving/blob/master/docs/spec/errors.md#error-conditions-and-reporting\nTypes include:\"Ready\"",
          "type": "string"
        },
        "message": {
          "description": "Human-readable message indicating details about last transition.\n+optional",
          "type": "string"
        },
        "lastTransitionTime": {
          "description": "Last time the condition transitioned from one status to another.\n+optional",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ConfigurationCondition",
      "description": "ConfigurationCondition defines a readiness condition for a Configuration."
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EventTypeSpec": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type is authoritative. This refers to the CloudEvent type as it enters\ninto the eventing mesh.",
          "type": "string"
        },
        "schema": {
          "description": "Schema is a URI with the EventType schema. It may be a JSON schema, a\nprotobuf schema, etc.\n+optional",
          "type": "string"
        },
        "description": {
          "description": "Description is a string describing what the EventType is about.\n+optional",
          "type": "string"
        },
        "importer": {
          "description": "The importer that provides this EventType to the eventing mesh.",
          "$ref": "EventTypeImporter"
        },
        "source": {
          "type": "string",
          "description": "Source is a valid URI. Refers to the CloudEvent source as it enters into\nthe eventing mesh."
        },
        "broker": {
          "description": "Refers to the Broker that can provide the EventType.",
          "type": "string"
        }
      },
      "id": "EventTypeSpec"
    },
    "ListConfigurationsResponse": {
      "description": "ListConfigurationsResponse is a list of Configuration resources.",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Configuration"
          },
          "description": "List of Configurations."
        },
        "metadata": {
          "description": "Metadata associated with this Configuration list.",
          "$ref": "ListMeta"
        },
        "regionDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "RegionDetails"
          },
          "description": "Details for the regions used during a global call including any failures.\nThis is not populated when targeting a specific region."
        },
        "kind": {
          "description": "The kind of this resource, in this case \"ConfigurationList\".",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\".",
          "type": "string"
        }
      },
      "id": "ListConfigurationsResponse"
    },
    "ServiceStatus": {
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "ServiceCondition"
          },
          "description": "Conditions communicates information about ongoing/complete\nreconciliation processes that bring the \"spec\" inline with the observed\nstate of the world."
        },
        "observedGeneration": {
          "type": "integer",
          "description": "ObservedGeneration is the 'Generation' of the Route that\nwas last processed by the controller.\n\nClients polling for completed reconciliation should poll until\nobservedGeneration = metadata.generation and the Ready condition's status\nis True or False.",
          "format": "int32"
        },
        "address": {
          "$ref": "Addressable",
          "description": "From RouteStatus.\nSimilar to url, information on where the service is available on HTTP."
        },
        "url": {
          "description": "From RouteStatus.\nURL holds the url that will distribute traffic over the provided traffic\ntargets. It generally has the form\nhttps://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app",
          "type": "string"
        },
        "traffic": {
          "type": "array",
          "items": {
            "$ref": "TrafficTarget"
          },
          "description": "From RouteStatus.\nTraffic holds the configured traffic distribution.\nThese entries will always contain RevisionName references.\nWhen ConfigurationName appears in the spec, this will hold the\nLatestReadyRevisionName that we last observed."
        },
        "domain": {
          "type": "string",
          "description": "From RouteStatus.\nDomain holds the top-level domain that will distribute traffic over the\nprovided targets. It generally has the form\nhttps://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app"
        },
        "latestReadyRevisionName": {
          "description": "From ConfigurationStatus.\nLatestReadyRevisionName holds the name of the latest Revision stamped out\nfrom this Service's Configuration that has had its \"Ready\" condition become\n\"True\".",
          "type": "string"
        },
        "latestCreatedRevisionName": {
          "description": "From ConfigurationStatus.\nLatestCreatedRevisionName is the last revision that was created from this\nService's Configuration. It might not be ready yet, for that use\nLatestReadyRevisionName.",
          "type": "string"
        }
      },
      "id": "ServiceStatus",
      "description": "The current state of the Service. Output only."
    },
    "EnvFromSource": {
      "description": "EnvFromSource represents the source of a set of ConfigMaps",
      "type": "object",
      "properties": {
        "configMapRef": {
          "$ref": "ConfigMapEnvSource",
          "description": "The ConfigMap to select from\n+optional"
        },
        "secretRef": {
          "$ref": "SecretEnvSource",
          "description": "The Secret to select from\n+optional"
        },
        "prefix": {
          "type": "string",
          "description": "An optional identifier to prepend to each key in the ConfigMap. Must be a\nC_IDENTIFIER. +optional"
        }
      },
      "id": "EnvFromSource"
    },
    "ConfigMapEnvSource": {
      "type": "object",
      "properties": {
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "The ConfigMap to select from."
        },
        "optional": {
          "type": "boolean",
          "description": "Specify whether the ConfigMap must be defined\n+optional"
        }
      },
      "id": "ConfigMapEnvSource",
      "description": "ConfigMapEnvSource selects a ConfigMap to populate the environment\nvariables with.\n\nThe contents of the target ConfigMap's Data field will represent the\nkey-value pairs as environment variables."
    },
    "RouteSpec": {
      "description": "RouteSpec holds the desired state of the Route (from the client).",
      "type": "object",
      "properties": {
        "generation": {
          "description": "Deprecated and not currently populated by Cloud Run. See\nmetadata.generation instead, which is the sequence number containing the\nlatest generation of the desired state.\n\nRead-only.",
          "format": "int32",
          "type": "integer"
        },
        "traffic": {
          "description": "Traffic specifies how to distribute traffic over a collection of Knative\nRevisions and Configurations.\nCloud Run currently supports a single configurationName.",
          "type": "array",
          "items": {
            "$ref": "TrafficTarget"
          }
        }
      },
      "id": "RouteSpec"
    },
    "Probe": {
      "id": "Probe",
      "description": "Probe describes a health check to be performed against a container to\ndetermine whether it is alive or ready to receive traffic.",
      "type": "object",
      "properties": {
        "failureThreshold": {
          "description": "Minimum consecutive failures for the probe to be considered failed after\nhaving succeeded. Defaults to 3. Minimum value is 1. +optional",
          "format": "int32",
          "type": "integer"
        },
        "initialDelaySeconds": {
          "description": "Number of seconds after the container has started before liveness probes\nare initiated. More info:\nhttps://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes\n+optional",
          "format": "int32",
          "type": "integer"
        },
        "timeoutSeconds": {
          "type": "integer",
          "description": "Number of seconds after which the probe times out.\nDefaults to 1 second. Minimum value is 1.\nMore info:\nhttps://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes\n+optional",
          "format": "int32"
        },
        "handler": {
          "$ref": "Handler",
          "description": "The action taken to determine the health of a container"
        },
        "successThreshold": {
          "description": "Minimum consecutive successes for the probe to be considered successful\nafter having failed. Defaults to 1. Must be 1 for liveness. Minimum value\nis 1. +optional",
          "format": "int32",
          "type": "integer"
        },
        "periodSeconds": {
          "description": "How often (in seconds) to perform the probe.\nDefault to 10 seconds. Minimum value is 1.\n+optional",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Lifecycle": {
      "id": "Lifecycle",
      "description": "Lifecycle describes actions that the management system should take in\nresponse to container lifecycle events. For the PostStart and PreStop\nlifecycle handlers, management of the container blocks until the action is\ncomplete, unless the container process fails, in which case the handler is\naborted.",
      "type": "object",
      "properties": {
        "postStart": {
          "$ref": "Handler",
          "description": "PostStart is called immediately after a container is created. If the\nhandler fails, the container is terminated and restarted according to its\nrestart policy. Other management of the container blocks until the hook\ncompletes. More info:\nhttps://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks\n+optional"
        },
        "preStop": {
          "description": "PreStop is called immediately before a container is terminated.\nThe container is terminated after the handler completes.\nThe reason for termination is passed to the handler.\nRegardless of the outcome of the handler, the container is eventually\nterminated. Other management of the container blocks until the hook\ncompletes. More info:\nhttps://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks\n+optional",
          "$ref": "Handler"
        }
      }
    },
    "RevisionStatus": {
      "id": "RevisionStatus",
      "description": "RevisionStatus communicates the observed state of the Revision (from the\ncontroller).",
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "RevisionCondition"
          },
          "description": "Conditions communicates information about ongoing/complete\nreconciliation processes that bring the \"spec\" inline with the observed\nstate of the world.\n\nAs a Revision is being prepared, it will incrementally\nupdate conditions \"ResourcesAvailable\", \"ContainerHealthy\", and \"Active\",\nwhich contribute to the overall \"Ready\" condition."
        },
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Revision that\nwas last processed by the controller.\n\nClients polling for completed reconciliation should poll until\nobservedGeneration = metadata.generation, and the Ready condition's status\nis True or False.",
          "format": "int32",
          "type": "integer"
        },
        "imageDigest": {
          "type": "string",
          "description": "ImageDigest holds the resolved digest for the image specified\nwithin .Spec.Container.Image. The digest is resolved during the creation\nof Revision. This field holds the digest value regardless of whether\na tag or digest was originally specified in the Container object."
        },
        "logUrl": {
          "description": "Specifies the generated logging url for this particular revision\nbased on the revision url template specified in the controller's config.\n+optional",
          "type": "string"
        },
        "serviceName": {
          "type": "string",
          "description": "Not currently used by Cloud Run."
        }
      }
    },
    "ListEventTypesResponse": {
      "description": "ListEventTypesResponse is a list of EventType resources.",
      "type": "object",
      "properties": {
        "regionDetails": {
          "additionalProperties": {
            "$ref": "RegionDetails"
          },
          "description": "Details for the regions used during a global call including any failures.\nThis is not populated when targeting a specific region.",
          "type": "object"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"EventTypeList\".",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"eventing.knative.dev/v1alpha1\"."
        },
        "metadata": {
          "description": "Metadata associated with this EventType list.",
          "$ref": "ListMeta"
        },
        "items": {
          "description": "List of EventTypes.",
          "type": "array",
          "items": {
            "$ref": "EventType"
          }
        }
      },
      "id": "ListEventTypesResponse"
    },
    "TriggerSpec": {
      "type": "object",
      "properties": {
        "importers": {
          "description": "Specification of the importers that will provide events to the trigger.\nNote, for Cloud Run, the importers will only be used if a filter is not\nspecified.",
          "type": "array",
          "items": {
            "$ref": "TriggerImporterSpec"
          }
        },
        "broker": {
          "description": "Broker is the broker that this trigger receives events from. If not\nspecified, will default to 'default'.\n\nNot currently supported by Cloud Run.",
          "type": "string"
        },
        "filter": {
          "$ref": "TriggerFilter",
          "description": "Filter is the filter to apply against all events from the Broker. Only\nevents that pass this filter will be sent to the Subscriber."
        },
        "subscriber": {
          "$ref": "SubscriberSpec",
          "description": "Subscriber is the addressable that receives events from the Broker that\npass the Filter. It is required.\n\nE.g. https://us-central1-myproject.cloudfunctions.net/myfunction or\n/namespaces/my-project/services/my-service."
        }
      },
      "id": "TriggerSpec",
      "description": "The desired state of the Trigger."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`."
    },
    "RouteStatus": {
      "description": "RouteStatus communicates the observed state of the Route (from the\ncontroller).",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Deprecated - use url instead.\nDomain holds the top-level domain that will distribute traffic over the\nprovided targets.",
          "type": "string"
        },
        "domainInternal": {
          "description": "Deprecated - use address instead.\nFor Cloud Run, identifical to domain.",
          "type": "string"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "RouteCondition"
          },
          "description": "Conditions communicates information about ongoing/complete\nreconciliation processes that bring the \"spec\" inline with the observed\nstate of the world."
        },
        "address": {
          "$ref": "Addressable",
          "description": "Similar to url, information on where the service is available on HTTP."
        },
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Route that\nwas last processed by the controller.\n\nClients polling for completed reconciliation should poll until\nobservedGeneration = metadata.generation and the Ready condition's status\nis True or False.\n\nNote that providing a trafficTarget that only has a configurationName will\nresult in a Route that does not increment either its metadata.generation or\nits observedGeneration, as new \"latest ready\" revisions from the\nConfiguration are processed without an update to the Route's spec.",
          "format": "int32",
          "type": "integer"
        },
        "url": {
          "description": "URL holds the url that will distribute traffic over the provided traffic\ntargets. It generally has the form\nhttps://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app",
          "type": "string"
        },
        "traffic": {
          "description": "Traffic holds the configured traffic distribution.\nThese entries will always contain RevisionName references.\nWhen ConfigurationName appears in the spec, this will hold the\nLatestReadyRevisionName that we last observed.",
          "type": "array",
          "items": {
            "$ref": "TrafficTarget"
          }
        }
      },
      "id": "RouteStatus"
    },
    "RevisionTemplate": {
      "id": "RevisionTemplate",
      "description": "RevisionTemplateSpec describes the data a revision should have when created\nfrom a template. Based on:\nhttps://github.com/kubernetes/api/blob/e771f807/core/v1/types.go#L3179-L3190",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Optional metadata for this Revision, including labels and annotations. Name\nwill be generated by the Configuration.\nTo set minimum instances for this revision, use the\n\"autoscaling.knative.dev/minScale\" annotation key. (Cloud Run on GKE only).\nTo set maximum instances for this revision, use the\n\"autoscaling.knative.dev/maxScale\" annotation key.\nTo set Cloud SQL connections for the revision, use the\n\"run.googleapis.com/cloudsql-instances\" annotation key. Values should be\ncomma separated."
        },
        "spec": {
          "$ref": "RevisionSpec",
          "description": "RevisionSpec holds the desired state of the Revision (from the client)."
        }
      }
    },
    "SELinuxOptions": {
      "description": "SELinuxOptions are the labels to be applied to the container",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type is a SELinux type label that applies to the container.\n+optional",
          "type": "string"
        },
        "role": {
          "description": "Role is a SELinux role label that applies to the container.\n+optional",
          "type": "string"
        },
        "level": {
          "description": "Level is SELinux level label that applies to the container.\n+optional",
          "type": "string"
        },
        "user": {
          "description": "User is a SELinux user label that applies to the container.\n+optional",
          "type": "string"
        }
      },
      "id": "SELinuxOptions"
    },
    "EventTypeParameter": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the parameter. E.g. googleCloudProject.",
          "type": "string"
        },
        "description": {
          "description": "Description of the parameter. E.g. \"Google Cloud Project Id.\"",
          "type": "string"
        }
      },
      "id": "EventTypeParameter"
    },
    "TrafficTarget": {
      "description": "TrafficTarget holds a single entry of the routing table for a Route.",
      "type": "object",
      "properties": {
        "url": {
          "description": "Output only. URL displays the URL for accessing named traffic targets. URL\nis displayed in status, and is disallowed on spec. URL must contain a\nscheme (e.g. http://) and a hostname, but may not contain anything else\n(e.g. basic auth, url path, etc.\n\nNot currently supported in Cloud Run.",
          "type": "string"
        },
        "name": {
          "description": "Name is optionally used to expose a dedicated hostname for referencing this\ntarget exclusively.\n\nNot currently supported by Cloud Run.\n+optional",
          "type": "string"
        },
        "configurationName": {
          "type": "string",
          "description": "ConfigurationName of a configuration to whose latest revision we will\nsend this portion of traffic. When the \"status.latestReadyRevisionName\"\nof the referenced configuration changes, we will automatically migrate\ntraffic from the prior \"latest ready\" revision to the new one. This field\nis never set in Route's status, only its spec. This is mutually exclusive\nwith RevisionName.\n\nCloud Run currently supports a single ConfigurationName."
        },
        "percent": {
          "description": "Percent specifies percent of the traffic to this Revision or Configuration.\nThis defaults to zero if unspecified.\n\nCloud Run currently requires 100 percent for a single ConfigurationName\nTrafficTarget entry.",
          "format": "int32",
          "type": "integer"
        },
        "revisionName": {
          "description": "RevisionName of a specific revision to which to send this portion of\ntraffic. This is mutually exclusive with ConfigurationName.\n\nProviding RevisionName in spec is not currently supported by Cloud Run.",
          "type": "string"
        },
        "latestRevision": {
          "description": "LatestRevision may be optionally provided to indicate that the latest\nready Revision of the Configuration should be used for this traffic\ntarget. When provided LatestRevision must be true if RevisionName is\nempty; it must be false when RevisionName is non-empty.\n+optional",
          "type": "boolean"
        },
        "tag": {
          "description": "Tag is optionally used to expose a dedicated url for referencing\nthis target exclusively.\n\nNot currently supported in Cloud Run.\n+optional",
          "type": "string"
        }
      },
      "id": "TrafficTarget"
    },
    "EventTypeImporter": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EventTypeParameter"
          },
          "description": "Parameters required to create an importer for the EventType."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the importer CRD."
        },
        "apiVersion": {
          "description": "The API version of the importer CRD.",
          "type": "string"
        }
      },
      "id": "EventTypeImporter"
    },
    "ServiceCondition": {
      "description": "ServiceCondition defines a readiness condition for a Service.",
      "type": "object",
      "properties": {
        "type": {
          "description": "ServiceConditionType is used to communicate the status of the\nreconciliation process. See also:\nhttps://github.com/knative/serving/blob/master/docs/spec/errors.md#error-conditions-and-reporting\n\nTypes include: \"Ready\", \"ConfigurationsReady\", and \"RoutesReady\". \"Ready\"\nwill be true when the underlying Route and Configuration are ready.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Human-readable message indicating details about last transition.\n+optional"
        },
        "lastTransitionTime": {
          "type": "string",
          "description": "Last time the condition transitioned from one status to another.\n+optional",
          "format": "google-datetime"
        },
        "status": {
          "description": "Status of the condition, one of True, False, Unknown.",
          "type": "string"
        },
        "severity": {
          "description": "How to interpret failures of this condition, one of Error, Warning, Info\n+optional",
          "type": "string"
        },
        "reason": {
          "description": "One-word CamelCase reason for the condition's last transition.\n+optional",
          "type": "string"
        }
      },
      "id": "ServiceCondition"
    },
    "HTTPHeader": {
      "id": "HTTPHeader",
      "description": "HTTPHeader describes a custom header to be used in HTTP probes",
      "type": "object",
      "properties": {
        "value": {
          "description": "The header field value",
          "type": "string"
        },
        "name": {
          "description": "The header field name",
          "type": "string"
        }
      }
    },
    "DomainMappingSpec": {
      "description": "The desired state of the Domain Mapping.",
      "type": "object",
      "properties": {
        "forceOverride": {
          "type": "boolean",
          "description": "If set, the mapping will override any mapping set before this spec was set.\nIt is recommended that the user leaves this empty to receive an error\nwarning about a potential conflict and only set it once the respective UI\nhas given such a warning."
        },
        "routeName": {
          "type": "string",
          "description": "The name of the Knative Route that this DomainMapping applies to.\nThe route must exist."
        },
        "certificateMode": {
          "description": "The mode of the certificate.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Do not provision an HTTPS certificate.",
            "Automatically provisions an HTTPS certificate via LetsEncrypt."
          ],
          "enum": [
            "CERTIFICATE_MODE_UNSPECIFIED",
            "NONE",
            "AUTOMATIC"
          ]
        }
      },
      "id": "DomainMappingSpec"
    },
    "SecurityContext": {
      "description": "SecurityContext holds security configuration that will be applied to a\ncontainer. Some fields are present in both SecurityContext and\nPodSecurityContext.  When both are set, the values in SecurityContext take\nprecedence.",
      "type": "object",
      "properties": {
        "runAsNonRoot": {
          "type": "boolean",
          "description": "Indicates that the container must run as a non-root user.\nIf true, the Kubelet will validate the image at runtime to ensure that it\ndoes not run as UID 0 (root) and fail to start the container if it does.\nIf unset or false, no such validation will be performed.\nMay also be set in PodSecurityContext.  If set in both SecurityContext and\nPodSecurityContext, the value specified in SecurityContext takes\nprecedence. +optional"
        },
        "runAsGroup": {
          "description": "The GID to run the entrypoint of the container process.\nUses runtime default if unset.\nMay also be set in PodSecurityContext.  If set in both SecurityContext and\nPodSecurityContext, the value specified in SecurityContext takes\nprecedence. +optional",
          "format": "int32",
          "type": "integer"
        },
        "privileged": {
          "description": "Run container in privileged mode.\nProcesses in privileged containers are essentially equivalent to root on\nthe host. Defaults to false. +optional",
          "type": "boolean"
        },
        "allowPrivilegeEscalation": {
          "type": "boolean",
          "description": "AllowPrivilegeEscalation controls whether a process can gain more\nprivileges than its parent process. This bool directly controls if\nthe no_new_privs flag will be set on the container process.\nAllowPrivilegeEscalation is true always when the container is:\n1) run as Privileged\n2) has CAP_SYS_ADMIN\n+optional"
        },
        "readOnlyRootFilesystem": {
          "description": "Whether this container has a read-only root filesystem.\nDefault is false.\n+optional",
          "type": "boolean"
        },
        "seLinuxOptions": {
          "$ref": "SELinuxOptions",
          "description": "The SELinux context to be applied to the container.\nIf unspecified, the container runtime will allocate a random SELinux\ncontext for each container.  May also be set in PodSecurityContext.  If set\nin both SecurityContext and PodSecurityContext, the value specified in\nSecurityContext takes precedence. +optional"
        },
        "runAsUser": {
          "description": "The UID to run the entrypoint of the container process.\nDefaults to user specified in image metadata if unspecified.\nMay also be set in PodSecurityContext.  If set in both SecurityContext and\nPodSecurityContext, the value specified in SecurityContext takes\nprecedence. +optional",
          "format": "int32",
          "type": "integer"
        },
        "capabilities": {
          "$ref": "Capabilities",
          "description": "The capabilities to add/drop when running containers.\nDefaults to the default set of capabilities granted by the container\nruntime. +optional"
        }
      },
      "id": "SecurityContext"
    },
    "ExecAction": {
      "description": "ExecAction describes a \"run in container\" action.",
      "type": "object",
      "properties": {
        "command": {
          "description": "Command is the command line to execute inside the container, the working\ndirectory for the command  is root ('/') in the container's filesystem. The\ncommand is simply exec'd, it is not run inside a shell, so traditional\nshell instructions ('|', etc) won't work. To use a shell, you need to\nexplicitly call out to that shell. Exit status of 0 is treated as\nlive/healthy and non-zero is unhealthy. +optional",
          "type": "string"
        }
      },
      "id": "ExecAction"
    },
    "VolumeMount": {
      "description": "VolumeMount describes a mounting of a Volume within a container.",
      "type": "object",
      "properties": {
        "mountPath": {
          "type": "string",
          "description": "Path within the container at which the volume should be mounted.  Must\nnot contain ':'."
        },
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted.\nDefaults to \"\" (volume's root).\n+optional",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "This must match the Name of a Volume."
        },
        "readOnly": {
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified).\nDefaults to false.\n+optional",
          "type": "boolean"
        },
        "mountPropagation": {
          "description": "mountPropagation determines how mounts are propagated from the host\nto container and the other way around.\nWhen not set, MountPropagationHostToContainer is used.\nThis field is beta in 1.10.\n+optional",
          "type": "string"
        }
      },
      "id": "VolumeMount"
    },
    "Revision": {
      "description": "Revision is an immutable snapshot of code and configuration.  A revision\nreferences a container image. Revisions are created by updates to a\nConfiguration.\n\nCloud Run does not currently support referencing a build that is responsible\nfor materializing the container image from source.\n\nSee also:\nhttps://github.com/knative/serving/blob/master/docs/spec/overview.md#revision",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "RevisionStatus",
          "description": "Status communicates the observed state of the Revision (from the\ncontroller)."
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\"."
        },
        "spec": {
          "$ref": "RevisionSpec",
          "description": "Spec holds the desired state of the Revision (from the client)."
        },
        "kind": {
          "description": "The kind of this resource, in this case \"Revision\".",
          "type": "string"
        },
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Metadata associated with this Revision, including name, namespace, labels,\nand annotations."
        }
      },
      "id": "Revision"
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding.\nNOTE: An unsatisfied condition will not allow user access via current\nbinding. Different bindings, including their conditions, are examined\nindependently."
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ConfigurationStatus": {
      "description": "ConfigurationStatus communicates the observed state of the Configuration\n(from the controller).",
      "type": "object",
      "properties": {
        "latestCreatedRevisionName": {
          "description": "LatestCreatedRevisionName is the last revision that was created from this\nConfiguration. It might not be ready yet, for that use\nLatestReadyRevisionName.",
          "type": "string"
        },
        "latestReadyRevisionName": {
          "description": "LatestReadyRevisionName holds the name of the latest Revision stamped out\nfrom this Configuration that has had its \"Ready\" condition become \"True\".",
          "type": "string"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "ConfigurationCondition"
          },
          "description": "Conditions communicates information about ongoing/complete\nreconciliation processes that bring the \"spec\" inline with the observed\nstate of the world."
        },
        "observedGeneration": {
          "type": "integer",
          "description": "ObservedGeneration is the 'Generation' of the Configuration that\nwas last processed by the controller. The observed generation is updated\neven if the controller failed to process the spec and create the Revision.\n\nClients polling for completed reconciliation should poll until\nobservedGeneration = metadata.generation, and the Ready condition's status\nis True or False.",
          "format": "int32"
        }
      },
      "id": "ConfigurationStatus"
    },
    "ObjectMeta": {
      "description": "ObjectMeta is metadata that all persisted resources must have, which includes\nall objects users must create.",
      "type": "object",
      "properties": {
        "initializers": {
          "$ref": "Initializers",
          "description": "Not currently supported by Cloud Run.\n\nAn initializer is a controller which enforces some system invariant at\nobject creation time. This field is a list of initializers that have not\nyet acted on this object. If nil or empty, this object has been completely\ninitialized. Otherwise, the object is considered uninitialized and is\nhidden (in list/watch and get calls) from clients that haven't explicitly\nasked to observe uninitialized objects.\n\nWhen an object is created, the system will populate this list with the\ncurrent set of initializers. Only privileged users may set or modify this\nlist. Once it is empty, it may not be modified further by any user."
        },
        "generation": {
          "description": "A sequence number representing a specific generation of the desired state.\nPopulated by the system. Read-only.\n+optional",
          "format": "int32",
          "type": "integer"
        },
        "resourceVersion": {
          "description": "An opaque value that represents the internal version of this object that\ncan be used by clients to determine when objects have changed. May be used\nfor optimistic concurrency, change detection, and the watch operation on a\nresource or set of resources. Clients must treat these values as opaque and\npassed unmodified back to the server. They may only be valid for a\nparticular resource or set of resources.\n\nPopulated by the system.\nRead-only.\nValue must be treated as opaque by clients and .\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency\n+optional",
          "type": "string"
        },
        "uid": {
          "description": "UID is the unique in time and space value for this object. It is typically\ngenerated by the server on successful creation of a resource and is not\nallowed to change on PUT operations.\n\nPopulated by the system.\nRead-only.\nMore info: http://kubernetes.io/docs/user-guide/identifiers#uids\n+optional",
          "type": "string"
        },
        "selfLink": {
          "description": "SelfLink is a URL representing this object.\nPopulated by the system.\nRead-only.\n+optional\n string selfLink = 4;",
          "type": "string"
        },
        "namespace": {
          "description": "Namespace defines the space within each name must be unique, within a\nCloud Run region. In Cloud Run the namespace must be equal to either the\nproject ID or project number.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations is an unstructured key value map stored with a resource that\nmay be set by external tools to store and retrieve arbitrary metadata. They\nare not queryable and should be preserved when modifying objects. More\ninfo: http://kubernetes.io/docs/user-guide/annotations +optional",
          "type": "object"
        },
        "generateName": {
          "description": "Not currently supported by Cloud Run.\n\nGenerateName is an optional prefix, used by the server, to generate a\nunique name ONLY IF the Name field has not been provided. If this field is\nused, the name returned to the client will be different than the name\npassed. This value will also be combined with a unique suffix. The provided\nvalue has the same validation rules as the Name field, and may be truncated\nby the length of the suffix required to make the value unique on the\nserver.\n\nIf this field is specified and the generated name exists, the server will\nNOT return a 409 - instead, it will either return 201 Created or 500 with\nReason ServerTimeout indicating a unique name could not be found in the\ntime allotted, and the client should retry (optionally after the time\nindicated in the Retry-After header).\n\nApplied only if Name is not specified.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#idempotency\n+optional\n string generateName = 2;",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name must be unique within a namespace, within a Cloud Run region.\nIs required when creating\nresources, although some resources may allow a client to request the\ngeneration of an appropriate name automatically. Name is primarily intended\nfor creation idempotence and configuration definition. Cannot be updated.\nMore info: http://kubernetes.io/docs/user-guide/identifiers#names\n+optional"
        },
        "deletionGracePeriodSeconds": {
          "description": "Not currently supported by Cloud Run.\n\nNumber of seconds allowed for this object to gracefully terminate before\nit will be removed from the system. Only set when deletionTimestamp is also\nset. May only be shortened. Read-only. +optional",
          "format": "int32",
          "type": "integer"
        },
        "clusterName": {
          "description": "Not currently supported by Cloud Run.\n\nThe name of the cluster which the object belongs to.\nThis is used to distinguish resources with same name and namespace in\ndifferent clusters. This field is not set anywhere right now and apiserver\nis going to ignore it if set in create or update request. +optional",
          "type": "string"
        },
        "finalizers": {
          "description": "Not currently supported by Cloud Run.\n\nMust be empty before the object is deleted from the registry. Each entry\nis an identifier for the responsible component that will remove the entry\nfrom the list. If the deletionTimestamp of the object is non-nil, entries\nin this list can only be removed.\n+optional\n+patchStrategy=merge",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deletionTimestamp": {
          "description": "DeletionTimestamp is RFC 3339 date and time at which this resource will be\ndeleted. This field is set by the server when a graceful deletion is\nrequested by the user, and is not directly settable by a client. The\nresource is expected to be deleted (no longer visible from resource lists,\nand not reachable by name) after the time in this field, once the\nfinalizers list is empty. As long as the finalizers list contains items,\ndeletion is blocked. Once the deletionTimestamp is set, this value may not\nbe unset or be set further into the future, although it may be shortened or\nthe resource may be deleted prior to this time. For example, a user may\nrequest that a pod is deleted in 30 seconds. The Kubelet will react by\nsending a graceful termination signal to the containers in the pod. After\nthat 30 seconds, the Kubelet will send a hard termination signal (SIGKILL)\nto the container and after cleanup, remove the pod from the API. In the\npresence of network partitions, this object may still exist after this\ntimestamp, until an administrator or automated process can determine the\nresource is fully terminated.\nIf not set, graceful deletion of the object has not been requested.\n\nPopulated by the system when a graceful deletion is requested.\nRead-only.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#metadata\n+optional",
          "format": "google-datetime",
          "type": "string"
        },
        "ownerReferences": {
          "type": "array",
          "items": {
            "$ref": "OwnerReference"
          },
          "description": "List of objects that own this object. If ALL objects in the list have\nbeen deleted, this object will be garbage collected.\n+optional"
        },
        "creationTimestamp": {
          "description": "CreationTimestamp is a timestamp representing the server time when this\nobject was created. It is not guaranteed to be set in happens-before order\nacross separate operations. Clients may not set this value. It is\nrepresented in RFC3339 form and is in UTC.\n\nPopulated by the system.\nRead-only.\nNull for lists.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#metadata\n+optional",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of string keys and values that can be used to organize and categorize\n(scope and select) objects. May match selectors of replication controllers\nand routes.\nMore info: http://kubernetes.io/docs/user-guide/labels\n+optional"
        }
      },
      "id": "ObjectMeta"
    },
    "ServiceSpecReleaseType": {
      "id": "ServiceSpecReleaseType",
      "description": "ServiceSpecReleaseType contains the options for slowly releasing revisions.\nSee ServiceSpec for more details.\n\nNot currently supported by Cloud Run.",
      "type": "object",
      "properties": {
        "revisions": {
          "description": "Revisions is an ordered list of 1 or 2 revisions. The first is the current\nrevision, and the second is the candidate revision. If a single revision\nis provided, traffic will be pinned at that revision.\n\n\"@latest\" is a shortcut for usage that refers to the latest created\nrevision by the configuration.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rolloutPercent": {
          "description": "RolloutPercent is the percent of traffic that should be sent to the\ncandidate revision, i.e. the 2nd revision in the revisions list.\nValid values are between 0 and 99 inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "configuration": {
          "$ref": "ConfigurationSpec",
          "description": "The configuration for this service. All revisions from this service must\ncome from a single configuration."
        }
      }
    },
    "ServiceSpec": {
      "description": "ServiceSpec holds the desired state of the Route (from the client), which\nis used to manipulate the underlying Route and Configuration(s).",
      "type": "object",
      "properties": {
        "template": {
          "$ref": "RevisionTemplate",
          "description": "Template holds the latest specification for the Revision to\nbe stamped out."
        },
        "release": {
          "description": "Release enables gradual promotion of new revisions by allowing traffic\nto be split between two revisions. This type replaces the deprecated\nPinned type.\n\nNot currently supported by Cloud Run.",
          "$ref": "ServiceSpecReleaseType"
        },
        "pinned": {
          "$ref": "ServiceSpecPinnedType",
          "description": "Pins this service to a specific revision name. The revision must\nbe owned by the configuration provided.\n\nDeprecated and not supported by Cloud Run.\n+optional"
        },
        "traffic": {
          "description": "Traffic specifies how to distribute traffic over a collection of Knative\nRevisions and Configurations.",
          "type": "array",
          "items": {
            "$ref": "TrafficTarget"
          }
        },
        "generation": {
          "description": "Deprecated and not currently populated by Cloud Run. See\nmetadata.generation instead, which is the sequence number containing the\nlatest generation of the desired state.\n\nRead-only.",
          "format": "int32",
          "type": "integer"
        },
        "manual": {
          "$ref": "ServiceSpecManualType",
          "description": "Manual contains the options for configuring a manual service. See\nServiceSpec for more details.\n\nNot currently supported by Cloud Run."
        },
        "runLatest": {
          "description": "RunLatest defines a simple Service. It will automatically\nconfigure a route that keeps the latest ready revision\nfrom the supplied configuration running.\n+optional",
          "$ref": "ServiceSpecRunLatest"
        }
      },
      "id": "ServiceSpec"
    },
    "ObjectReference": {
      "description": "ObjectReference contains enough information to let you inspect or modify the\nreferred object.",
      "type": "object",
      "properties": {
        "fieldPath": {
          "description": "If referring to a piece of an object instead of an entire object, this\nstring should contain a valid JSON/Go field access statement, such as\ndesiredState.manifest.containers[2]. For example, if the object reference\nis to a container within a pod, this would take on a value like:\n\"spec.containers{name}\" (where \"name\" refers to the name of the container\nthat triggered the event) or if no container name is specified\n\"spec.containers[2]\" (container with index 2 in this pod). This syntax is\nchosen only to have some well-defined way of referencing a part of an\nobject.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "UID of the referent.\nMore info:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids\n+optional"
        },
        "namespace": {
          "description": "Namespace of the referent.\nMore info:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/\n+optional",
          "type": "string"
        },
        "kind": {
          "description": "Kind of the referent.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds\n+optional",
          "type": "string"
        },
        "apiVersion": {
          "description": "API version of the referent.\n+optional",
          "type": "string"
        },
        "name": {
          "description": "Name of the referent.\nMore info:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names\n+optional",
          "type": "string"
        },
        "resourceVersion": {
          "description": "Specific resourceVersion to which this reference is made, if any.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency\n+optional",
          "type": "string"
        }
      },
      "id": "ObjectReference"
    },
    "EnvVarSource": {
      "description": "Cloud Run fully managed: not supported\n\nCloud Run on GKE: supported\n\nEnvVarSource represents a source for the value of an EnvVar.",
      "type": "object",
      "properties": {
        "secretKeyRef": {
          "description": "Cloud Run fully managed: not supported\n\nCloud Run on GKE: supported\n\nSelects a key of a secret in the pod's namespace\n+optional",
          "$ref": "SecretKeySelector"
        },
        "configMapKeyRef": {
          "$ref": "ConfigMapKeySelector",
          "description": "Cloud Run fully managed: not supported\n\nCloud Run on GKE: supported\n\nSelects a key of a ConfigMap.\n+optional"
        }
      },
      "id": "EnvVarSource"
    },
    "Handler": {
      "id": "Handler",
      "description": "Handler defines a specific action that should be taken",
      "type": "object",
      "properties": {
        "exec": {
          "$ref": "ExecAction",
          "description": "One and only one of the following should be specified.\nExec specifies the action to take.\n+optional"
        },
        "httpGet": {
          "description": "HTTPGet specifies the http request to perform.\n+optional",
          "$ref": "HTTPGetAction"
        },
        "tcpSocket": {
          "$ref": "TCPSocketAction",
          "description": "TCPSocket specifies an action involving a TCP port.\nTCP hooks not yet supported"
        }
      }
    },
    "TCPSocketAction": {
      "id": "TCPSocketAction",
      "description": "TCPSocketAction describes an action based on opening a socket",
      "type": "object",
      "properties": {
        "port": {
          "description": "Number or name of the port to access on the container.\nNumber must be in the range 1 to 65535.\nName must be an IANA_SVC_NAME.",
          "$ref": "IntOrString"
        },
        "host": {
          "description": "Optional: Host name to connect to, defaults to the pod IP.\n+optional",
          "type": "string"
        }
      }
    },
    "ResourceRequirements": {
      "type": "object",
      "properties": {
        "limits": {
          "description": "Limits describes the maximum amount of compute resources allowed.\nThe values of the map is string form of the 'quantity' k8s type:\nhttps://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "limitsInMap": {
          "additionalProperties": {
            "$ref": "Quantity"
          },
          "description": "Limits describes the maximum amount of compute resources allowed.\nThis is a temporary field created to migrate away from the\nmap\u003cstring, Quantity\u003e limits field. This is done to become compliant\nwith k8s style API.\nThis field is deprecated in favor of limits field.",
          "type": "object"
        },
        "requestsInMap": {
          "additionalProperties": {
            "$ref": "Quantity"
          },
          "description": "Requests describes the minimum amount of compute resources required.\nIf Requests is omitted for a container, it defaults to Limits if that is\nexplicitly specified, otherwise to an implementation-defined value.\nThis is a temporary field created to migrate away from the\nmap\u003cstring, Quantity\u003e requests field. This is done to become compliant\nwith k8s style API.\nThis field is deprecated in favor of requests field.",
          "type": "object"
        },
        "requests": {
          "description": "Requests describes the minimum amount of compute resources required.\nIf Requests is omitted for a container, it defaults to Limits if that is\nexplicitly specified, otherwise to an implementation-defined value.\nThe values of the map is string form of the 'quantity' k8s type:\nhttps://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ResourceRequirements",
      "description": "ResourceRequirements describes the compute resource requirements."
    },
    "TriggerFilterSourceAndType": {
      "id": "TriggerFilterSourceAndType",
      "description": "TriggerFilterSourceAndType filters events based on exact matches on the cloud\nevent's type and source attributes. Only exact matches will pass the filter.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only\nthe fields in the mask will be modified. If no mask is provided, the\nfollowing default mask is used:\npaths: \"bindings, etag\"\nThis field is only used by Cloud IAM.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "Configuration": {
      "description": "Configuration represents the \"floating HEAD\" of a linear history of\nRevisions, and optionally how the containers those revisions reference are\nbuilt. Users create new Revisions by updating the Configuration's spec. The\n\"latest created\" revision's name is available under status, as is the \"latest\nready\" revision's name. See also:\nhttps://github.com/knative/serving/blob/master/docs/spec/overview.md#configuration",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Metadata associated with this Configuration, including name, namespace,\nlabels, and annotations."
        },
        "status": {
          "description": "Status communicates the observed state of the Configuration (from the\ncontroller).",
          "$ref": "ConfigurationStatus"
        },
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\".",
          "type": "string"
        },
        "spec": {
          "$ref": "ConfigurationSpec",
          "description": "Spec holds the desired state of the Configuration (from the client)."
        },
        "kind": {
          "description": "The kind of resource, in this case always \"Configuration\".",
          "type": "string"
        }
      },
      "id": "Configuration"
    },
    "ListRoutesResponse": {
      "id": "ListRoutesResponse",
      "description": "ListRoutesResponse is a list of Route resources.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\".",
          "type": "string"
        },
        "items": {
          "description": "List of Routes.",
          "type": "array",
          "items": {
            "$ref": "Route"
          }
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this Route list."
        },
        "regionDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "RegionDetails"
          },
          "description": "Details for the regions used during a global call including any failures.\nThis is not populated when targeting a specific region."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case always \"RouteList\"."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "GoogleRpcStatus"
    },
    "IntOrString": {
      "description": "IntOrString is a type that can hold an int32 or a string.  When used in\nJSON or YAML marshalling and unmarshalling, it produces or consumes the\ninner type.  This allows you to have, for example, a JSON field that can\naccept a name or number.",
      "type": "object",
      "properties": {
        "type": {
          "type": "integer",
          "description": "The type of the value.",
          "format": "int32"
        },
        "intVal": {
          "type": "integer",
          "description": "The int value.",
          "format": "int32"
        },
        "strVal": {
          "description": "The string value.",
          "type": "string"
        }
      },
      "id": "IntOrString"
    },
    "Trigger": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of resource, in this case \"Trigger\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this Trigger.",
          "$ref": "ObjectMeta"
        },
        "status": {
          "description": "Status represents the current state of the Trigger. This data may be out of\ndate.\n+optional",
          "$ref": "TriggerStatus"
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"eventing.knative.dev/v1alpha1\"."
        },
        "spec": {
          "description": "Spec defines the desired state of the Trigger.",
          "$ref": "TriggerSpec"
        }
      },
      "id": "Trigger"
    },
    "ConfigMapKeySelector": {
      "type": "object",
      "properties": {
        "optional": {
          "description": "Cloud Run fully managed: not supported\n\nCloud Run on GKE: supported\n\nSpecify whether the ConfigMap or its key must be defined\n+optional",
          "type": "boolean"
        },
        "key": {
          "description": "Cloud Run fully managed: not supported\n\nCloud Run on GKE: supported\n\nThe key to select.",
          "type": "string"
        },
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "Cloud Run fully managed: not supported\n\nCloud Run on GKE: supported\n\nThe ConfigMap to select from."
        }
      },
      "id": "ConfigMapKeySelector",
      "description": "Cloud Run fully managed: not supported\n\nCloud Run on GKE: supported\n\nSelects a key from a ConfigMap."
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "AuthorizedDomain": {
      "id": "AuthorizedDomain",
      "description": "A domain that a user has been authorized to administer. To authorize use\nof a domain, verify ownership via\n[Webmaster Central](https://www.google.com/webmasters/verification/home).",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Read only. Full path to the `AuthorizedDomain` resource in the API.\nExample: `apps/myapp/authorizedDomains/example.com`."
        },
        "id": {
          "description": "Relative name of the domain authorized for use. Example: `example.com`.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "description": "Represents an expression text. Example:\n\n    title: \"User account presence\"\n    description: \"Determines whether the request has a user account\"\n    expression: \"size(request.user) \u003e 0\"",
      "type": "object",
      "properties": {
        "description": {
          "description": "An optional description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in\nCommon Expression Language syntax.\n\nThe application context of the containing message determines which\nwell-known feature set of CEL is supported.",
          "type": "string"
        },
        "title": {
          "description": "An optional title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "location": {
          "description": "An optional string indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "TriggerStatus": {
      "description": "TriggerStatus represents the current state of a Trigger.",
      "type": "object",
      "properties": {
        "subscriberUri": {
          "description": "SubscriberURI is the resolved URI of the receiver for this Trigger.",
          "type": "string"
        },
        "conditions": {
          "description": "Array of observed TriggerConditions, indicating the current state\nof the Trigger.",
          "type": "array",
          "items": {
            "$ref": "TriggerCondition"
          }
        },
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Trigger that\nwas last processed by the controller.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TriggerStatus"
    },
    "Addressable": {
      "id": "Addressable",
      "description": "Information for connecting over HTTP(s).",
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "hostname": {
          "description": "Deprecated - use url instead.",
          "type": "string"
        }
      }
    },
    "SubscriberSpec": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Reference to a 'known' endpoint where no resolving is done.\nhttp://k8s-service for example\nhttp://myexternalhandler.example.com/foo/bar"
        },
        "ref": {
          "$ref": "ObjectReference",
          "description": "Reference to an object that will be used to find the target\nendpoint, which should implement the Addressable duck type.\nFor example, this could be a reference to a Route resource\nor a Knative Service resource."
        }
      },
      "id": "SubscriberSpec"
    },
    "RouteCondition": {
      "description": "RouteCondition defines a readiness condition for a Route.",
      "type": "object",
      "properties": {
        "lastTransitionTime": {
          "description": "Last time the condition transitioned from one status to another.\n+optional",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "description": "Human-readable message indicating details about last transition.\n+optional",
          "type": "string"
        },
        "status": {
          "description": "Status of the condition, one of \"True\", \"False\", \"Unknown\".",
          "type": "string"
        },
        "severity": {
          "description": "How to interpret failures of this condition, one of Error, Warning, Info\n+optional",
          "type": "string"
        },
        "reason": {
          "description": "One-word CamelCase reason for the condition's last transition.\n+optional",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "RouteConditionType is used to communicate the status of the reconciliation\nprocess. See also:\nhttps://github.com/knative/serving/blob/master/docs/spec/errors.md#error-conditions-and-reporting\nTypes include: \"Ready\"."
        }
      },
      "id": "RouteCondition"
    },
    "TriggerFilter": {
      "type": "object",
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cloud Run fully managed: not supported\n\nCloud Run on GKE: supported\n\nAttributes filters events by exact match on event context attributes.\nEach key in the map is compared with the equivalent key in the event\ncontext. An event passes the filter if all values are equal to the\nspecified values.\n\nNested context attributes are not supported as keys.\nOnly string values are supported.\n\n+optional"
        },
        "sourceAndType": {
          "$ref": "TriggerFilterSourceAndType",
          "description": "SourceAndType filters events based on exact matches on the\nCloudEvents type and source attributes. This field has been replaced by the\nAttributes field.\n\n+optional"
        }
      },
      "id": "TriggerFilter"
    },
    "HTTPGetAction": {
      "id": "HTTPGetAction",
      "description": "HTTPGetAction describes an action based on HTTP Get requests.",
      "type": "object",
      "properties": {
        "httpHeaders": {
          "description": "Custom headers to set in the request. HTTP allows repeated headers.\n+optional",
          "type": "array",
          "items": {
            "$ref": "HTTPHeader"
          }
        },
        "path": {
          "description": "Path to access on the HTTP server.\n+optional",
          "type": "string"
        },
        "port": {
          "description": "Name or number of the port to access on the container.\nNumber must be in the range 1 to 65535.\nName must be an IANA_SVC_NAME.",
          "$ref": "IntOrString"
        },
        "host": {
          "description": "Host name to connect to, defaults to the pod IP. You probably want to set\n\"Host\" in httpHeaders instead.\n+optional",
          "type": "string"
        },
        "scheme": {
          "description": "Scheme to use for connecting to the host.\nDefaults to HTTP.\n+optional",
          "type": "string"
        }
      }
    },
    "VolumeDevice": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
[...]
