{
  "batchPath": "batch",
  "revision": "20170720",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "id": "safebrowsing:v4",
  "title": "Google Safe Browsing API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "encodedUpdates": {
      "methods": {
        "get": {
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "path": "v4/encodedUpdates/{encodedRequest}",
          "id": "safebrowsing.encodedUpdates.get",
          "description": "",
          "httpMethod": "GET",
          "parameterOrder": [
            "encodedRequest"
          ],
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "parameters": {
            "clientVersion": {
              "location": "query",
              "description": "The version of the client implementation.",
              "type": "string"
            },
            "encodedRequest": {
              "location": "path",
              "format": "byte",
              "description": "A serialized FetchThreatListUpdatesRequest proto.",
              "type": "string",
              "required": true
            },
            "clientId": {
              "location": "query",
              "description": "A client ID that uniquely identifies the client implementation of the Safe\nBrowsing API.",
              "type": "string"
            }
          }
        }
      }
    },
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "description": "Fetches the most recent threat list updates. A client can request updates\nfor multiple lists at once.",
          "request": {
            "$ref": "FetchThreatListUpdatesRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "parameters": {},
          "flatPath": "v4/threatListUpdates:fetch",
          "path": "v4/threatListUpdates:fetch",
          "id": "safebrowsing.threatListUpdates.fetch"
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "id": "safebrowsing.encodedFullHashes.get",
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "description": "",
          "response": {
            "$ref": "FindFullHashesResponse"
          },
          "parameterOrder": [
            "encodedRequest"
          ],
          "httpMethod": "GET",
          "parameters": {
            "clientVersion": {
              "type": "string",
              "location": "query",
              "description": "The version of the client implementation."
            },
            "encodedRequest": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "byte",
              "description": "A serialized FindFullHashesRequest proto."
            },
            "clientId": {
              "location": "query",
              "description": "A client ID that (hopefully) uniquely identifies the client implementation\nof the Safe Browsing API.",
              "type": "string"
            }
          }
        }
      }
    },
    "threatLists": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListThreatListsResponse"
          },
          "parameters": {},
          "flatPath": "v4/threatLists",
          "path": "v4/threatLists",
          "id": "safebrowsing.threatLists.list",
          "description": "Lists the Safe Browsing threat lists available for download."
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "flatPath": "v4/threatMatches:find",
          "id": "safebrowsing.threatMatches.find",
          "path": "v4/threatMatches:find",
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "request": {
            "$ref": "FindThreatMatchesRequest"
          },
          "response": {
            "$ref": "FindThreatMatchesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {}
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "flatPath": "v4/fullHashes:find",
          "path": "v4/fullHashes:find",
          "id": "safebrowsing.fullHashes.find",
          "request": {
            "$ref": "FindFullHashesRequest"
          },
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "FindFullHashesResponse"
          },
          "parameters": {}
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean"
    },
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "schemas": {
    "FindFullHashesRequest": {
      "type": "object",
      "properties": {
        "apiClient": {
          "$ref": "ClientInfo",
          "description": "Client metadata associated with callers of higher-level APIs built on top\nof the client's implementation."
        },
        "clientStates": {
          "items": {
            "format": "byte",
            "type": "string"
          },
          "type": "array",
          "description": "The current client states for each of the client's local threat lists."
        },
        "client": {
          "$ref": "ClientInfo",
          "description": "The client metadata."
        },
        "threatInfo": {
          "$ref": "ThreatInfo",
          "description": "The lists and hashes to be checked."
        }
      },
      "id": "FindFullHashesRequest",
      "description": "Request to return full hashes matched by the provided hash prefixes."
    },
    "ListUpdateRequest": {
      "type": "object",
      "properties": {
        "state": {
          "format": "byte",
          "description": "The current state of the client for the requested list (the encrypted\nclient state that was received from the last successful list update).",
          "type": "string"
        },
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The type of platform at risk by entries present in the list."
        },
        "constraints": {
          "$ref": "Constraints",
          "description": "The constraints associated with this request."
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "MALICIOUS_BINARY"
          ],
          "description": "The type of threat posed by entries present in the list.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Malicious binary threat type."
          ]
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The types of entries present in the list.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        }
      },
      "id": "ListUpdateRequest",
      "description": "A single list update request."
    },
    "FetchThreatListUpdatesRequest": {
      "type": "object",
      "properties": {
        "listUpdateRequests": {
          "items": {
            "$ref": "ListUpdateRequest"
          },
          "type": "array",
          "description": "The requested threat list updates."
        },
        "client": {
          "$ref": "ClientInfo",
          "description": "The client metadata."
        }
      },
      "id": "FetchThreatListUpdatesRequest",
      "description": "Describes a Safe Browsing API update request. Clients can request updates for\nmultiple lists in a single request.\nNOTE: Field index 2 is unused.\nNEXT: 5"
    },
    "ListUpdateResponse": {
      "description": "An update to an individual list.",
      "type": "object",
      "properties": {
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The format of the threats.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        },
        "additions": {
          "description": "A set of entries to add to a local threat type's list. Repeated to allow\nfor a combination of compressed and raw data to be sent in a single\nresponse.",
          "items": {
            "$ref": "ThreatEntrySet"
          },
          "type": "array"
        },
        "checksum": {
          "$ref": "Checksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list\nof all hashes present in the database after applying the provided update.\nIf the client state doesn't match the expected state, the client must\ndisregard this update and retry later."
        },
        "responseType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means\nthat either the client was seriously out-of-date or the client is\nbelieved to be corrupt."
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ],
          "description": "The type of response. This may indicate that an action is required by the\nclient when the response is received."
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "MALICIOUS_BINARY"
          ],
          "description": "The threat type for which data is returned.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Malicious binary threat type."
          ]
        },
        "newClientState": {
          "format": "byte",
          "description": "The new client state, in encrypted format. Opaque to clients.",
          "type": "string"
        },
        "removals": {
          "items": {
            "$ref": "ThreatEntrySet"
          },
          "type": "array",
          "description": "A set of entries to remove from a local threat type's list. In practice,\nthis field is empty or contains exactly one ThreatEntrySet."
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type for which data is returned.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        }
      },
      "id": "ListUpdateResponse"
    },
    "Constraints": {
      "type": "object",
      "properties": {
        "supportedCompressions": {
          "description": "The compression types supported by the client.",
          "items": {
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ],
            "type": "string"
          },
          "type": "array",
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ]
        },
        "maxUpdateEntries": {
          "format": "int32",
          "description": "The maximum size in number of entries. The update will not contain more\nentries than this value.  This should be a power of 2 between 2**10 and\n2**20.  If zero, no update size limit is set.",
          "type": "integer"
        },
        "region": {
          "type": "string",
          "description": "Requests the list for a specific geographic location. If not set the\nserver may pick that value based on the user's IP address. Expects ISO\n3166-1 alpha-2 format."
        },
        "maxDatabaseEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Sets the maximum number of entries that the client is willing to have\nin the local database. This should be a power of 2 between 2**10 and\n2**20. If zero, no database size limit is set."
        }
      },
      "id": "Constraints",
      "description": "The constraints for this update."
    },
    "ThreatMatch": {
      "description": "A match when checking a threat entry in the Safe Browsing threat lists.",
      "type": "object",
      "properties": {
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The threat entry type matching this threat.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        },
        "cacheDuration": {
          "format": "google-duration",
          "description": "The cache lifetime for the returned match. Clients must not cache this\nresponse for more than this duration to avoid false positives.",
          "type": "string"
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "MALICIOUS_BINARY"
          ],
          "description": "The threat type matching this threat.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Malicious binary threat type."
          ]
        },
        "threatEntryMetadata": {
          "$ref": "ThreatEntryMetadata",
          "description": "Optional metadata associated with this threat."
        },
        "threat": {
          "$ref": "ThreatEntry",
          "description": "The threat matching this threat."
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type matching this threat.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        }
      },
      "id": "ThreatMatch"
    },
    "ListThreatListsResponse": {
      "type": "object",
      "properties": {
        "threatLists": {
          "description": "The lists available for download by the client.",
          "items": {
            "$ref": "ThreatListDescriptor"
          },
          "type": "array"
        }
      },
      "id": "ListThreatListsResponse"
    },
    "RiceDeltaEncoding": {
      "type": "object",
      "properties": {
        "numEntries": {
          "format": "int32",
          "description": "The number of entries that are delta encoded in the encoded data. If only a\nsingle integer was encoded, this will be zero and the single value will be\nstored in `first_value`.",
          "type": "integer"
        },
        "riceParameter": {
          "format": "int32",
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field\nis missing (that is, zero) if `num_entries` is zero.",
          "type": "integer"
        },
        "encodedData": {
          "format": "byte",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "type": "string"
        },
        "firstValue": {
          "type": "string",
          "format": "int64",
          "description": "The offset of the first entry in the encoded data, or, if only a single\ninteger was encoded, that single integer's value."
        }
      },
      "id": "RiceDeltaEncoding",
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or\ncompressed removal indices."
    },
    "FindThreatMatchesResponse": {
      "type": "object",
      "properties": {
        "matches": {
          "items": {
            "$ref": "ThreatMatch"
          },
          "type": "array",
          "description": "The threat list matches."
        }
      },
      "id": "FindThreatMatchesResponse"
    },
    "ThreatEntry": {
      "type": "object",
      "properties": {
        "hash": {
          "type": "string",
          "format": "byte",
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256\nhash. This field is in binary format. For JSON requests, hashes are\nbase64-encoded."
        },
        "url": {
          "description": "A URL.",
          "type": "string"
        },
        "digest": {
          "format": "byte",
          "description": "The digest of an executable in SHA256 format. The API supports both\nbinary and hex digests. For JSON requests, digests are base64-encoded.",
          "type": "string"
        }
      },
      "id": "ThreatEntry",
      "description": "An individual threat; for example, a malicious URL or its hash\nrepresentation. Only one of these fields should be set."
    },
    "ThreatListDescriptor": {
      "type": "object",
      "properties": {
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "MALICIOUS_BINARY"
          ],
          "description": "The threat type posed by the list's entries.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Malicious binary threat type."
          ]
        },
        "threatEntryType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The entry types contained in the list."
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type targeted by the list's entries.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        }
      },
      "id": "ThreatListDescriptor",
      "description": "Describes an individual threat list. A list is defined by three parameters:\nthe type of threat posed, the type of platform targeted by the threat, and\nthe type of entries in the list."
    },
    "MetadataEntry": {
      "description": "A single metadata entry.",
      "type": "object",
      "properties": {
        "value": {
          "format": "byte",
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded.",
          "type": "string"
        },
        "key": {
          "format": "byte",
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded.",
          "type": "string"
        }
      },
      "id": "MetadataEntry"
    },
    "ClientInfo": {
      "type": "object",
      "properties": {
        "clientVersion": {
          "type": "string",
          "description": "The version of the client implementation."
        },
        "clientId": {
          "type": "string",
          "description": "A client ID that (hopefully) uniquely identifies the client implementation\nof the Safe Browsing API."
        }
      },
      "id": "ClientInfo",
      "description": "The client metadata associated with Safe Browsing API requests."
    },
    "ThreatInfo": {
      "type": "object",
      "properties": {
        "threatEntryTypes": {
          "items": {
            "type": "string",
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ]
          },
          "type": "array",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The entry types to be checked."
        },
        "threatTypes": {
          "description": "The threat types to be checked.",
          "items": {
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "MALICIOUS_BINARY"
            ],
            "type": "string"
          },
          "type": "array",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Malicious binary threat type."
          ]
        },
        "platformTypes": {
          "description": "The platform types to be checked.",
          "items": {
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ],
            "type": "string"
          },
          "type": "array",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "threatEntries": {
          "items": {
            "$ref": "ThreatEntry"
          },
          "type": "array",
          "description": "The threat entries to be checked."
        }
      },
      "id": "ThreatInfo",
      "description": "The information regarding one or more threats that a client submits when\nchecking for matches in threat lists."
    },
    "FindThreatMatchesRequest": {
      "description": "Request to check entries against lists.",
      "type": "object",
      "properties": {
        "threatInfo": {
          "$ref": "ThreatInfo",
          "description": "The lists and entries to be checked for matches."
        },
        "client": {
          "$ref": "ClientInfo",
          "description": "The client metadata."
        }
      },
      "id": "FindThreatMatchesRequest"
    },
    "ThreatEntryMetadata": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "The metadata entries.",
          "items": {
            "$ref": "MetadataEntry"
          },
          "type": "array"
        }
      },
      "id": "ThreatEntryMetadata",
      "description": "The metadata associated with a specific threat entry. The client is expected\nto know the metadata key/value pairs associated with each threat type."
    },
    "RawIndices": {
      "type": "object",
      "properties": {
        "indices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "The indices to remove from a lexicographically-sorted local list."
        }
      },
      "id": "RawIndices",
      "description": "A set of raw indices to remove from a local list."
    },
    "RawHashes": {
      "type": "object",
      "properties": {
        "rawHashes": {
          "type": "string",
          "format": "byte",
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are\nsorted in lexicographic order. For JSON API users, hashes are\nbase64-encoded."
        },
        "prefixSize": {
          "type": "integer",
          "format": "int32",
          "description": "The number of bytes for each prefix encoded below.  This field can be\nanywhere from 4 (shortest prefix) to 32 (full SHA256 hash)."
        }
      },
      "id": "RawHashes",
      "description": "The uncompressed threat entries in hash format of a particular prefix length.\nHashes can be anywhere from 4 to 32 bytes in size. A large majority are 4\nbytes, but some hashes are lengthened if they collide with the hash of a\npopular URL.\n\nUsed for sending ThreatEntrySet to clients that do not support compression,\nor when sending non-4-byte hashes to clients that do support compression."
    },
    "FetchThreatListUpdatesResponse": {
      "type": "object",
      "properties": {
        "minimumWaitDuration": {
          "format": "google-duration",
          "description": "The minimum duration the client must wait before issuing any update\nrequest. If this field is not set clients may update as soon as they want.",
          "type": "string"
        },
        "listUpdateResponses": {
          "items": {
            "$ref": "ListUpdateResponse"
          },
          "type": "array",
          "description": "The list updates requested by the clients."
        }
      },
      "id": "FetchThreatListUpdatesResponse"
    },
    "Checksum": {
      "type": "object",
      "properties": {
        "sha256": {
          "type": "string",
          "format": "byte",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all\nhashes present in the database."
        }
      },
      "id": "Checksum",
      "description": "The expected state of a client's local database."
    },
    "FindFullHashesResponse": {
      "type": "object",
      "properties": {
        "matches": {
          "items": {
            "$ref": "ThreatMatch"
          },
          "type": "array",
          "description": "The full hashes that matched the requested prefixes."
        },
        "negativeCacheDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "For requested entities that did not match the threat list, how long to\ncache the response."
        },
        "minimumWaitDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The minimum duration the client must wait before issuing any find hashes\nrequest. If this field is not set, clients can issue a request as soon as\nthey want."
        }
      },
      "id": "FindFullHashesResponse"
    },
    "ThreatEntrySet": {
      "type": "object",
      "properties": {
        "rawHashes": {
          "$ref": "RawHashes",
          "description": "The raw SHA256-formatted entries."
        },
        "riceHashes": {
          "$ref": "RiceDeltaEncoding",
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a\nGolomb-Rice encoding. The hashes are converted to uint32, sorted in\nascending order, then delta encoded and stored as encoded_data."
        },
        "riceIndices": {
          "$ref": "RiceDeltaEncoding",
          "description": "The encoded local, lexicographically-sorted list indices, using a\nGolomb-Rice encoding. Used for sending compressed removal indices. The\nremoval indices (uint32) are sorted in ascending order, then delta encoded\nand stored as encoded_data."
        },
        "compressionType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ],
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "description": "The compression type for the entries in this set."
        },
        "rawIndices": {
          "$ref": "RawIndices",
          "description": "The raw removal indices for a local list."
        }
      },
      "id": "ThreatEntrySet",
      "description": "A set of threats that should be added or removed from a client's local\ndatabase."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "version": "v4",
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "The Safe Browsing API is an experimental API that allows client applications to check URLs against Google's constantly-updated blacklists of suspected phishing and malware pages. Your client application can use the API to download an encrypted table for local, client-side lookups of URLs.",
  "servicePath": "",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "safebrowsing"
}
