{
  "revision": "20191018",
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "id": "sql:v1beta4",
  "title": "Cloud SQL Admin API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "parameters": {
            "operation": {
              "location": "path",
              "description": "Instance operation ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}",
          "path": "sql/v1beta4/projects/{project}/operations/{operation}",
          "id": "sql.operations.get",
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "operation"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "description": "Lists all instance operations that have been performed on the given Cloud\nSQL instance in the reverse chronological order of the start time.",
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "OperationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "location": "query",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "pageToken": {
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of\nresults to view.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of operations per response.",
              "format": "uint32",
              "type": "integer"
            },
            "parent": {
              "location": "query",
              "description": "Indirect parent. The direct parent should combine with the instance name,\nwhich owns this collection of operations.\nFormat:\nprojects/{project}/locations/{location}",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/operations",
          "id": "sql.operations.list",
          "path": "sql/v1beta4/projects/{project}/operations"
        }
      }
    },
    "instances": {
      "methods": {
        "insert": {
          "description": "Creates a new Cloud SQL instance.",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project to which the newly created Cloud SQL instances\nshould belong.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL creates this database instance.\nFormat: projects/{project}/locations/{location}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "id": "sql.instances.insert",
          "path": "sql/v1beta4/projects/{project}/instances"
        },
        "update": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.update",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "description": "Updates settings of a Cloud SQL instance. \u003caside\nclass=\"caution\"\u003e\u003cstrong\u003eCaution:\u003c/strong\u003e This is not a partial update, so\nyou must include values for all the settings that you want to retain. For\npartial updates, use \u003ca\nhref=\"/sql/docs/db_path/admin-api/rest/v1beta4/instances/patch\"\u003epatch\u003c/a\u003e.\u003c/aside\u003e"
        },
        "restart": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be restarted.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL restarts this database instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "id": "sql.instances.restart",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "description": "Restarts a Cloud SQL instance."
        },
        "promoteReplica": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "ID of the project that contains the read replica.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL promotes this replica database\ninstance. Format: projects/{project}/locations/{location}",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "id": "sql.instances.promoteReplica",
          "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance."
        },
        "list": {
          "description": "Lists instances under a given project in the alphabetical order of the\ninstance name.",
          "response": {
            "$ref": "InstancesListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of\nresults to view.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project for which to list Cloud SQL instances."
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of results to return per response.",
              "format": "uint32",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "description": "An expression for filtering the results of the request, such as by name or\nlabel.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "path": "sql/v1beta4/projects/{project}/instances",
          "id": "sql.instances.list"
        },
        "demoteMaster": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance name.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL demotes this master database instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "id": "sql.instances.demoteMaster",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an\nexternal database server.",
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          }
        },
        "listServerCas": {
          "httpMethod": "GET",
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The parent, which owns this collection of server CAs.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "id": "sql.instances.listServerCas",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified\ninstance. There can be up to three CAs listed: the CA that was used to sign\nthe certificate that is currently in use, a CA that has been added but not\nyet used to sign a certificate, and a CA used to sign a certificate that\nhas previously rotated out."
        },
        "rotateServerCa": {
          "description": "Rotates the server certificate to one signed by the Certificate Authority\n(CA) version previously added with the addServerCA method.",
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL rotates these server CAs.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "id": "sql.instances.rotateServerCa",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa"
        },
        "addServerCa": {
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "The parent resource where Cloud SQL should add this server CA.\nFormat: projects/{project}/locations/{location}/instances/{instance}"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "id": "sql.instances.addServerCa",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "description": "Add a new trusted Certificate Authority (CA) version for the specified\ninstance. Required to prepare for a certificate rotation. If a CA version\nwas previously added but never used in a certificate rotation, this\noperation replaces that version. There cannot be more than one CA version\nwaiting to be rotated in.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "clone": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "id": "sql.instances.clone",
          "description": "Creates a Cloud SQL instance as a clone of the source instance.",
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not\ninclude the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the source as well as the clone Cloud SQL instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL should clone this instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "patch": {
          "request": {
            "$ref": "DatabaseInstance"
          },
          "description": "Updates settings of a Cloud SQL instance.\nThis method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.patch",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "DatabaseInstance"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "resourceName": {
              "description": "Name of the resource database instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.get",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "description": "Retrieves a resource containing information about a Cloud SQL instance."
        },
        "truncateLog": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the Cloud SQL project."
            },
            "parent": {
              "description": "The parent resource where Cloud SQL truncates this log.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "id": "sql.instances.truncateLog",
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "description": "Truncate MySQL general and slow query log tables"
        },
        "startReplica": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "ID of the project that contains the read replica.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL starts this database instance\nreplication. Format:\nprojects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "id": "sql.instances.startReplica",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "description": "Starts the replication in the read replica instance."
        },
        "import": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "id": "sql.instances.import",
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "description": "Imports data into a Cloud SQL instance from a SQL dump  or CSV file in\nCloud Storage.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL imports this database instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance to be deleted."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.delete",
          "description": "Deletes a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "DELETE"
        },
        "failover": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL sends this database instance during a\nfailover. Format:\nprojects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "ID of the project that contains the read replica.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "id": "sql.instances.failover",
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "description": "Failover the instance to its failover replica instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST"
        },
        "resetSslConfig": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "id": "sql.instances.resetSslConfig",
          "description": "Deletes all client certificates and generates a new server SSL certificate\nfor the instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL resets this SSL config.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          }
        },
        "restoreBackup": {
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "description": "Restores a backup of a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL restores this database instance from\nbackup. Format:\nprojects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "id": "sql.instances.restoreBackup"
        },
        "stopReplica": {
          "parameters": {
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "ID of the project that contains the read replica.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "The parent resource where Cloud SQL stops this database instance\nreplication. Format:\nprojects/{project}/locations/{location}/instances/{instance}"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "id": "sql.instances.stopReplica",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "description": "Stops the replication in the read replica instance.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "export": {
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance to be exported.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL exports this database instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "id": "sql.instances.export",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL\ndump or CSV file.",
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "databases": {
      "methods": {
        "insert": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "id": "sql.databases.insert",
          "request": {
            "$ref": "Database"
          },
          "description": "Inserts a resource containing information about a database inside a Cloud\nSQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL should add this database.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "description": "Retrieves a resource containing information about a database inside a Cloud\nSQL instance.",
          "response": {
            "$ref": "Database"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "database": {
              "description": "Name of the database in the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "resourceName": {
              "location": "query",
              "description": "Name of the resource database.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/databases/{database}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.get"
        },
        "patch": {
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "database": {
              "location": "path",
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.patch",
          "description": "Partially updates a resource containing information about a database inside\na Cloud SQL instance. This method supports patch semantics.",
          "request": {
            "$ref": "Database"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "PATCH"
        },
        "update": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.update",
          "description": "Updates a resource containing information about a database inside a Cloud\nSQL instance.",
          "request": {
            "$ref": "Database"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "database": {
              "location": "path",
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "database": {
              "description": "Name of the database to be deleted in the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.delete",
          "description": "Deletes a database from a Cloud SQL instance."
        },
        "list": {
          "description": "Lists databases in the specified Cloud SQL instance.",
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "description": "The parent, which owns this collection of databases.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "id": "sql.databases.list"
        }
      }
    },
    "sslCerts": {
      "methods": {
        "createEphemeral": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "id": "sql.sslCerts.createEphemeral",
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "description": "Generates a short-lived X509 certificate containing the provided public key\nand signed by a private key specific to the target instance. Users may use\nthe certificate to authenticate as themselves when connecting to the\ndatabase.",
          "response": {
            "$ref": "SslCert"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the Cloud SQL project.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL creates this ephemeral certificate.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral"
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "sha1Fingerprint": {
              "location": "path",
              "description": "Sha1 FingerPrint.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "id": "sql.sslCerts.delete",
          "description": "Deletes the SSL certificate. For First Generation instances, the\ncertificate remains valid until the instance is restarted."
        },
        "insert": {
          "description": "Creates an SSL certificate and returns it along with the private key and\nserver certificate authority.  The new certificate will not be usable until\nthe instance is restarted.",
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "description": "The parent resource where Cloud SQL creates this SSL certificate.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "id": "sql.sslCerts.insert"
        },
        "get": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "id": "sql.sslCerts.get",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "description": "Retrieves a particular SSL certificate.  Does not include the private key\n(required for usage).  The private key must be saved from the response to\ninitial creation.",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "response": {
            "$ref": "SslCert"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "resourceName": {
              "description": "Name of the resource ssl certificate.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/sslCerts/{sslCert}",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "sha1Fingerprint": {
              "description": "Sha1 FingerPrint.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "parent": {
              "description": "The parent, which owns this collection of SSL certificates.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "id": "sql.sslCerts.list",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "description": "Lists all of the current SSL certificates for the instance."
        }
      }
    },
    "backupRuns": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "id": {
              "location": "path",
              "description": "The ID of the Backup Run to delete. To find a Backup Run ID, use the \u003ca\nhref=\"/sql/docs/db_path/admin-api/rest/v1beta4/backupRuns/list\"\u003elist\u003c/a\u003e\nmethod.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "id": "sql.backupRuns.delete",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "description": "Deletes the backup taken by a backup run."
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL should create this backupRun.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "id": "sql.backupRuns.insert",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "description": "Creates a new backup run on demand. This method is applicable only to\nSecond Generation instances.",
          "request": {
            "$ref": "BackupRun"
          }
        },
        "get": {
          "description": "Retrieves a resource containing information about a backup run.",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "response": {
            "$ref": "BackupRun"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "resourceName": {
              "description": "Name of the resource backupRun.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/backupRuns/{backupRun}",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "id": {
              "location": "path",
              "description": "The ID of this Backup Run.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "id": "sql.backupRuns.get",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}"
        },
        "list": {
          "description": "Lists all backup runs associated with a given instance and configuration in\nthe reverse chronological order of the backup initiation time.",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of\nresults to view."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of backup runs per response.",
              "format": "int32",
              "type": "integer"
            },
            "parent": {
              "description": "The parent, which owns this collection of backupRuns.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "id": "sql.backupRuns.list"
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "response": {
            "$ref": "TiersListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project for which to list tiers.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/tiers",
          "path": "sql/v1beta4/projects/{project}/tiers",
          "id": "sql.tiers.list",
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example,\ndb-n1-standard-1. For related information, see \u003ca\nhref=\"/sql/pricing\"\u003ePricing\u003c/a\u003e."
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "description": "List all available database flags for Cloud SQL instances.",
          "response": {
            "$ref": "FlagsListResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "databaseVersion": {
              "location": "query",
              "description": "Database type and version you want to retrieve flags for. By default, this\nmethod returns flags for all database types and versions.",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/flags",
          "path": "sql/v1beta4/flags",
          "id": "sql.flags.list"
        }
      }
    },
    "users": {
      "methods": {
        "insert": {
          "description": "Creates a new user in a Cloud SQL instance.",
          "request": {
            "$ref": "User"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "description": "The parent resource where Cloud SQL creates this user.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.insert"
        },
        "list": {
          "response": {
            "$ref": "UsersListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "The parent, which owns this collection of users.\nFormat: projects/{project}/locations/{location}/instances/{instance}"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.list",
          "description": "Lists users in the specified Cloud SQL instance."
        },
        "update": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.update",
          "description": "Updates an existing user in a Cloud SQL instance.",
          "request": {
            "$ref": "User"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "host": {
              "location": "query",
              "description": "Host of the user in the instance. For a MySQL instance, it's required; For\na PostgreSQL instance, it's optional.",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "name": {
              "location": "query",
              "description": "Name of the user in the instance.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "host": {
              "description": "Host of the user in the instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "name": {
              "type": "string",
              "location": "query",
              "description": "Name of the user in the instance."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.delete",
          "description": "Deletes a user from a Cloud SQL instance."
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "schemas": {
    "SslCert": {
      "description": "SslCerts Resource",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "expirationTime": {
          "description": "The time when the certificate expires in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint.",
          "type": "string"
        },
        "certSerialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#sslCert\u003c/code\u003e.",
          "type": "string"
        },
        "commonName": {
          "type": "string",
          "description": "User supplied name.  Constrained to [a-zA-Z.-_ ]+."
        },
        "createTime": {
          "description": "The time when the certificate was created in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e",
          "format": "google-datetime",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        }
      },
      "id": "SslCert"
    },
    "SslCertsInsertRequest": {
      "id": "SslCertsInsertRequest",
      "description": "SslCerts insert request.",
      "type": "object",
      "properties": {
        "commonName": {
          "description": "User supplied name.  Must be a distinct name from the other certificates\nfor this instance.",
          "type": "string"
        }
      }
    },
    "RotateServerCaContext": {
      "description": "Instance rotate server CA context.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#rotateServerCaContext\u003c/code\u003e.",
          "type": "string"
        },
        "nextVersion": {
          "description": "The fingerprint of the next version to be rotated to. If left unspecified,\nwill be rotated to the most recently added server CA version.",
          "type": "string"
        }
      },
      "id": "RotateServerCaContext"
    },
    "CloneContext": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#cloneContext\u003c/code\u003e.",
          "type": "string"
        },
        "destinationInstanceName": {
          "type": "string",
          "description": "Name of the Cloud SQL instance to be created as a clone."
        },
        "pitrTimestampMs": {
          "description": "Reserved for future use.",
          "format": "int64",
          "type": "string"
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the\nsource instance should be cloned. If not specified, the source instance is\ncloned up to the most recent binary log coordinates."
        }
      },
      "id": "CloneContext",
      "description": "Database instance clone context."
    },
    "Settings": {
      "description": "Database instance settings.",
      "type": "object",
      "properties": {
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is\ntrue. Not used for First Generation instances.",
          "type": "boolean"
        },
        "pricingPlan": {
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "description": "The pricing plan for this instance. This can be either \u003ccode\u003ePER_USE\u003c/code\u003e\nor \u003ccode\u003ePACKAGE\u003c/code\u003e. Only \u003ccode\u003ePER_USE\u003c/code\u003e is supported for Second\nGeneration instances.",
          "type": "string"
        },
        "storageAutoResizeLimit": {
          "description": "The maximum size to which storage capacity can be automatically increased.\nThe default value is 0, which specifies that there is no limit. Not used\nfor First Generation instances.",
          "format": "int64",
          "type": "string"
        },
        "authorizedGaeApplications": {
          "description": "The App Engine app IDs that can access this instance. First Generation\ninstances only.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example\n\u003ccode\u003edb-n1-standard-1\u003c/code\u003e (MySQL instances) or\n\u003ccode\u003edb-custom-1-3840\u003c/code\u003e (PostgreSQL instances). For MySQL instances,\nthis property determines whether the instance is First or Second\nGeneration. For more information, see \u003ca\nhref=\"/sql/docs/db_path/instance-settings\"\u003eInstance Settings\u003c/a\u003e.",
          "type": "string"
        },
        "dataDiskSizeGb": {
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB. Not used\nfor First Generation instances.",
          "format": "int64",
          "type": "string"
        },
        "dataDiskType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the\nAPI."
          ],
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ],
          "description": "The type of data disk: \u003ccode\u003ePD_SSD\u003c/code\u003e (default) or\n\u003ccode\u003ePD_HDD\u003c/code\u003e. Not used for First Generation instances."
        },
        "databaseReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether\nreplication is enabled or not."
        },
        "crashSafeReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether\ndatabase flags for crash-safe replication are enabled. This property is\nonly applicable to First Generation instances.",
          "type": "boolean"
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-provided labels, represented as a dictionary where each label is a\nsingle key value pair.",
          "type": "object"
        },
        "activationPolicy": {
          "description": "The activation policy specifies when the instance is activated; it is\napplicable only when the instance state is \u003ccode\u003eRUNNABLE\u003c/code\u003e. Valid\nvalues: \u003cbr\u003e\u003ccode\u003eALWAYS\u003c/code\u003e: The instance is on, and remains so even in\nthe absence of connection requests. \u003cbr\u003e\u003ccode\u003eNEVER\u003c/code\u003e: The instance is\noff; it is not activated, even if a connection request arrives.\n\u003cbr\u003e\u003ccode\u003eON_DEMAND\u003c/code\u003e: First Generation instances only. The instance\nresponds to incoming requests, and turns itself off when not in use.\nInstances with \u003ccode\u003ePER_USE\u003c/code\u003e pricing turn off after 15 minutes of\ninactivity. Instances with \u003ccode\u003ePER_PACKAGE\u003c/code\u003e pricing turn off after\n12 hours of inactivity.",
          "type": "string",
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance should never spin up.",
            "The instance spins up upon receiving requests."
          ],
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ]
        },
        "replicationType": {
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "The type of replication this instance uses. This can be either\n\u003ccode\u003eASYNCHRONOUS\u003c/code\u003e or \u003ccode\u003eSYNCHRONOUS\u003c/code\u003e. This property is\nonly applicable to First Generation instances.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the\ndefault value.",
            "The asynchronous replication mode for First Generation instances. It\nprovides a slight performance gain, but if an outage occurs while this\noption is set to asynchronous, you can lose up to a few seconds of updates\nto your data."
          ]
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#settings\u003c/code\u003e.",
          "type": "string"
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as\nnear as possible to either an App Engine app or Compute Engine zone for\nbetter performance. App Engine co-location is only applicable to First\nGeneration instances."
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "type": "array",
          "items": {
            "$ref": "DatabaseFlags"
          }
        },
        "settingsVersion": {
          "description": "The version of instance settings. This is a required field for update\nmethod to make sure concurrent updates are handled properly. During update,\nuse the most recent settingsVersion value for this instance and do not try\nto update this value.",
          "format": "int64",
          "type": "string"
        },
        "availabilityType": {
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "description": "Availability type (PostgreSQL instances only). Potential values:\n\u003cbr\u003e\u003ccode\u003eZONAL\u003c/code\u003e: The instance serves data from only one zone.\nOutages in that zone affect data accessibility. \u003cbr\u003e\u003ccode\u003eREGIONAL\u003c/code\u003e:\nThe instance can serve data from more than one zone in a region (it is\nhighly available). \u003cbr\u003eFor more information, see \u003ca\nhref=\"https://cloud.google.com/sql/docs/postgres/high-availability\"\u003eOverview\nof the High Availability Configuration\u003c/a\u003e.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ]
        },
        "ipConfiguration": {
          "$ref": "IpConfiguration",
          "description": "The settings for IP Management. This allows to enable or disable the\ninstance IP and manage which external networks can connect to the instance.\nThe IPv4 address cannot be disabled for Second Generation instances."
        },
        "maintenanceWindow": {
          "description": "The maintenance window for this instance. This specifies when the instance\ncan be restarted for maintenance purposes. Not used for First Generation\ninstances.",
          "$ref": "MaintenanceWindow"
        }
      },
      "id": "Settings"
    },
    "InstancesListServerCasResponse": {
      "type": "object",
      "properties": {
        "activeVersion": {
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#instancesListServerCas\u003c/code\u003e.",
          "type": "string"
        },
        "certs": {
          "description": "List of server CA certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        }
      },
      "id": "InstancesListServerCasResponse",
      "description": "Instances ListServerCas response."
    },
    "OperationErrors": {
      "id": "OperationErrors",
      "description": "Database instance operation errors list wrapper.",
      "type": "object",
      "properties": {
        "errors": {
          "description": "The list of errors encountered while processing this operation.",
          "type": "array",
          "items": {
            "$ref": "OperationError"
          }
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#operationErrors\u003c/code\u003e.",
          "type": "string"
        }
      }
    },
    "InstancesFailoverRequest": {
      "description": "Instance failover request.",
      "type": "object",
      "properties": {
        "failoverContext": {
          "description": "Failover Context.",
          "$ref": "FailoverContext"
        }
      },
      "id": "InstancesFailoverRequest"
    },
    "Flag": {
      "description": "A flag resource.",
      "type": "object",
      "properties": {
        "inBeta": {
          "description": "Whether or not the flag is considered in beta.",
          "type": "boolean"
        },
        "type": {
          "description": "The type of the flag. Flags are typed to being \u003ccode\u003eBOOLEAN\u003c/code\u003e,\n\u003ccode\u003eSTRING\u003c/code\u003e, \u003ccode\u003eINTEGER\u003c/code\u003e or \u003ccode\u003eNONE\u003c/code\u003e.\n\u003ccode\u003eNONE\u003c/code\u003e is used for flags which do not take a value, such as\n\u003ccode\u003eskip_grant_tables\u003c/code\u003e.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specically for MySQL TimeZone offset. Accept a string value\nwith the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ],
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ]
        },
        "allowedStringValues": {
          "description": "For \u003ccode\u003eSTRING\u003c/code\u003e flags, a list of strings that the value can be set\nto.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#flag\u003c/code\u003e.",
          "type": "string"
        },
        "appliesTo": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.0.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MariaDB 10.0.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.5.",
            "The database version is SQL Server 2016.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017.",
            "",
            "",
            ""
          ],
          "description": "The database version this flag applies to. Can be \u003ccode\u003eMYSQL_5_5\u003c/code\u003e,\n\u003ccode\u003eMYSQL_5_6\u003c/code\u003e, or \u003ccode\u003eMYSQL_5_7\u003c/code\u003e. \u003ccode\u003eMYSQL_5_7\u003c/code\u003e\nis applicable only to Second Generation instances.",
          "type": "array",
          "items": {
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "OBSOLETE_MYSQL_5_0",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MARIADB_10_0",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "OBSOLETE_POSTGRES_9_5",
              "SQLSERVER_ENTERPRISE_2016",
              "POSTGRES_9_6",
              "POSTGRES_11",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB"
            ],
            "type": "string"
          }
        },
        "requiresRestart": {
          "description": "Indicates whether changing this flag will trigger a database restart. Only\napplicable to Second Generation instances.",
          "type": "boolean"
        },
        "minValue": {
          "description": "For \u003ccode\u003eINTEGER\u003c/code\u003e flags, the minimum allowed value.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "This is the name of the flag. Flag names always use underscores, not\nhyphens, e.g. \u003ccode\u003emax_allowed_packet\u003c/code\u003e",
          "type": "string"
        },
        "maxValue": {
          "description": "For \u003ccode\u003eINTEGER\u003c/code\u003e flags, the maximum allowed value.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Flag"
    },
    "InstancesDemoteMasterRequest": {
      "description": "Database demote master request.",
      "type": "object",
      "properties": {
        "demoteMasterContext": {
          "$ref": "DemoteMasterContext",
          "description": "Contains details about the demoteMaster operation."
        }
      },
      "id": "InstancesDemoteMasterRequest"
    },
    "ExportContext": {
      "description": "Database instance export context.",
      "type": "object",
      "properties": {
        "sqlExportOptions": {
          "properties": {
            "schemaOnly": {
              "description": "Export only schemas.",
              "type": "boolean"
            },
            "mysqlExportOptions": {
              "description": "Options for exporting from MySQL.",
              "type": "object",
              "properties": {
                "masterData": {
                  "type": "integer",
                  "description": "Option to include SQL statement required to set up replication.\nIf set to \u003ccode\u003e1\u003c/code\u003e, the dump file includes\n a CHANGE MASTER TO statement with the binary log coordinates.\nIf set to \u003ccode\u003e2\u003c/code\u003e, the CHANGE MASTER TO statement is written as\n a SQL comment, and has no effect.\nAll other values are ignored.",
                  "format": "int32"
                }
              }
            },
            "tables": {
              "description": "Tables to export, or that were exported, from the specified database. If\nyou specify tables, specify one and only one database. For PostgreSQL\ninstances, you can specify only one table.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "description": "Options for exporting data as SQL statements.",
          "type": "object"
        },
        "uri": {
          "description": "The path to the file in Google Cloud Storage where the export will be\nstored. The URI is in the form \u003ccode\u003egs:\n//bucketName/fileName\u003c/code\u003e. If the file already exists, the requests\n// succeeds, but the operation fails. If \u003ccode\u003efileType\u003c/code\u003e is\n// \u003ccode\u003eSQL\u003c/code\u003e and the filename ends with .gz, the contents are\n// compressed.",
          "type": "string"
        },
        "fileType": {
          "description": "The file type for the specified uri. \u003cbr\u003e\u003ccode\u003eSQL\u003c/code\u003e: The file\ncontains SQL statements. \u003cbr\u003e\u003ccode\u003eCSV\u003c/code\u003e: The file contains CSV data.",
          "type": "string",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ]
        },
        "csvExportOptions": {
          "properties": {
            "selectQuery": {
              "description": "The select query used to extract the data.",
              "type": "string"
            }
          },
          "description": "Options for exporting data as CSV.",
          "type": "object"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#exportContext\u003c/code\u003e.",
          "type": "string"
        },
        "databases": {
          "description": "Databases to be exported. \u003cbr /\u003e \u003cb\u003eMySQL instances:\u003c/b\u003e If\n\u003ccode\u003efileType\u003c/code\u003e is \u003ccode\u003eSQL\u003c/code\u003e and no database is specified, all\ndatabases are exported, except for the \u003ccode\u003emysql\u003c/code\u003e system database.\nIf \u003ccode\u003efileType\u003c/code\u003e is \u003ccode\u003eCSV\u003c/code\u003e, you can specify one database,\neither by using this property or by using the\n\u003ccode\u003ecsvExportOptions.selectQuery\u003c/code\u003e property, which takes precedence\nover this property. \u003cbr /\u003e \u003cb\u003ePostgreSQL instances:\u003c/b\u003e You must specify\none database to be exported. If \u003ccode\u003efileType\u003c/code\u003e is \u003ccode\u003eCSV\u003c/code\u003e,\nthis database must match the one specified in the\n\u003ccode\u003ecsvExportOptions.selectQuery\u003c/code\u003e property.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ExportContext"
    },
    "MySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#mysqlReplicaConfiguration\u003c/code\u003e.",
          "type": "string"
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "verifyServerCertificate": {
          "description": "Whether or not to check the master's Common Name value in the certificate\nthat it sends during the SSL handshake.",
          "type": "boolean"
        },
        "clientKey": {
          "description": "PEM representation of the slave's private key. The corresponsing public key\nis encoded in the client's certificate.",
          "type": "string"
        },
        "sslCipher": {
          "description": "A list of permissible ciphers to use for SSL encryption.",
          "type": "string"
        },
        "masterHeartbeatPeriod": {
          "description": "Interval in milliseconds between replication heartbeats.",
          "format": "int64",
          "type": "string"
        },
        "dumpFilePath": {
          "description": "Path to a SQL dump file in Google Cloud Storage from which the slave\ninstance is to be created. The URI is in the form gs:\n//bucketName/fileName. Compressed gzip files (.gz) are also supported.\n// Dumps should have the binlog co-ordinates from which replication should\n// begin. This can be accomplished by setting --master-data to 1 when using\n// mysqldump.",
          "type": "string"
        },
        "connectRetryInterval": {
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds.",
          "format": "int32",
          "type": "integer"
        },
        "clientCertificate": {
          "description": "PEM representation of the slave's x509 certificate.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        }
      },
      "id": "MySqlReplicaConfiguration"
    },
    "InstancesCloneRequest": {
      "description": "Database instance clone request.",
      "type": "object",
      "properties": {
        "cloneContext": {
          "$ref": "CloneContext",
          "description": "Contains details about the clone operation."
        }
      },
      "id": "InstancesCloneRequest"
    },
    "TiersListResponse": {
      "description": "Tiers list response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#tiersList\u003c/code\u003e.",
          "type": "string"
        },
        "items": {
          "description": "List of tiers.",
          "type": "array",
          "items": {
            "$ref": "Tier"
          }
        }
      },
      "id": "TiersListResponse"
    },
    "FlagsListResponse": {
      "description": "Flags list response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#flagsList\u003c/code\u003e.",
          "type": "string"
        },
        "items": {
          "description": "List of flags.",
          "type": "array",
          "items": {
            "$ref": "Flag"
          }
        }
      },
      "id": "FlagsListResponse"
    },
    "InstancesImportRequest": {
      "properties": {
        "importContext": {
          "$ref": "ImportContext",
          "description": "Contains details about the import operation."
        }
      },
      "id": "InstancesImportRequest",
      "description": "Database instance import request.",
      "type": "object"
    },
    "SslCertsListResponse": {
      "id": "SslCertsListResponse",
      "description": "SslCerts list response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#sslCertsList\u003c/code\u003e.",
          "type": "string"
        },
        "items": {
          "description": "List of client certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        }
      }
    },
    "ReplicaConfiguration": {
      "description": "Read-replica configuration for connecting to the master.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#replicaConfiguration\u003c/code\u003e.",
          "type": "string"
        },
        "mysqlReplicaConfiguration": {
          "$ref": "MySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises\nmaster. Replication configuration information such as the username,\npassword, certificates, and keys are not stored in the instance metadata.\nThe configuration information is used only to set up the replication\nconnection and is stored by MySQL in a file named \u003ccode\u003emaster.info\u003c/code\u003e\nin the data directory."
        },
        "failoverTarget": {
          "description": "Specifies if the replica is the failover target. If the field is set to\n\u003ccode\u003etrue\u003c/code\u003e the replica will be designated as a failover replica. In\ncase the master instance fails, the replica instance will be promoted as\nthe new master instance.  \u003cp\u003eOnly one replica can be specified as failover\ntarget, and the replica has to be in different zone with the master\ninstance.",
          "type": "boolean"
        }
      },
      "id": "ReplicaConfiguration"
    },
    "TruncateLogContext": {
      "type": "object",
      "properties": {
        "logType": {
          "description": "The type of log to truncate. Valid values are\n\u003ccode\u003eMYSQL_GENERAL_TABLE\u003c/code\u003e and \u003ccode\u003eMYSQL_SLOW_TABLE\u003c/code\u003e.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#truncateLogContext\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "TruncateLogContext",
      "description": "Database Instance truncate log context."
    },
    "SslCertDetail": {
      "type": "object",
      "properties": {
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        },
        "certPrivateKey": {
          "description": "The private key for the client cert, in pem format.  Keep private in order\nto protect your security.",
          "type": "string"
        }
      },
      "id": "SslCertDetail",
      "description": "SslCertDetail."
    },
    "DiskEncryptionStatus": {
      "description": "Disk encryption status for an instance.",
      "type": "object",
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "KMS key version used to encrypt the Cloud SQL instance resource"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#diskEncryptionStatus\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "DiskEncryptionStatus"
    },
    "DemoteMasterConfiguration": {
      "description": "Read-replica configuration for connecting to the on-premises master.",
      "type": "object",
      "properties": {
        "mysqlReplicaConfiguration": {
          "$ref": "DemoteMasterMySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises\nmaster. Replication configuration information such as the username,\npassword, certificates, and keys are not stored in the instance metadata.\nThe configuration information is used only to set up the replication\nconnection and is stored by MySQL in a file named \u003ccode\u003emaster.info\u003c/code\u003e\nin the data directory."
        },
        "kind": {
[...]
