{
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "sql",
  "batchPath": "batch",
  "id": "sql:v1beta4",
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "revision": "20191018",
  "title": "Cloud SQL Admin API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "sslCerts": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL creates this SSL certificate.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "id": "sql.sslCerts.insert",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "description": "Creates an SSL certificate and returns it along with the private key and\nserver certificate authority.  The new certificate will not be usable until\nthe instance is restarted.",
          "request": {
            "$ref": "SslCertsInsertRequest"
          }
        },
        "get": {
          "response": {
            "$ref": "SslCert"
          },
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "resourceName": {
              "location": "query",
              "description": "Name of the resource ssl certificate.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/sslCerts/{sslCert}",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "sha1Fingerprint": {
              "location": "path",
              "description": "Sha1 FingerPrint.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "id": "sql.sslCerts.get",
          "description": "Retrieves a particular SSL certificate.  Does not include the private key\n(required for usage).  The private key must be saved from the response to\ninitial creation."
        },
        "list": {
          "description": "Lists all of the current SSL certificates for the instance.",
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The parent, which owns this collection of SSL certificates.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "id": "sql.sslCerts.list"
        },
        "createEphemeral": {
          "description": "Generates a short-lived X509 certificate containing the provided public key\nand signed by a private key specific to the target instance. Users may use\nthe certificate to authenticate as themselves when connecting to the\ndatabase.",
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "SslCert"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the Cloud SQL project.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL creates this ephemeral certificate.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "id": "sql.sslCerts.createEphemeral",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral"
        },
        "delete": {
          "description": "Deletes the SSL certificate. For First Generation instances, the\ncertificate remains valid until the instance is restarted.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "sha1Fingerprint": {
              "location": "path",
              "description": "Sha1 FingerPrint.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "id": "sql.sslCerts.delete",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}"
        }
      }
    },
    "backupRuns": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "id": {
              "location": "path",
              "description": "The ID of the Backup Run to delete. To find a Backup Run ID, use the \u003ca\nhref=\"/sql/docs/db_path/admin-api/rest/v1beta4/backupRuns/list\"\u003elist\u003c/a\u003e\nmethod.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "id": "sql.backupRuns.delete",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "description": "Deletes the backup taken by a backup run."
        },
        "insert": {
          "description": "Creates a new backup run on demand. This method is applicable only to\nSecond Generation instances.",
          "request": {
            "$ref": "BackupRun"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "The parent resource where Cloud SQL should create this backupRun.\nFormat: projects/{project}/locations/{location}/instances/{instance}"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "id": "sql.backupRuns.insert",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns"
        },
        "get": {
          "response": {
            "$ref": "BackupRun"
          },
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "id": {
              "description": "The ID of this Backup Run.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "resourceName": {
              "location": "query",
              "description": "Name of the resource backupRun.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/backupRuns/{backupRun}",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "id": "sql.backupRuns.get",
          "description": "Retrieves a resource containing information about a backup run."
        },
        "list": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "id": "sql.backupRuns.list",
          "description": "Lists all backup runs associated with a given instance and configuration in\nthe reverse chronological order of the backup initiation time.",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of\nresults to view.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of backup runs per response.",
              "format": "int32",
              "type": "integer"
            },
            "parent": {
              "location": "query",
              "description": "The parent, which owns this collection of backupRuns.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            }
          }
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "TiersListResponse"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project for which to list tiers.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/tiers",
          "id": "sql.tiers.list",
          "path": "sql/v1beta4/projects/{project}/tiers",
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example,\ndb-n1-standard-1. For related information, see \u003ca\nhref=\"/sql/pricing\"\u003ePricing\u003c/a\u003e."
        }
      }
    },
    "users": {
      "methods": {
        "list": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.list",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "description": "Lists users in the specified Cloud SQL instance.",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "UsersListResponse"
          },
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "description": "The parent, which owns this collection of users.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "update": {
          "request": {
            "$ref": "User"
          },
          "description": "Updates an existing user in a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "name": {
              "location": "query",
              "description": "Name of the user in the instance.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "host": {
              "location": "query",
              "description": "Host of the user in the instance. For a MySQL instance, it's required; For\na PostgreSQL instance, it's optional.",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.update"
        },
        "delete": {
          "description": "Deletes a user from a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "host": {
              "location": "query",
              "description": "Host of the user in the instance.",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "name": {
              "description": "Name of the user in the instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.delete"
        },
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL creates this user.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.insert",
          "description": "Creates a new user in a Cloud SQL instance.",
          "request": {
            "$ref": "User"
          }
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "path": "sql/v1beta4/flags",
          "id": "sql.flags.list",
          "description": "List all available database flags for Cloud SQL instances.",
          "response": {
            "$ref": "FlagsListResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "databaseVersion": {
              "description": "Database type and version you want to retrieve flags for. By default, this\nmethod returns flags for all database types and versions.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/flags"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}",
          "id": "sql.operations.get",
          "path": "sql/v1beta4/projects/{project}/operations/{operation}",
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "operation": {
              "location": "path",
              "description": "Instance operation ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "flatPath": "sql/v1beta4/projects/{project}/operations",
          "path": "sql/v1beta4/projects/{project}/operations",
          "id": "sql.operations.list",
          "description": "Lists all instance operations that have been performed on the given Cloud\nSQL instance in the reverse chronological order of the start time.",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "parent": {
              "location": "query",
              "description": "Indirect parent. The direct parent should combine with the instance name,\nwhich owns this collection of operations.\nFormat:\nprojects/{project}/locations/{location}",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of\nresults to view.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of operations per response.",
              "format": "uint32",
              "type": "integer"
            }
          }
        }
      }
    },
    "instances": {
      "methods": {
        "startReplica": {
          "description": "Starts the replication in the read replica instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL starts this database instance\nreplication. Format:\nprojects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL read replica instance name."
            },
            "project": {
              "location": "path",
              "description": "ID of the project that contains the read replica.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "id": "sql.instances.startReplica"
        },
        "import": {
          "description": "Imports data into a Cloud SQL instance from a SQL dump  or CSV file in\nCloud Storage.",
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL imports this database instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "id": "sql.instances.import"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be deleted.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.delete",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "description": "Deletes a Cloud SQL instance."
        },
        "failover": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL sends this database instance during a\nfailover. Format:\nprojects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "ID of the project that contains the read replica."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "id": "sql.instances.failover",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "description": "Failover the instance to its failover replica instance.",
          "request": {
            "$ref": "InstancesFailoverRequest"
          }
        },
        "resetSslConfig": {
          "description": "Deletes all client certificates and generates a new server SSL certificate\nfor the instance.",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL resets this SSL config.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "id": "sql.instances.resetSslConfig",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig"
        },
        "restoreBackup": {
          "description": "Restores a backup of a Cloud SQL instance.",
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL restores this database instance from\nbackup. Format:\nprojects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "id": "sql.instances.restoreBackup",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup"
        },
        "stopReplica": {
          "description": "Stops the replication in the read replica instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL stops this database instance\nreplication. Format:\nprojects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "id": "sql.instances.stopReplica"
        },
        "export": {
          "id": "sql.instances.export",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL\ndump or CSV file.",
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be exported.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL exports this database instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/export"
        },
        "insert": {
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "path": "sql/v1beta4/projects/{project}/instances",
          "id": "sql.instances.insert",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "description": "Creates a new Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project to which the newly created Cloud SQL instances\nshould belong.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL creates this database instance.\nFormat: projects/{project}/locations/{location}",
              "type": "string",
              "location": "query"
            }
          }
        },
        "update": {
          "request": {
            "$ref": "DatabaseInstance"
          },
          "description": "Updates settings of a Cloud SQL instance. \u003caside\nclass=\"caution\"\u003e\u003cstrong\u003eCaution:\u003c/strong\u003e This is not a partial update, so\nyou must include values for all the settings that you want to retain. For\npartial updates, use \u003ca\nhref=\"/sql/docs/db_path/admin-api/rest/v1beta4/instances/patch\"\u003epatch\u003c/a\u003e.\u003c/aside\u003e",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.update"
        },
        "restart": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance to be restarted.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL restarts this database instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "id": "sql.instances.restart",
          "description": "Restarts a Cloud SQL instance."
        },
        "promoteReplica": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "id": "sql.instances.promoteReplica",
          "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL promotes this replica database\ninstance. Format: projects/{project}/locations/{location}",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica"
        },
        "list": {
          "response": {
            "$ref": "InstancesListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of\nresults to view.",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project for which to list Cloud SQL instances."
            },
            "maxResults": {
              "description": "The maximum number of results to return per response.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "An expression for filtering the results of the request, such as by name or\nlabel.",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "path": "sql/v1beta4/projects/{project}/instances",
          "id": "sql.instances.list",
          "description": "Lists instances under a given project in the alphabetical order of the\ninstance name."
        },
        "demoteMaster": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL demotes this master database instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Cloud SQL instance name.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "id": "sql.instances.demoteMaster",
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an\nexternal database server.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST"
        },
        "rotateServerCa": {
          "description": "Rotates the server certificate to one signed by the Certificate Authority\n(CA) version previously added with the addServerCA method.",
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL rotates these server CAs.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "id": "sql.instances.rotateServerCa",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa"
        },
        "listServerCas": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "location": "query",
              "description": "The parent, which owns this collection of server CAs.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "id": "sql.instances.listServerCas",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified\ninstance. There can be up to three CAs listed: the CA that was used to sign\nthe certificate that is currently in use, a CA that has been added but not\nyet used to sign a certificate, and a CA used to sign a certificate that\nhas previously rotated out."
        },
        "addServerCa": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "id": "sql.instances.addServerCa",
          "description": "Add a new trusted Certificate Authority (CA) version for the specified\ninstance. Required to prepare for a certificate rotation. If a CA version\nwas previously added but never used in a certificate rotation, this\noperation replaces that version. There cannot be more than one CA version\nwaiting to be rotated in.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL should add this server CA.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa"
        },
        "clone": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Project ID of the source as well as the clone Cloud SQL instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL should clone this instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not\ninclude the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "id": "sql.instances.clone",
          "description": "Creates a Cloud SQL instance as a clone of the source instance.",
          "request": {
            "$ref": "InstancesCloneRequest"
          }
        },
        "patch": {
          "request": {
            "$ref": "DatabaseInstance"
          },
          "description": "Updates settings of a Cloud SQL instance.\nThis method supports patch semantics.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.patch"
        },
        "get": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.get",
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "response": {
            "$ref": "DatabaseInstance"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "resourceName": {
              "description": "Name of the resource database instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          }
        },
        "truncateLog": {
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "description": "Truncate MySQL general and slow query log tables",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "parent": {
              "location": "query",
              "description": "The parent resource where Cloud SQL truncates this log.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the Cloud SQL project.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "id": "sql.instances.truncateLog"
        }
      }
    },
    "databases": {
      "methods": {
        "delete": {
          "description": "Deletes a database from a Cloud SQL instance.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "database": {
              "location": "path",
              "description": "Name of the database to be deleted in the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.delete",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "description": "The parent, which owns this collection of databases.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "id": "sql.databases.list",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "description": "Lists databases in the specified Cloud SQL instance."
        },
        "insert": {
          "description": "Inserts a resource containing information about a database inside a Cloud\nSQL instance.",
          "request": {
            "$ref": "Database"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "description": "The parent resource where Cloud SQL should add this database.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "id": "sql.databases.insert"
        },
        "get": {
          "description": "Retrieves a resource containing information about a database inside a Cloud\nSQL instance.",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "response": {
            "$ref": "Database"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "database": {
              "description": "Name of the database in the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "resourceName": {
              "type": "string",
              "location": "query",
              "description": "Name of the resource database.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/databases/{database}"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.get",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}"
        },
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.patch",
          "description": "Partially updates a resource containing information about a database inside\na Cloud SQL instance. This method supports patch semantics.",
          "request": {
            "$ref": "Database"
          }
        },
        "update": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.update",
          "request": {
            "$ref": "Database"
          },
          "description": "Updates a resource containing information about a database inside a Cloud\nSQL instance."
        }
      }
    }
  },
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    }
  },
  "schemas": {
    "LocationPreference": {
      "description": "Preferred location. This specifies where a Cloud SQL instance should\npreferably be located, either in a specific Compute Engine zone, or\nco-located with an App Engine application. Note that if the preferred\nlocation is not available, the instance will be located as close as possible\nwithin the region. Only one location may be specified.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#locationPreference\u003c/code\u003e.",
          "type": "string"
        },
        "zone": {
          "description": "The preferred Compute Engine zone (e.g. us-central1-a, us-central1-b,\netc.).",
          "type": "string"
        },
        "followGaeApplication": {
          "description": "The AppEngine application to follow, it must be in the same region as the\nCloud SQL instance.",
          "type": "string"
        }
      },
      "id": "LocationPreference"
    },
    "BackupRun": {
      "description": "A BackupRun resource.",
      "type": "object",
      "properties": {
        "enqueuedTime": {
          "description": "The time the run was enqueued in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL\ninstance.",
          "format": "int64",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the backup operation completed in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime"
        },
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\"."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "windowStartTime": {
          "description": "The start time of the backup window during which this the backup was\nattempted in \u003ca href=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e\nformat, for example \u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Encryption status specific to a backup.\nApplies only to Second Generation instances."
        },
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if\nthe run has the FAILED status."
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#backupRun\u003c/code\u003e.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Encryption configuration specific to a backup.\nApplies only to Second Generation instances."
        },
        "status": {
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "description": "The status of this run.",
          "type": "string",
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a\nproblem. Example: Long-running operation in progress during\nthe whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup\nwindow. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ]
        }
      },
      "id": "BackupRun"
    },
    "Operation": {
      "description": "An Operation resource.&nbsp;For successful operations that return an\nOperation resource, only the fields relevant to the operation are populated\nin the resource.",
      "type": "object",
      "properties": {
        "error": {
          "description": "If errors occurred during processing of this operation, this field will be\npopulated.",
          "$ref": "OperationErrors"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#operation\u003c/code\u003e.",
          "type": "string"
        },
        "importContext": {
          "description": "The context for import operation, if applicable.",
          "$ref": "ImportContext"
        },
        "status": {
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ],
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "description": "The status of an operation. Valid values are \u003ccode\u003ePENDING\u003c/code\u003e,\n\u003ccode\u003eRUNNING\u003c/code\u003e, \u003ccode\u003eDONE\u003c/code\u003e, \u003ccode\u003eUNKNOWN\u003c/code\u003e.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "An identifier that uniquely identifies the operation. You can use this\nidentifier to retrieve the Operations resource that has information about\nthe operation."
        },
        "exportContext": {
          "description": "The context for export operation, if applicable.",
          "$ref": "ExportContext"
        },
        "targetId": {
          "description": "Name of the database instance related to this operation.",
          "type": "string"
        },
        "endTime": {
          "description": "The time this operation finished in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "The time this operation actually started in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "insertTime": {
          "description": "The time this operation was enqueued in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "The email address of the user who initiated this operation."
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "targetLink": {
          "type": "string"
        },
        "operationType": {
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage\nbucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL\nfailover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL\nread replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance\ntypically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "Defer scheduled maintenance to another time.",
            "Creates clone instance."
          ],
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE"
          ],
          "description": "The type of the operation. Valid values are \u003ccode\u003eCREATE\u003c/code\u003e,\n\u003ccode\u003eDELETE\u003c/code\u003e, \u003ccode\u003eUPDATE\u003c/code\u003e, \u003ccode\u003eRESTART\u003c/code\u003e,\n\u003ccode\u003eIMPORT\u003c/code\u003e, \u003ccode\u003eEXPORT\u003c/code\u003e, \u003ccode\u003eBACKUP_VOLUME\u003c/code\u003e,\n\u003ccode\u003eRESTORE_VOLUME\u003c/code\u003e, \u003ccode\u003eCREATE_USER\u003c/code\u003e,\n\u003ccode\u003eDELETE_USER\u003c/code\u003e, \u003ccode\u003eCREATE_DATABASE\u003c/code\u003e,\n\u003ccode\u003eDELETE_DATABASE\u003c/code\u003e .",
          "type": "string"
        }
      },
      "id": "Operation"
    },
    "InstancesListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#instancesList\u003c/code\u003e.",
          "type": "string"
        },
        "items": {
          "description": "List of database instance resources.",
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "warnings": {
          "description": "List of warnings that ocurred while handling the request.",
          "type": "array",
          "items": {
            "$ref": "ApiWarning"
          }
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide\nthis value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      },
      "id": "InstancesListResponse",
      "description": "Database instances list response."
    },
    "MaintenanceWindow": {
      "description": "Maintenance window. This specifies when a v2 Cloud SQL instance should\npreferably be restarted for system maintenance purposes.",
      "type": "object",
      "properties": {
        "updateTrack": {
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For instance update that requires a restart, this update track indicates\nyour instance prefer to restart for new version early in maintenance\nwindow.",
            "For instance update that requires a restart, this update track indicates\nyour instance prefer to let Cloud SQL choose the timing of restart (within\nits Maintenance window, if applicable)."
          ],
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable"
          ],
          "description": "Maintenance timing setting: \u003ccode\u003ecanary\u003c/code\u003e (Earlier) or\n\u003ccode\u003estable\u003c/code\u003e (Later). \u003cbr /\u003e\u003ca\nhref=\"/sql/docs/db_path/instance-settings#maintenance-timing-2ndgen\"\u003e\nLearn more\u003c/a\u003e.",
          "type": "string"
        },
        "hour": {
          "description": "hour of day - 0 to 23.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "day of week (1-7), starting on Monday.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#maintenanceWindow\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "MaintenanceWindow"
    },
    "InstancesTruncateLogRequest": {
      "description": "Instance truncate log request.",
      "type": "object",
      "properties": {
        "truncateLogContext": {
          "$ref": "TruncateLogContext",
          "description": "Contains details about the truncate log operation."
        }
      },
      "id": "InstancesTruncateLogRequest"
    },
    "ImportContext": {
      "description": "Database instance import context.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#importContext\u003c/code\u003e.",
          "type": "string"
        },
        "csvImportOptions": {
          "description": "Options for importing data as CSV.",
          "type": "object",
          "properties": {
            "table": {
              "description": "The table to which CSV data is imported.",
              "type": "string"
            },
            "columns": {
              "description": "The columns to which CSV data is imported. If not specified, all columns\nof the database table are loaded with CSV data.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "database": {
          "description": "The target database for the import. If \u003ccode\u003efileType\u003c/code\u003e is\n\u003ccode\u003eSQL\u003c/code\u003e, this field is required only if the import file does not\nspecify a database, and is overridden by any database specification in the\nimport file. If \u003ccode\u003efileType\u003c/code\u003e is \u003ccode\u003eCSV\u003c/code\u003e, one database\nmust be specified.",
          "type": "string"
        },
        "importUser": {
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only.",
          "type": "string"
        },
        "bakImportOptions": {
          "description": "Import parameters specific to SQL Server .BAK files",
          "type": "object",
          "properties": {
            "encryptionOptions": {
              "properties": {
                "certPath": {
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form\n\u003ccode\u003egs://bucketName/fileName\u003c/code\u003e. The instance must have\nwrite permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk)  in Cloud Storage, in the\nform \u003ccode\u003egs://bucketName/fileName\u003c/code\u003e. The instance must have\nwrite permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form\n\u003ccode\u003egs:\n//bucketName/fileName\u003c/code\u003e. Compressed gzip files (.gz) are supported\n// when \u003ccode\u003efileType\u003c/code\u003e is \u003ccode\u003eSQL\u003c/code\u003e. The instance must have\n// write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "fileType": {
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "description": "The file type for the specified uri. \u003cbr\u003e\u003ccode\u003eSQL\u003c/code\u003e: The file\ncontains SQL statements. \u003cbr\u003e\u003ccode\u003eCSV\u003c/code\u003e: The file contains CSV data.",
          "type": "string",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ]
        }
      },
      "id": "ImportContext"
    },
    "InstancesExportRequest": {
      "type": "object",
      "properties": {
        "exportContext": {
          "$ref": "ExportContext",
          "description": "Contains details about the export operation."
        }
      },
      "id": "InstancesExportRequest",
      "description": "Database instance export request."
    },
    "RestoreBackupContext": {
      "id": "RestoreBackupContext",
      "description": "Database instance restore from backup context.\nBackup context contains source instance id and project id.",
      "type": "object",
      "properties": {
        "backupRunId": {
          "description": "The ID of the backup run to restore from.",
          "format": "int64",
          "type": "string"
        },
        "instanceId": {
          "description": "The ID of the instance that the backup was taken from.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#restoreBackupContext\u003c/code\u003e.",
          "type": "string"
        },
        "project": {
          "description": "The full project ID of the source instance.",
          "type": "string"
        }
      }
    },
    "ApiWarning": {
      "description": "An Admin API warning message.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable.  The returned result\nset may be incomplete."
          ],
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE"
          ],
          "description": "Code to uniquely identify the warning type."
        },
        "message": {
          "description": "The warning message.",
          "type": "string"
        }
      },
      "id": "ApiWarning"
    },
    "OnPremisesConfiguration": {
      "id": "OnPremisesConfiguration",
      "description": "On-premises instance configuration.",
      "type": "object",
      "properties": {
        "hostPort": {
          "description": "The host and port of the on-premises instance in host:port format",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#onPremisesConfiguration\u003c/code\u003e.",
          "type": "string"
        }
      }
    },
    "UsersListResponse": {
      "properties": {
        "items": {
          "description": "List of user resources in the instance.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "description": "An identifier that uniquely identifies the operation. You can use this\nidentifier to retrieve the Operations resource that has information about\nthe operation.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#usersList\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "UsersListResponse",
      "description": "User list response.",
      "type": "object"
    },
    "AclEntry": {
      "id": "AclEntry",
      "description": "An entry for an Access Control list.",
      "type": "object",
      "properties": {
        "name": {
          "description": "An optional label to identify this entry.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#aclEntry\u003c/code\u003e.",
          "type": "string"
        },
        "value": {
          "description": "The whitelisted value for the access control list.",
          "type": "string"
        },
        "expirationTime": {
          "description": "The time when this access control entry expires in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "SqlScheduledMaintenance": {
      "description": "Any scheduled maintenancce for this instance.",
      "type": "object",
      "properties": {
        "canDefer": {
          "description": "If the scheduled maintenance can be deferred.",
          "type": "boolean"
        },
        "startTime": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "SqlScheduledMaintenance"
    },
    "InstancesRotateServerCaRequest": {
      "properties": {
        "rotateServerCaContext": {
          "$ref": "RotateServerCaContext",
          "description": "Contains details about the rotate server CA operation."
        }
      },
      "id": "InstancesRotateServerCaRequest",
      "description": "Rotate Server CA request.",
      "type": "object"
    },
    "User": {
      "description": "A Cloud SQL user resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for\n\u003ccode\u003eupdate\u003c/code\u003e since it is already specified in the URL.",
          "type": "string"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.\nCan be omitted for \u003ccode\u003eupdate\u003c/code\u003e since it is already specified on the\nURL.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google\napps domain is prefixed if applicable. Can be omitted for\n\u003ccode\u003eupdate\u003c/code\u003e since it is already specified on the URL."
        },
        "host": {
          "description": "The host name from which the user can connect. For \u003ccode\u003einsert\u003c/code\u003e\noperations, host defaults to an empty string. For \u003ccode\u003eupdate\u003c/code\u003e\noperations, host is specified as part of the request URL. The host name\ncannot be updated after insertion.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#user\u003c/code\u003e.",
          "type": "string"
        },
        "password": {
          "description": "The password for the user.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the\nAPI.",
          "type": "string"
        }
      },
      "id": "User"
    },
    "FailoverContext": {
      "properties": {
        "settingsVersion": {
          "description": "The current settings version of this instance. Request will be rejected if\nthis version doesn't match the current settings version.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always \u003ccode\u003esql#failoverContext\u003c/code\u003e."
        }
      },
      "id": "FailoverContext",
      "description": "Database instance failover context.",
      "type": "object"
    },
    "DemoteMasterContext": {
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#demoteMasterContext\u003c/code\u003e.",
          "type": "string"
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as on-premises master in the\nreplication setup.",
          "type": "string"
        },
        "verifyGtidConsistency": {
          "description": "Verify GTID consistency for demote operation. Default value:\n\u003ccode\u003eTrue\u003c/code\u003e. Second Generation instances only.  Setting this flag to\nfalse enables you to bypass GTID consistency check between on-premises\nmaster and Cloud SQL instance during the demotion operation but also\nexposes you to the risk of future replication failures. Change the value\nonly if you know the reason for the GTID divergence and are confident that\ndoing so will not cause any replication issues.",
          "type": "boolean"
        },
        "replicaConfiguration": {
          "$ref": "DemoteMasterConfiguration",
          "description": "Configuration specific to read-replicas replicating from the on-premises\nmaster."
        }
      },
      "id": "DemoteMasterContext",
      "description": "Database instance demote master context.",
      "type": "object"
    },
    "OperationsListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide\nthis value in a subsequent request to return the next page of results."
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#operationsList\u003c/code\u003e.",
          "type": "string"
        },
        "items": {
          "description": "List of operation resources.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "OperationsListResponse",
      "description": "Database instance list operations response."
    },
    "SslCertsCreateEphemeralRequest": {
      "type": "object",
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        }
      },
      "id": "SslCertsCreateEphemeralRequest",
      "description": "SslCerts create ephemeral certificate request."
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "properties": {
        "clientKey": {
          "description": "PEM representation of the slave's private key. The corresponsing public key\nis encoded in the client's certificate. The format of the slave's private\nkey can be either PKCS #1 or PKCS #8.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "PEM representation of the slave's x509 certificate.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#demoteMasterMysqlReplicaConfiguration\u003c/code\u003e.",
          "type": "string"
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        }
      },
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object"
    },
    "BackupConfiguration": {
      "type": "object",
      "properties": {
        "binaryLogEnabled": {
          "type": "boolean",
          "description": "Whether binary log is enabled. If backup configuration is disabled, binary\nlog must be disabled as well."
        },
        "replicationLogArchivingEnabled": {
[...]
