{
  "id": "tagmanager:v1",
  "documentationLink": "https://developers.google.com/tag-manager",
  "revision": "20190617",
  "title": "Tag Manager API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "accounts": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameters": {},
          "flatPath": "tagmanager/v1/accounts",
          "path": "tagmanager/v1/accounts",
          "id": "tagmanager.accounts.list",
          "description": "Lists all GTM Accounts that a user has access to."
        },
        "get": {
          "description": "Gets a GTM Account.",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "accountId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "accountId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The GTM Account ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "path": "tagmanager/v1/accounts/{accountId}",
          "id": "tagmanager.accounts.get"
        },
        "update": {
          "request": {
            "$ref": "Account"
          },
          "description": "Updates a GTM Account.",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "accountId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "parameters": {
            "accountId": {
              "description": "The GTM Account ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "fingerprint": {
              "location": "query",
              "description": "When provided, this fingerprint must match the fingerprint of the account\nin storage.",
              "type": "string"
            }
          },
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "path": "tagmanager/v1/accounts/{accountId}",
          "id": "tagmanager.accounts.update"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The GTM Account ID."
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "id": "tagmanager.accounts.permissions.list",
              "description": "List all users that have access to the account along with Account and\nContainer Permissions granted to each of them.",
              "response": {
                "$ref": "ListAccountUsersResponse"
              },
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "description": "Gets a user's Account & Container Permissions.",
              "response": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "permissionId": {
                  "location": "path",
                  "description": "The GTM User ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "id": "tagmanager.accounts.permissions.get"
            },
            "update": {
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "response": {
                "$ref": "UserAccess"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "permissionId": {
                  "location": "path",
                  "description": "The GTM User ID.",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "description": "The GTM Account ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "id": "tagmanager.accounts.permissions.update",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "request": {
                "$ref": "UserAccess"
              },
              "description": "Updates a user's Account & Container Permissions."
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "UserAccess"
              },
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "id": "tagmanager.accounts.permissions.create",
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "description": "Creates a user's Account & Container Permissions.",
              "request": {
                "$ref": "UserAccess"
              }
            },
            "delete": {
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "required": true,
                  "type": "string"
                },
                "permissionId": {
                  "location": "path",
                  "description": "The GTM User ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "id": "tagmanager.accounts.permissions.delete",
              "description": "Removes a user from the account, revoking access to it and all of its\ncontainers."
            }
          }
        },
        "containers": {
          "resources": {
            "versions": {
              "methods": {
                "publish": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "description": "Publishes a Container Version.",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the\ncontainer version in storage.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Deletes a Container Version."
                },
                "list": {
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "includeDeleted": {
                      "default": "false",
                      "type": "boolean",
                      "location": "query",
                      "description": "Also retrieve deleted (archived) versions when true."
                    },
                    "headers": {
                      "location": "query",
                      "description": "Retrieve headers only when true.",
                      "default": "false",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "id": "tagmanager.accounts.containers.versions.list",
                  "description": "Lists all Container Versions of a GTM Container.",
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "id": "tagmanager.accounts.containers.versions.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "description": "Creates a Container Version.",
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions"
                },
                "restore": {
                  "description": "Restores a Container Version. This will overwrite the container's current\nconfiguration (including its variables, triggers and tags). The operation\nwill not have any effect on the version that is being served (i.e. the\npublished version).",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "id": "tagmanager.accounts.containers.versions.restore"
                },
                "get": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID. Specify \u003ccode\u003epublished\u003c/code\u003e to retrieve\nthe currently published version.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "description": "Gets a Container Version."
                },
                "undelete": {
                  "description": "Undeletes a Container Version.",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameters": {
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "id": "tagmanager.accounts.containers.versions.undelete"
                },
                "update": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "PUT",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the\ncontainer version in storage.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.update",
                  "description": "Updates a Container Version.",
                  "request": {
                    "$ref": "ContainerVersion"
                  }
                }
              }
            },
            "variables": {
              "methods": {
                "delete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "description": "Deletes a GTM Variable.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "variableId": {
                      "location": "path",
                      "description": "The GTM Variable ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "list": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "id": "tagmanager.accounts.containers.variables.list",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "description": "Lists all GTM Variables of a Container.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "get": {
                  "description": "Gets a GTM Variable.",
                  "response": {
                    "$ref": "Variable"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "variableId": {
                      "location": "path",
                      "description": "The GTM Variable ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "id": "tagmanager.accounts.containers.variables.get"
                },
                "update": {
                  "request": {
                    "$ref": "Variable"
                  },
                  "description": "Updates a GTM Variable.",
                  "response": {
                    "$ref": "Variable"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the variable\nin storage.",
                      "type": "string"
                    },
                    "variableId": {
                      "location": "path",
                      "description": "The GTM Variable ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "id": "tagmanager.accounts.containers.variables.update"
                },
                "create": {
                  "description": "Creates a GTM Variable.",
                  "request": {
                    "$ref": "Variable"
                  },
                  "response": {
                    "$ref": "Variable"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "id": "tagmanager.accounts.containers.variables.create"
                }
              }
            },
            "environments": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Environment"
                  },
                  "description": "Creates a GTM Environment.",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "id": "tagmanager.accounts.containers.environments.create"
                },
                "delete": {
                  "description": "Deletes a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "environmentId": {
                      "location": "path",
                      "description": "The GTM Environment ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.environments.delete"
                },
                "list": {
                  "id": "tagmanager.accounts.containers.environments.list",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments"
                },
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.environments.get",
                  "description": "Gets a GTM Environment.",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    },
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "update": {
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the\nenvironment in storage.",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.environments.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "description": "Updates a GTM Environment.",
                  "request": {
                    "$ref": "Environment"
                  }
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "parameters": {
                    "environmentId": {
                      "location": "path",
                      "description": "The GTM Environment ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update",
                  "request": {
                    "$ref": "Environment"
                  },
                  "description": "Re-generates the authorization code for a GTM Environment."
                }
              }
            },
            "folders": {
              "methods": {
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.update",
                  "description": "Updates a GTM Folder.",
                  "request": {
                    "$ref": "Folder"
                  },
                  "response": {
                    "$ref": "Folder"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "httpMethod": "PUT",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in\nstorage.",
                      "type": "string"
                    },
                    "folderId": {
                      "location": "path",
                      "description": "The GTM Folder ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "create": {
                  "description": "Creates a GTM Folder.",
                  "request": {
                    "$ref": "Folder"
                  },
                  "response": {
                    "$ref": "Folder"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "id": "tagmanager.accounts.containers.folders.create"
                },
                "delete": {
                  "description": "Deletes a GTM Folder.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "folderId": {
                      "location": "path",
                      "description": "The GTM Folder ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "id": "tagmanager.accounts.containers.folders.list",
                  "description": "Lists all GTM Folders of a Container.",
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "response": {
                    "$ref": "Folder"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "folderId": {
                      "location": "path",
                      "description": "The GTM Folder ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.get",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "description": "Gets a GTM Folder."
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "description": "List all entities in a GTM Folder.",
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "folderId": {
                          "location": "path",
                          "description": "The GTM Folder ID.",
                          "required": true,
                          "type": "string"
                        },
                        "accountId": {
                          "description": "The GTM Account ID.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "containerId": {
                          "description": "The GTM Container ID.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "id": "tagmanager.accounts.containers.folders.entities.list"
                    }
                  }
                }
              }
            },
            "triggers": {
              "methods": {
                "delete": {
                  "description": "Deletes a GTM Trigger.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "triggerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Trigger ID."
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "id": "tagmanager.accounts.containers.triggers.delete"
                },
                "list": {
                  "description": "Lists all GTM Triggers of a Container.",
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "id": "tagmanager.accounts.containers.triggers.list"
                },
                "get": {
                  "description": "Gets a GTM Trigger.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}"
                },
                "update": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "description": "Updates a GTM Trigger.",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger\nin storage.",
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}"
                },
                "create": {
                  "description": "Creates a GTM Trigger.",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "response": {
                    "$ref": "Trigger"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "id": "tagmanager.accounts.containers.triggers.create"
                }
              }
            },
            "tags": {
              "methods": {
                "delete": {
                  "description": "Deletes a GTM Tag.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "tagId": {
                      "location": "path",
                      "description": "The GTM Tag ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "id": "tagmanager.accounts.containers.tags.delete"
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListTagsResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "id": "tagmanager.accounts.containers.tags.list",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "description": "Lists all GTM Tags of a Container."
                },
                "get": {
                  "id": "tagmanager.accounts.containers.tags.get",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "description": "Gets a GTM Tag.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "tagId": {
                      "description": "The GTM Tag ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}"
                },
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "id": "tagmanager.accounts.containers.tags.update",
                  "request": {
                    "$ref": "Tag"
                  },
                  "description": "Updates a GTM Tag.",
                  "response": {
                    "$ref": "Tag"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in\nstorage.",
                      "type": "string"
                    },
                    "tagId": {
                      "location": "path",
                      "description": "The GTM Tag ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Tag"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "id": "tagmanager.accounts.containers.tags.create",
                  "description": "Creates a GTM Tag.",
                  "request": {
                    "$ref": "Tag"
                  }
                }
              }
            },
            "move_folders": {
              "methods": {
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "description": "Moves entities to a GTM Folder.",
                  "request": {
                    "$ref": "Folder"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "httpMethod": "PUT",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "folderId": {
                      "location": "path",
                      "description": "The GTM Folder ID.",
                      "required": true,
                      "type": "string"
                    },
                    "triggerId": {
                      "location": "query",
                      "description": "The triggers to be moved to the folder.",
                      "type": "string",
                      "repeated": true
                    },
                    "variableId": {
                      "description": "The variables to be moved to the folder.",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    },
                    "tagId": {
                      "description": "The tags to be moved to the folder.",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                }
              }
            }
          },
          "methods": {
            "delete": {
              "description": "Deletes a Container.",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "parameters": {
                "containerId": {
                  "location": "path",
                  "description": "The GTM Container ID.",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "description": "The GTM Account ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "id": "tagmanager.accounts.containers.delete"
            },
            "list": {
              "description": "Lists all Containers that belongs to a GTM Account.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListContainersResponse"
              },
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The GTM Account ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "id": "tagmanager.accounts.containers.list",
              "path": "tagmanager/v1/accounts/{accountId}/containers"
            },
            "get": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "id": "tagmanager.accounts.containers.get",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "description": "Gets a Container.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "parameters": {
                "containerId": {
                  "description": "The GTM Container ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ]
            },
            "update": {
              "response": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "httpMethod": "PUT",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The GTM Account ID."
                },
                "containerId": {
                  "location": "path",
                  "description": "The GTM Container ID.",
                  "required": true,
                  "type": "string"
                },
                "fingerprint": {
                  "location": "query",
                  "description": "When provided, this fingerprint must match the fingerprint of the\ncontainer in storage.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "id": "tagmanager.accounts.containers.update",
              "description": "Updates a Container.",
              "request": {
                "$ref": "Container"
              }
            },
            "create": {
              "response": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "id": "tagmanager.accounts.containers.create",
              "description": "Creates a Container.",
              "request": {
                "$ref": "Container"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "AccountAccess": {
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object",
      "properties": {
        "permission": {
          "description": "List of Account permissions.\nValid account permissions are \u003ccode\u003eread\u003c/code\u003e and \u003ccode\u003emanage\u003c/code\u003e.\n@mutable tagmanager.accounts.permissions.create\n@mutable tagmanager.accounts.permissions.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.permissions.create"
            ]
          },
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "READ",
              "EDIT",
              "PUBLISH",
              "DELETE",
              "MANAGE",
              "EDIT_WORKSPACE"
            ]
          },
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "AccountAccess"
    },
    "Folder": {
      "description": "Represents a Google Tag Manager Folder.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Folder display name.\n@mutable tagmanager.accounts.containers.folders.create\n@mutable tagmanager.accounts.containers.folders.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.folders.create",
              "tagmanager.accounts.containers.folders.update"
            ]
          },
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time.\nThis value is recomputed whenever the folder is modified.",
          "type": "string"
        },
        "folderId": {
          "type": "string",
          "description": "The Folder ID uniquely identifies the GTM Folder."
        }
      },
      "id": "Folder"
    },
    "ListContainerVersionsResponse": {
      "description": "List container versions response.",
      "type": "object",
      "properties": {
        "containerVersionHeader": {
          "description": "All container version headers of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "ContainerVersionHeader"
          }
        },
        "containerVersion": {
          "type": "array",
          "items": {
            "$ref": "ContainerVersion"
          },
          "description": "All versions of a GTM Container."
        }
      },
      "id": "ListContainerVersionsResponse"
    },
    "ListEnvironmentsResponse": {
      "type": "object",
      "properties": {
        "environments": {
          "description": "All Environments of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        }
      },
      "id": "ListEnvironmentsResponse",
      "description": "List Environments Response."
    },
    "Macro": {
      "description": "Represents a Google Tag Manager Macro.",
      "type": "object",
      "properties": {
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The macro's parameters.\n@mutable tagmanager.accounts.containers.macros.create\n@mutable tagmanager.accounts.containers.macros.update"
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a macro.\n@mutable tagmanager.accounts.containers.macros.create\n@mutable tagmanager.accounts.containers.macros.update",
          "format": "int64",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this macro in the container.\n@mutable tagmanager.accounts.containers.macros.create\n@mutable tagmanager.accounts.containers.macros.update",
          "type": "string"
        },
        "disablingRuleId": {
          "description": "For mobile containers only: A list of rule IDs for disabling conditional\nmacros; the macro is enabled if one of the enabling rules is true while all\nthe disabling rules are false. Treated as an unordered set.\n@mutable tagmanager.accounts.containers.macros.create\n@mutable tagmanager.accounts.containers.macros.update",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Macro as computed at storage time.\nThis value is recomputed whenever the macro is modified.",
          "type": "string"
        },
        "macroId": {
          "description": "The Macro ID uniquely identifies the GTM Macro.",
          "type": "string"
        },
        "name": {
          "description": "Macro display name.\n@mutable tagmanager.accounts.containers.macros.create\n@mutable tagmanager.accounts.containers.macros.update",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "scheduleStartMs": {
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a macro.\n@mutable tagmanager.accounts.containers.macros.create\n@mutable tagmanager.accounts.containers.macros.update",
          "format": "int64"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "enablingRuleId": {
          "description": "For mobile containers only: A list of rule IDs for enabling conditional\nmacros; the macro is enabled if one of the enabling rules is true while all\nthe disabling rules are false. Treated as an unordered set.\n@mutable tagmanager.accounts.containers.macros.create\n@mutable tagmanager.accounts.containers.macros.update",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "GTM Macro Type.\n@mutable tagmanager.accounts.containers.macros.create\n@mutable tagmanager.accounts.containers.macros.update",
          "type": "string"
        }
      },
      "id": "Macro"
    },
    "Condition": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EQUALS",
            "CONTAINS",
            "STARTS_WITH",
            "ENDS_WITH",
            "MATCH_REGEX",
            "GREATER",
            "GREATER_OR_EQUALS",
            "LESS",
            "LESS_OR_EQUALS",
            "CSS_SELECTOR",
            "URL_MATCHES"
          ],
          "description": "The type of operator for this condition.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.triggers.create",
              "tagmanager.accounts.containers.triggers.update"
            ]
          }
        },
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type.\nNotes:\u003cul\u003e\n\u003cli\u003eFor binary operators, include parameters named \u003ccode\u003earg0\u003c/code\u003e and\n   \u003ccode\u003earg1\u003c/code\u003e for specifying the left and right operands,\n   respectively.\u003c/li\u003e\n\u003cli\u003eAt this time, the left operand (\u003ccode\u003earg0\u003c/code\u003e) must be a reference\n    to a variable.\u003c/li\u003e\n\u003cli\u003eFor case-insensitive Regex matching, include a boolean parameter named\n    \u003ccode\u003eignore_case\u003c/code\u003e that is set to \u003ccode\u003etrue\u003c/code\u003e.\n    If not specified or set to any other value, the matching will be case\n    sensitive.\u003c/li\u003e\n\u003cli\u003eTo negate an operator, include a boolean parameter named\n    \u003ccode\u003enegate\u003c/code\u003e boolean parameter that is set to \u003ccode\u003etrue\u003c/code\u003e.\n    \u003c/li\u003e\n\u003c/ul\u003e\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.triggers.create",
              "tagmanager.accounts.containers.triggers.update"
            ]
          },
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "id": "Condition",
      "description": "Represents a predicate."
    },
    "UserAccess": {
      "description": "Represents a user's permissions to an account and its container.",
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "User's email address.\n@mutable tagmanager.accounts.permissions.create",
          "annotations": {
            "required": [
              "tagmanager.accounts.permissions.create"
            ]
          },
          "type": "string"
        },
        "accountAccess": {
          "description": "GTM Account access permissions.\n@mutable tagmanager.accounts.permissions.create\n@mutable tagmanager.accounts.permissions.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.permissions.create"
            ]
          },
          "$ref": "AccountAccess"
        },
        "permissionId": {
          "description": "Account Permission ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerAccess": {
          "description": "GTM Container access permissions.\n@mutable tagmanager.accounts.permissions.create\n@mutable tagmanager.accounts.permissions.update",
          "type": "array",
          "items": {
            "$ref": "ContainerAccess"
          }
        }
      },
      "id": "UserAccess"
    },
    "ListVariablesResponse": {
      "description": "List Variables Response.",
      "type": "object",
      "properties": {
        "variables": {
          "description": "All GTM Variables of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        }
      },
      "id": "ListVariablesResponse"
    },
    "FolderEntities": {
      "id": "FolderEntities",
      "description": "Represents a Google Tag Manager Folder's contents.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The list of tags inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "trigger": {
          "description": "The list of triggers inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "variable": {
          "description": "The list of variables inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        }
      }
    },
    "Trigger": {
      "description": "Represents a Google Tag Manager Trigger",
      "type": "object",
      "properties": {
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer\ntrigger.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "$ref": "Parameter"
        },
        "continuousTimeMinMilliseconds": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum continuous visible time (in milliseconds).\nOnly valid for AMP Visibility trigger.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update"
        },
        "name": {
          "description": "Trigger display name.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.triggers.create",
              "tagmanager.accounts.containers.triggers.update"
            ]
          },
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "uniqueTriggerId": {
          "$ref": "Parameter",
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit,\nLink Click or Timer listener) if any. Used to make incompatible auto-events\nwork together with trigger filtering based on trigger ids. This value is\npopulated during output generation since the tags implied by triggers don't\nexist until then. Only valid for Form Submit, Link Click and Timer\ntriggers.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update"
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds).\nOnly valid for AMP Visibility trigger.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "$ref": "Parameter"
        },
        "parameter": {
          "description": "Additional parameters.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "visibilitySelector": {
          "$ref": "Parameter",
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP\nVisibility trigger.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update"
        },
        "checkValidation": {
          "$ref": "Parameter",
          "description": "Whether or not we should only fire tags if the form submit or link click\nevent is not cancelled by some other event handler (e.g. because of\nvalidation). Only valid for Form Submission and Link Click triggers.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Trigger as computed at storage time.\nThis value is recomputed whenever the trigger is modified."
        },
        "horizontalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will\nfire when each percentage is reached when the view is scrolled\nhorizontally. Only valid for AMP scroll triggers.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update"
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "$ref": "Parameter"
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP\nClick trigger.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "$ref": "Parameter"
        },
        "limit": {
          "$ref": "Parameter",
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit\nis set, we will continue to fire GTM events until the user leaves the page.\nOnly valid for Timer triggers.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update"
        },
        "autoEventFilter": {
          "description": "Used in the case of auto event tracking.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are\ntrue.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP\nVisibility trigger.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "$ref": "Parameter"
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP\nVisibility trigger.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "$ref": "Parameter"
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will\nfire when each percentage is reached when the view is scrolled vertically.\nOnly valid for AMP scroll triggers.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update"
        },
        "waitForTags": {
          "$ref": "Parameter",
          "description": "Whether or not we should delay the form submissions or link opening\nuntil all of the tags have fired (by preventing the default\naction and later simulating the default action). Only valid for\nForm Submission and Link Click triggers.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update"
        },
        "interval": {
          "$ref": "Parameter",
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only\nvalid for Timer triggers.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update"
        },
        "waitForTagsTimeout": {
          "$ref": "Parameter",
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags'\nabove evaluates to \u003ccode\u003etrue\u003c/code\u003e.  Only valid for Form Submission and\nLink Click triggers.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update"
        },
        "type": {
          "enum": [
            "PAGEVIEW",
            "DOM_READY",
            "WINDOW_LOADED",
            "CUSTOM_EVENT",
            "TRIGGER_GROUP",
            "ALWAYS",
            "FORM_SUBMISSION",
            "CLICK",
            "LINK_CLICK",
            "JS_ERROR",
            "HISTORY_CHANGE",
            "TIMER",
            "AMP_CLICK",
            "AMP_TIMER",
            "AMP_SCROLL",
            "AMP_VISIBILITY",
            "YOU_TUBE_VIDEO",
            "SCROLL_DEPTH",
            "ELEMENT_VISIBILITY"
          ],
          "description": "Defines the data layer event that causes this trigger.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.triggers.create"
            ]
          },
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer\ntrigger.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "$ref": "Parameter"
        },
        "filter": {
          "description": "The trigger will only fire iff all Conditions are true.\n@mutable tagmanager.accounts.containers.triggers.create\n@mutable tagmanager.accounts.containers.triggers.update",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        }
      },
      "id": "Trigger"
    },
    "ListAccountsResponse": {
      "description": "List Accounts Response.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "List of GTM Accounts that a user has access to.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        }
      },
      "id": "ListAccountsResponse"
    },
    "ContainerVersionHeader": {
      "properties": {
        "numVariables": {
          "type": "string",
          "description": "Number of variables in the container version."
        },
        "numMacros": {
          "description": "Number of macros in the container version.",
[...]
