{
  "revision": "20190619",
  "documentationLink": "https://developers.google.com/tag-manager",
  "id": "tagmanager:v2",
  "title": "Tag Manager API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "accounts": {
      "resources": {
        "containers": {
          "resources": {
            "versions": {
              "methods": {
                "set_latest": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "GTM ContainerVersion's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:set_latest",
                  "path": "tagmanager/v2/{+path}:set_latest",
                  "id": "tagmanager.accounts.containers.versions.set_latest",
                  "description": "Sets the latest version used for synchronization of workspaces when\ndetecting conflicts and errors."
                },
                "get": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM ContainerVersion's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path"
                    },
                    "containerVersionId": {
                      "description": "The GTM ContainerVersion ID. Specify \u003ccode\u003epublished\u003c/code\u003e to retrieve\nthe currently published version.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                  "path": "tagmanager/v2/{+path}",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "description": "Gets a Container Version."
                },
                "undelete": {
                  "description": "Undeletes a Container Version.",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "GTM ContainerVersion's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:undelete",
                  "path": "tagmanager/v2/{+path}:undelete",
                  "id": "tagmanager.accounts.containers.versions.undelete"
                },
                "live": {
                  "description": "Gets the live (i.e. published) container version",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path",
                      "description": "GTM Container's API relative path.\nExample: accounts/{account_id}/containers/{container_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions:live",
                  "path": "tagmanager/v2/{+parent}/versions:live",
                  "id": "tagmanager.accounts.containers.versions.live"
                },
                "update": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "PUT",
                  "parameters": {
                    "path": {
                      "description": "GTM ContainerVersion's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path"
                    },
                    "fingerprint": {
                      "type": "string",
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the\ncontainer version in storage."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                  "path": "tagmanager/v2/{+path}",
                  "id": "tagmanager.accounts.containers.versions.update",
                  "description": "Updates a Container Version.",
                  "request": {
                    "$ref": "ContainerVersion"
                  }
                },
                "publish": {
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:publish",
                  "path": "tagmanager/v2/{+path}:publish",
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "description": "Publishes a Container Version.",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "description": "GTM ContainerVersion's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$"
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the\ncontainer version in storage.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ]
                },
                "delete": {
                  "parameters": {
                    "path": {
                      "location": "path",
                      "description": "GTM ContainerVersion's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "path": "tagmanager/v2/{+path}",
                  "description": "Deletes a Container Version.",
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "DELETE"
                }
              }
            },
            "environments": {
              "methods": {
                "reauthorize": {
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "request": {
                    "$ref": "Environment"
                  },
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "description": "GTM Environment's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/environments/{environment_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}:reauthorize",
                  "path": "tagmanager/v2/{+path}:reauthorize",
                  "id": "tagmanager.accounts.containers.environments.reauthorize"
                },
                "delete": {
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "description": "GTM Environment's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/environments/{environment_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}",
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "path": "tagmanager/v2/{+path}",
                  "description": "Deletes a GTM Environment."
                },
                "list": {
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path",
                      "description": "GTM Container's API relative path.\nExample: accounts/{account_id}/containers/{container_id}"
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments",
                  "path": "tagmanager/v2/{+parent}/environments",
                  "id": "tagmanager.accounts.containers.environments.list"
                },
                "create": {
                  "request": {
                    "$ref": "Environment"
                  },
                  "description": "Creates a GTM Environment.",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "GTM Container's API relative path.\nExample: accounts/{account_id}/containers/{container_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments",
                  "path": "tagmanager/v2/{+parent}/environments",
                  "id": "tagmanager.accounts.containers.environments.create"
                },
                "get": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "path": {
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "description": "GTM Environment's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/environments/{environment_id}"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}",
                  "path": "tagmanager/v2/{+path}",
                  "id": "tagmanager.accounts.containers.environments.get",
                  "description": "Gets a GTM Environment."
                },
                "update": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "PUT",
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the\nenvironment in storage.",
                      "type": "string"
                    },
                    "path": {
                      "description": "GTM Environment's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/environments/{environment_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}",
                  "path": "tagmanager/v2/{+path}",
                  "id": "tagmanager.accounts.containers.environments.update",
                  "description": "Updates a GTM Environment.",
                  "request": {
                    "$ref": "Environment"
                  }
                }
              }
            },
            "version_headers": {
              "methods": {
                "list": {
                  "description": "Lists all Container Versions of a GTM Container.",
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string"
                    },
                    "includeDeleted": {
                      "location": "query",
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "type": "boolean"
                    },
                    "parent": {
                      "description": "GTM Container's API relative path.\nExample: accounts/{account_id}/containers/{container_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/version_headers",
                  "path": "tagmanager/v2/{+parent}/version_headers",
                  "id": "tagmanager.accounts.containers.version_headers.list"
                },
                "latest": {
                  "response": {
                    "$ref": "ContainerVersionHeader"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "GTM Container's API relative path.\nExample: accounts/{account_id}/containers/{container_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/version_headers:latest",
                  "path": "tagmanager/v2/{+parent}/version_headers:latest",
                  "id": "tagmanager.accounts.containers.version_headers.latest",
                  "description": "Gets the latest container version header"
                }
              }
            },
            "workspaces": {
              "methods": {
                "get": {
                  "id": "tagmanager.accounts.containers.workspaces.get",
                  "path": "tagmanager/v2/{+path}",
                  "description": "Gets a Workspace.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "path"
                  ],
                  "response": {
                    "$ref": "Workspace"
                  },
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}"
                },
                "update": {
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the\nworkspace in storage.",
                      "type": "string"
                    },
                    "path": {
                      "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "path": "tagmanager/v2/{+path}",
                  "id": "tagmanager.accounts.containers.workspaces.update",
                  "description": "Updates a Workspace.",
                  "request": {
                    "$ref": "Workspace"
                  },
                  "response": {
                    "$ref": "Workspace"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "PUT"
                },
                "quick_preview": {
                  "response": {
                    "$ref": "QuickPreviewResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:quick_preview",
                  "path": "tagmanager/v2/{+path}:quick_preview",
                  "id": "tagmanager.accounts.containers.workspaces.quick_preview",
                  "description": "Quick previews a workspace by creating a fake container version from all\nentities in the provided workspace."
                },
                "delete": {
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.delete.containers"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "path": "tagmanager/v2/{+path}",
                  "id": "tagmanager.accounts.containers.workspaces.delete",
                  "description": "Deletes a Workspace."
                },
                "create_version": {
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "path": {
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:create_version",
                  "path": "tagmanager/v2/{+path}:create_version",
                  "id": "tagmanager.accounts.containers.workspaces.create_version",
                  "description": "Creates a Container Version from the entities present in the workspace,\ndeletes the workspace, and sets the base container version to the newly\ncreated version.",
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  }
                },
                "list": {
                  "description": "Lists all Workspaces that belong to a GTM Container.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListWorkspacesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results."
                    },
                    "parent": {
                      "description": "GTM parent Container's API relative path.\nExample: accounts/{account_id}/containers/{container_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                  "id": "tagmanager.accounts.containers.workspaces.list",
                  "path": "tagmanager/v2/{+parent}/workspaces"
                },
                "sync": {
                  "description": "Syncs a workspace to the latest container version by updating all\nunmodified workspace entities and displaying conflicts for modified\nentities.",
                  "response": {
                    "$ref": "SyncWorkspaceResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "path": {
                      "location": "path",
                      "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:sync",
                  "path": "tagmanager/v2/{+path}:sync",
                  "id": "tagmanager.accounts.containers.workspaces.sync"
                },
                "resolve_conflict": {
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the\nentity_in_workspace in the merge conflict.",
                      "type": "string"
                    },
                    "path": {
                      "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:resolve_conflict",
                  "path": "tagmanager/v2/{+path}:resolve_conflict",
                  "id": "tagmanager.accounts.containers.workspaces.resolve_conflict",
                  "request": {
                    "$ref": "Entity"
                  },
                  "description": "Resolves a merge conflict for a workspace entity by updating it to the\nresolved entity passed in the request."
                },
                "getStatus": {
                  "response": {
                    "$ref": "GetWorkspaceStatusResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/status",
                  "path": "tagmanager/v2/{+path}/status",
                  "id": "tagmanager.accounts.containers.workspaces.getStatus",
                  "description": "Finds conflicting and modified entities in the workspace."
                },
                "create": {
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                  "id": "tagmanager.accounts.containers.workspaces.create",
                  "path": "tagmanager/v2/{+parent}/workspaces",
                  "description": "Creates a Workspace.",
                  "request": {
                    "$ref": "Workspace"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Workspace"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path",
                      "description": "GTM parent Container's API relative path.\nExample: accounts/{account_id}/containers/{container_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                }
              },
              "resources": {
                "templates": {
                  "methods": {
                    "revert": {
                      "response": {
                        "$ref": "RevertTemplateResponse"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM Custom Template's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/templates/{template_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$",
                          "location": "path"
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the template\nin storage.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}:revert",
                      "path": "tagmanager/v2/{+path}:revert",
                      "id": "tagmanager.accounts.containers.workspaces.templates.revert",
                      "description": "Reverts changes to a GTM Template in a GTM Workspace."
                    },
                    "delete": {
                      "path": "tagmanager/v2/{+path}",
                      "id": "tagmanager.accounts.containers.workspaces.templates.delete",
                      "description": "Deletes a GTM Template.",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Custom Template's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/templates/{template_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}"
                    },
                    "list": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates",
                      "id": "tagmanager.accounts.containers.workspaces.templates.list",
                      "path": "tagmanager/v2/{+parent}/templates",
                      "description": "Lists all GTM Templates of a GTM container workspace.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListTemplatesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "description": "Creates a GTM Custom Template.",
                      "request": {
                        "$ref": "CustomTemplate"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates",
                      "id": "tagmanager.accounts.containers.workspaces.templates.create",
                      "path": "tagmanager/v2/{+parent}/templates"
                    },
                    "get": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}",
                      "id": "tagmanager.accounts.containers.workspaces.templates.get",
                      "path": "tagmanager/v2/{+path}",
                      "description": "Gets a GTM Template.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$",
                          "location": "path",
                          "description": "GTM Custom Template's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/templates/{template_id}",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "update": {
                      "path": "tagmanager/v2/{+path}",
                      "id": "tagmanager.accounts.containers.workspaces.templates.update",
                      "request": {
                        "$ref": "CustomTemplate"
                      },
                      "description": "Updates a GTM Template.",
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "PUT",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM Custom Template's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/templates/{template_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$",
                          "location": "path"
                        },
                        "fingerprint": {
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the templates\nin storage.",
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}"
                    }
                  }
                },
                "variables": {
                  "methods": {
                    "revert": {
                      "description": "Reverts changes to a GTM Variable in a GTM Workspace.",
                      "response": {
                        "$ref": "RevertVariableResponse"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Variable's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$"
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the variable\nin storage.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}:revert",
                      "path": "tagmanager/v2/{+path}:revert",
                      "id": "tagmanager.accounts.containers.workspaces.variables.revert"
                    },
                    "delete": {
                      "description": "Deletes a GTM Variable.",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "location": "path",
                          "description": "GTM Variable's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id}",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}",
                      "path": "tagmanager/v2/{+path}",
                      "id": "tagmanager.accounts.containers.workspaces.variables.delete"
                    },
                    "list": {
                      "description": "Lists all GTM Variables of a Container.",
                      "response": {
                        "$ref": "ListVariablesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables",
                      "path": "tagmanager/v2/{+parent}/variables",
                      "id": "tagmanager.accounts.containers.workspaces.variables.list"
                    },
                    "create": {
                      "response": {
                        "$ref": "Variable"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables",
                      "path": "tagmanager/v2/{+parent}/variables",
                      "id": "tagmanager.accounts.containers.workspaces.variables.create",
                      "request": {
                        "$ref": "Variable"
                      },
                      "description": "Creates a GTM Variable."
                    },
                    "get": {
                      "path": "tagmanager/v2/{+path}",
                      "id": "tagmanager.accounts.containers.workspaces.variables.get",
                      "description": "Gets a GTM Variable.",
                      "response": {
                        "$ref": "Variable"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM Variable's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}"
                    },
                    "update": {
                      "description": "Updates a GTM Variable.",
                      "request": {
                        "$ref": "Variable"
                      },
                      "httpMethod": "PUT",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "Variable"
                      },
                      "parameters": {
                        "path": {
                          "description": "GTM Variable's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "location": "path"
                        },
                        "fingerprint": {
                          "type": "string",
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the variable\nin storage."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}",
                      "id": "tagmanager.accounts.containers.workspaces.variables.update",
                      "path": "tagmanager/v2/{+path}"
                    }
                  }
                },
                "zones": {
                  "methods": {
                    "revert": {
                      "description": "Reverts changes to a GTM Zone in a GTM Workspace.",
                      "response": {
                        "$ref": "RevertZoneResponse"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the zone in\nstorage.",
                          "type": "string",
                          "location": "query"
                        },
                        "path": {
                          "description": "GTM Zone's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/zones/{zone_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}:revert",
                      "path": "tagmanager/v2/{+path}:revert",
                      "id": "tagmanager.accounts.containers.workspaces.zones.revert"
                    },
                    "delete": {
                      "description": "Deletes a GTM Zone.",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Zone's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/zones/{zone_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}",
                      "id": "tagmanager.accounts.containers.workspaces.zones.delete",
                      "path": "tagmanager/v2/{+path}"
                    },
                    "list": {
                      "description": "Lists all GTM Zones of a GTM container workspace.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListZonesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones",
                      "id": "tagmanager.accounts.containers.workspaces.zones.list",
                      "path": "tagmanager/v2/{+parent}/zones"
                    },
                    "create": {
                      "description": "Creates a GTM Zone.",
                      "request": {
                        "$ref": "Zone"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Zone"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones",
                      "id": "tagmanager.accounts.containers.workspaces.zones.create",
                      "path": "tagmanager/v2/{+parent}/zones"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "Zone"
                      },
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$",
                          "location": "path",
                          "description": "GTM Zone's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/zones/{zone_id}",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}",
                      "id": "tagmanager.accounts.containers.workspaces.zones.get",
                      "path": "tagmanager/v2/{+path}",
                      "description": "Gets a GTM Zone."
                    },
                    "update": {
                      "description": "Updates a GTM Zone.",
                      "request": {
                        "$ref": "Zone"
                      },
                      "response": {
                        "$ref": "Zone"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "PUT",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Zone's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/zones/{zone_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$"
                        },
                        "fingerprint": {
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the zone in\nstorage.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}",
                      "path": "tagmanager/v2/{+path}",
                      "id": "tagmanager.accounts.containers.workspaces.zones.update"
                    }
                  }
                },
                "folders": {
                  "methods": {
                    "revert": {
                      "description": "Reverts changes to a GTM Folder in a GTM Workspace.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "RevertFolderResponse"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "fingerprint": {
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the tag\nin storage.",
                          "type": "string"
                        },
                        "path": {
                          "location": "path",
                          "description": "GTM Folder's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:revert",
                      "id": "tagmanager.accounts.containers.workspaces.folders.revert",
                      "path": "tagmanager/v2/{+path}:revert"
                    },
                    "entities": {
                      "description": "List all entities in a GTM Folder.",
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "location": "path",
                          "description": "GTM Folder's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:entities",
                      "path": "tagmanager/v2/{+path}:entities",
                      "id": "tagmanager.accounts.containers.workspaces.folders.entities"
                    },
                    "delete": {
                      "description": "Deletes a GTM Folder.",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "location": "path",
                          "description": "GTM Folder's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                      "id": "tagmanager.accounts.containers.workspaces.folders.delete",
                      "path": "tagmanager/v2/{+path}"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListFoldersResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders",
                      "id": "tagmanager.accounts.containers.workspaces.folders.list",
                      "path": "tagmanager/v2/{+parent}/folders",
                      "description": "Lists all GTM Folders of a Container."
                    },
                    "create": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders",
                      "path": "tagmanager/v2/{+parent}/folders",
                      "id": "tagmanager.accounts.containers.workspaces.folders.create",
                      "request": {
                        "$ref": "Folder"
                      },
                      "description": "Creates a GTM Folder.",
                      "response": {
                        "$ref": "Folder"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}"
                        }
                      }
                    },
                    "move_entities_to_folder": {
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "variableId": {
                          "location": "query",
                          "description": "The variables to be moved to the folder.",
                          "type": "string",
                          "repeated": true
                        },
                        "tagId": {
                          "description": "The tags to be moved to the folder.",
                          "type": "string",
                          "repeated": true,
                          "location": "query"
                        },
                        "triggerId": {
                          "repeated": true,
                          "location": "query",
                          "description": "The triggers to be moved to the folder.",
                          "type": "string"
                        },
                        "path": {
                          "description": "GTM Folder's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:move_entities_to_folder",
                      "path": "tagmanager/v2/{+path}:move_entities_to_folder",
                      "id": "tagmanager.accounts.containers.workspaces.folders.move_entities_to_folder",
                      "description": "Moves entities to a GTM Folder.",
                      "request": {
                        "$ref": "Folder"
                      }
                    },
                    "get": {
                      "description": "Gets a GTM Folder.",
                      "response": {
                        "$ref": "Folder"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "path": {
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "location": "path",
                          "description": "GTM Folder's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                      "path": "tagmanager/v2/{+path}",
                      "id": "tagmanager.accounts.containers.workspaces.folders.get"
                    },
                    "update": {
                      "description": "Updates a GTM Folder.",
                      "request": {
                        "$ref": "Folder"
                      },
                      "response": {
                        "$ref": "Folder"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "PUT",
                      "parameters": {
                        "fingerprint": {
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the folder in\nstorage.",
                          "type": "string"
                        },
                        "path": {
                          "location": "path",
                          "description": "GTM Folder's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                      "path": "tagmanager/v2/{+path}",
                      "id": "tagmanager.accounts.containers.workspaces.folders.update"
                    }
                  }
                },
                "built_in_variables": {
                  "methods": {
                    "revert": {
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.revert",
                      "path": "tagmanager/v2/{+path}/built_in_variables:revert",
                      "description": "Reverts changes to a GTM Built-In Variables in a GTM Workspace.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "RevertBuiltInVariableResponse"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "type": {
                          "location": "query",
                          "enum": [
                            "BUILT_IN_VARIABLE_TYPE_UNSPECIFIED",
                            "PAGE_URL",
                            "PAGE_HOSTNAME",
                            "PAGE_PATH",
                            "REFERRER",
                            "EVENT",
                            "CLICK_ELEMENT",
                            "CLICK_CLASSES",
                            "CLICK_ID",
                            "CLICK_TARGET",
                            "CLICK_URL",
                            "CLICK_TEXT",
                            "FORM_ELEMENT",
                            "FORM_CLASSES",
                            "FORM_ID",
                            "FORM_TARGET",
                            "FORM_URL",
                            "FORM_TEXT",
                            "ERROR_MESSAGE",
                            "ERROR_URL",
                            "ERROR_LINE",
                            "NEW_HISTORY_URL",
                            "OLD_HISTORY_URL",
                            "NEW_HISTORY_FRAGMENT",
                            "OLD_HISTORY_FRAGMENT",
                            "NEW_HISTORY_STATE",
                            "OLD_HISTORY_STATE",
                            "HISTORY_SOURCE",
                            "CONTAINER_VERSION",
                            "DEBUG_MODE",
                            "RANDOM_NUMBER",
                            "CONTAINER_ID",
                            "APP_ID",
                            "APP_NAME",
                            "APP_VERSION_CODE",
                            "APP_VERSION_NAME",
                            "LANGUAGE",
                            "OS_VERSION",
                            "PLATFORM",
                            "SDK_VERSION",
                            "DEVICE_NAME",
                            "RESOLUTION",
                            "ADVERTISER_ID",
                            "ADVERTISING_TRACKING_ENABLED",
                            "HTML_ID",
                            "ENVIRONMENT_NAME",
                            "AMP_BROWSER_LANGUAGE",
                            "AMP_CANONICAL_PATH",
                            "AMP_CANONICAL_URL",
                            "AMP_CANONICAL_HOST",
                            "AMP_REFERRER",
                            "AMP_TITLE",
                            "AMP_CLIENT_ID",
                            "AMP_CLIENT_TIMEZONE",
                            "AMP_CLIENT_TIMESTAMP",
                            "AMP_CLIENT_SCREEN_WIDTH",
                            "AMP_CLIENT_SCREEN_HEIGHT",
                            "AMP_CLIENT_SCROLL_X",
                            "AMP_CLIENT_SCROLL_Y",
                            "AMP_CLIENT_MAX_SCROLL_X",
                            "AMP_CLIENT_MAX_SCROLL_Y",
                            "AMP_TOTAL_ENGAGED_TIME",
                            "AMP_PAGE_VIEW_ID",
                            "AMP_PAGE_LOAD_TIME",
                            "AMP_PAGE_DOWNLOAD_TIME",
                            "AMP_GTM_EVENT",
                            "EVENT_NAME",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_ACLID",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_ANID",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_CLICK_TIMESTAMP",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_CONTENT",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_CP1",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_GCLID",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_SOURCE",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_TERM",
                            "FIREBASE_EVENT_PARAMETER_CURRENCY",
                            "FIREBASE_EVENT_PARAMETER_DYNAMIC_LINK_ACCEPT_TIME",
                            "FIREBASE_EVENT_PARAMETER_DYNAMIC_LINK_LINKID",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_DEVICE_TIME",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_ID",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_NAME",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_TIME",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_TOPIC",
                            "FIREBASE_EVENT_PARAMETER_PREVIOUS_APP_VERSION",
                            "FIREBASE_EVENT_PARAMETER_PREVIOUS_OS_VERSION",
                            "FIREBASE_EVENT_PARAMETER_PRICE",
                            "FIREBASE_EVENT_PARAMETER_PRODUCT_ID",
                            "FIREBASE_EVENT_PARAMETER_QUANTITY",
                            "FIREBASE_EVENT_PARAMETER_VALUE",
                            "VIDEO_PROVIDER",
                            "VIDEO_URL",
                            "VIDEO_TITLE",
                            "VIDEO_DURATION",
                            "VIDEO_PERCENT",
                            "VIDEO_VISIBLE",
                            "VIDEO_STATUS",
                            "VIDEO_CURRENT_TIME",
                            "SCROLL_DEPTH_THRESHOLD",
                            "SCROLL_DEPTH_UNITS",
                            "SCROLL_DEPTH_DIRECTION",
                            "ELEMENT_VISIBILITY_RATIO",
                            "ELEMENT_VISIBILITY_TIME",
                            "ELEMENT_VISIBILITY_FIRST_TIME",
                            "ELEMENT_VISIBILITY_RECENT_TIME"
                          ],
                          "description": "The type of built-in variable to revert.",
                          "type": "string"
                        },
                        "path": {
                          "description": "GTM BuiltInVariable's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/built_in_variables",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables:revert"
                    },
                    "delete": {
                      "description": "Deletes one or more GTM Built-In Variables.",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "type": {
                          "location": "query",
                          "enum": [
                            "BUILT_IN_VARIABLE_TYPE_UNSPECIFIED",
                            "PAGE_URL",
                            "PAGE_HOSTNAME",
                            "PAGE_PATH",
                            "REFERRER",
                            "EVENT",
                            "CLICK_ELEMENT",
                            "CLICK_CLASSES",
                            "CLICK_ID",
                            "CLICK_TARGET",
                            "CLICK_URL",
                            "CLICK_TEXT",
                            "FORM_ELEMENT",
                            "FORM_CLASSES",
                            "FORM_ID",
                            "FORM_TARGET",
                            "FORM_URL",
                            "FORM_TEXT",
                            "ERROR_MESSAGE",
                            "ERROR_URL",
                            "ERROR_LINE",
                            "NEW_HISTORY_URL",
                            "OLD_HISTORY_URL",
                            "NEW_HISTORY_FRAGMENT",
                            "OLD_HISTORY_FRAGMENT",
                            "NEW_HISTORY_STATE",
                            "OLD_HISTORY_STATE",
                            "HISTORY_SOURCE",
                            "CONTAINER_VERSION",
                            "DEBUG_MODE",
                            "RANDOM_NUMBER",
                            "CONTAINER_ID",
                            "APP_ID",
                            "APP_NAME",
                            "APP_VERSION_CODE",
                            "APP_VERSION_NAME",
                            "LANGUAGE",
                            "OS_VERSION",
                            "PLATFORM",
                            "SDK_VERSION",
                            "DEVICE_NAME",
                            "RESOLUTION",
                            "ADVERTISER_ID",
                            "ADVERTISING_TRACKING_ENABLED",
                            "HTML_ID",
                            "ENVIRONMENT_NAME",
                            "AMP_BROWSER_LANGUAGE",
                            "AMP_CANONICAL_PATH",
                            "AMP_CANONICAL_URL",
                            "AMP_CANONICAL_HOST",
                            "AMP_REFERRER",
                            "AMP_TITLE",
                            "AMP_CLIENT_ID",
                            "AMP_CLIENT_TIMEZONE",
                            "AMP_CLIENT_TIMESTAMP",
                            "AMP_CLIENT_SCREEN_WIDTH",
                            "AMP_CLIENT_SCREEN_HEIGHT",
                            "AMP_CLIENT_SCROLL_X",
                            "AMP_CLIENT_SCROLL_Y",
                            "AMP_CLIENT_MAX_SCROLL_X",
                            "AMP_CLIENT_MAX_SCROLL_Y",
                            "AMP_TOTAL_ENGAGED_TIME",
                            "AMP_PAGE_VIEW_ID",
                            "AMP_PAGE_LOAD_TIME",
                            "AMP_PAGE_DOWNLOAD_TIME",
                            "AMP_GTM_EVENT",
                            "EVENT_NAME",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_ACLID",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_ANID",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_CLICK_TIMESTAMP",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_CONTENT",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_CP1",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_GCLID",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_SOURCE",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_TERM",
                            "FIREBASE_EVENT_PARAMETER_CURRENCY",
                            "FIREBASE_EVENT_PARAMETER_DYNAMIC_LINK_ACCEPT_TIME",
                            "FIREBASE_EVENT_PARAMETER_DYNAMIC_LINK_LINKID",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_DEVICE_TIME",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_ID",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_NAME",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_TIME",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_TOPIC",
                            "FIREBASE_EVENT_PARAMETER_PREVIOUS_APP_VERSION",
                            "FIREBASE_EVENT_PARAMETER_PREVIOUS_OS_VERSION",
                            "FIREBASE_EVENT_PARAMETER_PRICE",
                            "FIREBASE_EVENT_PARAMETER_PRODUCT_ID",
                            "FIREBASE_EVENT_PARAMETER_QUANTITY",
                            "FIREBASE_EVENT_PARAMETER_VALUE",
                            "VIDEO_PROVIDER",
                            "VIDEO_URL",
                            "VIDEO_TITLE",
                            "VIDEO_DURATION",
                            "VIDEO_PERCENT",
                            "VIDEO_VISIBLE",
                            "VIDEO_STATUS",
                            "VIDEO_CURRENT_TIME",
                            "SCROLL_DEPTH_THRESHOLD",
                            "SCROLL_DEPTH_UNITS",
                            "SCROLL_DEPTH_DIRECTION",
                            "ELEMENT_VISIBILITY_RATIO",
                            "ELEMENT_VISIBILITY_TIME",
                            "ELEMENT_VISIBILITY_FIRST_TIME",
                            "ELEMENT_VISIBILITY_RECENT_TIME"
                          ],
                          "description": "The types of built-in variables to delete.",
                          "type": "string",
                          "repeated": true
                        },
                        "path": {
                          "description": "GTM BuiltInVariable's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/built_in_variables",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/built_in_variables$",
                          "location": "path"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables",
                      "path": "tagmanager/v2/{+path}",
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.delete"
                    },
                    "list": {
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.list",
                      "path": "tagmanager/v2/{+parent}/built_in_variables",
                      "description": "Lists all the enabled Built-In Variables of a GTM Container.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListEnabledBuiltInVariablesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables"
                    },
                    "create": {
                      "description": "Creates one or more GTM Built-In Variables.",
                      "response": {
                        "$ref": "CreateBuiltInVariableResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "type": {
                          "repeated": true,
                          "location": "query",
                          "enum": [
                            "BUILT_IN_VARIABLE_TYPE_UNSPECIFIED",
                            "PAGE_URL",
                            "PAGE_HOSTNAME",
                            "PAGE_PATH",
                            "REFERRER",
                            "EVENT",
                            "CLICK_ELEMENT",
                            "CLICK_CLASSES",
                            "CLICK_ID",
                            "CLICK_TARGET",
                            "CLICK_URL",
                            "CLICK_TEXT",
                            "FORM_ELEMENT",
                            "FORM_CLASSES",
                            "FORM_ID",
                            "FORM_TARGET",
                            "FORM_URL",
                            "FORM_TEXT",
                            "ERROR_MESSAGE",
                            "ERROR_URL",
                            "ERROR_LINE",
                            "NEW_HISTORY_URL",
                            "OLD_HISTORY_URL",
                            "NEW_HISTORY_FRAGMENT",
                            "OLD_HISTORY_FRAGMENT",
                            "NEW_HISTORY_STATE",
                            "OLD_HISTORY_STATE",
                            "HISTORY_SOURCE",
                            "CONTAINER_VERSION",
                            "DEBUG_MODE",
                            "RANDOM_NUMBER",
                            "CONTAINER_ID",
                            "APP_ID",
                            "APP_NAME",
                            "APP_VERSION_CODE",
                            "APP_VERSION_NAME",
                            "LANGUAGE",
                            "OS_VERSION",
                            "PLATFORM",
                            "SDK_VERSION",
                            "DEVICE_NAME",
                            "RESOLUTION",
                            "ADVERTISER_ID",
                            "ADVERTISING_TRACKING_ENABLED",
                            "HTML_ID",
                            "ENVIRONMENT_NAME",
                            "AMP_BROWSER_LANGUAGE",
                            "AMP_CANONICAL_PATH",
                            "AMP_CANONICAL_URL",
                            "AMP_CANONICAL_HOST",
                            "AMP_REFERRER",
                            "AMP_TITLE",
                            "AMP_CLIENT_ID",
                            "AMP_CLIENT_TIMEZONE",
                            "AMP_CLIENT_TIMESTAMP",
                            "AMP_CLIENT_SCREEN_WIDTH",
                            "AMP_CLIENT_SCREEN_HEIGHT",
                            "AMP_CLIENT_SCROLL_X",
                            "AMP_CLIENT_SCROLL_Y",
                            "AMP_CLIENT_MAX_SCROLL_X",
                            "AMP_CLIENT_MAX_SCROLL_Y",
                            "AMP_TOTAL_ENGAGED_TIME",
                            "AMP_PAGE_VIEW_ID",
                            "AMP_PAGE_LOAD_TIME",
                            "AMP_PAGE_DOWNLOAD_TIME",
                            "AMP_GTM_EVENT",
                            "EVENT_NAME",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_ACLID",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_ANID",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_CLICK_TIMESTAMP",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_CONTENT",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_CP1",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_GCLID",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_SOURCE",
                            "FIREBASE_EVENT_PARAMETER_CAMPAIGN_TERM",
                            "FIREBASE_EVENT_PARAMETER_CURRENCY",
                            "FIREBASE_EVENT_PARAMETER_DYNAMIC_LINK_ACCEPT_TIME",
                            "FIREBASE_EVENT_PARAMETER_DYNAMIC_LINK_LINKID",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_DEVICE_TIME",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_ID",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_NAME",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_MESSAGE_TIME",
                            "FIREBASE_EVENT_PARAMETER_NOTIFICATION_TOPIC",
                            "FIREBASE_EVENT_PARAMETER_PREVIOUS_APP_VERSION",
                            "FIREBASE_EVENT_PARAMETER_PREVIOUS_OS_VERSION",
                            "FIREBASE_EVENT_PARAMETER_PRICE",
                            "FIREBASE_EVENT_PARAMETER_PRODUCT_ID",
                            "FIREBASE_EVENT_PARAMETER_QUANTITY",
                            "FIREBASE_EVENT_PARAMETER_VALUE",
                            "VIDEO_PROVIDER",
                            "VIDEO_URL",
                            "VIDEO_TITLE",
                            "VIDEO_DURATION",
                            "VIDEO_PERCENT",
                            "VIDEO_VISIBLE",
                            "VIDEO_STATUS",
                            "VIDEO_CURRENT_TIME",
                            "SCROLL_DEPTH_THRESHOLD",
                            "SCROLL_DEPTH_UNITS",
                            "SCROLL_DEPTH_DIRECTION",
                            "ELEMENT_VISIBILITY_RATIO",
                            "ELEMENT_VISIBILITY_TIME",
                            "ELEMENT_VISIBILITY_FIRST_TIME",
                            "ELEMENT_VISIBILITY_RECENT_TIME"
                          ],
                          "description": "The types of built-in variables to enable.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "GTM Workspace's API relative path.\nExample:\naccounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables",
                      "path": "tagmanager/v2/{+parent}/built_in_variables",
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.create"
                    }
                  }
                },
                "triggers": {
                  "methods": {
                    "update": {
                      "path": "tagmanager/v2/{+path}",
                      "id": "tagmanager.accounts.containers.workspaces.triggers.update",
                      "request": {
                        "$ref": "Trigger"
                      },
                      "description": "Updates a GTM Trigger.",
[...]
