{
  "rootUrl": "https://testing.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "testing",
  "batchPath": "batch",
  "id": "testing:v1",
  "documentationLink": "https://developers.google.com/cloud-test-lab/",
  "revision": "20180904",
  "title": "Cloud Testing API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "applicationDetailService": {
      "methods": {
        "getApkDetails": {
          "request": {
            "$ref": "FileReference"
          },
          "description": "Request the details of an Android application APK.",
          "response": {
            "$ref": "GetApkDetailsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "flatPath": "v1/applicationDetailService/getApkDetails",
          "path": "v1/applicationDetailService/getApkDetails",
          "id": "testing.applicationDetailService.getApkDetails"
        }
      }
    },
    "projects": {
      "resources": {
        "testMatrices": {
          "methods": {
            "create": {
              "request": {
                "$ref": "TestMatrix"
              },
              "description": "Request to run a matrix of tests according to the given specifications.\nUnsupported environments will be returned in the state UNSUPPORTED.\nMatrices are limited to at most 200 supported executions.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to write to project\n- INVALID_ARGUMENT - if the request is malformed or if the matrix expands\n                     to more than 200 supported executions",
              "response": {
                "$ref": "TestMatrix"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "The GCE project under which this job will run.",
                  "required": true,
                  "type": "string"
                },
                "requestId": {
                  "description": "A string id used to detect duplicated requests.\nIds are automatically scoped to a project, so\nusers should ensure the ID is unique per-project.\nA UUID is recommended.\n\nOptional, but strongly recommended.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectId}/testMatrices",
              "path": "v1/projects/{projectId}/testMatrices",
              "id": "testing.projects.testMatrices.create"
            },
            "cancel": {
              "description": "Cancels unfinished test executions in a test matrix.\nThis call returns immediately and cancellation proceeds asychronously.\nIf the matrix is already final, this operation will have no effect.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read project\n- INVALID_ARGUMENT - if the request is malformed\n- NOT_FOUND - if the Test Matrix does not exist",
              "httpMethod": "POST",
              "response": {
                "$ref": "CancelTestMatrixResponse"
              },
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "parameters": {
                "projectId": {
                  "description": "Cloud project that owns the test.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "testMatrixId": {
                  "location": "path",
                  "description": "Test matrix that will be canceled.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "id": "testing.projects.testMatrices.cancel",
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel"
            },
            "get": {
              "id": "testing.projects.testMatrices.get",
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "description": "Check the status of a test matrix.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read project\n- INVALID_ARGUMENT - if the request is malformed\n- NOT_FOUND - if the Test Matrix does not exist",
              "httpMethod": "GET",
              "response": {
                "$ref": "TestMatrix"
              },
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "parameters": {
                "testMatrixId": {
                  "description": "Unique test matrix id which was assigned by the service.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "projectId": {
                  "description": "Cloud project that owns the test matrix.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}"
            }
          }
        }
      }
    },
    "testEnvironmentCatalog": {
      "methods": {
        "get": {
          "path": "v1/testEnvironmentCatalog/{environmentType}",
          "id": "testing.testEnvironmentCatalog.get",
          "description": "Get the catalog of supported test environments.\n\nMay return any of the following canonical error codes:\n\n- INVALID_ARGUMENT - if the request is malformed\n- NOT_FOUND - if the environment type does not exist\n- INTERNAL - if an internal error occurred",
          "response": {
            "$ref": "TestEnvironmentCatalog"
          },
          "parameterOrder": [
            "environmentType"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "location": "query",
              "description": "For authorization, the cloud project requesting the TestEnvironmentCatalog.\nOptional",
              "type": "string"
            },
            "environmentType": {
              "location": "path",
              "enum": [
                "ENVIRONMENT_TYPE_UNSPECIFIED",
                "ANDROID",
                "NETWORK_CONFIGURATION",
                "PROVIDED_SOFTWARE"
              ],
              "description": "The type of environment that should be listed.\nRequired",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/testEnvironmentCatalog/{environmentType}"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "schemas": {
    "IntentFilter": {
      "description": "The \u003cintent-filter\u003e section of an \u003cactivity\u003e tag.\nhttps://developer.android.com/guide/topics/manifest/intent-filter-element.html",
      "type": "object",
      "properties": {
        "categoryNames": {
          "description": "The android:name value of the \u003ccategory\u003e tag",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mimeType": {
          "description": "The android:mimeType value of the \u003cdata\u003e tag",
          "type": "string"
        },
        "actionNames": {
          "description": "The android:name value of the \u003caction\u003e tag",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "IntentFilter"
    },
    "TestExecution": {
      "description": "Specifies a single test to be executed in a single environment.",
      "type": "object",
      "properties": {
        "environment": {
          "description": "How the host machine(s) are configured.\n@OutputOnly",
          "$ref": "Environment"
        },
        "state": {
          "enumDescriptions": [
            "Do not use.  For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed.\n\nCan only be set on an execution.",
            "The execution or matrix has terminated normally.\n\nOn a matrix this means that the matrix level processing completed normally,\nbut individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an\ninfrastructure failure.",
            "The execution was not run because it corresponds to a unsupported\nenvironment.\n\nCan only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with\nthe requested environment.\n\nExample: requested AndroidVersion is lower than APK's minSdkVersion\n\nCan only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with\nthe requested architecture.\n\nExample: requested device does not support running the native code in\nthe supplied APK\n\nCan only be set on an execution.",
            "The user cancelled the execution.\n\nCan only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not\nvalid.\n\nExamples: input file is not of the expected type, is malformed/corrupt, or\nwas flagged as malware"
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "Indicates the current progress of the test execution (e.g., FINISHED).\n@OutputOnly",
          "type": "string"
        },
        "toolResultsStep": {
          "$ref": "ToolResultsStep",
          "description": "Where the results for this execution are written.\n@OutputOnly"
        },
        "testSpecification": {
          "description": "How to run the test.\n@OutputOnly",
          "$ref": "TestSpecification"
        },
        "projectId": {
          "description": "The cloud project that owns the test execution.\n@OutputOnly",
          "type": "string"
        },
        "id": {
          "description": "Unique id set by the backend.\n@OutputOnly",
          "type": "string"
        },
        "timestamp": {
          "description": "The time this test execution was initially created.\n@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "testDetails": {
          "$ref": "TestDetails",
          "description": "Additional details about the running test.\n@OutputOnly"
        },
        "matrixId": {
          "description": "Id of the containing TestMatrix.\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "TestExecution"
    },
    "GoogleCloudStorage": {
      "description": "A storage location within Google cloud storage (GCS).",
      "type": "object",
      "properties": {
        "gcsPath": {
          "description": "The path to a directory in GCS that will\neventually contain the results for this test.\nThe requesting user must have write access on the bucket in the supplied\npath.\nRequired",
          "type": "string"
        }
      },
      "id": "GoogleCloudStorage"
    },
    "AndroidModel": {
      "properties": {
        "form": {
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL"
          ],
          "description": "Whether this device is virtual or physical.\n@OutputOnly",
          "type": "string",
          "enumDescriptions": [
            "Do not use.  For proto versioning only.",
            "A software stack that simulates the device",
            "Actual hardware"
          ]
        },
        "screenDensity": {
          "description": "Screen density in DPI.\nThis corresponds to ro.sf.lcd_density\n@OutputOnly",
          "format": "int32",
          "type": "integer"
        },
        "supportedVersionIds": {
          "description": "The set of Android versions this device supports.\n@OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedAbis": {
          "description": "The list of supported ABIs for this device.\nThis corresponds to either android.os.Build.SUPPORTED_ABIS (for API level\n21 and above) or android.os.Build.CPU_ABI/CPU_ABI2.\nThe most preferred ABI is the first element in the list.\n\nElements are optionally prefixed by \"version_id:\" (where version_id is\nthe id of an AndroidVersion), denoting an ABI that is supported only on\na particular version.\n@OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "videoRecordingNotSupported": {
          "description": "True if and only if tests with this model DO NOT have video output.\nSee also TestSpecification.disable_video_recording\n@OutputOnly",
          "type": "boolean"
        },
        "name": {
          "description": "The human-readable marketing name for this device model.\nExamples: \"Nexus 5\", \"Galaxy S5\"\n@OutputOnly",
          "type": "string"
        },
        "tags": {
          "description": "Tags for this dimension.\nExamples: \"default\", \"preview\", \"deprecated\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "The unique opaque id for this model.\nUse this for invoking the TestExecutionService.\n@OutputOnly",
          "type": "string"
        },
        "manufacturer": {
          "description": "The manufacturer of this device.\n@OutputOnly",
          "type": "string"
        },
        "brand": {
          "description": "The company that this device is branded with.\nExample: \"Google\", \"Samsung\"\n@OutputOnly",
          "type": "string"
        },
        "screenX": {
          "description": "Screen size in the horizontal (X) dimension measured in pixels.\n@OutputOnly",
          "format": "int32",
          "type": "integer"
        },
        "formFactor": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone",
            "This device has the shape of a tablet",
            "This device has the shape of a watch or other wearable"
          ],
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE"
          ],
          "description": "Whther this device is a phone, tablet, wearable, etc.\n@OutputOnly",
          "type": "string"
        },
        "codename": {
          "description": "The name of the industrial design.\nThis corresponds to android.os.Build.DEVICE\n@OutputOnly",
          "type": "string"
        },
        "screenY": {
          "description": "Screen size in the vertical (Y) dimension measured in pixels.\n@OutputOnly",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AndroidModel",
      "description": "A description of an Android device tests may be run on.",
      "type": "object"
    },
    "TestSetup": {
      "description": "A description of how to set up the Android device prior to running the test.",
      "type": "object",
      "properties": {
        "filesToPush": {
          "description": "List of files to push to the device before starting the test.\n\nOptional",
          "type": "array",
          "items": {
            "$ref": "DeviceFile"
          }
        },
        "account": {
          "$ref": "Account",
          "description": "The device will be logged in on this account for the duration of the test.\nOptional"
        },
        "directoriesToPull": {
          "description": "List of directories on the device to upload to GCS at the end of the test;\nthey must be absolute paths under /sdcard or /data/local/tmp.\nPath names are restricted to characters a-z A-Z 0-9 _ - . + and /\n\nNote: The paths /sdcard and /data will be made available and treated as\nimplicit path substitutions. E.g. if /sdcard on a particular device does\nnot map to external storage, the system will replace it with the external\nstorage path prefix for that device.\n\nOptional",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "networkProfile": {
          "description": "Optional. The network traffic profile used for running the test.\nAvailable network profiles can be queried by using the\nNETWORK_CONFIGURATION environment type when calling\nTestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.",
          "type": "string"
        },
        "environmentVariables": {
          "description": "Environment variables to set for the test (only applicable for\ninstrumentation tests).",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "additionalApks": {
          "description": "APKs to install in addition to those being directly tested.\nCurrently capped at 100.\nOptional",
          "type": "array",
          "items": {
            "$ref": "Apk"
          }
        }
      },
      "id": "TestSetup"
    },
    "ResultStorage": {
      "description": "Locations where the results of running the test are stored.",
      "type": "object",
      "properties": {
        "toolResultsExecution": {
          "$ref": "ToolResultsExecution",
          "description": "The tool results execution that results are written to.\n@OutputOnly"
        },
        "toolResultsHistory": {
          "description": "The tool results history that contains the tool results execution that\nresults are written to.\n\nOptional, if not provided the service will choose an appropriate value.",
          "$ref": "ToolResultsHistory"
        },
        "googleCloudStorage": {
          "$ref": "GoogleCloudStorage",
          "description": "Required."
        }
      },
      "id": "ResultStorage"
    },
    "AndroidVersion": {
      "description": "A version of the Android OS",
      "type": "object",
      "properties": {
        "versionString": {
          "description": "A string representing this version of the Android OS.\nExamples: \"4.3\", \"4.4\"\n@OutputOnly",
          "type": "string"
        },
        "codeName": {
          "description": "The code name for this Android version.\nExamples: \"JellyBean\", \"KitKat\"\n@OutputOnly",
          "type": "string"
        },
        "apiLevel": {
          "description": "The API level for this Android version.\nExamples: 18, 19\n@OutputOnly",
          "format": "int32",
          "type": "integer"
        },
        "distribution": {
          "$ref": "Distribution",
          "description": "Market share for this version.\n@OutputOnly"
        },
        "releaseDate": {
          "description": "The date this Android version became available in the market.\n@OutputOnly",
          "$ref": "Date"
        },
        "tags": {
          "description": "Tags for this dimension.\nExamples: \"default\", \"preview\", \"deprecated\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "An opaque id for this Android version.\nUse this id to invoke the TestExecutionService.\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "AndroidVersion"
    },
    "TestDetails": {
      "description": "Additional details about the progress of the running test.",
      "type": "object",
      "properties": {
        "videoRecordingDisabled": {
          "description": "Indicates that video will not be recorded for this execution either because\nthe user chose to disable it or the device does not support it.\nSee AndroidModel.video_recording_not_supported\n@OutputOnly",
          "type": "boolean"
        },
        "progressMessages": {
          "description": "Human-readable, detailed descriptions of the test's progress.\nFor example: \"Provisioning a device\", \"Starting Test\".\n\nDuring the course of execution new data may be appended\nto the end of progress_messages.\n@OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errorMessage": {
          "description": "If the TestState is ERROR, then this string will contain human-readable\ndetails about the error.\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "TestDetails"
    },
    "Distribution": {
      "description": "Data about the relative number of devices running a\ngiven configuration of the Android platform.",
      "type": "object",
      "properties": {
        "marketShare": {
          "description": "The estimated fraction (0-1) of the total market with this configuration.\n@OutputOnly",
          "format": "double",
          "type": "number"
        },
        "measurementTime": {
          "description": "The time this distribution was measured.\n@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Distribution"
    },
    "Orientation": {
      "properties": {
        "id": {
          "description": "The id for this orientation.\nExample: \"portrait\"\n@OutputOnly",
          "type": "string"
        },
        "tags": {
          "description": "Tags for this dimension.\nExamples: \"default\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "A human-friendly name for this orientation.\nExample: \"portrait\"\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "Orientation",
      "description": "Screen orientation of the device.",
      "type": "object"
    },
    "GoogleAuto": {
      "description": "Enables automatic Google account login.\nIf set, the service will automatically generate a Google test account and add\nit to the device, before executing the test. Note that test accounts might be\nreused.\nMany applications show their full set of functionalities when an account is\npresent on the device. Logging into the device with these generated accounts\nallows testing more functionalities.",
      "type": "object",
      "properties": {},
      "id": "GoogleAuto"
    },
    "AndroidDeviceList": {
      "properties": {
        "androidDevices": {
          "description": "A list of Android devices\nRequired",
          "type": "array",
          "items": {
            "$ref": "AndroidDevice"
          }
        }
      },
      "id": "AndroidDeviceList",
      "description": "A list of Android device configurations in which the test is to be executed.",
      "type": "object"
    },
    "Apk": {
      "properties": {
        "location": {
          "description": "The path to an APK to be installed on the device before the test begins.\nOptional",
          "$ref": "FileReference"
        },
        "packageName": {
          "description": "The java package for the APK to be installed.\nOptional, value is determined by examining the application's manifest.",
          "type": "string"
        }
      },
      "id": "Apk",
      "description": "An Android package file to install.",
      "type": "object"
    },
    "StartActivityIntent": {
      "description": "A starting intent specified by an action, uri, and categories.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI for the action.\nOptional.",
          "type": "string"
        },
        "categories": {
          "description": "Intent categories to set on the intent.\nOptional.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "description": "Action name.\nRequired for START_ACTIVITY.",
          "type": "string"
        }
      },
      "id": "StartActivityIntent"
    },
    "TestEnvironmentCatalog": {
      "description": "A description of a test environment.",
      "type": "object",
      "properties": {
        "androidDeviceCatalog": {
          "description": "Android devices suitable for running Android Instrumentation Tests.",
          "$ref": "AndroidDeviceCatalog"
        },
        "networkConfigurationCatalog": {
          "$ref": "NetworkConfigurationCatalog",
          "description": "Supported network configurations"
        },
        "softwareCatalog": {
          "description": "The software test environment provided by TestExecutionService.",
          "$ref": "ProvidedSoftwareCatalog"
        }
      },
      "id": "TestEnvironmentCatalog"
    },
    "ObbFile": {
      "description": "An opaque binary blob file to install on the device before the test starts",
      "type": "object",
      "properties": {
        "obb": {
          "$ref": "FileReference",
          "description": "Opaque Binary Blob (OBB) file(s) to install on the device\nRequired"
        },
        "obbFileName": {
          "description": "OBB file name which must conform to the format as specified by\nAndroid\ne.g. [main|patch].0300110.com.example.android.obb\nwhich will be installed into\n  \u003cshared-storage\u003e/Android/obb/\u003cpackage-name\u003e/\non the device\nRequired",
          "type": "string"
        }
      },
      "id": "ObbFile"
    },
    "AndroidRuntimeConfiguration": {
      "description": "Android configuration that can be selected at the time a test is run.",
      "type": "object",
      "properties": {
        "orientations": {
          "description": "The set of available orientations.\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "Orientation"
          }
        },
        "locales": {
          "description": "The set of available locales.\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "Locale"
          }
        }
      },
      "id": "AndroidRuntimeConfiguration"
    },
    "ToolResultsStep": {
      "description": "Represents a tool results step resource.\n\nThis has the results of a TestExecution.",
      "type": "object",
      "properties": {
        "executionId": {
          "description": "A tool results execution ID.\n@OutputOnly",
          "type": "string"
        },
        "stepId": {
          "description": "A tool results step ID.\n@OutputOnly",
          "type": "string"
        },
        "projectId": {
          "description": "The cloud project that owns the tool results step.\n@OutputOnly",
          "type": "string"
        },
        "historyId": {
          "description": "A tool results history ID.\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "ToolResultsStep"
    },
    "GetApkDetailsResponse": {
      "properties": {
        "apkDetail": {
          "description": "Details of the Android APK.",
          "$ref": "ApkDetail"
        }
      },
      "id": "GetApkDetailsResponse",
      "description": "Response containing the details of the specified Android application APK.",
      "type": "object"
    },
    "AndroidInstrumentationTest": {
      "description": "A test of an Android application that can control an Android component\nindependently of its normal lifecycle.\nAndroid instrumentation tests run an application APK and test APK inside the\nsame process on a virtual or physical AndroidDevice.  They also specify\na test runner class, such as com.google.GoogleTestRunner, which can vary\non the specific instrumentation framework chosen.\n\nSee \u003chttp://developer.android.com/tools/testing/testing_android.html\u003e for\nmore information on types of Android tests.",
      "type": "object",
      "properties": {
        "appPackageId": {
          "description": "The java package for the application under test.\nOptional, default is determined by examining the application's manifest.",
          "type": "string"
        },
        "appApk": {
          "$ref": "FileReference",
          "description": "The APK for the application under test."
        },
        "orchestratorOption": {
          "description": "The option of whether running each test within its own invocation of\ninstrumentation with Android Test Orchestrator or not.\n** Orchestrator is only compatible with AndroidJUnitRunner version 1.0 or\nhigher! **\nOrchestrator offers the following benefits:\n - No shared state\n - Crashes are isolated\n - Logs are scoped per test\n\nSee\n\u003chttps://developer.android.com/training/testing/junit-runner.html#using-android-test-orchestrator\u003e\nfor more information about Android Test Orchestrator.\n\nOptional. If not set, the test will be run without the orchestrator.",
          "type": "string",
          "enumDescriptions": [
            "Default value: the server will choose the mode. Currently implies that\nthe test will run without the orchestrator. In the future,\nall instrumentation tests will be run with the orchestrator.\nUsing the orchestrator is highly encouraged because of all the benefits it\noffers.",
            "Run test using orchestrator.\n** Only compatible with AndroidJUnitRunner version 1.0 or higher! **\nRecommended.",
            "Run test without using orchestrator."
          ],
          "enum": [
            "ORCHESTRATOR_OPTION_UNSPECIFIED",
            "USE_ORCHESTRATOR",
            "DO_NOT_USE_ORCHESTRATOR"
          ]
        },
        "testTargets": {
          "description": "Each target must be fully qualified with the package name or class name,\nin one of these formats:\n - \"package package_name\"\n - \"class package_name.class_name\"\n - \"class package_name.class_name#method_name\"\n\nOptional, if empty, all targets in the module will be run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testApk": {
          "$ref": "FileReference",
          "description": "The APK containing the test code to be executed.\nRequired"
        },
        "testRunnerClass": {
          "description": "The InstrumentationTestRunner class.\nOptional, default is determined by examining the application's manifest.",
          "type": "string"
        },
        "testPackageId": {
          "description": "The java package for the test to be executed.\nOptional, default is determined by examining the application's manifest.",
          "type": "string"
        }
      },
      "id": "AndroidInstrumentationTest"
    },
    "DeviceFile": {
      "description": "A single device file description.",
      "type": "object",
      "properties": {
        "obbFile": {
          "description": "A reference to an opaque binary blob file",
          "$ref": "ObbFile"
        },
        "regularFile": {
          "description": "A reference to a regular file",
          "$ref": "RegularFile"
        }
      },
      "id": "DeviceFile"
    },
    "ClientInfoDetail": {
      "description": "Key-value pair of detailed information about the client which invoked the\ntest. For example {'Version', '1.0'}, {'Release Track', 'BETA'}",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key of detailed client information.\nRequired",
          "type": "string"
        },
        "value": {
          "description": "The value of detailed client information.\nRequired",
          "type": "string"
        }
      },
      "id": "ClientInfoDetail"
    },
    "RegularFile": {
      "description": "A file or directory to install on the device before the test starts",
      "type": "object",
      "properties": {
        "devicePath": {
          "description": "Where to put the content on the device. Must be an absolute, whitelisted\npath. If the file exists, it will be replaced.\nThe following device-side directories and any of their subdirectories are\nwhitelisted:\n\u003cp\u003e${EXTERNAL_STORAGE}, or /sdcard\u003c/p\u003e\n\u003cp\u003e${ANDROID_DATA}/local/tmp, or /data/local/tmp\u003c/p\u003e\n\u003cp\u003eSpecifying a path outside of these directory trees is invalid.\n\n\u003cp\u003e The paths /sdcard and /data will be made available and treated as\nimplicit path substitutions. E.g. if /sdcard on a particular device does\nnot map to external storage, the system will replace it with the external\nstorage path prefix for that device and copy the file there.\n\n\u003cp\u003e It is strongly advised to use the \u003ca href=\n\"http://developer.android.com/reference/android/os/Environment.html\"\u003e\nEnvironment API\u003c/a\u003e in app and test code to access files on the device in a\nportable way.\nRequired",
          "type": "string"
        },
        "content": {
          "description": "Required",
          "$ref": "FileReference"
        }
      },
      "id": "RegularFile"
    },
    "EnvironmentVariable": {
      "properties": {
        "value": {
          "description": "Value for the environment variable",
          "type": "string"
        },
        "key": {
          "description": "Key for the environment variable",
          "type": "string"
        }
      },
      "id": "EnvironmentVariable",
      "description": "A key-value pair passed as an environment variable to the test",
      "type": "object"
    },
    "Environment": {
      "properties": {
        "androidDevice": {
          "description": "An Android device which must be used with an Android test.",
          "$ref": "AndroidDevice"
        }
      },
      "id": "Environment",
      "description": "The environment in which the test is run.",
      "type": "object"
    },
    "ProvidedSoftwareCatalog": {
      "properties": {
        "orchestratorVersion": {
          "description": "A string representing the current version of Android Test Orchestrator that\nis provided by TestExecutionService. Example: \"1.0.2 beta\"",
          "type": "string"
        }
      },
      "id": "ProvidedSoftwareCatalog",
      "description": "The currently provided software environment on the devices under test.",
      "type": "object"
    },
    "RoboDirective": {
      "properties": {
        "actionType": {
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "SINGLE_CLICK",
            "ENTER_TEXT"
          ],
          "description": "The type of action that Robo should perform on the specified element.\nRequired.",
          "type": "string",
          "enumDescriptions": [
            "DO NOT USE. For proto versioning only.",
            "Direct Robo to click on the specified element. No-op if specified element\nis not clickable.",
            "Direct Robo to enter text on the specified element. No-op if specified\nelement is not enabled or does not allow text entry."
          ]
        },
        "resourceName": {
          "description": "The android resource name of the target UI element\nFor example,\n   in Java: R.string.foo\n   in xml: @string/foo\nOnly the “foo” part is needed.\nReference doc:\nhttps://developer.android.com/guide/topics/resources/accessing-resources.html\nRequired",
          "type": "string"
        },
        "inputText": {
          "description": "The text that Robo is directed to set. If left empty, the directive will be\ntreated as a CLICK on the element matching the resource_name.\nOptional",
          "type": "string"
        }
      },
      "id": "RoboDirective",
      "description": "Directs Robo to interact with a specific UI element if it is encountered\nduring the crawl. Currently, Robo can perform text entry or element click.",
      "type": "object"
    },
    "AndroidMatrix": {
      "description": "A set of Android device configuration permutations is defined by the\nthe cross-product of the given axes.  Internally, the given AndroidMatrix\nwill be expanded into a set of AndroidDevices.\n\nOnly supported permutations will be instantiated.  Invalid permutations\n(e.g., incompatible models/versions) are ignored.",
      "type": "object",
      "properties": {
        "androidVersionIds": {
          "description": "The ids of the set of Android OS version to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "locales": {
          "description": "The set of locales the test device will enable for testing.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "androidModelIds": {
          "description": "The ids of the set of Android device to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "orientations": {
          "description": "The set of orientations to test with.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AndroidMatrix"
    },
    "TestSpecification": {
      "properties": {
        "testTimeout": {
          "description": "Max time a test execution is allowed to run before it is\nautomatically cancelled.\nOptional, default is 5 min.",
          "format": "google-duration",
          "type": "string"
        },
        "autoGoogleLogin": {
          "description": "Enables automatic Google account login.\nIf set, the service will automatically generate a Google test account and\nadd it to the device, before executing the test. Note that test accounts\nmight be reused.\nMany applications show their full set of functionalities when an account is\npresent on the device. Logging into the device with these generated\naccounts allows testing more functionalities.\nDefault is false.\nOptional",
          "type": "boolean"
        },
        "testSetup": {
          "description": "Test setup requirements for Android e.g. files to install, bootstrap\nscripts.\nOptional",
          "$ref": "TestSetup"
        },
        "androidRoboTest": {
          "description": "An Android robo test.",
          "$ref": "AndroidRoboTest"
        },
        "androidTestLoop": {
          "$ref": "AndroidTestLoop",
          "description": "An Android Application with a Test Loop"
        },
        "androidInstrumentationTest": {
          "description": "An Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "disablePerformanceMetrics": {
          "description": "Disables performance metrics recording; may reduce test latency.",
          "type": "boolean"
        },
        "disableVideoRecording": {
          "description": "Disables video recording; may reduce test latency.",
          "type": "boolean"
        }
      },
      "id": "TestSpecification",
      "description": "A description of how to run the test.",
      "type": "object"
    },
    "TestMatrix": {
      "description": "A group of one or more TestExecutions, built by taking a\nproduct of values over a pre-defined set of axes.",
      "type": "object",
      "properties": {
        "clientInfo": {
          "$ref": "ClientInfo",
          "description": "Information about the client which invoked the test.\nOptional"
        },
        "testExecutions": {
          "description": "The list of test executions that the service creates for this matrix.\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "TestExecution"
          }
        },
        "timestamp": {
          "description": "The time this test matrix was initially created.\n@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "environmentMatrix": {
          "$ref": "EnvironmentMatrix",
          "description": "How the host machine(s) are configured.\nRequired"
        },
        "testMatrixId": {
          "description": "Unique id set by the service.\n@OutputOnly",
          "type": "string"
        },
        "resultStorage": {
          "$ref": "ResultStorage",
          "description": "Where the results for the matrix are written.\nRequired"
        },
        "invalidMatrixDetails": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The matrix is INVALID, but there are no further details available.",
            "The input app APK could not be parsed.",
            "The input test APK could not be parsed.",
            "The AndroidManifest.xml could not be found.",
            "The APK manifest does not declare a package name.",
            "The test package and app package are the same.",
            "The test apk does not declare an instrumentation.",
            "The input app apk does not have a signature.",
            "The test runner class specified by user or in the test APK's manifest file\nis not compatible with Android Test Orchestrator.\nOrchestrator is only compatible with AndroidJUnitRunner version 1.0 or\nhigher.\nOrchestrator can be disabled by using DO_NOT_USE_ORCHESTRATOR\nOrchestratorOption.",
            "The test APK does not contain the test runner class specified by user or in\nthe manifest file.\nThis can be caused by either of the following reasons:\n- the user provided a runner class name that's incorrect, or\n- the test runner isn't built into the test APK (might be in the app APK\ninstead).",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "There is a conflict in the provided robo_directives.",
            "There there is no test loop intent filter, or the one that is given is\nnot formatted correctly.",
            "The request contains a scenario label that was not declared in the\nmanifest.",
            "There was an error when parsing a label's value.",
            "The request contains a scenario number that was not declared in the\nmanifest.",
            "Device administrator applications are not allowed.",
            "The APK is marked as \"testOnly\".\nNOT USED",
            "The input IPA could not be parsed.\nNOT USED",
            "APK contains no code.\nSee also\nhttps://developer.android.com/guide/topics/manifest/application-element.html#code",
            "Either the provided input APK path was malformed,\nthe APK file does not exist, or the user does not have permission to\naccess the APK file.",
            "APK is built for a preview SDK which is unsupported"
          ],
          "enum": [
            "INVALID_MATRIX_DETAILS_UNSPECIFIED",
            "DETAILS_UNAVAILABLE",
            "MALFORMED_APK",
            "MALFORMED_TEST_APK",
            "NO_MANIFEST",
            "NO_PACKAGE_NAME",
            "TEST_SAME_AS_APP",
            "NO_INSTRUMENTATION",
            "NO_SIGNATURE",
            "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE",
            "NO_TEST_RUNNER_CLASS",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "INVALID_ROBO_DIRECTIVES",
            "TEST_LOOP_INTENT_FILTER_NOT_FOUND",
            "SCENARIO_LABEL_NOT_DECLARED",
            "SCENARIO_LABEL_MALFORMED",
            "SCENARIO_NOT_DECLARED",
            "DEVICE_ADMIN_RECEIVER",
            "TEST_ONLY_APK",
            "MALFORMED_IPA",
            "NO_CODE_APK",
            "INVALID_INPUT_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "description": "Describes why the matrix is considered invalid.\nOnly useful for matrices in the INVALID state.\n@OutputOnly",
          "type": "string"
        },
        "state": {
          "description": "Indicates the current progress of the test matrix (e.g., FINISHED)\n@OutputOnly",
          "type": "string",
          "enumDescriptions": [
            "Do not use.  For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed.\n\nCan only be set on an execution.",
            "The execution or matrix has terminated normally.\n\nOn a matrix this means that the matrix level processing completed normally,\nbut individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an\ninfrastructure failure.",
            "The execution was not run because it corresponds to a unsupported\nenvironment.\n\nCan only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with\nthe requested environment.\n\nExample: requested AndroidVersion is lower than APK's minSdkVersion\n\nCan only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with\nthe requested architecture.\n\nExample: requested device does not support running the native code in\nthe supplied APK\n\nCan only be set on an execution.",
            "The user cancelled the execution.\n\nCan only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not\nvalid.\n\nExamples: input file is not of the expected type, is malformed/corrupt, or\nwas flagged as malware"
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ]
        },
        "projectId": {
          "description": "The cloud project that owns the test matrix.\n@OutputOnly",
          "type": "string"
        },
        "testSpecification": {
          "description": "How to run the test.\nRequired",
          "$ref": "TestSpecification"
        }
      },
      "id": "TestMatrix"
    },
    "FileReference": {
      "properties": {
        "gcsPath": {
          "description": "A path to a file in Google Cloud Storage.\nExample: gs://build-app-1414623860166/app-debug-unaligned.apk",
          "type": "string"
        }
      },
      "id": "FileReference",
      "description": "A reference to a file, used for user inputs.",
      "type": "object"
    },
    "LauncherActivityIntent": {
      "description": "Specifies an intent that starts the main launcher activity.",
      "type": "object",
      "properties": {},
      "id": "LauncherActivityIntent"
    },
    "ToolResultsExecution": {
      "description": "Represents a tool results execution resource.\n\nThis has the results of a TestMatrix.",
      "type": "object",
      "properties": {
        "executionId": {
          "description": "A tool results execution ID.\n@OutputOnly",
          "type": "string"
        },
        "projectId": {
          "description": "The cloud project that owns the tool results execution.\n@OutputOnly",
          "type": "string"
        },
        "historyId": {
          "description": "A tool results history ID.\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "ToolResultsExecution"
    },
    "AndroidRoboTest": {
      "description": "A test of an android application that explores the application on a virtual\nor physical Android Device, finding culprits and crashes as it goes.",
      "type": "object",
      "properties": {
        "maxDepth": {
          "description": "The max depth of the traversal stack Robo can explore. Needs to be at least\n2 to make Robo explore the app beyond the first activity.\nDefault is 50.\nOptional",
          "format": "int32",
          "type": "integer"
        },
        "appApk": {
          "$ref": "FileReference",
          "description": "The APK for the application under test."
        },
        "appPackageId": {
          "description": "The java package for the application under test.\nOptional, default is determined by examining the application's manifest.",
          "type": "string"
        },
        "startingIntents": {
          "description": "The intents used to launch the app for the crawl.\nIf none are provided, then the main launcher activity is launched.\nIf some are provided, then only those provided are launched (the main\nlauncher activity must be provided explicitly).",
          "type": "array",
          "items": {
            "$ref": "RoboStartingIntent"
          }
        },
        "maxSteps": {
          "description": "The max number of steps Robo can execute.\nDefault is no limit.\nOptional",
          "format": "int32",
          "type": "integer"
        },
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app.\nOptional",
          "type": "string"
        },
        "roboDirectives": {
          "description": "A set of directives Robo should apply during the crawl.\nThis allows users to customize the crawl. For example, the username and\npassword for a test account can be provided.\nOptional",
          "type": "array",
          "items": {
            "$ref": "RoboDirective"
          }
        },
        "roboScript": {
          "$ref": "FileReference",
          "description": "A JSON file with a sequence of actions Robo should perform as a prologue\nfor the crawl.\nOptional"
        }
      },
      "id": "AndroidRoboTest"
    },
    "ToolResultsHistory": {
      "description": "Represents a tool results history resource.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The cloud project that owns the tool results history.\nRequired",
          "type": "string"
        },
        "historyId": {
          "description": "A tool results history ID.\nRequired",
          "type": "string"
        }
      },
      "id": "ToolResultsHistory"
    },
    "ApkManifest": {
      "properties": {
        "packageName": {
          "description": "Full Java-style package name for this application, e.g.\n\"com.example.foo\".",
          "type": "string"
        },
        "maxSdkVersion": {
          "description": "Maximum API level on which the application is designed to run.",
          "format": "int32",
          "type": "integer"
        },
        "intentFilters": {
          "type": "array",
          "items": {
            "$ref": "IntentFilter"
          }
        },
        "applicationLabel": {
          "description": "User-readable name for the application.",
          "type": "string"
        },
        "minSdkVersion": {
          "description": "Minimum API level required for the application to run.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ApkManifest",
      "description": "An Android app manifest. See\nhttp://developer.android.com/guide/topics/manifest/manifest-intro.html",
      "type": "object"
    },
    "AndroidTestLoop": {
      "description": "A test of an Android Application with a Test Loop.\nThe intent \u003cintent-name\u003e will be implicitly added, since Games is the only\nuser of this api, for the time being.",
      "type": "object",
      "properties": {
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "appPackageId": {
          "description": "The java package for the application under test.\nOptional, default is determined by examining the application's manifest.",
          "type": "string"
        },
        "scenarios": {
          "description": "The list of scenarios that should be run during the test.\nOptional, default is all test loops, derived from the application's\nmanifest.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "scenarioLabels": {
          "description": "The list of scenario labels that should be run during the test.\nThe scenario labels should map to labels defined in the application's\nmanifest. For example, player_experience and\ncom.google.test.loops.player_experience add all of the loops labeled in the\nmanifest with the com.google.test.loops.player_experience name to the\nexecution.\nOptional. Scenarios can also be specified in the scenarios field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AndroidTestLoop"
    },
    "NetworkConfigurationCatalog": {
      "type": "object",
      "properties": {
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "NetworkConfiguration"
          }
        }
      },
      "id": "NetworkConfigurationCatalog"
    },
    "AndroidDeviceCatalog": {
      "description": "The currently supported Android devices.",
      "type": "object",
      "properties": {
        "versions": {
          "description": "The set of supported Android OS versions.\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "AndroidVersion"
          }
        },
        "runtimeConfiguration": {
          "description": "The set of supported runtime configurations.\n@OutputOnly",
          "$ref": "AndroidRuntimeConfiguration"
        },
        "models": {
          "description": "The set of supported Android device models.\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "AndroidModel"
          }
        }
      },
      "id": "AndroidDeviceCatalog"
    },
    "ApkDetail": {
      "description": "Android application details based on application manifest and apk archive\ncontents",
      "type": "object",
      "properties": {
        "apkManifest": {
          "$ref": "ApkManifest"
        }
      },
      "id": "ApkDetail"
    },
    "ClientInfo": {
      "description": "Information about the client which invoked the test.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Client name, such as gcloud.\nRequired",
          "type": "string"
        },
        "clientInfoDetails": {
          "description": "The list of detailed information about client.",
          "type": "array",
          "items": {
            "$ref": "ClientInfoDetail"
          }
        }
      },
      "id": "ClientInfo"
    },
    "EnvironmentMatrix": {
      "description": "The matrix of environments in which the test is to be executed.",
      "type": "object",
      "properties": {
        "androidDeviceList": {
          "description": "A list of Android devices; the test will be run only on the specified\ndevices.",
          "$ref": "AndroidDeviceList"
        },
        "androidMatrix": {
          "description": "A matrix of Android devices.",
          "$ref": "AndroidMatrix"
        }
      },
      "id": "EnvironmentMatrix"
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a date without a\nmonth.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "CancelTestMatrixResponse": {
      "properties": {
        "testState": {
          "enumDescriptions": [
            "Do not use.  For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed.\n\nCan only be set on an execution.",
            "The execution or matrix has terminated normally.\n\nOn a matrix this means that the matrix level processing completed normally,\nbut individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an\ninfrastructure failure.",
            "The execution was not run because it corresponds to a unsupported\nenvironment.\n\nCan only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with\nthe requested environment.\n\nExample: requested AndroidVersion is lower than APK's minSdkVersion\n\nCan only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with\nthe requested architecture.\n\nExample: requested device does not support running the native code in\nthe supplied APK\n\nCan only be set on an execution.",
            "The user cancelled the execution.\n\nCan only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not\nvalid.\n\nExamples: input file is not of the expected type, is malformed/corrupt, or\nwas flagged as malware"
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "The current rolled-up state of the test matrix.\nIf this state is already final, then the cancelation request will\nhave no effect.",
          "type": "string"
        }
      },
      "id": "CancelTestMatrixResponse",
      "description": "Response containing the current state of the specified test matrix.",
      "type": "object"
    },
    "RoboStartingIntent": {
      "description": "Message for specifying the start activities to crawl",
      "type": "object",
      "properties": {
        "startActivity": {
          "$ref": "StartActivityIntent"
        },
        "launcherActivity": {
          "$ref": "LauncherActivityIntent"
        }
      },
      "id": "RoboStartingIntent"
    },
    "Locale": {
      "description": "A location/region designation for language.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The id for this locale.\nExample: \"en_US\"\n@OutputOnly",
          "type": "string"
        },
        "tags": {
          "description": "Tags for this dimension.\nExamples: \"default\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "region": {
          "description": "A human-friendly string representing the region for this locale.\nExample: \"United States\"\nNot present for every locale.\n@OutputOnly",
          "type": "string"
        },
        "name": {
          "description": "A human-friendly name for this language/locale.\nExample: \"English\"\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "Locale"
    },
    "Account": {
      "description": "Identifies an account and how to log into it",
      "type": "object",
      "properties": {
        "googleAuto": {
          "$ref": "GoogleAuto",
          "description": "An automatic google login account"
        }
      },
      "id": "Account"
    },
    "AndroidDevice": {
      "description": "A single Android device.",
      "type": "object",
      "properties": {
        "androidModelId": {
          "description": "The id of the Android device to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired",
          "type": "string"
        },
        "androidVersionId": {
          "description": "The id of the Android OS version to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired",
          "type": "string"
        },
        "orientation": {
          "description": "How the device is oriented during the test.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired",
          "type": "string"
        },
        "locale": {
          "description": "The locale the test device used for testing.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired",
          "type": "string"
        }
      },
      "id": "AndroidDevice"
    },
    "NetworkConfiguration": {
      "properties": {
        "downRule": {
          "description": "The emulation rule applying to the download traffic",
          "$ref": "TrafficRule"
        },
        "id": {
          "description": "The unique opaque id for this network traffic configuration\n@OutputOnly",
          "type": "string"
        },
        "upRule": {
          "$ref": "TrafficRule",
          "description": "The emulation rule applying to the upload traffic"
        }
      },
      "id": "NetworkConfiguration",
      "type": "object"
    },
    "TrafficRule": {
      "properties": {
        "packetLossRatio": {
          "description": "Packet loss ratio (0.0 - 1.0)",
          "format": "float",
          "type": "number"
        },
        "burst": {
          "description": "Burst size in kbits",
          "format": "float",
          "type": "number"
        },
        "bandwidth": {
          "description": "Bandwidth in kbits/second",
          "format": "float",
          "type": "number"
        },
        "packetDuplicationRatio": {
          "description": "Packet duplication ratio (0.0 - 1.0)",
          "format": "float",
          "type": "number"
        },
        "delay": {
          "description": "Packet delay, must be \u003e= 0",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "TrafficRule",
      "description": "Network emulation parameters",
      "type": "object"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "version": "v1",
  "baseUrl": "https://testing.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "Allows developers to run automated tests for their mobile applications on Google infrastructure.",
  "servicePath": ""
}
