{
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "ViolatingResource": {
      "description": "Information regarding any resource causing the vulnerability such\nas JavaScript sources, image, audio files, etc.",
      "type": "object",
      "properties": {
        "resourceUrl": {
          "type": "string",
          "description": "URL of this violating resource."
        },
        "contentType": {
          "type": "string",
          "description": "The MIME type of this resource."
        }
      },
      "id": "ViolatingResource"
    },
    "ScanRunWarningTrace": {
      "id": "ScanRunWarningTrace",
      "description": "Output only.\nDefines a warning trace message for ScanRun. Warning traces provide customers\nwith useful information that helps make the scanning process more effective.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Indicates the warning code.",
          "type": "string",
          "enumDescriptions": [
            "Default value is never used.",
            "Indicates that a scan discovered an unexpectedly low number of URLs. This\nis sometimes caused by complex navigation features or by using a single\nURL for numerous pages.",
            "Indicates that a scan discovered too many URLs to test, or excessive\nredundant URLs.",
            "Indicates that too many tests have been generated for the scan. Customer\nshould try reducing the number of starting URLs, increasing the QPS rate,\nor narrowing down the scope of the scan using the excluded patterns.",
            "Indicates that a scan is blocked by IAP."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "INSUFFICIENT_CRAWL_RESULTS",
            "TOO_MANY_CRAWL_RESULTS",
            "TOO_MANY_FUZZ_TASKS",
            "BLOCKED_BY_IAP"
          ]
        }
      }
    },
    "ScanRun": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The time at which the ScanRun reached termination state - that the ScanRun\nis either finished or stopped by user.",
          "format": "google-datetime",
          "type": "string"
        },
        "executionState": {
          "type": "string",
          "enumDescriptions": [
            "Represents an invalid state caused by internal server error. This value\nshould never be returned.",
            "The scan is waiting in the queue.",
            "The scan is in progress.",
            "The scan is either finished or stopped by user."
          ],
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "SCANNING",
            "FINISHED"
          ],
          "description": "The execution state of the ScanRun."
        },
        "startTime": {
          "type": "string",
          "description": "The time at which the ScanRun started.",
          "format": "google-datetime"
        },
        "urlsCrawledCount": {
          "description": "The number of URLs crawled during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs crawled up to now.",
          "format": "int64",
          "type": "string"
        },
        "hasVulnerabilities": {
          "description": "Whether the scan run has found any vulnerabilities.",
          "type": "boolean"
        },
        "warningTraces": {
          "description": "A list of warnings, if such are encountered during this scan run.",
          "type": "array",
          "items": {
            "$ref": "ScanRunWarningTrace"
          }
        },
        "urlsTestedCount": {
          "description": "The number of URLs tested during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs tested up to now. The number of\nURLs tested is usually larger than the number URLS crawled because\ntypically a crawled URL is tested with multiple test payloads.",
          "format": "int64",
          "type": "string"
        },
        "resultState": {
          "enum": [
            "RESULT_STATE_UNSPECIFIED",
            "SUCCESS",
            "ERROR",
            "KILLED"
          ],
          "description": "The result state of the ScanRun. This field is only available after the\nexecution state reaches \"FINISHED\".",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is returned when the ScanRun is not yet\nfinished.",
            "The scan finished without errors.",
            "The scan finished with errors.",
            "The scan was terminated by user."
          ]
        },
        "name": {
          "description": "The resource name of the ScanRun. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.\nThe ScanRun IDs are generated by the system.",
          "type": "string"
        },
        "errorTrace": {
          "description": "If result_state is an ERROR, this field provides the primary reason for\nscan's termination and more details, if such are available.",
          "$ref": "ScanRunErrorTrace"
        },
        "progressPercent": {
          "description": "The percentage of total completion ranging from 0 to 100.\nIf the scan is in queue, the value is 0.\nIf the scan is running, the value ranges from 0 to 100.\nIf the scan is finished, the value is 100.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ScanRun",
      "description": "A ScanRun is a output-only resource representing an actual run of the scan.\nNext id: 12"
    },
    "StopScanRunRequest": {
      "description": "Request for the `StopScanRun` method.",
      "type": "object",
      "properties": {},
      "id": "StopScanRunRequest"
    },
    "ScanRunErrorTrace": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Indicates the error reason code.",
          "type": "string",
          "enumDescriptions": [
            "Default value is never used.",
            "Indicates that the scan run failed due to an internal server error.",
            "Indicates a scan configuration error, usually due to outdated ScanConfig\nsettings, such as starting_urls or the DNS configuration.",
            "Indicates an authentication error, usually due to outdated ScanConfig\nauthentication settings.",
            "Indicates a scan operation timeout, usually caused by a very large site.",
            "Indicates that a scan encountered excessive redirects, either to\nauthentication or some other page outside of the scan scope.",
            "Indicates that a scan encountered numerous errors from the web site\npages. When available, most_common_http_error_code field indicates the\nmost common HTTP error code encountered during the scan."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "INTERNAL_ERROR",
            "SCAN_CONFIG_ISSUE",
            "AUTHENTICATION_CONFIG_ISSUE",
            "TIMED_OUT_WHILE_SCANNING",
            "TOO_MANY_REDIRECTS",
            "TOO_MANY_HTTP_ERRORS"
          ]
        },
        "scanConfigError": {
          "$ref": "ScanConfigError",
          "description": "If the scan encounters SCAN_CONFIG_ISSUE error, this field has the error\nmessage encountered during scan configuration validation that is performed\nbefore each scan run."
        },
        "mostCommonHttpErrorCode": {
          "description": "If the scan encounters TOO_MANY_HTTP_ERRORS, this field indicates the most\ncommon HTTP error code, if such is available. For example, if this code is\n404, the scan has encountered too many NOT_FOUND responses.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ScanRunErrorTrace",
      "description": "Output only.\nDefines an error trace message for a ScanRun."
    },
    "FindingTypeStats": {
      "description": "A FindingTypeStats resource represents stats regarding a specific FindingType\nof Findings under a given ScanRun.",
      "type": "object",
      "properties": {
        "findingType": {
          "type": "string",
          "description": "The finding type associated with the stats."
        },
        "findingCount": {
          "description": "The count of findings belonging to this finding type.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FindingTypeStats"
    },
    "Xss": {
      "description": "Information reported for an XSS.",
      "type": "object",
      "properties": {
        "stackTraces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Stack traces leading to the point where the XSS occurred."
        },
        "errorMessage": {
          "description": "An error message generated by a javascript breakage.",
          "type": "string"
        }
      },
      "id": "Xss"
    },
    "Authentication": {
      "description": "Scan authentication configuration.",
      "type": "object",
      "properties": {
        "googleAccount": {
          "$ref": "GoogleAccount",
          "description": "Authentication using a Google account."
        },
        "customAccount": {
          "$ref": "CustomAccount",
          "description": "Authentication using a custom account."
        }
      },
      "id": "Authentication"
    },
    "VulnerableParameters": {
      "description": "Information about vulnerable request parameters.",
      "type": "object",
      "properties": {
        "parameterNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The vulnerable parameter names."
        }
      },
      "id": "VulnerableParameters"
    },
    "GoogleAccount": {
      "id": "GoogleAccount",
      "description": "Describes authentication configuration that uses a Google account.",
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "Required. Input only. The password of the Google account. The credential is stored encrypted\nand not returned in any response nor included in audit logs."
        },
        "username": {
          "type": "string",
          "description": "Required. The user name of the Google account."
        }
      }
    },
    "VulnerableHeaders": {
      "description": "Information about vulnerable or missing HTTP Headers.",
      "type": "object",
      "properties": {
        "headers": {
          "description": "List of vulnerable headers.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        },
        "missingHeaders": {
          "description": "List of missing headers.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        }
      },
      "id": "VulnerableHeaders"
    },
    "ListCrawledUrlsResponse": {
      "id": "ListCrawledUrlsResponse",
      "description": "Response for the `ListCrawledUrls` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list."
        },
        "crawledUrls": {
          "description": "The list of CrawledUrls returned.",
          "type": "array",
          "items": {
            "$ref": "CrawledUrl"
          }
        }
      }
    },
    "ScanConfigError": {
      "description": "Defines a custom error message used by CreateScanConfig and UpdateScanConfig\nAPIs when scan configuration validation fails. It is also reported as part of\na ScanRunErrorTrace message if scan validation fails due to a scan\nconfiguration error.",
      "type": "object",
      "properties": {
        "fieldName": {
          "description": "Indicates the full name of the ScanConfig field that triggers this error,\nfor example \"scan_config.max_qps\". This field is provided for\ntroubleshooting purposes only and its actual value can change in the\nfuture.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "There is no error.",
            "There is no error.",
            "Indicates an internal server error.\nPlease DO NOT USE THIS ERROR CODE unless the root cause is truly unknown.",
            "One of the seed URLs is an App Engine URL but we cannot validate the scan\nsettings due to an App Engine API backend error.",
            "One of the seed URLs is an App Engine URL but we cannot access the\nApp Engine API to validate scan settings.",
            "One of the seed URLs is an App Engine URL but the Default Host of the\nApp Engine is not set.",
            "Google corporate accounts can not be used for scanning.",
            "The account of the scan creator can not be used for scanning.",
            "This scan targets Compute Engine, but we cannot validate scan settings\ndue to a Compute Engine API backend error.",
            "This scan targets Compute Engine, but we cannot access the Compute Engine\nAPI to validate the scan settings.",
            "The Custom Login URL does not belong to the current project.",
            "The Custom Login URL is malformed (can not be parsed).",
            "The Custom Login URL is mapped to a non-routable IP address in DNS.",
            "The Custom Login URL is mapped to an IP address which is not reserved for\nthe current project.",
            "The Custom Login URL has a non-routable IP address.",
            "The Custom Login URL has an IP address which is not reserved for the\ncurrent project.",
            "Another scan with the same name (case-sensitive) already exists.",
            "A field is set to an invalid value.",
            "There was an error trying to authenticate to the scan target.",
            "Finding type value is not specified in the list findings request.",
            "Scan targets Compute Engine, yet current project was not whitelisted for\nGoogle Compute Engine Scanning Alpha access.",
            "User tries to update managed scan",
            "The supplied filter is malformed. For example, it can not be parsed, does\nnot have a filter type in expression, or the same filter type appears\nmore than once.",
            "The supplied resource name is malformed (can not be parsed).",
            "The current project is not in an active state.",
            "A required field is not set.",
            "Project id, scanconfig id, scanrun id, or finding id are not consistent\nwith each other in resource name.",
            "The scan being requested to start is already running.",
            "The scan that was requested to be stopped is not running.",
            "One of the seed URLs does not belong to the current project.",
            "One of the seed URLs is malformed (can not be parsed).",
            "One of the seed URLs is mapped to a non-routable IP address in DNS.",
            "One of the seed URLs is mapped to an IP address which is not reserved\nfor the current project.",
            "One of the seed URLs has on-routable IP address.",
            "One of the seed URLs has an IP address that is not reserved\nfor the current project.",
            "The Cloud Security Scanner service account is not configured under the\nproject.",
            "A project has reached the maximum number of scans.",
            "Resolving the details of the current project fails.",
            "One or more blacklist patterns were in the wrong format.",
            "The supplied filter is not supported.",
            "The supplied finding type is not supported. For example, we do not\nprovide findings of the given finding type.",
            "The URL scheme of one or more of the supplied URLs is not supported."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "INTERNAL_ERROR",
            "APPENGINE_API_BACKEND_ERROR",
            "APPENGINE_API_NOT_ACCESSIBLE",
            "APPENGINE_DEFAULT_HOST_MISSING",
            "CANNOT_USE_GOOGLE_COM_ACCOUNT",
            "CANNOT_USE_OWNER_ACCOUNT",
            "COMPUTE_API_BACKEND_ERROR",
            "COMPUTE_API_NOT_ACCESSIBLE",
            "CUSTOM_LOGIN_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT",
            "CUSTOM_LOGIN_URL_MALFORMED",
            "CUSTOM_LOGIN_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS",
            "CUSTOM_LOGIN_URL_MAPPED_TO_UNRESERVED_ADDRESS",
            "CUSTOM_LOGIN_URL_HAS_NON_ROUTABLE_IP_ADDRESS",
            "CUSTOM_LOGIN_URL_HAS_UNRESERVED_IP_ADDRESS",
            "DUPLICATE_SCAN_NAME",
            "INVALID_FIELD_VALUE",
            "FAILED_TO_AUTHENTICATE_TO_TARGET",
            "FINDING_TYPE_UNSPECIFIED",
            "FORBIDDEN_TO_SCAN_COMPUTE",
            "FORBIDDEN_UPDATE_TO_MANAGED_SCAN",
            "MALFORMED_FILTER",
            "MALFORMED_RESOURCE_NAME",
            "PROJECT_INACTIVE",
            "REQUIRED_FIELD",
            "RESOURCE_NAME_INCONSISTENT",
            "SCAN_ALREADY_RUNNING",
            "SCAN_NOT_RUNNING",
            "SEED_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT",
            "SEED_URL_MALFORMED",
            "SEED_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS",
            "SEED_URL_MAPPED_TO_UNRESERVED_ADDRESS",
            "SEED_URL_HAS_NON_ROUTABLE_IP_ADDRESS",
            "SEED_URL_HAS_UNRESERVED_IP_ADDRESS",
            "SERVICE_ACCOUNT_NOT_CONFIGURED",
            "TOO_MANY_SCANS",
            "UNABLE_TO_RESOLVE_PROJECT_INFO",
            "UNSUPPORTED_BLACKLIST_PATTERN_FORMAT",
            "UNSUPPORTED_FILTER",
            "UNSUPPORTED_FINDING_TYPE",
            "UNSUPPORTED_URL_SCHEME"
          ],
          "description": "Indicates the reason code for a configuration failure."
        }
      },
      "id": "ScanConfigError"
    },
    "ScanConfig": {
      "id": "ScanConfig",
      "description": "A ScanConfig resource contains the configurations to launch a scan.",
      "type": "object",
      "properties": {
        "userAgent": {
          "type": "string",
          "enumDescriptions": [
            "The user agent is unknown. Service will default to CHROME_LINUX.",
            "Chrome on Linux. This is the service default if unspecified.",
            "Chrome on Android.",
            "Safari on IPhone."
          ],
          "enum": [
            "USER_AGENT_UNSPECIFIED",
            "CHROME_LINUX",
            "CHROME_ANDROID",
            "SAFARI_IPHONE"
          ],
          "description": "The user agent used during scanning."
        },
        "schedule": {
          "$ref": "Schedule",
          "description": "The schedule of the ScanConfig."
        },
        "maxQps": {
          "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20\ninclusively. If the field is unspecified or its value is set 0, server will\ndefault to 15. Other values outside of [5, 20] range will be rejected with\nINVALID_ARGUMENT error.",
          "format": "int32",
          "type": "integer"
        },
        "authentication": {
          "$ref": "Authentication",
          "description": "The authentication configuration. If specified, service will use the\nauthentication configuration during scanning."
        },
        "riskLevel": {
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "NORMAL",
            "LOW"
          ],
          "description": "The risk level selected for the scan",
          "type": "string",
          "enumDescriptions": [
            "Use default, which is NORMAL.",
            "Normal scanning (Recommended)",
            "Lower impact scanning"
          ]
        },
        "blacklistPatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The blacklist URL patterns as described in\nhttps://cloud.google.com/security-scanner/docs/excluded-urls"
        },
        "startingUrls": {
          "description": "Required. The starting URLs from which the scanner finds site pages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetPlatforms": {
          "enumDescriptions": [
            "The target platform is unknown. Requests with this enum value will be\nrejected with INVALID_ARGUMENT error.",
            "Google App Engine service.",
            "Google Compute Engine service."
          ],
          "description": "Set of Cloud Platforms targeted by the scan. If empty, APP_ENGINE will be\nused as a default.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TARGET_PLATFORM_UNSPECIFIED",
              "APP_ENGINE",
              "COMPUTE"
            ]
          }
        },
        "name": {
          "description": "The resource name of the ScanConfig. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are\ngenerated by the system.",
          "type": "string"
        },
        "exportToSecurityCommandCenter": {
          "enumDescriptions": [
            "Use default, which is ENABLED.",
            "Export results of this scan to Cloud Security Command Center.",
            "Do not export results of this scan to Cloud Security Command Center."
          ],
          "enum": [
            "EXPORT_TO_SECURITY_COMMAND_CENTER_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Controls export of scan configurations and results to Cloud Security\nCommand Center.",
          "type": "string"
        },
        "latestRun": {
          "$ref": "ScanRun",
          "description": "Latest ScanRun if available."
        },
        "displayName": {
          "description": "Required. The user provided display name of the ScanConfig.",
          "type": "string"
        }
      }
    },
    "CrawledUrl": {
      "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web\nSecurity Scanner Service crawls the web applications, following all links\nwithin the scope of sites, to find the URLs to test against.",
      "type": "object",
      "properties": {
        "body": {
          "description": "The body of the request that was used to visit the URL.",
          "type": "string"
        },
        "url": {
          "description": "The URL that was crawled.",
          "type": "string"
        },
        "httpMethod": {
          "description": "The http method of the request that was used to visit the URL, in\nuppercase.",
          "type": "string"
        }
      },
      "id": "CrawledUrl"
    },
    "Form": {
      "id": "Form",
      "description": "! Information about a vulnerability with an HTML.",
      "type": "object",
      "properties": {
        "actionUri": {
          "description": "! The URI where to send the form when it's submitted.",
          "type": "string"
        },
        "fields": {
          "description": "! The names of form fields related to the vulnerability.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListScanConfigsResponse": {
      "id": "ListScanConfigsResponse",
      "description": "Response for the `ListScanConfigs` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        },
        "scanConfigs": {
          "description": "The list of ScanConfigs returned.",
          "type": "array",
          "items": {
            "$ref": "ScanConfig"
          }
        }
      }
    },
    "Schedule": {
      "id": "Schedule",
      "description": "Scan schedule configuration.",
      "type": "object",
      "properties": {
        "scheduleTime": {
          "description": "A timestamp indicates when the next run will be scheduled. The value is\nrefreshed by the server after each run. If unspecified, it will default\nto current server time, which means the scan will be scheduled to start\nimmediately.",
          "format": "google-datetime",
          "type": "string"
        },
        "intervalDurationDays": {
          "description": "Required. The duration of time between executions in days.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListFindingTypeStatsResponse": {
      "description": "Response for the `ListFindingTypeStats` method.",
      "type": "object",
      "properties": {
        "findingTypeStats": {
          "description": "The list of FindingTypeStats returned.",
          "type": "array",
          "items": {
            "$ref": "FindingTypeStats"
          }
        }
      },
      "id": "ListFindingTypeStatsResponse"
    },
    "ListFindingsResponse": {
      "type": "object",
      "properties": {
        "findings": {
          "description": "The list of Findings returned.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        }
      },
      "id": "ListFindingsResponse",
      "description": "Response for the `ListFindings` method."
    },
    "OutdatedLibrary": {
      "type": "object",
      "properties": {
        "libraryName": {
          "description": "The name of the outdated library.",
          "type": "string"
        },
        "learnMoreUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "URLs to learn more information about the vulnerabilities in the library."
        },
        "version": {
          "type": "string",
          "description": "The version number."
        }
      },
      "id": "OutdatedLibrary",
      "description": "Information reported for an outdated library."
    },
    "CustomAccount": {
      "description": "Describes authentication configuration that uses a custom account.",
      "type": "object",
      "properties": {
        "loginUrl": {
          "type": "string",
          "description": "Required. The login form URL of the website."
        },
        "password": {
          "type": "string",
          "description": "Required. Input only. The password of the custom account. The credential is stored encrypted\nand not returned in any response nor included in audit logs."
        },
        "username": {
          "type": "string",
          "description": "Required. The user name of the custom account."
        }
      },
      "id": "CustomAccount"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`."
    },
    "StartScanRunRequest": {
      "id": "StartScanRunRequest",
      "description": "Request for the `StartScanRun` method.",
      "type": "object",
      "properties": {}
    },
    "Finding": {
      "description": "A Finding resource represents a vulnerability instance identified during a\nScanRun.",
      "type": "object",
      "properties": {
        "finalUrl": {
          "description": "The URL where the browser lands when the vulnerability is detected.",
          "type": "string"
        },
        "reproductionUrl": {
          "description": "The URL containing human-readable payload that user can leverage to\nreproduce the vulnerability.",
          "type": "string"
        },
        "body": {
          "description": "The body of the request that triggered the vulnerability.",
          "type": "string"
        },
        "form": {
          "$ref": "Form",
          "description": "An addon containing information reported for a vulnerability with an HTML\nform, if any."
        },
        "frameUrl": {
          "description": "If the vulnerability was originated from nested IFrame, the immediate\nparent IFrame is reported.",
          "type": "string"
        },
        "fuzzedUrl": {
          "type": "string",
          "description": "The URL produced by the server-side fuzzer and used in the request that\ntriggered the vulnerability."
        },
        "description": {
          "description": "The description of the vulnerability.",
          "type": "string"
        },
        "trackingId": {
          "description": "The tracking ID uniquely identifies a vulnerability instance across\nmultiple ScanRuns.",
          "type": "string"
        },
        "httpMethod": {
          "type": "string",
          "description": "The http method of the request that triggered the vulnerability, in\nuppercase."
        },
        "vulnerableParameters": {
          "$ref": "VulnerableParameters",
          "description": "An addon containing information about request parameters which were found\nto be vulnerable."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Finding. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'.\nThe finding IDs are generated by the system."
        },
        "vulnerableHeaders": {
          "$ref": "VulnerableHeaders",
          "description": "An addon containing information about vulnerable or missing HTTP headers."
        },
        "outdatedLibrary": {
          "description": "An addon containing information about outdated libraries.",
          "$ref": "OutdatedLibrary"
        },
        "findingType": {
          "description": "The type of the Finding.\nDetailed and up-to-date information on findings can be found here:\nhttps://cloud.google.com/security-scanner/docs/scan-result-details",
          "type": "string"
        },
        "violatingResource": {
          "$ref": "ViolatingResource",
          "description": "An addon containing detailed information regarding any resource causing the\nvulnerability such as JavaScript sources, image, audio files, etc."
        },
        "xss": {
          "$ref": "Xss",
          "description": "An addon containing information reported for an XSS, if any."
        }
      },
      "id": "Finding"
    },
    "Header": {
      "description": "Describes a HTTP Header.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "value": {
          "description": "Header value.",
          "type": "string"
        }
      },
      "id": "Header"
    },
    "ListScanRunsResponse": {
      "description": "Response for the `ListScanRuns` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list."
        },
        "scanRuns": {
          "description": "The list of ScanRuns returned.",
          "type": "array",
          "items": {
            "$ref": "ScanRun"
          }
        }
      },
      "id": "ListScanRunsResponse"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "WebSecurityScanner",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "rootUrl": "https://websecurityscanner.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "websecurityscanner",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "title": "Web Security Scanner API",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "create": {
              "response": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the scan is created, which should be a\nproject resource name in the format 'projects/{projectId}'.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs",
              "path": "v1beta/{+parent}/scanConfigs",
              "id": "websecurityscanner.projects.scanConfigs.create",
              "request": {
                "$ref": "ScanConfig"
              },
              "description": "Creates a new ScanConfig."
            },
            "get": {
              "response": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the ScanConfig to be returned. The name follows the\nformat of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "path": "v1beta/{+name}",
              "id": "websecurityscanner.projects.scanConfigs.get",
              "description": "Gets a ScanConfig."
            },
            "patch": {
              "response": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition,\nsee\nhttps://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "description": "The resource name of the ScanConfig. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are\ngenerated by the system."
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "path": "v1beta/{+name}",
              "id": "websecurityscanner.projects.scanConfigs.patch",
              "request": {
                "$ref": "ScanConfig"
              },
              "description": "Updates a ScanConfig. This method support partial update of a ScanConfig."
            },
            "start": {
              "request": {
                "$ref": "StartScanRunRequest"
              },
              "description": "Start a ScanRun according to the given ScanConfig.",
              "response": {
                "$ref": "ScanRun"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the ScanConfig to be used. The name follows the\nformat of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
              "path": "v1beta/{+name}:start",
              "id": "websecurityscanner.projects.scanConfigs.start"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the ScanConfig to be deleted. The name follows the\nformat of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "path": "v1beta/{+name}",
              "id": "websecurityscanner.projects.scanConfigs.delete",
              "description": "Deletes an existing ScanConfig and its child resources."
            },
            "list": {
              "description": "Lists ScanConfigs under a given project.",
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name, which should be a project resource name in the\nformat 'projects/{projectId}'."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results to be returned. This should be a\n`next_page_token` value returned from a previous List request.\nIf unspecified, the first page of results is returned."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of ScanConfigs to return, can be limited by server.\nIf not specified or not positive, the implementation will select a\nreasonable value.",
                  "format": "int32"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs",
              "path": "v1beta/{+parent}/scanConfigs",
              "id": "websecurityscanner.projects.scanConfigs.list"
            }
          },
          "resources": {
            "scanRuns": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the ScanRun to be returned. The name follows the\nformat of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                  "path": "v1beta/{+name}",
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                  "description": "Gets a ScanRun."
                },
                "list": {
                  "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun\nstop time.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListScanRunsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results to be returned. This should be a\n`next_page_token` value returned from a previous List request.\nIf unspecified, the first page of results is returned.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of ScanRuns to return, can be limited by server.\nIf not specified or not positive, the implementation will select a\nreasonable value.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, which should be a scan resource name in the\nformat 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                  "path": "v1beta/{+parent}/scanRuns"
                },
                "stop": {
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the ScanRun to be stopped. The name follows the\nformat of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                  "path": "v1beta/{+name}:stop",
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                  "description": "Stops a ScanRun. The stopped ScanRun is returned.",
                  "request": {
                    "$ref": "StopScanRunRequest"
                  }
                }
              },
              "resources": {
                "findingTypeStats": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListFindingTypeStatsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the\nformat\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats",
                      "path": "v1beta/{+parent}/findingTypeStats",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                      "description": "List all FindingTypeStats under a given ScanRun."
                    }
                  }
                },
                "findings": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Finding"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+/findings/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the Finding to be returned. The name follows the\nformat of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                      "path": "v1beta/{+name}",
                      "description": "Gets a Finding."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListFindingsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the\nformat\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The filter expression. The expression must be in the format: \u003cfield\u003e\n\u003coperator\u003e \u003cvalue\u003e.\nSupported field: 'finding_type'.\nSupported operator: '='."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results to be returned. This should be a\n`next_page_token` value returned from a previous List request.\nIf unspecified, the first page of results is returned."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of Findings to return, can be limited by server.\nIf not specified or not positive, the implementation will select a\nreasonable value.",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                      "path": "v1beta/{+parent}/findings",
                      "description": "List Findings under a given ScanRun."
                    }
                  }
                },
                "crawledUrls": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a\n`next_page_token` value returned from a previous List request.\nIf unspecified, the first page of results is returned.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of CrawledUrls to return, can be limited by server.\nIf not specified or not positive, the implementation will select a\nreasonable value.",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the\nformat\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                      "path": "v1beta/{+parent}/crawledUrls",
                      "description": "List CrawledUrls under a given ScanRun.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListCrawledUrlsResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "version": "v1beta",
  "baseUrl": "https://websecurityscanner.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
  "servicePath": "",
  "basePath": "",
  "revision": "20191027",
  "documentationLink": "https://cloud.google.com/security-scanner/",
  "id": "websecurityscanner:v1beta"
}
