{% language objc %}{% copyright_block %}
{% call_template _time_stamp %}

{% if options.useSingleSourceFile %}
{% call_template _monolithic_h_impl %}
{% else %}
{% halt %} {# do not emit this file at all if using multiple source files #}
{% endif %}
