<tr>
<td><code>{{ param.wireName }}</code></td>
<td><code class="apitype">{{ param.type }}</code></td>
<td>{% checksummed_div %}{{ param.wireName }}-description{% divbody %}{{ param.description }}{% endchecksummed_div %}</td>
</tr>