{% language java %}{% copyright_block %}

/**
 * Support classes to facilitate interaction with {{ api.version }} of the {{ api.name }} service.
 *
 * <p>
 * {{ api.description }}
 * </p>
 *
 * <p>
 * To get started in your code, call {@code GWT.create({{ api.className }}.class)}
 * </p>
 *
 * <p>
 * For more information about this service, see the
 * <a href="{{ api.documentationLink }}" target="_blank">API Documentation</a>
 * </p>
 *
 * @author Google, Inc.
 */
package {{ api.module.name }};
