{% parameter_list %}
  {% for p in method.requiredParameters %}
    {% parameter %}{{ p.typeHintOld }} ${{ p.codeName }}{% end_parameter %}
  {% endfor %}
  {% if method.requestType %}
    {% parameter %}
      {{ api.owner }}_{{ method.requestType.className }} $postBody
    {% end_parameter %}
  {% endif %}
  {% parameter %}$optParams = array(){% end_parameter %}
{% end_parameter_list %}
