{% language java %}{% collapsenewlines %}{% call_template _file_header %}
{% if not api.authscopes %}{% halt %}{% endif %}
package {{ api.module.name }};

/**
 * Available OAuth 2.0 scopes for use with the {{ api.title }}.
 *
 * @since 1.4
 */
public class {{ api.className }}Scopes {
{% for authscope in api.authscopes %}
  /** {{ authscope.description }}. */
  public static final String {{ authscope.name }} = "{{ authscope.value }}";
{% endfor %}

  private {{ api.className }}Scopes() {
  }
}{% endcollapsenewlines %}
