/**
 * The "{{ resource.wireName }}" collection of methods.
 * Typical usage is:
 *  <code>
 *   ${{ api.name }}Service = new {{ api.owner }}_{{ api.className }}Service(...);
 *   ${{ resource.codeName }} = ${{ api.name }}Service->{{ resource.codeName }};
 *  </code>
 */
class {{ api.owner }}_{{ resource.className }}ServiceResource extends Google_ServiceResource {{% indent %}
{% if resource.hasParams %}{% emit_method_def resource %}{% endif %}
{% for method in resource.methods %}
{% emit_method_def method %}{% endfor %}
{% endindent %}}
{% for subr in resource.resources %}
{% emit_resource_def subr %}{% endfor %}

