<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
    <packageSources>
        <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
        <!-- In case of a new release, when the new core packages (e.g. Google.Apis.1.5.0-beta.nupkg package) don't
        exist yet on the NuGet main repository, we use this local folder.
        In that case, this folder should contain the core library packages (Google.Apis and Google.Apis.Authetnication)
        as part of following the steps in the release process. 
        By doing so, we would be able to test all the generated NuGet packages locally before pushing to the main NuGet
        repository-->
        <add key="TestSource" value="C:\LocalNuGetFeed" /> 
    </packageSources>
</configuration>