{% language objc %}
//
//   {{ model.className }}
//

@implementation {{ model.className }}
@dynamic {% for property in model.properties %}{% if not forloop.first %}, {% endif %}{{ property.codeName }}{% endfor %};
{% if model.propertyToJSONKeyMap %}
+ (NSDictionary *)propertyToJSONKeyMap {
  NSDictionary *map =
    [NSDictionary dictionaryWithObjectsAndKeys:
{% for property in model.properties %}{% if property.wireName != property.codeName %}      {% literal property.wireName %}, {% literal property.codeName %},
{% endif %}{% endfor %}      nil];
  return map;
}
{% endif %}{% if model.arrayPropertyToClassMap %}
+ (NSDictionary *)arrayPropertyToClassMap {
  NSDictionary *map =
    [NSDictionary dictionaryWithObjectsAndKeys:
{% for property in model.properties %}{% if property.type == 'array' %}      [{{ property.elementCodeType }} class], {% literal property.wireName %},
{% endif %}{% endfor %}      nil];
  return map;
}
{% endif %}
@end
