{% if variable.data_type.json_type == 'array' %}
  if (!{{ variable.codeName }}_.empty()) {
    target->append(sep);
    {{ api.client_namespace }}::AppendIteratorToUrl(
      {{ variable.codeName }}_.begin(), {{ variable.codeName }}_.end(),
      "{{ variable.codeName }}", target);
    sep = "&";
  }
{% else %}
  StrAppend(target, sep, "{{ variable.codeName }}=",
            {{ api.client_namespace }}::CppValueToEscapedUrlValue(
              {{ variable.codeName }}_));
  sep = "&";
{% endif %}
