{% filter noblanklines %}
{% for p in parameters %}
{% if p.isPrimitive or p.data_type.json_type == 'string' %}
  {{ p.codeType }} {{ p.codeName }}_;
{% else %}{% if p.required %}
  {{p.codeType }} {{p.codeName }}_;
{% else %}
  {{ api.client_namespace }}::JsonCppCapsule< {{ p.codeType }} > {{ p.codeName }}_;
{% endif %}{% endif %}{% endfor %}

{% for p in parameters %}
{% if not p.required %}
  bool _have_{{ p.codeName }}_ : 1;
{% endif %}
{% endfor %}
{% endfilter %}
