{% for property in properties %}
  {% if property.data_type.required_for_methods %}
    {% for required_method in property.data_type.required_for_methods %}
      {% ifequal method.id required_method %}
    checkRequiredParameter(content, "content");
    checkRequiredParameter(content{% param_getter_chain property %}, "{{ method.requestType.class_name }}{% param_getter_chain property %}");
        {% if property.data_type.properties %}
          {% call_template _required_param_def properties=property.data_type.properties %}
        {% endif %}
      {% endifequal %}
    {% endfor %}
  {% endif %}
{% endfor %}

