array(
    'methods' => array(
      {% indent 2 %}{% for method in methods %}"{{method.wireName}}" => array(
        'path' => "{{ method.path }}",
        'httpMethod' => "{{ method.httpMethod}}",
        'parameters' => array({% indent %}{% for p in method.parameters %}
          "{% if p.codeName %}{{p.codeName}}{% else %}{{p.wireName}}{% endif %}" => array(
            "location" => "{{p.location}}",
            "type" => "{{p.type}}",
            {% if p.repeated %}'repeated' => true,{% endif %}
            {% if p.required %}'required' => true,{% endif %}
        ),
        {% endfor %}),{% endindent %}
      ),{% endfor %}
    )
){% endindent %}
