
class {{ api.owner }}_Service_{{ api.className }}_{{ model.className }} {% if model.dataType == "array" %}extends Google_Collection{% else %}extends Google_Model{% endif %}
{
{% filter noblanklines %}
{% for property in model.properties %}
  {% if property.typeHint %}
  protected ${{ property.codeName }}Type = '{{ property.typeHint|cut:" " }}';
  protected ${{ property.codeName }}DataType = '{{ property.dataType }}';
  {% else %}
  public ${{ property.codeName }};
  {% endif %}
{% endfor %}
{% endfilter %}
{% for property in model.properties %}
{% filter noblanklines %}
  {% if property.type == "array" or property.dataType == "map" or not property.typeHint %}
  public function set{{ property.codeName|capfirst }}(${{ property.codeName }})
  {% else %}
  public function set{{ property.codeName|capfirst }}({{ property.typeHint }} ${{ property.codeName }})
  {% endif %}
  {
    $this->{{ property.codeName }} = ${{ property.codeName }};
  }
{% endfilter %}

  public function get{{ property.codeName|capfirst }}()
  {
    return $this->{{ property.codeName }};
  }
  {% endfor %}
}
