{% language java %}{% collapsenewlines %}{% call_template _file_header %}

package {{ model.module.name }};

/**{% filter block_comment %}
 * {% if model.description %}{{ model.description }}{% else %}Model definition for {{ model.className }}.{% endif %}
 *
 * <p>
 * This is the Java data model class that specifies how to parse/serialize into the JSON that is
 * transmitted over HTTP when working with the {{ api.title }}. For a detailed explanation see:
 * {% endfilter %}
 * <a href="http://code.google.com/p/google-api-java-client/wiki/Json">http://code.google.com/p/google-api-java-client/wiki/Json</a>
 * </p>
 *
 * @author Google, Inc.
 */
@SuppressWarnings("javadoc")
public final class {{ model.className }} extends com.google.api.client.json.GenericJson {

{% call_template _model_content_def current_model model %}

{% for child in model.children %}{% indent %}{% call_template _model_def model child %}{% endindent %}
{% endfor %}}{% endcollapsenewlines %}
