body
{
}

.col
{
	float: left;
}

.apiTree .selectedNode a
{
	color: black;
	font-weight: bold;
}

.apiTree a
{
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: bold;
}

.apiTree div a
{
	font-weight: normal;
}

.apiTree div div
{
	font-style: italic;
}

h1
{
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: medium;
}