@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Google.Apis.Auth.AspNetCore3 sample - Logout</title>
</head>
<body>
    <h2>Google.Apis.Auth.AspNetCore3 sample - Logout</h2>
    <p>You successfully logged out.</p>
    <p><a asp-controller="home" asp-action="index">Index</a></p>
</body>
</html>
