@using System.Security.Claims;

@model IReadOnlyList<string>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Google.Apis.Auth.AspNetCore3 sample - Storage bucket list</title>
</head>
<body>
    <h2>Google.Apis.Auth.AspNetCore3 sample - Storage bucket list</h2>
    <p>You are logged in as @User.FindFirst(ClaimTypes.GivenName)?.Value.</p>
    @if (@Model.Count > 0)
    {
        <p>These are the Storage buckets you have access to on this app's GCP project.</p>
        <ul>
            @foreach (var bucketName in @Model)
            {
                <li>@bucketName</li>
            }
        </ul>
    }
    else
    {
        <p>It seems you don't have access to any Storage bucket on this app's GCP project.</p>
    }
    <p><a asp-controller="home" asp-action="index">Index</a></p>
</body>
</html>
