<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- chrsmith -->
    <add key="Private Support Libraries"
        value="C:\src\github.com\chrsmith\google-api-dotnet-client\NuPkgs\Support">
    </add>
    <add key="Private Generated Libraries"
        value="C:\src\github.com\chrsmith\google-api-dotnet-client\NuPkgs\Generated">
    </add>
    <!--
      We do NOT want to reach out to NuGet.org and get the official packages.
      We only want to use those that are locally built.

    <add key="Official NuGet.org"
         value="https://api.nuget.org/v3/index.json">
    </add>
    -->
  </packageSources>
</configuration>