library {{ api.name }}_{{ api.version }}_api_client;

import "dart:core" as core;
import "dart:async" as async;
import "dart:convert";

part "src/common/client.dart";
part "src/common/schemas.dart";
part "src/common/resources.dart";

