# This is a Dart pubspec file. It exists here just to show you a file which
# is not part of the rest of the source, which you want to appear at the top
# level of output.
name: {{ api.name }}_{{ api.version }}
description: >{% indent %}
{{ api.description }}{% endindent %}
version: {{ features.releaseVersion }}.{{ api.revision }}
author: Google Inc.
