private readonly {{ resource.className }}Resource {{ resource.codeName }};

/// <summary>Gets the {{ resource.className }} resource.</summary>
public virtual {{ resource.className }}Resource {{ resource.className }}
{
    get { return {{ resource.codeName }}; }
}

