
{% filter noblanklines %}
class {{ api.owner }}_{{ model.className }} extends Google_Model {
{% for property in model.properties %}
  {% if property.typeHint %}
  protected $__{{ property.codeName }}Type = '{{ property.typeHint|cut:" " }}';
  protected $__{{ property.codeName }}DataType = '{{ property.dataType }}';
  {% endif %}
  public ${{ property.codeName }};
{% endfor %}
{% for property in model.properties %}
  {% ifequal property.type "array" %}
  public function set{{ property.codeName|capfirst }}(/* array({{ api.owner }}_{{ property.codeType }}) */ ${{ property.codeName }}) {
    $this->assertIsArray(${{ property.codeName }}, '{{ api.owner }}_{{ property.codeType }}', __METHOD__);
    $this->{{ property.codeName }} = ${{ property.codeName }};
  }
  {% else %}
  public function set{{ property.codeName|capfirst }}({{ property.typeHint }}${{ property.codeName }}) {
    $this->{{ property.codeName }} = ${{ property.codeName }};
  }
  {% endifequal %}

  public function get{{ property.codeName|capfirst }}() {
    return $this->{{ property.codeName }};
  }
  {% endfor %}
}
{% endfilter %}
