<?xml version="1.0" encoding="UTF-8" ?>
<phpdoc>
  <title>
  <![CDATA[{{ api.description }} {{ api.version }} (rev. {{ api.revision }})]]>
  </title>
  <files>
    <directory>.</directory>
  </files>
</phpdoc>
