
PHP library for {{ api.title }} {{ api.version }}

Created on {{ tool.runDate }} at {{ tool.runTime }}

Requirements:
{% for preq in features.requires %}
{{ preq.name }}, version {{ preq.version }}
URL: {{ preq.downloadLink }}
{% endfor %}
