name: Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    # We build with .NET 6 SDK
    - name: Setup .NET 6
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x

    # We use the .NET Core 3.1 SDK runtime for additional testing
    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 3.1.x

    - name: Build
      run:
        ./BuildSupport.sh

    - name: Test
      run: |
        dotnet test Src/Support/Google.Apis.Tests/Google.Apis.Tests.csproj --no-build --framework netcoreapp3.1 -c Release
        dotnet test Src/Support/Google.Apis.Tests/Google.Apis.Tests.csproj --no-build --framework net6.0 -c Release
        dotnet test Src/Support/Google.Apis.Auth.Tests/Google.Apis.Auth.Tests.csproj --no-build --framework netcoreapp3.1 -c Release
        dotnet test Src/Support/Google.Apis.Auth.Tests/Google.Apis.Auth.Tests.csproj --no-build --framework net6.0 -c Release

